Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

fix: set correct sectorCuller for gltf
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
Owners: @cognitedata/frontend-app-server

feat(discover): update duplicate matching (#1106)
  apps/discover/src/modules/documentSearch/utils/__tests__/detectDuplicates.test.ts
  apps/discover/src/modules/documentSearch/utils/detectDuplicates.ts
Owners: @cognitedata/discover

Add serialization/deserialization for areas in TreeIndexNodeCollection
  viewer/core/src/datamodels/cad/styling/NodeCollectionDeserializer.ts
  viewer/packages/cad-styling/src/TreeIndexNodeCollection.ts
Owners: @cognitedata/frontend-app-server

Update Migration example
  examples/src/pages/Migration.tsx
Owners: @cognitedata/frontend-app-server

Make sure "discard" sectors are prioritized such that we unload data before loading new data.
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByScreenSizeSectorCuller.ts
Owners: @cognitedata/frontend-app-server

Correct import statement for CadNode etc.
  viewer/core/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.test.ts
Owners: @cognitedata/frontend-app-server

Add missing paranthesis
  examples/src/pages/Migration.tsx
Owners: @cognitedata/frontend-app-server

Lint fix
  viewer/core/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
Owners: @cognitedata/frontend-app-server

feat(discover): Wells SDK V3 integration [Casings] (#1110)
  apps/discover/src/modules/wellSearch/hooks/useSelectedWellboresCasingsQuery.ts
  apps/discover/src/modules/wellSearch/service/sequence/casing.ts
  apps/discover/src/modules/wellSearch/service/sequence/constants.ts
  apps/discover/src/modules/wellSearch/service/sequence/trajectory.ts
  apps/discover/src/tenants/discover-e2e-azure-dev/config.ts
Owners: @cognitedata/discover

Fix a couple of issues crashing doc build
  viewer/core/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.test.ts
  viewer/packages/cad-styling/src/prioritized/mergeboxes/BoxClusterer.ts
Owners: @cognitedata/frontend-app-server

improvement: add metrics for when tools are created and node styling is applied (#1669)
  viewer/core/package.json
  viewer/core/src/datamodels/cad/CadManager.ts
  viewer/core/src/public/RevealManager.ts
  viewer/core/src/public/createRevealManager.ts
  viewer/core/src/public/migration/Cognite3DModel.ts
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/packages/cad-geometry-loaders/package.json
  viewer/packages/cad-geometry-loaders/src/sector/CachedRepository.ts
  viewer/packages/metrics/index.ts
  viewer/packages/metrics/package.json
  viewer/packages/metrics/src/metrics.ts
  viewer/packages/tools/package.json
  viewer/packages/tools/src/AxisView/AxisViewTool.ts
  viewer/packages/tools/src/ExplodedViewTool.ts
  viewer/packages/tools/src/Geomap/GeomapTool.ts
  viewer/packages/tools/src/HtmlOverlayTool.ts
  viewer/packages/utilities/index.ts
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

fix(discover): prevent sending unwanted requests for fetching wellbores (#1102)
  apps/discover/src/modules/wellSearch/sdk/utils.ts
  apps/discover/src/modules/wellSearch/utils/wells.ts
  apps/discover/src/pages/authorized/search/well/content/result/WellBoreResultTable.tsx
  apps/discover/src/pages/authorized/search/well/content/result/WellResultTable.tsx
Owners: @cognitedata/discover

Revert changes to Migration.tsx
  examples/src/pages/Migration.tsx
Owners: @cognitedata/frontend-app-server

Adjust 3d functionality capability requirements
  apps/3d-management/src/pages/NoAccessPage/NoAccessPage.tsx
Owners: @cognitedata/frontend-app-server

Extend tooltip about permissions with details about 3d capabilities needed
  apps/3d-management/src/components/PermissioningHintWrapper/PermissioningHintWrapper.tsx
Owners: @cognitedata/frontend-app-server

doc: add note about DataSource being experimental (#1667)
  documentation/docs/extending/datasource.mdx
  viewer/packages/data-source/src/DataSource.ts
  viewer/packages/modeldata-api/src/ModelMetadataProvider.ts
  viewer/packages/modeldata-api/src/types.ts
  viewer/packages/nodes-api/src/NodesApiClient.ts
Owners: @cognitedata/frontend-app-server

Fix lint issue
  apps/3d-management/src/pages/NoAccessPage/NoAccessPage.tsx
Owners: @cognitedata/frontend-app-server

Add newline, for linter
  apps/3d-management/src/pages/NoAccessPage/NoAccessPage.tsx
Owners: @cognitedata/frontend-app-server

fix(ornate): zoom in and out button interaction (#1112)
  packages/ornate/src/cognite-ornate.ts
Owners: @cognitedata/frontend-app-server

bump: update gltf-transform package to 1.0.0
  viewer/package.json
Owners: @cognitedata/frontend-app-server

SBetter version of the class
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/public/migration/InputManager.ts
  viewer/core/src/utilities/ViewStateHelper.ts
  viewer/packages/camera-manager/src/CameraManager.ts
  viewer/packages/camera-manager/src/types.ts
Owners: @cognitedata/frontend-app-server

feat(simconfig): handle backend integration (#1049)
  apps/simconfig/BUILD.bazel
  apps/simconfig/package.json
  apps/simconfig/src/components/app/AppRoot.tsx
  apps/simconfig/src/components/forms/ModelForm/ModelForm.tsx
  apps/simconfig/src/components/forms/ModelForm/utils.ts
  apps/simconfig/src/providers/ApiProvider.tsx
  apps/simconfig/src/utils/sidecar.ts
  package.json
  packages/sidecar/src/getDefaultSidecar.spec.ts
  packages/sidecar/src/getDefaultSidecar.ts
  packages/sidecar/src/types.ts
  yarn.lock
Owners: @cognitedata/simulator-integration, @cognitedata/frontend-app-server

chore(discover): Upgrade new Wells SDK to v3.1.11-beta.19 (#1113)
  apps/discover/src/modules/wellSearch/sdk/index.ts
  apps/discover/src/modules/wellSearch/sdk/utils.ts
  apps/discover/src/modules/wellSearch/utils/sidebarFilters.ts
  package.json
  yarn.lock
Owners: @cognitedata/discover, @cognitedata/frontend-app-server

Changed timeline unit test
  viewer/packages/tools/src/Timeline/TimelineTool.test.ts
Owners: @cognitedata/frontend-app-server

[DX-61] Add Azure OIDC Auth for UI (#72)
  apps/platypus/src/app/App.tsx
  apps/platypus/src/app/utils/sidecar.ts
  package.json
  yarn.lock
Owners: @cognitedata/frontend-app-server

feat(discover): enable zooming for measurements (#1115)
  apps/discover/src/pages/authorized/search/well/inspect/modules/common/ChartV2/elements.ts
Owners: @cognitedata/discover

Added Timeline Tool unit test for Play
  viewer/packages/tools/package.json
  viewer/packages/tools/src/Timeline/TimelineTool.test.ts
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

Add draft of authentication env
  examples/.env
  examples/src/pages/Migration.tsx
Owners: @cognitedata/frontend-app-server

Some additions
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/src/CameraManager.ts
Owners: @cognitedata/frontend-app-server

Added Stop Unit test for Timeline
  viewer/packages/tools/src/Timeline/TimelineTool.test.ts
Owners: @cognitedata/frontend-app-server

feat(discover): use new wells schema (#1116)
  apps/discover/src/__test-utils/fixtures/favorite.ts
  apps/discover/src/components/add-to-favorite-set-menu/FavoriteBase.tsx
  apps/discover/src/components/add-to-favorite-set-menu/__test__/useFavorite.test.ts
  apps/discover/src/components/add-to-favorite-set-menu/useFavorite.ts
  apps/discover/src/modules/favorite/__tests__/reducer.test.ts
  apps/discover/src/modules/favorite/types.ts
  apps/discover/src/pages/authorized/favorites/modals/createFavoriteSetModal/CreateFavoriteSetModal.tsx
  apps/discover/src/pages/authorized/favorites/tabs/favorites/detailsPage/FavoriteDetailsContent.tsx
  apps/discover/src/pages/authorized/favorites/tabs/favorites/detailsPage/content/wells/FavoriteWellTable.tsx
  apps/discover/src/pages/authorized/favorites/tabs/favorites/detailsPage/content/wells/FavoriteWellsBulkActions.tsx
  apps/discover/src/pages/authorized/favorites/tabs/favorites/detailsPage/content/wells/__tests__/FavoriteWellTable.test.tsx
  apps/discover/src/pages/authorized/favorites/tabs/favorites/detailsPage/content/wells/__tests__/FavoriteWellsBulkActions.test.tsx
  apps/discover/src/pages/authorized/favorites/tabs/favorites/gridView/__tests__/Card.test.tsx
  apps/discover/src/pages/authorized/favorites/tabs/favorites/listView/__tests__/ListView.test.tsx
  apps/discover/testcafe/tests/favorites/details.testcafe.ts
  package.json
  yarn.lock
Owners: @cognitedata/discover, @cognitedata/frontend-app-server

feat: assign names to render targets that helps debugging in SpectorJS
  viewer/packages/rendering/src/rendering/EffectRenderManager.ts
Owners: @cognitedata/frontend-app-server

Delint
  viewer/packages/rendering/src/rendering/EffectRenderManager.ts
Owners: @cognitedata/frontend-app-server

Implement environment credentials for all examples
  examples/src/pages/Clipping.tsx
  examples/src/pages/Geomap.tsx
  examples/src/pages/Migration.tsx
  examples/src/pages/SSAO.tsx
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/Simple.tsx
  examples/src/pages/SimplePointcloud.tsx
  examples/src/pages/TwoModels.tsx
  examples/src/pages/WalkablePath.tsx
  examples/src/routes.tsx
  examples/src/utils/example-helpers.ts
Owners: @cognitedata/frontend-app-server

fix: revive tests
  viewer/packages/cad-geometry-loaders/src/sector/culling/TakenSectorTree.test.ts
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserV8.test.ts
  viewer/packages/sector-loader/app/index.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
  viewer/packages/utilities/src/revealEnv.ts
Owners: @cognitedata/frontend-app-server

Await execution of authenticateSDKWithEnvironment
  examples/src/pages/Clipping.tsx
  examples/src/pages/Geomap.tsx
  examples/src/pages/Migration.tsx
  examples/src/pages/SSAO.tsx
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/Simple.tsx
  examples/src/pages/SimplePointcloud.tsx
  examples/src/pages/TwoModels.tsx
  examples/src/pages/WalkablePath.tsx
Owners: @cognitedata/frontend-app-server

fix: missing package dependencies
  viewer/package.json
  viewer/packages/sector-loader/package.json
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

Fix unused variable
  examples/src/pages/Geomap.tsx
Owners: @cognitedata/frontend-app-server

fix: fix routing problem (#13)
  package.json
  src/App.tsx
Owners: @cognitedata/frontend-app-server

Remove obsolete BoxClusterer implementation
  viewer/packages/cad-styling/src/prioritized/mergeboxes/MergingRTree.test.ts
  viewer/packages/cad-styling/src/prioritized/mergeboxes/MergingRTree.ts
  viewer/packages/cad-styling/src/prioritized/mergeboxes/RTreeMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container
