Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

Move low-hanging fruit
  viewer/package.json
  viewer/packages/cad-geometry-loaders/src/sector/sectorUtilities.ts
  viewer/packages/cad-parsers/index.ts
  viewer/packages/cad-parsers/src/cad/filterInstanceMesh.ts
  viewer/packages/cad-parsers/src/cad/filterPrimitives.test.ts
  viewer/packages/cad-parsers/src/cad/filterPrimitives.ts
  viewer/packages/cad-parsers/src/cad/primitiveGeometries.ts
  viewer/packages/cad-parsers/src/utilities/computeBoundingBoxFromAttributes.test.ts
  viewer/packages/cad-parsers/src/utilities/computeBoundingBoxFromAttributes.ts
  viewer/packages/cad-parsers/src/utilities/float32BufferToMatrix.ts
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/src/rendering/createSimpleGeometryMesh.ts
  viewer/packages/rendering/src/rendering/primitives.ts
Owners: @cognitedata/frontend-app-server

Move triangleMeshes.ts
  viewer/packages/cad-geometry-loaders/src/sector/sectorUtilities.ts
  viewer/packages/cad-parsers/index.ts
  viewer/packages/cad-parsers/src/cad/filterInstanceMesh.ts
  viewer/packages/cad-parsers/src/cad/triangleMeshes.ts
  viewer/packages/rendering/index.ts
Owners: @cognitedata/frontend-app-server

Fix type error which should've been caught before but anyway
  viewer/packages/cad-styling/src/mergeboxes/RTreeMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

chore(ornate): change favicon [CM-988] (#1035)
  apps/cognite-ornate/public/favicon.ico
  apps/cognite-ornate/public/index.html
  apps/cognite-ornate/public/logo192.png
  apps/cognite-ornate/public/logo512.png
  apps/cognite-ornate/public/manifest.json
Owners: @cognitedata/griff-team

fix(ornate): correct zoom to position & marker position (#1033)
  apps/cognite-ornate/src/library/cognite-ornate.ts
Owners: @cognitedata/griff-team

Switch to ClusteredAreaCollection for node collections
  viewer/core/src/datamodels/cad/styling/PopulateIndexSetFromPagedResponseHelper.ts
  viewer/packages/cad-styling/index.ts
Owners: @cognitedata/frontend-app-server

Let getBoundingBoxByNodeId take more ids at once
  viewer/core/src/public/migration/Cognite3DModel.ts
  viewer/packages/nodes-api/src/NodesApiClient.ts
  viewer/packages/nodes-api/src/NodesCdfClient.ts
  viewer/packages/nodes-api/src/NodesLocalClient.ts
Owners: @cognitedata/frontend-app-server

Lint fix
  viewer/core/src/public/migration/Cognite3DModel.ts
  viewer/packages/cad-styling/index.ts
  viewer/packages/nodes-api/src/NodesCdfClient.ts
Owners: @cognitedata/frontend-app-server

feat(pid): init (#958)
  apps/react-demo-app/BUILD.bazel
  apps/react-demo-app/src/App.tsx
  apps/react-demo-app/src/pages/Menubar.tsx
  apps/react-demo-app/src/pages/PID/PID.tsx
  apps/react-demo-app/src/pages/PID/index.ts
  package.json
  packages/pid-tools/.eslintrc.js
  packages/pid-tools/.gitignore
  packages/pid-tools/BUILD.bazel
  packages/pid-tools/README.md
  packages/pid-tools/jest.config.js
  packages/pid-tools/package.json
  packages/pid-tools/rollup.config.js
  packages/pid-tools/src/index.spec.ts
  packages/pid-tools/src/index.ts
  packages/pid-tools/tsconfig.json
  packages/pid-tools/yarn.lock
  packages/react-pid/.eslintrc.js
  packages/react-pid/.gitignore
  packages/react-pid/BUILD.bazel
  packages/react-pid/README.md
  packages/react-pid/jest.config.js
  packages/react-pid/package.json
  packages/react-pid/rollup.config.js
  packages/react-pid/src/SvgViewer.tsx
  packages/react-pid/src/index.ts
  packages/react-pid/tsconfig.json
  packages/react-pid/yarn.lock
  yarn.lock
Owners: @cognitedata/frontend-app-server

chore(react-demo-app): use proper version env var (#1034)
  apps/discover/BUILD.bazel
  apps/react-demo-app/BUILD.bazel
  apps/react-demo-app/scripts/start.sh
  apps/react-demo-app/src/pages/Sidebar/elements.ts
Owners: @cognitedata/discover, @cognitedata/frontend-app-server

Docs fixed + instant switch working
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

Lint fix
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

Feat(simconfig): Added boundary conditions panel to model library[SIM-42] (#997)
  apps/simconfig/src/components/forms/ModelForm/types.ts
  apps/simconfig/src/components/tables/ModelTable/ModelTable.tsx
  apps/simconfig/src/components/tables/ModelTable/elements.ts
  apps/simconfig/src/pages/Menubar.tsx
  apps/simconfig/src/pages/ModelLibrary/BoundaryConditionContent.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.test.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/pages/ModelLibrary/NewVersion/NewVersion.tsx
  apps/simconfig/src/pages/ModelLibrary/constants.ts
  apps/simconfig/src/pages/ModelLibrary/elements.ts
  apps/simconfig/src/pages/elements.ts
  apps/simconfig/src/store/file/constants.ts
  apps/simconfig/src/store/file/index.ts
  apps/simconfig/src/store/file/selectors.ts
  apps/simconfig/src/store/file/types.ts
  apps/simconfig/src/store/index.ts
  apps/simconfig/src/store/types.ts
  apps/simconfig/src/utils/fileInfo.ts
  yarn.lock
Owners: @cognitedata/simulator-integration, @cognitedata/frontend-app-server

add limit for list annotations (#436)
  src/store/thunks/Annotation/DeleteAnnotationsForDeletedFiles.ts
  src/store/thunks/Annotation/PopulateAnnotationTemplates.ts
  src/store/thunks/Annotation/RetrieveAnnotations.ts
Owners: @cognitedata/frontend-app-server

[CHART-646] Fix missing timeseries in list on import (#740)
  src/components/OpenInCharts/OpenInCharts.tsx
Owners: @cognitedata/frontend-app-server

feat: update infographics background image (#1039)
  apps/digital-cockpit/package.json
  apps/digital-cockpit/public/UC2_952_536_v2.jpg
Owners: @cognitedata/griff-team

chore: clean up demo template configs
  Jenkinsfile
  README.md
  package.json
  src/metrics.ts
  src/utils/styleScope.js
Owners: @cognitedata/frontend-app-server

Fixed private vars
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

feat(ornate): ornate comment tool (#990)
  apps/cognite-ornate/BUILD.bazel
  apps/cognite-ornate/src/components/WorkSpaceTools/WorkSpaceTools.tsx
  apps/cognite-ornate/src/library/cognite-ornate.ts
  apps/cognite-ornate/src/library/tools/CommentTool.ts
  apps/cognite-ornate/src/library/tools/CommentToolUtils.ts
  apps/cognite-ornate/src/library/tools/index.ts
  apps/cognite-ornate/src/library/types.ts
  apps/cognite-ornate/src/pages/Ornate/Ornate.tsx
  apps/cognite-ornate/src/utils/sidecar.ts
  apps/discover/src/components/tooltip/README.md
Owners: @cognitedata/griff-team, @cognitedata/discover

bump cognite-ornate version (#1043)
  apps/cognite-ornate/package.json
Owners: @cognitedata/griff-team

fix: lower repository dependency
  viewer/core/src/datamodels/cad/createCadManager.ts
  viewer/packages/cad-geometry-loaders/package.json
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.test.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/utilities/src/revealEnv.ts
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

patch for missing sourcemaps
  scripts/build.sh
  workspace.json
Owners: @cognitedata/frontend-app-server

feat(ornate): package-up (#1038)
  apps/cognite-ornate/BUILD.bazel
  apps/cognite-ornate/package.json
  apps/cognite-ornate/src/components/ListToolSidebar/ListToolSidebar.tsx
  apps/cognite-ornate/src/components/ListToolSidebar/ListToolSidebarAsset.tsx
  apps/cognite-ornate/src/components/ShapeSettings/ColorPicker/ColorPicker.tsx
  apps/cognite-ornate/src/components/ShapeSettings/ShapeSettings.tsx
  apps/cognite-ornate/src/components/WorkSpaceTools/WorkSpaceTools.tsx
  apps/cognite-ornate/src/pages/Ornate/Ornate.tsx
  apps/cognite-ornate/src/services/workspace.service.ts
  packages/ornate/.eslintrc.js
  packages/ornate/.gitignore
  packages/ornate/BUILD.bazel
  packages/ornate/CHANGELOG.md
  packages/ornate/README.md
  packages/ornate/jest.config.js
  packages/ornate/package.json
  packages/ornate/rollup.config.js
  packages/ornate/src/assets/bg.png
  packages/ornate/src/cognite-ornate.ts
  packages/ornate/src/index.ts
  packages/ornate/src/mocks/annotations.ts
  packages/ornate/src/mocks/pid1.pdf
  packages/ornate/src/tools/CircleTool.ts
  packages/ornate/src/tools/CommentTool.ts
  packages/ornate/src/tools/CommentToolUtils.ts
  packages/ornate/src/tools/DefaultTool.ts
  packages/ornate/src/tools/LineTool.ts
  packages/ornate/src/tools/ListTool.ts
  packages/ornate/src/tools/MoveTool.ts
  packages/ornate/src/tools/RectTool.ts
  packages/ornate/src/tools/TextTool.ts
  packages/ornate/src/tools/Tool.ts
  packages/ornate/src/tools/index.ts
  packages/ornate/src/types.ts
  packages/ornate/src/typings/images.d.ts
  packages/ornate/src/utils/connectedLine.ts
  packages/ornate/src/utils/downloadURL.ts
  packages/ornate/src/utils/index.ts
  packages/ornate/src/utils/pdfToImage.ts
  packages/ornate/tsconfig.json
Owners: @cognitedata/griff-team, @cognitedata/frontend-app-server

chore(dependabot): fix npm token for dependabot (#742)
  .github/dependabot.yml
Owners: @cognitedata/frontend-app-server

CDFUX-881 Update default group logic (#126)
  src/pages/Groups/GroupDrawer.tsx
  src/pages/Groups/index.tsx
Owners: @cognitedata/frontend-app-server

fix(discover): add close button to user settings (#1041)
  apps/discover/src/pages/authorized/menubar/userSettings/UserSettings.tsx
  apps/discover/src/pages/authorized/menubar/userSettings/elements.ts
Owners: @cognitedata/discover

Implement proposal for data flow for prioritized nodes
  viewer/core/src/datamodels/cad/CadModelFactory.test.ts
  viewer/core/src/datamodels/cad/CadModelFactory.ts
  viewer/core/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.test.ts
  viewer/core/src/public/migration/Cognite3DModel.test.ts
  viewer/core/src/public/migration/Cognite3DModel.ts
  viewer/packages/cad-geometry-loaders/index.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/cad-geometry-loaders/src/CadNode.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByVisibilityGpuSectorCuller.test.ts
Owners: @cognitedata/frontend-app-server

Added toggle for click target + prevent cursor zooming after click
  examples/src/pages/Migration.tsx
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/public/migration/types.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

refactor: restructure dependencies in loading pipeline
  viewer/core/src/datamodels/cad/CadManager.ts
  viewer/core/src/datamodels/cad/CadModelFactory.ts
  viewer/core/src/datamodels/cad/createCadManager.ts
  viewer/packages/cad-parsers/src/metadata/CadModelMetadataRepository.ts
  viewer/packages/modeldata-api/src/CdfModelDataClient.ts
Owners: @cognitedata/frontend-app-server

Remove deprecated test
  viewer/packages/cad-geometry-loaders/src/sector/culling/computeNdcAreaOfBox.test.ts
Owners: @cognitedata/frontend-app-server

Add fallback for draw call complexity for sector
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserV8.ts
Owners: @cognitedata/frontend-app-server

Adjust logging
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByScreenSizeSectorCuller.ts
Owners: @cognitedata/frontend-app-server

Update snapshot
  examples/src/visual_tests/__image_snapshots__/cad_two-models-one-ghosted-snap.png
Owners: @cognitedata/frontend-app-server

Initial commit of Toolbar Tool
  examples/src/pages/Toolbar.tsx
  examples/src/routes.tsx
  viewer/packages/tools/index.ts
  viewer/packages/tools/src/Toolbar/Toolbar.css
  viewer/packages/tools/src/Toolbar/Toolbar.ts
  viewer/packages/tools/src/Toolbar/ToolbarTool.ts
Owners: @cognitedata/frontend-app-server

feat(discover): enable saved search tests (#1037)
  Jenkinsfile
  apps/discover/BUILD.bazel
  apps/discover/README.md
  apps/discover/package.json
  apps/discover/scripts/build.sh
  apps/discover/scripts/start.sh
  apps/discover/scripts/testcafe/local-server.sh
  apps/discover/scripts/testcafe/serve-run.sh
  apps/discover/src/_helpers/getTestUserId.js
  apps/discover/src/constants/app.ts
  apps/discover/testcafe/__pages__/App.ts
  apps/discover/testcafe/fixtures/favorites.ts
  apps/discover/testcafe/fixtures/savedSearches.ts
  apps/discover/testcafe/tests/sidebar/savedSearch.testcafe.ts
  apps/discover/testcafe/utils/getToken.ts
  apps/discover/tsconfig.json
  rules/test/BUILD.bazel
  rules/test/testcafe_batch_test.bzl
  rules/test/testcafe_test.bzl
  rules/test/testcafe_user.bzl
  rules/test/testcafe_user.sh
Owners: @cognitedata/frontend-app-server, @cognitedata/discover

fix(simconfig): UI: Add user information to model library [SIM-66] (#1042)
  apps/simconfig/src/components/app/App.tsx
  apps/simconfig/src/components/app/AppRoot.tsx
  apps/simconfig/src/components/forms/ModelForm/ModelForm.tsx
  apps/simconfig/src/components/simulator/SimulatorStatus.tsx
  apps/simconfig/src/components/tables/ModelTable/ModelTable.tsx
  apps/simconfig/src/pages/ModelLibrary/BoundaryConditionContent.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/providers/CdfClientProvider.tsx
Owners: @cognitedata/simulator-integration

Revert and simplify getting prioritized areas in UpdateHandler
  viewer/core/src/datamodels/cad/CadModelFactory.test.ts
  viewer/core/src/datamodels/cad/CadModelFactory.ts
  viewer/core/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.test.ts
  viewer/core/src/public/migration/Cognite3DModel.test.ts
  viewer/packages/cad-geometry-loaders/index.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/cad-geometry-loaders/src/CadNode.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByVisibilityGpuSectorCuller.test.ts
Owners: @cognitedata/frontend-app-server

Feat(simconfig): Adds boundary condition values and files to redux store [SIM-80] (#1044)
  apps/simconfig/src/components/tables/ModelTable/ModelTable.tsx
  apps/simconfig/src/pages/ModelLibrary/BoundaryConditionContent.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/store/boundaryCondition/constants.ts
  apps/simconfig/src/store/boundaryCondition/index.ts
  apps/simconfig/src/store/boundaryCondition/selectors.ts
  apps/simconfig/src/store/boundaryCondition/thunks.ts
  apps/simconfig/src/store/boundaryCondition/types.ts
  apps/simconfig/src/store/file/constants.ts
  apps/simconfig/src/store/file/index.ts
  apps/simconfig/src/store/file/selectors.ts
  apps/simconfig/src/store/file/thunks.ts
  apps/simconfig/src/store/file/types.ts
  apps/simconfig/src/store/index.ts
  apps/simconfig/src/store/types.ts
Owners: @cognitedata/simulator-integration

feat(ornate): switch to multi-branch (#1050)
  apps/cognite-ornate/BUILD.bazel
Owners: @cognitedata/griff-team

improvement: replace noise texture in SSAO with noise function
  viewer/packages/rendering/src/glsl/post-processing/pure-depth-ssao.frag
  viewer/packages/rendering/src/rendering/EffectRenderManager.ts
Owners: @cognitedata/frontend-app-server

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container
