Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container

fix source map uploading on master (#55)
  Jenkinsfile
Owners: @cognitedata/frontend-app-server

chore: only upload image diff and add comment if visual test actually fails (not e.g. examples) (#1666)
  .github/workflows/ci.yml
Owners: @cognitedata/frontend-app-server

Changed the Keyframe removal from Date to Keyframe object
  documentation/docs/examples/timeline.mdx
  documentation/yarn.lock
  examples/yarn.lock
  viewer/packages/tools/src/Timeline/Keyframe.ts
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

improvement: replace noise texture in SSAO with noise function (#1664)
  viewer/packages/rendering/src/glsl/post-processing/pure-depth-ssao.frag
  viewer/packages/rendering/src/rendering/EffectRenderManager.ts
Owners: @cognitedata/frontend-app-server

Fixed documentation runnable error
  documentation/docs/examples/timeline.mdx
Owners: @cognitedata/frontend-app-server

corrected spell mismatch
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

refactor: change sector loading such that each sector is now loaded by its respective model
  viewer/core/package.json
  viewer/core/src/datamodels/cad/CadManager.ts
  viewer/core/src/datamodels/cad/CadModelFactory.ts
  viewer/core/src/datamodels/cad/createCadManager.ts
  viewer/packages/cad-geometry-loaders/index.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.test.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/types.ts
  viewer/packages/cad-geometry-loaders/src/sector/rxSectorUtilities.ts
  viewer/packages/rendering/src/sector/CadNode.ts
  viewer/packages/sector-loader/app/index.ts
  viewer/packages/sector-loader/index.ts
  viewer/packages/sector-loader/src/CachedRepository.ts
  viewer/packages/sector-loader/src/Repository.ts
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

refactor: rename and move files in sector loader
  viewer/packages/cad-geometry-loaders/index.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.test.ts
  viewer/packages/sector-loader/app/index.ts
  viewer/packages/sector-loader/index.ts
  viewer/packages/sector-loader/src/SectorRepository.ts
  viewer/packages/sector-loader/src/V8SectorRepository.ts
  viewer/packages/sector-loader/src/v8/SimpleAndDetailedToSector3D.ts
  viewer/packages/sector-loader/src/v8/arrays.ts
  viewer/packages/sector-loader/src/v8/groupMeshesByNumber.ts
  viewer/packages/sector-loader/src/v8/sectorUtilities.ts
  viewer/packages/sector-loader/tests/arrays.test.ts
  viewer/packages/sector-loader/tests/groupMeshesByNumber.test.ts
  viewer/packages/sector-loader/tests/sectorUtilities.test.ts
Owners: @cognitedata/frontend-app-server

fix(discover): NPT graph gap (StackedBarChart) (#1065)
  apps/discover/src/components/charts/StackedBarChart/StackedBarChart.tsx
  apps/discover/src/components/charts/StackedBarChart/common/Bars.tsx
  apps/discover/src/components/charts/StackedBarChart/common/__tests__/Bars.test.tsx
  apps/discover/src/components/charts/StackedBarChart/elements.ts
  apps/discover/src/components/charts/StackedBarChart/types.ts
  apps/discover/src/components/charts/StackedBarChart/utils.ts
  apps/discover/src/modules/wellSearch/selectors/event/event.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/graph/SelectedWellboreView/NPTDurationGraph.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/graph/constants.ts
Owners: @cognitedata/discover

Update calculation-backend to alpha-15 (#762)
  package.json
  src/components/DetailsSidebar/Histogram.tsx
  src/components/Nodes/DSPToolboxFunction.tsx
  src/services/calculation-backend.ts
  yarn.lock
Owners: @cognitedata/frontend-app-server

Create function for creating ViewStateHelper
  viewer/core/src/public/migration/Cognite3DViewer.ts
Owners: @cognitedata/frontend-app-server

Update viewer/core/src/public/migration/types.ts
  viewer/core/src/public/migration/types.ts
Owners: @cognitedata/frontend-app-server

feat: add initial gltf sector repository
  viewer/packages/sector-loader/index.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
Owners: @cognitedata/frontend-app-server

linting: remove console log
  viewer/packages/sector-loader/app/index.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
Owners: @cognitedata/frontend-app-server

Add support for pagination (#437)
  src/api/annotation/AnnotationApi.ts
  src/api/annotation/types.ts
  src/store/thunks/Annotation/DeleteAnnotationsForDeletedFiles.ts
  src/store/thunks/Annotation/PopulateAnnotationTemplates.ts
  src/store/thunks/Annotation/RetrieveAnnotations.ts
Owners: @cognitedata/frontend-app-server

Added Keyframe removal by Date functionality
  documentation/docs/examples/timeline.mdx
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

feat: first working iteration of gltf sector repository
  viewer/core/src/datamodels/cad/CadModelFactory.test.ts
  viewer/core/src/public/migration/Cognite3DModel.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/packages/sector-loader/app/index.ts
  viewer/packages/sector-loader/package.json
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

linting: remove console logs
  viewer/packages/sector-loader/app/index.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
Owners: @cognitedata/frontend-app-server

doc: add note about DataSource being experimental
  documentation/docs/extending/datasource.mdx
  viewer/packages/data-source/src/DataSource.ts
  viewer/packages/modeldata-api/src/ModelMetadataProvider.ts
  viewer/packages/modeldata-api/src/types.ts
  viewer/packages/nodes-api/src/NodesApiClient.ts
Owners: @cognitedata/frontend-app-server

Restructured the looping for assign styles for Nodes
  viewer/packages/tools/src/Timeline/Keyframe.ts
Owners: @cognitedata/frontend-app-server

fix(simconfig): boundary conditions not returning if there is no unit[SIM-90] (#1062)
  apps/simconfig/src/pages/ModelLibrary/BoundaryConditionContent.tsx
  apps/simconfig/src/store/boundaryCondition/selectors.ts
  apps/simconfig/src/store/boundaryCondition/thunks.ts
Owners: @cognitedata/simulator-integration

fix(simconfig): UI: Cannot select a new file when creating a new model version [SIM-74] (#1060)
  apps/simconfig/src/components/forms/ModelForm/ModelForm.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/typings/sortBy.d.ts
Owners: @cognitedata/simulator-integration

review: TimelineTool now uses TWEEN to do animations.
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

Typo
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

Remove TimelineTool.(un)assignStyledNodeCollection
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

Add TimelineTool.getKeyframeByDate()
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

chore: update test app to support v8 and gltf
  viewer/package.json
  viewer/packages/modeldata-api/src/types.ts
  viewer/packages/sector-loader/app/index.ts
  viewer/packages/webpack.config.js
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

fix: linting
  viewer/packages/sector-loader/app/index.ts
Owners: @cognitedata/frontend-app-server

fix: linting
  viewer/packages/sector-loader/app/index.ts
Owners: @cognitedata/frontend-app-server

fix: camera 'lock' after 720 degrees rotation (#1653)
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/app/index.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

fix(simconfig): UI: When querying models, use model name from meta-data and not the File name [SIM-76] [SIM-72] (#1052)
  apps/simconfig/src/components/forms/ModelForm/ModelForm.tsx
  apps/simconfig/src/components/forms/ModelForm/types.ts
  apps/simconfig/src/components/forms/ModelForm/utils.ts
  apps/simconfig/src/components/tables/ModelTable/ModelTable.tsx
  apps/simconfig/src/utils/cdfUpload.ts
  apps/simconfig/src/utils/fileDownload.ts
Owners: @cognitedata/simulator-integration

Lint fix
  viewer/core/src/datamodels/cad/styling/PropertyFilterNodeCollection.ts
  viewer/core/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.ts
Owners: @cognitedata/frontend-app-server

Update Migration example
  examples/src/pages/Migration.tsx
Owners: @cognitedata/frontend-app-server

fix(discover): Well search and filters [Wells SDK V3] (#1069)
  apps/discover/src/modules/wellSearch/__tests__/utils.test.ts
  apps/discover/src/modules/wellSearch/selectors/asset/well.ts
  apps/discover/src/modules/wellSearch/selectors/asset/wellbore.ts
  apps/discover/src/modules/wellSearch/utils.ts
Owners: @cognitedata/discover

fix(ornate): use external IDs as well as IDs (#1059)
  apps/cognite-ornate/src/components/WorkspaceDocsPanel/WorkspaceDocsPanel.tsx
  apps/cognite-ornate/src/components/WorkspaceDocsPanel/WorkspaceSearch.tsx
  apps/cognite-ornate/src/pages/Ornate/Ornate.tsx
  apps/cognite-ornate/src/services/workspace.service.ts
  apps/cognite-ornate/src/types.ts
  packages/ornate/src/tools/ListTool.ts
Owners: @cognitedata/griff-team, @cognitedata/frontend-app-server

review: suggestions for TimelineTool (#1668)
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

Documentation updated based on restructure
  documentation/docs/examples/timeline.mdx
Owners: @cognitedata/frontend-app-server

fix(discover): table version change (#1051)
  apps/discover/src/pages/authorized/admin/feedback/Feedback.tsx
  apps/discover/src/pages/authorized/admin/feedback/document-feedback/DocumentFeedbackDetails.tsx
  apps/discover/src/pages/authorized/admin/feedback/document-feedback/DocumentFeedbackTable.tsx
  apps/discover/src/pages/authorized/admin/feedback/elements.ts
  apps/discover/src/pages/authorized/admin/feedback/general-feedback/GeneralFeedbackTable.tsx
  apps/discover/src/pages/authorized/favorites/tabs/favorites/listView/ListView.tsx
  apps/discover/src/pages/authorized/favorites/tabs/savedSearches/SavedSearchesList.tsx
Owners: @cognitedata/discover

feat: add PR template (#1070)
  .github/pull_request_template.md
Owners: @cognitedata/frontend-app-server

fix: clean ups
  .eslintrc
  src/components/DocumentationsTab/DocumentationsTab.tsx
  src/pages/DataSetsList/DataSetsList.tsx
Owners: @cognitedata/frontend-app-server
