Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container

Update docs signature of getBoundingBoxesByNodeIds method
  documentation/docs/extending/datasource.mdx
Owners: @cognitedata/frontend-app-server

Destroy underscore in front of private method
  viewer/core/src/datamodels/cad/styling/AssetNodeCollection.ts
Owners: @cognitedata/frontend-app-server

Fix TODO
  viewer/core/src/datamodels/cad/styling/InvertedNodeCollection.ts
Owners: @cognitedata/frontend-app-server

Put in a couple of readonly
  viewer/core/src/datamodels/cad/styling/PopulateIndexSetFromPagedResponseHelper.ts
Owners: @cognitedata/frontend-app-server

Do some zero-length array checking
  viewer/packages/cad-styling/src/IntersectionNodeCollection.ts
Owners: @cognitedata/frontend-app-server

fix: revive more tests
  viewer/core/src/datamodels/cad/CadModelFactory.test.ts
  viewer/core/src/public/migration/Cognite3DModel.test.ts
Owners: @cognitedata/frontend-app-server

test: fix cad model factory test
  viewer/core/src/datamodels/cad/CadModelFactory.test.ts
Owners: @cognitedata/frontend-app-server

test: fix ByVisibilityGpuSectorCuller test
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByVisibilityGpuSectorCuller.test.ts
Owners: @cognitedata/frontend-app-server

Added Event for date change in Timeline Tool for providing data during Playback
  documentation/docs/examples/timeline.mdx
  viewer/packages/tools/index.ts
  viewer/packages/tools/src/Timeline/TimelineTool.ts
  viewer/packages/tools/src/Timeline/Types.ts
Owners: @cognitedata/frontend-app-server

test: fix sector loader test
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.test.ts
Owners: @cognitedata/frontend-app-server

feat: assign names to render targets that helps debugging in SpectorJS (#1676)
  viewer/packages/rendering/src/rendering/EffectRenderManager.ts
Owners: @cognitedata/frontend-app-server

Refactor explorer toolbar [VIS-488] (#444)
  src/modules/Explorer/Components/ExplorerToolbar.tsx
  src/modules/Explorer/Containers/Explorer.tsx
  src/modules/Explorer/Containers/ExplorerToolbarContainer.tsx
Owners: @cognitedata/frontend-app-server

feat(discover): Trajectory Unit issue in IPN Prod (#1117)
  apps/discover/src/tenants/akerbp-test/config.ts
  apps/discover/src/tenants/ipn-dev/config.ts
  apps/discover/src/tenants/ipn-prod/config.ts
  apps/discover/src/tenants/owa-prod/config.ts
  apps/discover/src/tenants/underground/config.ts
Owners: @cognitedata/discover

Add test for getPrioritizedAreas
  viewer/packages/cad-styling/src/NodeAppearanceProvider.test.ts
  viewer/packages/cad-styling/src/prioritized/mergeboxes/SmartMergeBoxes.test.ts
  viewer/test-utilities/src/createBoxes.ts
Owners: @cognitedata/frontend-app-server

Lint fixsotneuhsostae
  viewer/packages/cad-styling/src/NodeAppearanceProvider.test.ts
  viewer/packages/cad-styling/src/prioritized/mergeboxes/SmartMergeBoxes.test.ts
Owners: @cognitedata/frontend-app-server

Fix name reference
  viewer/core/src/datamodels/cad/styling/InvertedNodeCollection.ts
Owners: @cognitedata/frontend-app-server

fix(ornate): improvements in the comments ui (#1048)
  apps/cognite-ornate/src/components/Comments/Comments.tsx
  apps/cognite-ornate/src/components/Comments/elements.ts
  apps/cognite-ornate/src/components/WorkSpaceTools/WorkSpaceTools.tsx
  apps/cognite-ornate/src/hooks/useClickOutside.tsx
  apps/cognite-ornate/src/pages/Ornate/Ornate.tsx
  packages/ornate/src/cognite-ornate.ts
  packages/ornate/src/tools/CommentTool.ts
  packages/ornate/src/tools/DefaultTool.ts
Owners: @cognitedata/griff-team, @cognitedata/frontend-app-server

Remove "as" and put in a "!"
  viewer/packages/cad-styling/src/NodeAppearanceProvider.ts
Owners: @cognitedata/frontend-app-server

fix(CDFUX-898): use modify instead of set for updating OIDC configuration (#130)
  src/pages/OIDC/index.tsx
Owners: @cognitedata/frontend-app-server

fix(CDFUX-883): import components from antd directly and remove labelInValue prop (#129)
  src/pages/Groups/SecurityCategoriesSelector.tsx
Owners: @cognitedata/frontend-app-server

Remove shortcut for setting prioritized nodes
  viewer/core/src/public/migration/Cognite3DModel.ts
  viewer/packages/rendering/src/sector/CadNode.ts
Owners: @cognitedata/frontend-app-server

feat(discover): measurements feedback changes (#1124)
  apps/discover/src/pages/authorized/search/well/inspect/modules/common/ChartV2/ChartV2.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/common/ChartV2/elements.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/curveCentricView/CurveCentricView.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/wellCentricView/WellCentricView.tsx
Owners: @cognitedata/discover

feat(react-container): add sentrySettings prop (#1121)
  package.json
  packages/react-azure-telemetry/BUILD.bazel
  packages/react-container/BUILD.bazel
  packages/react-container/CHANGELOG.md
  packages/react-container/package.json
  packages/react-container/src/Container.tsx
  packages/react-container/src/components/Sentry.tsx
  packages/react-sentry/BUILD.bazel
  packages/react-sentry/CHANGELOG.md
  packages/react-sentry/package.json
  packages/react-sentry/src/utils.ts
  yarn.lock
Owners: @cognitedata/frontend-app-server, @cognitedata/frontend-react-container

fix: add local model support for gltf
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/PassThroughSectorCuller.ts
  viewer/packages/cad-parsers/src/metadata/CadMetadataParser.ts
  viewer/packages/modeldata-api/src/LocalModelMetadataProvider.ts
Owners: @cognitedata/frontend-app-server

fix: remove test code and fix example
  examples/src/pages/SectorWithPointcloud.tsx
  viewer/packages/cad-geometry-loaders/src/sector/culling/PassThroughSectorCuller.ts
Owners: @cognitedata/frontend-app-server

Add simple test for NodeCollectionDeserializer
  viewer/core/src/datamodels/cad/styling/NodeCollectionDeserializer.test.ts
  viewer/core/src/public/migration/Cognite3DModel.test.ts
  viewer/test-utilities/src/createCadModel.ts
Owners: @cognitedata/frontend-app-server

fix(discover): logs search for smaller range (#1119)
  apps/discover/src/modules/wellSearch/service/sequence/logs.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/common/elements.ts
  apps/discover/src/tenants/discover-test-bluefield/config.ts
Owners: @cognitedata/discover

fix: examples with new model identifier api
  examples/src/pages/SSAO.tsx
  examples/src/pages/TwoModels.tsx
  examples/src/utils/createManagerAndLoadModel.ts
Owners: @cognitedata/frontend-app-server

fix: remove unused import
  examples/src/utils/createManagerAndLoadModel.ts
Owners: @cognitedata/frontend-app-server

Correct issues related to NodeDeserializer test
  viewer/core/src/datamodels/cad/styling/NodeCollectionDeserializer.test.ts
  viewer/core/src/public/migration/Cognite3DModel.test.ts
  viewer/packages/rendering/src/sector/CadNode.ts
  viewer/test-utilities/src/createCadModel.ts
Owners: @cognitedata/frontend-app-server

Enhance Readme and add auth flow (#75)
  README.md
Owners: @cognitedata/frontend-app-server

chore(deps): upgrade all packages in bulk (#781)
  yarn.lock
Owners: @cognitedata/frontend-app-server

chore(deps): remove docker checking (#782)
  .github/dependabot.yml
Owners: @cognitedata/frontend-app-server

[CHART-709] fix: change text on search panel (#783)
  src/components/Search/Search.tsx
Owners: @cognitedata/frontend-app-server

DX-65, DX-66, DX-69 - Sidebar Menu and its implementation into the Overview and Data Model pages. (#73)
  apps/platypus/src/app/App.tsx
  apps/platypus/src/app/components/Navigations/NavigationSolution.tsx
  apps/platypus/src/app/components/Navigations/SideBarMenu.tsx
  apps/platypus/src/app/pages/layouts/PageLayout.tsx
  apps/platypus/src/app/pages/solutions/Solution.tsx
  apps/platypus/src/app/pages/solutions/SolutionsList.tsx
  apps/platypus/src/app/pages/solutions/SolutionsPage.tsx
  apps/platypus/src/app/pages/solutions/Tabs/DataModelPage.tsx
  apps/platypus/src/app/pages/solutions/Tabs/DeploymentsPage.tsx
  apps/platypus/src/app/pages/solutions/Tabs/DevelopmentToolsPage.tsx
  apps/platypus/src/app/pages/solutions/Tabs/OverviewPage.tsx
  apps/platypus/src/app/pages/solutions/Tabs/SettingsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/DataModelPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/DeploymentsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/DevelopmentToolsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/OverviewPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/SettingsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/icons/chartpie.svg
  apps/platypus/src/app/pages/solutions/solutionPages/icons/datamodel.svg
  apps/platypus/src/app/pages/solutions/solutionPages/icons/datapreview.svg
  apps/platypus/src/app/pages/solutions/solutionPages/icons/home.svg
  apps/platypus/src/app/pages/solutions/solutionPages/icons/monitoring.svg
  apps/platypus/src/app/pages/solutions/solutionPages/icons/newspaper.svg
  apps/platypus/src/app/pages/solutions/solutionPages/icons/populationpipelines.svg
  apps/platypus/src/app/pages/solutions/solutionPages/icons/queryexplorer.svg
  apps/platypus/src/app/pages/styles/SharedStyles.tsx
  apps/platypus/src/index.html
Owners: @cognitedata/frontend-app-server

Make tests actually do something usefull
  viewer/core/src/datamodels/cad/styling/NodeCollectionDeserializer.test.ts
  viewer/packages/cad-styling/src/NodeAppearanceProvider.test.ts
Owners: @cognitedata/frontend-app-server

fix: local point clouds
  viewer/packages/modeldata-api/src/LocalModelMetadataProvider.ts
Owners: @cognitedata/frontend-app-server

Feat(simconfig): calculation config form[SIM-96] (#1092)
  apps/simconfig/BUILD.bazel
  apps/simconfig/src/components/forms/ConfigurationForm/ConfigurationForm.tsx
  apps/simconfig/src/components/forms/ConfigurationForm/DataSamplingSection.tsx
  apps/simconfig/src/components/forms/ConfigurationForm/constants.ts
  apps/simconfig/src/components/forms/ConfigurationForm/types.ts
  apps/simconfig/src/components/forms/ModelForm/ModelForm.tsx
  apps/simconfig/src/components/forms/elements.tsx
  apps/simconfig/src/components/tables/CalculationsTable/CalculationsTable.tsx
  apps/simconfig/src/pages/Calculations/Configuration/CalculationConfiguration.tsx
  apps/simconfig/src/store/file/constants.ts
  apps/simconfig/src/store/file/index.ts
  apps/simconfig/src/store/file/selectors.ts
  apps/simconfig/src/store/file/types.ts
  apps/simconfig/src/utils/formUtils.ts
Owners: @cognitedata/simulator-integration

revert/fix: use set instead of modify for updating oidc config (#131)
  src/pages/OIDC/index.tsx
Owners: @cognitedata/frontend-app-server

feat(Pid): Make symbolmatcher scale invariant (#1108)
  packages/pid-tools/__tests__/index.ts
  packages/pid-tools/src/Instance.ts
  packages/pid-tools/src/InstanceMatcher.ts
  packages/pid-tools/src/PathSegments.ts
  packages/pid-tools/src/index.spec.ts
  packages/pid-tools/src/index.ts
  packages/react-pid/BUILD.bazel
  packages/react-pid/src/SvgViewer.tsx
  packages/react-pid/src/ToolBar.tsx
Owners: @cognitedata/frontend-app-server
