Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container

[VIS-227] Keyboard shortcuts implementation (#430)
  package.json
  src/index.tsx
  src/modules/Review/Components/AnnotatationTableRow/AnnotationTableRow.tsx
  src/modules/Review/Components/AnnotationsTable/AnnotationsTable.tsx
  src/modules/Review/Components/CollapsibleAnnotationTableRow/CollapsibleAnnotationTableRow.tsx
  src/modules/Review/Components/KeyboardShortcutModal/KeyboardShortcutModalContent.tsx
  src/modules/Review/Components/ReactImageAnnotateWrapper/AnnotationEditPopup.tsx
  src/modules/Review/Components/ReactImageAnnotateWrapper/HotKeyMap.ts
  src/modules/Review/Components/ReactImageAnnotateWrapper/ReactImageAnnotateWrapper.tsx
  src/modules/Review/Components/ReactImageAnnotateWrapper/Tools.ts
  src/modules/Review/Components/ThumbnailCarousel/ThumbnailCarousel.tsx
  src/modules/Review/Containers/ImageContextualization.tsx
  src/modules/Review/Containers/ImagePreview.tsx
  src/modules/Review/Containers/ImageReview.tsx
  src/modules/Review/Containers/KeyboardShortKeys/ImageKeyboardShortKeys.tsx
  src/modules/Review/Containers/KeyboardShortKeys/ShortKeyUtils.ts
  src/modules/Review/Containers/VideoContextualization.tsx
  src/modules/Review/store/annotationLabelSlice.ts
  src/modules/Review/types.ts
  src/store/thunks/Annotation/AnnotationStatusChange.ts
  yarn.lock
Owners: @cognitedata/frontend-app-server

fix: ui changes from tech writers CHART-592 (#738)
  src/components/InfoBox/InfoBox.tsx
  src/components/Search/Search.tsx
  src/components/SharingDropdown/SharingDropdown.tsx
  src/pages/ChartView/TimeSeriesRow.tsx
  src/pages/ChartView/WorkflowRow.tsx
  src/utils/units.ts
Owners: @cognitedata/frontend-app-server

Change == to ===
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.test.ts
Owners: @cognitedata/frontend-app-server

Simplify notation in BoxClusterer interface
  viewer/packages/utilities/src/mergeboxes/BoxClustererBase.ts
Owners: @cognitedata/frontend-app-server

BoxClustererBase -> BoxClusterer
  viewer/packages/utilities/src/mergeboxes/RTreeMergeBoxes.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Make getBoxes() more unsafe and more exciting
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
Owners: @cognitedata/frontend-app-server

fix(react-container/Logout): redirect to "/" path after logout [INFIELD-2551] (#983)
  packages/react-container/CHANGELOG.md
  packages/react-container/package.json
  packages/react-container/src/components/Logout.tsx
Owners: @cognitedata/frontend-react-container

Allow setting schedule to not defined (null) (#837)
  apps/extraction-pipelines/src/components/inputs/ScheduleSelector.tsx
  apps/extraction-pipelines/src/utils/cronUtils.test.js
  apps/extraction-pipelines/src/utils/cronUtils.ts
Owners: @cognitedata/frontend-app-server

fix: tiny typo (#1655)
  viewer/packages/utilities/src/workers/WorkerPool.ts
Owners: @cognitedata/frontend-app-server

make svg a react component
  src/assets/cognite-platypus.svg
  src/components/Header/Header.tsx
  src/components/Header/PlatypusLogo.tsx
Owners: @cognitedata/frontend-app-server

feat(react-demo-app/Comment): return commentTarget (#982)
  apps/react-demo-app/src/pages/Comments/CommentSliderExample.tsx
  packages/react-comments/CHANGELOG.md
  packages/react-comments/package.json
  packages/react-comments/src/Components/Slider.tsx
Owners: @cognitedata/frontend-app-server, @cognitedata/frontend-comment-service

upgrade and enforce v16
  Jenkinsfile
  cli/package.json
  cli/yarn.lock
  package.json
  yarn.lock
Owners: @cognitedata/frontend-app-server

fix npm errors
  Jenkinsfile
Owners: @cognitedata/frontend-app-server

feat: make staging (#1009)
  apps/cognite-ornate/package.json
Owners: @cognitedata/griff-team

Address comments
  viewer/packages/utilities/src/mergeboxes/MergingRTree.test.ts
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.test.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Lint fix
  viewer/packages/utilities/src/mergeboxes/MergingRTree.test.ts
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.test.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

fix(cognite-ornate): connected pnids order (#1002)
  apps/cognite-ornate/src/library/cognite-ornate.ts
  apps/cognite-ornate/src/library/tools/DefaultTool.ts
  apps/cognite-ornate/src/library/types.ts
  apps/cognite-ornate/src/pages/Ornate/Ornate.tsx
  apps/cognite-ornate/src/pages/Ornate/example-save-file.ts
  apps/cognite-ornate/src/services/workspace.service.ts
Owners: @cognitedata/griff-team

fix(cognuit): make all fields required on new config page (#1008)
  apps/cognuit/src/pages/Configurations/pages/New/PetrelStudioToOpenWorks.tsx
  apps/cognuit/src/pages/Configurations/pages/New/hooks/useSourceConfiguration.tsx
  apps/cognuit/src/pages/Configurations/pages/New/types.ts
Owners: @cognitedata/subsurface-data

fix: revert to old bundle structure and add path aliasing and post-compile declaration fix
  viewer/.yarnrc.yml
  viewer/index.ts
  viewer/internals.ts
  viewer/package.json
  viewer/tools.ts
  viewer/tsconfig.json
  viewer/tsconfig.webpack.json
  viewer/webpack.config.js
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

chore: add tsc-alias as a post compile step
  viewer/package.json
Owners: @cognitedata/frontend-app-server

feat(discover): merge pr 2029 (#1011)
  apps/discover/src/_helpers/sort.ts
  apps/discover/src/components/charts/StackedBarChart/StackedBarChart.tsx
  apps/discover/src/components/charts/StackedBarChart/common/Axes.tsx
  apps/discover/src/components/charts/StackedBarChart/common/Bars.tsx
  apps/discover/src/components/charts/StackedBarChart/common/Legend.tsx
  apps/discover/src/components/charts/StackedBarChart/common/__tests__/Axes.test.tsx
  apps/discover/src/components/charts/StackedBarChart/common/__tests__/Axis.test.tsx
  apps/discover/src/components/charts/StackedBarChart/common/__tests__/Legend.test.tsx
  apps/discover/src/components/charts/StackedBarChart/constants.ts
  apps/discover/src/components/charts/StackedBarChart/elements.ts
  apps/discover/src/components/charts/StackedBarChart/hooks/__tests__/useGroupedData.test.ts
  apps/discover/src/components/charts/StackedBarChart/hooks/__tests__/useProcessedData.test.ts
  apps/discover/src/components/charts/StackedBarChart/hooks/useChartScales.ts
  apps/discover/src/components/charts/StackedBarChart/hooks/useGroupedData.ts
  apps/discover/src/components/charts/StackedBarChart/hooks/useProcessedData.ts
  apps/discover/src/components/charts/StackedBarChart/types.ts
  apps/discover/src/modules/wellSearch/selectors/event/event.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/graph/NPTGraph.tsx
Owners: @cognitedata/discover

Add random-seed as dependency
  viewer/package.json
  viewer/packages/utilities/package.json
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

add tests for shortkey utils (#433)
  package.json
  src/modules/Review/Containers/KeyboardShortKeys/ImageKeyboardShortKeys.tsx
  src/modules/Review/Containers/KeyboardShortKeys/ShortKeyUtils.spec.ts
  src/modules/Review/Containers/KeyboardShortKeys/ShortKeyUtils.ts
Owners: @cognitedata/frontend-app-server

Minor fixups
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
Owners: @cognitedata/frontend-app-server

fix(ornate): remove drag of stage (#1013)
  apps/cognite-ornate/src/library/cognite-ornate.ts
Owners: @cognitedata/griff-team

Add return type to function signatures
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
Owners: @cognitedata/frontend-app-server

Lint fix
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
Owners: @cognitedata/frontend-app-server

fix: type errors (#1015)
  apps/discover/src/_helpers/sort.ts
  apps/discover/src/components/charts/StackedBarChart/hooks/useChartScales.ts
Owners: @cognitedata/discover

Fix import in picking.test.ts
  viewer/core/src/datamodels/cad/picking.test.ts
Owners: @cognitedata/frontend-app-server

fix(discover): set 'forceConsistentCasingInFileNames' to false in tsconfig.json (#994)
  apps/discover/tsconfig.json
Owners: @cognitedata/discover

fix: add proper path for core package
  viewer/tsconfig.json
Owners: @cognitedata/frontend-app-server

discover:fix-Trajectory graph axis names issue (#1012)
  apps/discover/src/modules/wellSearch/actions.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/logType/LogTypeViewer.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/logType/LogViewer/LogViewer.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/trajectory/Trajectory2D/Trajectory2D.tsx
  apps/discover/src/tenants/config.ts
  apps/discover/testcafe/__pages__/Map.ts
  apps/discover/testcafe/__pages__/SeismicSearch.ts
Owners: @cognitedata/discover

bump: cogs.js (#1016)
  package.json
  yarn.lock
Owners: @cognitedata/frontend-app-server

Update jest mock path
  viewer/packages/materials/src/InstancedMeshManager.test.ts
Owners: @cognitedata/frontend-app-server

Move random-seed dependency
  viewer/package.json
  viewer/packages/utilities/package.json
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

Revert "Update dependencies" (#31)
  Jenkinsfile
  cli/package.json
  cli/yarn.lock
  package.json
  yarn.lock
Owners: @cognitedata/frontend-app-server

feat(ornate): list-tool (#973)
  apps/cognite-ornate/src/components/ListToolSidebar/ListToolSidebar.tsx
  apps/cognite-ornate/src/components/ListToolSidebar/ListToolSidebarAsset.tsx
  apps/cognite-ornate/src/components/ListToolSidebar/elements.ts
  apps/cognite-ornate/src/components/ListToolSidebar/index.ts
  apps/cognite-ornate/src/components/NullView/NullView.tsx
  apps/cognite-ornate/src/components/WorkSpaceTools/WorkSpaceTools.tsx
  apps/cognite-ornate/src/library/cognite-ornate.ts
  apps/cognite-ornate/src/library/mocks/annotations.ts
  apps/cognite-ornate/src/library/tools/DefaultTool.ts
  apps/cognite-ornate/src/library/tools/ListTool.ts
  apps/cognite-ornate/src/library/tools/RectTool.ts
  apps/cognite-ornate/src/library/tools/Tool.ts
  apps/cognite-ornate/src/library/tools/index.ts
  apps/cognite-ornate/src/library/types.ts
  apps/cognite-ornate/src/pages/Ornate/Ornate.tsx
  apps/cognite-ornate/src/services/workspace.service.ts
  apps/cognite-ornate/src/utils/sidecar.ts
  apps/cognite-ornate/src/utils/z.ts
Owners: @cognitedata/griff-team

Refactor for-loop into function
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
Owners: @cognitedata/frontend-app-server

Comment updates
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Refactor another for loop
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server
