Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container

Add authentication environments (#1675)
  README.md
  examples/.env.example
  examples/src/pages/Clipping.tsx
  examples/src/pages/Geomap.tsx
  examples/src/pages/Migration.tsx
  examples/src/pages/SSAO.tsx
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/Simple.tsx
  examples/src/pages/SimplePointcloud.tsx
  examples/src/pages/TwoModels.tsx
  examples/src/pages/WalkablePath.tsx
  examples/src/routes.tsx
  examples/src/utils/example-helpers.ts
Owners: @cognitedata/frontend-app-server

fix: revert test changes for migration
  examples/src/pages/Migration.tsx
Owners: @cognitedata/frontend-app-server

fix: simulator status + spacing in tooltip (#1141)
  apps/simconfig/src/components/simulator/elements.tsx
  apps/simconfig/src/store/simulator/constants.ts
Owners: @cognitedata/simulator-integration

Renamed timeline event to proper naming
  documentation/docs/examples/timeline.mdx
  viewer/packages/tools/src/Timeline/TimelineTool.test.ts
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

Updated yarn.lock
  examples/yarn.lock
Owners: @cognitedata/frontend-app-server

Added pause & resume to documentation
  documentation/docs/examples/timeline.mdx
Owners: @cognitedata/frontend-app-server

fix(discover): measurements console error (#1136)
  apps/discover/src/hooks/useUserPreferences.ts
Owners: @cognitedata/discover

Show success messages on data set update/create
  package.json
  src/pages/DataSetEditor/DataSetEditor.tsx
  src/styles/GlobalStyles.tsx
Owners: @cognitedata/frontend-app-server

Import styles from console
  src/styles/GlobalStyles.tsx
  src/styles/global.css
  yarn.lock
Owners: @cognitedata/frontend-app-server

Add visual test for reassigning style to node collection
  examples/src/pages/e2e/cad/ReassignNodeStyle.tsx
  examples/src/pages/e2e/visualTests.ts
  examples/src/visual_tests/__image_snapshots__/cad_reassign-node-style-snap.png
Owners: @cognitedata/frontend-app-server

Fix off-by-one-error in IndexSet
  viewer/packages/utilities/src/indexset/IndexSet.ts
Owners: @cognitedata/frontend-app-server

Update viewer/packages/rendering/src/glsl/base/updateFragmentColor.glsl
  viewer/packages/rendering/src/glsl/base/updateFragmentColor.glsl
Owners: @cognitedata/frontend-app-server

Add failing test
  viewer/packages/utilities/src/indexset/IndexSet.test.ts
Owners: @cognitedata/frontend-app-server

Fix failing test
  viewer/packages/utilities/src/indexset/IndexSet.test.ts
Owners: @cognitedata/frontend-app-server

feat: add support for instance id
  viewer/packages/sector-parser/src/GltfSectorParser.ts
Owners: @cognitedata/frontend-app-server

Fix off-by-one-error in IndexSet (#1679)
  viewer/packages/utilities/src/indexset/IndexSet.test.ts
  viewer/packages/utilities/src/indexset/IndexSet.ts
Owners: @cognitedata/frontend-app-server

fix: columns cell components (#13)
  package.json
  src/components/TableCell.tsx
  src/components/Tag.tsx
  src/configs/global.config.ts
  src/pages/Classifier/components/step/elements.ts
  src/pages/Classifier/pages/ManageTrainingSet/components/Table/LabelTable.tsx
  src/pages/Classifier/pages/ManageTrainingSet/components/Table/curate.tsx
  src/pages/Classifier/pages/ManageTrainingSet/components/Table/curateLabelColumns.ts
  src/pages/Document/components/Table/DocumentsTable.tsx
  src/pages/Document/components/Table/curateDocumentsColumns.ts
  src/styles/GlobalStyles.tsx
  yarn.lock
Owners: @cognitedata/frontend-app-server

Update viewer/packages/tools/src/Timeline/TimelineTool.ts
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

Reverted back the event name
  documentation/docs/examples/timeline.mdx
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

Refactoring after the review.
  apps/platypus/src/app/components/PageToolbar/PageToolbar.stories.tsx
  apps/platypus/src/app/components/PageToolbar/PageToolbar.tsx
  apps/platypus/src/app/components/PageToolbar/elements.ts
  apps/platypus/src/app/components/Spinner/Spinner.tsx
  apps/platypus/src/app/components/Spinner/elements.ts
  apps/platypus/src/app/components/Toolbar/Toolbar.tsx
  apps/platypus/src/app/pages/layouts/PageContentLayout.tsx
  apps/platypus/src/app/pages/layouts/PageLayout.tsx
  apps/platypus/src/app/pages/layouts/PageWithHeaderLayout.tsx
  apps/platypus/src/app/pages/layouts/elements.ts
  apps/platypus/src/app/pages/solutions/Solution.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/DataModelLayout.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/DeploymentsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/DevelopmentToolsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/OverviewLayout.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/SettingsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/DatamodelPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/DatapreviewPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/MonitoringPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/PopulationPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/QueryExplorerPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/overviewPages/AnalyticsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/overviewPages/OverviewPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/overviewPages/UpdatesPage.tsx
  apps/platypus/src/app/pages/styles/SharedStyles.tsx
Owners: @cognitedata/frontend-app-server

global sort initial imp
  src/modules/Common/Components/FileTable/FileTable.tsx
  src/modules/Common/Components/FileTable/FileTableExplorer.tsx
  src/modules/Common/Components/FileTable/types.ts
  src/modules/Common/Components/GridView/PageBasedGridView.tsx
  src/modules/Common/Components/MapFileTable/MapFileTable.tsx
  src/modules/Common/Components/MapView/MapView.tsx
  src/modules/Common/Components/SorterPaginationWrapper/PaginationWrapper.tsx
  src/modules/Common/Containers/Sorters/AnnotationSorter.tsx
  src/modules/Common/Containers/Sorters/DateSorter.tsx
  src/modules/Common/Containers/Sorters/MimeTypeSorter.tsx
  src/modules/Common/Containers/Sorters/NameSorter.tsx
  src/modules/Common/Utils/SortUtils.ts
  src/modules/Explorer/Containers/ExplorerSearchResults.tsx
  src/modules/Explorer/Containers/ResultTableLoader.tsx
  src/modules/Explorer/store/explorerSlice.ts
  src/modules/Process/Containers/ProcessResults.tsx
  src/modules/Process/Containers/ProcessToolBar/ProgressStatus.tsx
  src/modules/Process/processSlice.ts
  src/utils/Localstorage.ts
Owners: @cognitedata/frontend-app-server

Avoid running empty calculations (#789)
  src/pages/ChartView/WorkflowRow.tsx
Owners: @cognitedata/frontend-app-server

fix: Cognite3DModel duplicates node collections that get reassigned style (#1678)
  examples/src/pages/e2e/cad/ReassignNodeStyle.tsx
  examples/src/pages/e2e/visualTests.ts
  examples/src/visual_tests/__image_snapshots__/cad_reassign-node-style-snap.png
  viewer/core/src/public/migration/Cognite3DModel.test.ts
  viewer/core/src/public/migration/Cognite3DModel.ts
Owners: @cognitedata/frontend-app-server

fix props and fix map table
  src/modules/Common/Components/ExploreModal/ExploreModalContent.tsx
  src/modules/Common/Components/FileTable/FileTable.tsx
  src/modules/Common/Components/FileTable/FileTableExplorer.tsx
  src/modules/Common/Components/FileTable/types.ts
  src/modules/Common/Components/GridView/PageBasedGridView.tsx
  src/modules/Common/Components/MapFileTable/MapFileTable.tsx
  src/modules/Common/Components/MapView/MapView.tsx
  src/modules/Common/Components/SelectableTable/SelectableTable.tsx
  src/modules/Common/Containers/FileTableRenderers/SelectAllHeaderRendrerer.tsx
  src/modules/Explorer/Containers/Explorer.tsx
  src/modules/Explorer/Containers/ExplorerSearchResults.tsx
  src/modules/Process/Containers/ExploreModalContainer.tsx
  src/modules/Process/Containers/ProcessResults.tsx
Owners: @cognitedata/frontend-app-server

bump package.json 1.0.1 (#1144)
  packages/ornate/CHANGELOG.md
  packages/ornate/package.json
Owners: @cognitedata/frontend-app-server

fix(discover): logs sentry bug (#1146)
  apps/discover/src/pages/authorized/search/well/inspect/modules/logType/LogViewer/LogViewer.tsx
Owners: @cognitedata/discover

chore(discover): add more comments on how to use map layer documents filter (#1143)
  apps/discover/src/tenants/types.ts
Owners: @cognitedata/discover

Areas -> Nodes
  documentation/docs/examples/cad-styling.mdx
Owners: @cognitedata/frontend-app-server

Change docs again because I can't read feedback comments properly
  documentation/docs/examples/cad-styling.mdx
Owners: @cognitedata/frontend-app-server

Runtime change of controls options
  examples/src/pages/Migration.tsx
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/public/migration/types.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

Moved layout to components.
  apps/platypus/src/app/components/Layouts/PageContentLayout.tsx
  apps/platypus/src/app/components/Layouts/PageLayout.tsx
  apps/platypus/src/app/components/Layouts/elements.ts
  apps/platypus/src/app/components/Navigations/SideBarMenu.tsx
  apps/platypus/src/app/components/PropertyAttributesSelect/PropertyAttributesSelect.stories.tsx
  apps/platypus/src/app/components/PropertyAttributesSelect/PropertyAttributesSelect.tsx
  apps/platypus/src/app/pages/layouts/PageLayout.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/DataModelLayout.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/DeploymentsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/DevelopmentToolsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/OverviewLayout.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/SettingsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/DatamodelPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/DatapreviewPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/MonitoringPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/PopulationPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/QueryExplorerPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/overviewPages/AnalyticsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/overviewPages/OverviewPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/overviewPages/UpdatesPage.tsx
  apps/platypus/tsconfig.app.json
Owners: @cognitedata/frontend-app-server

Added css for loading styles to the Toolbar
  viewer/packages/tools/src/Toolbar/Toolbar.css
  viewer/packages/tools/src/Toolbar/Toolbar.ts
Owners: @cognitedata/frontend-app-server

refactor: fix low-hanging fruits from QA
  viewer/core/src/datamodels/cad/CadManager.ts
  viewer/core/src/datamodels/cad/CadModelFactory.ts
  viewer/core/src/datamodels/cad/sector/CadModelClipper.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/TakenSectorTree.ts
  viewer/packages/rendering/src/sector/CadNode.ts
Owners: @cognitedata/frontend-app-server

fix: removed unused ! operator
  viewer/packages/cad-geometry-loaders/src/sector/culling/TakenSectorTree.ts
Owners: @cognitedata/frontend-app-server

fix: disable save buttons if user removed name or description
  src/components/DataSetCreation/DataSetCreation.tsx
Owners: @cognitedata/frontend-app-server

fix: don't run calculation if empty inputs in steps (#792)
  src/pages/ChartView/WorkflowRow.tsx
Owners: @cognitedata/frontend-app-server

fix(ornate): detached group issue with the background rectangle [CM-1069] (#1149)
  packages/ornate/src/cognite-ornate.ts
Owners: @cognitedata/frontend-app-server

chore: removed unused part in Jenkinsfile
  Jenkinsfile
Owners: @cognitedata/frontend-app-server
