Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container

Small fixups in documentation
  documentation/docs/examples/cad-prioritized-nodes.mdx
Owners: @cognitedata/frontend-app-server

chore: bump @cognite/cdf-ui-cli from 1.0.0 to 1.1.0 (#17)
  package.json
  yarn.lock
Owners: @cognitedata/frontend-app-server

chore: remove unnecessary route
  src/App.tsx
Owners: @cognitedata/frontend-app-server

chore: remove root app component
  src/App.tsx
  src/RootApp.tsx
Owners: @cognitedata/frontend-app-server

Sync CSV parser and types
  package.json
  yarn.lock
Owners: @cognitedata/frontend-app-server

Adjust linting
  .eslintrc.production.js
  package.json
Owners: @cognitedata/frontend-app-server

Setup react-query for networking
  src/components/RawFunctions/index.ts
  src/components/RawFunctions/types.ts
  src/hooks/index.ts
  src/hooks/sdk-queries.ts
  src/hooks/useDatabaseList.ts
  src/hooks/useDatabaseListCount.ts
  src/utils/api.ts
Owners: @cognitedata/frontend-app-server

Make CreateDatabase.tsx self contained
  src/components/CreateDatabase/CreateDatabase.tsx
Owners: @cognitedata/frontend-app-server

Update routing
  src/App.tsx
  src/containers/App/App.tsx
  src/containers/App/index.ts
  src/containers/RawExplorer/RawExplorer.tsx
Owners: @cognitedata/frontend-app-server

Fix ant progress bar style
  src/styles/AntStyles.tsx
Owners: @cognitedata/frontend-app-server

Make CreateTable.tsx self contained
  src/components/CreateTable/CreateTable.tsx
Owners: @cognitedata/frontend-app-server

Fixed default duration
  examples/src/pages/Migration.tsx
  viewer/core/src/public/migration/Cognite3DViewer.ts
Owners: @cognitedata/frontend-app-server

Update core raw explorer components
  src/components/DatabaseList/DatabaseItem.tsx
  src/components/DatabaseList/DatabaseList.tsx
  src/components/TableContent/TableContent.tsx
  src/utils/typedUtils.ts
Owners: @cognitedata/frontend-app-server

Bump version
  package.json
Owners: @cognitedata/frontend-app-server

Update UploadCSV
  src/components/UploadCSV/UploadCSV.tsx
Owners: @cognitedata/frontend-app-server

Use ant notifications, not ant messages
  src/components/CreateDatabase/CreateDatabase.tsx
  src/components/CreateTable/CreateTable.tsx
  src/components/DatabaseList/DatabaseItem.tsx
  src/components/TableContent/TableContent.tsx
  src/components/UploadCSV/UploadCSV.tsx
  src/styles/AntStyles.tsx
Owners: @cognitedata/frontend-app-server

Re-fetch Button [VIS-489] (#445)
  src/modules/Common/Components/LoadingBar/LoadingBar.tsx
  src/modules/Explorer/Components/ExplorerToolbar.tsx
  src/modules/Explorer/Containers/Explorer.tsx
  src/modules/Explorer/Containers/ExplorerSearchResults.tsx
  src/modules/Explorer/Containers/ExplorerToolbarContainer.tsx
  src/modules/Explorer/Containers/ResultTableLoader.tsx
Owners: @cognitedata/frontend-app-server

remove from the top (#446)
  src/modules/Common/Components/SorterPaginationWrapper/Header.tsx
  src/modules/Common/Components/SorterPaginationWrapper/SorterPaginationWrapper.tsx
Owners: @cognitedata/frontend-app-server

update config to display logs (#1134)
  apps/discover/src/tenants/ipn-prod/config.ts
Owners: @cognitedata/discover

Abort parsing when closing modal
  src/components/UploadCSV/UploadCSV.tsx
Owners: @cognitedata/frontend-app-server

chore(react-demo-app): add examples of batch tests (#1017)
  apps/react-demo-app/BUILD.bazel
  apps/react-demo-app/README.md
Owners: @cognitedata/frontend-app-server

fix: return drawings with addDrawings (#1139)
  packages/ornate/src/cognite-ornate.ts
Owners: @cognitedata/frontend-app-server

Added Pause & Resume functionality for Timeline
  viewer/packages/tools/index.ts
  viewer/packages/tools/src/Timeline/TimelineTool.test.ts
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

feat(pid): Upload/download symbols + keyboard navigation (#1125)
  packages/pid-tools/src/index.ts
  packages/react-pid/BUILD.bazel
  packages/react-pid/package.json
  packages/react-pid/src/SideView.tsx
  packages/react-pid/src/SvgViewer.tsx
  packages/react-pid/yarn.lock
Owners: @cognitedata/frontend-app-server

Extend styling example with getAreas() pseudoexample
  documentation/docs/examples/cad-styling-custom.mdx
Owners: @cognitedata/frontend-app-server

Correct documentation page name
  documentation/docs/examples/cad-styling.mdx
  documentation/sidebars.js
Owners: @cognitedata/frontend-app-server

Renamed Types.ts to types.ts to follow convention
  viewer/packages/tools/src/Timeline/types.ts
Owners: @cognitedata/frontend-app-server

Add failing test
  viewer/core/src/public/migration/Cognite3DModel.test.ts
Owners: @cognitedata/frontend-app-server

feat(discover): Add star next to documents, wells and wellbores already in Favorite sets [PP-2113] (#1132)
  apps/discover/src/components/tablev2/TableRow.tsx
  apps/discover/src/components/tablev2/elements.ts
  apps/discover/src/components/tablev3/Table.tsx
  apps/discover/src/components/tablev3/TableRow.tsx
  apps/discover/src/components/tablev3/elements.ts
  apps/discover/src/components/tablev3/types.ts
  apps/discover/src/modules/documentSearch/hooks/__tests__/useFavoriteDocumentIds.test.ts
  apps/discover/src/modules/documentSearch/hooks/useFavoriteDocumentIds.ts
  apps/discover/src/modules/wellSearch/hooks/__tests__/useFavoriteWellIds.test.ts
  apps/discover/src/modules/wellSearch/hooks/useFavoriteWellIds.ts
  apps/discover/src/pages/authorized/search/document/results/DocumentResultTable.tsx
  apps/discover/src/pages/authorized/search/elements.ts
  apps/discover/src/pages/authorized/search/well/content/result/WellBoreResultTable.tsx
  apps/discover/src/pages/authorized/search/well/content/result/WellResultTable.tsx
  apps/discover/src/pages/authorized/search/well/content/result/elements.ts
Owners: @cognitedata/discover

Add failing test for removeAllStyledNodeCollections too
  viewer/core/src/public/migration/Cognite3DModel.test.ts
Owners: @cognitedata/frontend-app-server

Fix unassignStyledNodeCollection behavior
  viewer/core/src/public/migration/Cognite3DModel.ts
Owners: @cognitedata/frontend-app-server

Fix removeAllStyledNodeCollections behavior
  viewer/core/src/public/migration/Cognite3DModel.ts
Owners: @cognitedata/frontend-app-server

fix: improper imports
  viewer/packages/cad-geometry-loaders/src/sector/culling/PassThroughSectorCuller.ts
  viewer/packages/rendering/package.json
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

use containsAll for label filter (#447)
  src/modules/Explorer/Components/Filters/SelectLabelsFilter.tsx
Owners: @cognitedata/frontend-app-server

Date filter bug fix [VIS-485] (#448)
  src/modules/Explorer/Components/Filters/DateFilter.tsx
  src/modules/Explorer/Components/getFilterPanelItems.tsx
Owners: @cognitedata/frontend-app-server

Time filter first version (#449)
  src/modules/Explorer/Components/Filters/DateFilter.tsx
Owners: @cognitedata/frontend-app-server

fix(simconfig): UI: Model version header [SIM-67] (#1101)
  apps/simconfig/src/components/tables/ModelTable/ModelTable.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/store/file/thunks.ts
Owners: @cognitedata/simulator-integration

Set CDF-UX as code owners (#135)
  CODEOWNERS
Owners: @cognitedata/frontend-app-server

Add dataset scope to labels (#134)
  src/pages/Groups/utils.tsx
Owners: @cognitedata/frontend-app-server

Feat(simconfig): Read configuration and show schedule [SIM-100] (#1135)
  apps/simconfig/src/components/forms/ConfigurationForm/ConfigurationForm.tsx
  apps/simconfig/src/components/forms/ConfigurationForm/DataSamplingSection.tsx
  apps/simconfig/src/components/forms/ConfigurationForm/ScheduleSection.tsx
  apps/simconfig/src/components/forms/ConfigurationForm/constants.ts
  apps/simconfig/src/components/forms/controls/InputTimeSeriesEntry.tsx
  apps/simconfig/src/components/forms/controls/OutputTimeSeriesEntry.tsx
  apps/simconfig/src/components/forms/controls/ValidationWindowInput.tsx
  apps/simconfig/src/components/forms/elements.tsx
Owners: @cognitedata/simulator-integration
