Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

feat(discover): ppfg well centric enhancements (#1066)
  apps/discover/src/pages/authorized/search/well/inspect/modules/common/ChartV2/ChartV2.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/common/ChartV2/elements.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/filters/UnitSelector.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/wellCentricView/WellCentricCard.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/wellCentricView/WellCentricView.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/wellCentricView/elements.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/wellCentricView/utils.ts
Owners: @cognitedata/discover

fix: header alignment
  src/components/NewHeader.tsx
Owners: @cognitedata/frontend-app-server

Fixed merge conflict
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

Class stub
  viewer/packages/camera-manager/src/CameraManager.ts
Owners: @cognitedata/frontend-app-server

Lint fix
  viewer/packages/camera-manager/app/index.ts
Owners: @cognitedata/frontend-app-server

feat(discover): Table row highlighting (#1071)
  apps/discover/README.md
  apps/discover/src/__test-utils/fixtures/savedSearch.ts
  apps/discover/src/components/tablev3/Table.tsx
  apps/discover/src/components/tablev3/TableRow.tsx
  apps/discover/src/components/tablev3/elements.ts
  apps/discover/src/components/tablev3/types.ts
  apps/discover/src/modules/api/savedSearches/savedSearches.ts
  apps/discover/src/modules/api/savedSearches/types.ts
  apps/discover/src/pages/authorized/admin/feedback/Feedback.tsx
  apps/discover/src/pages/authorized/admin/feedback/common/TableResultActions.tsx
  apps/discover/src/pages/authorized/admin/feedback/common/elements.ts
  apps/discover/src/pages/authorized/admin/feedback/document-feedback/DocumentFeedback.tsx
  apps/discover/src/pages/authorized/admin/feedback/document-feedback/DocumentFeedbackTable.tsx
  apps/discover/src/pages/authorized/admin/feedback/elements.ts
  apps/discover/src/pages/authorized/admin/feedback/general-feedback/GeneralFeedback.tsx
  apps/discover/src/pages/authorized/admin/feedback/general-feedback/GeneralFeedbackDetails.tsx
  apps/discover/src/pages/authorized/admin/feedback/general-feedback/GeneralFeedbackTable.tsx
  apps/discover/src/pages/authorized/favorites/Favorites.tsx
  apps/discover/src/pages/authorized/favorites/tabs/favorites/FavoriteContent.tsx
  apps/discover/src/pages/authorized/favorites/tabs/favorites/listView/ListView.tsx
  apps/discover/src/pages/authorized/favorites/tabs/savedSearches/SavedSearchesList.tsx
  apps/discover/src/pages/authorized/search/search/SearchSaved/hooks/__tests__/useUpdateSearchHistoryListQuery.test.ts
  packages/react-comments/src/Components/Slider.tsx
Owners: @cognitedata/discover, @cognitedata/frontend-comment-service

null to undefined
  viewer/core/src/public/migration/Cognite3DViewer.ts
Owners: @cognitedata/frontend-app-server

fix(react-sentry@2.0.1): add rrweb as a dependency [INFIELD-2579] (#1074)
  packages/react-container/CHANGELOG.md
  packages/react-container/package.json
  packages/react-sentry/BUILD.bazel
  packages/react-sentry/CHANGELOG.md
  packages/react-sentry/package.json
Owners: @cognitedata/frontend-react-container

fix: svg errors dont fail silently anymore (#456)
  .secrets.yaml
  package.json
  src/modules/contextualization/pnidConvert/actions.ts
  src/modules/contextualization/pnidConvert/index.ts
  src/utils/handleError.tsx
Owners: @cognitedata/frontend-app-server

feat(discover): load all recursive layers in discover-api (#1076)
  apps/discover/src/modules/api/geospatial/geospatial.ts
  apps/discover/src/modules/api/geospatial/index.ts
  apps/discover/src/modules/api/service.ts
  apps/discover/src/modules/map/service/geospatial.ts
  apps/discover/src/modules/wellSearch/service/asset/well.ts
  apps/discover/src/pages/authorized/search/map/hooks/useMapContent.ts
  apps/discover/src/tenants/types.ts
Owners: @cognitedata/discover

feat: integrate gltf as a top priority for loading cad models
  examples/src/pages/CustomDataSource.tsx
  examples/src/pages/Migration.tsx
  viewer/core/src/datamodels/cad/CadModelFactory.ts
  viewer/core/src/datamodels/pointcloud/PointCloudMetadataRepository.ts
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/storage/RevealManagerHelper.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/OrderSectorsByVisibilityCoverage.test.ts
  viewer/packages/cad-parsers/src/metadata/CadMetadataParser.ts
  viewer/packages/cad-parsers/src/metadata/CadModelMetadata.ts
  viewer/packages/cad-parsers/src/metadata/CadModelMetadataRepository.ts
  viewer/packages/modeldata-api/index.ts
  viewer/packages/modeldata-api/src/CdfModelIdentifier.ts
  viewer/packages/modeldata-api/src/CdfModelMetadataProvider.test.ts
  viewer/packages/modeldata-api/src/CdfModelMetadataProvider.ts
  viewer/packages/modeldata-api/src/CdfModelOutputsProvider.test.ts
  viewer/packages/modeldata-api/src/CdfModelOutputsProvider.ts
  viewer/packages/modeldata-api/src/LocalModelMetadataProvider.ts
  viewer/packages/modeldata-api/src/ModelMetadataProvider.ts
  viewer/packages/modeldata-api/src/applyDefaultModelTransformation.ts
  viewer/packages/sector-loader/app/index.ts
  viewer/packages/utilities/src/revealEnv.ts
  viewer/test-utilities/src/createCadModelMetadata.ts
Owners: @cognitedata/frontend-app-server

improvement: extract metrics (Mixpanel) to a new package
  viewer/core/package.json
  viewer/core/src/datamodels/cad/CadManager.ts
  viewer/core/src/public/RevealManager.ts
  viewer/core/src/public/createRevealManager.ts
  viewer/core/src/public/migration/Cognite3DModel.ts
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/packages/cad-geometry-loaders/package.json
  viewer/packages/cad-geometry-loaders/src/sector/CachedRepository.ts
  viewer/packages/metrics/index.ts
  viewer/packages/metrics/package.json
  viewer/packages/metrics/src/metrics.ts
  viewer/packages/utilities/index.ts
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

Add metrics for when tools are created.
  viewer/packages/metrics/index.ts
  viewer/packages/metrics/src/metrics.ts
  viewer/packages/tools/package.json
  viewer/packages/tools/src/AxisView/AxisViewTool.ts
  viewer/packages/tools/src/ExplodedViewTool.ts
  viewer/packages/tools/src/Geomap/GeomapTool.ts
  viewer/packages/tools/src/HtmlOverlayTool.ts
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

Refactor histogram component interface (#748)
  src/components/DetailsSidebar/DetailsSidebar.tsx
  src/components/DetailsSidebar/Histogram.tsx
  src/components/PlotlyChart/utils.ts
  src/pages/ChartView/TimeSeriesRow.tsx
  src/utils/axis.spec.ts
  src/utils/axis.ts
  src/utils/numbers.spec.ts
  src/utils/numbers.ts
  src/utils/units.ts
Owners: @cognitedata/frontend-app-server

stop keypoint popup for subsequent keypoints after first. Remember last keypoint collection
  src/modules/Review/Components/ReactImageAnnotateWrapper/AnnotationEditPopup.tsx
  src/modules/Review/Components/ReactImageAnnotateWrapper/BodyContainer.tsx
  src/modules/Review/Components/ReactImageAnnotateWrapper/ConversionUtils.ts
  src/modules/Review/Components/ReactImageAnnotateWrapper/ReactImageAnnotateWrapper.tsx
  src/modules/Review/Containers/ImagePreview.tsx
  src/modules/Review/store/annotationLabelSlice.ts
  src/modules/Review/types.ts
  src/store/thunks/Annotation/CreateKeypointAnnotation.ts
Owners: @cognitedata/frontend-app-server

remove unnecessary type
  src/modules/Review/Components/ReactImageAnnotateWrapper/AnnotationEditPopup.tsx
  src/modules/Review/types.ts
Owners: @cognitedata/frontend-app-server

Added basic Unit test for Timeline Tool. ToDo: Need to revisit this
  viewer/packages/tools/src/Timeline/TimelineTool.test.ts
Owners: @cognitedata/frontend-app-server

feat(discover): Wells SDK V3 integration [NDS Events] (#1078)
  apps/discover/src/__test-utils/fixtures/well.ts
  apps/discover/src/modules/wellSearch/__tests__/utils.test.ts
  apps/discover/src/modules/wellSearch/hooks/useNdsEventsQuery.ts
  apps/discover/src/modules/wellSearch/sdk/index.ts
  apps/discover/src/modules/wellSearch/sdk/utils.ts
  apps/discover/src/modules/wellSearch/selectors/__test__/wellbore.test.ts
  apps/discover/src/modules/wellSearch/selectors/asset/wellbore.ts
  apps/discover/src/modules/wellSearch/service/asset/well.ts
  apps/discover/src/modules/wellSearch/service/event/__tests__/nds.test.ts
  apps/discover/src/modules/wellSearch/service/event/common.ts
  apps/discover/src/modules/wellSearch/service/event/nds.ts
  apps/discover/src/modules/wellSearch/types.ts
  apps/discover/src/tenants/discover-e2e-azure-dev/config.ts
Owners: @cognitedata/discover

fix: add context provider
  src/App.tsx
  src/components/NewHeader.tsx
  src/components/SearchableFilters.tsx
  src/components/TransformPage/TransformPage.tsx
  src/pages/DataSetsList/DataSetsList.tsx
Owners: @cognitedata/frontend-app-server

fix: [CDFUX-894] edit button tooltip
  src/pages/DataSetDetails/DataSetDetails.tsx
Owners: @cognitedata/frontend-app-server

rename variables
  src/modules/Review/Components/ReactImageAnnotateWrapper/ReactImageAnnotateWrapper.tsx
  src/modules/Review/Containers/ImagePreview.tsx
  src/modules/Review/types.ts
  src/store/thunks/Annotation/CreateKeypointAnnotation.ts
Owners: @cognitedata/frontend-app-server

fix: [CXT-879] fix size changer for Table (#457)
  src/components/Common/molecules/Table.tsx
  src/pages/LandingPage/FilesList/columns.tsx
  src/pages/LandingPage/FilesList/index.tsx
  src/pages/PageResultsOverview/SectionResults/ResultsTable.tsx
  src/pages/PageSelection/components/SelectionTable.tsx
Owners: @cognitedata/frontend-app-server

fix: [CDFUX-890] labels duplication
  src/components/DataSetInfoForm/DataSetInfoForm.tsx
Owners: @cognitedata/frontend-app-server

First working version
  examples/src/pages/Migration.tsx
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/utilities/ViewStateHelper.ts
  viewer/packages/camera-manager/app/index.ts
  viewer/packages/camera-manager/index.ts
  viewer/packages/camera-manager/src/CameraManager.ts
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/types.ts
  viewer/packages/tools/src/AxisView/AxisViewTool.ts
Owners: @cognitedata/frontend-app-server

fix: update to use AAD login flow
  viewer/packages/sector-loader/app/index.ts
Owners: @cognitedata/frontend-app-server

fix: add AAD_OAUTH flow for migration
  examples/src/pages/Migration.tsx
Owners: @cognitedata/frontend-app-server

feat(pid): update toolbar (#1045)
  package.json
  packages/react-pid/BUILD.bazel
  packages/react-pid/src/SvgViewer.tsx
  packages/react-pid/src/ToolBar.tsx
Owners: @cognitedata/frontend-app-server

fix: add AAD_OAUTH flow for migration (#1670)
  examples/src/pages/Migration.tsx
Owners: @cognitedata/frontend-app-server

fix: transparent custom objects was not blended with CAD when background color was overridden
  examples/src/pages/e2e/Cognite3DTestViewer.tsx
  examples/src/pages/e2e/cad/TransparentCustomObjectWithBackgroundColor.tsx
  examples/src/pages/e2e/visualTests.ts
  viewer/packages/rendering/src/rendering/EffectRenderManager.ts
Owners: @cognitedata/frontend-app-server

Adjust test and add snapshot
  examples/src/pages/e2e/cad/TransparentCustomObjectWithBackgroundColor.tsx
  examples/src/visual_tests/__image_snapshots__/cad_transparentCustomObjectWithBackgroundColor-snap.png
Owners: @cognitedata/frontend-app-server

fix(simconfig): UI: Model version header [SIM-67] (#1073)
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/pages/ModelLibrary/elements.ts
Owners: @cognitedata/simulator-integration

feat(discover): curve centric view (#1084)
  apps/discover/src/modules/wellSearch/types.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/Measurements.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/_tests_/utils.test.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/curveCentricView/CurveCentricCard.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/curveCentricView/CurveCentricView.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/curveCentricView/elements.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/utils.ts
Owners: @cognitedata/discover

hotifx(discover): Fixing graph objects getting replaced (#1088)
  apps/discover/src/pages/authorized/search/well/inspect/modules/trajectory/Trajectory2D/Trajectory2D.tsx
Owners: @cognitedata/discover

Added Event for Date update in Timeline playback
  viewer/packages/tools/src/Timeline/TimelineTool.test.ts
  viewer/packages/tools/src/Timeline/TimelineTool.ts
  viewer/packages/tools/src/Timeline/Types.ts
Owners: @cognitedata/frontend-app-server

fix: [CDFUX-887] make rerun button do something (#458)
  src/modules/contextualization/pnidParsing/hooks.ts
  src/pages/PageResultsOverview/SectionSetup/RunModelButton.tsx
Owners: @cognitedata/frontend-app-server

chore(generators): add apps generator (#970)
  apps/react-demo-app/BUILD.bazel
  generators/actions/addLibrary.ts
  generators/actions/copyMany.ts
  generators/actions/disableIntercom.ts
  generators/actions/index.ts
  generators/generator/app-templates.ts
  generators/generator/app.ts
  generators/generator/constants.ts
  generators/generator/index.ts
  generators/generator/modifications/kubecfg/production/apps/{{name}}.libsonnet.hbs
  generators/generator/modifications/kubecfg/staging/apps/{{name}}.libsonnet.hbs
  generators/generator/package.ts
  generators/index.ts
  generators/types.ts
Owners: @cognitedata/frontend-app-server

Feat(simconfig): run calculation [SIM-71] (#1072)
  apps/simconfig/src/components/tables/CalculationsTable/CalculationsTable.tsx
  apps/simconfig/src/components/tables/CalculationsTable/StatusCell.tsx
  apps/simconfig/src/components/tables/CalculationsTable/constants.ts
  apps/simconfig/src/components/tables/CalculationsTable/elements.ts
  apps/simconfig/src/pages/elements.ts
  apps/simconfig/src/store/event/constants.ts
  apps/simconfig/src/store/event/index.ts
  apps/simconfig/src/store/event/selectors.ts
  apps/simconfig/src/store/event/thunks.ts
  apps/simconfig/src/store/event/types.ts
  apps/simconfig/src/store/index.ts
  apps/simconfig/src/store/simulator/selectors.ts
  apps/simconfig/src/store/types.ts
Owners: @cognitedata/simulator-integration

Feat(simconfig): select calculation[SIM-95] (#1087)
  apps/simconfig/src/components/app/App.tsx
  apps/simconfig/src/components/tables/CalculationsTable/CalculationsTable.tsx
  apps/simconfig/src/components/tables/CalculationsTable/StatusCell.tsx
  apps/simconfig/src/pages/Calculations/Configuration/CalculationConfiguration.tsx
  apps/simconfig/src/pages/Calculations/Configuration/TitleArea.tsx
  apps/simconfig/src/pages/Calculations/Configuration/index.ts
  apps/simconfig/src/pages/Menubar.tsx
  apps/simconfig/src/store/file/constants.ts
  apps/simconfig/src/store/file/index.ts
  apps/simconfig/src/store/file/selectors.ts
  apps/simconfig/src/store/file/thunks.ts
  apps/simconfig/src/store/file/types.ts
Owners: @cognitedata/simulator-integration

feat: add wells acls
  src/pages/Groups/utils.tsx
Owners: @cognitedata/frontend-app-server

chore: lint
  src/pages/Groups/utils.tsx
Owners: @cognitedata/frontend-app-server

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container
