Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container

Avoid running statistics calculation before source is present (#752)
  src/components/DetailsSidebar/utils.tsx
Owners: @cognitedata/frontend-app-server

Avoid converting zero to NaN (#753)
  src/services/calculation-backend.ts
Owners: @cognitedata/frontend-app-server

[CHART-682] Change "Linked asset" label (#754)
  src/components/DetailsSidebar/MetadataItem.tsx
Owners: @cognitedata/frontend-app-server

Add pattern to prevent user from using special characters (#1053)
  apps/simconfig/src/components/forms/ModelForm/ModelForm.tsx
Owners: @cognitedata/simulator-integration

Use better number format for hover labels (#755)
  src/components/PlotlyChart/utils.ts
Owners: @cognitedata/frontend-app-server

feat(simconfig): Add first iteration of calculations table [SIM-27] (#1054)
  apps/simconfig/src/components/app/App.tsx
  apps/simconfig/src/components/tables/CalculationsTable/CalculationsTable.tsx
  apps/simconfig/src/components/tables/CalculationsTable/index.ts
  apps/simconfig/src/components/tables/ModelTable/ModelTable.tsx
  apps/simconfig/src/pages/Calculations/CalculationsLibrary.tsx
  apps/simconfig/src/pages/Calculations/TitleArea.tsx
  apps/simconfig/src/pages/Calculations/constants.ts
  apps/simconfig/src/pages/Calculations/elements.ts
  apps/simconfig/src/pages/Calculations/index.ts
  apps/simconfig/src/pages/Menubar.tsx
Owners: @cognitedata/simulator-integration

chore: fix broken test
  src/utils/integrationUtils.spec.js
Owners: @cognitedata/frontend-app-server

fix(Ornate): multiple xom fixes from feedback (#1046)
  apps/cognite-ornate/src/components/ListToolSidebar/ListToolSidebar.tsx
  apps/cognite-ornate/src/components/WorkSpaceTools/WorkSpaceTools.tsx
  apps/cognite-ornate/src/components/WorkspaceDocsPanel/WorkspaceSearch.tsx
  apps/cognite-ornate/src/pages/Ornate/Ornate.tsx
  packages/ornate/src/cognite-ornate.ts
  packages/ornate/src/tools/ListTool.ts
Owners: @cognitedata/griff-team, @cognitedata/frontend-app-server

feat(discover): enable NPT events to work with new wells SDK (#1056)
  apps/discover/src/modules/wellSearch/hooks/useNptEventsQuery.ts
  apps/discover/src/modules/wellSearch/selectors/asset/wellbore.ts
  apps/discover/src/modules/wellSearch/selectors/sequence/useOverviewData.ts
  apps/discover/src/modules/wellSearch/types.ts
  apps/discover/src/modules/wellSearch/utils/__tests__/events.test.ts
  apps/discover/src/modules/wellSearch/utils/common.ts
  apps/discover/src/modules/wellSearch/utils/events.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/filters/NPTDurationFilter.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/overview/types.ts
  apps/discover/src/tenants/discover-e2e-azure-dev/config.ts
Owners: @cognitedata/discover

Fix constructor
  examples/src/pages/e2e/TestViewer.tsx
Owners: @cognitedata/frontend-app-server

Compile fix
  examples/src/pages/e2e/TestViewer.tsx
Owners: @cognitedata/frontend-app-server

More broken examples
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/TwoModels.tsx
Owners: @cognitedata/frontend-app-server

Update documentation/docs/examples/timeline.mdx
  documentation/docs/examples/timeline.mdx
Owners: @cognitedata/frontend-app-server

Update documentation/docs/examples/timeline.mdx
  documentation/docs/examples/timeline.mdx
Owners: @cognitedata/frontend-app-server

More compile fixes
  examples/src/pages/SSAO.tsx
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/TwoModels.tsx
  examples/src/utils/createManagerAndLoadModel.ts
Owners: @cognitedata/frontend-app-server

chore: only upload image diff and add comment if visual test actually fails (not e.g. examples)
  .github/workflows/ci.yml
Owners: @cognitedata/frontend-app-server

Test what happens when examples fail.
  examples/src/pages/SSAO.tsx
Owners: @cognitedata/frontend-app-server

Revert "Test what happens when examples fail."
  examples/src/pages/SSAO.tsx
Owners: @cognitedata/frontend-app-server

Make visual test fail to verify that CI works.
  examples/src/visual_tests/__image_snapshots__/cad_default-highlight-snap.png
Owners: @cognitedata/frontend-app-server

Some fixes and cursor zoom lock after click
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/public/migration/types.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

New attempt
  .github/workflows/ci.yml
Owners: @cognitedata/frontend-app-server

And try again
  .github/workflows/ci.yml
Owners: @cognitedata/frontend-app-server

fix: add markers to circle and text (#1061)
  packages/ornate/src/tools/CircleTool.ts
  packages/ornate/src/tools/TextTool.ts
Owners: @cognitedata/frontend-app-server

Add step that fails CI
  .github/workflows/ci.yml
Owners: @cognitedata/frontend-app-server

Revert "Make visual test fail to verify that CI works."
  examples/src/visual_tests/__image_snapshots__/cad_default-highlight-snap.png
Owners: @cognitedata/frontend-app-server

Move AreaCollection and related to their own folder
  viewer/packages/cad-styling/index.ts
  viewer/packages/cad-styling/src/CombineNodeCollectionBase.ts
  viewer/packages/cad-styling/src/IntersectionNodeCollection.ts
  viewer/packages/cad-styling/src/NodeAppearanceProvider.ts
  viewer/packages/cad-styling/src/NodeCollectionBase.ts
  viewer/packages/cad-styling/src/TreeIndexNodeCollection.ts
  viewer/packages/cad-styling/src/UnionNodeCollection.ts
  viewer/packages/cad-styling/src/prioritized/AreaCollection.ts
  viewer/packages/cad-styling/src/prioritized/mergeboxes/BoxClusterer.ts
  viewer/packages/cad-styling/src/prioritized/mergeboxes/MergingRTree.test.ts
  viewer/packages/cad-styling/src/prioritized/mergeboxes/MergingRTree.ts
  viewer/packages/cad-styling/src/prioritized/mergeboxes/RTreeMergeBoxes.ts
  viewer/packages/cad-styling/src/prioritized/mergeboxes/SmartMergeBoxes.test.ts
  viewer/packages/cad-styling/src/prioritized/mergeboxes/SmartMergeBoxes.ts
  viewer/packages/cad-styling/src/prioritized/types.ts
  viewer/packages/cad-styling/src/stubs/StubNodeCollection.ts
Owners: @cognitedata/frontend-app-server

Implement manual area specification for TreeIndexNodeCollection
  viewer/packages/cad-styling/src/TreeIndexNodeCollection.ts
Owners: @cognitedata/frontend-app-server

Move PrioritizedArea to cad-styling
  viewer/packages/cad-geometry-loaders/index.ts
  viewer/packages/cad-geometry-loaders/src/CadNode.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/WeightFunctionsHelper.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/WeightFunctionsHelper.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/types.ts
Owners: @cognitedata/frontend-app-server

Let populatorhelper populate in bulk
  viewer/core/src/datamodels/cad/styling/AssetNodeCollection.ts
  viewer/core/src/datamodels/cad/styling/PopulateIndexSetFromPagedResponseHelper.test.ts
  viewer/core/src/datamodels/cad/styling/PopulateIndexSetFromPagedResponseHelper.ts
  viewer/core/src/datamodels/cad/styling/PropertyFilterNodeCollection.ts
  viewer/core/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.ts
Owners: @cognitedata/frontend-app-server

Increase default priority
  viewer/core/src/public/migration/Cognite3DModel.ts
Owners: @cognitedata/frontend-app-server

Correct a couple of error messages
  viewer/core/src/public/migration/RevealManagerHelper.ts
Owners: @cognitedata/frontend-app-server

Move responsibility for prioritizedAreas to NodesAppearanceProvider
  viewer/packages/cad-geometry-loaders/src/CadNode.ts
  viewer/packages/cad-styling/src/NodeAppearanceProvider.ts
Owners: @cognitedata/frontend-app-server

[CHART-617] Use nullish coalescing instead of falsy (#761)
  src/components/Nodes/DSPToolboxFunction.tsx
Owners: @cognitedata/frontend-app-server

Bump nx for v13 (#52)
  .storybook/main.js
  README.md
  nx.json
  package.json
  scripts/start.sh
  tsconfig.base.json
  workspace.json
  yarn.lock
Owners: @cognitedata/frontend-app-server

Get rid of a couple of lint warnings
  viewer/core/src/datamodels/cad/styling/AssetNodeCollection.ts
  viewer/core/src/datamodels/cad/styling/PopulateIndexSetFromPagedResponseHelper.ts
  viewer/packages/cad-geometry-loaders/src/CadNode.ts
  viewer/packages/cad-styling/src/NodeAppearanceProvider.ts
  viewer/packages/cad-styling/src/TreeIndexNodeCollection.ts
  viewer/packages/cad-styling/src/prioritized/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

feat(discover): Integrate unit preference with backend (#1032)
  apps/discover/package.json
  apps/discover/src/hooks/useUserPreference.ts
  apps/discover/src/hooks/useUserPreferences.ts
  apps/discover/src/modules/wellSearch/hooks/useFilterConfigByCategory.ts
  apps/discover/src/modules/wellSearch/hooks/useWellFilterOptionsQuery.ts
  apps/discover/src/modules/wellSearch/selectors/event/__test__/helper.test.ts
  apps/discover/src/modules/wellSearch/selectors/event/event.ts
  apps/discover/src/modules/wellSearch/selectors/event/helper.ts
  apps/discover/src/modules/wellSearch/selectors/event/hooks/__test__/useHelpers.test.ts
  apps/discover/src/modules/wellSearch/selectors/event/hooks/useHelpers.ts
  apps/discover/src/modules/wellSearch/selectors/sequence/__tests__/casing.test.ts
  apps/discover/src/modules/wellSearch/selectors/sequence/__tests__/useOverviewData.test.ts
  apps/discover/src/modules/wellSearch/selectors/sequence/casing.ts
  apps/discover/src/modules/wellSearch/selectors/sequence/useOverviewData.ts
  apps/discover/src/pages/authorized/menubar/userSettings/settings/MeasurementSetting.tsx
  apps/discover/src/pages/authorized/search/search/SideBar/filters/WellsFilter.tsx
  apps/discover/src/pages/authorized/search/well/content/result/WellResultTable.tsx
  apps/discover/src/pages/authorized/search/well/hooks/__test__/useWellUtils.test.ts
  apps/discover/src/pages/authorized/search/well/hooks/useWellUtils.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/casing/Casing.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/casing/hooks/__tests__/useHelpers.test.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/casing/hooks/useHelpers.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Nds/EventsNDS.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Nds/__test__/utils.test.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Nds/hooks/__test__/useHelpers.test.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Nds/hooks/useHelpers.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/table/hooks/__tests__/useHelpers.test.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/table/hooks/useHelpers.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/logType/LogViewer/LogViewer.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/overview/Overview.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/overview/hooks/__test__/useOverviewUtils.test.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/overview/hooks/useOverviewUtils.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/overview/utils.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/trajectory/Trajectory2D/Trajectory2D.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/trajectory/Trajectory2D/__tests__/Trajectory2D.test.tsx
Owners: @cognitedata/discover

Yeet an underscore at private method
  viewer/core/src/datamodels/cad/styling/AssetNodeCollection.ts
Owners: @cognitedata/frontend-app-server

Wrap call into lambda to please linter
  viewer/core/src/datamodels/cad/styling/AssetNodeCollection.ts
Owners: @cognitedata/frontend-app-server

Renamed TimelineKeyframe to Keyframe, restructured Keyframe module
  documentation/docs/examples/timeline.mdx
  viewer/packages/tools/index.ts
  viewer/packages/tools/src/Timeline/Keyframe.ts
  viewer/packages/tools/src/Timeline/TimelineKeyframe.ts
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

feat(discover): Number of selected wells (#1064)
  apps/discover/src/modules/wellSearch/selectors/__test__/well.test.ts
  apps/discover/src/modules/wellSearch/selectors/asset/well.ts
  apps/discover/src/pages/authorized/search/well/inspect/Sidebar/Header.tsx
  apps/discover/src/pages/authorized/search/well/inspect/Sidebar/_tests_/Header.test.ts
Owners: @cognitedata/discover
