Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

Lint fix
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

chore(viewer): bump version 2.1.2
  viewer/package.json
Owners: @cognitedata/frontend-app-server

feat(ornate): workspaces in cloud (#1010)
  apps/cognite-ornate/src/components/Workspace/WorkspacesList/RecentWorkspaces.tsx
  apps/cognite-ornate/src/pages/Ornate/Ornate.tsx
  apps/cognite-ornate/src/services/index.ts
  apps/cognite-ornate/src/services/storage-provider.ts
  apps/cognite-ornate/src/services/workspace.service.ts
  apps/cognite-ornate/src/types.ts
  apps/cognite-ornate/src/utils/sidecar.ts
Owners: @cognitedata/griff-team

fix: revert packaging structure and add path aliases with post-compile declaration fix (#1662)
  viewer/.yarnrc.yml
  viewer/index.ts
  viewer/internals.ts
  viewer/package.json
  viewer/tools.ts
  viewer/tsconfig.json
  viewer/tsconfig.webpack.json
  viewer/webpack.config.js
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

Fix dependency screw-up
  viewer/core/package.json
  viewer/package.json
  viewer/packages/materials/package.json
  viewer/packages/materials/src/CadMaterialManager.ts
  viewer/packages/materials/src/InstancedMeshManager.test.ts
  viewer/packages/materials/src/InstancedMeshManager.ts
  viewer/packages/materials/src/sector/CadNode.ts
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

fix(ornate): disable hot keys when searching and renaming (#1020)
  apps/cognite-ornate/src/components/ListToolSidebar/ListToolSidebarAsset.tsx
  apps/cognite-ornate/src/components/WorkSpaceTools/WorkSpaceTools.tsx
  apps/cognite-ornate/src/components/WorkspaceDocsPanel/WorkspaceHeader.tsx
  apps/cognite-ornate/src/components/WorkspaceDocsPanel/WorkspaceSearch.tsx
Owners: @cognitedata/griff-team

fix: show results on focus if query is set (#1021)
  apps/cognite-ornate/src/components/WorkspaceDocsPanel/WorkspaceSearch.tsx
Owners: @cognitedata/griff-team

feat/add-line-support (#434)
  package.json
  src/modules/Common/Components/FileDownloaderModal/annotationConverters.ts
  src/modules/Review/Components/KeyboardShortcutModal/KeyboardShortcutModalContent.tsx
  src/modules/Review/Components/ReactImageAnnotateWrapper/AnnotationEditPopup.tsx
  src/modules/Review/Components/ReactImageAnnotateWrapper/HotKeyMap.ts
  src/modules/Review/Components/ReactImageAnnotateWrapper/Tools.ts
  src/modules/Review/Containers/ImagePreview.tsx
  src/modules/Review/Containers/KeyboardShortKeys/ImageKeyboardShortKeys.tsx
  yarn.lock
Owners: @cognitedata/frontend-app-server

Lint fix
  viewer/core/src/datamodels/cad/CadManager.ts
  viewer/packages/cad-geometry-loaders/src/sector/sectorUtilities.ts
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/src/rendering/EffectRenderManager.ts
Owners: @cognitedata/frontend-app-server

Fix imports in sector-parser app
  viewer/packages/sector-parser/app/testMaterials.ts
Owners: @cognitedata/frontend-app-server

Move glslify
  viewer/packages/cad-parsers/package.json
  viewer/packages/rendering/package.json
Owners: @cognitedata/frontend-app-server

fix: add tool change custom event (#1023)
  apps/cognite-ornate/src/library/cognite-ornate.ts
  apps/cognite-ornate/src/library/tools/DefaultTool.ts
  apps/cognite-ornate/src/library/tools/ListTool.ts
  apps/cognite-ornate/src/library/tools/RectTool.ts
  apps/cognite-ornate/src/pages/Ornate/Ornate.tsx
Owners: @cognitedata/griff-team

feat: ornate metrics (#1022)
  apps/cognite-ornate/BUILD.bazel
  apps/cognite-ornate/src/App.tsx
  apps/cognite-ornate/src/components/ListToolSidebar/ListToolSidebar.tsx
  apps/cognite-ornate/src/components/ProvideMixpanel/ProvideMixpanel.tsx
  apps/cognite-ornate/src/components/ProvideMixpanel/index.ts
  apps/cognite-ornate/src/components/ShapeSettings/ColorPicker/ColorPicker.tsx
  apps/cognite-ornate/src/components/ShapeSettings/ShapeSettings.tsx
  apps/cognite-ornate/src/components/WorkSpaceTools/WorkSpaceTools.tsx
  apps/cognite-ornate/src/components/Workspace/WorkspacesList/RecentWorkspaces.tsx
  apps/cognite-ornate/src/index.tsx
  apps/cognite-ornate/src/utils/reportWebVitals.ts
  apps/cognite-ornate/src/utils/sidecar.ts
Owners: @cognitedata/griff-team

Passing tenant configs to filter count query (#1018)
  apps/discover/src/modules/documentSearch/hooks/useDocumentsCategories.ts
Owners: @cognitedata/discover

fix: setting maxWorkers to 1 magically makes watching single test files MUCH faster
  viewer/package.json
Owners: @cognitedata/frontend-app-server

bump version (#435)
  package.json
  yarn.lock
Owners: @cognitedata/frontend-app-server

fix: improve test speed
  viewer/package.json
Owners: @cognitedata/frontend-app-server

Remaining key-points [VIS-447] (#420)
  src/modules/Review/Components/AnnotationsTable/AnnotationsTable.tsx
  src/modules/Review/Components/CollapsibleAnnotationTableRow/CollapsibleAnnotationTableRow.tsx
  src/modules/Review/store/annotationLabelSlice.ts
  src/modules/Review/types.ts
Owners: @cognitedata/frontend-app-server

feat(discover): add user settings (measurement) (#1003)
  apps/discover/BUILD.bazel
  apps/discover/src/constants/react-query.ts
  apps/discover/src/hooks/useUserPreferences.ts
  apps/discover/src/modules/userManagementService/endpoints.ts
  apps/discover/src/modules/userManagementService/query.ts
  apps/discover/src/pages/authorized/menubar/Topbar.tsx
  apps/discover/src/pages/authorized/menubar/userSettings/UserSettings.tsx
  apps/discover/src/pages/authorized/menubar/userSettings/elements.ts
  apps/discover/src/pages/authorized/menubar/userSettings/index.ts
  apps/discover/src/pages/authorized/menubar/userSettings/settings/MeasurementSetting.tsx
  apps/discover/src/pages/authorized/menubar/userSettings/settings/index.ts
  apps/discover/tsconfig.json
  package.json
  packages/react-comments/src/__test_utils__/getMockUser.ts
  yarn.lock
Owners: @cognitedata/discover, @cognitedata/frontend-app-server, @cognitedata/frontend-comment-service

fix: improve test speed (#1663)
  viewer/package.json
Owners: @cognitedata/frontend-app-server

Disable create button with a tooltip explanation when read-only (#838)
  apps/extraction-pipelines/src/components/integrations/IntegrationsTable.test.jsx
  apps/extraction-pipelines/src/components/integrations/IntegrationsTable.tsx
  apps/extraction-pipelines/src/components/table/ITable.tsx
  apps/extraction-pipelines/src/pages/Integrations/Integrations.tsx
Owners: @cognitedata/frontend-app-server

Handle empty list of extpipes – show create button. Update design to the design from Figma (#839)
  apps/extraction-pipelines/src/components/error/NoIntegrations.tsx
  apps/extraction-pipelines/src/components/layout/FullPageLayout.tsx
  apps/extraction-pipelines/src/components/table/IntegrationsTable.test.jsx
  apps/extraction-pipelines/src/components/table/IntegrationsTable.tsx
  apps/extraction-pipelines/src/pages/Integrations/Integrations.test.jsx
  apps/extraction-pipelines/src/pages/Integrations/Integrations.tsx
  apps/extraction-pipelines/src/styles/grid/StyledGrid.tsx
Owners: @cognitedata/frontend-app-server

Fix botched import
  viewer/packages/cad-parsers/src/utilities/SectorSceneFactory.ts
Owners: @cognitedata/frontend-app-server

Add `az-power-no-northeurope` to cluster list (#739)
  src/pages/TenantSelector/index.tsx
Owners: @cognitedata/frontend-app-server

fix(ornate): reduce distance between pids (#1026)
  apps/cognite-ornate/src/library/cognite-ornate.ts
Owners: @cognitedata/griff-team

feat(ornate): use names attr to enable layer toggling (#1025)
  apps/cognite-ornate/src/components/CustomIcons/elements.ts
  apps/cognite-ornate/src/components/CustomIcons/index.ts
  apps/cognite-ornate/src/components/WorkSpaceTools/WorkSpaceTools.tsx
  apps/cognite-ornate/src/library/cognite-ornate.ts
  apps/cognite-ornate/src/library/tools/CircleTool.ts
  apps/cognite-ornate/src/library/tools/LineTool.ts
  apps/cognite-ornate/src/library/tools/ListTool.ts
  apps/cognite-ornate/src/library/tools/RectTool.ts
  apps/cognite-ornate/src/library/tools/TextTool.ts
  apps/cognite-ornate/src/pages/Ornate/Ornate.tsx
  apps/cognite-ornate/src/utils/theme.ts
Owners: @cognitedata/griff-team

chore(discover): rename fas app id (#1030)
  apps/discover/.env
  apps/discover/BUILD.bazel
  apps/discover/package.json
  apps/discover/scripts/docker/docker-sidecar.js
  apps/discover/src/constants/app.ts
Owners: @cognitedata/discover

Update auto-approve-dependabot.yml to v3.0.1 (#38)
  .github/workflows/auto-approve-dependabot.yml
Owners: @cognitedata/frontend-app-server

Move SectorNode and RootSectorNode
  viewer/package.json
  viewer/packages/cad-parsers/index.ts
  viewer/packages/cad-parsers/src/sector/RootSectorNode.ts
  viewer/packages/cad-parsers/src/sector/SectorNode.ts
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/src/rendering/EffectRenderManager.ts
  viewer/packages/rendering/src/sector/CadNode.ts
Owners: @cognitedata/frontend-app-server

Refactoring and some fixes
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/public/migration/types.ts
  viewer/packages/cad-geometry-loaders/src/material-manager/rendering/EffectRenderManager.ts
  viewer/packages/camera-manager/README.md
  viewer/packages/camera-manager/app/index.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

Fixed controls readme
  viewer/packages/camera-manager/README.md
Owners: @cognitedata/frontend-app-server

Lint fixes
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/public/migration/types.ts
  viewer/packages/camera-manager/app/index.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

Implement prototypes of box clustering algorithms
  viewer/package.json
  viewer/packages/utilities/src/mergeboxes/BoxClustererBase.ts
  viewer/packages/utilities/src/mergeboxes/MergingRTree.test.ts
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
  viewer/packages/utilities/src/mergeboxes/RTreeMergeBoxes.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.test.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
  viewer/yarn.lock
Owners: @cognitedata/frontend-app-server

fix: improve test speed (#1663)
  viewer/package.json
Owners: @cognitedata/frontend-app-server

Fix botched import
  viewer/core/cad.ts
Owners: @cognitedata/frontend-app-server

chore: update readme (#1031)
  apps/discover/README.md
Owners: @cognitedata/discover

Rewrite BoxClusterer to become AreaCollections™
  viewer/core/src/datamodels/cad/styling/PropertyFilterNodeCollection.ts
  viewer/packages/cad-styling/src/AreaCollection.ts
  viewer/packages/cad-styling/src/CombineNodeCollectionBase.ts
  viewer/packages/cad-styling/src/IntersectionNodeCollection.ts
  viewer/packages/cad-styling/src/UnionNodeCollection.ts
  viewer/packages/cad-styling/src/mergeboxes/BoxClusterer.ts
  viewer/packages/cad-styling/src/mergeboxes/MergingRTree.test.ts
  viewer/packages/cad-styling/src/mergeboxes/MergingRTree.ts
  viewer/packages/cad-styling/src/mergeboxes/RTreeMergeBoxes.ts
  viewer/packages/cad-styling/src/mergeboxes/SmartMergeBoxes.test.ts
  viewer/packages/cad-styling/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Lint fix
  viewer/packages/cad-styling/src/AreaCollection.ts
  viewer/packages/cad-styling/src/IntersectionNodeCollection.ts
  viewer/packages/cad-styling/src/UnionNodeCollection.ts
  viewer/packages/cad-styling/src/mergeboxes/BoxClusterer.ts
  viewer/packages/cad-styling/src/mergeboxes/MergingRTree.ts
  viewer/packages/cad-styling/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

feat(discover): NPT events layout for selected wellbore (PP-1825) (#1029)
  apps/discover/src/_helpers/zindex.ts
  apps/discover/src/components/charts/StackedBarChart/ResetToDefault.tsx
  apps/discover/src/components/charts/StackedBarChart/StackedBarChart.tsx
  apps/discover/src/components/charts/StackedBarChart/common/Axes.tsx
  apps/discover/src/components/charts/StackedBarChart/common/Bars.tsx
  apps/discover/src/components/charts/StackedBarChart/common/Legend.tsx
  apps/discover/src/components/charts/StackedBarChart/common/__tests__/Bars.test.tsx
  apps/discover/src/components/charts/StackedBarChart/constants.ts
  apps/discover/src/components/charts/StackedBarChart/elements.ts
  apps/discover/src/components/charts/StackedBarChart/hooks/useChartScales.ts
  apps/discover/src/components/charts/StackedBarChart/hooks/useGroupedData.ts
  apps/discover/src/components/charts/StackedBarChart/types.ts
  apps/discover/src/components/charts/StackedBarChart/utils.ts
  apps/discover/src/components/emptyState/elements.tsx
  apps/discover/src/components/no-unmount-show-hide/NoUnmountShowHide.tsx
  apps/discover/src/components/no-unmount-show-hide/elements.ts
  apps/discover/src/components/overlay-navigation/OverlayNavigation.test.tsx
  apps/discover/src/components/overlay-navigation/OverlayNavigation.tsx
  apps/discover/src/components/overlay-navigation/elements.ts
  apps/discover/src/components/overlay-navigation/index.ts
  apps/discover/src/modules/wellInspect/actions.ts
  apps/discover/src/modules/wellInspect/reducer.ts
  apps/discover/src/modules/wellInspect/selectors.ts
  apps/discover/src/modules/wellInspect/types.ts
  apps/discover/src/modules/wellSearch/selectors/event/event.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/NPTEvents.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/graph/NPTGraph.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/graph/SelectedWellboreView/NPTDurationGraph.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/graph/SelectedWellboreView/NPTEventsTable.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/graph/SelectedWellboreView/NavigationPanel.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/graph/SelectedWellboreView/SelectedWellboreView.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/graph/SelectedWellboreView/constants.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/graph/SelectedWellboreView/elements.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/graph/SelectedWellboreView/index.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/graph/constants.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/events/Npt/table/hooks/useHelpers.ts
Owners: @cognitedata/discover

Removed assignStyles by date and removed separate active timeline keyframe list
  documentation/docs/examples/timeline.mdx
  examples/yarn.lock
  viewer/package.json
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container
