Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

Refactor. Use cognite colors
  apps/extraction-pipelines/src/components/buttons/AddFieldValueBtn.tsx
  apps/extraction-pipelines/src/components/integration/edit/Schedule.tsx
  apps/extraction-pipelines/src/components/navigation/breadcrumbs/Breadcrumbs.tsx
Owners: @cognitedata/frontend-app-server

Move to v1 from playground
  apps/extraction-pipelines/src/utils/baseURL.tsx
Owners: @cognitedata/frontend-app-server

chore(ornate): stop dependabot from updating pdfjs-dist (#993)
  .github/dependabot.yml
Owners: @cognitedata/frontend-app-server

Don't export RTreeNode
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
Owners: @cognitedata/frontend-app-server

Make tree field of RTreeMergeBoxes private
  viewer/packages/utilities/src/mergeboxes/RTreeMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

fix: add ViewerState to exports
  viewer/core/src/index.ts
Owners: @cognitedata/frontend-app-server

Fix import paths
  apps/extraction-pipelines/src/components/error/NoIntegrations.tsx
  apps/extraction-pipelines/src/components/inputs/cron/CronInput.test.jsx
  apps/extraction-pipelines/src/components/inputs/rawSelector/ConnectRawTablesInput.test.jsx
  apps/extraction-pipelines/src/components/inputs/rawSelector/DatabaseTables.test.jsx
  apps/extraction-pipelines/src/components/integration/DataSetView.test.jsx
  apps/extraction-pipelines/src/components/integrations/cols/RawTable.test.jsx
  apps/extraction-pipelines/src/components/table/IntegrationTableCol.test.jsx
  apps/extraction-pipelines/src/hooks/useDataSetsList.tsx
  apps/extraction-pipelines/src/hooks/usePostIntegration.tsx
  apps/extraction-pipelines/src/hooks/useRawDBAndTables.tsx
  apps/extraction-pipelines/src/pages/create/Create.tsx
  apps/extraction-pipelines/src/utils/DataSetAPI.ts
  apps/extraction-pipelines/src/utils/validation/contactValidation.ts
Owners: @cognitedata/frontend-app-server

Fix eslint errors
  apps/extraction-pipelines/src/components/table/IntegrationTableCol.test.jsx
  apps/extraction-pipelines/src/components/table/details/DetailsValueView.test.jsx
  apps/extraction-pipelines/src/hooks/details/useDetailsUpdate.test.jsx
Owners: @cognitedata/frontend-app-server

Convert integrationUtils test to js as well
  apps/extraction-pipelines/src/utils/integrationUtils.test.js
Owners: @cognitedata/frontend-app-server

Convert .test.ts to .test.js, and fix problems
  apps/extraction-pipelines/src/components/chart/runChartUtils.test.js
  apps/extraction-pipelines/src/components/inputs/dateTime/TimeSelectorUtils.test.js
  apps/extraction-pipelines/src/hooks/useOneOfPermissions.test.js
  apps/extraction-pipelines/src/utils/RawDataBaseAPI.test.js
  apps/extraction-pipelines/src/utils/RunsAPI.test.js
  apps/extraction-pipelines/src/utils/cronUtils.test.js
  apps/extraction-pipelines/src/utils/dataSetUtils.test.js
  apps/extraction-pipelines/src/utils/dateUtils.test.js
  apps/extraction-pipelines/src/utils/fieldUtils.test.js
  apps/extraction-pipelines/src/utils/primitivesUtils.test.js
  apps/extraction-pipelines/src/utils/raw/rawUtils.test.js
  apps/extraction-pipelines/src/utils/runsUtils.test.js
  apps/extraction-pipelines/src/utils/validation/contactValidation.test.js
Owners: @cognitedata/frontend-app-server

Fixes after review.
  src/App.tsx
  src/pages/solutions/SolutionsList.tsx
Owners: @cognitedata/frontend-app-server

fix: tiny typo
  viewer/packages/utilities/src/workers/WorkerPool.ts
Owners: @cognitedata/frontend-app-server

fix: hoist package dependencies and add them to the bundle (#1654)
  viewer/.yarnrc.yml
  viewer/core/src/index.ts
  viewer/index.ts
  viewer/internals.ts
  viewer/package.json
  viewer/packages/cad-parsers/src/metadata/types.ts
  viewer/packages/cad-parsers/src/utilities/SectorScene.ts
  viewer/packages/cad-parsers/src/utilities/types.ts
  viewer/packages/utilities/src/events/clickOrTouchEventOffset.ts
  viewer/tools.ts
  viewer/tsconfig.webpack.json
  viewer/webpack.config.js
Owners: @cognitedata/frontend-app-server

lint
  viewer/packages/cad-geometry-loaders/src/sector/culling/WeightFunctionsHelper.ts
Owners: @cognitedata/frontend-app-server

Create abstraction layer with BoxClustererBase interface
  viewer/packages/utilities/src/mergeboxes/BoxClustererBase.ts
  viewer/packages/utilities/src/mergeboxes/RTreeMergeBoxes.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.test.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Fix reference to non-existent function
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.test.ts
Owners: @cognitedata/frontend-app-server

getWrappedInstance -> getValue
  viewer/packages/utilities/src/mergeboxes/BoxClustererBase.ts
  viewer/packages/utilities/src/mergeboxes/RTreeMergeBoxes.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

feat(tenant-selector): add better fake idp error (#999)
  packages/react-tenant-selector/CHANGELOG.md
  packages/react-tenant-selector/package.json
  packages/react-tenant-selector/src/components/LoginOptions/LoginWithFakeIDP.tsx
Owners: @cognitedata/frontend-tenant-selector-team

Remove genericity of interface
  viewer/packages/utilities/src/mergeboxes/BoxClustererBase.ts
  viewer/packages/utilities/src/mergeboxes/RTreeMergeBoxes.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Simplify MergingRTree constructor
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
Owners: @cognitedata/frontend-app-server

== -> ===
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
Owners: @cognitedata/frontend-app-server

Simplify RTreeMergeBoxes constructor
  viewer/packages/utilities/src/mergeboxes/RTreeMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Some fixes and update for missed raycasts
  viewer/core/src/public/migration/Cognite3DViewer.ts
Owners: @cognitedata/frontend-app-server

A change to trigger CI
  README.md
Owners: @cognitedata/frontend-app-server

A change to kick of CI
  README.md
Owners: @cognitedata/frontend-app-server

Make return type and input types into generators
  viewer/packages/utilities/src/mergeboxes/BoxClustererBase.ts
  viewer/packages/utilities/src/mergeboxes/MergingRTree.test.ts
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
  viewer/packages/utilities/src/mergeboxes/RTreeMergeBoxes.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.test.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Make addBoxes back into an array-consuming function
  viewer/packages/utilities/src/mergeboxes/BoxClustererBase.ts
  viewer/packages/utilities/src/mergeboxes/RTreeMergeBoxes.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.test.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Simplify constructor signature
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

feat(cognut): Add help button + change topbar to cogs + disable intercom (#1000)
  apps/cognuit/src/App.tsx
  apps/cognuit/src/components/Atoms/UserAvatar.tsx
  apps/cognuit/src/components/Organisms/MainHeader.tsx
  apps/cognuit/src/configs/navigation.ts
  apps/cognuit/src/configs/sidecar.ts
  apps/cognuit/src/elements.ts
  apps/cognuit/src/utils/Table/curate.ts
  apps/cognuit/src/utils/sorts.ts
  apps/cognuit/src/utils/window.ts
Owners: @cognitedata/subsurface-data

feat: add time series description on the sidebar [CHART-610] (#737)
  src/components/DetailsSidebar/MetadataList.tsx
Owners: @cognitedata/frontend-app-server

doc: fix broken preview docs
  .github/workflows/preview-documentation.yml
Owners: @cognitedata/frontend-app-server

Make argument to addBoxes Iterable
  viewer/packages/utilities/src/mergeboxes/BoxClustererBase.ts
  viewer/packages/utilities/src/mergeboxes/RTreeMergeBoxes.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.test.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

chore: speed up e2e tests (#992)
  apps/discover/BUILD.bazel
  apps/discover/scripts/testcafe/testcafe-bazel-serve.sh
  rules/test/cypress_batch_test.bzl
  rules/test/testcafe_batch_test.bzl
Owners: @cognitedata/discover, @cognitedata/frontend-app-server

doc: fix broken preview docs (#1658)
  .github/workflows/preview-documentation.yml
Owners: @cognitedata/frontend-app-server

chore: pin github action package to avoid things breaking in the future
  .github/workflows/preview-documentation.yml
Owners: @cognitedata/frontend-app-server

chore: pin github action package to avoid things breaking in the future (#1659)
  .github/workflows/preview-documentation.yml
Owners: @cognitedata/frontend-app-server

chore(viewer): bump version 2.1.1
  viewer/.yarnrc.yml
  viewer/package.json
Owners: @cognitedata/frontend-app-server

fix: add version plugin
  viewer/.yarn/plugins/@yarnpkg/plugin-version.cjs
Owners: @cognitedata/frontend-app-server

chore(viewer): bump version 2.1.1 (#1660)
  viewer/.yarn/plugins/@yarnpkg/plugin-version.cjs
  viewer/.yarnrc.yml
  viewer/package.json
Owners: @cognitedata/frontend-app-server

chore(ornate): remove pdfjs 2.9 from yarn.lock (#998)
  apps/cognite-ornate/package.json
  apps/cognite-ornate/yarn.lock
Owners: @cognitedata/griff-team

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container
