Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

Update src/pages/Groups/utils.tsx
  src/pages/Groups/utils.tsx
Owners: @cognitedata/frontend-app-server

Delete old mergeboxes directory
  viewer/packages/utilities/src/mergeboxes/BoxClustererBase.ts
  viewer/packages/utilities/src/mergeboxes/MergingRTree.test.ts
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
  viewer/packages/utilities/src/mergeboxes/RTreeMergeBoxes.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.test.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Rename method in CustomDataSource example
  examples/src/pages/CustomDataSource.tsx
Owners: @cognitedata/frontend-app-server

hotfix(discover): disable version number in sidebar (#1094)
  apps/discover/src/pages/authorized/user-profile/UserProfileOvelayFooter.tsx
  apps/discover/testcafe/tests/topbar/userProfile.testcafe.ts
Owners: @cognitedata/discover

Improve heuristics in stupid merge box algorithm
  viewer/packages/cad-styling/src/prioritized/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Update docs and argument names for bounding box method
  viewer/packages/nodes-api/src/NodesApiClient.ts
  viewer/packages/nodes-api/src/NodesLocalClient.ts
Owners: @cognitedata/frontend-app-server

Clean cache correctly in AppearanceProvider
  viewer/packages/cad-styling/src/NodeAppearanceProvider.ts
Owners: @cognitedata/frontend-app-server

Lint fix SmartMergeBoxes
  viewer/packages/cad-styling/src/prioritized/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Added callback for icon click
  documentation/yarn.lock
  examples/src/pages/Toolbar.tsx
  viewer/packages/tools/src/Toolbar/Toolbar.css
  viewer/packages/tools/src/Toolbar/Toolbar.ts
  viewer/packages/tools/src/Toolbar/ToolbarTool.ts
Owners: @cognitedata/frontend-app-server

chore: refactor/fix problems with copied components and add aria-label attributes (#12)
  package.json
  src/components/Breadcrumb/Breadcrumb.test.tsx
  src/components/Breadcrumb/BreadcrumbItem.tsx
  src/components/CreateDatabase/CreateDatabase.tsx
  src/components/CreateTable/CreateTable.tsx
  src/components/DatabaseList/DatabaseItem.tsx
  src/components/Link/Link.js
  src/components/Link/index.js
  src/components/TableContent/TableContent.tsx
  src/components/UploadCSV/UploadCSV.tsx
  src/containers/App/App.tsx
  src/containers/RawExplorer/RawExplorer.tsx
  src/contexts/RawExplorerContext.tsx
  yarn.lock
Owners: @cognitedata/frontend-app-server

Added padding to container & give proper name for onClick event for icon
  viewer/packages/tools/src/Toolbar/Toolbar.ts
  viewer/packages/tools/src/Toolbar/ToolbarTool.ts
Owners: @cognitedata/frontend-app-server

feat(discover): Digital rock user preferred unit (#1093)
  apps/discover/src/modules/wellSearch/selectors/asset/digitalRocks.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/digitalRocks/DigitalRocks.tsx
Owners: @cognitedata/discover

Device pixel ratio when converting to screen space
  viewer/core/src/utilities/worldToViewport.ts
Owners: @cognitedata/frontend-app-server

Fetch datapoints for timeseries in parallell (#776)
  src/components/PlotlyChart/PlotlyChart.tsx
  src/components/PlotlyChart/elements.tsx
  src/components/PlotlyChart/utils.ts
  src/models/timeseries/selectors.spec.ts
  src/models/timeseries/selectors.ts
  src/models/timeseries/types.ts
  src/pages/ChartView/TimeSeriesRow.tsx
Owners: @cognitedata/frontend-app-server

DX 70 subnavigation for solution component. (#66)
  apps/platypus/src/app/App.tsx
  apps/platypus/src/app/components/Header/Header.tsx
  apps/platypus/src/app/components/Navigations/NavigationMain.tsx
  apps/platypus/src/app/components/Navigations/NavigationSolution.tsx
  apps/platypus/src/app/components/Navigations/PlatypusLogo.tsx
  apps/platypus/src/app/pages/guide&tools/GuideTools.tsx
  apps/platypus/src/app/pages/guide&tools/GuideToolsPage.tsx
  apps/platypus/src/app/pages/solutions/Solution.tsx
  apps/platypus/src/app/pages/solutions/SolutionsList.tsx
  apps/platypus/src/app/pages/solutions/SolutionsPage.tsx
  apps/platypus/src/app/pages/solutions/Tabs/DeploymentsPage.tsx
  apps/platypus/src/app/pages/solutions/Tabs/DevelopmentToolsPage.tsx
  apps/platypus/src/app/pages/solutions/Tabs/IntegrationsPage.tsx
  apps/platypus/src/app/pages/solutions/Tabs/VersionsPage.tsx
  apps/platypus/src/app/pages/statusboard/Statusboard.tsx
  apps/platypus/src/app/pages/statusboard/StatusboardPage.tsx
  apps/platypus/src/app/pages/styles/SharedStyles.tsx
Owners: @cognitedata/frontend-app-server

Wait for calculation result before statistics (#777)
  src/components/DetailsSidebar/utils.tsx
  src/services/calculation-backend.ts
Owners: @cognitedata/frontend-app-server

refactor: change metadata definition to include gltf
  examples/src/pages/Migration.tsx
  viewer/core/src/datamodels/cad/sector/CadModelClipper.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/OrderSectorsByVisibilityCoverage.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/PassThroughSectorCuller.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/TakenSectorTree.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/types.ts
  viewer/packages/cad-parsers/index.ts
  viewer/packages/cad-parsers/src/metadata/CadMetadataParser.ts
  viewer/packages/cad-parsers/src/metadata/CadModelMetadataRepository.ts
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserV8.ts
  viewer/packages/cad-parsers/src/metadata/parsers/types.ts
  viewer/packages/cad-parsers/src/metadata/types.ts
  viewer/packages/cad-parsers/src/sector/RootSectorNode.ts
  viewer/packages/sector-loader/src/V8SectorRepository.ts
  viewer/packages/sector-loader/src/v8/SimpleAndDetailedToSector3D.ts
  viewer/packages/sector-loader/src/v8/sectorUtilities.ts
Owners: @cognitedata/frontend-app-server

Fix more background color bugs. Add new visual test.
  examples/src/pages/e2e/cad/CustomBackgroundColorAndFXAA.tsx
  examples/src/pages/e2e/cad/TransparentCustomObjectWithBackgroundColor.tsx
  examples/src/pages/e2e/visualTests.ts
  viewer/packages/rendering/src/rendering/EffectRenderManager.ts
Owners: @cognitedata/frontend-app-server

Add snapshot
  examples/src/visual_tests/__image_snapshots__/cad_customBackgroundColorAndFXAA-snap.png
Owners: @cognitedata/frontend-app-server

feat: add gltf cadmetadataparser
  examples/src/pages/Migration.tsx
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
  viewer/packages/cad-parsers/src/metadata/CadMetadataParser.ts
  viewer/packages/cad-parsers/src/metadata/CadModelMetadataRepository.ts
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserGltf.ts
  viewer/packages/cad-parsers/src/metadata/parsers/types.ts
  viewer/packages/cad-parsers/src/metadata/types.ts
Owners: @cognitedata/frontend-app-server

Update snapshot
  examples/src/visual_tests/__image_snapshots__/cad_transparentCustomObjectWithBackgroundColor-snap.png
Owners: @cognitedata/frontend-app-server

Use new sector culler for GLTF
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByScreenSizeSectorCuller.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/TakenSectorMap.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/computeSectorCost.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/types.ts
  viewer/packages/cad-parsers/src/utilities/SectorScene.ts
  viewer/packages/cad-parsers/src/utilities/types.ts
Owners: @cognitedata/frontend-app-server

Load while moving camera and fix issue causing discard not to work
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
Owners: @cognitedata/frontend-app-server

feat(discover): Wells SDK V3 integration [Trajectories | Overview] (#1089)
  apps/discover/src/modules/wellSearch/hooks/useTrajectoriesQuery.ts
  apps/discover/src/modules/wellSearch/service/sequence/constants.ts
  apps/discover/src/modules/wellSearch/service/sequence/trajectory.ts
  apps/discover/src/modules/wellSearch/types.ts
  apps/discover/src/tenants/discover-e2e-azure-dev/config.ts
  package.json
  yarn.lock
Owners: @cognitedata/discover, @cognitedata/frontend-app-server

chore: remove config button (#778)
  src/components/TopBar/ChartActions.tsx
Owners: @cognitedata/frontend-app-server

fix(CDFUX-844): wait styles to be loaded before rendering sub app (#128)
  src/pages/Home/Home.tsx
  src/styles/GlobalStyles.tsx
Owners: @cognitedata/frontend-app-server

Disable loading while camera in motion
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
Owners: @cognitedata/frontend-app-server

chore(discover): add volve-test to discover (#1090)
  apps/discover/src/tenants/volve-test/config.ts
  apps/discover/src/tenants/volve-test/layers.ts
Owners: @cognitedata/discover

Fix broken ghost mode
  viewer/packages/rendering/src/rendering/EffectRenderManager.ts
Owners: @cognitedata/frontend-app-server

Remove unnecessary method
  viewer/packages/cad-styling/src/prioritized/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

fix(simconfig): Use correct dataset in simulation runs (#1107)
  apps/simconfig/src/components/tables/CalculationsTable/StatusCell.tsx
  apps/simconfig/src/components/tables/CalculationsTable/constants.ts
Owners: @cognitedata/simulator-integration

fix(ornate): ensure background is unselectable (#1080)
  packages/ornate/src/cognite-ornate.ts
Owners: @cognitedata/frontend-app-server

chore(ornate): remove unused packages and refactor unused config (#1097)
  apps/cognite-ornate/BUILD.bazel
  apps/cognite-ornate/src/index.tsx
  packages/ornate/src/tools/DefaultTool.ts
Owners: @cognitedata/griff-team, @cognitedata/frontend-app-server

fix(ornate): reduce mouse movement sensitivity (#1079)
  packages/ornate/src/tools/DefaultTool.ts
Owners: @cognitedata/frontend-app-server

chore: bump ornate development to 1.2.0 (#1057)
  apps/cognite-ornate/package.json
Owners: @cognitedata/griff-team

fix(discover): Fix related documents table rows not getting checked issue (#1104)
  apps/discover/src/pages/authorized/search/well/inspect/modules/relatedDocument/RelatedDocumentTable.tsx
Owners: @cognitedata/discover

feat(discover): color coded wellbores (#1103)
  apps/discover/src/modules/wellInspect/__tests__/actions.test.ts
  apps/discover/src/modules/wellInspect/__tests__/reducer.test.ts
  apps/discover/src/modules/wellInspect/actions.ts
  apps/discover/src/modules/wellInspect/constants.ts
  apps/discover/src/modules/wellInspect/reducer.ts
  apps/discover/src/modules/wellInspect/selectors.ts
  apps/discover/src/modules/wellInspect/types.ts
  apps/discover/src/modules/wellSearch/constants.ts
  apps/discover/src/modules/wellSearch/selectors/asset/well.ts
  apps/discover/src/modules/wellSearch/selectors/asset/wellbore.ts
  apps/discover/src/modules/wellSearch/selectors/sequence/measurements/useGeomechanicsFilterOptions.ts
  apps/discover/src/modules/wellSearch/selectors/sequence/measurements/usePPFGFilterOptions.ts
  apps/discover/src/modules/wellSearch/types.ts
  apps/discover/src/pages/authorized/search/well/inspect/Sidebar/Content.tsx
  apps/discover/src/pages/authorized/search/well/inspect/Sidebar/constants.ts
  apps/discover/src/pages/authorized/search/well/inspect/Sidebar/elements.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/common/ChartV2/CurveColorCode.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/common/ChartV2/__tests__/CurveColorCode.test.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/_tests_/utils.test.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/curveCentricView/CurveCentricCard.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/curveCentricView/CurveCentricView.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/filters/ViewModeSelector.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/filters/_tests_/ViewModeSelector.test.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/utils.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/wellCentricView/WellCentricCard.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/measurements/wellCentricView/WellCentricView.tsx
Owners: @cognitedata/discover

fix: properly discard sectors and don't load discarded sectors
  viewer/packages/cad-geometry-loaders/src/sector/culling/PassThroughSectorCuller.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
Owners: @cognitedata/frontend-app-server

feat(sidecar): add infield APIs (#1098)
  packages/sidecar/CHANGELOG.md
  packages/sidecar/package.json
  packages/sidecar/src/getDefaultSidecar.spec.ts
  packages/sidecar/src/getDefaultSidecar.ts
  packages/sidecar/src/types.ts
Owners: @cognitedata/frontend-app-server

Update snapshot.
  examples/src/visual_tests/__image_snapshots__/cad_transparentCustomObjectWithBackgroundColor-snap.png
Owners: @cognitedata/frontend-app-server

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container
