Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container

Commit so I can change computers for coding...
  viewer/core/src/datamodels/cad/styling/PopulateIndexSetFromPagedResponseHelper.test.ts
  viewer/core/src/datamodels/cad/styling/PopulateIndexSetFromPagedResponseHelper.ts
  viewer/core/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.ts
  viewer/packages/cad-styling/index.ts
  viewer/packages/cad-styling/src/AreaCollection.ts
  viewer/packages/cad-styling/src/CombineNodeCollectionBase.ts
  viewer/packages/cad-styling/src/NodeCollectionBase.ts
  viewer/packages/cad-styling/src/TreeIndexNodeCollection.ts
Owners: @cognitedata/frontend-app-server

fix: memory leak caused by NodeCollections not being removed from Cognite3DModel
  viewer/core/src/public/migration/Cognite3DModel.test.ts
  viewer/core/src/public/migration/Cognite3DModel.ts
Owners: @cognitedata/frontend-app-server

fix: setDefaultNodeApperance(Hidden) + styled node collection with Highlighted nodes to result in all objects to be hidden
  viewer/packages/cad-styling/src/NodeAppearance.ts
Owners: @cognitedata/frontend-app-server

chore: remove cloudsdk container from Jenkinsfile (#9)
  Jenkinsfile
Owners: @cognitedata/frontend-app-server

Fix margin bottom on dataset
  apps/extraction-pipelines/src/components/integration/IntegrationInformation.tsx
  apps/extraction-pipelines/src/components/integration/edit/EditDataSetId.tsx
Owners: @cognitedata/frontend-app-server

CSP: Merge v1.0.2 to master branch (#980)
  apps/digital-cockpit/package.json
  apps/digital-cockpit/public/UC2_952_536_v2.jpg
Owners: @cognitedata/griff-team

Add tests for intersection and union
  viewer/packages/utilities/src/SmartMergeBoxes.test.ts
  viewer/packages/utilities/src/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

Align role & name of contacts by baseline
  apps/extraction-pipelines/src/components/ContactInformation/ContactCard.tsx
Owners: @cognitedata/frontend-app-server

Refactor schedule, ensure line-height:1.5rem, etc
  apps/extraction-pipelines/src/components/integration/edit/Schedule.tsx
  apps/extraction-pipelines/src/components/integrations/cols/Schedule.tsx
Owners: @cognitedata/frontend-app-server

Fix mistake
  apps/extraction-pipelines/src/components/ContactInformation/ContactCard.tsx
Owners: @cognitedata/frontend-app-server

Circumvent nested ternary eslint limitations
  apps/extraction-pipelines/src/components/integration/InlineEdit.tsx
Owners: @cognitedata/frontend-app-server

Store progress
  viewer/core/src/datamodels/cad/styling/PopulateIndexSetFromPagedResponseHelper.test.ts
  viewer/core/src/datamodels/cad/styling/PopulateIndexSetFromPagedResponseHelper.ts
  viewer/core/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.ts
  viewer/core/src/public/migration/Cognite3DModel.ts
  viewer/packages/cad-styling/index.ts
  viewer/packages/cad-styling/src/AreaCollection.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/three/index.ts
  viewer/packages/utilities/src/three/toThreeBox3.ts
Owners: @cognitedata/frontend-app-server

fix: memory leak caused by NodeCollections not being removed from Cognite3DModel (#1651)
  viewer/core/src/public/migration/Cognite3DModel.test.ts
  viewer/core/src/public/migration/Cognite3DModel.ts
Owners: @cognitedata/frontend-app-server

Bump version (#736)
  package.json
Owners: @cognitedata/frontend-app-server

rename filename duplicates (#426)
  src/modules/Common/Components/FileDownloaderModal/FileDownloaderModalContent.tsx
  src/modules/Common/Components/FileTable/FileTableExplorer.tsx
  src/modules/Common/Components/FileUploader/utils/FileUtils.spec.ts
  src/modules/Common/Components/FileUploader/utils/FileUtils.ts
  src/modules/Common/Containers/FileTableRenderers/DateRenderer.tsx
  src/modules/Common/Containers/Sorters/DateSorter.tsx
  src/modules/Common/types.ts
  src/utils/DateUtils.ts
Owners: @cognitedata/frontend-app-server

Auto-approve and merge dependabot prs (#21)
  .github/dependabot.yml
  .github/workflows/auto-approve-dependabot.yml
Owners: @cognitedata/frontend-app-server

Fix tests
  apps/extraction-pipelines/src/components/integration/IntegrationHealth.test.tsx
  apps/extraction-pipelines/src/components/integration/MetaData.test.tsx
  apps/extraction-pipelines/src/components/integration/edit/Schedule.test.tsx
Owners: @cognitedata/frontend-app-server

feat(react-errors): bump deps (#989)
  packages/react-errors/CHANGELOG.md
  packages/react-errors/package.json
Owners: @cognitedata/frontend-react-container

Move and fix union,intersection
  viewer/packages/utilities/src/MergingRTree.test.ts
  viewer/packages/utilities/src/MergingRTree.ts
Owners: @cognitedata/frontend-app-server

Final adjustments
  apps/extraction-pipelines/src/components/integration/IntegrationHealth.test.tsx
  apps/extraction-pipelines/src/components/integration/MetaData.test.tsx
Owners: @cognitedata/frontend-app-server

More changes
  viewer/core/src/datamodels/cad/styling/AssetNodeCollection.ts
  viewer/core/src/datamodels/cad/styling/InvertedNodeCollection.ts
  viewer/core/src/datamodels/cad/styling/PopulateIndexSetFromPagedResponseHelper.test.ts
  viewer/core/src/datamodels/cad/styling/PropertyFilterNodeCollection.ts
  viewer/core/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.test.ts
  viewer/core/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.ts
  viewer/core/src/public/migration/Cognite3DModel.ts
  viewer/packages/cad-styling/src/AreaCollection.ts
  viewer/packages/cad-styling/src/stubs/StubNodeCollection.ts
Owners: @cognitedata/frontend-app-server

chore: add build notices for all packages (#979)
  packages/.template/BUILD.bazel.hbs
  packages/auth-utils/BUILD.bazel
  packages/griff-loader/BUILD.bazel
  packages/intercom-helper/BUILD.bazel
  packages/metrics/BUILD.bazel
  packages/react-azure-telemetry/BUILD.bazel
  packages/react-comments/BUILD.bazel
  packages/react-container/BUILD.bazel
  packages/react-container/src/index.ts
  packages/react-document-table/BUILD.bazel
  packages/react-errors/BUILD.bazel
  packages/react-feature-flags/BUILD.bazel
  packages/react-griff-provider/BUILD.bazel
  packages/react-i18n/BUILD.bazel
  packages/react-loop-detector/BUILD.bazel
  packages/react-sentry/BUILD.bazel
  packages/react-tenant-selector/BUILD.bazel
  packages/sidecar/BUILD.bazel
  packages/storage/BUILD.bazel
  packages/z-index/BUILD.bazel
  scripts/BUILD.bazel
  scripts/log.js
Owners: @cognitedata/frontend-app-server, @cognitedata/frontend-auth-team, @cognitedata/griff-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service, @cognitedata/frontend-tenant-selector-team

FBug fixedgit status
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

Add some kind of consolidation technique
  viewer/packages/utilities/src/MergingRTree.ts
Owners: @cognitedata/frontend-app-server

Lint fix
  viewer/packages/utilities/src/MergingRTree.ts
Owners: @cognitedata/frontend-app-server

Move files to their own folder
  viewer/packages/utilities/src/mergeboxes/MergingRTree.test.ts
  viewer/packages/utilities/src/mergeboxes/MergingRTree.ts
  viewer/packages/utilities/src/mergeboxes/RTreeMergeBoxes.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.test.ts
  viewer/packages/utilities/src/mergeboxes/SmartMergeBoxes.ts
Owners: @cognitedata/frontend-app-server

fix: hoist package dependencies and add them to the bundle
  viewer/.yarnrc.yml
  viewer/index.ts
  viewer/internals.ts
  viewer/package.json
  viewer/packages/cad-parsers/src/metadata/types.ts
  viewer/packages/cad-parsers/src/utilities/SectorScene.ts
  viewer/packages/cad-parsers/src/utilities/types.ts
  viewer/packages/utilities/src/events/clickOrTouchEventOffset.ts
  viewer/tools.ts
  viewer/tsconfig.webpack.json
  viewer/webpack.config.js
Owners: @cognitedata/frontend-app-server

fix: freeze the pdf lib (#991)
  package.json
  yarn.lock
Owners: @cognitedata/frontend-app-server

Added subpages for Solutions.
  src/App.tsx
  src/components/Header/Header.tsx
  src/pages/guide&tools/GuideTools.tsx
  src/pages/solutions/Solution.tsx
  src/pages/solutions/SolutionsList.tsx
  src/pages/solutions/SolutionsPage.tsx
  src/pages/solutions/Tabs/DataModelPage.tsx
  src/pages/solutions/Tabs/IntegrationsPage.tsx
  src/pages/solutions/Tabs/OverviewPage.tsx
  src/pages/solutions/Tabs/SettingsPage.tsx
  src/pages/solutions/Tabs/VersionsPage.tsx
  src/pages/statusboard/Statusboard.tsx
Owners: @cognitedata/frontend-app-server

Broken test
  viewer/core/src/public/migration/Cognite3DModel.test.ts
Owners: @cognitedata/frontend-app-server

Remove links
  documentation/docs/extending/datasource.mdx
Owners: @cognitedata/frontend-app-server

Fix import.
  examples/src/pages/e2e/TestViewer.tsx
Owners: @cognitedata/frontend-app-server

Comment fix
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

data-exploration updated (#425)
  package.json
  yarn.lock
Owners: @cognitedata/frontend-app-server

Use ByScreenSizeSectorCuller
  viewer/internals.ts
  viewer/packages/cad-geometry-loaders/index.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByVisibilityGpuSectorCuller.ts
Owners: @cognitedata/frontend-app-server

Upgrade bazel rules and deps (#988)
  WORKSPACE
  package.json
  yarn.lock
Owners: @cognitedata/frontend-app-server

Simplify expression
  apps/extraction-pipelines/src/components/buttons/AddFieldValueBtn.tsx
Owners: @cognitedata/frontend-app-server

fix(CDFUX-882): update imports from antd (#125)
  src/pages/Groups/RawSelector.tsx
Owners: @cognitedata/frontend-app-server

trying absolute links
  .gitignore
  src/assets/cognite-platypus.svg
  src/components/Header/Header.tsx
  src/components/Header/cognite-platypus.svg
  src/logo.svg
  tsconfig.json
Owners: @cognitedata/frontend-app-server

Refactoring
  apps/extraction-pipelines/src/components/integration/edit/Schedule.tsx
Owners: @cognitedata/frontend-app-server
