Repository cognitedata/reveal, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cognitedata/frontend-app-server, @cognitedata/subsurface-data, @cognitedata/griff-team, @cognitedata/frontend-tenant-selector-team, @cognitedata/discover, @cognitedata/simulator-integration, @cognitedata/frontend-auth-team, @cognitedata/frontend-react-container, @cognitedata/frontend-comment-service

.github/CODEOWNERS:

*  @cognitedata/frontend-app-server

# All code reviews go through the Subsurface Data Liberation team.
# Ping us on #subsurface or #subsurface-data-liberation if you have questions!
apps/cognuit @cognitedata/subsurface-data
apps/cognite-ornate @cognitedata/griff-team
apps/digital-cockpit @cognitedata/griff-team
apps/react-demo-app @cognitedata/frontend-app-server
apps/tenant-selector @cognitedata/frontend-tenant-selector-team
apps/discover @cognitedata/discover
# The Simulator Configuration app is owned by the Simulator Integration team
apps/simconfig @cognitedata/simulator-integration

packages/auth-utils                  @cognitedata/frontend-auth-team
packages/griff-loader                @cognitedata/griff-team
packages/intercom-helper             @cognitedata/frontend-app-server
packages/metrics                     @cognitedata/frontend-react-container
packages/react-azure-telemetry       @cognitedata/frontend-react-container
packages/react-comments              @cognitedata/frontend-comment-service
packages/react-container             @cognitedata/frontend-react-container
packages/react-errors                @cognitedata/frontend-react-container
packages/react-feature-flags         @cognitedata/frontend-react-container
packages/react-griff-provider        @cognitedata/griff-team
packages/react-i18n                  @cognitedata/frontend-react-container
packages/react-loop-detector         @cognitedata/frontend-react-container
packages/react-sentry                @cognitedata/frontend-react-container
packages/react-tenant-selector       @cognitedata/frontend-tenant-selector-team
packages/storage                     @cognitedata/frontend-react-container

Separate out EmptyAreaCollection and ClusteredAreaCollection
  viewer/core/src/datamodels/cad/styling/NodeCollectionDeserializer.test.ts
  viewer/packages/cad-styling/index.ts
  viewer/packages/cad-styling/src/IntersectionNodeCollection.ts
  viewer/packages/cad-styling/src/TreeIndexNodeCollection.ts
  viewer/packages/cad-styling/src/UnionNodeCollection.ts
  viewer/packages/cad-styling/src/prioritized/AreaCollection.ts
  viewer/packages/cad-styling/src/prioritized/ClusteredAreaCollection.ts
  viewer/packages/cad-styling/src/prioritized/EmptyAreaCollection.ts
  viewer/packages/cad-styling/src/stubs/StubNodeCollection.ts
Owners: @cognitedata/frontend-app-server

Rectify tests for NodeAppearanceProvider.test.ts
  viewer/packages/cad-styling/src/NodeAppearanceProvider.test.ts
Owners: @cognitedata/frontend-app-server

Create tests for ClusteredAreaCollection and EmptyAreaCollection
  viewer/packages/cad-styling/src/prioritized/ClusteredAreaCollection.test.ts
  viewer/packages/cad-styling/src/prioritized/EmptyAreaCollection.test.ts
Owners: @cognitedata/frontend-app-server

Begin writing documentation page for prioritized nodes
  documentation/docs/examples/cad-prioritized-areas.mdx
  documentation/docs/examples/cad-styling.mdx
Owners: @cognitedata/frontend-app-server

Add more mixpanel events tracking (#840)
  apps/extraction-pipelines/src/components/InteractiveCopy.tsx
  apps/extraction-pipelines/src/components/InteractiveCopyWithText.tsx
  apps/extraction-pipelines/src/components/integration/DocumentationSection.tsx
  apps/extraction-pipelines/src/components/integration/InlineEdit.tsx
  apps/extraction-pipelines/src/components/integration/IntegrationDetails.tsx
  apps/extraction-pipelines/src/components/integration/IntegrationHealth.test.jsx
  apps/extraction-pipelines/src/components/integration/IntegrationRunHistory.tsx
  apps/extraction-pipelines/src/components/integration/IntegrationView.test.jsx
  apps/extraction-pipelines/src/components/integration/edit/EditDataSetId.tsx
  apps/extraction-pipelines/src/components/integration/edit/Schedule.tsx
  apps/extraction-pipelines/src/components/links/ExtractorDownloadsLink.test.jsx
  apps/extraction-pipelines/src/components/links/ExtractorDownloadsLink.tsx
  apps/extraction-pipelines/src/components/table/IntegrationTableSearch.tsx
  apps/extraction-pipelines/src/components/table/SorterIndicator.tsx
  apps/extraction-pipelines/src/components/table/StatusFilterMenu.tsx
  apps/extraction-pipelines/src/components/table/StatusFilterTableDropdown.tsx
  apps/extraction-pipelines/src/pages/Integrations/Integrations.tsx
  apps/extraction-pipelines/src/pages/create/CreateIntegration.tsx
  apps/extraction-pipelines/src/routing/CreateRouteConfig.tsx
  apps/extraction-pipelines/src/utils/Metrics.ts
  apps/extraction-pipelines/src/utils/constants.tsx
  apps/extraction-pipelines/src/utils/error/TranslateErrorMessages.ts
Owners: @cognitedata/frontend-app-server

CDF-13481: Adjust spacing between elements/sections (#841)
  apps/extraction-pipelines/package.json
  apps/extraction-pipelines/src/components/buttons/ConfirmDialogButton.tsx
  apps/extraction-pipelines/src/components/integration/IntegrationDetails.tsx
  apps/extraction-pipelines/src/components/integration/Section.tsx
  apps/extraction-pipelines/src/components/message/InfoBox.tsx
  apps/extraction-pipelines/src/components/table/SorterIndicator.tsx
  apps/extraction-pipelines/src/pages/Integration/IntegrationPage.tsx
  apps/extraction-pipelines/src/styles/StyledLinks.tsx
  apps/extraction-pipelines/src/styles/StyledPage.tsx
  apps/extraction-pipelines/yarn.lock
Owners: @cognitedata/frontend-app-server

Fix sidebar too wide + Some more styling (#842)
  apps/extraction-pipelines/src/components/integration/IntegrationDetails.tsx
  apps/extraction-pipelines/src/components/integration/IntegrationHeading.tsx
  apps/extraction-pipelines/src/components/integration/IntegrationInformation.tsx
  apps/extraction-pipelines/src/components/integration/Section.tsx
Owners: @cognitedata/frontend-app-server

fix(discover): Inconsistently showing the filters (#1123)
  apps/discover/src/pages/authorized/search/map/Map.tsx
Owners: @cognitedata/discover

feat(discover): documents e2e in Cypress (#1005)
  apps/discover/.eslintrc.js
  apps/discover/BUILD.bazel
  apps/discover/cypress.json
  apps/discover/cypress/fixtures/example.json
  apps/discover/cypress/integration/documents/documents.spec.ts
  apps/discover/cypress/plugin.ts
  apps/discover/cypress/support/commands/documents.commands.ts
  apps/discover/cypress/support/commands/index.ts
  apps/discover/cypress/support/commands/login.command.ts
  apps/discover/cypress/support/constants.ts
  apps/discover/cypress/support/index.ts
  apps/discover/cypress/tsconfig.json
  apps/discover/package.json
  apps/discover/scripts/cypress/cypress-run-live.sh
  apps/discover/tsconfig.json
  package.json
  yarn.lock
Owners: @cognitedata/discover, @cognitedata/frontend-app-server

Update viewer/packages/tools/src/Timeline/TimelineTool.ts
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

Update viewer/packages/tools/src/Timeline/TimelineTool.ts
  viewer/packages/tools/src/Timeline/TimelineTool.ts
Owners: @cognitedata/frontend-app-server

chore(discover): enable source maps (#1127)
  apps/discover/BUILD.bazel
  apps/discover/tsconfig.json
Owners: @cognitedata/discover

Add documentation entry regarding prioritized nodes
  documentation/docs/examples/cad-prioritized-areas.mdx
  documentation/sidebars.js
Owners: @cognitedata/frontend-app-server

Correct typo
  documentation/docs/examples/cad-styling-nodes.mdx
Owners: @cognitedata/frontend-app-server

[DX-76] Add auth for CLI (#74)
  libs/platypus-cli/jest.config.js
  libs/platypus-cli/src/lib/cmds/login.spec.ts
  libs/platypus-cli/src/lib/cmds/login.ts
  package.json
  yarn.lock
Owners: @cognitedata/frontend-app-server

Add JSDoc to AreaCollection & Co
  viewer/index.ts
  viewer/packages/cad-styling/src/prioritized/AreaCollection.ts
  viewer/packages/cad-styling/src/prioritized/ClusteredAreaCollection.ts
Owners: @cognitedata/frontend-app-server

Correct header of new Documentation page
  documentation/docs/examples/cad-prioritized-areas.mdx
Owners: @cognitedata/frontend-app-server

chore(discover): extended README about Cypress, cleanup (#1129)
  apps/discover/README.md
  apps/discover/cypress/fixtures/example.json
  apps/discover/cypress/plugin.ts
  apps/discover/package.json
Owners: @cognitedata/discover

fix(PID) Move test under src (#1128)
  packages/pid-tools/src/__tests__/InstanceMatcher.test.ts
Owners: @cognitedata/frontend-app-server

Layout's refactoring and created a new toolbar component.
  apps/platypus/src/app/components/Navigations/SideBarMenu.tsx
  apps/platypus/src/app/components/Toolbar/Toolbar.tsx
  apps/platypus/src/app/pages/layouts/PageLayout.tsx
  apps/platypus/src/app/pages/layouts/PageWithHeaderLayout.tsx
  apps/platypus/src/app/pages/layouts/SideBarMenuWithPageLayout.tsx
  apps/platypus/src/app/pages/solutions/Solution.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/DataModelLayout.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/DataModelPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/OverviewLayout.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/OverviewPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/DatamodelPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/DatapreviewPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/MonitoringPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/PopulationPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/QueryExplorerPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/overviewPages/AnalyticsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/overviewPages/OverviewPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/overviewPages/UpdatesPage.tsx
Owners: @cognitedata/frontend-app-server

feat(simconfig): TimeSeries Input and Output Section [SIM-97] [SIM-99] (#1126)
  apps/simconfig/src/components/forms/ConfigurationForm/ConfigurationForm.tsx
  apps/simconfig/src/components/forms/ConfigurationForm/DataSamplingSection.tsx
  apps/simconfig/src/components/forms/ConfigurationForm/InputSection.tsx
  apps/simconfig/src/components/forms/ConfigurationForm/OutputSection.tsx
  apps/simconfig/src/components/forms/ConfigurationForm/constants.ts
  apps/simconfig/src/components/forms/ConfigurationForm/types.ts
  apps/simconfig/src/components/forms/controls/InputTimeSeriesEntry.tsx
  apps/simconfig/src/components/forms/controls/OutputTimeSeriesEntry.tsx
  apps/simconfig/src/components/forms/elements.tsx
  apps/simconfig/src/components/tables/CalculationsTable/StatusCell.tsx
  apps/simconfig/src/utils/externalIdGenerators.ts
  apps/simconfig/src/utils/stringUtils.ts
Owners: @cognitedata/simulator-integration

fix: downgrade @cognite/cdf-utilities
  package.json
  src/App.tsx
  yarn.lock
Owners: @cognitedata/frontend-app-server

Fix documentation notation type
  documentation/docs/examples/cad-prioritized-areas.mdx
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByScreenSizeSectorCuller.ts
Owners: @cognitedata/frontend-app-server

Add support for both v8 and gltf while we develop
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByScreenSizeSectorCuller.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/computeSectorCost.ts
Owners: @cognitedata/frontend-app-server

fix(simconfig): UI: Download link expires after 30 seconds [SIM-102] (#1100)
  apps/simconfig/src/components/tables/ModelTable/ModelTable.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/store/file/constants.ts
  apps/simconfig/src/store/file/index.ts
  apps/simconfig/src/store/file/selectors.ts
  apps/simconfig/src/store/file/types.ts
Owners: @cognitedata/simulator-integration

[CHART-673] feat: change backend v2 base url (#787)
  src/config/config.spec.ts
  src/config/config.ts
Owners: @cognitedata/frontend-app-server

Update lesser title in documentation
  documentation/docs/examples/cad-prioritized-areas.mdx
Owners: @cognitedata/frontend-app-server

chore(discover): removed timestamp keyword (#1133)
  apps/discover/src/pages/authorized/admin/feedback/document-feedback/DocumentFeedbackTable.tsx
  apps/discover/src/pages/authorized/admin/feedback/general-feedback/GeneralFeedbackTable.tsx
Owners: @cognitedata/discover

Remove mistakenly added variable declaration
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByScreenSizeSectorCuller.ts
Owners: @cognitedata/frontend-app-server

Be more lenient on AreaCollection construction in TreeIndexNodeCollection
  viewer/packages/cad-styling/src/TreeIndexNodeCollection.ts
Owners: @cognitedata/frontend-app-server

Added positioning option for toolbar container
  examples/src/pages/Toolbar.tsx
  viewer/packages/tools/index.ts
  viewer/packages/tools/src/Toolbar/Toolbar.ts
  viewer/packages/tools/src/Toolbar/ToolbarTool.ts
Owners: @cognitedata/frontend-app-server

Updated some texts.
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/DatamodelPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/DatapreviewPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/MonitoringPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/PopulationPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/datamodelPages/QueryExplorerPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/overviewPages/AnalyticsPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/overviewPages/OverviewPage.tsx
  apps/platypus/src/app/pages/solutions/solutionPages/overviewPages/UpdatesPage.tsx
Owners: @cognitedata/frontend-app-server

Revert Default back to its original, boring name
  examples/src/routes.tsx
Owners: @cognitedata/frontend-app-server

Move environment spec to .env.example from .env
  examples/.env
  examples/.env.example
Owners: @cognitedata/frontend-app-server

improvement: better shading for ghosted geometry and better render performance
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/glsl/base/updateFragmentColor.glsl
Owners: @cognitedata/frontend-app-server

Update snapshots
  examples/src/visual_tests/__image_snapshots__/cad_customObjectWithHighlightAndGhosted-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_two-models-one-ghosted-snap.png
Owners: @cognitedata/frontend-app-server

Add README entry for credential environments
  README.md
Owners: @cognitedata/frontend-app-server

Simplify environment example and inject dummy values
  examples/.env.example
Owners: @cognitedata/frontend-app-server

Fixed downscale coef
  examples/src/pages/Migration.tsx
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/public/migration/types.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Owners: @cognitedata/frontend-app-server

chore: lazy load components
  src/App.tsx
  src/RootApp.tsx
Owners: @cognitedata/frontend-app-server
