Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer

Use node v16
  apps/3d-management/.devcontainer/devcontainer.json
Labels: none

feat(PowerOps): Search workflows [POWEROPS-513] (#3353)
  apps/power-ops/src/pages/Workflows/Workflows.stories.tsx
  apps/power-ops/src/pages/Workflows/Workflows.tsx
  apps/power-ops/src/pages/Workflows/WorkflowsContainer.tsx
  apps/power-ops/src/pages/Workflows/elements.ts
Labels: none

Moved fov changed check further up to avoid doing extra work
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

Modified Jenkins File to push translations (#979)
  Jenkinsfile
  apps/platypus/src/app/common/i18n/index.tsx
Labels: fusion-maintainers, platypus

feat: use backend translation
  viewer/packages/data-providers/src/metadata-providers/CdfModelMetadataProvider.ts
Labels: none

fix(charts): lang detection for fusion (#1403)
  src/config/i18n.ts
Labels: none

feat: add scale from backend
  viewer/packages/data-providers/src/metadata-providers/CdfModelMetadataProvider.ts
Labels: none

fix: measurement tool for large models not being temporally coherent
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
Labels: none

Update viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
Labels: none

fix: measurement tool for large models not being temporally coherent (#2885)
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
Labels: none

refactor: comments from QA
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.ts
  viewer/packages/cad-model/src/utilities/GeometryBufferUtils.ts
Labels: none

feat: Zoom to cursor when mouse-scrolling in 360 images (#2869)
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

Fix prettier after conflict
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

FOV tween now ends 1/4 before alpha.
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

chore: Add cognite Eslint rules setup to root eslint (#977)
  .eslintrc.json
  apps/platypus/src/app/modules/solution/data-management/components/CustomColumnFilter/custom-column-filter.tsx
  libs/data-exploration-components/src/components/SearchQueryInfoPanel/types.ts
  libs/data-exploration-components/src/components/Table/types.ts
  package.json
  yarn.lock
Labels: fusion-maintainers, platypus, data-explorer

fix: correct translation matrix order
  viewer/packages/data-providers/src/metadata-providers/CdfModelMetadataProvider.ts
Labels: none

chore: ad-hoc fix to building error
  viewer/packages/data-providers/src/metadata-providers/CdfModelMetadataProvider.ts
Labels: none

feat(data-explorer): Chart preview shortcut (#904)
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesPreview.tsx
  libs/data-exploration-components/src/containers/SearchResults/SearchResultLoader/hooks.ts
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesChart/TimeseriesChart.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesSmallPreview/TimeseriesSmallPreview.tsx
  libs/data-exploration-components/src/containers/Timeseries/types.ts
  libs/data-exploration-components/src/containers/Timeseries/utils/__tests__/calculateGranularity.test.ts
  libs/data-exploration-components/src/containers/Timeseries/utils/calculateGranularity.ts
Labels: data-explorer

fix(data-explorer): keep filters and query while navigation (#948)
  apps/data-exploration/src/app/components/Breadcrumbs/Breadcrumbs.tsx
  apps/data-exploration/src/app/containers/File/FilePreview.tsx
  apps/data-exploration/src/app/containers/ResourceDetails/ResourceDetailsTabs/ResourceDetailsTabs.tsx
  apps/data-exploration/src/app/hooks/hooks.ts
Labels: data-explorer

docs: document the default CDF transformation
  documentation/docs/examples/cad-basic.mdx
Labels: none

fix(power-ops): Fetch rkom market config from server [POWEROPS-780] (#3668)
  apps/power-ops/src/components/DeliveryWeekSelect/DeliveryWeekSelect.tsx
  apps/power-ops/src/components/RKOMHeader/RKOMHeader.stories.tsx
  apps/power-ops/src/components/RKOMHeader/RKOMHeader.tsx
  apps/power-ops/src/components/RKOMHeader/RKOMHeaderContainer.tsx
  apps/power-ops/src/pages/RKOM/utils.tsx
  apps/power-ops/src/queries/useFetchRKOMConfiguration.ts
  package.json
  yarn.lock
Labels: fusion-maintainers

docs: correct model ID in examples
  documentation/docs/examples/cad-basic.mdx
  documentation/docs/examples/pointcloud.mdx
Labels: none

chore: remove proj4 as dependency
  viewer/package.json
  viewer/packages/pointclouds/src/potree-three-loader/geometry/PointCloudEptGeometry.ts
  viewer/yarn.lock
Labels: none

fix: enable 'build' task in CI (#988)
  .github/workflows/nx_ci.yml
Labels: none

chore: enable cognite z-index eslint rule (#984)
  .eslintrc.json
  apps/data-exploration/src/app/containers/Exploration/FilterToggleButton.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/tools/SmartOverlayTool.ts
  apps/data-exploration/src/app/utils/zIndex.ts
  apps/platypus/src/app/components/Layouts/elements.ts
  apps/platypus/src/app/components/SchemaVisualizer/SchemaVisualizer.tsx
  apps/platypus/src/app/modules/solution/data-model/components/TypeDefFields/elements.ts
  libs/data-exploration-components/src/components/AssetHierarchy/elements.ts
  libs/data-exploration-components/src/components/Splitter/Splitter.tsx
  libs/data-exploration-components/src/components/Table/elements.ts
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreviewOverview/FilePreviewOverview.tsx
  libs/data-exploration-components/src/containers/ResourceSidebar/ResourceSelectionSidebar/ResourceSelectionSidebar.tsx
  libs/data-exploration-components/src/containers/ResourceSidebarUFV/ResourceSelectionSidebarUFV/ResourceSelectionSidebarUFV.tsx
  libs/data-exploration-components/src/utils/zIndex.ts
  package.json
  yarn.lock
Labels: fusion-maintainers, platypus, data-explorer

docs: correct model ID in examples (#2887)
  documentation/docs/examples/cad-basic.mdx
  documentation/docs/examples/pointcloud.mdx
Labels: none

chore: remove proj4 as dependency (#2888)
  viewer/package.json
  viewer/packages/pointclouds/src/potree-three-loader/geometry/PointCloudEptGeometry.ts
  viewer/yarn.lock
Labels: none

fix: ensure node is disposed from cache on removal (#2872)
  viewer/packages/pointclouds/src/PointCloudManager.ts
  viewer/packages/pointclouds/src/PointCloudNode.ts
Labels: none

feat(data-explorer): search on basic fields (#879)
  apps/data-exploration/src/app/containers/Exploration/ExplorationSearchBar.tsx
  libs/data-exploration-components/src/components/Table/columns.tsx
  libs/data-exploration-components/src/components/Table/constants.ts
  libs/data-exploration-components/src/components/Table/types.ts
  libs/data-exploration-components/src/containers/Events/EventSummary/EventSummary.tsx
  libs/data-exploration-components/src/containers/Events/EventTable/EventTable.tsx
  libs/data-exploration-components/src/containers/Files/FileTable/FileTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesTable/TimeseriesTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimseriesSummary/TimeseriesSummary.tsx
  libs/data-exploration/domain-layer/src/assets/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/assets/internal/queries/useAssetsFilteredListQuery.ts
  libs/data-exploration/domain-layer/src/assets/internal/queries/useAssetsMetadataKeysQuery.ts
  libs/data-exploration/domain-layer/src/assets/internal/queries/useAssetsSearchAggregateQuery.ts
  libs/data-exploration/domain-layer/src/assets/internal/transformers/mapFiltersToAssetsAdvancedFilters.ts
  libs/data-exploration/domain-layer/src/documents/internal/queries/useDocumentSearchResultQuery.ts
  libs/data-exploration/domain-layer/src/documents/internal/transformers/mapFiltersToDocumentSearchFilters.ts
  libs/data-exploration/domain-layer/src/documents/internal/transformers/normalize.ts
  libs/data-exploration/domain-layer/src/documents/service/queries/aggregates/useDocumentFilteredAggregateCount.ts
  libs/data-exploration/domain-layer/src/documents/service/queries/aggregates/useDocumentFilteredAggregates.ts
  libs/data-exploration/domain-layer/src/documents/service/queries/useDocumentSearchQuery.ts
  libs/data-exploration/domain-layer/src/events/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/events/internal/queries/useEventsMetadataKeysQuery.ts
  libs/data-exploration/domain-layer/src/events/internal/queries/useEventsSearchAggregateQuery.ts
  libs/data-exploration/domain-layer/src/events/internal/queries/useEventsSearchResultQuery.ts
  libs/data-exploration/domain-layer/src/events/internal/transformers/mapFiltersToEventsAdvancedFilters.ts
  libs/data-exploration/domain-layer/src/events/service/network/getEventsList.ts
  libs/data-exploration/domain-layer/src/events/service/queries/useEventsListQuery.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/sequence/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/sequence/internal/queries/useSequenceSearchAggregateQuery.ts
  libs/data-exploration/domain-layer/src/sequence/internal/queries/useSequenceSearchQueryMetadataKeysQuery.ts
  libs/data-exploration/domain-layer/src/sequence/internal/queries/useSequenceSearchResultQuery.ts
  libs/data-exploration/domain-layer/src/sequence/internal/transformers/mapFiltersToSequenceAdvancedFilters.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/useTimeseriesSearchAggregateQuery.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/useTimeseriesSearchQueryMetadataKeysQuery.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/useTimeseriesSearchResultQuery.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/transformers/mapFiltersToTimeseriesAdvancedFilters.ts
Labels: data-explorer

fix: restore tests
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.ts
Labels: none

chore(data-explorer): Unit tests for sub-app components part-1 (#928)
  apps/data-exploration/src/app/components/Breadcrumbs/__tests__/Breadcrumbs.test.tsx
  apps/data-exploration/src/app/components/Buttons/ResetButton.tsx
  apps/data-exploration/src/app/components/Buttons/__tests__/ResetButton.test.tsx
  apps/data-exploration/src/app/components/Buttons/constants.ts
  apps/data-exploration/src/app/components/Collapse/BaseFilterCollapse/BaseFilterCollapse.tsx
  apps/data-exploration/src/app/components/Collapse/BaseFilterCollapse/BaseFilterHeader.tsx
  apps/data-exploration/src/app/components/Collapse/BaseFilterCollapse/__tests__/BaseFilterCollapse.test.tsx
  apps/data-exploration/src/app/components/Collapse/BaseFilterCollapse/__tests__/BaseFilterHeader.test.tsx
  apps/data-exploration/src/app/components/Filters/MultiSelectFilter.tsx
  apps/data-exploration/src/app/components/Filters/__tests__/FilterTItle.test.tsx
  apps/data-exploration/src/app/components/Filters/__tests__/MultiSelectFilter.test.tsx
  apps/data-exploration/src/setupTests.js
  apps/data-exploration/src/testUtils/render.tsx
Labels: data-explorer

bug: Fix for getScreenshot returning empty image when using an external render target (#2850)
  viewer/packages/api/src/public/RevealManager.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderModePipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.ts
  viewer/packages/rendering/src/rendering/SettableRenderTarget.ts
Labels: none

feat(platypus): implement hover provider (#974)
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/GraphqlCodeEditor.tsx
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/elements.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/HoverProviderService.spec.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/HoverProviderService.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/constants.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/index.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/types.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/graphqlSetup.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/HoverAdapter.ts
  libs/platypus-common-utils/src/lib/graphql/graphql-utils-service.ts
Labels: platypus

feat: improve code completion for new directives (#975)
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.spec.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/CodeCompletionProvider.ts
  libs/platypus-core/src/lib/domain/data-model/constants.ts
  libs/platypus-core/src/lib/domain/data-model/types/index.ts
Labels: platypus

chore(charts): version bump 0.31.11 (#1405)
  package.json
Labels: fusion-maintainers

feat(monitoring) : [Part-1] add select component for selecting/adding folders (#1395)
  package.json
  src/components/MonitoringFolderSelect/MonitoringFolderSelect.stories.tsx
  src/components/MonitoringFolderSelect/MonitoringFolderSelect.tsx
  src/components/MonitoringFolderSelect/hooks.tsx
  src/components/MonitoringFolderSelect/types.ts
  yarn.lock
Labels: fusion-maintainers

feat: suggest custom types when user types "implements" for a new type [DX-1198] (#998)
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.spec.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/CodeCompletionProvider.ts
Labels: platypus

feat(monitoring) : [Part-2] add monitoring sidebar (#1397)
  package.json
  patches/@cognite+cogs.js+7.0.3.patch
  src/components/MonitoringFolderSelect/MonitoringFolderSelect.stories.tsx
  src/components/MonitoringSidebar/CreateMonitoringJob.tsx
  src/components/MonitoringSidebar/MonitoringSidebar.tsx
  src/components/MonitoringSidebar/elements.ts
  src/components/MonitoringSidebar/types.ts
  src/pages/ChartViewPage/ChartViewPage.tsx
  yarn.lock
Labels: fusion-maintainers

refactor: implement addTreeIndicesToMeshUserData
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.ts
Labels: none

feat(monitoring) : [Part-3] add first form for monitoring (#1398)
  src/components/MonitoringSidebar/CreateMonitoringJob.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobFormError.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobStep1.tsx
  src/components/MonitoringSidebar/FormInputWithController.tsx
  src/components/MonitoringSidebar/elements.ts
  src/components/MonitoringSidebar/hooks.tsx
  src/components/MonitoringSidebar/types.ts
Labels: none

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**
