Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*

feat(coding-convention): fix layout of coding conventions (#1101)
  apps/coding-conventions/src/GlobalStyles.tsx
  apps/coding-conventions/src/app/Routes.tsx
  apps/coding-conventions/src/app/colors.ts
  apps/coding-conventions/src/app/components/Collapse/BaseFilterCollapse.tsx
  apps/coding-conventions/src/app/components/Collapse/BaseFilterHeader.tsx
  apps/coding-conventions/src/app/components/Collapse/elements.ts
  apps/coding-conventions/src/app/components/Divider.tsx
  apps/coding-conventions/src/app/components/Table/AbbreviationTable.tsx
  apps/coding-conventions/src/app/containers/ManageSelectedConvention.tsx
  apps/coding-conventions/src/app/pages/HomePage.tsx
  apps/coding-conventions/src/app/pages/conventions/ConventionsPage.tsx
  apps/coding-conventions/src/app/service/conventions.ts
Labels: coding-conventions

updated keydown event listener to listen viewer.domElement
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: none

replace FAS with Firebase (#997)
  Jenkinsfile
  apps/coding-conventions/firebase.json
  apps/coding-conventions/webpack-config.js
  apps/data-exploration/firebase.json
  apps/data-exploration/webpack-config.js
  apps/platypus/firebase.json
  apps/platypus/webpack-config.js
  package.json
  yarn.lock
Labels: fusion-maintainers, platypus, data-explorer, coding-conventions

chore: Perf metrics release (#3719)
  packages/sidecar/CHANGELOG.md
  packages/sidecar/package.json
  packages/sidecar/src/getDefaultSidecar.ts
Labels: none

Upgrade @cognite/cdf-utilities
  package.json
  yarn.lock
Labels: fusion-maintainers

Fixed azimuthal speed of keyboard rotation
  viewer/packages/camera-manager/src/ComboControls.ts
Labels: none

updated keydown event listener to listen viewer.domElement (#2920)
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: none

bug: Space-selection dropdown should not show in Settings modal [DX-1354] (#1102)
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.spec.tsx
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.stories.tsx
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.tsx
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.spec.tsx
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.tsx
  apps/platypus/src/app/components/DataModelSpaceSelect/DataModelSpaceSelect.tsx
  apps/platypus/src/app/modules/data-models/CreateDataModel.tsx
Labels: platypus

chore: bump reveal 4.1 (#595)
  apps/3d-management/package.json
  apps/3d-management/yarn.lock
Labels: none

chore: disable `content` column (#1099)
  libs/data-exploration-components/src/containers/Documents/DocumentSummary/DocumentSummary.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentsTable.tsx
Labels: data-explorer

Renamed and tiny refactor
  viewer/packages/camera-manager/src/ComboControls.ts
Labels: none

docs: specify a little bit better
  documentation/docs/examples/pointcloud-styling.mdx
Labels: none

refactor: simplyfy by using built-in SDK method for fetching all data
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: none

Updated api.md
  viewer/reveal.api.md
Labels: none

feat: add partitioning and pagination support for fetching events (#2919)
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: none

Fixed azimuthal speed of keyboard rotation (#2923)
  viewer/packages/camera-manager/src/ComboControls.ts
Labels: none

fix: Incorrect behaviour of zoomToCursor mode after DefaultCameraManager deactivation/activation. (#2915)
  examples/yarn.lock
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/reveal.api.md
Labels: none

chore: refactor coding conventions (#1106)
  apps/coding-conventions/src/app/Routes.tsx
  apps/coding-conventions/src/app/components/Collapse/BaseFilterCollapse.tsx
  apps/coding-conventions/src/app/components/Collapse/BaseFilterHeader.tsx
  apps/coding-conventions/src/app/components/Drawer.tsx
  apps/coding-conventions/src/app/components/Info/HintText.tsx
  apps/coding-conventions/src/app/components/Table/AbbreviationTable.tsx
  apps/coding-conventions/src/app/components/Text/StructureText.tsx
  apps/coding-conventions/src/app/containers/ConventionsContainer.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionHeader.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionItem.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionList.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionView.tsx
  apps/coding-conventions/src/app/containers/convention/elements.ts
  apps/coding-conventions/src/app/containers/system/SystemItem.tsx
  apps/coding-conventions/src/app/containers/system/SystemList.tsx
  apps/coding-conventions/src/app/containers/system/SystemView.tsx
  apps/coding-conventions/src/app/pages/ConventionsPage.tsx
  apps/coding-conventions/src/app/pages/conventions/ConventionsPage.tsx
  apps/coding-conventions/src/app/pages/conventions/DefineSchema.tsx
  apps/coding-conventions/src/app/pages/conventions/constants.ts
  apps/coding-conventions/src/app/pages/elements.ts
  apps/coding-conventions/src/app/pages/pasteView/DataCleanupComponent.tsx
  apps/coding-conventions/src/app/react-table-plugins.d.ts
  apps/coding-conventions/src/app/service/conventions.ts
  apps/coding-conventions/src/app/types.ts
  apps/coding-conventions/src/app/utils/colors.ts
  package.json
  yarn.lock
Labels: fusion-maintainers, coding-conventions

chore: bump reveal to 4.1.1
  viewer/package.json
Labels: none

chore: bump reveal to 4.1.1 (#2924)
  viewer/package.json
Labels: none

chore: bump reveal version in docs
  documentation/versioned_docs/version-4.x/package.json
  documentation/yarn.lock
Labels: none

fixed 360 images rotation issue when loaded from tab (#1107)
  apps/data-exploration/src/app/containers/ThreeD/Reveal.tsx
Labels: data-explorer

bumped reveal version to 4.1.1 (#1108)
  package.json
  yarn.lock
Labels: fusion-maintainers

fix: CAD camera save (#596)
  apps/3d-management/package.json
  apps/3d-management/src/pages/RevisionDetails/components/ThreeDViewerSidebar/EditRotation.tsx
  apps/3d-management/src/pages/RevisionDetails/components/ThreeDViewerSidebar/ThreeDViewerSidebar.tsx
Labels: none

docs: link to Cognite API for point cloud shape convention (#2918)
  documentation/docs/examples/pointcloud-styling.mdx
Labels: none

chore: upgrade three types as well
  viewer/package.json
  viewer/yarn.lock
Labels: none

chore: don't
  documentation/versioned_docs/version-4.x/package.json
  documentation/yarn.lock
Labels: none

chore: update cargo lock
  viewer/Cargo.lock
Labels: none

fix: breakage after three types upgrade
  viewer/packages/pointclouds/src/potree-three-loader/loading/EptBinaryLoader.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/packages/sector-parser/src/reveal-glb-parser/primitiveGeometries.ts
  viewer/packages/utilities/src/calculateVolumeOfMesh.test.ts
Labels: none

chore: lint fix
  viewer/packages/sector-parser/src/reveal-glb-parser/primitiveGeometries.ts
Labels: none

fix: typo in jenkins variable name (#1110)
  Jenkinsfile
Labels: fusion-maintainers

fix: assert JSON import
  viewer/test-utilities/src/setupJest.ts
Labels: none

fix(data-explorer): Fixing the width resizing for documents (#1105)
  apps/data-exploration/src/app/containers/Exploration/SearchResultsPage.tsx
Labels: data-explorer

chore: add more type assertions
  viewer/packages/api/src/public/migration/Cognite3DViewer.test.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: none

chore: update THREE version in examples as well
  examples/package.json
  examples/yarn.lock
Labels: none

fix: [REV-695] Status is not updated during processing in Fusion 3D management UI (#591)
  apps/3d-management/.gitignore
  apps/3d-management/package.json
  apps/3d-management/src/__fixtures__/revisionLogs.ts
  apps/3d-management/src/hooks/revisions/useRevisionLogs.ts
  apps/3d-management/src/pages/RevisionDetails/components/RevisionLogs.tsx
  apps/3d-management/src/utils/__tests__/getOrganizedRevisionLogs.spec.ts
  apps/3d-management/src/utils/getOrganizedRevisionLogs.ts
  apps/3d-management/src/utils/sdk/3dApiUtils.ts
  apps/3d-management/yarn.lock
Labels: none

chore: update coverage provider
  viewer/jest.config.js
Labels: none

fix(simconfig): Fix build release for SimInt (#3725)
  apps/simconfig/package.json
Labels: none

fix(discover): remove wait on documents e2es (#3724)
  apps/discover/cypress/integration/documents/documents.smoke.spec.ts
Labels: none

chore: add initial logic for prebatching file descriptors
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/types.ts
Labels: none
