Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, flexible-data-explorer, coding-conventions, unified-file-viewer, contextualization, 3d-management, cdf-document-search, functions-ui, interactive-diagrams, diagram-parsing, extraction-pipelines, design-system, charts, asset-health, access-management, flows, ai, simint

feat(landing-page): initialize a new landing page behind a feature flag [UX-1738] (#3843)
  apps/fusion-shell/src/app/app.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/LandingPage.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/LearningResources.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/QuickLinks.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/UserHistory.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/UserHistoryEmptyState.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/UserHistoryExpandButton.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/UserHistoryLoadingSkeleton.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/UserHistoryResourceIcon.tsx
  apps/fusion-shell/src/app/components/NewLandingPage/index.ts
Labels: none

fix(extraction-pipelines): show error messages in UI for errors during destination creation (#3724)
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
  apps/extraction-pipelines/src/hooks/sessions.ts
  apps/extraction-pipelines/src/pages/AddTopicFilter/AddTopicFilter.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/StepThree.tsx
Labels: extraction-pipelines

fix(interactive-diagrams): reduce excessive API calls (#3845)
  apps/interactive-diagrams/cypress/e2e/pendingInteractiveDiagrams.cy.ts
  apps/interactive-diagrams/src/hooks/index.ts
  apps/interactive-diagrams/src/hooks/useAnnotatedFiles.ts
  apps/interactive-diagrams/src/hooks/usePendingDiagramFiles.ts
  apps/interactive-diagrams/src/pages/LandingPage/FilesList/columns.tsx
  apps/interactive-diagrams/src/pages/LandingPage/FilesList/index.tsx
  apps/interactive-diagrams/src/pages/LandingPage/FilesList/utils.tsx
  apps/interactive-diagrams/src/pages/LandingPage/index.tsx
Labels: interactive-diagrams

chore: skip flaky SimInt test (#3861)
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Routine.spec.tsx
Labels: none

chore(3d-management): Add metrics (#3837)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useSyncStateWithViewerPointCloud.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/SelectedAnnotationToolbar.tsx
  apps/3d-management/src/components/PageHeader/BreadcumbsThreeDManagement.tsx
  apps/3d-management/src/components/PageHeader/PageHeader.tsx
  apps/3d-management/src/hooks/useMetrics.ts
  apps/3d-management/src/pages/AllModels/AllModels.tsx
  apps/3d-management/src/pages/AllModels/AllModelsThreeSixty.tsx
  apps/3d-management/src/pages/ContextualizeEditor/constants.ts
  apps/3d-management/src/pages/RevisionDetails/RevisionDetails.tsx
Labels: 3d-management

chore: skip flaky platypus test (#3862)
  apps/platypus/cypress/e2e/data-preview/data-preview-page.cy.ts
Labels: platypus

fix(data-explorer): Remove multi selection (#3765)
  libs/data-exploration/containers/src/DetailsTable/AssetDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/EventDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/FileDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/SequenceDetailsTable.tsx
  libs/data-exploration/containers/src/DetailsTable/TimeseriesDetailsTable.tsx
Labels: data-explorer

feat(industrial-canvas): add e2e for IC (#3675)
  apps/industry-canvas-ui/cypress.config.ts
  apps/industry-canvas-ui/cypress/e2e/addData.cy.ts
  apps/industry-canvas-ui/cypress/e2e/createCanvas.cy.ts
  apps/industry-canvas-ui/cypress/e2e/homePage.cy.ts
  apps/industry-canvas-ui/cypress/support/constant.ts
  apps/industry-canvas-ui/cypress/support/e2e.ts
  apps/industry-canvas-ui/cypress/support/industry-canvas-commands.ts
  libs/industry-canvas/src/lib/IndustryCanvasHomePage.tsx
Labels: unified-file-viewer, asset-health

[AUT-517] fix: hide react-query dev tool from login page (#3858)
  apps/fusion-shell/vite.config.ts
Labels: none

feat(industrial-canvas): add search, sort and filtering to related resources (#3746)
  libs/data-exploration/containers/src/DetailsTable/TimeseriesSmallPreviewTable.tsx
  libs/data-exploration/containers/src/DetailsTable/index.ts
  libs/data-exploration/containers/src/Filters/DateFilter/DateFilter.tsx
  libs/data-exploration/containers/src/Filters/LabelFilter/LabelFilter.tsx
  libs/data-exploration/containers/src/Filters/SourceFilter/SourceFilter.tsx
  libs/data-exploration/containers/src/Filters/SubtypeFilter/SubTypeFilter.tsx
  libs/data-exploration/containers/src/Filters/TypeFilter/TypeFilter.tsx
  libs/data-exploration/containers/src/Filters/UnitFilter/UnitFilter.tsx
  libs/data-exploration/containers/src/Filters/types.ts
  libs/data-exploration/containers/src/ResourceDetails/AssetDetails/AssetDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/DocumentDetails/DocumentDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/EventDetails/EventDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/TimeseriesDetails/TimeseriesDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/hooks.ts
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorDetails.tsx
  libs/data-exploration/containers/src/Search/SearchResults/AssetSearchResults/AssetTableFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResults/EventSearchResults/EventTableFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResults/FileSearchResults/FileTableFilters.tsx
  libs/data-exploration/containers/src/Search/SearchResults/TimeseriesSearchResults/TimeseriesTableFilters.tsx
  libs/data-exploration/domain-layer/src/documents/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/documents/internal/queries/useShamefulDocumentsQuery.ts
Labels: data-explorer

fix(fdx): timeseries date filter + e2e (#3864)
  apps/flexible-data-explorer/cypress/e2e/filter-generic.cy.ts
  apps/flexible-data-explorer/cypress/e2e/filter-timeseries.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/search.commands.ts
  apps/flexible-data-explorer/cypress/support/interceptions/interceptions.ts
  apps/flexible-data-explorer/cypress/support/interceptions/requestAlias.ts
  libs/flexible-data-explorer/modules/src/filters/components/BaseFilterInput/utils/__tests__/transformValue.spec.ts
  libs/flexible-data-explorer/modules/src/filters/modules/AppliedFilters/AppliedFiltersByDataType.tsx
  libs/flexible-data-explorer/modules/src/filters/modules/AppliedFilters/AppliedFiltersByField.tsx
  libs/flexible-data-explorer/modules/src/filters/modules/AppliedFilters/utils/__tests__/getChipLabel.spec.ts
  libs/flexible-data-explorer/modules/src/filters/modules/AppliedFilters/utils/getChipLabel.ts
  libs/flexible-data-explorer/modules/src/filters/modules/FilterBuilderByField/FilterBuilderByField.tsx
  libs/flexible-data-explorer/shared/src/types/filters.ts
  libs/flexible-data-explorer/shared/src/utils/__tests__/date.spec.ts
  libs/flexible-data-explorer/shared/src/utils/__tests__/filter.spec.ts
  libs/flexible-data-explorer/shared/src/utils/date.ts
  libs/flexible-data-explorer/shared/src/utils/filter.ts
Labels: flexible-data-explorer

fix(industrial-canvas): fix count tooltip in resource selector (#3863)
  libs/data-exploration/containers/src/ResourceTabs/__tests__/getChipRightPropsForResourceCounter.test.ts
  libs/data-exploration/containers/src/ResourceTabs/getChipRightPropsForResourceCounter.ts
Labels: data-explorer

fix: add support for models located far away from origin by using modelView transform
  viewer/packages/api/visual-tests/NodeTransform.VisualTest.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/rendering/src/glsl/sector/instancedMesh.vert
  viewer/packages/rendering/src/glsl/sector/mesh.vert
  viewer/packages/rendering/src/glsl/sector/primitives/circle.vert
  viewer/packages/rendering/src/glsl/sector/primitives/cone.vert
  viewer/packages/rendering/src/glsl/sector/primitives/eccentricCone.vert
  viewer/packages/rendering/src/glsl/sector/primitives/ellipsoidSegment.vert
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.vert
  viewer/packages/rendering/src/glsl/sector/primitives/generalring.vert
  viewer/packages/rendering/src/glsl/sector/primitives/sphericalSegment.vert
  viewer/packages/rendering/src/glsl/sector/primitives/torusSegment.vert
  viewer/packages/rendering/src/glsl/sector/primitives/trapezium.vert
  viewer/packages/rendering/src/rendering/shaders.ts
Labels: none

fix: remove unused shaders
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/src/glsl/sector/primitives/sphericalSegment.frag
  viewer/packages/rendering/src/glsl/sector/primitives/sphericalSegment.vert
  viewer/packages/rendering/src/glsl/sector/sectorCoverage.frag
  viewer/packages/rendering/src/glsl/sector/sectorCoverage.vert
  viewer/packages/rendering/src/glsl/sector/simple.frag
  viewer/packages/rendering/src/glsl/sector/simple.vert
  viewer/packages/rendering/src/rendering/materials.ts
  viewer/packages/rendering/src/rendering/shaders.ts
Labels: none

fix: cone radius should scale with model matrix
  viewer/packages/rendering/src/glsl/sector/primitives/cone.vert
Labels: none

fix: adjust height for model transform
  viewer/packages/rendering/src/glsl/sector/primitives/eccentricCone.vert
Labels: none

chore: update visual test screenshots
  viewer/packages/360-images/visual-tests/__image_snapshots__/Image360.VisualTest.png
  viewer/packages/api/visual-tests/__image_snapshots__/NodeTransform.VisualTest.png
  viewer/packages/cad-styling/visual-tests/__image_snapshots__/CustomWithStyling.VisualTest.png
Labels: none

fix: rotation of general cylinders
  examples/src/utils/NodeTransformUI.ts
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.vert
Labels: none

chore: update CI/CD secret usage
  .github/workflows/ci.yml
  .github/workflows/locize-sync.yml
  .github/workflows/nightly-publish-to-npm.yml
  .github/workflows/publish-react-component-to-npm-on-demand.yml
  .github/workflows/publish-to-npm-on-release.yml
  .github/workflows/react-components-ci.yml
Labels: none

chore: explicitly specify the CI environment for secrets
  .github/workflows/locize-sync.yml
  .github/workflows/react-components-ci.yml
Labels: none

chore: update API spec and recreate visual test base
  viewer/packages/cad-model/visual-tests/__image_snapshots__/Scale.VisualTest.png
  viewer/reveal.api.md
Labels: none

chore: update CI/CD secret usage (#3865)
  .github/workflows/ci.yml
  .github/workflows/locize-sync.yml
  .github/workflows/nightly-publish-to-npm.yml
  .github/workflows/publish-react-component-to-npm-on-demand.yml
  .github/workflows/publish-to-npm-on-release.yml
  .github/workflows/react-components-ci.yml
Labels: none

fix: update world space node transforms when new model transformation is set
  examples/src/utils/NodeTransformUI.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/rendering/src/transform/NodeTransformProvider.ts
  viewer/packages/utilities/src/constants.ts
Labels: none

chore: add node transform tool to examples
  examples/src/utils/NodeTransformUI.ts
Labels: none

chore: add jsdoc for new param
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
Labels: none

feat: allow fetching bounding box for multiple node ids
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
Labels: none

chore: move model transformationn in visual test after node transform to guard for issues related to updating transform
  viewer/packages/api/visual-tests/NodeTransform.VisualTest.ts
Labels: none

test: add test for bounding box fetcher
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.test.ts
Labels: none

chore: update API spec
  viewer/reveal.api.md
Labels: none

chore: remove references to spherical segment material
  viewer/packages/rendering/src/rendering/materials.ts
Labels: none

feat: change method to return list of all boxes related to nodes
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.test.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
Labels: none

chore: update API
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/reveal.api.md
Labels: none

chore: lint fix and jsdoc example fix
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
Labels: none

chore: bump 4.6.0
  viewer/package.json
Labels: none

test: fix test
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.test.ts
Labels: none

chore: fix lint in test
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.test.ts
Labels: none

fix: support CAD models with coordinates far from the origin (#3864)
  examples/src/utils/NodeTransformUI.ts
  viewer/packages/360-images/visual-tests/__image_snapshots__/Image360.VisualTest.png
  viewer/packages/api/visual-tests/NodeTransform.VisualTest.ts
  viewer/packages/api/visual-tests/__image_snapshots__/NodeTransform.VisualTest.png
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/cad-model/visual-tests/__image_snapshots__/Scale.VisualTest.png
  viewer/packages/cad-styling/visual-tests/__image_snapshots__/CustomWithStyling.VisualTest.png
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/src/glsl/sector/instancedMesh.vert
  viewer/packages/rendering/src/glsl/sector/mesh.vert
  viewer/packages/rendering/src/glsl/sector/primitives/circle.vert
  viewer/packages/rendering/src/glsl/sector/primitives/cone.vert
  viewer/packages/rendering/src/glsl/sector/primitives/eccentricCone.vert
  viewer/packages/rendering/src/glsl/sector/primitives/ellipsoidSegment.vert
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.vert
  viewer/packages/rendering/src/glsl/sector/primitives/generalring.vert
  viewer/packages/rendering/src/glsl/sector/primitives/sphericalSegment.frag
  viewer/packages/rendering/src/glsl/sector/primitives/sphericalSegment.vert
  viewer/packages/rendering/src/glsl/sector/primitives/torusSegment.vert
  viewer/packages/rendering/src/glsl/sector/primitives/trapezium.vert
  viewer/packages/rendering/src/glsl/sector/sectorCoverage.frag
  viewer/packages/rendering/src/glsl/sector/sectorCoverage.vert
  viewer/packages/rendering/src/glsl/sector/simple.frag
  viewer/packages/rendering/src/glsl/sector/simple.vert
  viewer/packages/rendering/src/rendering/materials.ts
  viewer/packages/rendering/src/rendering/shaders.ts
  viewer/packages/rendering/src/transform/NodeTransformProvider.ts
  viewer/packages/utilities/src/constants.ts
  viewer/reveal.api.md
Labels: none

feat: allow fetching bounding box for multiple node ids (#3866)
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.test.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/reveal.api.md
Labels: none

chore: bump 4.6.0 (#3867)
  viewer/package.json
Labels: none

chore: update ThreeJS to 158
  examples/package.json
  examples/yarn.lock
  react-components/package.json
  react-components/yarn.lock
  viewer/api-entry-points/core.ts
  viewer/package.json
  viewer/packages/camera-manager/index.ts
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/reveal.api.md
  viewer/yarn.lock
Labels: none

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**
  - libs/shared/plotting-components/*
  - libs/shared/plotting-components/**/*

flexible-data-explorer:
  - apps/flexible-data-explorer/*
  - apps/flexible-data-explorer/**/*
  - libs/flexible-data-explorer/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*

unified-file-viewer:
  - libs/industry-canvas/*
  - libs/industry-canvas/**/*

contextualization:
  - libs/contextualization/*
  - libs/contextualization/**/*

3d-management:
  - apps/3d-management/*
  - apps/3d-management/**/*

cdf-document-search:
  - apps/cdf-document-search/*
  - apps/cdf-document-search/**/*

functions-ui:
  - apps/functions-ui/*
  - apps/functions-ui/**/*

interactive-diagrams:
  - apps/interactive-diagrams/*
  - apps/interactive-diagrams/**/*

diagram-parsing:
  - apps/diagram-parsing/*
  - apps/diagram-parsing/**/*

extraction-pipelines:
  - apps/extraction-pipelines/*
  - apps/extraction-pipelines/**/*

design-system:
  - libs/shared/user-profile-components/**/*
  - libs/shared/user-onboarding-components/**/*

charts:
  - apps/charts/*
  - apps/charts/**/*

asset-health:
  - apps/industry-canvas-ui/*
  - apps/industry-canvas-ui/**/*
  - apps/charts/*
  - apps/charts/**/*
  - libs/industry-canvas/*
  - libs/industry-canvas/**/*

access-management:
  - apps/access-management/*
  - apps/access-management/**/*

flows:
  - apps/flows/*

ai:
  - apps/copilot/*
  - apps/copilot/**/*
  - libs/copilot-core/*
  - libs/copilot-core/**/*
  - apps/notebook/*
  - apps/notebook/**/*

simint:
  - apps/simint/*
