Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

fix(data-explorer): Adding the substring functionality in matcher labels of multiple resources (#1202)
  libs/data-exploration/domain-layer/src/assets/internal/queries/useAssetsSearchResultWithLabelsQuery.ts
  libs/data-exploration/domain-layer/src/events/internal/queries/useEventsSearchResultWithLabelsQuery.ts
  libs/data-exploration/domain-layer/src/sequence/internal/queries/useSequenceSearchResultWithMatchingLabelsQuery.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/useTimeseriesSearchResultWithLabelsQuery.ts
Labels: data-explorer

chore: remove storybook
  apps/extraction-pipelines/.storybook/config.js
  apps/extraction-pipelines/.storybook/main.js
  apps/extraction-pipelines/.storybook/webpack.config.js
  apps/extraction-pipelines/Jenkinsfile
  apps/extraction-pipelines/package.json
  apps/extraction-pipelines/src/utils/test/sandbox.ts
  apps/extraction-pipelines/yarn.lock
Labels: none

fix(simconfig): fix run history navigate [DEGR-1526] (#3759)
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
Labels: none

chore: manually bump recursive-readdir to use newer version of minimatch
  apps/extraction-pipelines/yarn.lock
Labels: none

chore: bump plotly.js to use newer version of d3-color
  apps/extraction-pipelines/package.json
  apps/extraction-pipelines/yarn.lock
Labels: none

fix: track find in page (#1195)
  libs/data-exploration-components/src/constants/metrics.ts
  libs/data-exploration-components/src/containers/Files/FilePreview/ActionTools.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreview.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/SearchBar.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/utils.ts
  libs/data-exploration/domain-layer/src/pnids/internal/hooks/index.ts
  libs/data-exploration/domain-layer/src/pnids/internal/hooks/useSearchInContainer.ts
Labels: data-explorer

Add @relation field directive (#1048)
  apps/platypus/src/app/modules/solution/data-model/components/EditorPanel/EditorPanel.tsx
  apps/platypus/src/app/modules/solution/data-model/components/EditorPanel/UIEditor.tsx
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/GraphqlCodeEditor.tsx
  apps/platypus/src/app/modules/solution/data-model/components/TypeDefFields/TypeDefFields.tsx
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.spec.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/CodeCompletionProvider.ts
  apps/platypus/src/app/modules/solution/hooks/useDataModelState.tsx
  apps/platypus/src/app/redux/reducers/global/dataModelReducer.ts
  libs/platypus-common-utils/src/lib/graphql/graphql-utils-service.spec.ts
  libs/platypus-common-utils/src/lib/graphql/graphql-utils-service.ts
  libs/platypus-common-utils/src/lib/graphql/utils.ts
  libs/platypus-common-utils/src/lib/graphql/validation/NotSupportedFeaturesRule.ts
  libs/platypus-common-utils/src/lib/graphql/validation/RelationDirectiveValidator.ts
  libs/platypus-common-utils/src/lib/graphql/validation/ViewDirectiveValidator.ts
  libs/platypus-core/src/lib/domain/data-model/boundaries/index.ts
  libs/platypus-core/src/lib/domain/data-model/constants.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-current/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/services/data-model-type-defs-builder.service.ts
  libs/platypus-core/src/lib/domain/data-model/types/data-model-type-defs-types.ts
  libs/platypus-core/src/lib/domain/data-model/types/index.ts
Labels: platypus

chore: bump loader-utils manually
  apps/extraction-pipelines/yarn.lock
Labels: none

fix(data-explorer): Fixing the wording for Direct asset label (#1203)
  libs/data-exploration-components/src/components/Table/columns.tsx
Labels: data-explorer

chore: bump visx packages
  package.json
  yarn.lock
Labels: fusion-maintainers

improvement: pick only when intersects bounding box of cadnode (#2953)
  viewer/packages/cad-model/src/picking/PickingHandler.test.ts
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: none

chore: remove @types/sinon
  package.json
  yarn.lock
Labels: fusion-maintainers

Remove up front capability checking
  apps/extraction-pipelines/src/components/accessCheck/CapabilityCheck.test.jsx
  apps/extraction-pipelines/src/components/accessCheck/CapabilityCheck.tsx
  apps/extraction-pipelines/src/components/extpipe/ExtpipeDetails.tsx
  apps/extraction-pipelines/src/components/extpipe/ExtpipeHeading.test.jsx
  apps/extraction-pipelines/src/components/extpipe/ExtpipeView.test.jsx
  apps/extraction-pipelines/src/components/modals/RawEditModal.tsx
  apps/extraction-pipelines/src/hooks/useOneOfPermissions.test.js
  apps/extraction-pipelines/src/hooks/useOneOfPermissions.ts
  apps/extraction-pipelines/src/pages/Extpipe/ExtpipePage.test.jsx
  apps/extraction-pipelines/src/pages/Extpipe/ExtpipePage.tsx
  apps/extraction-pipelines/src/pages/Extpipes/Extpipes.test.jsx
  apps/extraction-pipelines/src/pages/Extpipes/Extpipes.tsx
  apps/extraction-pipelines/src/pages/create/CreateExtpipe.test.jsx
  apps/extraction-pipelines/src/pages/create/CreateExtpipe.tsx
  apps/extraction-pipelines/src/setupTests.ts
Labels: none

Docs: fix 360 image event examples in docs (#2958)
  documentation/docs/examples/image360.mdx
  documentation/versioned_docs/version-4.x/examples/image360.mdx
Labels: none

Update documentation/docs/examples/cad-3dobjects.mdx
  documentation/docs/examples/cad-3dobjects.mdx
Labels: none

fix(data-explorer): sort authors by frequency (#1197)
  libs/data-exploration/domain-layer/src/documents/service/transformers/mapAggregatesToFilters.ts
Labels: data-explorer

fix: Deleting models while sectors are loading no longer causes error flood (#2957)
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/tsconfig.typedoc.json
Labels: none

feature(platypus): expose dml errors (#1192)
  apps/platypus-cdf-cli/src/main.ts
  apps/platypus/src/app/components/Notification/Notification.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/usePreviewData.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/usePublishedRowsCountMapByType.ts
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
  libs/platypus-core/src/lib/boundaries/types/platypus-error.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
Labels: platypus

chore: update uiw codemirror UI stuff as well
  documentation/package.json
  documentation/yarn.lock
Labels: none

fix(data-explorer): improve routing structure (#906)
  apps/data-exploration/src/app/containers/App/index.ts
  apps/data-exploration/src/app/containers/App/routes.ts
  apps/data-exploration/src/app/containers/Asset/AssetPreview.tsx
  apps/data-exploration/src/app/containers/Asset/AssetSearchResultView.tsx
  apps/data-exploration/src/app/containers/Event/EventSearchResultView.tsx
  apps/data-exploration/src/app/containers/Exploration/ExplorerV2.tsx
  apps/data-exploration/src/app/containers/Exploration/SearchResultsPageV2.tsx
  apps/data-exploration/src/app/containers/Exploration/index.ts
  apps/data-exploration/src/app/containers/File/FileSearchResultView.tsx
  apps/data-exploration/src/app/containers/ResourceDetails/ResourceDetailsPage.tsx
  apps/data-exploration/src/app/containers/Sequence/SequenceSearchResultView.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDSearchResultView.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesSearchResultView.tsx
  apps/data-exploration/src/app/containers/elements.ts
  apps/data-exploration/src/app/hooks/hooks.ts
  libs/data-exploration-components/src/components/SearchNew/ResourceTabs/SequenceTab.tsx
  libs/data-exploration-components/src/types/Types.tsx
Labels: data-explorer

fix: use shared on render hook
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/360-images/src/visuals/Image360CollectionIcons.ts
  viewer/packages/360-images/src/visuals/image360Icon.vert
Labels: none

chore: restructure folder / files in 360 image package
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/360-images/src/collection/Image360CollectionIcons.ts
  viewer/packages/360-images/src/collection/image360Icon.frag
  viewer/packages/360-images/src/collection/image360Icon.vert
  viewer/packages/360-images/src/entity/Image360.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360Icon.ts
  viewer/packages/360-images/src/entity/Image360Visualization.ts
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
  viewer/packages/360-images/src/types.ts
  viewer/packages/360-images/unit-tests/Image360CollectionFactory.test.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: none

fix: wrong import in test
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
Labels: none

chore(data-exploration): generate 'components' lib (#1210)
  libs/data-exploration/components/.babelrc
  libs/data-exploration/components/.eslintrc.json
  libs/data-exploration/components/README.md
  libs/data-exploration/components/jest.config.ts
  libs/data-exploration/components/package.json
  libs/data-exploration/components/project.json
  libs/data-exploration/components/src/index.ts
  libs/data-exploration/components/src/lib/data-exploration-components.module.css
  libs/data-exploration/components/src/lib/data-exploration-components.spec.tsx
  libs/data-exploration/components/src/lib/data-exploration-components.tsx
  libs/data-exploration/components/tsconfig.json
  libs/data-exploration/components/tsconfig.lib.json
  libs/data-exploration/components/tsconfig.spec.json
  nx.json
  package.json
  tsconfig.base.json
  yarn.lock
Labels: fusion-maintainers, data-explorer

chore: generate containers library (#1212)
  CODEOWNERS
  libs/data-exploration/containers/.babelrc
  libs/data-exploration/containers/.eslintrc.json
  libs/data-exploration/containers/README.md
  libs/data-exploration/containers/jest.config.ts
  libs/data-exploration/containers/package.json
  libs/data-exploration/containers/project.json
  libs/data-exploration/containers/src/index.ts
  libs/data-exploration/containers/src/lib/data-exploration-containers.module.css
  libs/data-exploration/containers/src/lib/data-exploration-containers.spec.tsx
  libs/data-exploration/containers/src/lib/data-exploration-containers.tsx
  libs/data-exploration/containers/tsconfig.json
  libs/data-exploration/containers/tsconfig.lib.json
  libs/data-exploration/containers/tsconfig.spec.json
  tsconfig.base.json
Labels: fusion-maintainers, data-explorer

feat: add transparency when icon is rendered behind geometry
  viewer/packages/360-images/src/collection/Image360CollectionIcons.ts
  viewer/packages/360-images/src/collection/image360Icon.frag
Labels: none

fix: All tab with (#1211)
  apps/data-exploration/src/app/containers/All/AllTab.tsx
Labels: data-explorer

fix: opening multiple 360 images
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

Fixed mobile navigation together with viewer example modification
  examples/src/pages/Viewer.tsx
  examples/src/utils/PageVariationUtils.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Labels: none

lint
  viewer/packages/camera-manager/src/ComboControls.ts
Labels: none

fix(discover): stick chart nightly e2e for measurements column (#3762)
  apps/discover/cypress/integration/wells/inspect-view/stick-chart/stick-chart.spec.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/components/Chart/Chart.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/components/PlotlyChartColumn/PlotlyChartColumn.tsx
Labels: none

fix(data-explorer): Adding the dataset column in asset, document table (#1213)
  libs/data-exploration-components/src/components/Table/columns.tsx
  libs/data-exploration-components/src/components/Table/constants.ts
  libs/data-exploration-components/src/containers/Assets/AssetSummary/AssetSummary.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTable/AssetTable.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTreeTable/AssetTreeTable.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentSummary/DocumentSummary.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentsTable.tsx
  libs/data-exploration-components/src/containers/Events/EventSummary/EventSummary.tsx
  libs/data-exploration-components/src/containers/Events/EventTable/EventTable.tsx
  libs/data-exploration-components/src/containers/Files/FileSummary/FileSummary.tsx
  libs/data-exploration-components/src/containers/Files/FileTable/FileTable.tsx
  libs/data-exploration-components/src/containers/Sequences/SequenceSummary/SequenceSummary.tsx
  libs/data-exploration-components/src/containers/Sequences/SequenceTable/SequenceTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesTable/TimeseriesTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimseriesSummary/TimeseriesSummary.tsx
Labels: data-explorer

feat: 360 image icons are now batch rendered and reuses textures (#2959)
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/package.json
  viewer/packages/360-images/src/Image360EntityFactory.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/360-images/src/collection/Image360CollectionIcons.ts
  viewer/packages/360-images/src/collection/image360Icon.frag
  viewer/packages/360-images/src/collection/image360Icon.vert
  viewer/packages/360-images/src/entity/Image360.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360Icon.ts
  viewer/packages/360-images/src/entity/Image360Visualization.ts
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
  viewer/packages/360-images/src/types.ts
  viewer/packages/360-images/unit-tests/Image360CollectionFactory.test.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/three/AttributeDataAccessor.ts
Labels: none

chore: update @codemirror/language to 6.6.0
  documentation/package.json
  documentation/yarn.lock
Labels: none

feat: add transparency when icon is rendered behind geometry
  viewer/packages/360-images/src/collection/Image360CollectionIcons.ts
  viewer/packages/360-images/src/collection/image360Icon.frag
Labels: none

fix: dispose back and only trigger on render once
  viewer/packages/360-images/src/collection/Image360CollectionIcons.ts
Labels: none

fix: opening multiple 360 images
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

fix(simconfig): Fix cluster handler (#3761)
  apps/simconfig/src/components/app/App.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/utils/createCdfLink.ts
Labels: none

feat: add texture triangle mesh as its own collection type
  viewer/packages/cad-model/src/utilities/getShaderMaterial.ts
  viewer/packages/cad-parsers/src/cad/filterPrimitivesV9.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/packages/sector-parser/src/GltfSectorParser.ts
  viewer/packages/sector-parser/src/reveal-glb-parser/primitiveGeometries.ts
  viewer/packages/sector-parser/src/types.ts
Labels: none

chore: remove unnecessary console log
  viewer/packages/rendering/src/CadMaterialManager.ts
Labels: none

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*
