Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*

fixed unit test
  viewer/packages/cad-model/src/picking/PickingHandler.test.ts
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: none

fix(platypus): toggle interfaces on filter click (#1167)
  apps/platypus/src/app/components/SchemaVisualizer/SchemaVisualizer.tsx
  apps/platypus/src/app/components/SchemaVisualizer/nodes/SmallNode.tsx
  apps/platypus/src/app/components/SchemaVisualizer/utils.ts
Labels: platypus

Delay table count API calls
  src/components/SidePanelDatabaseList/SidePanelDatabaseListContent.tsx
  src/components/SidePanelDatabaseList/SidePanelDatabaseListItem.tsx
  src/utils/utils.ts
Labels: none

fix: keep menu open for multiselect components (#1170)
  apps/data-exploration/src/app/containers/Asset/AssetFilters.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/AggregatedFilter/AggregatedFilter.tsx
  libs/data-exploration-components/src/components/Select/MultiSelect.tsx
Labels: data-explorer

fix: upgrade dependencies for security
  package.json
  yarn.lock
Labels: fusion-maintainers

Enable data model updates from settings modal (#1174)
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.spec.tsx
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.tsx
  libs/platypus-core/src/lib/domain/data-model/dto/data-models-handler-dtos.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
Labels: platypus

fix: pin and upgrade cognite packages for compatibility
  package.json
  yarn.lock
Labels: fusion-maintainers

fix: add and update eslint-prettier packages
  package.json
  yarn.lock
Labels: fusion-maintainers

fix: fix dropdown in add capability
  yarn.lock
Labels: fusion-maintainers

fix: upgrade recursive-readdir to fix minimatch vulnerability
  yarn.lock
Labels: fusion-maintainers

fix(simconfig): add safe check for user (#3752)
  apps/simconfig/src/components/app/App.tsx
Labels: none

fix: adaptive sizing
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360EntityFactory.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/360-images/src/visuals/Image360CollectionIcons.ts
  viewer/packages/360-images/src/visuals/image360Icon.frag
  viewer/packages/360-images/src/visuals/image360Icon.vert
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/three/AttributeDataAccessor.ts
Labels: none

Added equipment specific component map (#3753)
  apps/scarlet/src/pages/Menubar.tsx
  apps/scarlet/src/transformations/transformEquipmentData.ts
  apps/scarlet/src/types/equipmentConfig.ts
  apps/scarlet/src/utils/getEquipmentType.ts
Labels: none

fix: hierarchy full size view (#1171)
  apps/data-exploration/src/app/containers/Asset/AssetHierarchyTab.tsx
  apps/data-exploration/src/app/containers/Asset/AssetPreview.tsx
  apps/data-exploration/src/app/utils/compare.ts
Labels: data-explorer

fix(data-explorer): search params are not parsed correctly for + (#1178)
  apps/data-exploration/src/app/components/Breadcrumbs/Breadcrumbs.tsx
  apps/data-exploration/src/app/components/TitleRowActions/FullscreenButton.tsx
  apps/data-exploration/src/app/components/TitleRowActions/PreviewCloseButton.tsx
  apps/data-exploration/src/app/containers/Common/CommonFilter.tsx
  apps/data-exploration/src/app/containers/ResourceDetails/ResourceDetailsTabs/ResourceDetailsTabs.tsx
  apps/data-exploration/src/app/hooks/hooks.ts
  apps/data-exploration/src/app/utils/URLUtils.ts
Labels: data-explorer

fix: ui editor does not sync with code editor (#1134)
  apps/platypus/src/app/redux/reducers/global/dataModelReducer.ts
Labels: platypus

Removed DownloadRequest return
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.test.ts
Labels: none

fix(coding-conventions): update edit table (#1176)
  apps/coding-conventions/src/app/pages/edit/DataCleanupComponent.tsx
  apps/coding-conventions/src/app/pages/edit/EditPage.tsx
  apps/coding-conventions/src/app/pages/validation/validation.ts
  apps/coding-conventions/src/app/pages/validation/validationRegex.ts
  apps/coding-conventions/src/app/types.ts
Labels: coding-conventions

fix(coding-conventions): Add highlighting in text edit mode (#1180)
  apps/coding-conventions/src/app/components/Text/StructureText.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionHeader.tsx
Labels: coding-conventions

fix: add proper intersection logic
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/Image360Icon.ts
Labels: none

fix: remove react picture annotation (#1165)
  apps/data-exploration/src/app/containers/Canvas/CanvasPage.tsx
  apps/data-exploration/src/app/containers/File/FilePreview.tsx
  libs/data-exploration-components/src/context/DataExplorationContext.tsx
  package.json
  yarn.lock
Labels: fusion-maintainers, data-explorer

fix: make getIntersection a pure function
  viewer/packages/360-images/src/Image360Facade.ts
Labels: none

fix(platypus): do the date compare in DataModelHeader (#1160)
  apps/platypus/src/app/components/SchemaVersionDropdown/SchemaVersionDropdown.tsx
  apps/platypus/src/app/hooks/useDataModelActions.spec.ts
  apps/platypus/src/app/hooks/useDataModelActions.ts
Labels: platypus

chore(data-explorer): re-enable content column (#1183)
  libs/data-exploration-components/src/containers/Documents/DocumentSummary/DocumentSummary.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentsTable.tsx
  libs/data-exploration/domain-layer/src/documents/service/queries/useDocumentSearchQuery.ts
  package.json
  yarn.lock
Labels: fusion-maintainers, data-explorer

Added test and now resolve q'd promise.
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
Labels: none

Added abortSignal comment
  viewer/packages/data-providers/src/ModelDataProvider.ts
Labels: none

feat: initial simple support for textures
  viewer/packages/rendering/src/glsl/sector/mesh.frag
  viewer/packages/rendering/src/glsl/sector/mesh.vert
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/packages/sector-parser/src/GltfSectorParser.ts
  viewer/packages/sector-parser/src/types.ts
Labels: none

feat(data-explorer): matching labels in Assets (#1177)
  libs/data-exploration-components/src/components/DragDropContainer/DragDropContainer.tsx
  libs/data-exploration-components/src/components/Table/Table.tsx
  libs/data-exploration-components/src/components/Table/columns.tsx
  libs/data-exploration-components/src/components/Table/components/ColumnToggle.tsx
  libs/data-exploration-components/src/components/Table/components/DirectAssets.tsx
  libs/data-exploration-components/src/components/Table/components/HighlightCell.tsx
  libs/data-exploration-components/src/components/Table/components/LoadMore.tsx
  libs/data-exploration-components/src/components/Table/components/MatchingLabels.tsx
  libs/data-exploration-components/src/components/Table/components/SortIcon.tsx
  libs/data-exploration-components/src/components/Table/elements.ts
  libs/data-exploration-components/src/components/Table/index.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTable/AssetTable.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTreeTable/AssetTreeTable.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/Canvas.tsx
  libs/data-exploration-components/src/containers/SearchResults/AssetSearchResults/AssetSearchResults.tsx
  libs/data-exploration/core/src/utils/index.ts
  libs/data-exploration/core/src/utils/useCompare.ts
  libs/data-exploration/core/src/utils/useDeep.ts
  libs/data-exploration/domain-layer/src/assets/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/assets/internal/queries/useAssetsSearchResultWithLabelsQuery.ts
  libs/data-exploration/domain-layer/src/assets/internal/types.ts
  libs/data-exploration/domain-layer/src/assets/service/queries/useSearchAssetTree.ts
  libs/data-exploration/domain-layer/src/assets/service/transformers/normalize.ts
  libs/data-exploration/domain-layer/src/assets/service/utils/concatParents.ts
  libs/data-exploration/domain-layer/src/utils/__tests__/extractMatchingLabels.spec.ts
  libs/data-exploration/domain-layer/src/utils/extractMatchingLabels.ts
Labels: data-explorer

fix: renovate configuration for schedule (#605)
  apps/3d-management/.github/renovate.json
Labels: none

docs: add helpful comment about throttle function recreation
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
Labels: none

improvement: make the reset function a dispose
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/pointclouds/src/PointCloudPickingHandler.ts
Labels: none

chore: lint fix
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/packages/sector-parser/src/GltfSectorParser.ts
Labels: none

fix: Fix more point cloud leaks (#2943)
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/pointclouds/src/PointCloudFactory.ts
  viewer/packages/pointclouds/src/PointCloudManager.ts
  viewer/packages/pointclouds/src/PointCloudPickingHandler.ts
  viewer/packages/pointclouds/src/createPointCloudManager.ts
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePicker.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
  viewer/packages/pointclouds/src/potree-three-loader/utils/WorkerPool.ts
  viewer/packages/pointclouds/visual-tests/PointCloudColorStyling.VisualTest.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
Labels: none

chore: refactor image360 facade to be collection based
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/DefaultImage360Collection.ts
  viewer/packages/360-images/src/Image360CollectionFactory.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

Bump version: 0.4.11 -> 0.4.13 (#3755)
  apps/scarlet/package.json
Labels: none

fix: add dispose logic for collection icons
  viewer/packages/360-images/src/DefaultImage360Collection.ts
  viewer/packages/360-images/src/Image360CollectionFactory.ts
  viewer/packages/360-images/src/visuals/Image360CollectionIcons.ts
Labels: none

chore: move premultiplied logic to data provider
  viewer/packages/360-images/src/Image360CollectionFactory.ts
  viewer/packages/360-images/src/visuals/Image360CollectionIcons.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/types.ts
Labels: none

fix(simconfig): init mixpanel [DEGR-1490] (#3756)
  apps/simconfig/src/components/app/App.tsx
  apps/simconfig/src/utils/metrics/tracking.ts
  apps/simconfig/src/utils/sidecar.ts
Labels: none

fix: remove sprite from scene on dispose
  viewer/packages/360-images/src/Image360Icon.ts
Labels: none

fix: depth test of sprite hover icon
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
Labels: none
