Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

Bump version: 36.0.0 -> 37.0.0 (#3749)
  apps/discover/package.json
Labels: none

chore: remove unnecessary script (#952)
  scripts/generate-mfe-artifacts.js
Labels: none

Fixing tests
  src/components/FunctionModals/FunctionLogsModal.test.tsx
  src/components/FunctionModals/FunctionLogsModal.tsx
  src/containers/Functions/Functions.test.tsx
  src/setupTests.js
Labels: none

Fixing lint
  src/components/FunctionModals/FunctionLogsModal.test.tsx
  src/containers/Functions/Functions.test.tsx
Labels: none

Update babel-loader
  package.json
  src/components/FunctionModals/FunctionLogsModal.tsx
Labels: fusion-maintainers

feat(coding-conventions): Add validation page (#1122)
  apps/coding-conventions/src/app/App.tsx
  apps/coding-conventions/src/app/Routes.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionView.tsx
  apps/coding-conventions/src/app/pages/validation/ValidationCdfDataComponent.tsx
  apps/coding-conventions/src/app/pages/validation/ValidationTextComponent.tsx
  apps/coding-conventions/src/app/pages/validation/ValidationsPage.tsx
  apps/coding-conventions/src/app/pages/validation/styles.ts
  apps/coding-conventions/src/app/pages/validation/tests/validation.test.ts
  apps/coding-conventions/src/app/pages/validation/validation.ts
  apps/coding-conventions/src/app/pages/validation/validationRegex.ts
  apps/coding-conventions/src/app/service/conventions.ts
  apps/coding-conventions/src/app/types.ts
  apps/coding-conventions/src/app/utils/validateDataMap.ts
  package.json
  yarn.lock
Labels: fusion-maintainers, coding-conventions

Update babel-loader
  yarn.lock
Labels: fusion-maintainers

Update babel/runtime
  package.json
  yarn.lock
Labels: fusion-maintainers

Update babel/runtime + babel/core
  package.json
  yarn.lock
Labels: fusion-maintainers

Disabling storybook
  Jenkinsfile
  package.json
Labels: fusion-maintainers

bugfix-react-container-token (#3747)
  packages/react-container/CHANGELOG.md
  packages/react-container/package.json
  packages/react-container/src/components/AuthProvider/AuthContainer.tsx
Labels: none

feat(coding-conventions): connect to database (raw) (#1126)
  apps/coding-conventions/src/app/App.tsx
  apps/coding-conventions/src/app/Routes.tsx
  apps/coding-conventions/src/app/components/Card.tsx
  apps/coding-conventions/src/app/components/Collapse/BaseFilterCollapse.tsx
  apps/coding-conventions/src/app/components/Collapse/BaseFilterHeader.tsx
  apps/coding-conventions/src/app/components/Info/HintText.tsx
  apps/coding-conventions/src/app/components/Info/InfoTooltip.tsx
  apps/coding-conventions/src/app/components/Modal/Modal.tsx
  apps/coding-conventions/src/app/components/Table/AbbreviationTable.tsx
  apps/coding-conventions/src/app/components/Text/StructureText.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionHeader.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionItem.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionList.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionView.tsx
  apps/coding-conventions/src/app/containers/system/SystemItem.tsx
  apps/coding-conventions/src/app/containers/system/SystemList.tsx
  apps/coding-conventions/src/app/containers/system/SystemView.tsx
  apps/coding-conventions/src/app/hooks/useDependentConvention.ts
  apps/coding-conventions/src/app/pages/ConventionsPage.tsx
  apps/coding-conventions/src/app/pages/validation/ValidationCdfDataComponent.tsx
  apps/coding-conventions/src/app/pages/validation/tests/validation.test.ts
  apps/coding-conventions/src/app/pages/validation/validation.ts
  apps/coding-conventions/src/app/pages/validation/validationRegex.ts
  apps/coding-conventions/src/app/service/conventions.ts
  apps/coding-conventions/src/app/service/hooks/mutate/useConventionCreateMutate.ts
  apps/coding-conventions/src/app/service/hooks/mutate/useConventionDeleteMutate.ts
  apps/coding-conventions/src/app/service/hooks/mutate/useConventionUpdateMutate.ts
  apps/coding-conventions/src/app/service/hooks/mutate/useSystemMutate.ts
  apps/coding-conventions/src/app/service/hooks/query/useConventionListQuery.ts
  apps/coding-conventions/src/app/service/hooks/query/useSystemListQuery.ts
  apps/coding-conventions/src/app/service/hooks/query/useSystemQuery.ts
  apps/coding-conventions/src/app/service/storage/Database.ts
  apps/coding-conventions/src/app/service/storage/connectors/RawConnector.ts
  apps/coding-conventions/src/app/service/storage/connectors/dao.ts
  apps/coding-conventions/src/app/types.ts
  apps/coding-conventions/src/app/utils/generators.ts
  apps/coding-conventions/src/app/utils/validateDataMap.ts
  apps/coding-conventions/src/main.tsx
Labels: coding-conventions

Addressing comments
  src/components/FunctionModals/FunctionLogsModal.tsx
Labels: none

fix(platypus-core): read detailed error during 'createUpdateDataModel' (#1159)
  apps/mock-server/src/app/middlewares/data-modeling/config/schema-service-api.ts
  apps/mock-server/src/app/middlewares/data-modeling/mixerAPi/metaApi/graphql-resolvers.ts
  apps/mock-server/src/tests/mixer-api.spec.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/dto/mixer-api-dtos.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/services/mixer-api/fdm-mixer-api.service.ts
Labels: none

fix: use native method from react-table (#1162)
  libs/data-exploration-components/src/components/Table/Table.tsx
Labels: data-explorer

fix(coding-conventions): minor changes to edit page (#1164)
  apps/coding-conventions/src/app/Routes.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionHeader.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionItem.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionView.tsx
  apps/coding-conventions/src/app/pages/edit/DataCleanupComponent.tsx
  apps/coding-conventions/src/app/pages/edit/EditPage.tsx
  apps/coding-conventions/src/app/pages/edit/helpers.ts
  apps/coding-conventions/src/app/pages/pasteView/EditTablePage.tsx
  apps/coding-conventions/src/app/pages/validation/tests/validation.test.ts
  apps/coding-conventions/src/app/pages/validation/validation.ts
  apps/coding-conventions/src/app/service/conventions.ts
  apps/coding-conventions/src/app/service/hooks/mutate/useConventionCreateMutate.ts
  apps/coding-conventions/src/app/types.ts
Labels: coding-conventions

Apply suggestions from code review
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

feat(coding-conventions): mini range selector (#1161)
  apps/coding-conventions/src/app/pages/edit/DataCleanupComponent.tsx
  apps/coding-conventions/src/app/pages/edit/googleTables.ts
  apps/coding-conventions/src/app/pages/edit/helpers.ts
  apps/coding-conventions/src/app/types.ts
  package.json
  yarn.lock
Labels: fusion-maintainers, coding-conventions

lint
  examples/src/pages/Viewer.tsx
  viewer/api-entry-points/core.ts
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

chore: add testdata
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/package.json
Labels: none

lint
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

fix(simconfig): DEGR-1409 disabled select & memoize endtime (#3744)
  apps/simconfig/src/pages/CalculationConfiguration/CalculationConfiguration.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/AdvancedStep.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/InputStep.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/OutputStep.tsx
Labels: none

fix: pin cdf-utilities version 1.4.0 has a breaking change, as it requires react-router-dom@^6
  package.json
  yarn.lock
Labels: fusion-maintainers

fix: data-explorer build (#1168)
  apps/data-exploration/webpack-config.js
Labels: data-explorer

Removed exposing of StationaryCameraManager
  examples/src/pages/Viewer.tsx
  viewer/api-entry-points/core.ts
Labels: none

Small fix
  examples/src/pages/Viewer.tsx
Labels: none

fix: pin react & react-dom types to 17
  yarn.lock
Labels: fusion-maintainers

fix: working 360 images on iOS together with StationaryCameraManager refactor for touch controls. (#2952)
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

fix: bug in search of data tab
  src/components/Data/ExploreData.tsx
Labels: none

Removing rescripts
  config-overrides.js
  package.json
  src/cogs-variables.js
  src/components/AntStyles.tsx
  src/styles/styleScope.js
  yarn.lock
Labels: fusion-maintainers

Removing rescripts
  .rescriptsrc.js
  package.json
  yarn.lock
Labels: fusion-maintainers

Updating script
  bin/ci-run-unittest.sh
Labels: none

fix(data-explorer): Add toolbar component in file preview (#1137)
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreviewUFV/ActionTools.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreviewUFV/SearchBar.tsx
Labels: data-explorer

pick only when ray intersects bounding box of the cadnode
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: none

Upgrade cog eslint + remove immer
  package.json
  yarn.lock
Labels: fusion-maintainers

Remove identity-obj-proxy
  package.json
Labels: fusion-maintainers

Downgrading eslint
  package.json
  yarn.lock
Labels: fusion-maintainers

fix: used debouncedQuery
  src/components/Data/ExploreData.tsx
Labels: none

fix(simconfig): enable tracking on production & next-release (#3751)
  apps/simconfig/src/components/app/App.tsx
  apps/simconfig/src/utils/metrics/tracking.ts
Labels: none

Fix: put metadata to the groups form values.
  src/pages/Groups/GroupDrawer.tsx
Labels: none

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*
