Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions, unified-file-viewer, contextualization, 3d-management, cdf-document-search, extraction-pipelines

Updating tests
  apps/functions-ui/setupTests.js
  apps/functions-ui/src/components/FunctionModals/CallFunctionModal.test.tsx
  apps/functions-ui/src/components/FunctionModals/CreateScheduleModal.tsx
  apps/functions-ui/src/components/FunctionModals/DeleteFunctionModal.tsx
  apps/functions-ui/src/components/FunctionModals/UploadFunctionModal.tsx
Labels: none

Updating Jenkins, Codeowners, codecov
  apps/functions-ui/package.json
  apps/functions-ui/yarn.lock
Labels: none

Updating Jenkins, Codeowners, codecov
  CODEOWNERS
  Jenkinsfile
  codecov.yml
  package.json
  yarn.lock
Labels: fusion-maintainers

fix(industry-canvas): do not upsert canvas with updatedByUser (#2146)
  libs/industry-canvas/src/lib/IndustryCanvasHomePage.tsx
  libs/industry-canvas/src/lib/utils/convertCanvasWithUserProfileToSerializedCanvasDocument.ts
Labels: unified-file-viewer

Removing debugging statement
  apps/functions-ui/src/components/FunctionCalls.tsx
Labels: none

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - apps/flexible-data-explorer/*
  - apps/flexible-data-explorer/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**
  - libs/shared/plotting-components/*
  - libs/shared/plotting-components/**/*

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*

unified-file-viewer:
  - libs/industry-canvas/*
  - libs/industry-canvas/**/*

contextualization:
  - libs/contextualization/*
  - libs/contextualization/**/*

3d-management:
  - apps/3d-management/*
  - apps/3d-management/**/*

cdf-document-search:
  - apps/cdf-document-search/*
  - apps/cdf-document-search/**/*

extraction-pipelines:
  - apps/extraction-pipelines/*
  - apps/extraction-pipelines/**/*
