Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*

feat: Automatic Close of Upload Modal after Successful Upload and Retain on Failed Upload (#612)
  apps/3d-management/src/pages/AllModels/AllModels.tsx
  apps/3d-management/src/pages/AllModels/components/FileUploader/FileUploader.tsx
  apps/3d-management/src/pages/AllModels/components/ModelRevisions/ModelRevisions.tsx
Labels: none

Apply suggestions from code review
  examples/src/utils/PageVariationUtils.ts
Labels: none

updated picking to render once for depth calculation
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: none

chore: add missing return signatures
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/rendering/materials.ts
Labels: none

chore: isolate texture materials a bit more
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/rendering/materials.ts
Labels: none

fix: mobile camera controls not working in certain scenarious (#2967)
  examples/src/pages/Viewer.tsx
  examples/src/utils/PageVariationUtils.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Labels: none

chore: small code move
  viewer/packages/rendering/src/CadMaterialManager.ts
Labels: none

chore: insert assert instead of !
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
Labels: none

fix: dispose material on remove
  viewer/packages/rendering/src/CadMaterialManager.ts
Labels: none

chore: remove texture when textured sector is unloaded
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
Labels: none

fix(simconfig): Refactor capabilities check (#3716)
  apps/simconfig/src/components/Menubar.tsx
  apps/simconfig/src/components/forms/ModelForm/ModelForm.tsx
  apps/simconfig/src/components/models/CalculationList/CalculationList.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/store/capabilities/selectors.ts
Labels: none

fixed failed unit test
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: none

clean up
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: none

feat(data-explorer): Add children count to asset hierarchy when filters applied (#1214)
  libs/data-exploration-components/src/containers/Assets/AssetTreeTable/AssetTreeTable.tsx
  libs/data-exploration/domain-layer/src/assets/service/queries/useSearchAssetTree.ts
Labels: data-explorer

chore(simconfig): add no ts selected message [DEGR-726] (#3763)
  apps/simconfig/src/pages/CalculationConfiguration/utils.ts
  apps/simconfig/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/TimeSeriesPreview.tsx
Labels: none

test: update test
  viewer/packages/sector-loader/tests/GltfSectorLoader.test.ts
Labels: none

chore: fix test assertNever
  viewer/packages/sector-loader/visual-tests/SectorLoader.VisualTest.ts
Labels: none

feature(platypus): show errors in code editor (#1193)
  apps/platypus/src/app/modules/solution/data-model/components/EditorPanel/EditorPanel.tsx
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/GraphqlCodeEditor.tsx
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/Model.ts
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
Labels: platypus

Abort 360 images
  viewer/packages/360-images/package.json
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/Image360LoadingCache.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/yarn.lock
Labels: none

Remove paragraph on NoAccessPage (#1198)
  apps/platypus/src/app/components/NoAccessPage/NoAccessPage.tsx
Labels: platypus

chore(fusion): prefix gh tags created by releases (#1205)
  .github/workflows/deploy_mock-server.yml
  .github/workflows/deploy_platypus-cli.yml
Labels: none

refactor: move point creation logic to separate local methods
  viewer/packages/360-images/src/collection/Image360CollectionIcons.ts
Labels: none

chore: update @codemirror/lang-javascript
  documentation/package.json
  documentation/yarn.lock
Labels: none

feat: add transparency when icon is rendered behind geometry (#2968)
  viewer/packages/360-images/src/collection/Image360CollectionIcons.ts
  viewer/packages/360-images/src/collection/image360Icon.frag
Labels: none

test: add test for parsing texture gltf
  viewer/packages/sector-parser/tests/GltfSectorParser.test.ts
  viewer/packages/sector-parser/tests/combined_texture.glb
Labels: none

chore: update glb file name
  viewer/packages/sector-parser/tests/GltfSectorParser.test.ts
  viewer/packages/sector-parser/tests/combined-texture.glb
Labels: none

fix: opening multiple 360 images (#2969)
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

chore: add textured example
  examples/public/textured/0.glb
  examples/public/textured/scene.json
Labels: none

test: add visual test for textures
  viewer/packages/api/visual-tests/DefaultTextured.VisualTest.ts
  viewer/packages/api/visual-tests/__image_snapshots__/DefaultTextured.VisualTest.png
Labels: none

docs: update package README
  viewer/packages/sector-parser/README.md
Labels: none

chore: lint fix
  viewer/packages/sector-parser/tests/GltfSectorParser.test.ts
Labels: none

Fix conflict
  viewer/packages/360-images/src/Image360Facade.ts
Labels: none

fix(discover): stick chart NS vs EW chart [PP-3350] (#3764)
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/utils/scale/getScaleBlocksByCount.ts
Labels: none

fix: fixed security vulnerabilities (#1206)
  package.json
  yarn.lock
Labels: fusion-maintainers

feat (monitoring): Listing of Monitoring Jobs (#1407)
  package.json
  src/components/Common/SidebarElements.tsx
  src/components/MonitoringAlert/MonitoringAlert.tsx
  src/components/MonitoringAlert/elements.ts
  src/components/MonitoringAlert/hooks.tsx
  src/components/MonitoringAlert/types.ts
  src/components/MonitoringFolderSelect/MonitoringFolderSelect.tsx
  src/components/MonitoringSidebar/CreateMonitoringJob.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobFormError.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobStep1.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobStep2.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobStep3.tsx
  src/components/MonitoringSidebar/FormInputWithController.tsx
  src/components/MonitoringSidebar/ListMonitoringJobAlerts.tsx
  src/components/MonitoringSidebar/ListMonitoringJobPreview.tsx
  src/components/MonitoringSidebar/ListMonitoringJobs.tsx
  src/components/MonitoringSidebar/MonitoringSidebar.tsx
  src/components/MonitoringSidebar/elements.ts
  src/components/MonitoringSidebar/hooks.tsx
  src/components/MonitoringSidebar/types.ts
  src/components/MonitoringSidebar/utils.ts
  src/pages/ChartViewPage/ChartViewPage.tsx
  src/utils/constants.ts
  src/utils/date.ts
  yarn.lock
Labels: fusion-maintainers

fix(discover): search operators copy text [PP-3349] (#3766)
  apps/discover/src/pages/authorized/search/search/SearchQueryInfoPanel/tabs/OperatorsTab.tsx
Labels: none

fix(discover): top bar actions dropdown visibility [PP-3348] (#3765)
  packages/react-map/src/Actions/Wrapper/elements.ts
Labels: none

Signal is now created at top and passed down
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.test.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
Labels: none

refractored to use cancelAnimationFrame to pause animate when picking
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: none

Split queue deletion out into a separate test
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.test.ts
Labels: none
