Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

chore: migrated NX to newest version, fixed CVEs (#1273)
  .eslintignore
  .storybook/main.js
  apps/coding-conventions/project.json
  apps/coding-conventions/webpack-config.js
  apps/mock-server/project.json
  apps/mock-server/webpack-config.js
  apps/platypus-cdf-cli/package.json
  apps/platypus-cdf-cli/project.json
  apps/platypus-cdf-cli/webpack-config.js
  apps/platypus-e2e/src/support/commands.ts
  apps/platypus/.storybook/main.js
  apps/platypus/project.json
  apps/platypus/webpack-config.js
  libs/cdf-nx-plugin/.babelrc
  libs/data-exploration-components/.storybook/main.js
  libs/data-exploration-components/project.json
  libs/data-exploration/components/.storybook/main.js
  libs/data-exploration/components/project.json
  libs/data-exploration/core/.babelrc
  libs/data-exploration/domain-layer/.babelrc
  libs/mock-data/.babelrc
  libs/platypus-common-utils/.babelrc
  libs/platypus-core/.babelrc
  libs/shared/plotting-components/.storybook/main.js
  libs/shared/plotting-components/project.json
  migrations.json
  package.json
  tools/custom-webpack-configurations/mock-server-webpack-config.js
  yarn.lock
Labels: fusion-maintainers, platypus, data-explorer, coding-conventions

feat(data-explorer): Add loading state in tab counters (#1172)
  apps/data-exploration/src/app/containers/ResourceDetails/ResourceDetailsTabs/ResourceDetailsTabs.tsx
  libs/data-exploration-components/src/components/Loader/Loader.tsx
  libs/data-exploration-components/src/components/Loader/LoadingIcon.tsx
  libs/data-exploration-components/src/components/Loader/index.ts
  libs/data-exploration-components/src/components/Loader/types.ts
  libs/data-exploration-components/src/components/ResultCount/ResultCount.tsx
  libs/data-exploration-components/src/components/Search/ResourceTypeTabs.tsx
  libs/data-exploration-components/src/components/SearchNew/ResourceTabs/AssetsTab.tsx
  libs/data-exploration-components/src/components/SearchNew/ResourceTabs/DocumentsTab.tsx
  libs/data-exploration-components/src/components/SearchNew/ResourceTabs/EventsTab.tsx
  libs/data-exploration-components/src/components/SearchNew/ResourceTabs/SequenceTab.tsx
  libs/data-exploration-components/src/components/SearchNew/ResourceTabs/ThreeDTab.tsx
  libs/data-exploration-components/src/components/SearchNew/ResourceTabs/TimeseriesTab.tsx
  libs/data-exploration-components/src/components/SearchNew/ResourceTabs/elements.ts
  libs/data-exploration-components/src/components/index.ts
  libs/data-exploration-components/src/hooks/RelationshipHooks.tsx
  libs/data-exploration-components/src/utils/getChipRightPropsForResourceCounter.ts
  libs/data-exploration-components/src/utils/index.ts
  libs/data-exploration/domain-layer/src/assets/internal/queries/useAssetsSearchAggregateQuery.ts
  libs/data-exploration/domain-layer/src/sequence/internal/queries/useSequenceSearchAggregateQuery.ts
Labels: data-explorer

improvement: Loading 360 descriptors for large sets no longer freeze the application (#2992)
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: none

chore: add plotly (#1278)
  package.json
  yarn.lock
Labels: fusion-maintainers

remove source field from groups
  src/common/i18n/translations/en/access-management.json
  src/hooks.ts
  src/pages/Groups/GroupDrawer.tsx
Labels: none

chore: rename class
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
Labels: none

chore: restructure files in 360 images package
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/icons/IconOctree.test.ts
  viewer/packages/360-images/src/icons/IconOctree.ts
  viewer/packages/360-images/src/icons/Image360CollectionIcons.ts
  viewer/packages/360-images/src/icons/Image360Icon.ts
  viewer/packages/360-images/src/icons/image360Icon.frag
  viewer/packages/360-images/src/icons/image360Icon.vert
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
Labels: none

chore: refactor to generalize icon visualization
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/src/icons/Image360Icon.ts
  viewer/packages/360-images/src/icons/InstancedIconSprite.ts
  viewer/packages/360-images/src/icons/image360Icon.frag
  viewer/packages/360-images/src/icons/image360Icon.vert
  viewer/packages/360-images/unit-tests/Image360CollectionFactory.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
Labels: none

feat: add dynamic update capability to instancedIconSprite
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/src/icons/InstancedIconSprite.ts
Labels: none

feat: add per-frame batching of 360 images
  examples/src/utils/Image360UI.ts
  examples/yarn.lock
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
Labels: none

fix: chart preview button (#1279)
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesSearchResultView.tsx
Labels: data-explorer

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*
