Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*

simplify function
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
Labels: none

Clean up unintentional changes
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.test.ts
  viewer/packages/data-providers/src/model-data-providers/CdfModelDataProvider.ts
Labels: none

improvement: filter cad node from front-back and position picking with single depth pass (#2970)
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: none

fix: set trailing slash to false in config and add client module for removing slash
  documentation/docusaurus.config.js
  documentation/removeTrailingSlash.js
Labels: none

fix(data-explorer): clear router warnings (#1217)
  apps/data-exploration/src/app/containers/App/routes.ts
Labels: data-explorer

Update CODEOWNERS
  CODEOWNERS
Labels: fusion-maintainers

fix(simconfig): tab selection [DEGR-1559] (#3767)
  apps/simconfig/src/components/Menubar.tsx
Labels: none

fix: guard window not defined
  documentation/removeTrailingSlash.js
Labels: none

test: test if client module is braking CI build
  documentation/removeTrailingSlash.js
Labels: none

chore: update storybook to v7 (#624)
  apps/3d-management/.eslintrc.js
  apps/3d-management/.eslintrc.production.js
  apps/3d-management/.storybook/main.js
  apps/3d-management/.storybook/webpack.config.js
  apps/3d-management/Jenkinsfile
  apps/3d-management/package.json
  apps/3d-management/src/components/Breadcrumbs/Breadcrumbs.spec.tsx
  apps/3d-management/src/components/Breadcrumbs/Breadcrumbs.stories.js
  apps/3d-management/src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  apps/3d-management/src/components/Breadcrumbs/Link/Link.tsx
  apps/3d-management/src/components/Breadcrumbs/Link/index.ts
  apps/3d-management/src/pages/AllModels/components/EmptyState/EmptyState.spec.tsx
  apps/3d-management/src/pages/AllModels/components/EmptyState/EmptyState.stories.js
  apps/3d-management/src/pages/AllModels/components/EmptyState/EmptyState.stories.tsx
  apps/3d-management/src/pages/AllModels/components/EmptyState/EmptyState.tsx
  apps/3d-management/src/pages/AllModels/components/EmptyState/index.ts
  apps/3d-management/src/pages/AllModels/components/ModelRevisions/RevisionsTable.tsx
  apps/3d-management/yarn.lock
Labels: none

fix: add proper window undefined check
  documentation/removeTrailingSlash.js
Labels: none

fix: try removing trailing slash
  documentation/docusaurus.config.js
Labels: none

fix(platypus): disable close button while publishing a new data model version [UX-41] (#1199)
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.tsx
  apps/platypus/src/app/modules/data-models/pages/DataModelsList.tsx
Labels: platypus

feat: Implement interval logic for fetching revision logs (#593)
  apps/3d-management/package.json
  apps/3d-management/src/hooks/revisions/useRevisionLogs.ts
  apps/3d-management/src/pages/RevisionDetails/RevisionDetails.tsx
  apps/3d-management/src/utils/__tests__/getRefetchInterval.spec.ts
  apps/3d-management/src/utils/getOrganizedRevisionLogs.ts
  apps/3d-management/src/utils/getReFetchInterval.ts
  apps/3d-management/src/utils/timeUtils.ts
  apps/3d-management/src/utils/types.ts
  apps/3d-management/yarn.lock
Labels: none

chore: add metrics for 360 image add/enter/transition/exit
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/metrics/src/types.ts
Labels: none

fix: broken links due to trailing slash (#2972)
  documentation/docusaurus.config.js
  documentation/removeTrailingSlash.js
Labels: none

chore: change main branch (#1420)
  Jenkinsfile
Labels: fusion-maintainers

chore: add metrics for 360 image add/enter/transition/exit (#2973)
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/metrics/src/types.ts
Labels: none

chore: remove unnecessary dependencies and update lock
  documentation/package.json
  documentation/yarn.lock
Labels: none

Fix eslint+prettier
  package.json
  yarn.lock
Labels: fusion-maintainers

Inital setup
  .babelrc
  Jenkinsfile
  README.md
  package.json
  src/App.tsx
  src/common/i18n/index.ts
  src/common/i18n/translations/en/entity-matching.json
  src/common/i18n/translations/ja/cdf-ui-demo-app.json
  src/styles/styleScope.js
  src/utils/metrics.ts
  yarn.lock
Labels: fusion-maintainers

More tests
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
Labels: none

Increase spaces limit to 1000 (#1220)
  apps/platypus/src/app/hooks/useSpaces.tsx
Labels: platypus

Initial fps values working
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/metrics/index.ts
  viewer/packages/metrics/src/FpsLogger.ts
Labels: none

bug(platypus): ‘Query Explorer’ hover message should be ‘Query explorer’ [UX-82] (#1221)
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/components/DataModelSpaceSelect/DataModelSpaceSelect.tsx
  apps/platypus/src/app/modules/solution/DataLayout.tsx
Labels: platypus

Changed test to more clearly test ordering
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
Labels: none

Bringing back the type
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
Labels: none

Fixed bad merge after conflict
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
Labels: none

feat(coding-conventions): Add ctrl shift v - to paste with delimiter selector (#1219)
  apps/coding-conventions/src/app/pages/edit/DataCleanupComponent.tsx
  apps/coding-conventions/src/app/pages/edit/SelectPasteFormat.tsx
  apps/coding-conventions/src/app/pages/edit/helpers.ts
Labels: coding-conventions

Now only catch AbortErrors, so that other errors can be detected
  viewer/packages/360-images/src/Image360Facade.ts
Labels: none

chore: remove @types/expect-puppeteer as dependency
  viewer/package.json
  viewer/yarn.lock
Labels: none

chore: remove @types/expect-puppeteer as dependency (#2977)
  viewer/package.json
  viewer/yarn.lock
Labels: none

fix(data-explorer): Fixing the tabs overflow issue and additional tab fix in legacy code (#1215)
  apps/data-exploration/src/app/containers/Exploration/Explorer.tsx
  apps/data-exploration/src/app/containers/Exploration/SearchResultsPageV2.tsx
  libs/data-exploration-components/src/components/Search/ResourceTypeTabs.tsx
  package.json
  yarn.lock
Labels: fusion-maintainers, data-explorer

feat(cdf-cli): add --version to publish command [DX-1220] (#986)
  .github/workflows/cli_test.yml
  apps/platypus-cdf-cli/e2e-tests/cli.spec.ts
  apps/platypus-cdf-cli/e2e-tests/platypus-cli/index.ts
  apps/platypus-cdf-cli/src/app/cmds/data-models/create.ts
  apps/platypus-cdf-cli/src/app/cmds/data-models/publish.ts
  apps/platypus-cdf-cli/src/app/cmds/data-models/utils.ts
Labels: none

chore: deploy beta version for cli (#1224)
  .github/workflows/deploy_platypus-cli.yml
  apps/platypus-cdf-cli/package.json
Labels: none

initial approach to introduce mock env
  config-overrides.js
  package.json
  public/index.html
  src/AccessCheck.tsx
  src/App.tsx
  src/AuthContainer.tsx
  src/AuthContainerMock.tsx
  src/actions/index.tsx
  src/cdf-route-tracker.d.ts
  src/components/DataSetCreation/DataSetCreation.tsx
  src/components/DocumentationPage/DocumentationPage.tsx
  src/components/DocumentationsTab/DocumentationsTab.tsx
  src/components/EventsProfile/EventsProfile.tsx
  src/components/GetDataInPage/GetDataInPage.tsx
  src/components/GetDataInPage/raw/RawSection.tsx
  src/components/Lineage/Extpipe/ExtpipeTable.tsx
  src/components/Lineage/Extpipe/rawTablesUtils.ts
  src/components/Lineage/Lineage.tsx
  src/components/Lineage/transformationColumns.tsx
  src/components/TransformPage/TransformPage.tsx
  src/components/UploadFiles/UploadFiles.tsx
  src/hooks/useResourceAggregates.ts
  src/hooks/useResourcesSearch.ts
  src/hooks/useUserInformation.ts
  src/hooks/useWithExtpipes.ts
  src/index.tsx
  src/pages/DataSetDetails/DataSetDetails.tsx
  src/pages/DataSetsList/DataSetsList.tsx
  src/setupProxy.js
  src/utils/cogniteSdk.ts
  src/utils/extpipeUtils.ts
  src/utils/metrics.ts
  src/utils/routeTracker.ts
  src/utils/shared.ts
  src/utils/updateGroup.ts
  yarn.lock
Labels: fusion-maintainers

fix(simconfig): Fix query string issue in model library (#3771)
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
Labels: none

Test cleanup and changed init to abortSignal
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
Labels: none

Disable create modal submit button while loading (#1222)
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.spec.tsx
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.tsx
Labels: platypus

All failed downloads are now resolved (but still logged as errors)
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
Labels: none
