Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*

Update reveal.api.md
  viewer/reveal.api.md
Labels: none

chore(data-explorer): Removing Cogs-v7 from the package.json and Replacing it with custom graphics component (#1241)
  apps/coding-conventions/src/app/containers/convention/ConventionValidation.tsx
  apps/data-exploration/src/app/containers/Exploration/ExplorerV2.tsx
  apps/data-exploration/src/app/containers/ThreeD/AssetMappingsList.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDGridPreview.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/help-button/sections.tsx
  libs/data-exploration-components/src/components/EmpyState/EmptyState.tsx
  libs/data-exploration-components/src/containers/ResourceSidebar/ResourcePreviewSidebar.tsx
  libs/data-exploration-components/src/graphics/ArrowsNavigation.tsx
  libs/data-exploration-components/src/graphics/Mouse.tsx
  libs/data-exploration-components/src/graphics/PinchRight.tsx
  libs/data-exploration-components/src/graphics/Rotate.tsx
  libs/data-exploration-components/src/graphics/SearchEmpty.tsx
  libs/data-exploration-components/src/graphics/ThreeDModel.tsx
  libs/data-exploration-components/src/graphics/WASDNavigation.tsx
  libs/data-exploration-components/src/graphics/index.tsx
  libs/data-exploration-components/src/index.ts
  package.json
  yarn.lock
Labels: fusion-maintainers, data-explorer, coding-conventions

feat(shared/plotting-components): generate storybook (#1245)
  libs/shared/plotting-components/.storybook/main.js
  libs/shared/plotting-components/.storybook/preview.js
  libs/shared/plotting-components/.storybook/tsconfig.json
  libs/shared/plotting-components/project.json
  libs/shared/plotting-components/tsconfig.json
  libs/shared/plotting-components/tsconfig.lib.json
  package.json
  yarn.lock
Labels: fusion-maintainers

fix(simconfig): Refactor empty states (#3718)
  apps/simconfig/BUILD.bazel
  apps/simconfig/src/components/models/ModelList/ModelList.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRuns.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/styles/GlobalStyles.tsx
Labels: none

fix(data-exploration): Fixing the height issue in file annotation edit and key error (#1225)
  apps/data-exploration/src/app/containers/Asset/AssetPreview.tsx
  apps/data-exploration/src/app/containers/Event/EventPreview.tsx
  apps/data-exploration/src/app/containers/Exploration/Explorer.tsx
  apps/data-exploration/src/app/containers/File/FilePreview.tsx
  apps/data-exploration/src/app/containers/ResourceDetails/ResourceDetailsTabs/ResourceDetailsTabs.tsx
  apps/data-exploration/src/app/containers/Sequence/SequencePreview.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesPreview.tsx
  libs/data-exploration-components/src/components/SearchNew/ResourceTypeTabs.tsx
  libs/data-exploration-components/src/containers/Assets/AssetSmallPreview/AssetSmallPreview.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/ReviewTagBar.tsx
  libs/data-exploration-components/src/containers/ResourceSidebar/ResourceSelectionSidebar/ResourceSelectionSidebar.tsx
Labels: data-explorer

updated Jenkins config to publish on staging
  Jenkinsfile
  src/App.tsx
Labels: fusion-maintainers

fixed missing variable
  Jenkinsfile
Labels: fusion-maintainers

fix: issues in CI pipeline (#1247)
  .github/workflows/nx_ci.yml
  apps/platypus/src/main.tsx
Labels: platypus

fix: remove childless and dataless nodes, and store data center of nodes
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/collection/Image360CollectionIcons.ts
  viewer/packages/360-images/src/collection/Image360CollectionIconsOctree.ts
  viewer/packages/360-images/src/collection/image360Icon.vert
Labels: none

fix(platypus): version selector dropdown (#1228)
  apps/platypus/src/app/components/DataModelSpaceSelect/DataModelSpaceSelect.tsx
  apps/platypus/src/app/components/SchemaVersionDropdown/SchemaVersionDropdown.tsx
  package.json
  yarn.lock
Labels: fusion-maintainers, platypus

updated jenkins conifg
  Jenkinsfile
Labels: fusion-maintainers

Updated documentation
  README.md
Labels: fusion-maintainers

fix(platypus): filter drafts based on latest version (#1236)
  apps/platypus/src/app/modules/solution/data-model/components/DataModelHeader/DataModelHeader.tsx
  apps/platypus/src/app/modules/solution/data-model/hooks/useLocalDraft.ts
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
Labels: platypus

jenkins - add firebase config
  Jenkinsfile
  firebase.json
  package.json
  yarn.lock
Labels: fusion-maintainers

feat(platypus): add name validation for cli (#1207)
  apps/platypus-cdf-cli/src/app/cmds/data-models/create.ts
Labels: none

Basic app skeleton
  package.json
  src/App.tsx
  src/common/i18n/translations/en/entity-matching.json
  src/common/test/render.tsx
  src/components/pipeline-list/index.tsx
  src/components/pipeline/index.tsx
  src/hooks/contextualization-api.ts
  src/hooks/useUserInformation.ts
  src/index.tsx
  src/pages/CreatePipeline/index.tsx
  src/pages/Details/index.tsx
  src/pages/Home/Home.tsx
  src/pages/QuickMatch/index.tsx
  src/serviceWorker.ts
  yarn.lock
Labels: fusion-maintainers

feat: add initial octree implementation for 360 image icons
  viewer/package.json
  viewer/packages/360-images/src/collection/IconOctree.test.ts
  viewer/packages/360-images/src/collection/IconOctree.ts
  viewer/packages/360-images/src/entity/Image360Icon.ts
  viewer/yarn.lock
Labels: none

fix lint
  Jenkinsfile
  firebase.json
Labels: fusion-maintainers

update config-overrides
  config-overrides.js
Labels: fusion-maintainers

Fix url
  documentation/docs/examples/cad-3dobjects.mdx
Labels: none

fix(data-explorer): App crashes with undefined file icon (#1240)
  libs/data-exploration-components/jest.config.ts
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentNamePreview.tsx
  libs/data-exploration-components/src/setupTests.js
  libs/data-exploration-components/src/utils/constants.ts
  libs/data-exploration-components/src/utils/files.ts
  libs/data-exploration-components/src/utils/index.ts
  libs/data-exploration-components/src/utils/mapMimeTypeToDocumentType.ts
  libs/data-exploration-components/src/utils/tests/mapMimeTypeToDocumentType.test.ts
Labels: data-explorer

Changed from map to array
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
Labels: none

Lint
  examples/src/utils/example-helpers.ts
Labels: none

updated jenkins
  Jenkinsfile
Labels: fusion-maintainers

Rename home
  src/App.tsx
  src/pages/Home/index.ts
  src/pages/Home/index.tsx
  src/pages/Home/logo.svg
Labels: none

fix: flaky options in data/asset filters (#1249)
  libs/data-exploration-components/src/components/MultiSelectFilter/MultiSelectFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/DataSetFilter/DataSetFilter.tsx
  libs/data-exploration-components/src/containers/Assets/AssetSelect/AssetSelect.tsx
Labels: data-explorer

update jenkinsfile
  Jenkinsfile
Labels: fusion-maintainers

[DX-1026] New transformation flow with the updated Transformation UI (#1196)
  apps/platypus-cdf-cli/src/app/cmds/data-models/utils.ts
  apps/platypus/src/app/di.ts
  apps/platypus/src/app/flags/useTransformations.spec.ts
  apps/platypus/src/app/flags/useTransformations.ts
  apps/platypus/src/app/modules/solution/data-management/components/CreateTransformationModal/CreateTransformationModal.spec.tsx
  apps/platypus/src/app/modules/solution/data-management/components/CreateTransformationModal/CreateTransformationModal.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/NoRowsOverlay.spec.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/NoRowsOverlay.tsx
  apps/platypus/src/app/modules/solution/data-management/components/PreviewPageHeader/PreviewPageHeader.spec.tsx
  apps/platypus/src/app/modules/solution/data-management/components/PreviewPageHeader/PreviewPageHeader.tsx
  apps/platypus/src/app/modules/solution/data-management/components/TransformationDropdown/TransformationDropdown.spec.tsx
  apps/platypus/src/app/modules/solution/data-management/components/TransformationDropdown/TransformationDropdown.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/useTransformationCreateMutation.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useTransformations.ts
  libs/platypus-core/src/lib/domain/data-model/data-managment-handler.spec.ts
  libs/platypus-core/src/lib/domain/data-model/dto/data-managment-handler-dtos.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-current/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.spec.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/services/transformations-api.service.ts
  libs/platypus-core/src/lib/domain/data-model/types/index.ts
  libs/platypus-core/src/lib/domain/data-model/utils.ts
Labels: platypus

First draft
  examples/src/pages/Viewer.tsx
  examples/src/utils/example-helpers.ts
Labels: none

fix(simconfig): Fix dropdown select in forms (#3783)
  apps/simconfig/src/components/forms/ModelForm/ModelForm.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/styles/GlobalStyles.tsx
Labels: none

[DX-1402] chore: add banner for previous to redirect from GA (#1250)
  apps/platypus/src/app/components/ReleaseBanner/ReleaseBanner.stories.tsx
  apps/platypus/src/app/components/ReleaseBanner/ReleaseBanner.tsx
  apps/platypus/src/app/modules/data-models/DataModelsPage.tsx
  apps/platypus/src/app/modules/data-models/DataModelsPageBanner.test.tsx
  apps/platypus/src/app/modules/data-models/components/DataModelsListHeader/DataModelsListHeader.tsx
  apps/platypus/src/app/modules/data-models/hooks/useBetaDataModels.ts
  apps/platypus/src/app/utils/queryKeys.ts
Labels: platypus

chore(simconfig): Bump version (#3784)
  apps/simconfig/package.json
Labels: none

Now using buffer
  examples/src/utils/example-helpers.ts
Labels: none

Added "buffer" to yarn.lock
  examples/package.json
  examples/yarn.lock
Labels: none

feat: add initial method for fetching lods from octree
  viewer/packages/360-images/src/collection/IconOctree.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/projectedBounds.ts
  viewer/packages/utilities/src/three/visitBox3CornerPoints.ts
Labels: none

Added a logging incase something goes wrong with decoding
  examples/src/utils/example-helpers.ts
Labels: none

Fix dependabot alerts
  package.json
  yarn.lock
Labels: fusion-maintainers

renaming data-sets to data-catalog
  .babelrc
  Jenkinsfile
  README.md
  package.json
  src/App.tsx
  src/styles/styleScope.js
Labels: fusion-maintainers

feat: Created clipping planes getters for both Cad and PointCloud models (#2983)
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/reveal.api.md
Labels: none

Fix dependabot alerts
  package.json
Labels: fusion-maintainers
