Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

chore: show that screenshot defaults to include UI
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: none

chore: don't upgrade three in versioned docs
  renovate.json5
Labels: fusion-maintainers

fix: turn off `optimization` (#1117)
  apps/data-exploration/project.json
Labels: data-explorer

feat(discover): visualize cement data on stick charts [PP-1427] (#3723)
  apps/discover/src/domain/wells/casings/internal/transformers/normalizeCasingAssembly.ts
  apps/discover/src/domain/wells/casings/internal/transformers/normalizeCasingAssemblyWithTvd.ts
  apps/discover/src/domain/wells/casings/internal/transformers/normalizeCasingCementing.ts
  apps/discover/src/domain/wells/casings/internal/transformers/normalizeCasingCementingWithTvd.ts
  apps/discover/src/domain/wells/casings/internal/types.ts
  apps/discover/src/domain/wells/casings/service/utils/getInterpolateRequests.ts
  apps/discover/src/domain/wells/casings/service/utils/mergeCasingsTvdData.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/CasingsColumn/components/DepthIndicator/DepthIndicator.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/CasingsColumn/components/DepthIndicator/components/Casing.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/CasingsColumn/components/DepthIndicator/components/Cement.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/CasingsColumn/components/DepthIndicator/components/DepthSegment.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/CasingsColumn/components/DepthIndicator/components/TooltipContent.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/CasingsColumn/components/DepthIndicator/constants.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/CasingsColumn/components/DepthIndicator/elements.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/CasingsColumn/components/DepthIndicators.tsx
  package.json
  yarn.lock
Labels: fusion-maintainers

Fixed issue with wheel events in StationaryCameraManager
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

abortControllers map
  viewer/packages/data-providers/src/model-data-providers/CdfModelDataProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
Labels: none

Added support for clipping measuring tool
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
  viewer/packages/tools/src/Measurement/MeasurementManager.ts
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: none

fix: alter API to fit preloading file descriptions
  examples/public/primitives/360Images.json
  examples/public/primitives/river/back.png
  examples/public/primitives/river/bottom.png
  examples/public/primitives/river/front.png
  examples/public/primitives/river/left.png
  examples/public/primitives/river/right.png
  examples/public/primitives/river/top.png
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360EntityFactory.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/unit-tests/Image360EntityFactory.test.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
Labels: none

chore: add test images
  examples/public/primitives/0.png
  examples/public/primitives/1.png
  examples/public/primitives/2.png
  examples/public/primitives/3.png
  examples/public/primitives/4.png
  examples/public/primitives/5.png
Labels: none

fix: wrong filter and texture loader construction
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360LoadingCache.ts
  viewer/packages/360-images/src/Image360VisualizationBox.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/types.ts
Labels: none

fix(discover): replace intercom (#3722)
  apps/discover/public/sidecar.js
  apps/discover/src/constants/app.ts
  apps/discover/src/pages/authorized/menubar/Feedback.tsx
  apps/discover/src/pages/authorized/menubar/__tests__/Feedback.test.tsx
Labels: none

feat(discover): show kick off point in trajectory for side track wells [PP-3263] (#3713)
  apps/discover/src/constants/react-query.ts
  apps/discover/src/domain/wells/wellbore/internal/constants.ts
  apps/discover/src/domain/wells/wellbore/internal/queries/useWellboresKickoffDepthsQuery.ts
  apps/discover/src/domain/wells/wellbore/internal/selectors/getKickoffPoint.ts
  apps/discover/src/domain/wells/wellbore/internal/transformers/normalizeKickoffDepth.ts
  apps/discover/src/domain/wells/wellbore/internal/transformers/normalizeWellbore.ts
  apps/discover/src/domain/wells/wellbore/internal/types.ts
  apps/discover/src/domain/wells/wellbore/service/network/getWellboresKickoffTVD.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/TrajectoryColumn/TrajectoryColumn.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/TrajectoryColumn/constants.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/WellboreStickChart.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/components/PlotlyChartColumn/PlotlyChartColumn.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/hooks/useKickoffDepths.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/hooks/useTrajectoryColumnSecondaryData.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/hooks/useWellboreStickChartData.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/types.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/utils/adapTrajectoryDataToChart.ts
  apps/discover/src/utils/shadeColor.ts
Labels: none

fix: abbrv. table (#1121)
  apps/coding-conventions/project.json
  apps/coding-conventions/src/app/components/Table/AbbreviationTable.tsx
  apps/coding-conventions/src/app/service/conventions.ts
  apps/coding-conventions/src/assets/.gitkeep
Labels: coding-conventions

fix(platypus): Add external-id validator for FDM v2 (#1118)
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.tsx
  libs/platypus-core/src/lib/domain/data-model/validators/data-model-external-id-validator-v2.spec.ts
  libs/platypus-core/src/lib/domain/data-model/validators/data-model-external-id-validator-v2.ts
Labels: platypus

fix: froze @mui version to fix checkbox invisible bug (#3729)
  package.json
  yarn.lock
Labels: fusion-maintainers

fix(simconfig): Fix SimInt regressions (#3726)
  apps/simconfig/package.json
  apps/simconfig/src/components/simulator/constants.ts
  apps/simconfig/src/pages/CalculationConfiguration/steps/DataSamplingStep.tsx
Labels: none

Feat/custom header metrics (#3720)
  packages/metrics/CHANGELOG.md
  packages/metrics/package.json
  packages/metrics/src/perfMetrics.spec.ts
  packages/metrics/src/perfMetrics.ts
  packages/react-container/src/providers/ProvideMetrics.tsx
Labels: none

fix(data-explorer): Duplication key error with Root asset and direct asset (#1115)
  libs/data-exploration-components/src/components/Table/columns.tsx
  libs/data-exploration-components/src/components/Table/constants.ts
  libs/data-exploration-components/src/containers/Sequences/SequenceSummary/SequenceSummary.tsx
  libs/data-exploration-components/src/containers/Sequences/SequenceTable/SequenceTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesTable/TimeseriesTable.tsx
Labels: data-explorer

Added support for clipping measuring tool (#2933)
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
  viewer/packages/tools/src/Measurement/MeasurementManager.ts
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: none

fix(data-explorer): showing no results on table when projects change (#1104)
  libs/data-exploration-components/src/components/Table/Table.tsx
Labels: data-explorer

fix variable scope in Jenkins (#1114)
  Jenkinsfile
Labels: fusion-maintainers

fix: reduce 360 image icon size by a factor of 2
  viewer/packages/360-images/src/Image360Icon.ts
Labels: none

chore: disable UI in screenshot (#597)
  apps/3d-management/src/pages/RevisionDetails/components/ThreeDViewerSidebar/ThumbnailUploader.tsx
Labels: none

fixed the issue when clipping plane is removed and measuring line is not restored
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: none

chore: update @docusaurus/remark-plugin-npm2yarn as well
  documentation/package.json
  documentation/yarn.lock
Labels: none

chore: remove theme-live-codeblock reference
  documentation/docusaurus.config.js
Labels: none

chore: add log warning if any 360 images have been rejected
  examples/src/utils/Image360UI.ts
  viewer/packages/data-providers/package.json
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/yarn.lock
Labels: none

fixed the issue when clipping plane is removed and measuring line is not restored (#2936)
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: none

chore: don't upgrade three in versioned docs (#2931)
  renovate.json5
Labels: fusion-maintainers

fix: only get successfully uploaded files, and filter out events that does not map to at least 6 files
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: none

chore: bump reveal version in docs (#2925)
  documentation/versioned_docs/version-4.x/package.json
  documentation/yarn.lock
Labels: none

fix(simconfig): Disable build for simconfig (#3733)
  apps/simconfig/BUILD.bazel.disabled
Labels: none

chore: make remark-plugin-npm2yarn sync across all elements
  documentation/docusaurus.config.js
  documentation/package.json
  documentation/yarn.lock
Labels: none

feat(coding-convention): Add editTable page with Infinite scroll (#1112)
  apps/coding-conventions/src/app/Routes.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionItem.tsx
  apps/coding-conventions/src/app/pages/pasteView/DataCleanupComponent.tsx
  apps/coding-conventions/src/app/pages/pasteView/EditTablePage.tsx
  apps/coding-conventions/src/app/pages/pasteView/PasteView.tsx
  apps/coding-conventions/src/app/pages/pasteView/helpers.ts
Labels: coding-conventions

chore: update visual test image
  viewer/packages/360-images/visual-tests/__image_snapshots__/Image360.VisualTest.png
Labels: none

chore(react-container): removed Intercom (#3721)
  apps/react-demo-app/BUILD.bazel
  apps/react-demo-app/src/App.tsx
  apps/react-demo-app/src/pages/Intercom/Intercom.stories.tsx
  apps/react-demo-app/src/pages/Intercom/Intercom.test.tsx
  apps/react-demo-app/src/pages/Intercom/Intercom.tsx
  apps/react-demo-app/src/pages/Intercom/elements.ts
  apps/react-demo-app/src/pages/Intercom/index.ts
  apps/react-demo-app/src/pages/Menubar.tsx
  apps/react-demo-app/src/utils/sidecar.ts
  packages/react-container/BUILD.bazel
  packages/react-container/CHANGELOG.md
  packages/react-container/package.json
  packages/react-container/src/Container.tsx
  packages/react-container/src/components/Intercom.tsx
  packages/react-container/src/components/__tests__/Intercom.test.tsx
  packages/react-container/src/components/index.ts
Labels: none

chore: show that screenshot defaults to include UI (#2930)
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: none

fix(data-explorer): Fixing the root asset in other tables columns (#1116)
  libs/data-exploration-components/src/components/RootAsset/RootAsset.tsx
  libs/data-exploration-components/src/components/Table/RootAssetCell.tsx
  libs/data-exploration-components/src/components/Table/columns.tsx
  libs/data-exploration-components/src/components/Table/constants.ts
  libs/data-exploration-components/src/components/Table/types.ts
  libs/data-exploration-components/src/containers/Assets/AssetSummary/AssetSummary.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTable/AssetTable.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentSummary/DocumentSummary.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentsTable.tsx
  libs/data-exploration-components/src/containers/Sequences/SequenceSummary/SequenceSummary.tsx
  libs/data-exploration-components/src/containers/Sequences/SequenceTable/SequenceTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesTable/TimeseriesTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimseriesSummary/TimeseriesSummary.tsx
  libs/data-exploration/domain-layer/src/assets/service/queries/useRootAssetQuery.ts
Labels: data-explorer

fix(data-explorer): Fixing the spacing-between-copy-button (#1119)
  libs/data-exploration-components/src/components/Details/DetailsItem.tsx
  libs/data-exploration-components/src/components/Table/CopyToClipboardIconButton.tsx
  libs/data-exploration-components/src/components/Table/elements.ts
  libs/data-exploration-components/src/utils/constants.ts
Labels: data-explorer

Fixed issue with wheel events in StationaryCameraManager (#2932)
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*
