Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*

Update viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

chore: pin dependencies
  documentation/package.json
Labels: none

correct return object name when 360 image is added
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: none

chore: remove geomap API keys from docs
  documentation/docs/components/customScope.ts
  documentation/versioned_docs/version-3.x/components/customScope.ts
  documentation/versioned_docs/version-4.x/components/customScope.ts
Labels: none

feat(data-explorer): get events metadata from aggregates endpoint [DEGR-1402] (#1053)
  apps/data-exploration/src/app/containers/Event/EventFilters.tsx
  libs/data-exploration-components/src/components/MultiSelectFilter/utils.ts
  libs/data-exploration-components/src/components/SearchNew/Filters/AggregatedMultiselectFilter/AggregatedMultiselectFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/LabelFilter/LabelFilter.tsx
  libs/data-exploration-components/src/containers/Events/EventSummary/EventSummary.tsx
  libs/data-exploration-components/src/containers/Events/EventTable/EventTable.tsx
  libs/data-exploration/domain-layer/src/events/service/index.ts
  libs/data-exploration/domain-layer/src/events/service/network/getAssetsMetadataKeysAggregate.ts
  libs/data-exploration/domain-layer/src/events/service/network/getEventsAggregate.ts
  libs/data-exploration/domain-layer/src/events/service/network/getEventsMetadataValuesAggregate.ts
  libs/data-exploration/domain-layer/src/events/service/network/index.ts
  libs/data-exploration/domain-layer/src/events/service/queries/index.ts
  libs/data-exploration/domain-layer/src/events/service/queries/useEventsMetadataKeys.ts
  libs/data-exploration/domain-layer/src/events/service/queries/useEventsMetadataKeysAggregateQuery.ts
  libs/data-exploration/domain-layer/src/events/service/queries/useEventsMetadataValuesAggregateQuery.ts
  libs/data-exploration/domain-layer/src/events/service/types.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
Labels: data-explorer

Fix-eslint-plugin-doc-link (#3704)
  packages/eslint-plugin/lib/utils.js
  packages/eslint-plugin/package.json
Labels: none

feat: 360 image events for enter and exit mode (#2902)
  documentation/docs/examples/image360.mdx
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/DefaultImage360Collection.ts
  viewer/packages/360-images/src/Image360Collection.ts
  viewer/packages/360-images/src/types.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/reveal.api.md
Labels: none

chore: errors now show up and disable run button
  documentation/docs/components/LiveCodeSnippet.tsx
  documentation/package.json
  documentation/yarn.lock
Labels: none

chore: enable linting in v3 and v4 as well
  documentation/versioned_docs/version-3.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-4.x/components/LiveCodeSnippet.tsx
Labels: none

refactor(data-explorer): reuse events aggregate functions (#1054)
  libs/data-exploration-components/src/components/SearchNew/Filters/AggregatedEventFilter/AggregatedEventFilter.tsx
  libs/data-exploration/domain-layer/src/events/service/network/getEventsAggregateUniqueValues.ts
  libs/data-exploration/domain-layer/src/events/service/network/getEventsUniqueValuesByProperty.ts
  libs/data-exploration/domain-layer/src/events/service/network/index.ts
  libs/data-exploration/domain-layer/src/events/service/queries/index.ts
  libs/data-exploration/domain-layer/src/events/service/queries/useEventsAggregateUniqueValuesQuery.ts
  libs/data-exploration/domain-layer/src/events/service/queries/useEventsUniqueValuesByProperty.ts
  libs/data-exploration/domain-layer/src/events/service/types.ts
  libs/data-exploration/domain-layer/src/types.ts
Labels: data-explorer

refactor: remove legacy code from Fusion branch (#1374)
  .storybook/main.js
  Jenkinsfile
  __mocks__/sdk.ts
  config-overrides.js
  package.json
  src/App.tsx
  src/AppLegacy.tsx
  src/components/AppBar/ConnectedAppBar.tsx
  src/components/AppearanceDropdown/AppearanceDropdown.stories.tsx
  src/components/AppearanceDropdown/AppearanceDropdown.tsx
  src/components/CSVModal/hooks.ts
  src/components/DownloadDropdown/DownloadDropdown.stories.tsx
  src/components/SharingDropdown/SharingDropdown.stories.tsx
  src/components/SharingDropdown/SharingDropdown.tsx
  src/components/SourceTable/SourceTable.stories.tsx
  src/components/TopBar/ChartActions.tsx
  src/config/config.ts
  src/config/i18n.ts
  src/index-legacy.tsx
  src/index.js
  src/index.tsx
  src/pages/ChartViewPage/ChartViewPage.tsx
  src/pages/Routes.old.tsx
  src/pages/Routes.tsx
  src/services/calculation-backend.ts
  src/set-public-path.ts
  src/utils/environment.ts
Labels: fusion-maintainers

feat(coding-conventions): create structures for conventions (#1056)
  apps/coding-conventions/src/app/Routes.tsx
  apps/coding-conventions/src/app/components/Card/Card.tsx
  apps/coding-conventions/src/app/components/Modal/Modal.tsx
  apps/coding-conventions/src/app/components/Modal/ModalFooter.tsx
  apps/coding-conventions/src/app/containers/ConventionsContainer.tsx
  apps/coding-conventions/src/app/pages/HomePage.tsx
  apps/coding-conventions/src/app/pages/conventions/ConventionsPage.tsx
  apps/coding-conventions/src/app/pages/elements.ts
  apps/coding-conventions/src/app/service/conventions.ts
Labels: coding-conventions

docs: use CodeMirror instead of react-live in doc snippets (#2903)
  documentation/docs/components/LiveCodeSnippet.tsx
  documentation/docs/components/styles.module.css
  documentation/docs/examples/cad-3dobjects.mdx
  documentation/package.json
  documentation/versioned_docs/version-3.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-3.x/components/styles.module.css
  documentation/versioned_docs/version-3.x/examples/cad-3dobjects.mdx
  documentation/versioned_docs/version-4.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-4.x/components/styles.module.css
  documentation/versioned_docs/version-4.x/examples/cad-3dobjects.mdx
  documentation/yarn.lock
Labels: none

chore: clean up v2 snippets
  documentation/package.json
  documentation/versioned_docs/version-2.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-2.x/components/customScope.ts
  documentation/versioned_docs/version-2.x/components/styles.module.css
  documentation/yarn.lock
Labels: none

fix(data-explorer): events service names (#1057)
  libs/data-exploration/domain-layer/src/events/service/network/getEventsMetadataKeysAggregate.ts
  libs/data-exploration/domain-layer/src/events/service/network/index.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
Labels: data-explorer

chore: bump reveal version to 4.1.0
  viewer/package.json
Labels: none

chore: bump reveal version to 4.1.0 (#2907)
  viewer/package.json
Labels: none

chore: clean up README slightly
  viewer/README.md
Labels: none

chore: remove geomap API keys from docs (#2904)
  documentation/docs/components/customScope.ts
  documentation/versioned_docs/version-3.x/components/customScope.ts
  documentation/versioned_docs/version-4.x/components/customScope.ts
Labels: none

chore: draw a line
  viewer/README.md
Labels: none

chore: clean up insallation instructions in README (#2908)
  viewer/README.md
Labels: none

chore: clean up v2 snippets (#2906)
  documentation/package.json
  documentation/versioned_docs/version-2.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-2.x/components/customScope.ts
  documentation/versioned_docs/version-2.x/components/styles.module.css
  documentation/yarn.lock
Labels: none

fix: fixed refetching data models issue (#1058)
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/cell-renderers/CustomCellRenderer.tsx
  apps/platypus/src/app/modules/solution/data-model/hooks/useTypeDefFieldsGrid.tsx
  apps/platypus/src/app/queryClient.ts
  libs/cog-data-grid/src/lib/cog-data-grid-styles.css
Labels: platypus

chore: update sidebar
  documentation/versioned_sidebars/version-4.x-sidebars.json
Labels: none

fix(data-explorer): multiselect filter issues (#1063)
  libs/data-exploration-components/src/components/MultiSelectFilter/MultiSelectFilter.tsx
  libs/data-exploration-components/src/components/MultiSelectFilter/utils.ts
  libs/data-exploration-components/src/components/SearchNew/Filters/AggregatedMultiselectFilter/AggregatedMultiselectFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/DataSetFilter/DataSetFilter.tsx
  libs/data-exploration-components/src/components/Select/BaseSelect.tsx
  libs/data-exploration-components/src/containers/Assets/AssetSelect/AssetSelect.tsx
Labels: data-explorer

chore: update peer dependency of sdk to 7.18
  viewer/package.json
Labels: none

chore: update v4 doc peer dependencies
  documentation/versioned_docs/version-4.x/package.json
Labels: none

chore: undramaticize upgrade needs
  viewer/package.json
Labels: none

chore: update yarn lock
  viewer/yarn.lock
Labels: none

chore: update another yarn lock
  documentation/yarn.lock
Labels: none

fix(platypus): when navigating to query explorer of empty data model gives error something went wrong we were not able to run your query [DX-1263] (#1060)
  apps/platypus/src/app/modules/solution/query-explorer/components/QueryExplorer.tsx
  apps/platypus/src/app/modules/solution/query-explorer/utils/graphqlQueryFetcher.ts
  libs/platypus-core/src/lib/boundaries/types/platypus-error.ts
Labels: platypus

Code review changes
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

Importing only remove from lodash
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

fix(data-explorer): multiselect styles and options (#1064)
  apps/data-exploration/src/app/containers/Document/DocumentFilters.tsx
  libs/data-exploration-components/src/components/MultiSelectFilter/MultiSelectFilter.tsx
  libs/data-exploration-components/src/components/MultiSelectFilter/utils.ts
  libs/data-exploration-components/src/components/SearchNew/Filters/AggregatedEventFilter/AggregatedEventFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/AggregatedMultiselectFilter/AggregatedMultiselectFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/DataSetFilter/DataSetFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/MultiSelectFilterNew.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/SourceFilter/SourceFilter.tsx
  libs/data-exploration-components/src/containers/Assets/AssetSelect/AssetSelect.tsx
Labels: data-explorer

Fixed remove import
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

chore: bump reveal to 4.1.0 (#1062)
  package.json
  yarn.lock
Labels: fusion-maintainers

Picking Handler Optimization Discussion
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: none

fix(data-explorer): update sequences metadata filter to get data from aggregates endpoint (#1069)
  apps/data-exploration/src/app/containers/Sequence/SequenceFilters.tsx
  libs/data-exploration-components/src/containers/Sequences/SequenceSummary/SequenceSummary.tsx
  libs/data-exploration-components/src/containers/Sequences/SequenceTable/SequenceTable.tsx
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/sequence/service/index.ts
  libs/data-exploration/domain-layer/src/sequence/service/network/getMetadataKeys.ts
  libs/data-exploration/domain-layer/src/sequence/service/network/getSequenceAggregate.ts
  libs/data-exploration/domain-layer/src/sequence/service/network/getSequencesAggregate.ts
  libs/data-exploration/domain-layer/src/sequence/service/network/getSequencesMetadataKeyAggregate.ts
  libs/data-exploration/domain-layer/src/sequence/service/network/getSequencesMetadataValuesAggregate.ts
  libs/data-exploration/domain-layer/src/sequence/service/network/index.ts
  libs/data-exploration/domain-layer/src/sequence/service/queries/index.ts
  libs/data-exploration/domain-layer/src/sequence/service/queries/useSequenceAggregateQuery.ts
  libs/data-exploration/domain-layer/src/sequence/service/queries/useSequenceMetadataKeysAggregateQuery.ts
  libs/data-exploration/domain-layer/src/sequence/service/queries/useSequencesMetadataKeys.ts
  libs/data-exploration/domain-layer/src/sequence/service/queries/useSequencesMetadataValuesAggregateQuery.ts
  libs/data-exploration/domain-layer/src/sequence/service/types.ts
Labels: data-explorer

fix(simconfig): Fix SimInt regression issues. (#3705)
  apps/simconfig/src/components/charts/BaseChart/usePortalTooltip.tsx
  apps/simconfig/src/pages/CalculationRuns/CalculationRunList.tsx
  apps/simconfig/src/utils/createCdfLink.ts
Labels: none

fix(data-explorer): update timeseries aggregate endpoint (#1068)
  apps/data-exploration/src/app/containers/Filters.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesFilters.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/AggregatedTimeseriesFilter/AggregatedTimeseriesFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/index.tsx
  libs/data-exploration-components/src/components/SearchNew/ResourceTabs/TimeseriesTab.tsx
  libs/data-exploration-components/src/constants/metrics.ts
  libs/data-exploration-components/src/containers/SearchResults/TimeseriesSearchResults/TimeseriesSearchResults.tsx
  libs/data-exploration/domain-layer/src/events/service/queries/useEventsAggregateQuery.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/timeseries/service/index.ts
  libs/data-exploration/domain-layer/src/timeseries/service/network/getTimeseriesAggregate.ts
  libs/data-exploration/domain-layer/src/timeseries/service/network/getTimeseriesAggregateCount.ts
  libs/data-exploration/domain-layer/src/timeseries/service/network/getTimeseriesUniqueValuesByProperty.ts
  libs/data-exploration/domain-layer/src/timeseries/service/network/index.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/index.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/useTimeseriesAggregateCountQuery.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/useTimeseriesUniqueValuesByProperty.ts
  libs/data-exploration/domain-layer/src/timeseries/service/types.ts
Labels: data-explorer
