Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

Fix dependabot alerts
  yarn.lock
Labels: fusion-maintainers

Fix dependabot alerts
  package.json
  yarn.lock
Labels: fusion-maintainers

feat(data-exploration): generate storybook + move select component (#1252)
  Jenkinsfile
  libs/data-exploration-components/project.json
  libs/data-exploration-components/tsconfig.spec.json
  libs/data-exploration/components/.storybook/main.js
  libs/data-exploration/components/.storybook/preview.js
  libs/data-exploration/components/.storybook/tsconfig.json
  libs/data-exploration/components/jest.config.ts
  libs/data-exploration/components/project.json
  libs/data-exploration/components/src/Ellipsis/Ellipsis.tsx
  libs/data-exploration/components/src/Ellipsis/index.ts
  libs/data-exploration/components/src/Select/BaseSelect.tsx
  libs/data-exploration/components/src/Select/MultiSelect.tsx
  libs/data-exploration/components/src/Select/Select.stories.tsx
  libs/data-exploration/components/src/Select/Select.tsx
  libs/data-exploration/components/src/Select/index.ts
  libs/data-exploration/components/src/index.ts
  libs/data-exploration/components/src/lib/data-exploration-components.module.css
  libs/data-exploration/components/src/lib/data-exploration-components.spec.tsx
  libs/data-exploration/components/src/lib/data-exploration-components.tsx
  libs/data-exploration/components/src/setupTests.js
  libs/data-exploration/components/tsconfig.json
  libs/data-exploration/components/tsconfig.lib.json
  libs/data-exploration/components/tsconfig.spec.json
  libs/data-exploration/core/src/constants/filters.ts
  libs/data-exploration/core/src/constants/index.ts
  libs/data-exploration/core/src/hooks/index.ts
  libs/data-exploration/core/src/hooks/useIsOverflow.ts
  libs/data-exploration/core/src/index.ts
  libs/data-exploration/domain-layer/src/constants.ts
Labels: fusion-maintainers, data-explorer

remove comments from Jenkinsfile
  Jenkinsfile
Labels: fusion-maintainers

Update ubuntu memory to 16gb (#1429)
  .github/workflows/code-quality.yaml
  .github/workflows/visual-testing.yml
  src/components/AppearanceDropdown/AppearanceDropdown.skipStories.tsx
  src/components/EventSidebar/EventSidebar.skipStories.tsx
  src/components/FileViewer/FileViewer.skipStories.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobStep2.tsx
  src/components/MonitoringSidebar/MonitoringSidebar.tsx
  src/components/NodeEditor/V2/Nodes/ConstantNode.skipStories.tsx
  src/components/NodeEditor/V2/Nodes/FunctionNode/FunctionNode.skipStories.tsx
  src/components/NodeEditor/V2/Nodes/OutputNode.skipStories.tsx
  src/components/NodeEditor/V2/Nodes/SourceNode.skipStories.tsx
  src/components/NodeEditor/V2/ReactFlowNodeEditor.skipStories.tsx
  src/components/NodeEditor/V2/ReactFlowNodeEditorContainer.skipStories.tsx
  src/components/SourceTable/SourceTable.skipStories.tsx
  src/components/SourceTable/SourceTable.tsx
  src/pages/ChartViewPage/ChartViewPage.tsx
Labels: none

reverted back the i18n namespace
  src/App.tsx
Labels: none

fix: updating button for extractors details so it doesn't use Link
  src/components/DocsLinkGrid/DocsLinkGridItem.tsx
Labels: none

chore: fix comment
  viewer/packages/sector-loader/tests/GltfSectorLoader.test.ts
Labels: none

chore: remove unnecessary comment
  viewer/packages/api/visual-tests/DefaultTextured.VisualTest.ts
Labels: none

fix: properly dispose of texture for material
  viewer/packages/rendering/src/CadMaterialManager.ts
Labels: none

chore: simplify assertion
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
Labels: none

improvement: simplify material iteration
  viewer/packages/rendering/src/rendering/materials.ts
Labels: none

fix: adjusting height and width for button
  src/components/DocsLinkGrid/DocsLinkGridItem.tsx
Labels: none

chore: enable download calculation (#1433)
  src/components/TopBar/ChartActions.tsx
Labels: none

chore: add test case for getting correct LODs
  viewer/packages/360-images/src/collection/IconOctree.test.ts
Labels: none

feat: add jest preview (#1256)
  libs/data-exploration/components/src/Ellipsis/Ellipsis.tsx
  libs/data-exploration/components/src/setupTests.js
  package.json
  yarn.lock
Labels: fusion-maintainers, data-explorer

Update src/components/DocsLinkGrid/DocsLinkGridItem.tsx
  src/components/DocsLinkGrid/DocsLinkGridItem.tsx
Labels: none

make object string in CSV download
  src/components/DownloadTableModal/DownloadTableModal.tsx
Labels: none

Update src/components/DocsLinkGrid/DocsLinkGridItem.tsx
  src/components/DocsLinkGrid/DocsLinkGridItem.tsx
Labels: none

changing to title
  src/components/DocsLinkGrid/DocsLinkGridItem.tsx
Labels: none

refactor: add more descriptive names for methods / variables
  viewer/packages/360-images/src/collection/IconOctree.test.ts
  viewer/packages/360-images/src/collection/IconOctree.ts
Labels: none

fix: copy changes for FDM GA, deploy new version 1.0.0 (#1254)
  .github/workflows/deploy_platypus-cli.yml
  apps/platypus-cdf-cli/README.md
  apps/platypus-cdf-cli/package.json
  apps/platypus-cdf-cli/src/app/cmds/data-models/create.ts
  apps/platypus-cdf-cli/src/app/cmds/data-models/generate.ts
  apps/platypus-cdf-cli/src/app/cmds/data-models/index.ts
  apps/platypus-cdf-cli/src/app/cmds/data-models/list.ts
  apps/platypus-cdf-cli/src/app/cmds/data-models/publish.ts
  apps/platypus-cdf-cli/src/app/cmds/logout.ts
  apps/platypus-cdf-cli/src/app/cmds/sign-in/index.ts
  apps/platypus-cdf-cli/src/app/cmds/status.ts
  apps/platypus-cdf-cli/src/app/common/auth/device-code.ts
  apps/platypus-cdf-cli/src/app/common/auth/pkce.ts
  apps/platypus-cdf-cli/src/app/middlewares/auth.ts
  apps/platypus-cdf-cli/src/main.ts
Labels: none

fix: making descriptions on list of extractors and sources break if the word is too long
  src/components/extractor-library-list/ExtractorLibraryList.tsx
Labels: none

chore: add octree visualization to visual test
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/360-images/visual-tests/__image_snapshots__/Image360.VisualTest.png
Labels: none

chore: error handling on data models and copy changes for ui (#1253)
  apps/platypus/src/app/Routes.tsx
  apps/platypus/src/app/components/DataModelSpaceSelect/DataModelSpaceSelect.tsx
  apps/platypus/src/app/hooks/useDataModelActions.ts
  apps/platypus/src/app/modules/solution/DataModel.spec.tsx
  apps/platypus/src/app/modules/solution/DataModel.tsx
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-current/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/services/data-modeling-api/spaces-api.service.spec.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/services/data-modeling-api/spaces-api.service.ts
Labels: platypus

chore: lint fix
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/rendering/materials.ts
Labels: none

fix: Remove unnecessary fields from UserInfo for firebase (#1432)
  src/hooks/charts/mutations/useCreateChart.ts
  src/hooks/useUserInfo.ts
Labels: none

update multi-branch config
  Jenkinsfile
Labels: fusion-maintainers

chore(data-explorer/components): add tests to select components (#1259)
  libs/data-exploration/components/src/Select/__stories__/MultiSelect.stories.tsx
  libs/data-exploration/components/src/Select/__stories__/Select.stories.tsx
  libs/data-exploration/components/src/Select/__tests__/MultiSelect.spec.tsx
  libs/data-exploration/components/src/Select/__tests__/Select.spec.tsx
  libs/data-exploration/components/src/setupTests.js
  libs/data-exploration/components/tsconfig.spec.json
Labels: data-explorer

Update documentation/docs/components/customScope.ts
  documentation/docs/components/customScope.ts
Labels: none

doc: fix skybox URL for v3 and v4
  documentation/versioned_docs/version-3.x/components/customScope.ts
  documentation/versioned_docs/version-4.x/components/customScope.ts
Labels: none

feat: initial support for textures (#2956)
  examples/public/textured/0.glb
  examples/public/textured/scene.json
  viewer/packages/api/visual-tests/DefaultTextured.VisualTest.ts
  viewer/packages/api/visual-tests/__image_snapshots__/DefaultTextured.VisualTest.png
  viewer/packages/cad-model/src/utilities/getShaderMaterial.ts
  viewer/packages/cad-parsers/src/cad/filterPrimitivesV9.ts
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserGltf.test.ts
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserGltf.ts
  viewer/packages/cad-parsers/src/metadata/parsers/types.ts
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/glsl/sector/mesh.frag
  viewer/packages/rendering/src/glsl/sector/mesh.vert
  viewer/packages/rendering/src/rendering/materials.ts
  viewer/packages/rendering/src/rendering/shaders.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
  viewer/packages/sector-loader/tests/GltfSectorLoader.test.ts
  viewer/packages/sector-loader/visual-tests/SectorLoader.VisualTest.ts
  viewer/packages/sector-parser/README.md
  viewer/packages/sector-parser/src/GltfSectorParser.ts
  viewer/packages/sector-parser/src/reveal-glb-parser/primitiveGeometries.ts
  viewer/packages/sector-parser/src/types.ts
  viewer/packages/sector-parser/tests/GltfSectorParser.test.ts
  viewer/packages/sector-parser/tests/combined-texture.glb
  viewer/test-utilities/src/createSceneSectorMetadata.ts
Labels: none

doc: add example for loading GLTF with Reveal (#2782)
  documentation/docs/components/customScope.ts
  documentation/docs/examples/cad-3dobjects.mdx
  documentation/static/gltf/3d_industrial_tanker.glb
  documentation/versioned_docs/version-3.x/components/customScope.ts
  documentation/versioned_docs/version-4.x/components/customScope.ts
Labels: none

update message and add note in Readme
  Jenkinsfile
  README.md
Labels: fusion-maintainers

Small refactor of main.
  examples/src/pages/Viewer.tsx
Labels: none

improvement: Cancel prefetching of 360 images when image is removed from cache (#2971)
  viewer/packages/360-images/package.json
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/yarn.lock
Labels: none

refracted to skip loading sector in binary loader
  viewer/packages/pointclouds/src/potree-three-loader/geometry/PointCloudEptGeometryNode.ts
  viewer/packages/pointclouds/src/potree-three-loader/loading/EptBinaryLoader.ts
Labels: none

chore(data-exploration-components): move string filter to components lib (#1261)
  libs/data-exploration/components/src/Filters/FilterLabel.tsx
  libs/data-exploration/components/src/Filters/StringFilter/StringFilter.spec.tsx
  libs/data-exploration/components/src/Filters/StringFilter/StringFilter.stories.tsx
  libs/data-exploration/components/src/Filters/StringFilter/StringFilter.tsx
  libs/data-exploration/components/src/Filters/StringFilter/index.ts
  libs/data-exploration/components/src/Filters/index.ts
  libs/data-exploration/components/src/Select/__stories__/MultiSelect.stories.tsx
  libs/data-exploration/components/src/Select/__stories__/Select.stories.tsx
  libs/data-exploration/components/src/index.ts
Labels: data-explorer

fix(data-exploration): Disabling the dataset column sort (#1262)
  libs/data-exploration-components/src/components/Table/columns.tsx
Labels: data-explorer

fix(data-explorer): Moving the search empty component in convention to not run pipeline from change in data-exploration (#1264)
  apps/coding-conventions/src/app/components/SearchEmpty.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionValidation.tsx
Labels: coding-conventions

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*
