Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*

added Image360 exposed when entering 360 image mode
  documentation/docs/examples/image360.mdx
  viewer/packages/360-images/src/types.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

updated api with extractor
  viewer/reveal.api.md
Labels: none

Configure Cypress to test FDM V2 and V3 clients [DX-1089] (#1002)
  .github/workflows/platypus-e2e-tests.yml
  apps/platypus-e2e/project.json
  apps/platypus-e2e/src/integration/data-model/publish-new-schema.cy.ts
  apps/platypus-e2e/src/integration/data-model/toggle-schema-visualizer.cy.ts
  apps/platypus-e2e/src/integration/data-models-page/create-data-model-v3.cy.ts
  apps/platypus-e2e/src/integration/data-models-page/create-data-model.cy.ts
  apps/platypus-e2e/src/support/commands.ts
  apps/platypus-e2e/src/utils/get-fdm-version.ts
  apps/platypus-e2e/src/utils/index.ts
  apps/platypus-e2e/src/utils/url.ts
Labels: none

removed unused dispose event in default collection
  viewer/packages/360-images/src/DefaultImage360Collection.ts
Labels: none

fix(simconfig): Fix simconfig regression issues (#3693)
  apps/simconfig/src/components/Menubar.tsx
  apps/simconfig/src/components/app/App.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simconfig/src/components/models/ModelDetails/ModelLabels.tsx
  apps/simconfig/src/components/models/ModelList/ModelList.tsx
  apps/simconfig/src/components/models/ModelVersionList/ModelVersionList.tsx
  apps/simconfig/src/components/simulator/constants.ts
  apps/simconfig/src/global-styles.ts
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/pages/ModelLibrary/NewModel/NewModel.tsx
  apps/simconfig/src/utils/createCdfLink.ts
Labels: none

Update viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

Update viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

chore: use CodeMirror instead of react-live in doc snippets
  documentation/docs/components/LiveCodeSnippet.tsx
  documentation/package.json
  documentation/yarn.lock
Labels: none

addressed review comments & some clean up
  viewer/packages/360-images/src/DefaultImage360Collection.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

Bump version: 0.4.10 -> 0.4.11 (#3700)
  apps/scarlet/package.json
Labels: none

add courses to scarlett detections (#3703)
  apps/scarlet/src/transformations/transformScannerAnnotation.ts
Labels: none

fixed imageCollection remove issue
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

clean up
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

feat(data-explorer): Replace multi-select component in asset and data set filter (#1026)
  libs/data-exploration-components/src/components/Search/Filters/ByAssetFilter/ByAssetFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/ByAssetFilter/ByAssetFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/DataSetFilter/DataSetFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/MultiSelectFilterNew.tsx
  libs/data-exploration-components/src/containers/Assets/AssetSelect/AssetSelect.stories.tsx
  libs/data-exploration-components/src/containers/Assets/AssetSelect/AssetSelect.tsx
Labels: data-explorer

feat(data-explorer): Show hide details in file preview (#1040)
  libs/data-exploration-components/src/components/Buttons/IconButton/IconButton.tsx
  libs/data-exploration-components/src/components/Buttons/index.ts
  libs/data-exploration-components/src/components/index.ts
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreviewUFV/ActionTools.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreviewUFV/FilePreviewUFV.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreviewUFV/constants.ts
Labels: data-explorer

feat(data-explorer): get assets metadata from aggregates endpoint [DEGR-1362] (#1031)
  apps/data-exploration/src/app/containers/Asset/AssetFilters.tsx
  libs/data-exploration-components/src/components/FilterFormV2/FilterFormV2.tsx
  libs/data-exploration-components/src/components/FilterFormV2/FilterItem.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/AssetFilters.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/MetadataFilter/MetadataFilter.tsx
  libs/data-exploration-components/src/containers/Assets/AssetDetailsTreeTable/AssetDetailsTreeTable.tsx
  libs/data-exploration-components/src/containers/Assets/AssetSummary/AssetSummary.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTable/AssetTable.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTreeTable/AssetTreeTable.tsx
  libs/data-exploration-components/src/hooks/index.ts
  libs/data-exploration/domain-layer/src/assets/service/index.ts
  libs/data-exploration/domain-layer/src/assets/service/network/getAssetsAggregate.ts
  libs/data-exploration/domain-layer/src/assets/service/network/getAssetsMetadataKeysAggregate.ts
  libs/data-exploration/domain-layer/src/assets/service/network/getAssetsMetadataValuesAggregate.ts
  libs/data-exploration/domain-layer/src/assets/service/network/getMetadataKeys.ts
  libs/data-exploration/domain-layer/src/assets/service/network/index.ts
  libs/data-exploration/domain-layer/src/assets/service/queries/index.ts
  libs/data-exploration/domain-layer/src/assets/service/queries/useAssetsAggregateQuery.ts
  libs/data-exploration/domain-layer/src/assets/service/queries/useAssetsMetadataKeys.ts
  libs/data-exploration/domain-layer/src/assets/service/queries/useAssetsMetadataKeysAggregateQuery.ts
  libs/data-exploration/domain-layer/src/assets/service/queries/useAssetsMetadataValuesAggregateQuery.ts
  libs/data-exploration/domain-layer/src/assets/service/types.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
Labels: data-explorer

fix(explorer): Fixing the length of root asset button which was showing ellipsis after changing the width of columns (#1023)
  libs/data-exploration-components/src/components/RootAsset/RootAsset.tsx
  libs/data-exploration-components/src/components/RootAsset/RootAssetButton.stories.tsx
  libs/data-exploration-components/src/components/RootAsset/RootAssetButton.tsx
  libs/data-exploration-components/src/components/RootAsset/elements.ts
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentsTable.tsx
Labels: data-explorer

feat(data-explorer): Enable multi-select in unit filter (#983)
  apps/data-exploration/src/app/containers/App/App.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesFilters.tsx
  libs/data-exploration-components/src/components/Search/Filters/TimeseriesFilters.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/AggregatedMultiselectFilter/AggregatedMultiselectFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/MultiSelectFilterNew.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/TimeseriesFilters.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/index.tsx
  libs/data-exploration-components/src/components/Select/BaseSelect.tsx
  libs/data-exploration-components/src/containers/SearchResults/TimeseriesSearchResults/TimeseriesLinkedSearchResults.tsx
  libs/data-exploration-components/src/context/AppContext.tsx
  libs/data-exploration-components/src/context/DataExplorationContext.tsx
  libs/data-exploration-components/src/hooks/index.ts
  libs/data-exploration-components/src/hooks/useAdvancedFiltersEnabled.ts
  libs/data-exploration-components/src/hooks/useMetrics.ts
  libs/data-exploration-components/src/utils/getTimeseriesFilterUnit.ts
  libs/data-exploration-components/src/utils/index.ts
  libs/data-exploration-components/src/utils/tests/getTimeseriesFilterUnit.test.ts
  libs/data-exploration/domain-layer/src/filters/index.ts
  libs/data-exploration/domain-layer/src/filters/internal/index.ts
  libs/data-exploration/domain-layer/src/filters/internal/transformers/index.ts
  libs/data-exploration/domain-layer/src/filters/internal/transformers/mapAggregateDataToSourceData.ts
  libs/data-exploration/domain-layer/src/index.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/transformers/mapFiltersToTimeseriesAdvancedFilters.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/types.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/index.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/useTimeseriesList.ts
Labels: data-explorer

feat(data-explorer): Add capability to load 360 images directly from 3D tab (#1028)
  apps/data-exploration/package.json
  apps/data-exploration/src/app/containers/Exploration/SearchResultsPage.tsx
  apps/data-exploration/src/app/containers/ThreeD/AssetMappingsSidebar.tsx
  apps/data-exploration/src/app/containers/ThreeD/Reveal.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDContext.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDGridPreview.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDPage.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDSearchResults.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/hooks.ts
  apps/data-exploration/src/app/containers/ThreeD/title/SecondaryModelDropdown.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/ThreeDTitle.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/index.tsx
  apps/data-exploration/src/app/containers/ThreeD/utils.ts
  scripts/lint.sh
Labels: data-explorer

fix: align style to match original one
  documentation/docs/components/LiveCodeSnippet.tsx
  documentation/docs/components/styles.module.css
Labels: none

feat(coding-conventions): setup the landing page (#1047)
  apps/coding-conventions/src/AppWrapper.tsx
  apps/coding-conventions/src/GlobalStyles.tsx
  apps/coding-conventions/src/app/components/Card/Card.tsx
  apps/coding-conventions/src/app/pages/HomePage.tsx
  apps/coding-conventions/src/react-app-env.d.ts
  libs/cdf-nx-plugin/src/generators/fusion-subapp/files/src/AppWrapper.tsx__template__
  libs/cdf-nx-plugin/src/generators/fusion-subapp/files/src/GlobalStyles.tsx__template__
  libs/cdf-nx-plugin/src/generators/fusion-subapp/files/src/react-app-env.d.ts__template__
Labels: coding-conventions

feat(data-explorer): Render metadata URLs as clickable links (#1036)
  libs/data-exploration-components/src/components/Details/Metadata.tsx
  libs/data-exploration-components/src/utils/url.ts
Labels: data-explorer

feat(coding-conventions) start work on definitions page (#1050)
  apps/coding-conventions/src/app/pages/conventions/DefineSchema.tsx
  apps/coding-conventions/src/app/pages/conventions/constants.ts
  apps/coding-conventions/src/app/pages/conventions/types.ts
Labels: coding-conventions

chore: disable autocompletion
  documentation/docs/components/LiveCodeSnippet.tsx
Labels: none

fix: correct skyUrl in example
  documentation/docs/examples/cad-3dobjects.mdx
Labels: none

chore: increase button margin slightly
  documentation/docs/components/LiveCodeSnippet.tsx
  documentation/docs/components/styles.module.css
Labels: none

refactor(data-explorer): cleanup duplicate components and fix (#1027)
  apps/data-exploration/src/app/components/Filters/MultiSelectFilter.tsx
  apps/data-exploration/src/app/containers/Document/DocumentFilters.tsx
  libs/data-exploration-components/src/components/MultiSelectFilter/MultiSelectFilter.tsx
  libs/data-exploration-components/src/components/MultiSelectFilter/utils.ts
  libs/data-exploration-components/src/components/SearchNew/Filters/AggregatedEventFilter/AggregatedEventFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/AggregatedMultiselectFilter/AggregatedMultiselectFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/DataSetFilter/DataSetFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/MultiSelectFilterNew.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/SourceFilter/SourceFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/index.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/types.ts
  libs/data-exploration-components/src/components/index.ts
  libs/data-exploration-components/src/containers/Assets/AssetSelect/AssetSelect.tsx
  libs/data-exploration/domain-layer/src/filters/internal/transformers/mapAggregateDataToSourceData.ts
Labels: data-explorer

chore: switch theme from atomone to material
  documentation/docs/components/LiveCodeSnippet.tsx
  documentation/package.json
  documentation/yarn.lock
Labels: none

chore: don't highlight active line
  documentation/docs/components/LiveCodeSnippet.tsx
Labels: none

chore: revert unnecessary change
  documentation/docs/components/LiveCodeSnippet.tsx
Labels: none

feat(data-explorer): filter aggregates for assets and events (#1046)
  apps/data-exploration/dist/libs/data-exploration/domain-layer/libs/data-exploration/domain-layer/README.md
  apps/data-exploration/src/app/containers/Asset/AssetFilters.tsx
  libs/data-exploration-components/src/components/Search/Filters/AggregatedEventFilter/AggregatedEventFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/AggregatedEventFilter/AggregatedEventFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/LabelFilter/LabelFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/SourceFilter/SourceFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/ResourceTabs/EventsTab.tsx
  libs/data-exploration-components/src/containers/SearchResults/EventSearchResults/EventSearchResults.tsx
  libs/data-exploration/domain-layer/src/assets/internal/types.ts
  libs/data-exploration/domain-layer/src/assets/service/network/getAssetsAggregate.ts
  libs/data-exploration/domain-layer/src/assets/service/network/getAssetsMetadataKeysAggregate.ts
  libs/data-exploration/domain-layer/src/assets/service/network/getAssetsUniqueValuesByProperty.ts
  libs/data-exploration/domain-layer/src/assets/service/network/index.ts
  libs/data-exploration/domain-layer/src/assets/service/queries/index.ts
  libs/data-exploration/domain-layer/src/assets/service/queries/useAssetsAggregateQuery.ts
  libs/data-exploration/domain-layer/src/assets/service/queries/useAssetsUniqueValuesByProperty.ts
  libs/data-exploration/domain-layer/src/assets/service/types.ts
  libs/data-exploration/domain-layer/src/events/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/events/service/network/getEventsAggregateCount.ts
  libs/data-exploration/domain-layer/src/events/service/network/getEventsAggregateUniqueValues.ts
  libs/data-exploration/domain-layer/src/events/service/network/index.ts
  libs/data-exploration/domain-layer/src/events/service/queries/index.ts
  libs/data-exploration/domain-layer/src/events/service/queries/useEventsAggregateCountQuery.ts
  libs/data-exploration/domain-layer/src/events/service/queries/useEventsAggregateUniqueValuesQuery.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/types.ts
Labels: data-explorer

fix(explorer): Replacing the copy button in metadata table with icons and it shows button in all columns on hover (#1030)
  libs/data-exploration-components/src/components/Table/CopyToClipboardIconButton.tsx
  libs/data-exploration-components/src/components/Table/Table.tsx
  libs/data-exploration-components/src/components/Table/elements.ts
Labels: data-explorer

fix(data-explorer): Multiselect value type (#1051)
  libs/data-exploration-components/src/components/SearchNew/Filters/MultiSelectFilterNew.tsx
Labels: data-explorer

fix(explorer): fixing the date filter where it was not updating correctly after consecutive switch of before and after (#1024)
  libs/data-exploration-components/src/components/SearchNew/Filters/DateFilter/DateFilter.tsx
Labels: data-explorer

chore: copy setup to v3 and v4
  documentation/versioned_docs/version-3.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-3.x/components/styles.module.css
  documentation/versioned_docs/version-3.x/examples/cad-3dobjects.mdx
  documentation/versioned_docs/version-4.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-4.x/components/styles.module.css
  documentation/versioned_docs/version-4.x/examples/cad-3dobjects.mdx
Labels: none

fix(data-explorer): Summary tab tables column misalignment (#1045)
  libs/data-exploration-components/src/components/Table/Table.tsx
  libs/data-exploration-components/src/components/Table/elements.ts
Labels: data-explorer

improvement: improved 3D metrics (#1044)
  apps/data-exploration/src/app/constants/metrics.ts
  apps/data-exploration/src/app/containers/Asset/AssetPreview.tsx
  apps/data-exploration/src/app/containers/ThreeD/AssetMappingsList.tsx
  apps/data-exploration/src/app/containers/ThreeD/AssetMappingsSidebar.tsx
  apps/data-exploration/src/app/containers/ThreeD/AssetPreviewSidebar.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDGridPreview.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/assets-highlight-button/AssetsHighlightButton.tsx
  apps/data-exploration/src/app/containers/ThreeD/slicer/Slicer.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/SecondaryModelDropdown.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/help-button/index.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/index.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/share-button/index.tsx
Labels: data-explorer

Update viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

fix(simconfig): DEGR-1377 DEGR-1378 DEGR-1391 (#3702)
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simconfig/src/components/shared/Wizard/Wizard.tsx
  apps/simconfig/src/pages/CalculationConfiguration/CalculationConfiguration.tsx
  apps/simconfig/src/styles/GlobalStyles.tsx
  apps/simconfig/src/utils/zIndex.ts
Labels: none

fix: fixed missing types on data preview, local drafts on data models page (#1052)
  apps/platypus/src/app/modules/data-models/components/DataModelsTable/DataModelsTable.tsx
  apps/platypus/src/app/modules/data-models/hooks/useDataModelsGridConfig.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/TypeList/elements.ts
  apps/platypus/src/app/modules/solution/data-management/pages/Preview.tsx
Labels: platypus
