Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

chore: update SDK dependencies (#2910)
  documentation/versioned_docs/version-4.x/package.json
  documentation/yarn.lock
  viewer/package.json
  viewer/yarn.lock
Labels: none

fix: fix large-scale SSAO noise
  viewer/packages/rendering/src/glsl/post-processing/pure-depth-ssao.frag
Labels: none

chore(data-explorer): Update files metadata filter to get data from aggregates (#1065)
  apps/data-exploration/src/app/containers/Document/DocumentFilters.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentSummary/DocumentSummary.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentsTable.tsx
  libs/data-exploration-components/src/containers/Files/FileSummary/FileSummary.tsx
  libs/data-exploration-components/src/containers/Files/FileTable/FileTable.tsx
  libs/data-exploration/domain-layer/src/documents/service/network/getDocumentsAggregate.ts
  libs/data-exploration/domain-layer/src/documents/service/network/getDocumentsMetadataKeysAggregate.ts
  libs/data-exploration/domain-layer/src/documents/service/network/getDocumentsMetadataValuesAggregate.ts
  libs/data-exploration/domain-layer/src/documents/service/network/index.ts
  libs/data-exploration/domain-layer/src/documents/service/queries/index.ts
  libs/data-exploration/domain-layer/src/documents/service/queries/useDocumentsMetadataKeys.ts
  libs/data-exploration/domain-layer/src/documents/service/queries/useDocumentsMetadataKeysAggregateQuery.ts
  libs/data-exploration/domain-layer/src/documents/service/queries/useDocumentsMetadataValuesAggregateQuery.ts
  libs/data-exploration/domain-layer/src/documents/service/types.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
Labels: data-explorer

feat(data-explorer): get timeseries metadata from aggregate endpoint [DEGR-1404] (#1066)
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesFilters.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesTable/TimeseriesTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimseriesSummary/TimeseriesSummary.tsx
  libs/data-exploration/domain-layer/src/events/service/network/getMetadataKeys.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/timeseries/service/network/getTimeseriesMetadataKeysAggregate.ts
  libs/data-exploration/domain-layer/src/timeseries/service/network/getTimeseriesMetadataValuesAggregate.ts
  libs/data-exploration/domain-layer/src/timeseries/service/network/index.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/index.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/useTimeseriesMetadataKeys.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/useTimeseriesMetadataKeysAggregateQuery.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/useTimeseriesMetadataValuesAggregateQuery.ts
  libs/data-exploration/domain-layer/src/timeseries/service/types.ts
Labels: data-explorer

screenSize check now returns if not passed
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

fix: asset & event metadata key overlap (#1074)
  libs/data-exploration/domain-layer/src/queryKeys.ts
Labels: data-explorer

feat: fetch more than default (20) records of 360 image dataset from events query (#1070)
  apps/data-exploration/src/app/containers/ThreeD/ThreeDSearchResults.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/hooks.ts
  apps/data-exploration/src/app/containers/ThreeD/title/SecondaryModelDropdown.tsx
  libs/data-exploration/domain-layer/src/events/internal/queries/useEventsSearchResultQuery.ts
Labels: data-explorer

chore(simconfig): DEGR-1435 (#3711)
  apps/simconfig/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simconfig/src/components/models/ModelDetails/elements.ts
  apps/simconfig/src/components/simulator/SimulatorStatus.tsx
Labels: none

feat: Zoom to pinch support in 360 Images (#2895)
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

feat: hide few tools in toolbar while in 360 image mode (#1072)
  apps/data-exploration/src/app/containers/ThreeD/ThreeDContext.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/hooks.ts
  apps/data-exploration/src/app/containers/ThreeD/load-secondary-models/LoadImages360.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/Images360MenuItem.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/SecondaryModelDropdown.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/ThreeDTitle.tsx
  apps/data-exploration/src/app/containers/ThreeD/utils.ts
Labels: data-explorer

fix(simconfig): regression issues fusion (#3706)
  apps/simconfig/src/components/forms/elements.tsx
  apps/simconfig/src/components/shared/Wizard/Wizard.tsx
  apps/simconfig/src/pages/CalculationConfiguration/steps/ScheduleStep.tsx
  apps/simconfig/src/styles/GlobalStyles.tsx
Labels: none

feat(coding-conventions): Create excel view, with paste into rows (#1075)
  apps/coding-conventions/src/app/pages/pasteView/DataCleanupComponent.tsx
  apps/coding-conventions/src/app/pages/pasteView/PasteView.tsx
  apps/coding-conventions/src/app/pages/pasteView/helpers.ts
  apps/coding-conventions/src/app/pages/pasteView/react-table-plugins.d.ts
  package.json
  yarn.lock
Labels: fusion-maintainers, coding-conventions

feat(coding-conventions): create page (#1071)
  apps/coding-conventions/src/app/components/Card/Card.tsx
  apps/coding-conventions/src/app/components/Header/Header.tsx
  apps/coding-conventions/src/app/components/Modal/ModalFooter.tsx
  apps/coding-conventions/src/app/containers/ConventionsContainer.tsx
  apps/coding-conventions/src/app/containers/ManageSelectedConvention.tsx
  apps/coding-conventions/src/app/pages/HomePage.tsx
  apps/coding-conventions/src/app/pages/conventions/ConventionsPage.tsx
  apps/coding-conventions/src/app/pages/conventions/DefineSchema.tsx
  apps/coding-conventions/src/app/pages/conventions/types.ts
  apps/coding-conventions/src/app/service/conventions.ts
Labels: coding-conventions

fix: filtered metadata values in file table (#1076)
  libs/data-exploration-components/src/components/Table/columns.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentSummary/DocumentSummary.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentsTable.tsx
  libs/data-exploration-components/src/utils/getMetadataValueByKey.ts
  libs/data-exploration-components/src/utils/index.ts
  libs/data-exploration-components/src/utils/tests/getMetadataValueByKey.test.ts
Labels: data-explorer

refactor: strip down to minimal working implementation
  viewer/packages/rendering/src/glsl/post-processing/pure-depth-ssao.frag
Labels: none

fix(data-explorer): show error message when file is not uploaded [DEGR-1306] (#1077)
  apps/data-exploration/src/app/components/TitleRowActions/DownloadButton.tsx
  libs/data-exploration-components/src/components/FileDownloadAnchor.tsx
Labels: data-explorer

chore: slight cleanup
  viewer/packages/rendering/src/glsl/post-processing/pure-depth-ssao.frag
Labels: none

feat(explorer): Adding the columns of `direct assets` to all resource table except assets (#1033)
  libs/data-exploration-components/src/components/Table/DirectAssets.tsx
  libs/data-exploration-components/src/components/Table/RootAssetCell.tsx
  libs/data-exploration-components/src/components/Table/columns.tsx
  libs/data-exploration-components/src/components/Table/elements.ts
  libs/data-exploration-components/src/components/Table/index.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentsTable.tsx
  libs/data-exploration-components/src/containers/Files/FileTable/FileTable.tsx
  libs/data-exploration-components/src/containers/Sequences/SequenceTable/SequenceTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesTable/TimeseriesTable.tsx
  libs/data-exploration/domain-layer/src/assets/internal/types.ts
  libs/data-exploration/domain-layer/src/assets/service/network/getAssetsByIds.ts
  libs/data-exploration/domain-layer/src/assets/service/network/index.ts
  libs/data-exploration/domain-layer/src/assets/service/queries/index.ts
  libs/data-exploration/domain-layer/src/assets/service/queries/useAssetsByIdsQuery.ts
  libs/data-exploration/domain-layer/src/constants.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
Labels: data-explorer

fix: correct random unit vector computation
  viewer/packages/rendering/src/render-passes/SSAOPass.ts
Labels: none

fix: only purge invisible 360 images from cache
  viewer/packages/360-images/src/Image360LoadingCache.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
Labels: none

fix: add visible getter for visualization box
  viewer/packages/360-images/src/Image360VisualizationBox.ts
Labels: none

feat(data-explorer): Add state of secondary 360 images to URL together with some fixes (#1073)
  apps/data-exploration/src/app/containers/ThreeD/Reveal.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDContext.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDGridPreview.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/hooks.ts
  apps/data-exploration/src/app/containers/ThreeD/title/MainThreeDModelMenuItem.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/SecondaryModelDropdown.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/ThreeDTitle.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/share-button/index.tsx
  apps/data-exploration/src/app/containers/ThreeD/utils.ts
Labels: data-explorer

fix: entered 360 image being purged from cache (#2914)
  viewer/packages/360-images/src/Image360LoadingCache.ts
  viewer/packages/360-images/src/Image360VisualizationBox.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
Labels: none

fix: Removing the filter from the metadata keys (#1080)
  apps/data-exploration/src/app/containers/Asset/AssetFilters.tsx
  apps/data-exploration/src/app/containers/Event/EventFilters.tsx
  apps/data-exploration/src/app/containers/Sequence/SequenceFilters.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesFilters.tsx
Labels: data-explorer

improvement: factor out distance factor and multiply it
  viewer/packages/rendering/src/glsl/post-processing/pure-depth-ssao.frag
Labels: none

fix(simconfig): Fix loading of chart previews when parameters remain unchanged - Configuration wizard (#3714)
  apps/simconfig/src/pages/CalculationConfiguration/steps/DataSamplingStep.tsx
Labels: none

fix(data-explorer): update types for new api response for timeseries and sequence (#1079)
  libs/data-exploration-components/src/containers/Sequences/SequenceTable/SequenceTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesTable/TimeseriesTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimseriesSummary/TimeseriesSummary.tsx
  libs/data-exploration/domain-layer/src/sequence/service/network/getSequencesMetadataValuesAggregate.ts
  libs/data-exploration/domain-layer/src/sequence/service/types.ts
  libs/data-exploration/domain-layer/src/timeseries/service/network/getTimeseriesMetadataValuesAggregate.ts
  libs/data-exploration/domain-layer/src/timeseries/service/network/getTimeseriesUniqueValuesByProperty.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/useTimeseriesMetadataKeys.ts
  libs/data-exploration/domain-layer/src/timeseries/service/types.ts
Labels: data-explorer

fix: SSAO noise on large-scale models (#2913)
  viewer/packages/rendering/src/glsl/post-processing/pure-depth-ssao.frag
  viewer/packages/rendering/src/render-passes/SSAOPass.ts
Labels: none

bug: Empty error message pops up when user hit the enter in data model name edit box [DX-1351] (#1078)
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.spec.tsx
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.tsx
Labels: platypus

chore(simconfig): DEGR-1383 (#3712)
  apps/simconfig/src/components/models/ModelVersionList/ModelVersionList.tsx
Labels: none

Feat(discover): map layer metadata (#3715)
  apps/discover/src/components/Card/PreviewCard/BasePreviewCard.tsx
  apps/discover/src/components/MetadataTable/elements.ts
  apps/discover/src/pages/authorized/search/map/cards/layerMetadata/LayerMetadata.tsx
  apps/discover/src/pages/authorized/search/map/cards/well/WellAdditionalMetadata.tsx
  apps/discover/src/pages/authorized/search/map/cards/well/WellPreviewCard.tsx
  apps/discover/src/pages/authorized/search/map/cards/well/WellboreCardDetails.tsx
  apps/discover/src/pages/authorized/search/map/hooks/useMapEvents.tsx
  apps/discover/src/styles/globalStyles.ts
  package.json
  yarn.lock
Labels: fusion-maintainers

Fixed the problem, added removal/addition of events on ComboControls enablement
  examples/yarn.lock
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
Labels: none

docs: link to Cognite API for point cloud shape convention
  documentation/docs/examples/pointcloud-styling.mdx
Labels: none

chore(data-explorer): bumped version to 2.4.0 (#1098)
  apps/data-exploration/package.json
Labels: data-explorer

feat: File link in details page (#592)
  apps/3d-management/package.json
  apps/3d-management/src/hooks/files/useFiles.ts
  apps/3d-management/src/pages/RevisionDetails/RevisionDetails.tsx
  apps/3d-management/src/pages/RevisionDetails/components/FileLink/FileLink.tsx
  apps/3d-management/src/pages/RevisionDetails/components/FileLink/FileLint.spec.tsx
Labels: none

Abort file request when a model is removed.
  viewer/packages/data-providers/src/model-data-providers/CdfModelDataProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
Labels: none

bug: When switching between FDM v2 and v3, the localDraft persists [DX-1274] (#1055)
  apps/platypus/src/app/flags/isFDMv3.ts
  apps/platypus/src/app/modules/data-models/DeleteDataModel.tsx
  apps/platypus/src/app/modules/solution/data-model/components/DataModelHeader/DataModelHeader.tsx
  apps/platypus/src/app/modules/solution/data-model/hooks/useLocalDraft.ts
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
  apps/platypus/src/app/redux/middlewares/dataModelMiddleware.ts
  apps/platypus/src/app/utils/local-storage-utils.ts
  apps/platypus/src/app/utils/persistence/local-storage-provider.ts
  apps/platypus/src/app/utils/persistence/session-storage-provider.ts
  apps/platypus/src/app/utils/persistence/storage-providers.ts
  libs/platypus-core/src/lib/boundaries/persistence/storage-provider.constants.ts
Labels: platypus

docs: slightly rephrase sentence
  documentation/docs/examples/pointcloud-styling.mdx
Labels: none

feat: add partitioning and pagination support for fetching events
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: none

chore: fix link
  documentation/docs/examples/pointcloud-styling.mdx
Labels: none

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*
