Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

Fixing the resolution for dependabot alerts
  package.json
  yarn.lock
Labels: fusion-maintainers

upgrading data-sets to use Firebase
  Jenkinsfile
Labels: fusion-maintainers

fixing comment marker in jenkins
  Jenkinsfile
Labels: fusion-maintainers

fixing errors in Jenkins
  Jenkinsfile
Labels: fusion-maintainers

fixing errors in Jenkins
  Jenkinsfile
Labels: fusion-maintainers

fixing errors in Jenkins
  Jenkinsfile
Labels: fusion-maintainers

fixing errors in Jenkins
  Jenkinsfile
Labels: fusion-maintainers

Feat scan all (#3769)
  apps/scarlet/src/api/DiagramDetection.ts
  apps/scarlet/src/api/callScarletScanner.ts
  apps/scarlet/src/api/getUnitDocuments.ts
  apps/scarlet/src/api/index.ts
  apps/scarlet/src/contexts/DataPanelContext/DataPanelContext.tsx
  apps/scarlet/src/pages/Equipment/components/DataSource/DataSource.tsx
  apps/scarlet/src/pages/Equipment/components/NewDataSource/NewDataSource.tsx
  apps/scarlet/src/pages/Equipment/components/Ornate/Ornate.tsx
  apps/scarlet/src/pages/Home/components/EquipmentsFilter/EquipmentsFilter.tsx
  apps/scarlet/src/pages/Home/components/EquipmentsFilter/UnitScanTrigger/UnitScanTrigger.tsx
  apps/scarlet/src/pages/Home/components/EquipmentsFilter/UnitScanTrigger/index.ts
  apps/scarlet/src/pages/Home/components/EquipmentsFilter/UnitScanTrigger/style.ts
  apps/scarlet/src/pages/Home/components/EquipmentsFilter/style.ts
  apps/scarlet/src/types/annotation.ts
  apps/scarlet/src/utils/Rectangle.ts
  apps/scarlet/src/utils/index.ts
Labels: none

chore: remove files explorer app
  src/pages/IDP/applications.ts
Labels: none

Bump version: 0.4.13 -> 0.4.14 (#3779)
  apps/scarlet/package.json
Labels: none

Abort before fetch
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: none

feat(data-explorer): Add pagination with arrow buttons (#1226)
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreview.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/Pagination.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/hooks/useNumPages.ts
Labels: data-explorer

skip pointcloud tiles loading if numPoints is 0
  viewer/packages/pointclouds/src/potree-three-loader/geometry/PointCloudEptGeometryNode.ts
Labels: none

feat(discover): measurements annotations on stick chart trajectory graph [PP-3329] (#3770)
  apps/discover/src/domain/wells/wellbore/internal/selectors/getKickoffPoint.ts
  apps/discover/src/domain/wells/wellbore/internal/utils/getTrajectoryScalers.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/TrajectoryColumn/TrajectoryColumn.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/TrajectoryColumn/constants.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/WellboreStickChart.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/hooks/useInclinationPlot.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/hooks/useKickOffPointPlot.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/hooks/useTrajectoryColumnSecondaryData.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/types.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/utils/getAnnotationDepths.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/utils/getInclinationDisplay.ts
  apps/discover/src/utils/displayAsDegrees.ts
Labels: none

fixing errors in Jenkins
  Jenkinsfile
Labels: fusion-maintainers

fix(data-explorer): address file viewer issues (#1229)
  apps/data-exploration/src/app/containers/App/routes.ts
  apps/data-exploration/src/app/containers/Canvas/CanvasPage.tsx
  apps/data-exploration/src/app/containers/Exploration/ExplorerV2.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/Canvas.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/AnnotationHoverPreview.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/utils.ts
  package.json
  yarn.lock
Labels: fusion-maintainers, data-explorer

feat(discover): redesign stick chart measurements column [PP-3329] (#3781)
  apps/discover/cypress/integration/wells/inspect-view/stick-chart/stick-chart.spec.ts
  apps/discover/src/domain/wells/measurements/internal/selectors/filterByMeasurementTypeParent.ts
  apps/discover/src/domain/wells/measurements/internal/selectors/filterChartDataByMeasurementTypeParent.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/CasingsColumn/CasingsColumn.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/MeasurementsColumn/MeasurementsColumn.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/MeasurementsColumn/components/PressureDataLabel.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/MeasurementsColumn/components/PressureLabelImage.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/MeasurementsColumn/elements.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/MeasurementsColumn/images/FIT.svg
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/MeasurementsColumn/images/LOT.svg
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/WellboreStickChart.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/constants.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/filters/FilterBar.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/types.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/utils/adaptMeasurementDataToColumn.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/utils/adaptMeasurementsDataToChart.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/utils/getPressureLabelImage.ts
Labels: none

Add FAS tools
  package.json
  yarn.lock
Labels: fusion-maintainers

added release config
  Jenkinsfile
  config-overrides.js
  firebase.json
  package.json
  src/App.tsx
  yarn.lock
Labels: fusion-maintainers

refactor(discover): stick chart column order [PP-3329] (#3782)
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/FilterBar/FilterBar.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/FilterBar/components/DepthFilterItem.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/FilterBar/components/FilterItem.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/FilterBar/components/MeasurementsFilterItem.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/FilterBar/components/NdsFilterItem.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/FilterBar/components/NptFilterItem.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/FilterBar/components/SummaryFilterItem.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/FilterBar/elements.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/FilterBar/index.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/StickChart.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/WellboreStickChart.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/filters/FilterBar.tsx
Labels: none

updated Jenkins
  Jenkinsfile
Labels: fusion-maintainers

updated Jenkins
  Jenkinsfile
Labels: fusion-maintainers

chore: simplify Jenkinsfile
  Jenkinsfile
Labels: fusion-maintainers

feat: add support for separate textured glb file
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserGltf.ts
  viewer/packages/cad-parsers/src/metadata/parsers/types.ts
  viewer/packages/sector-parser/README.md
Labels: none

fix: correct variable name in Jenkinsfile
  Jenkinsfile
Labels: fusion-maintainers

A solution
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
Labels: none

fix: test
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserGltf.test.ts
  viewer/packages/cad-parsers/src/metadata/parsers/types.ts
  viewer/test-utilities/src/createSceneSectorMetadata.ts
Labels: none

Working fps metrics
  documentation/docs/components/Cognite3DViewerDemo.tsx
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/metrics/index.ts
  viewer/packages/metrics/src/FpsLogger.ts
  viewer/packages/metrics/src/types.ts
Labels: none

Fixed viewer example
  documentation/docs/components/Cognite3DViewerDemo.tsx
Labels: none

poc: octree based clustering for 360 image icons
  examples/src/utils/Image360UI.ts
  viewer/package.json
  viewer/packages/360-images/src/collection/Image360CollectionIcons.ts
  viewer/packages/360-images/src/collection/Image360CollectionIconsOctree.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/three/visitBox3CornerPoints.ts
  viewer/yarn.lock
Labels: none

Added clippingplane getters for cad & pointcloud
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/reveal.api.md
Labels: none

chore: update Cargo lock
  viewer/Cargo.lock
Labels: none

Code review feedback changes
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
  viewer/packages/sector-loader/tests/mockSectorUtils.ts
Labels: none

chore: update Cargo lock (#2982)
  viewer/Cargo.lock
Labels: none

Renamed both tests
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.test.ts
Labels: none

Changed from readonly to clone
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
Labels: none

improvement: Add cancellation token logic for loading sectors. (#2942)
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/data-providers/src/ModelDataProvider.ts
  viewer/packages/data-providers/src/model-data-providers/CdfModelDataProvider.ts
  viewer/packages/data-providers/src/model-data-providers/LocalModelDataProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
  viewer/packages/sector-loader/src/SectorRepository.ts
  viewer/packages/sector-loader/tests/mockSectorUtils.ts
  viewer/reveal.api.md
Labels: none

chore: create a library for generic plotting components [DEGR-1602] (#1243)
  libs/shared/plotting-components/.babelrc
  libs/shared/plotting-components/.eslintrc.json
  libs/shared/plotting-components/README.md
  libs/shared/plotting-components/jest.config.ts
  libs/shared/plotting-components/package.json
  libs/shared/plotting-components/project.json
  libs/shared/plotting-components/src/LineChart/LineChart.tsx
  libs/shared/plotting-components/src/LineChart/index.ts
  libs/shared/plotting-components/src/index.ts
  libs/shared/plotting-components/tsconfig.json
  libs/shared/plotting-components/tsconfig.lib.json
  libs/shared/plotting-components/tsconfig.spec.json
  tsconfig.base.json
Labels: fusion-maintainers

Merged two catch into one.
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: none

Download failure is now logged as warning.
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
Labels: none

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*
