Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer

Added getTarget function
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

Added getTarget to setFOV
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

bug: Zoom(fov) is now reset when moving to a new 360 image (#2881)
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

chore: add tsdoc
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.ts
Labels: none

bug: The UI doesn't enter in edit mode by default on new model creation [DX-1125] (#985)
  apps/platypus/src/app/modules/solution/data-model/components/PublishVersionModal/PublishVersionModal.stories.tsx
  apps/platypus/src/app/modules/solution/data-model/components/PublishVersionModal/PublishVersionModal.tsx
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
  libs/platypus-core/src/lib/domain/data-model/data-model-version-handler.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
Labels: platypus

fix: remove duplicate point cloud color type label "Height" (#589)
  apps/3d-management/src/pages/RevisionDetails/components/ThreeDViewerSidebar/ColorTypePicker.tsx
Labels: none

fix: change containerPropertyIdentifier to property [DX-1322] (#1003)
  apps/mock-server/src/app/middlewares/data-modeling/config/schema-service-api.ts
  apps/mock-server/src/app/middlewares/data-modeling/mixerAPi/applicationAPI/schema-builder.ts
  apps/mock-server/src/tests/mocks.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.spec.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/HoverProviderService.spec.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/HoverProviderService.ts
  libs/platypus-common-utils/src/lib/graphql/validation/MappingDirectiveValidator.ts
  libs/platypus-core/src/lib/domain/data-model/constants.ts
Labels: platypus

improvement: replace dynamic batcher with MultiBufferBatchingManager (#2874)
  viewer/packages/cad-model/src/batching/DrawCallBatchingManager.ts
  viewer/packages/cad-model/src/batching/GeometryBatchingManager.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.ts
  viewer/packages/cad-model/src/utilities/GeometryBufferUtils.ts
  viewer/packages/cad-model/src/utilities/getShaderMaterial.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
Labels: none

fix: exit 360 image if it is currently entered when deleted
  examples/src/utils/Image360UI.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

fix: uses 1 as first version despite custom input (#1005)
  apps/platypus/src/app/modules/solution/data-model/components/PublishVersionModal/PublishVersionModal.tsx
Labels: platypus

fix(discover): stick chart page freezing issue after tvd interpolation response [PP-3341] (#3687)
  apps/discover/src/domain/wells/trajectory/internal/transformers/addMdIndex.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/TrajectoryColumn/TrajectoryColumn.tsx
  apps/discover/tsconfig.json
Labels: none

fix: remove select from timeseries preview (#1007)
  libs/data-exploration-components/src/components/Table/Table.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesChart/TimeseriesChart.tsx
Labels: data-explorer

feat(monitoring) : [Part-4] add second form for credentials (#1399)
  src/components/MonitoringFolderSelect/MonitoringFolderSelect.tsx
  src/components/MonitoringSidebar/CreateMonitoringJob.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobStep2.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobStep3.tsx
  src/components/MonitoringSidebar/hooks.tsx
Labels: none

fix: exit 360 image if it is currently entered when deleted (#2890)
  examples/src/utils/Image360UI.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

fix(discover): use wellbore asset external id to fetch related documents [PP-3340] (#3688)
  apps/discover/src/domain/wells/well/internal/hooks/useWellInspectSelectedWellboresExternalIds.ts
  apps/discover/src/modules/documentSearch/hooks/useRelatedDocumentsFilter.ts
Labels: none

chore: rename renovate.json to renovate.json5
  renovate.json5
Labels: fusion-maintainers

chore: cleanup dependencies
  viewer/package.json
  viewer/yarn.lock
Labels: none

chore: rename renovate.json to renovate.json5 (#2891)
  renovate.json5
Labels: fusion-maintainers

chore: cleanup dependencies (#2892)
  viewer/package.json
  viewer/yarn.lock
Labels: none

Zoom to pinch
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

chore: bump SDK and own version (#590)
  apps/3d-management/package.json
  apps/3d-management/yarn.lock
Labels: none

fov is now changed by the % of distance moved
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

Added pointercancel & pointerleave
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

Fixed comment
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

chore: Enable Unused variable and No use of index (#990)
  .eslintrc.json
  apps/data-exploration/src/app/containers/ResourceDetails/RelatedResources/RelatedResources.tsx
  apps/platypus/src/app/components/Navigations/SideBarMenu.tsx
  apps/platypus/src/app/components/Notification/Notification.tsx
  apps/platypus/src/app/components/SchemaVisualizer/SchemaVisualizer.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/usePublishedRowsCountMapByType.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/useTransformationCreateMutation.ts
  apps/platypus/src/app/modules/solution/data-management/pages/Preview.tsx
  apps/platypus/src/app/modules/solution/data-model/components/EditorPanel/EditorPanel.tsx
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/GraphqlCodeEditor.tsx
  apps/platypus/src/app/modules/solution/data-model/components/PublishVersionModal/PublishVersionModal.tsx
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/HoverProviderService.spec.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/HoverProviderService.ts
  apps/platypus/src/app/tests/mockDecorator.ts
  apps/platypus/src/app/utils/persistence/session-storage-provider.ts
  apps/platypus/src/custom.d.ts
  apps/platypus/src/declarations.d.ts
  apps/platypus/src/environments/fusion/AppContainer.tsx
  apps/platypus/src/environments/fusion/useTranslateProvider.tsx
  apps/platypus/src/environments/mock/AppContainer.tsx
  libs/data-exploration-components/src/components/ListItem/ListItem.tsx
  libs/data-exploration-components/src/components/ResultCount/ResultCount.tsx
  libs/data-exploration-components/src/components/SummaryHeader/SummaryHeader.tsx
  libs/data-exploration-components/src/components/Table/ColumnToggle.tsx
  libs/data-exploration-components/src/components/Table/Table.tsx
  libs/data-exploration-components/src/containers/Files/FileGroupingTable/FileGroupingTable.tsx
  libs/data-exploration-components/src/containers/Relationships/AnnotatedWithTable.tsx
  libs/data-exploration-components/src/containers/Relationships/LinkedResourceTable.tsx
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipFileTable.tsx
  libs/data-exploration-components/src/containers/SearchResults/EventSearchResults/EventSearchResults.tsx
  libs/data-exploration-components/src/containers/SearchResults/FileSearchResults/FileLinkedSearchResults.tsx
  libs/data-exploration-components/src/containers/SearchResults/FileSearchResults/FileSearchResults.tsx
  libs/data-exploration-components/src/containers/SearchResults/FileSearchResults/FileToolbar.tsx
  libs/data-exploration-components/src/containers/SearchResults/SearchFiltersNew.tsx
Labels: fusion-maintainers, platypus, data-explorer

Converted from lambda function to normal
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

feat: code actions support in the code editor (#989)
  apps/platypus/project.json
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeActionsService.spec.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeActionsService.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/index.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/types.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/graphqlSetup.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/CodeActionProvider.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/index.ts
  libs/platypus-common-utils/src/lib/graphql/graphql-utils-service.ts
Labels: platypus

fix: only set render layers on styling change or sector load / unload
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderModePipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderPipelineProvider.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
  viewer/packages/rendering/src/utilities/types.ts
  viewer/packages/rendering/visual-tests/Rendering.VisualTest.ts
Labels: none

Added equipment Id to keygen (#3690)
  apps/scarlet/src/api/deleteFieldRaw.ts
  apps/scarlet/src/pages/Equipment/components/DataSource/DataSource.tsx
  apps/scarlet/src/transformations/transformEquipmentToRaw.ts
Labels: none

fix: test
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
Labels: none

Update db/table list more often
  src/hooks/sdk-queries.ts
Labels: none

chore: rename repo from platypus to fusion (#1006)
  .github/workflows/publish_platypus_cli_docs.yml
  .nxreleaserc.json
  README.md
  package.json
Labels: fusion-maintainers

feat: Added support for loading 360 images as secondary model in 3D (#957)
  apps/data-exploration/src/app/containers/ThreeD/ThreeDContext.tsx
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/hooks.ts
  apps/data-exploration/src/app/containers/ThreeD/load-secondary-models/LoadImages360.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/Images360MenuItem.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/SecondaryModelDropdown.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/ThreeDTitle.tsx
  apps/data-exploration/src/app/containers/ThreeD/utils.ts
Labels: data-explorer

fix(data-explorer): page crashing in legacy project (#1020)
  libs/data-exploration-components/src/containers/Files/FileSummary/FileSummary.tsx
Labels: data-explorer

fix(explorer): FileSummary table styling (#1021)
  libs/data-exploration-components/src/containers/Files/FileSummary/FileSummary.tsx
Labels: data-explorer

fix(simint) : Updated urls for the app and disabled tracking on dev (#3691)
  apps/simconfig/src/components/Menubar.tsx
  apps/simconfig/src/components/app/App.tsx
  apps/simconfig/src/components/models/ModelList/ModelList.tsx
  apps/simconfig/src/pages/ModelLibrary/ModelLibrary.tsx
  apps/simconfig/src/utils/metrics/tracking.ts
Labels: none

fix(data-explorer): Time option order (#1016)
  libs/data-exploration-components/src/containers/Timeseries/types.ts
Labels: data-explorer

fix(data-explorer): console errors and warnings (#1014)
  libs/data-exploration-components/src/components/DatePicker/Common.tsx
  libs/data-exploration-components/src/components/DatePicker/PivotRangePicker.tsx
  libs/data-exploration-components/src/components/DatePicker/RangePicker.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesChart/TimeseriesChart.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesDetails/TimeseriesDetails.tsx
Labels: data-explorer

fix(data-explorer): inconsistent hierarchy result (#1022)
  libs/data-exploration/domain-layer/src/assets/service/queries/useSearchAssetTree.ts
Labels: data-explorer

fix(explorer): Align font weight of name column in documents table (#1017)
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentNamePreview.tsx
Labels: data-explorer

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**
