Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

replacing data-set to data-catalog, replaced translations
  package.json
  src/App.tsx
  src/common/i18n/index.ts
  src/common/i18n/translations/en/data-catalog.json
  src/common/i18n/translations/ja/data-catalog.json
Labels: fusion-maintainers

Setup a basic asset table
  package.json
  src/common/utils.ts
  src/components/resource-selector-table/AssetTable.tsx
  src/components/resource-selector-table/index.tsx
  src/declaration.d.ts
  src/hooks/assets.ts
  src/pages/QuickMatch/index.tsx
  src/styles/GlobalStyles.tsx
  src/styles/antd-theme.less
  yarn.lock
Labels: fusion-maintainers

Update viewer/packages/pointclouds/src/potree-three-loader/loading/EptBinaryLoader.ts
  viewer/packages/pointclouds/src/potree-three-loader/loading/EptBinaryLoader.ts
Labels: none

fix: skip pointcloud tiles loading if numPoints is zero (#2986)
  viewer/packages/pointclouds/src/potree-three-loader/loading/EptBinaryLoader.ts
Labels: none

Apply suggestions from code review
  src/components/resource-selector-table/AssetTable.tsx
  src/pages/QuickMatch/index.tsx
Labels: none

chore: add metrics related to textured models
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserGltf.ts
  viewer/packages/metrics/src/types.ts
Labels: none

add view for case of no pipelines
  src/common/assets/graphics/EmptyStateArrowGraphic.svg
  src/common/assets/graphics/TemplateGraphic.svg
  src/common/assets/graphics/index.ts
  src/common/i18n/translations/en/entity-matching.json
  src/components/pipeline-list/PipelineListEmpty.tsx
  src/components/pipeline-list/index.tsx
Labels: none

chore: update cad-parsers/package.json and yarn.lock
  viewer/packages/cad-parsers/package.json
  viewer/yarn.lock
Labels: none

fix(platypus): add code editor validation for transitive interfaces (#1266)
  libs/platypus-common-utils/src/lib/graphql/graphql-utils-service.spec.ts
  libs/platypus-common-utils/src/lib/graphql/graphql-utils-service.ts
Labels: none

Renamed to sessionEnded event and tracks session time
  documentation/docs/components/Cognite3DViewerDemo.tsx
  documentation/docs/components/DemoWrapper.tsx
  documentation/docs/examples/cad-basic.mdx
  examples/yarn.lock
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/metrics/index.ts
  viewer/packages/metrics/src/SessionLogger.ts
  viewer/packages/metrics/src/types.ts
Labels: none

Docs fix
  documentation/docs/examples/cad-basic.mdx
Labels: none

chore(data-exploration-components): move boolean filter (#1263)
  libs/data-exploration/components/src/Filters/BooleanFilter/BooleanFilter.spec.tsx
  libs/data-exploration/components/src/Filters/BooleanFilter/BooleanFilter.stories.tsx
  libs/data-exploration/components/src/Filters/BooleanFilter/BooleanFilter.tsx
  libs/data-exploration/components/src/Filters/StringFilter/StringFilter.stories.tsx
  libs/data-exploration/components/src/setupTests.js
  libs/data-exploration/components/tsconfig.spec.json
Labels: data-explorer

chore: add metrics related to textured models (#2991)
  viewer/packages/cad-parsers/package.json
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserGltf.ts
  viewer/packages/metrics/src/types.ts
  viewer/yarn.lock
Labels: none

feat: Allow supplying access token directly in Examples (#2989)
  examples/package.json
  examples/src/pages/Viewer.tsx
  examples/src/utils/example-helpers.ts
  examples/yarn.lock
Labels: none

use data.length instead of data
  src/components/pipeline-list/index.tsx
Labels: none

Opening the sidebar on annotation click (#1265)
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreview.tsx
Labels: data-explorer

chore(data-exploration-components): move number input filter + add README to library (#1271)
  libs/data-exploration/components/README.md
  libs/data-exploration/components/src/Filters/NumberFilter/NumberFilter.spec.tsx
  libs/data-exploration/components/src/Filters/NumberFilter/NumberFilter.stories.tsx
  libs/data-exploration/components/src/Filters/NumberFilter/NumberFilter.tsx
  libs/data-exploration/components/src/Filters/NumberFilter/index.ts
Labels: data-explorer

Fixed live example imports
  documentation/docs/components/DemoWrapper.tsx
Labels: none

add create pipeline button and description to empty view
  src/common/i18n/translations/en/entity-matching.json
  src/components/create-pipeline-button/CreatePipelineButton.tsx
  src/components/pipeline-list/PipelineListEmpty.tsx
Labels: none

remove unused code
  src/components/pipeline-list/PipelineListEmpty.tsx
Labels: none

change no pipelines description
  src/common/i18n/translations/en/entity-matching.json
Labels: none

Files are now represented by a map to allow lookup in mergeDescriptors
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: none

remove emptystatearrowgraphic
  src/common/assets/graphics/EmptyStateArrowGraphic.svg
  src/common/assets/graphics/index.ts
Labels: none

Fixed docs model reference
  documentation/docs/components/Cognite3DViewerDemo.tsx
Labels: none

chore(data-explorer): remove old codes after new routing structure (#1267)
  apps/data-exploration/src/app/containers/Exploration/Explorer.tsx
  apps/data-exploration/src/app/containers/Exploration/ExplorerV2.tsx
  apps/data-exploration/src/app/containers/Exploration/ResourcePreview.tsx
  apps/data-exploration/src/app/containers/Exploration/SearchResultsPage.tsx
  apps/data-exploration/src/app/containers/Exploration/SearchResultsPageV2.tsx
  apps/data-exploration/src/app/containers/Exploration/index.ts
  apps/data-exploration/src/app/containers/ResourceDetails/ResourceDetailsPage.tsx
  apps/data-exploration/src/app/containers/ResourceDetails/index.ts
Labels: data-explorer

feat: Update Cogs.js component library to version 9.5.1 (#625)
  apps/3d-management/package.json
  apps/3d-management/src/assets/Graphics/EmptyStates/Favorites.tsx
  apps/3d-management/src/assets/Graphics/EmptyStates/SearchEmpty.tsx
  apps/3d-management/src/assets/Graphics/EmptyStates/ThreeDModel.tsx
  apps/3d-management/src/assets/Graphics/Graphic.tsx
  apps/3d-management/src/components/PageHeader/PageHeader.tsx
  apps/3d-management/src/components/Thumbnail/Thumbnail.tsx
  apps/3d-management/src/components/ThumbnailPreviewIcon.tsx
  apps/3d-management/src/pages/AllModels/components/EmptyState/EmptyState.stories.js
  apps/3d-management/src/pages/AllModels/components/EmptyState/EmptyState.stories.tsx
  apps/3d-management/src/pages/AllModels/components/EmptyState/EmptyState.tsx
  apps/3d-management/src/pages/AllModels/components/ModelRevisions/ModelRevisions.tsx
  apps/3d-management/src/pages/AllModels/components/ModelRevisions/RevisionsTable.tsx
  apps/3d-management/src/pages/AllModels/components/ModelsTable/ModelsTable.tsx
  apps/3d-management/src/pages/NoAccessPage/NoAccessPage.tsx
  apps/3d-management/src/pages/RevisionDetails/RevisionDetails.tsx
  apps/3d-management/src/pages/RevisionDetails/components/FileLink/FileLink.tsx
  apps/3d-management/src/pages/RevisionDetails/components/OverlayToolbar/OverlayToolbar.tsx
  apps/3d-management/src/pages/RevisionDetails/components/ThreeDViewerSidebar/EditRotation.tsx
  apps/3d-management/src/pages/RevisionDetails/components/ThreeDViewerSidebar/NodePropertyFilterIndicator.tsx
  apps/3d-management/src/pages/RevisionDetails/components/ThreeDViewerSidebar/ThreeDViewerSidebar.tsx
  apps/3d-management/src/pages/RevisionDetails/components/ToolbarTreeView/NodeInfoModal.tsx
  apps/3d-management/src/pages/RevisionDetails/components/TreeView/NodeWithInfoButton.tsx
  apps/3d-management/src/pages/RevisionDetails/components/TreeView/constants.ts
  apps/3d-management/src/styles/GlobalStyles.tsx
  apps/3d-management/src/styles/antd/antdGlobalStyles.js
  apps/3d-management/src/styles/antd/antdTableStyles.js
  apps/3d-management/src/utils/index.ts
  apps/3d-management/yarn.lock
Labels: none

Added reset of fps on session end
  viewer/packages/metrics/src/SessionLogger.ts
Labels: none

chore: use prettier in examples
  examples/.prettierignore
  examples/.prettierrc
  examples/README.md
  examples/package.json
  examples/src/components/styled.ts
  examples/src/pages/Viewer.tsx
  examples/src/utils/BulkHtmlOverlayUI.ts
  examples/src/utils/CadBudgetUi.ts
  examples/src/utils/CameraUI.ts
  examples/src/utils/CustomCameraManager.ts
  examples/src/utils/Image360UI.ts
  examples/src/utils/InspectNodeUi.ts
  examples/src/utils/LoadGltfUi.ts
  examples/src/utils/MeasurementUi.ts
  examples/src/utils/ModelUi.ts
  examples/src/utils/NodeStylingUI.ts
  examples/src/utils/PageVariationUtils.ts
  examples/src/utils/PointCloudClassificationFilterUI.ts
  examples/src/utils/PointCloudObjectStylingUI.ts
  examples/src/utils/PointCloudUi.ts
  examples/src/utils/SingleClippingUI.ts
  examples/src/utils/example-helpers.ts
  examples/src/utils/isLocalUrlPointCloudModel.ts
  examples/tsconfig.json
  examples/webpack.config.js
  examples/yarn.lock
Labels: none

chore: rename grep to matchmakers (#96)
  .github/CODEOWNERS
Labels: none

chore: add lint check to CI and check it
  .github/workflows/ci.yml
  examples/package.json
  examples/src/pages/Viewer.tsx
Labels: none

fix(platypus): various small bugs from bug hunt (#1257)
  .github/workflows/nx_ci.yml
  apps/platypus/src/app/components/DataModelSpaceSelect/DataModelSpaceSelect.tsx
  apps/platypus/src/app/components/Navigations/elements.ts
  apps/platypus/src/app/components/SchemaVisualizer/SchemaVisualizer.tsx
  apps/platypus/src/app/hooks/useDataModelActions.spec.ts
  apps/platypus/src/app/hooks/useDataModelActions.ts
  apps/platypus/src/app/modules/data-models/components/DataModelsTable/DataModelNameCellRenderer.tsx
  apps/platypus/src/app/modules/data-models/hooks/useDataModelMutation.ts
  apps/platypus/src/app/modules/data-models/hooks/useDataModelsGridConfig.tsx
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
  libs/platypus-core/src/lib/domain/data-model/boundaries/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-current/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-current/services/mixer-api/mixer-api.service.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/data-mappers/data-model-version-data-mapper.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.spec.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/services/mixer-api/fdm-mixer-api.service.ts
  libs/platypus-core/src/lib/domain/data-model/types/index.ts
  libs/platypus-core/src/lib/domain/data-model/utils.ts
Labels: platypus

chore: lint fix
  examples/src/pages/Viewer.tsx
Labels: none

feat: add octree implementation for 360 images (#2990)
  viewer/package.json
  viewer/packages/360-images/src/collection/IconOctree.test.ts
  viewer/packages/360-images/src/collection/IconOctree.ts
  viewer/packages/360-images/src/entity/Image360Icon.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/360-images/visual-tests/__image_snapshots__/Image360.VisualTest.png
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/projectedBounds.ts
  viewer/packages/utilities/src/three/visitBox3CornerPoints.ts
  viewer/yarn.lock
Labels: none

chore: use prettier in examples (#2993)
  .github/workflows/ci.yml
  examples/.prettierignore
  examples/.prettierrc
  examples/README.md
  examples/package.json
  examples/src/components/styled.ts
  examples/src/pages/Viewer.tsx
  examples/src/utils/BulkHtmlOverlayUI.ts
  examples/src/utils/CadBudgetUi.ts
  examples/src/utils/CameraUI.ts
  examples/src/utils/CustomCameraManager.ts
  examples/src/utils/Image360UI.ts
  examples/src/utils/InspectNodeUi.ts
  examples/src/utils/LoadGltfUi.ts
  examples/src/utils/MeasurementUi.ts
  examples/src/utils/ModelUi.ts
  examples/src/utils/NodeStylingUI.ts
  examples/src/utils/PageVariationUtils.ts
  examples/src/utils/PointCloudClassificationFilterUI.ts
  examples/src/utils/PointCloudObjectStylingUI.ts
  examples/src/utils/PointCloudUi.ts
  examples/src/utils/SingleClippingUI.ts
  examples/src/utils/example-helpers.ts
  examples/src/utils/isLocalUrlPointCloudModel.ts
  examples/tsconfig.json
  examples/webpack.config.js
  examples/yarn.lock
Labels: none

feat: add average framerate user metrics (#2980)
  documentation/docs/components/Cognite3DViewerDemo.tsx
  documentation/docs/components/DemoWrapper.tsx
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/metrics/index.ts
  viewer/packages/metrics/src/SessionLogger.ts
  viewer/packages/metrics/src/types.ts
Labels: none

Fixing the container issue where the z-index is not mounting properly (#1272)
  libs/data-exploration-components/src/context/DataExplorationContext.tsx
Labels: data-explorer

[UX-208] FDM GA ACL
  package.json
  src/common/i18n/translations/en/access-management.json
  src/pages/Groups/CapabilityTypeSelector.tsx
  src/pages/Groups/ExternalIdSelector.tsx
  src/pages/Groups/ScopesSelector.tsx
  src/pages/Groups/SpaceIdsSelector.tsx
  src/pages/Groups/utils.tsx
Labels: fusion-maintainers

old engine
  package.json
Labels: fusion-maintainers

Using autoPagingEach instead of autoPagingToArray
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: none

fix(data-explorer): Navigate to full page detail from all tab row click (#1244)
  apps/data-exploration/src/app/containers/All/AllTab.tsx
Labels: data-explorer

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*
