Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, flexible-data-explorer, coding-conventions, unified-file-viewer, contextualization, 3d-management, cdf-document-search, functions-ui, interactive-diagrams, diagram-parsing, extraction-pipelines, design-system, charts, asset-health, access-management, flows, ai, simint

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**
  - libs/shared/plotting-components/*
  - libs/shared/plotting-components/**/*

flexible-data-explorer:
  - apps/flexible-data-explorer/*
  - apps/flexible-data-explorer/**/*
  - libs/flexible-data-explorer/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*

unified-file-viewer:
  - libs/industry-canvas/*
  - libs/industry-canvas/**/*

contextualization:
  - libs/contextualization/*
  - libs/contextualization/**/*

3d-management:
  - apps/3d-management/*
  - apps/3d-management/**/*

cdf-document-search:
  - apps/cdf-document-search/*
  - apps/cdf-document-search/**/*

functions-ui:
  - apps/functions-ui/*
  - apps/functions-ui/**/*

interactive-diagrams:
  - apps/interactive-diagrams/*
  - apps/interactive-diagrams/**/*

diagram-parsing:
  - apps/diagram-parsing/*
  - apps/diagram-parsing/**/*

extraction-pipelines:
  - apps/extraction-pipelines/*
  - apps/extraction-pipelines/**/*

design-system:
  - libs/shared/user-profile-components/**/*
  - libs/shared/user-onboarding-components/**/*

charts:
  - apps/charts/*
  - apps/charts/**/*

asset-health:
  - apps/industry-canvas-ui/*
  - apps/industry-canvas-ui/**/*
  - apps/charts/*
  - apps/charts/**/*
  - libs/industry-canvas/*
  - libs/industry-canvas/**/*

access-management:
  - apps/access-management/*
  - apps/access-management/**/*

flows:
  - apps/flows/*

ai:
  - apps/copilot/*
  - apps/copilot/**/*
  - libs/copilot-core/*
  - libs/copilot-core/**/*
  - apps/notebook/*
  - apps/notebook/**/*

simint:
  - apps/simint/*

fix: fdx AI e2e test (#3812)
  apps/flexible-data-explorer/cypress/e2e/ai.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/app.commands.ts
Labels: flexible-data-explorer

Fix: FDM UI deletes instance on field change (#3791)
  apps/platypus/cypress/e2e/data-preview/manual-data-ingestion.cy.ts
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/services/grid-config-builder.tsx
Labels: platypus

fix: update deps to fix CVEs in viewer and react-components (#3855)
  react-components/yarn.lock
  viewer/package.json
  viewer/yarn.lock
Labels: none

chore(3d-management): Remove threeDViewer from the store (#3748)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadOnClickHandler.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useCadZoomToAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/hooks/useSyncCadStateWithViewer.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/useCadContextualizeStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/Annotations.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudRevealContent.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/PointCloudToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useSyncStateWithViewerPointCloud.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useUpdateCdfThreeDAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useZoomToAnnotation.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/useContextualizeThreeDViewerStore.ts
  apps/3d-management/src/components/ContextualizeThreeDViewer/utils/annotations/AnnotationsView.tsx
Labels: 3d-management

fix: all resources filter (#3670)
  apps/data-exploration/src/app/containers/Asset/AssetDetail.tsx
  apps/data-exploration/src/app/containers/Event/EventDetail.tsx
  apps/data-exploration/src/app/containers/File/FileDetail.tsx
  apps/data-exploration/src/app/containers/Sequence/SequenceDetail.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesDetail.tsx
Labels: data-explorer

chore(industrial-canvas): add enabled property for e2e sentry (#3815)
  apps/industry-canvas-ui/src/index.tsx
Labels: asset-health

fix(industrial-canvas): fix data set selector being hidden by modal (#3818)
  libs/industry-canvas/src/lib/components/AddResourceToCanvasModal.tsx
  libs/industry-canvas/src/lib/components/IndustryCanvasFileUploadModal/IndustryCanvasFileUploadModal.tsx
Labels: unified-file-viewer, asset-health

fix(3d-management): Update naming to be more in sync with IC, add tooltooltip and hotkeys for tools (#3808)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/Cad/CadToolBar/buttons/AddContextualizationButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/AddAnnotationToolBar.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/buttons/AddAnnotationButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudToolBar/buttons/SelectToolButton.tsx
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/SelectedAnnotationToolbar.tsx
Labels: 3d-management

Removed border on iframe for notebooks (#3809)
  apps/notebook/src/pages/Home/Home.tsx
Labels: ai

chore: bump @cognite/reveal-react-components to v0.2.0.1 (#3814)
  package.json
  yarn.lock
Labels: fusion-maintainers

add fusion-maintainers as codeowners of fusion-shell (#3827)
  CODEOWNERS
Labels: fusion-maintainers

tests(simint): add more cypress e2e tests (#3382)
  apps/simint/cypress/e2e/appMenuBar.cy.ts
  apps/simint/cypress/e2e/modelLibrary.cy.ts
  apps/simint/src/components/Menubar.tsx
  apps/simint/src/components/models/ModelDetails/ModelDetails.tsx
  apps/simint/src/components/models/ModelList/ModelList.tsx
  apps/simint/src/components/models/ModelVersionList/ModelVersionList.tsx
  apps/simint/src/components/simulator/SimulatorInformation.tsx
  apps/simint/src/components/simulator/SimulatorList.tsx
  apps/simint/src/components/simulator/SimulatorStatus.tsx
  apps/simint/src/pages/CalculationRuns/CalculationRunList.tsx
  apps/simint/src/pages/CalculationRuns/CalculationRuns.tsx
  apps/simint/src/pages/ModelLibrary/ModelLibrary.tsx
Labels: none

bug(3d-management): add delete listener (#3804)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/PointCloudContextualizeThreeDViewer.tsx
Labels: 3d-management

test: remove sign out test (#3826)
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
Labels: none

remove pendingAnnotation return statement (#3825)
  apps/3d-management/src/components/ContextualizeThreeDViewer/components/PointCloud/hooks/useSyncStateWithViewerPointCloud.ts
Labels: 3d-management

Working hooks for search
  react-components/src/hooks/useSearchMappedEquipmentFDM.tsx
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/SearchHooks.stories.tsx
Labels: none

[INCIDENT] fix: incorrect usage of usePermissions (#3832)
  apps/data-exploration/src/app/containers/File/FileDetail.tsx
  apps/extraction-pipelines/src/pages/Extpipes/Extpipes.tsx
  libs/industry-canvas/src/lib/SpaceProvider.tsx
  libs/industry-canvas/src/lib/hooks/usePermissions.ts
Labels: data-explorer, unified-file-viewer, extraction-pipelines, asset-health

test: check if permission check is passed (#3835)
  apps/extraction-pipelines/cypress/e2e/homePage.cy.ts
  apps/extraction-pipelines/src/pages/Extpipes/Extpipes.tsx
Labels: extraction-pipelines

feat(FDX): enables translation in reveal react components (#3831)
  libs/flexible-data-explorer/modules/src/ThreeD/ThreeDContent.tsx
  libs/flexible-data-explorer/modules/src/ThreeD/modules/RevealContent.tsx
Labels: flexible-data-explorer

chore: update storybook json output
  react-components/storybook-static/stories.json
Labels: none

fix: show 3D connectivity to point clouds using annotations reverse lookup (#3619)
  libs/data-exploration/components/src/Details/ThreeDModelCell.tsx
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/threeD/service/network/fetchPointCloudDetailMappings.ts
  libs/data-exploration/domain-layer/src/threeD/service/queries/index.ts
  libs/data-exploration/domain-layer/src/threeD/service/queries/usePointcloudsByAssetId.ts
  libs/data-exploration/domain-layer/src/threeD/service/types.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/ThreeDButton.tsx
Labels: data-explorer, unified-file-viewer, asset-health

fix(fdx): site selection buggy with one site + update celanese-stg configs (#3839)
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  libs/flexible-data-explorer/modules/src/site/SiteSelection.tsx
  libs/flexible-data-explorer/shared/src/config/Celanese.ts
Labels: flexible-data-explorer

updated api-extractor dependency to typescript v5.2.2
  viewer/yarn.lock
Labels: none

fix(3d-management): migrate to multi-branch release strategy (#3834)
  Jenkinsfile
  apps/3d-management/project.json
  apps/fusion-shell/src/appManifestData.json
Labels: fusion-maintainers, 3d-management

testing api extractor fix
  viewer/tsconfig.json
Labels: none

fix(data-explorer): help screen in 3D page UI and translation issue (#3833)
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/help-button/index.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/help-button/sections.tsx
  apps/data-exploration/src/app/containers/ThreeD/toolbar/index.tsx
  libs/data-exploration-components/src/graphics/ArrowsNavigation.tsx
  libs/data-exploration-components/src/graphics/Mouse.tsx
  libs/data-exploration-components/src/graphics/PinchRight.tsx
  libs/data-exploration-components/src/graphics/Rotate.tsx
  libs/data-exploration-components/src/graphics/WASDNavigation.tsx
  libs/data-exploration-components/src/graphics/index.tsx
  libs/data-exploration-components/src/index.ts
Labels: data-explorer

fix(fdx): register the translations (#3840)
  libs/flexible-data-explorer/shared/src/common/i18n/index.tsx
Labels: flexible-data-explorer

chore: downgrade API extractor to fix CI
  viewer/package.json
  viewer/yarn.lock
Labels: none

chore: downgrade API extractor to fix CI (#3859)
  viewer/package.json
  viewer/yarn.lock
Labels: none

Fixed PR comments
  react-components/src/hooks/useSearchMappedEquipmentFDM.tsx
  react-components/src/utilities/FdmSDK.ts
Labels: none

fix(industrial-canvas): add check to ellipsis tool on creation (#3844)
  libs/industry-canvas/src/lib/state/useIndustrialCanvasStore.ts
Labels: unified-file-viewer, asset-health

fix(3d-management): next should reflect master branch (#3848)
  apps/fusion-shell/src/appManifestData.json
Labels: none

fix (notebook): fix `TRACKED_EVENTS` (base tokens); minor code cleanup (#3842)
  apps/notebook/src/pages/Home/Home.tsx
Labels: ai

fix(industrial-canvas): fix remaining styling issue with tooltips (#3852)
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/AssetTooltip.tsx
Labels: unified-file-viewer, asset-health

feat(react-components): support for search of "second-level" 3d mapped instances (#3856)
  react-components/src/hooks/useSearchMappedEquipmentFDM.tsx
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/SearchHooks.stories.tsx
Labels: none

chore: run platypus e2e tests as part of regular e2e ci tests (#3841)
  .github/workflows/nx_ci.yml
  .github/workflows/platypus-e2e-tests.yml
  apps/platypus/.env.ci
  apps/platypus/cypress/e2e/data-model/code-editor.cy.ts
  apps/platypus/cypress/e2e/data-model/local-drafts.cy.ts
  apps/platypus/cypress/e2e/data-model/publishing.cy.ts
  apps/platypus/cypress/e2e/data-model/schema-visualizer.cy.ts
  apps/platypus/cypress/e2e/data-model/ui-editor.cy.ts
  apps/platypus/cypress/e2e/data-models-list/access-control.cy.ts
  apps/platypus/cypress/e2e/data-models-list/create-data-model.cy.ts
  apps/platypus/cypress/e2e/data-models-list/list-data-models.cy.ts
  apps/platypus/cypress/e2e/data-preview/column-selection.cy.ts
  apps/platypus/cypress/e2e/data-preview/data-preview-page.cy.ts
  apps/platypus/cypress/e2e/data-preview/manual-data-ingestion.cy.ts
  apps/platypus/cypress/e2e/data-preview/suggestions.cy.ts
  apps/platypus/cypress/e2e/data-quality/data-quality-page.cy.ts
  apps/platypus/cypress/e2e/query-explorer/preview-query-explorer-page.cy.ts
  apps/platypus/cypress/support/general.ts
  apps/platypus/project.json
Labels: platypus

feat: (fdx) e2e tests for data type relationships (#3853)
  apps/flexible-data-explorer/cypress/e2e/relationships.cy.ts
  apps/flexible-data-explorer/cypress/support/commands/common.commands.ts
Labels: flexible-data-explorer

feat(diagram-parsing): List the data sets in a project (#3792)
  apps/diagram-parsing/src/AppWrapper.tsx
  apps/diagram-parsing/src/app/App.tsx
  apps/diagram-parsing/src/app/Routes.tsx
  apps/diagram-parsing/src/app/common/i18n/en/diagram-parsing.json
  apps/diagram-parsing/src/app/components/PageHeader/PageHeader.tsx
  apps/diagram-parsing/src/app/components/SitesSideBar/SitesSideBar.tsx
  apps/diagram-parsing/src/app/components/SitesSideBar/SitesSideBarContainer.tsx
  apps/diagram-parsing/src/app/components/index.ts
  apps/diagram-parsing/src/app/hooks/index.ts
  apps/diagram-parsing/src/app/hooks/useDataSets.tsx
  apps/diagram-parsing/src/app/pages/EmptyView.tsx
  apps/diagram-parsing/src/app/pages/FilesView/FilesView.tsx
  apps/diagram-parsing/src/app/pages/HomePage.tsx
  apps/diagram-parsing/src/app/pages/index.ts
Labels: diagram-parsing

fix(industrial-canvas): remove unnecessary color overrides for menu buttons (#3854)
  libs/data-exploration-components/src/components/Splitter/Splitter.tsx
  libs/data-exploration/components/src/Splitter/Splitter.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/components/ContextualTooltips/ContextualTooltip.ts
Labels: data-explorer, unified-file-viewer, asset-health

chore: stabilize fusion-shell test by increasing 9s timeout (#3860)
  apps/fusion-shell/cypress/support/commands.ts
Labels: none
