Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*

fix: reset throttle update func on point cloud removal
  viewer/packages/pointclouds/src/PointCloudManager.ts
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
Labels: none

fix: remove wrapped worker after termination
  viewer/packages/pointclouds/src/potree-three-loader/utils/WorkerPool.ts
Labels: none

fix: update constructor use in visual test
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
Labels: none

abortSignal in repository is now optional
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
Labels: none

adjusted tests for new return values
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.test.ts
Labels: none

fix: secondary model dropdown list performance (#1132)
  apps/data-exploration/src/app/containers/ThreeD/title/Images360MenuItem.tsx
  apps/data-exploration/src/app/containers/ThreeD/title/SecondaryModelDropdown.tsx
  apps/data-exploration/src/app/containers/ThreeD/utils.ts
Labels: data-explorer

Working pinch to zoom with proper states
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

[DX-1330] fix: pascal case validation for type names in code editor (#1061)
  libs/platypus-common-utils/src/lib/graphql/graphql-utils-service.spec.ts
  libs/platypus-common-utils/src/lib/graphql/validation/NotSupportedFeaturesRule.ts
Labels: none

fix: text overflow in data preview table (#1135)
  libs/cog-data-grid/src/lib/cog-data-grid-styles.css
Labels: none

fix: point cloud color visual test
  viewer/packages/pointclouds/visual-tests/PointCloudColorStyling.VisualTest.ts
Labels: none

chore: make wrapped worker potentially undefined
  viewer/packages/pointclouds/src/potree-three-loader/utils/WorkerPool.ts
Labels: none

chore: don't ignore yarn executable
  .gitignore
Labels: fusion-maintainers

fix: add yarn binary file
  viewer/.yarn/releases/yarn-3.4.1.cjs
Labels: none

chore: update gitignore to not ignore yarn binary file in viewer
  .gitignore
Labels: fusion-maintainers

chore: remove comlink as dependency
  viewer/package.json
  viewer/yarn.lock
Labels: none

feat: add source field in detail view (#1151)
  libs/data-exploration-components/src/containers/Assets/AssetDetails/AssetDetails.tsx
  libs/data-exploration-components/src/containers/Events/EventDetails/EventDetails.tsx
Labels: data-explorer

chore: update build time packages (#951)
  package.json
  yarn.lock
Labels: fusion-maintainers

chore(data-explorer): remove list limitation on column toggle dropdown (#1139)
  libs/data-exploration-components/src/components/Table/ColumnToggle.tsx
Labels: data-explorer

chore: add "hotfix" as valid title option (#1153)
  .github/workflows/PR_title-check.yml
Labels: none

chore: remove comlink as dependency (#2949)
  viewer/package.json
  viewer/yarn.lock
Labels: none

chore(discover): disable documents e2e's (#3743)
  apps/discover/cypress/integration/documents/documents.smoke.spec.ts
Labels: none

fix(discover): cumulative total drilling days on stick chart [PP-3320] (#3738)
  apps/discover/src/constants/react-query.ts
  apps/discover/src/domain/wells/utils/groupByMatchingId.ts
  apps/discover/src/domain/wells/utils/keyByMatchingId.ts
  apps/discover/src/domain/wells/well/internal/constants.ts
  apps/discover/src/domain/wells/well/internal/queries/useWellsByIdsQuery.ts
  apps/discover/src/domain/wells/wellbore/internal/hooks/useDrillingDays.ts
  apps/discover/src/domain/wells/wellbore/internal/hooks/useWellboresByWellIds.ts
  apps/discover/src/domain/wells/wellbore/internal/queries/useWellboreDrillingDaysQuery.ts
  apps/discover/src/domain/wells/wellbore/internal/selectors/getWellMatchingIds.ts
  apps/discover/src/domain/wells/wellbore/internal/transformers/groupByWellMatchingId.ts
  apps/discover/src/domain/wells/wellbore/internal/types.ts
  apps/discover/src/domain/wells/wellbore/internal/utils/calculateCumulativeTotalDrillingDays.ts
  apps/discover/src/domain/wells/wellbore/internal/utils/calculateDrillingDays.ts
  apps/discover/src/domain/wells/wellbore/internal/utils/calculateWellboreDrillingDays.ts
  apps/discover/src/domain/wells/wellbore/service/network/getWellboreDrillingDays.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/Header/Header.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/Header/components/TotalDrillingDays.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/hooks/useWellboreDrillingDays.ts
Labels: none

docs: don't use CogniteCadModel in v3 doc
  documentation/versioned_docs/version-3.x/components/LiveCodeSnippet.tsx
Labels: none

fix(reactContainer): add default directory (#3739)
  packages/react-container/CHANGELOG.md
  packages/react-container/package.json
  packages/react-container/src/components/TenantSelectorWrapper.tsx
  packages/react-project-selector/CHANGELOG.md
  packages/react-project-selector/package.json
  packages/react-project-selector/src/components/Login.tsx
  packages/react-project-selector/src/components/SignInWithMicrosoft/index.tsx
  packages/react-project-selector/src/context.ts
  packages/react-project-selector/src/types.ts
  packages/react-project-selector/yarn.lock
  packages/sidecar/src/types.ts
Labels: none

Refactor: replace mouse and touch events with pointer event (#2941)
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/packages/utilities/src/events/InputHandler.ts
  viewer/packages/utilities/src/events/clickOrTouchEventOffset.ts
Labels: none

docs: don't use CogniteCadModel in v3 doc (#2951)
  documentation/versioned_docs/version-3.x/components/LiveCodeSnippet.tsx
Labels: none

fix: Update Node.js to Version 14 to Resolve React Router Compatibility Issues (#600)
  apps/3d-management/Jenkinsfile
Labels: none

Lint
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

Changed getCursorRay type
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

fix: trajectory kickoff point marker size [PP-3263] (#3742)
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/TrajectoryColumn/constants.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/hooks/useTrajectoryColumnSecondaryData.ts
Labels: none

bug(platypus): V3 – Data model creation through the UI failed [DX-1372] (#1148)
  apps/mock-server/src/app/middlewares/data-modeling/config/schema-service-api.ts
  apps/mock-server/src/app/middlewares/data-modeling/mixerAPi/metaApi/graphql-resolvers.ts
  apps/platypus-e2e/src/integration/data-model/toggle-schema-visualizer.cy.ts
  apps/platypus/src/app/components/Navigations/NavigationDataModel.tsx
  apps/platypus/src/app/hooks/useDataModelActions.ts
  apps/platypus/src/app/modules/solution/DataLayout.tsx
  apps/platypus/src/app/modules/solution/DataModel.tsx
  apps/platypus/src/app/modules/solution/data-management/DataManagementPage.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/InstancePreview/InstancePreview.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/ListPreview/ListPreview.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/cell-renderers/CustomCellRenderer.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/collapsible-panel-container.tsx
  apps/platypus/src/app/modules/solution/data-management/components/SuggestionsModal/SuggestionsModal.spec.tsx
  apps/platypus/src/app/modules/solution/data-management/components/SuggestionsModal/useSuggestionsResult.ts
  apps/platypus/src/app/modules/solution/data-management/components/TypeList/TypeList.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/usePreviewData.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/usePreviewTableData.ts
  apps/platypus/src/app/modules/solution/data-management/hooks/usePublishedRowsCountMapByType.ts
  apps/platypus/src/app/modules/solution/data-management/pages/Preview.tsx
  apps/platypus/src/app/modules/solution/data-model/components/EditorPanel/EditorPanel.tsx
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
  apps/platypus/src/app/modules/solution/query-explorer/pages/QueryExplorerPage.tsx
  apps/platypus/src/app/redux/reducers/global/actions.ts
  libs/platypus-core/src/lib/domain/data-model/dto/data-model-versions-handler-dtos.ts
  libs/platypus-core/src/lib/domain/data-model/dto/data-models-handler-dtos.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/dto/mixer-api-dtos.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/services/mixer-api/fdm-mixer-api.service.ts
Labels: platypus

refactor: compute worldTransform of 360 entities in factory
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360EntityFactory.ts
Labels: none

Updating Vuln
  .eslintrc.json
  .rescriptsrc.js
  package.json
  tsconfig.json
  yarn.lock
Labels: fusion-maintainers

Fixed tests
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.test.ts
  viewer/packages/data-providers/src/ModelDataProvider.ts
  viewer/packages/data-providers/src/model-data-providers/LocalModelDataProvider.ts
  viewer/packages/sector-loader/tests/mockSectorUtils.ts
Labels: none

update api
  viewer/reveal.api.md
Labels: none

Removed helper function
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.test.ts
Labels: none

Updating node
  Jenkinsfile
Labels: fusion-maintainers

Disable eslint rule
  .eslintrc.json
  src/components/FunctionModals/FunctionLogsModal.tsx
Labels: fusion-maintainers

feat: add initial shader and setup for point based batch for 360 image icons
  viewer/packages/360-images/package.json
  viewer/packages/360-images/src/Image360EntityFactory.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
Labels: none

feat: add initial shader and setup for point based batch for 360 image icons
  viewer/packages/360-images/src/visuals/Image360CollectionIcons.ts
  viewer/packages/360-images/src/visuals/image360Icon.frag
  viewer/packages/360-images/src/visuals/image360Icon.vert
Labels: none
