Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer

Raised scarlet version number to 0.4.10 (#3692)
  apps/scarlet/package.json
Labels: none

feat(data-explorer): multi value selection for source filter [DEGR-1214] (#895)
  apps/data-exploration/src/app/components/Filters/MultiSelectFilter.tsx
  apps/data-exploration/src/app/components/Filters/__tests__/MultiSelectFilter.test.tsx
  apps/data-exploration/src/app/containers/Asset/AssetFilters.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/AssetFilters.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/index.tsx
  libs/data-exploration-components/src/containers/SearchResults/SearchFilters.tsx
  libs/data-exploration-components/src/utils/filters.ts
  libs/data-exploration-components/src/utils/tests/filters.test.ts
  libs/data-exploration/domain-layer/src/assets/internal/transformers/mapFiltersToAssetsAdvancedFilters.ts
  libs/data-exploration/domain-layer/src/assets/internal/types.ts
  libs/data-exploration/domain-layer/src/builders.ts
  libs/data-exploration/domain-layer/src/events/internal/transformers/mapFiltersToEventsAdvancedFilters.ts
  libs/data-exploration/domain-layer/src/transformers.ts
  scripts/start.sh
Labels: data-explorer

fix(data-explorer): Timeseries preview date-range (#1015)
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesPreview.tsx
Labels: data-explorer

feat: only set render layers on styling change or sector load / unload (#2896)
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderModePipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderPipelineProvider.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
  viewer/packages/rendering/src/utilities/types.ts
  viewer/packages/rendering/visual-tests/Rendering.VisualTest.ts
Labels: none

feat(data-explorer): multi value source selection for all resource types [DEGR-1346] (#1018)
  apps/data-exploration/src/app/containers/Asset/AssetFilters.tsx
  apps/data-exploration/src/app/containers/Event/EventFilters.tsx
  libs/data-exploration-components/src/components/MultiSelectFilter/MultiSelectFilter.stories.tsx
  libs/data-exploration-components/src/components/MultiSelectFilter/MultiSelectFilter.tsx
  libs/data-exploration-components/src/components/MultiSelectFilter/elements.ts
  libs/data-exploration-components/src/components/MultiSelectFilter/index.ts
  libs/data-exploration-components/src/components/Search/Filters/AssetFilters.tsx
  libs/data-exploration-components/src/components/Search/Filters/EventFilters.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/AssetFilters.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/EventFilters.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/SourceFilter/SourceFilter.tsx
  libs/data-exploration-components/src/components/SearchNew/Filters/SourceFilter/index.ts
  libs/data-exploration-components/src/components/SearchNew/Filters/index.tsx
  libs/data-exploration-components/src/components/index.ts
  libs/data-exploration/domain-layer/src/assets/internal/transformers/mapFiltersToAssetsAdvancedFilters.ts
  libs/data-exploration/domain-layer/src/assets/internal/types.ts
  libs/data-exploration/domain-layer/src/events/internal/transformers/mapFiltersToEventsAdvancedFilters.ts
  libs/data-exploration/domain-layer/src/events/internal/types.ts
Labels: data-explorer

chore: upgrade packages
  package.json
  yarn.lock
Labels: fusion-maintainers

chore: update to 4.1.1
  documentation/package.json
  documentation/yarn.lock
Labels: none

feat: show interface fields in visualizer (#1029)
  apps/platypus/src/app/components/SchemaVersionDropdown/elements.ts
  apps/platypus/src/app/components/SchemaVisualizer/SchemaVisualizer.tsx
  apps/platypus/src/app/components/SchemaVisualizer/nodes/FullNode.tsx
  apps/platypus/src/app/components/SchemaVisualizer/nodes/InterfaceNode.tsx
  apps/platypus/src/app/components/SchemaVisualizer/utils.ts
  apps/platypus/src/app/modules/solution/data-model/components/SchemaTypeAndField/SchemaTypeList.tsx
Labels: platypus

feat(platypus): add support for implement interface tool [DX-1167] (#1019)
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeActionsService.spec.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeActionsService.ts
Labels: platypus

chore: update SDK
  viewer/package.json
  viewer/yarn.lock
Labels: none

improvement: remove glaring "as any"
  viewer/packages/data-providers/src/metadata-providers/CdfModelMetadataProvider.ts
Labels: none

bump version/1.7.0 (#3695)
  apps/power-ops/package.json
Labels: none

docs: specify transformation description slightly
  documentation/docs/examples/cad-basic.mdx
Labels: none

fix(data-explorer): fix events advanced filter builder (#1034)
  libs/data-exploration/domain-layer/src/events/internal/transformers/mapFiltersToEventsAdvancedFilters.ts
Labels: data-explorer

fixed rotation issue been added into 360 rotation matrix (#1035)
  apps/data-exploration/src/app/containers/ThreeD/hooks.ts
Labels: data-explorer

fix: clip HtmlOverlayTool on global clipping planes
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
Labels: none

added events support for enter and exit from 360 image mode
  documentation/docs/examples/image360.mdx
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/DefaultImage360Collection.ts
  viewer/packages/360-images/src/Image360Collection.ts
  viewer/packages/360-images/src/types.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: none

spacing in docs
  documentation/docs/examples/image360.mdx
Labels: none

removed misplaced dispose events
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/DefaultImage360Collection.ts
Labels: none

added missing events api exports
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/src/DefaultImage360Collection.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

added missing api exports
  viewer/reveal.api.md
Labels: none

fix(data-explorer): Copy button alignment (#1032)
  libs/data-exploration-components/src/components/Table/Table.tsx
Labels: data-explorer

fix: clip HtmlOverlayTool on global clipping planes (#2901)
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
Labels: none

feat: use backend translation and scale (#2884)
  documentation/docs/examples/cad-basic.mdx
  viewer/package.json
  viewer/packages/data-providers/src/metadata-providers/CdfModelMetadataProvider.ts
  viewer/yarn.lock
Labels: none

feat(coding-conventions): generate a new subapp (#1037)
  Jenkinsfile
  apps/coding-conventions/.babelrc
  apps/coding-conventions/.eslintrc.json
  apps/coding-conventions/README.md
  apps/coding-conventions/jest.config.ts
  apps/coding-conventions/package.json
  apps/coding-conventions/project.json
  apps/coding-conventions/src/AppWrapper.tsx
  apps/coding-conventions/src/app/App.spec.tsx
  apps/coding-conventions/src/app/App.tsx
  apps/coding-conventions/src/app/Routes.tsx
  apps/coding-conventions/src/app/hooks/useAssets.ts
  apps/coding-conventions/src/app/hooks/useFusionQuery.ts
  apps/coding-conventions/src/app/nx-welcome.tsx
  apps/coding-conventions/src/app/pages/HomePage.tsx
  apps/coding-conventions/src/app/queryClient.ts
  apps/coding-conventions/src/assets/.gitkeep
  apps/coding-conventions/src/cognite-cdf-sdk-singleton.d.ts
  apps/coding-conventions/src/cogniteSdk.ts
  apps/coding-conventions/src/custom.d.ts
  apps/coding-conventions/src/environments/environment.prod.ts
  apps/coding-conventions/src/environments/environment.ts
  apps/coding-conventions/src/favicon.ico
  apps/coding-conventions/src/index.html
  apps/coding-conventions/src/main.tsx
  apps/coding-conventions/src/polyfills.ts
  apps/coding-conventions/src/set-public-path.ts
  apps/coding-conventions/src/styleScope.js
  apps/coding-conventions/tsconfig.app.json
  apps/coding-conventions/tsconfig.json
  apps/coding-conventions/tsconfig.spec.json
  apps/coding-conventions/webpack-config.js
Labels: fusion-maintainers

fix(coding-conventions): fix typo in fas prod id (#1038)
  Jenkinsfile
Labels: fusion-maintainers

fix(coding-conventions): trigger release (#1039)
  apps/coding-conventions/README.md
Labels: none

added unclickable 3d object metrics (#1041)
  apps/data-exploration/src/app/constants/metrics.ts
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
Labels: data-explorer

[DX-1239] feat(platypus): allow-user-to-choose-or-create-space-from-data-model-dialog (#923)
  apps/platypus-e2e/src/integration/data-models-page/create-data-model-v3.cy.ts
  apps/platypus-e2e/src/integration/data-models-page/create-data-model.cy.ts
  apps/platypus-e2e/src/utils/url.ts
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/components/CreateNewSpaceModal/CreateNewSpaceModal.stories.tsx
  apps/platypus/src/app/components/CreateNewSpaceModal/CreateNewSpaceModal.tsx
  apps/platypus/src/app/components/CreateNewSpaceModal/elements.ts
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.tsx
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.spec.tsx
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.tsx
  apps/platypus/src/app/components/DataModelSpaceSelect/DataModelSpaceSelect.stories.tsx
  apps/platypus/src/app/components/DataModelSpaceSelect/DataModelSpaceSelect.tsx
  apps/platypus/src/app/components/DataModelSpaceSelect/elements.ts
  apps/platypus/src/app/components/FormLabel/FormLabel.stories.tsx
  apps/platypus/src/app/components/FormLabel/FormLabel.tsx
  apps/platypus/src/app/hooks/useSpaces.tsx
  apps/platypus/src/app/modules/data-models/CreateDataModel.spec.tsx
  apps/platypus/src/app/modules/data-models/CreateDataModel.tsx
  apps/platypus/src/app/utils/queryKeys.ts
  libs/platypus-core/src/lib/domain/data-model/boundaries/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/data-models-handler.spec.ts
  libs/platypus-core/src/lib/domain/data-model/data-models-handler.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-current/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/dto/dms-space-dtos.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.spec.ts
  libs/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
  libs/platypus-core/src/lib/domain/data-model/types/index.ts
  libs/platypus-core/src/lib/domain/data-model/validators/data-model-name-validator.ts
Labels: platypus

fixed breaking issue with events when two or more 360 image dataset is added
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**
