Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: platypus, data-exploration

chore: lint fix
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
Labels: none

chore: bump version to 4.3.1 (#585)
  apps/3d-management/package.json
Labels: none

chore: clarify comment
  renovate.json
Labels: none

chore: expand Renovate work hours and remove Slack label (#2817)
  renovate.json
Labels: none

Fix AxisViewTool animation
  viewer/packages/tools/src/AxisView/AxisViewTool.ts
Labels: none

Copy/past typo
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: none

Working point size adjustment for additional models not from the link (#859)
  apps/data-exploration/src/app/containers/ThreeD/ThreeDView.tsx
  apps/data-exploration/src/app/containers/ThreeD/point-size-slider/PointSizeSlider.tsx
Labels: data-exploration

Adding fullscreen fix to this PR for testing
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: none

Removed flexGrow
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: none

fix(power-ops): Eslint fixes (#3662)
  apps/power-ops/src/components/BenchmarkingFilters/elements.ts
  apps/power-ops/src/components/BenchmarkingTypeFilter/elements.ts
  apps/power-ops/src/components/BidMatrix/elements.ts
  apps/power-ops/src/components/CommonChart/elements.ts
  apps/power-ops/src/components/CommonError/elements.ts
  apps/power-ops/src/components/CommonHeader/elements.ts
  apps/power-ops/src/components/CommonSidebar/elements.ts
  apps/power-ops/src/components/CommonTable/DefaultCommonTableRow.tsx
  apps/power-ops/src/components/CommonTable/elements.ts
  apps/power-ops/src/components/DayAheadBenchmarkingChart/elements.ts
  apps/power-ops/src/components/DayAheadMarketHeader/elements.ts
  apps/power-ops/src/components/DeliveryWeekSelect/elements.ts
  apps/power-ops/src/components/MenuBar/elements.ts
  apps/power-ops/src/components/PriceAreaSidebar/elements.ts
  apps/power-ops/src/components/PriceScenariosChart/elements.ts
  apps/power-ops/src/components/RKOMHeader/elements.ts
  apps/power-ops/src/components/RKOMSidebar/elements.ts
  apps/power-ops/src/components/RKOMTable/elements.ts
  apps/power-ops/src/components/ShopQualityAssuranceModal/elements.ts
  apps/power-ops/src/global-styles.ts
  apps/power-ops/src/pages/MethodPerformance/elements.ts
  apps/power-ops/src/pages/Monitoring/elements.ts
  apps/power-ops/src/pages/NotFound/elements.ts
  apps/power-ops/src/pages/PriceArea/elements.ts
  apps/power-ops/src/pages/PriceScenarios/elements.ts
  apps/power-ops/src/pages/RKOM/elements.ts
  apps/power-ops/src/pages/WorkflowSchemas/elements.ts
  apps/power-ops/src/pages/WorkflowSingle/elements.ts
  apps/power-ops/src/pages/Workflows/elements.ts
  apps/power-ops/src/styles/layout.ts
  apps/power-ops/src/utils/test/mockBidPriceAreaData.ts
Labels: none

bug: Query Explorer Tooltips [DX-1116] (#862)
  apps/platypus/webpack-config.js
Labels: platypus

chore: enable suspending point clouds from Viewer.tsx (#2824)
  examples/src/pages/Viewer.tsx
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
Labels: none

Update documentation/docs/examples/rendering-resolution.mdx
  documentation/docs/examples/rendering-resolution.mdx
Labels: none

feat: Adding the use localstorage state hook library and the persistent column order state (#856)
  libs/data-exploration-components/src/components/Table/Table.tsx
  libs/data-exploration-components/src/utils/index.ts
  libs/data-exploration-components/src/utils/tests/useLocalStorageState.test.ts
  libs/data-exploration-components/src/utils/useLocalStorageState.ts
  package.json
  yarn.lock
Labels: data-exploration

fix: don't register on every non-zero factor
  viewer/packages/rendering/src/ResizeHandler.ts
Labels: none

test: add callback sanity check tests
  viewer/packages/rendering/src/ResizeHandler.test.ts
Labels: none

fix: create better user error
  viewer/packages/rendering/src/ResizeHandler.ts
Labels: none

chore: put point size in screen height in global constant
  viewer/packages/rendering/src/glsl/base/pointSizeRelativeToScreen.glsl
  viewer/packages/rendering/src/glsl/pointcloud/edl.glsl
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.vert
Labels: none

format: remove unnecessary space in function call
  viewer/packages/rendering/src/ResizeHandler.ts
  viewer/packages/rendering/src/glsl/pointcloud/edl.glsl
Labels: none

test: test boundaries on moving factor
  viewer/packages/rendering/src/ResizeHandler.test.ts
  viewer/packages/rendering/src/ResizeHandler.ts
Labels: none

fix: raw row key fix for delete function (#3663)
  apps/scarlet/README.md
  apps/scarlet/src/api/deleteFieldRaw.ts
  apps/scarlet/src/api/saveEquipmentRaw.ts
  apps/scarlet/src/config/facility.ts
Labels: none

chore: lint fix
  viewer/packages/rendering/src/ResizeHandler.test.ts
  viewer/packages/rendering/src/ResizeHandler.ts
Labels: none

fix: correct shader typos
  viewer/packages/rendering/src/glsl/base/pointSizeRelativeToScreen.glsl
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.vert
Labels: none

Refresh data transfers less frequently (#3665)
  apps/cognuit/src/services/endpoints/datatransfers/query.ts
Labels: none

chore(react-container): Bump version to publish new package (#3664)
  packages/react-container/package.json
Labels: none

fix(react-i18n): simplify i18n suspense boundary (#3611)
  packages/react-i18n/BUILD.bazel
  packages/react-i18n/CHANGELOG.md
  packages/react-i18n/package.json
  packages/react-i18n/src/Provider.tsx
Labels: none

feat: validate PR title action to data exploration components (#860)
  .github/workflows/PR_title-check.yml
Labels: none

.github/labeler.yml:

platypus:
  - apps/platypus/**/*

data-exploration:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
