Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

Fixed iOS crashing issue
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: none

replaced touch event with pointer event in ComboControls
  viewer/packages/camera-manager/src/ComboControls.ts
Labels: none

replaced all touch events with pointer event
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/packages/utilities/src/events/InputHandler.ts
  viewer/packages/utilities/src/events/clickOrTouchEventOffset.ts
Labels: none

feat(discover): add cement info to tooltip [PP-3342] (#3727)
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/CasingsColumn/components/DepthIndicator/components/TooltipContent.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/CasingsColumn/components/DepthIndicator/constants.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/CasingsColumn/components/DepthIndicator/elements.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/utils/visualizeDistance.ts
Labels: none

fix(discover): displayed total days in stick charts [PP-3320] (#3717)
  apps/discover/src/constants/react-query.ts
  apps/discover/src/domain/wells/wellbore/internal/constants.ts
  apps/discover/src/domain/wells/wellbore/internal/queries/useWellboreDrillingDaysQuery.ts
  apps/discover/src/domain/wells/wellbore/internal/types.ts
  apps/discover/src/domain/wells/wellbore/internal/utils/calculateDrillingDays.ts
  apps/discover/src/domain/wells/wellbore/service/network/getWellboreDrillingDays.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/Header/Header.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/Header/components/WellboreDrillingDays.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/WellboreStickChart.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/hooks/useWellboreDrillingDays.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/hooks/useWellboreStickChartData.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/types.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/utils/getWellboreData.ts
Labels: none

nit: newline
  viewer/packages/360-images/src/Image360LoadingCache.ts
Labels: none

updated offset calculation of pointer with handle wheel event
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/packages/utilities/src/events/clickOrTouchEventOffset.ts
Labels: none

fix: reject malformed / invalid 360 images from being created (#2937)
  examples/public/primitives/0.png
  examples/public/primitives/1.png
  examples/public/primitives/2.png
  examples/public/primitives/3.png
  examples/public/primitives/360Images.json
  examples/public/primitives/4.png
  examples/public/primitives/5.png
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360EntityFactory.ts
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/360-images/src/Image360VisualizationBox.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/unit-tests/Image360EntityFactory.test.ts
  viewer/packages/360-images/visual-tests/__image_snapshots__/Image360.VisualTest.png
  viewer/packages/data-providers/package.json
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/yarn.lock
Labels: none

Fixed CVEs and circular dependencies
  package.json
  src/components/I18nWrapper/I18nWrapper.tsx
  yarn.lock
Labels: fusion-maintainers

abortController in SectorDownloadScheduler
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/data-providers/src/model-data-providers/CdfModelDataProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
  viewer/packages/sector-loader/src/SectorRepository.ts
Labels: none

fix CVE
  yarn.lock
Labels: fusion-maintainers

[DEGR-1463] fix(charts): sort event results - authored by ChatGPT (#1416)
  src/components/EventSidebar/EventResultsSidebar.tsx
Labels: none

Fix case (#1414)
  src/components/DataProfilingSidebar/DataProfilingSidebar.tsx
Labels: none

Changed Icons from SVG to React Components (#1415)
  src/assets/Linear.svg
  src/assets/Step.svg
  src/components/AppearanceDropdown/AppearanceDropdown.tsx
  src/components/AppearanceDropdown/Icons.tsx
Labels: none

upgrade nth-check
  yarn.lock
Labels: fusion-maintainers

chore(deps): update @swc/cli from 0.1.59 to 0.1.61 (#1128)
  yarn.lock
Labels: fusion-maintainers

fix: cves with yarn-audit-fix
  yarn.lock
Labels: fusion-maintainers

fix(data-explorer): fix File tab alignment issues (#1125)
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentNamePreview.tsx
  libs/data-exploration-components/src/containers/Files/FileTable/FileNamePreview.tsx
  libs/data-exploration-components/src/containers/SearchResults/SearchResultCountLabel.tsx
  libs/data-exploration-components/src/containers/SearchResults/SearchResultToolbar.tsx
Labels: data-explorer

fix: manually change vulnerable lock versions
  yarn.lock
Labels: fusion-maintainers

style: Better initial viewport size UFV (#1130)
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreviewUFV/FilePreviewUFV.tsx
Labels: data-explorer

abortLoadOfDiscardedSector
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/data-providers/src/model-data-providers/CdfModelDataProvider.ts
Labels: none

fix: don't reset rename dialog on empty name (#598)
  apps/3d-management/src/pages/AllModels/components/ModelRevisions/ModelRevisions.tsx
Labels: none

fix(simconfig): Fix bazel build for SimInt (#3735)
  apps/simconfig/BUILD.bazel
Labels: none

Persist groups metadata
  src/hooks.test.ts
  src/hooks.ts
Labels: none

use multi-branch strategy by default (#1140)
  Jenkinsfile
Labels: fusion-maintainers

style: Only show FileThumbnail on icon hover (#1136)
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentNamePreview.tsx
Labels: data-explorer

fix(data-explorer): asset page crash (#1138)
  libs/data-exploration-components/src/containers/Relationships/RelationshipTable/RelationshipAssetTable.tsx
Labels: data-explorer

feat(dx-1303): interfaces not supported in mock server (#1059)
  apps/mock-server/package.json
  apps/mock-server/src/app/common/graphql-schema-parser.ts
  apps/mock-server/src/app/middlewares/data-modeling/config/schema-service-api.ts
  apps/mock-server/src/app/middlewares/data-modeling/mixerAPi/applicationAPI/schema-builder.ts
  apps/mock-server/src/tests/mixer-api.spec.ts
  apps/mock-server/src/tests/mocks.ts
  apps/platypus/src/app/common/i18n/en/platypus.json
  libs/mock-data/src/lib/data-modeling/data-models.ts
Labels: platypus

feat(data-explorer): Add source column in asset tables (#1143)
  libs/data-exploration-components/src/containers/Assets/AssetDetailsTreeTable/AssetDetailsTreeTable.tsx
  libs/data-exploration-components/src/containers/Assets/AssetSummary/AssetSummary.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTable/AssetTable.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTreeTable/AssetTreeTable.tsx
Labels: data-explorer

Simplify error setup
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/components/error/ErrorFeedback.tsx
  apps/extraction-pipelines/src/components/extpipe/ConfigurationError.tsx
  apps/extraction-pipelines/src/components/extpipe/DocumentationSection.tsx
  apps/extraction-pipelines/src/components/extpipe/InlineEdit.tsx
  apps/extraction-pipelines/src/hooks/config.ts
  apps/extraction-pipelines/src/hooks/details/useDetailsUpdate.tsx
  apps/extraction-pipelines/src/hooks/useDataSets.tsx
  apps/extraction-pipelines/src/hooks/useDataSetsList.tsx
  apps/extraction-pipelines/src/hooks/useExtpipe.tsx
  apps/extraction-pipelines/src/hooks/useExtpipes.tsx
  apps/extraction-pipelines/src/hooks/usePostExtpipe.tsx
  apps/extraction-pipelines/src/hooks/useRawDBAndTables.tsx
  apps/extraction-pipelines/src/hooks/useRuns.tsx
  apps/extraction-pipelines/src/model/SDKErrors.ts
  apps/extraction-pipelines/src/pages/create/CreateExtpipe.tsx
  apps/extraction-pipelines/src/utils/error/TranslateErrorMessages.ts
Labels: none

Render better 403 feedback
  apps/extraction-pipelines/src/pages/Extpipes/Extpipes.tsx
Labels: none

fix(simconfig): Disable tracking for mixpanel events in simint (#3736)
  apps/simconfig/src/utils/metrics/tracking.ts
Labels: none

fix: create only one Potree instance
  viewer/packages/pointclouds/src/PointCloudFactory.ts
  viewer/packages/pointclouds/src/createPointCloudManager.ts
Labels: none

fix: stop point cloud picker helper from keeping references to nodes
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
Labels: none

fix: unref pick state on dispose
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePicker.ts
Labels: none

fix: reset picking handler on point cloud removal
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/pointclouds/src/PointCloudPickingHandler.ts
Labels: none

chore: update to 2.3.1
  documentation/package.json
  documentation/yarn.lock
Labels: none

abortSignal is now optional
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
Labels: none

abortSignal is now optional in the interface
  viewer/packages/sector-loader/src/SectorRepository.ts
Labels: none

fix(data-explorer): bump UFV to include fixes (#1133)
  libs/data-exploration-components/src/containers/Files/Canvas/Canvas.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/CanvasSearch.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/getCanvasConnectionAnnotations.ts
  libs/data-exploration-components/src/containers/Files/Canvas/useCanvasFileLinkTooltips.tsx
  libs/data-exploration-components/src/containers/Files/Canvas/useCanvasTooltips.tsx
  package.json
  yarn.lock
Labels: fusion-maintainers, data-explorer

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*
