Repository cognitedata/reveal, changes with the labels that .github/labeler.yml gives for each.
All labels: fusion-maintainers, platypus, data-explorer, coding-conventions

.github/labeler.yml:

fusion-maintainers:
  - '*'

platypus:
  - apps/platypus/**/*

data-explorer:
  - apps/data-exploration/*
  - apps/data-exploration/**/*
  - libs/data-exploration-components/*
  - libs/data-exploration-components/**/*
  - libs/data-exploration/**

coding-conventions:
  - apps/coding-conventions/*
  - apps/coding-conventions/**/*

chore: add pull request template (#602)
  apps/3d-management/.github/pull_request_template.md
Labels: none

sort models from front-back based on hit distance
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: none

fix: make sure textures are loaded on first frame
  viewer/packages/sector-parser/src/GltfSectorParser.ts
Labels: none

fix: add support for separate textured meshes per sector
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/glsl/sector/mesh.frag
  viewer/packages/rendering/src/glsl/sector/mesh.vert
  viewer/packages/rendering/src/rendering/materials.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
Labels: none

An invalid model is now only logged as info
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
Labels: none

chore: upgrade semantic-release
  package.json
  yarn.lock
Labels: fusion-maintainers

chore: remove unused shader define
  viewer/packages/rendering/src/rendering/shaders.ts
Labels: none

chore: lint fix
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/rendering/materials.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
Labels: none

fix: Fixing disappears before upload has completed (#599)
  apps/3d-management/package.json
  apps/3d-management/src/App.tsx
  apps/3d-management/src/ModelRoutes.tsx
  apps/3d-management/src/Routes.tsx
  apps/3d-management/src/components/FallbackWrapper.tsx
  apps/3d-management/src/components/LazyWrapper.tsx
  apps/3d-management/src/pages/AllModels/AllModels.tsx
  apps/3d-management/src/pages/AllModels/components/FileUploader/FileUploader.tsx
  apps/3d-management/src/pages/AllModels/components/ModelRevisions/ModelRevisions.tsx
  apps/3d-management/src/pages/NotFound/404Pages.js
  apps/3d-management/src/pages/RevisionDetails/RevisionDetails.tsx
  apps/3d-management/src/pages/RevisionDetails/components/FileLink/FileLink.tsx
  apps/3d-management/src/pages/RevisionDetails/components/FileLink/FileLint.spec.tsx
  apps/3d-management/src/pages/RevisionDetails/components/ThreeDViewerWrapper/ThreeDViewerWrapper.tsx
  apps/3d-management/src/store/index.ts
  apps/3d-management/yarn.lock
Labels: none

Make config a bit more conservative
  .github/renovate.json
Labels: none

Changed the 'lib' compiler option to '2022'
  viewer/tsconfig.typedoc.json
Labels: none

fixed 360 image examples in docs
  documentation/docs/examples/image360.mdx
  documentation/versioned_docs/version-4.x/examples/image360.mdx
Labels: none

fix(coding-conventions): test/validation page (#1173)
  apps/coding-conventions/src/GlobalStyles.tsx
  apps/coding-conventions/src/app/Routes.tsx
  apps/coding-conventions/src/app/__fixtures/general.ts
  apps/coding-conventions/src/app/components/Card.tsx
  apps/coding-conventions/src/app/components/Drawer.tsx
  apps/coding-conventions/src/app/components/Modal/Modal.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionTest.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionValidation.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionView.tsx
  apps/coding-conventions/src/app/containers/system/SystemItem.tsx
  apps/coding-conventions/src/app/containers/system/SystemList.tsx
  apps/coding-conventions/src/app/hooks/useValidate.ts
  apps/coding-conventions/src/app/pages/ConventionsPage.tsx
  apps/coding-conventions/src/app/pages/validation/ValidationCdfDataComponent.tsx
  apps/coding-conventions/src/app/pages/validation/ValidationTextComponent.tsx
  apps/coding-conventions/src/app/pages/validation/ValidationsPage.tsx
  apps/coding-conventions/src/app/pages/validation/styles.ts
  apps/coding-conventions/src/app/pages/validation/validationRegex.ts
  apps/coding-conventions/src/app/service/conventions.ts
  apps/coding-conventions/src/app/service/hooks/mutate/useSystemMutate.ts
  apps/coding-conventions/src/app/types.ts
  apps/coding-conventions/src/app/utils/tests/validation.test.ts
  apps/coding-conventions/src/app/utils/validation.ts
  apps/coding-conventions/src/app/utils/validationRegex.ts
Labels: coding-conventions

fix: remove appears in (#1187)
  apps/data-exploration/src/app/containers/ResourceDetails/RelatedResources/RelatedResources.tsx
  libs/data-exploration-components/src/hooks/RelationshipHooks.tsx
Labels: data-explorer

chore: upgrade Jenkins node version
  Jenkinsfile
Labels: fusion-maintainers

feat(discover): show combined parent casing elements with original elements [PP-3260] (#3745)
  apps/discover/src/domain/wells/wellbore/internal/hooks/useParentWellboreIds.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/hooks/useCasingsData.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/utils/adaptToCasingsColumnData.ts
Labels: none

fixed the examples to use trasnform matrix from 360 images
  documentation/docs/examples/image360.mdx
  documentation/versioned_docs/version-4.x/examples/image360.mdx
Labels: none

chore: simplify adaptive sizing
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/360-images/src/visuals/Image360CollectionIcons.ts
  viewer/packages/360-images/src/visuals/image360Icon.vert
Labels: none

Update test to check Discarded sectors at the end
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.test.ts
Labels: none

Fix uuid api changes
  src/hooks/csv-upload.ts
  src/hooks/json-upload.ts
Labels: none

Un-reorder imports
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.test.ts
Labels: none

fix: share hover texture
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/360-images/src/visuals/Image360CollectionIcons.ts
Labels: none

fix(discover): stick chart labels [PP-3240 | PP-3259] (#3730)
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/MeasurementsColumn/MeasurementsColumn.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/NdsEventsColumn/components/NdsEventDetailCardContent.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/TrajectoryColumn/TrajectoryColumn.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/components/PlotlyChartColumn/PlotlyChartColumn.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/filters/MeasurementsFilterItem.tsx
Labels: none

fix: bump loader-utils manually
  yarn.lock
Labels: fusion-maintainers

fix: bump recursive-readdir and minimatch
  yarn.lock
Labels: fusion-maintainers

feat(discover): unify depth scales across wellbores of same well [PP-3301] (#3746)
  apps/discover/src/domain/wells/trajectory/internal/hooks/useMaxDepthDataUnified.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/StickChart.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/WellboreStickChart/constants.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/filters/DepthFilterItem.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/filters/FilterBar.tsx
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/filters/elements.ts
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/hooks/useMaxDepths.ts
Labels: none

chore: bump version to 4.3.4 (#610)
  apps/3d-management/package.json
Labels: none

feat(data-explorer): matching labels for timeseries (#1189)
  libs/data-exploration-components/src/containers/Assets/AssetTable/AssetTable.tsx
  libs/data-exploration-components/src/containers/SearchResults/TimeseriesSearchResults/TimeseriesSearchResults.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesTable/TimeseriesTable.tsx
  libs/data-exploration/domain-layer/src/assets/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/assets/internal/queries/useAssetsSearchResultQuery.ts
  libs/data-exploration/domain-layer/src/assets/internal/types.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/useTimeseriesSearchResultWithLabelsQuery.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/types.ts
  libs/data-exploration/domain-layer/src/types.ts
  libs/data-exploration/domain-layer/src/utils/extractMatchingLabels.ts
Labels: data-explorer

fix: frustum culling of render hook
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: none

chore: revert image360 ui
  examples/src/utils/Image360UI.ts
Labels: none

feat(data-explorer): documents matching labels (#1190)
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentsTable.tsx
  libs/data-exploration-components/src/containers/SearchResults/DocumentSearchResults/DocumentSearchResults.tsx
  libs/data-exploration/domain-layer/src/assets/internal/queries/useAssetsSearchResultWithLabelsQuery.ts
  libs/data-exploration/domain-layer/src/assets/internal/types.ts
  libs/data-exploration/domain-layer/src/assets/service/transformers/normalize.ts
  libs/data-exploration/domain-layer/src/documents/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/documents/internal/queries/useDocumentSearchResultWithMatchingLabelsQuery.ts
  libs/data-exploration/domain-layer/src/documents/internal/transformers/documentNameAndContentMatcher.ts
  libs/data-exploration/domain-layer/src/documents/internal/transformers/mapFiltersToDocumentSearchFilters.ts
  libs/data-exploration/domain-layer/src/documents/internal/types.ts
  libs/data-exploration/domain-layer/src/types.ts
  libs/data-exploration/domain-layer/src/utils/__tests__/extractMatchingLabels.spec.ts
  libs/data-exploration/domain-layer/src/utils/extractMatchingLabels.ts
  libs/data-exploration/domain-layer/src/utils/extractMatchingLabelsFromCogniteLabels.ts
Labels: data-explorer

updated alert message to stringify
  documentation/docs/examples/image360.mdx
  documentation/versioned_docs/version-4.x/examples/image360.mdx
Labels: none

chore: refactor adaptive scaling
  viewer/packages/360-images/src/Image360Icon.ts
Labels: none

fix(platypus): wrong translations values (#1186)
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/components/SchemaVisualizer/SchemaVisualizer.tsx
  apps/platypus/src/app/modules/solution/data-model/components/ToggleVisualizer/ToggleVisualizer.tsx
Labels: platypus

Docs: updated sub-apps config path in README.md (#611)
  apps/3d-management/README.md
Labels: none

fix: restore tests
  viewer/packages/360-images/unit-tests/Image360CollectionFactory.test.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
Labels: none

feat(data-explorer): Matching labels in sequence (#1188)
  libs/data-exploration-components/src/components/Table/Table.tsx
  libs/data-exploration-components/src/components/Table/components/MatchingLabels.tsx
  libs/data-exploration-components/src/components/Table/components/SubRowMatchingLabel.tsx
  libs/data-exploration-components/src/components/Table/index.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTable/AssetTable.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTreeTable/AssetTreeTable.tsx
  libs/data-exploration-components/src/containers/SearchResults/SequenceSearchResults/SequenceSearchResults.tsx
  libs/data-exploration-components/src/containers/Sequences/SequenceTable/SequenceTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesTable/TimeseriesTable.tsx
  libs/data-exploration/domain-layer/src/sequence/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/sequence/internal/queries/useSequenceSearchResultWithMatchingLabelsQuery.ts
  libs/data-exploration/domain-layer/src/sequence/internal/types.ts
Labels: data-explorer

feat(data-explorer): Events matchinglabel (#1194)
  libs/data-exploration-components/src/containers/Events/EventTable/EventTable.tsx
  libs/data-exploration-components/src/containers/SearchResults/EventSearchResults/EventSearchResults.tsx
  libs/data-exploration/domain-layer/src/events/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/events/internal/queries/useEventsSearchResultWithLabelsQuery.ts
  libs/data-exploration/domain-layer/src/events/internal/types.ts
Labels: data-explorer

refractored code as mentioned in code review
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: none

fix: conventions table (abbrevation) (#1201)
  apps/coding-conventions/src/app/Routes.tsx
  apps/coding-conventions/src/app/components/Table/AbbreviationTable.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionItem.tsx
  apps/coding-conventions/src/app/pages/edit/EditPage.tsx
Labels: coding-conventions
