Repository cognitedata/reveal, pull requests merged in 2020-09, with the labels that each got.

#986 feat: getNodeColor is now deprecated and will throw error
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#1027 chore: organize tests in correct folders
  viewer/src/__tests__/utilities/Box3.test.ts
  viewer/src/__tests__/utilities/NumericRange.test.ts
  viewer/src/__tests__/utilities/RxCounter.test.ts
  viewer/src/__tests__/utilities/arrays.test.ts
  viewer/src/__tests__/utilities/determinePowerOfTwoDimensions.test.ts
  viewer/src/__tests__/utilities/networking/CdfModelDataClient.test.ts
  viewer/src/__tests__/utilities/networking/isTheSameDomain.test.ts
  viewer/src/__tests__/utilities/traversal.test.ts
Labels: auto-merge, auto-update

#1023 feat: add Cognite3DViewer.loadCameraFromModel
  documentation/docs/examples/Cognite3DViewerDemo.tsx
  documentation/docs/examples/cad-basic.mdx
  documentation/docs/migration-guide.md
  examples/src/pages/Migration.tsx
  viewer/src/datamodels/cad/CadModelMetadata.ts
  viewer/src/datamodels/cad/CadModelMetadataRepository.ts
  viewer/src/datamodels/pointcloud/PointCloudManager.ts
  viewer/src/datamodels/pointcloud/PointCloudMetadata.ts
  viewer/src/datamodels/pointcloud/PointCloudMetadataRepository.ts
  viewer/src/datamodels/pointcloud/PointCloudNode.ts
  viewer/src/migration.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/CogniteModelBase.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
  viewer/src/public/migration/types.ts
  viewer/src/utilities/index.ts
  viewer/src/utilities/networking/CdfModelDataClient.ts
  viewer/src/utilities/networking/LocalModelDataClient.ts
  viewer/src/utilities/networking/types.ts
  viewer/src/utilities/transformCameraConfiguration.ts
  viewer/src/utilities/types.ts
Labels: auto-merge, auto-update

#1037 chore: make jest config more forgiving to avoid lint errors during development
  viewer/jest.config.js
  viewer/tsconfig.test.json
Labels: auto-merge, auto-update

#1040 doc: embed current Reveal in documentation, rather than a fixed version
  .github/workflows/ci.yml
  documentation/package.json
Labels: auto-merge, auto-update

#1041 Fix: Duplicate network requests
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/SimpleAndDetailedToSector3D.ts
  viewer/src/datamodels/cad/sector/rxSectorUtilities.ts
  viewer/src/utilities/types.ts
Labels: auto-update

#1042 build: fix broken CD for documentation
  .github/workflows/github-pages.yml
Labels: auto-merge, auto-update

#1038 feat: use new endpoints for mapping between node ID and tree index
  documentation/docs/examples/cad-colors.mdx
  documentation/docs/examples/cad-highlighting.mdx
  documentation/docs/examples/node-visiting.mdx
  documentation/docs/migration-guide.md
  examples/src/pages/Migration.tsx
  examples/yarn.lock
  viewer/jest.config.js
  viewer/package.json
  viewer/src/__tests__/migration/NodeIdAndTreeIndexMaps.test.ts
  viewer/src/__tests__/utilities/networking/CogniteClientNodeIdAndTreeIndexMapper.test.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/NodeIdAndTreeIndexMaps.ts
  viewer/src/public/migration/types.ts
  viewer/src/utilities/networking/CogniteClientNodeIdAndTreeIndexMapper.ts
  viewer/yarn.lock
Labels: auto-update

#1050 chore: deploy preview documentation on PR build
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update

#1047 fix: use current renderer pixel ratio instead of device pixel ratio when setting canvas size
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1043 chore: split CI for parser-worker
  .github/workflows/ci.yml
Labels: auto-merge, auto-update

#1053 doc: add example of how to filter based on node properties
  .github/workflows/preview-documentation.yml
  documentation/docs/examples/cad-nodefiltering.mdx
  documentation/sidebars.js
  viewer/src/__tests__/utilities/NumericRange.test.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/utilities/NumericRange.ts
Labels: auto-merge, auto-update

#1062 chore: publish documentation to separate repository
  .github/workflows/github-pages.yml
  documentation/docusaurus.config.js
Labels: auto-merge, auto-update

#960 Added functional LoadingState to update pipeline
  examples/src/pages/Simple.tsx
  examples/src/pages/SimplePointcloud.tsx
  examples/src/pages/Testable.tsx
  viewer/src/__tests__/utilities/RxCounter.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/Repository.ts
  viewer/src/datamodels/pointcloud/PointCloudManager.ts
  viewer/src/datamodels/pointcloud/PotreeLoadHandler.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/types.ts
  viewer/src/utilities/RxCounter.ts
  viewer/src/utilities/RxTaskTracker.test.ts
  viewer/src/utilities/RxTaskTracker.ts
  viewer/src/utilities/index.ts
  viewer/src/utilities/types.ts
Labels: auto-merge, auto-update

#1061 fix: issue causing near/far plane not to be updated correctly after adding custom 3D object
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1064 feat: batch requests to determine subtreeSize to improve performance
  documentation/docs/examples/cad-nodefiltering.mdx
  viewer/src/public/migration/NodeIdAndTreeIndexMaps.ts
Labels: auto-merge, auto-update

#1066 fix: don't trigger click event for long clicks (>250ms)
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1071 doc: add improved example for node filtering
  documentation/docs/examples/cad-nodefiltering.mdx
Labels: auto-merge, auto-update

#1065 docs: login fixes, add .env.example, bigger run button, mobile nav
  .gitignore
  documentation/.env.example
  documentation/README.md
  documentation/docusaurus.config.js
  documentation/sidebars.js
  documentation/src/components/DemoLoginCover.tsx
  documentation/src/components/DemoWrapper.tsx
  documentation/src/components/LiveCodeSnippet.tsx
  documentation/src/components/demos/Cognite3DViewerDemo.tsx
  documentation/src/components/demos/ModelPreviewDemo.tsx
  documentation/src/css/custom.css
  documentation/src/env.ts
  documentation/src/theme/Navbar/index.tsx
  documentation/src/theme/Navbar/styles.module.css
  documentation/src/types.global.ts
  documentation/src/utils/LoginManager.ts
  documentation/src/viewerUtilities.ts
  documentation/tsconfig.json
Labels: auto-merge, auto-update

#1076 doc: use 3D model with colors in documentation
  documentation/src/env.ts
Labels: auto-merge, auto-update

#1079 chore: update package description
  viewer/package.json
Labels: auto-merge, auto-update

#1081 chore(release): release 1.0.0
  documentation/package.json
  examples/package.json
  parser-worker/package.json
  viewer/package.json
Labels: auto-merge, auto-update

#1088 doc(fix): ensure master is checked out on preview doc deploy to avoid losing previews from other PRs
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update

#1072 doc: extend migration guide with section and preparing old 3D models
  documentation/docs/migration-guide.md
Labels: auto-update

#1092 add `bump` and `release` scripts to viewer and parser-worker, update readme on publishing
  README.md
  parser-worker/package.json
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1093 chore: refactor deploy of preview docs to avoid clearing old PR deploys on push
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update

#1095 doc: update tree index used in color example
  documentation/docs/examples/cad-colors.mdx
Labels: auto-merge, auto-update

#1097 chore(build): await checking out preview docs repo untill build is ready
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update

#1077 feat: enable changing CAD and point cloud model transform runtime
  examples/src/pages/Migration.tsx
  examples/src/pages/Testable.tsx
  examples/src/pages/WalkablePath.tsx
  examples/src/visual_tests/VisualTestUtils.ts
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-rotate-cad-model-1-snap.png
  examples/src/visual_tests/basic.test.ts
  viewer/src/__tests__/models/cad/SectorScene.test.ts
  viewer/src/__tests__/testutils/createCadModelMetadata.ts
  viewer/src/__tests__/views/threejs/OrderSectorsByVisibilityCoverage.test.ts
  viewer/src/__tests__/views/threejs/utilities.test.ts
  viewer/src/datamodels/cad/CadModelMetadata.ts
  viewer/src/datamodels/cad/CadModelMetadataRepository.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/sector/RootSectorNode.ts
  viewer/src/datamodels/cad/sector/SectorScene.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.ts
  viewer/src/datamodels/cad/sector/types.ts
  viewer/src/datamodels/pointcloud/PointCloudFactory.ts
  viewer/src/datamodels/pointcloud/PointCloudManager.ts
  viewer/src/datamodels/pointcloud/PointCloudMetadata.ts
  viewer/src/datamodels/pointcloud/PointCloudMetadataRepository.ts
  viewer/src/datamodels/pointcloud/PointCloudNode.ts
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/CogniteModelBase.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
  viewer/src/utilities/index.ts
  viewer/src/utilities/networking/CdfModelDataClient.ts
  viewer/src/utilities/networking/LocalModelDataClient.ts
  viewer/src/utilities/networking/applyDefaultModelTransformation.ts
  viewer/src/utilities/networking/types.ts
  viewer/src/utilities/threeConverters.ts
  viewer/src/utilities/transformCameraConfiguration.ts
  viewer/src/utilities/types.ts
Labels: auto-merge, auto-update

#1096 doc: update tree index used in highlighting example
  documentation/docs/examples/cad-highlighting.mdx
Labels: auto-merge, auto-update

#1118 fix: reduce budget to increase framerate
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
Labels: auto-merge, auto-update

#1107 add eslint-plugin-jsdoc
  viewer/.eslintrc.js
  viewer/package.json
  viewer/src/datamodels/cad/rendering/primitiveGeometries.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/createRevealManager.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
  viewer/src/public/migration/NodeIdAndTreeIndexMaps.ts
  viewer/src/public/migration/RenderController.ts
  viewer/src/public/migration/types.ts
  viewer/src/public/types.ts
  viewer/src/utilities/RxTaskTracker.ts
  viewer/tsconfig.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1075 feat: add support for ghost mode to make a CAD model appear translucent
  documentation/docs/examples/cad-ghostmode.mdx
  documentation/sidebars.js
  documentation/static/img/cad-ghostmode.png
  examples/src/pages/Picking.tsx
  examples/src/pages/Testable.tsx
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-ghost-mode-1-snap.png
  examples/src/visual_tests/basic.test.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/MaterialManager.ts
  viewer/src/datamodels/cad/NodeAppearance.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/datamodels/cad/rendering/RenderMode.ts
  viewer/src/datamodels/cad/rendering/materials.ts
  viewer/src/glsl/base/determineVisibility.glsl
  viewer/src/glsl/base/updateFragmentColor.glsl
  viewer/src/glsl/post-processing/edge-detect-combine.frag
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#1125 refac: naming and comments
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
Labels: auto-merge, auto-update

#992 feat: add support for local transformation override
  documentation/docs/examples/cad-transform-override.mdx
  documentation/sidebars.js
  examples/src/pages/Simple.tsx
  examples/src/pages/Testable.tsx
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-node-transform-1-snap.png
  examples/src/visual_tests/basic.test.ts
  viewer/src/__tests__/dataModels/cad/TransformOverrideBuffer.test.ts
  viewer/src/__tests__/utilities/packFloat.test.ts
  viewer/src/datamodels/cad/MaterialManager.ts
  viewer/src/datamodels/cad/NodeAppearance.ts
  viewer/src/datamodels/cad/rendering/TransformOverrideBuffer.ts
  viewer/src/datamodels/cad/rendering/materials.ts
  viewer/src/datamodels/cad/rendering/primitives.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/glsl/base/determineMatrixOverride.glsl
  viewer/src/glsl/color/packFloatToVec4.glsl
  viewer/src/glsl/color/unpackVec4ToFloat.glsl
  viewer/src/glsl/sector/instancedMesh.frag
  viewer/src/glsl/sector/instancedMesh.vert
  viewer/src/glsl/sector/mesh.frag
  viewer/src/glsl/sector/mesh.vert
  viewer/src/glsl/sector/primitives/circle.frag
  viewer/src/glsl/sector/primitives/circle.vert
  viewer/src/glsl/sector/primitives/cone.frag
  viewer/src/glsl/sector/primitives/cone.vert
  viewer/src/glsl/sector/primitives/eccentricCone.frag
  viewer/src/glsl/sector/primitives/eccentricCone.vert
  viewer/src/glsl/sector/primitives/ellipsoidSegment.frag
  viewer/src/glsl/sector/primitives/ellipsoidSegment.vert
  viewer/src/glsl/sector/primitives/generalCylinder.frag
  viewer/src/glsl/sector/primitives/generalCylinder.vert
  viewer/src/glsl/sector/primitives/generalring.frag
  viewer/src/glsl/sector/primitives/generalring.vert
  viewer/src/glsl/sector/primitives/instanced.frag
  viewer/src/glsl/sector/primitives/instanced.vert
  viewer/src/glsl/sector/primitives/sphericalSegment.frag
  viewer/src/glsl/sector/primitives/torusSegment.frag
  viewer/src/glsl/sector/primitives/torusSegment.vert
  viewer/src/glsl/sector/primitives/trapezium.frag
  viewer/src/glsl/sector/primitives/trapezium.vert
  viewer/src/glsl/sector/simple.frag
  viewer/src/glsl/sector/simple.vert
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/utilities/packFloatToVec4.ts
Labels: auto-merge, auto-update

#1131 chore: bump @cognite/three-combo-controls
  documentation/yarn.lock
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1134 feat: add CognitePointCloudModel.pointSize and pointShape
  examples/src/pages/SimplePointcloud.tsx
  viewer/src/index.ts
  viewer/src/internal.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
Labels: auto-merge, auto-update

#1132 feat: add Cognite3DModel.setAllNodeColors
  documentation/docs/examples/cad-colors.mdx
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#1136 doc: fix broken link in README
  README.md
Labels: auto-merge

#1143 example: extend Migration example with settings for point clouds
  examples/src/pages/Migration.tsx
Labels: auto-merge, auto-update

#1140 chore: add release-template.md
  README.md
  release-template.md
Labels: auto-merge, auto-update

#1139 chore(viewer): use yarn publish in release script
  viewer/package.json
Labels: auto-merge, auto-update

#1144 doc: document deprecated onComplete callback
  documentation/docs/migration-guide.md
Labels: auto-merge, auto-update

#1145 chore: improve error message when model is incompatible
  viewer/src/utilities/networking/CdfModelDataClient.ts
Labels: auto-merge

#1147 doc: minor improvement of API doc of Cognite3DModel
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#1148 doc: add section about common issues in migration
  documentation/docs/migration-guide.md
  documentation/sidebars.js
Labels: auto-merge, auto-update

#1152 fix(viewer): avoid direct dependency on sdk; loose three.js peer dependency version
  viewer/package.json
  viewer/src/utilities/networking/CogniteClientNodeIdAndTreeIndexMapper.ts
  viewer/src/utilities/networking/utilities.ts
Labels: auto-merge, auto-update

#1156 doc: note on textured models not being supported
  documentation/docs/migration-guide.md
  documentation/versioned_docs/version-1.x/migration-guide.md
  documentation/versioned_sidebars/version-1.x-sidebars.json
Labels: auto-update

#1154 fix: export PotreePointSizeType enum; docs(Intersection): fix broken link
  documentation/package.json
  documentation/yarn.lock
  viewer/src/index.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
  viewer/src/public/migration/types.ts
Labels: auto-merge, auto-update

#1135 doc: improve CognitePointCloudModel doc
  viewer/src/public/migration/CognitePointCloudModel.ts
Labels: auto-merge, auto-update

#1141 fix: bug causing custom 3d objects always to be rendered in front of ghosted objects
  viewer/src/glsl/post-processing/edge-detect-combine.frag
Labels: auto-merge, auto-update

#1158 fix: bug causing Cognite3DViewer.setBackgroundColor to cause flickering
  examples/src/pages/Testable.tsx
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-ghost-mode-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-highlight-1-snap.png
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/glsl/post-processing/edge-detect-combine.frag
Labels: auto-merge, auto-update
