Repository cognitedata/reveal, pull requests merged in 2020-06, with the labels that each got.

#562 Provide better error messages when there isn't compatible outputs for a model.
  viewer/src/__tests__/utils/CogniteClient3dExtensions.test.ts
  viewer/src/utilities/networking/CogniteClient3dExtensions.ts
Labels: auto-merge, auto-update

#551 Add support for clipping planes to SectorCuller
  examples/src/clipping.ts
  viewer/src/__tests__/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/src/__tests__/culling/TakenSectorTree.test.ts
  viewer/src/__tests__/data/parser/CadSectorParser.test.ts
  viewer/src/__tests__/dataModels/cad/internal/CadModelUpdateHandler.test.ts
  viewer/src/__tests__/models/cad/SectorScene.test.ts
  viewer/src/__tests__/testUtils/createSceneFromRoot.ts
  viewer/src/__tests__/testutils/createCadModelMetadata.ts
  viewer/src/__tests__/testutils/createSectorMetadata.ts
  viewer/src/__tests__/viewer/public/RevealManagerBase.test.ts
  viewer/src/__tests__/views/threejs/OrderSectorsByVisibilityCoverage.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/CadSectorParser.ts
  viewer/src/datamodels/cad/sector/SimpleAndDetailedToSector3D.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.ts
  viewer/src/datamodels/cad/sector/culling/types.ts
  viewer/src/glsl/sector/sectorCoverage.frag
  viewer/src/glsl/sector/sectorCoverage.vert
  viewer/src/public/RenderManager.ts
  viewer/src/public/RevealManagerBase.ts
Labels: auto-merge, auto-update

#585 Use pointcloud transformation in migration wrapper
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#588 Multimodel distinction bug-fix
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
Labels: auto-merge, auto-update

#592 Expose and fix issue causing RevealManagerBase.update() to trigger update() when camera was unchanged.
  viewer/src/__tests__/viewer/public/RevealManagerBase.test.ts
  viewer/src/public/RevealManagerBase.ts
Labels: auto-merge, auto-update

#587 Add geometry filter as clipping planes
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#598 chore(.gitignore): add examples/public with exceptions
  .gitignore
  examples/README.md
  viewer/package-lock.json
  viewer/package.json
Labels: auto-merge, auto-update

#569 Make ThreeJS and @cognite/sdk into peerDependencies
  viewer/package-lock.json
  viewer/package.json
Labels: auto-merge, auto-update

#597 refactor(Cognite3DModel): rename getBoundingBoxFromApi
  viewer/README.md
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#596 ts(AddModelOptions): remove onProgress and OnProgressData
  viewer/src/public/migration/types.ts
Labels: auto-merge, auto-update

#595 Cognite3DViewer: add getCamera/getScene
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#617 Update README to reflect new location of the serve script
  README.md
Labels: auto-merge

#606 Cognite3DViewer: implement basic addObject3D/removeObject3D + minor examples fix
  examples/src/pages/DistanceMeasurement.tsx
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#619 Move lint/coverage tests before Rust compile to fail faster (for most build failures we see)
  .github/workflows/ci.yml
Labels: auto-merge

#601 Enable antialiasing in Cognite3dViewer for PCs
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/types.ts
  viewer/src/utilities/index.ts
  viewer/src/utilities/isMobileOrTablet.ts
Labels: auto-merge, auto-update

#586 Clean up utilities folder
  viewer/src/__tests__/datasources/local/sector/loadLocalFileMap.test.ts
  viewer/src/__tests__/models/cad/CadMetadataParserV8.test.ts
  viewer/src/__tests__/models/cad/SectorScene.test.ts
  viewer/src/__tests__/testutils/createSectorMetadata.ts
  viewer/src/__tests__/utils/CogniteClient3dExtensions.test.ts
  viewer/src/__tests__/utils/arrays.test.ts
  viewer/src/__tests__/utils/setUtils.test.ts
  viewer/src/__tests__/utils/traversal.test.ts
  viewer/src/__tests__/views/threejs/utilities.test.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/cameraconfig.ts
  viewer/src/datamodels/cad/parsers/CadMetadataParserV8.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/SectorScene.ts
  viewer/src/datamodels/cad/sector/culling/TakenSectorTree.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/datamodels/pointcloud/PointCloudFactory.ts
  viewer/src/internal.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/PromiseCallbacks.ts
  viewer/src/utilities/arrays.ts
  viewer/src/utilities/cogniteSdkGuards.ts
  viewer/src/utilities/index.ts
  viewer/src/utilities/loadLocalFileMap.ts
  viewer/src/utilities/loadLocalSimpleSectorMetadata.ts
  viewer/src/utilities/networking/CogniteClient3dExtensions.ts
  viewer/src/utilities/networking/Model3DOutputList.ts
  viewer/src/utilities/networking/types.ts
  viewer/src/utilities/objectTraversal.ts
  viewer/src/utilities/setUtils.ts
  viewer/src/utilities/threeConverters.ts
  viewer/src/utilities/types.ts
  viewer/src/utilities/urlUtils.ts
  viewer/src/utilities/worldToViewport.ts
Labels: auto-merge, auto-update

#614 Initial functionality for selecting nodes (coloring)
  examples/src/pages/Migration.tsx
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#635 feat(Cognite3DModel): impl iterateNodesByTreeIndex
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#626 Add CodeQL security scanning
  .github/workflows/codeql.yml
Labels: auto-merge, auto-update

#600 Add Cognite3DModel.hide/showNodeByTreeIndex and reset/setNodeColorByTreeIndex and resetAllNodeColors
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#640 Remove unnecessary struct wrapping and double entry into wasm when parsing an i3d sector
  viewer/rust/lib.rs
  viewer/src/utilities/workers/parser.worker.ts
Labels: auto-merge, auto-update

#650 Recover pipeline on network errors
  viewer/src/__tests__/cache/MemoryCache.test.ts
  viewer/src/__tests__/dataModels/cad/internal/CadModelUpdateHandler.test.ts
  viewer/src/__tests__/utils/RateLimiter.test.ts
  viewer/src/__tests__/viewer/public/RevealManagerBase.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/Repository.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/public/LocalHostRevealManager.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/RateLimiter.ts
  viewer/src/utilities/cache/MemoryRequestCache.ts
  viewer/src/utilities/cache/RequestCache.ts
  viewer/src/utilities/index.ts
Labels: auto-merge, auto-update

#651 Implement functionality missing in the new viewer
  examples/package.json
  examples/yarn.lock
  viewer/README.md
  viewer/package-lock.json
  viewer/package.json
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/index.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#647 Test for high detailed queue (from proximity) being cut
  i3df/filename.txt
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/utilities/Box3.ts
Labels: auto-merge, auto-update

#658 feat(Cognite3DViewer): implement getScreenshot fn
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#656 Highlighted objects are now rendered in front of other objects in the scene
  examples/package.json
  examples/src/pages/Filtering.tsx
  examples/src/pages/Migration.tsx
  examples/src/pages/Picking.tsx
  examples/src/utils/example-helpers.ts
  examples/yarn.lock
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadModelFactory.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/GlobalNodeAppearance.ts
  viewer/src/datamodels/cad/MaterialManager.ts
  viewer/src/datamodels/cad/ModelNodeAppearance.ts
  viewer/src/datamodels/cad/NodeAppearance.ts
  viewer/src/datamodels/cad/index.ts
  viewer/src/datamodels/cad/rendering/RenderMode.ts
  viewer/src/datamodels/cad/rendering/materials.ts
  viewer/src/datamodels/cad/rendering/postRenderEffects.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/experimental.ts
  viewer/src/glsl/base/determineVisibility.glsl
  viewer/src/glsl/base/updateFragmentColor.glsl
  viewer/src/glsl/sector/instancedMesh.frag
  viewer/src/glsl/sector/mesh.frag
  viewer/src/glsl/sector/primitives/circle.frag
  viewer/src/glsl/sector/primitives/cone.frag
  viewer/src/glsl/sector/primitives/eccentricCone.frag
  viewer/src/glsl/sector/primitives/ellipsoidSegment.frag
  viewer/src/glsl/sector/primitives/generalCylinder.frag
  viewer/src/glsl/sector/primitives/generalring.frag
  viewer/src/glsl/sector/primitives/instanced.frag
  viewer/src/glsl/sector/primitives/sphericalSegment.frag
  viewer/src/glsl/sector/primitives/torusSegment.frag
  viewer/src/glsl/sector/primitives/trapezium.frag
  viewer/src/glsl/sector/simple.frag
  viewer/src/public/LocalHostRevealManager.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/RevealManagerBase.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/types.ts
Labels: auto-merge, auto-update

#661 Post rendering effects (e.g. highlighting) now works with the Cognite3dViewer.getScreenshot()
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#662 Run CI builds for any PR, not just PRs targeting master
  .github/workflows/ci.yml
Labels: auto-merge, auto-update

#666 ts(viewer): export PotreePointColorType as public
  viewer/src/index.ts
Labels: auto-merge, auto-update

#657 Remove intermediary interface ParseQuadsResult
  viewer/src/__tests__/data/parser/CadSectorParser.test.ts
  viewer/src/datamodels/cad/sector/CadSectorParser.ts
  viewer/src/utilities/workers/parser.worker.ts
  viewer/src/utilities/workers/types/parser.types.ts
Labels: auto-merge, auto-update

#674 Add spinner for pointcloud; fix spinner styles
  examples/src/pages/SimplePointcloud.tsx
  viewer/src/__tests__/viewer/public/RevealManagerBase.test.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/pointcloud/PointCloudManager.ts
  viewer/src/datamodels/pointcloud/PotreeLoadHandler.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/Spinner.ts
Labels: auto-merge, auto-update

#686 feat(Cognite3dViewer): add `forceRerender(): void`
  viewer/src/__tests__/viewer/public/RevealManagerBase.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/pointcloud/PointCloudManager.ts
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.ts
  viewer/src/public/RevealManagerBase.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/CogniteModelBase.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
Labels: auto-merge, auto-update

#685 Automatically adjust camera near/far planes based on models loaded and objects added to the scene.
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/CogniteModelBase.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
Labels: auto-merge, auto-update

#692 fix(bug): Rework the near/far-plane logic to avoid clipping away geometry in some cases
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#695 fix(performance): Minor performance improvement by using plain for loop
  viewer/src/utilities/objectTraversal.ts
Labels: auto-merge, auto-update

#693 Align @cognite/sdk in examples and viewer
  examples/package.json
  examples/yarn.lock
  viewer/yarn.lock
Labels: auto-merge, auto-update

#687 chore: use yarn, simplify publish scripts
  .github/workflows/ci.yml
  .gitignore
  examples/package.json
  examples/yarn.lock
  viewer/package.json
  viewer/script/copyPackage.js
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-update

#704 Switch to use V1 endpoints instead of playgrounds endpoints.
  .gitignore
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/SideBySide.tsx
  examples/src/pages/TwoModels.tsx
  examples/src/pages/WalkablePath.tsx
  examples/src/utils/example-helpers.ts
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/__tests__/utils/CogniteClient3dExtensions.test.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/networking/CogniteClient3dExtensions.ts
  viewer/src/utilities/networking/Model3DOutputList.ts
  viewer/src/utilities/types.ts
Labels: auto-merge, auto-update

#705 Remove warning spam from ThreeJS in tests
  viewer/src/__tests__/setupJest.ts
  viewer/src/__tests__/views/threejs/cad/picking.test.ts
  viewer/src/utilities/networking/types.ts
Labels: auto-merge, auto-update

#696 Fire new animation frame immediatly to improve FPS.
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#641 Remove redundant sections of macro for new geometry types
  i3df/src/renderables.rs
Labels: auto-merge, auto-update

#707 Remove package-lock.json
  README.md
  examples/README.md
  viewer/.gitignore
  viewer/package-lock.json
Labels: auto-merge, auto-update

#557 Dependency updates
  examples/package.json
  f3df/Cargo.lock
  f3df/Cargo.toml
  i3df/Cargo.lock
  i3df/Cargo.toml
  viewer/Cargo.lock
  viewer/Cargo.toml
  viewer/package.json
Labels: auto-merge, auto-update

#718 chore: simplify viewer's `serve` script; update .lock files
  Cargo.lock
  examples/README.md
  examples/yarn.lock
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#711 Make a bunch of exposed fields private.
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/tsconfig.json
Labels: auto-merge, auto-update
