Repository cognitedata/reveal, pull requests merged in 2020-10, with the labels that each got.

#1165 Add endpoint for setting the visibility filter of a given point class
  documentation/package.json
  examples/src/pages/SimplePointcloud.tsx
  viewer/src/datamodels/pointcloud/PointCloudNode.ts
  viewer/src/datamodels/pointcloud/PotreeNodeWrapper.ts
  viewer/src/datamodels/pointcloud/types.ts
  viewer/src/internal.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
  viewer/yarn.lock
Labels: auto-update

#1174 fix: Attempt to make RxTaskTracker fail less during jest test
  viewer/src/__tests__/data/parser/CadSectorParser.test.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/public/migration/NodeIdAndTreeIndexMaps.ts
  viewer/src/utilities/RxTaskTracker.test.ts
Labels: auto-update

#1175 fix(CognitePointCloudModel): getClasses return type
  viewer/src/datamodels/pointcloud/PointCloudNode.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
Labels: auto-merge, auto-update

#1173 fix: don't call decrecated function THREE.Scene.dispose
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1178 chore(refac): add CadModelUpdateHandler.budget to allow setting budget externally
  examples/src/pages/Clipping.tsx
  examples/src/pages/GpuSectorCuller.tsx
  examples/src/routes.tsx
  viewer/src/__tests__/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/src/datamodels/cad/CadModelBudget.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/types.ts
  viewer/src/datamodels/cad/sector/rxSectorUtilities.ts
Labels: auto-merge, auto-update

#1123 docs: allow pointclouds for Cognite3DViewerDemo
  documentation/.env.example
  documentation/docs/demos/Cognite3DViewerDemo.tsx
  documentation/docs/examples/pointcloud.mdx
  documentation/sidebars.js
  documentation/src/components/DemoWrapper.tsx
  documentation/src/env.ts
Labels: auto-merge, auto-update

#1186 fix: improve performance of all node styling functions in Cognite3DModel
  viewer/src/__tests__/migration/NodeStyleUpdater.test.ts
  viewer/src/__tests__/utilities/NumericRange.test.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/NodeStyleUpdater.ts
  viewer/src/utilities/NumericRange.ts
Labels: auto-merge, auto-update

#1187 chore(ci): github comment to vNext documentation
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update

#1201 chore(build): bump webpack to 5.0.0
  viewer/package.json
  viewer/webpack.config.js
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1184 docs(pointcloud): add pointcloud examples
  documentation/docs/examples/pointcloud.mdx
  documentation/src/components/customScope.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
Labels: auto-merge, auto-update

#1167 fix: bug causing WebGL context held by GPU culler not to be disposed on dispose()
  examples/src/utils/OverrideSectorCuller.ts
  viewer/src/__tests__/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/src/__tests__/dataModels/cad/internal/CadModelUpdateHandler.test.ts
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/__tests__/viewer/public/RevealManager.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.ts
  viewer/src/datamodels/cad/sector/culling/SectorCuller.ts
Labels: auto-merge, auto-update, bug

#1185 docs: pass model and revision ids as props to Demo components
  documentation/docs/demos/Cognite3DViewerDemo.tsx
  documentation/docs/demos/ModelPreviewDemo.tsx
  documentation/sidebars.js
  documentation/src/components/DemoProps.d.ts
  documentation/src/components/DemoWrapper.tsx
  documentation/src/components/customScope.ts
  documentation/src/env.ts
  documentation/versioned_docs/version-1.x/demos/Cognite3DViewerDemo.tsx
  documentation/versioned_docs/version-1.x/demos/ModelPreviewDemo.tsx
Labels: auto-merge

#1209 [REV-1] [REV-27] [REV-28] chore(viewer): update three-combo-controls
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1203 doc: note about missing support of textures
  documentation/docs/migration-guide.md
Labels: auto-merge, auto-update

#1224 feat: add Cognite3dViewer.cameraControlsEnabled to allow disabling navigation
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1225 doc: document issue with "non-standard" depth testing
  documentation/docs/examples/cad-3dobjects.mdx
Labels: auto-merge, auto-update

#1089 Update migration guide based on migrating Maintain
  documentation/docs/migration-guide.md
  viewer/src/index.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/types.ts
Labels: auto-merge, auto-update

#1250 chore: add rule for detecting unused import in eslint
  viewer/.eslintrc.js
  viewer/package.json
  viewer/src/__tests__/dataModels/cad/TransformOverrideBuffer.test.ts
  viewer/src/__tests__/viewer/public/RevealManager.test.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.ts
  viewer/src/datamodels/pointcloud/PotreeNodeWrapper.ts
  viewer/src/datamodels/pointcloud/types.ts
  viewer/src/public/migration/types.ts
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1211 fix: disable antialiasing as it has no effect when using offscreen rendering
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1243 chore: deprecated todo
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#1244 feat: report application ID to MixPanel and improve events
  examples/src/pages/DistanceMeasurement.tsx
  examples/src/pages/Filtering.tsx
  examples/src/pages/Migration.tsx
  examples/src/pages/Picking.tsx
  examples/src/pages/SSAO.tsx
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/SideBySide.tsx
  examples/src/pages/Simple.tsx
  examples/src/pages/SimplePointcloud.tsx
  examples/src/pages/Testable.tsx
  examples/src/pages/TwoModels.tsx
  examples/src/pages/WalkablePath.tsx
  viewer/src/__tests__/viewer/public/RevealManager.test.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/createRevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/types.ts
  viewer/src/utilities/metrics.ts
  viewer/src/utilities/networking/CdfModelDataClient.ts
  viewer/src/utilities/networking/LocalModelDataClient.ts
  viewer/src/utilities/networking/types.ts
  viewer/src/utilities/networking/utilities.ts
Labels: auto-merge, auto-update

#1252 fix: avoid sending data to MixPanel that can be used to identify users
  viewer/src/utilities/metrics.ts
Labels: auto-merge, auto-update

#1251 improvement: make matcap texture grayscale and increase fixed lighting a bit to avoid red-ish hue
  examples/package.json
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-correctly-renders-primitives-test-scene-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-clipping-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-default-camera-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-ghost-mode-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-highlight-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-node-transform-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-rotate-cad-model-1-snap.png
  viewer/src/datamodels/cad/rendering/matCapTextureData.ts
  viewer/src/glsl/base/updateFragmentColor.glsl
Labels: auto-update, do-not-merge

#1229 doc: document restriction about transparency for custom 3D objects
  documentation/docs/examples/cad-3dobjects.mdx
  documentation/docs/examples/clipping.mdx
  documentation/sidebars.js
  documentation/src/components/customScope.ts
  documentation/static/img/cad-clipping.webm
  examples/src/pages/Migration.tsx
  viewer/src/datamodels/cad/sector/types.ts
Labels: auto-merge, auto-update

#1284 chore: remove unused dependency
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1285 chore: update ThreeJS to 0.122.0
  documentation/package.json
  documentation/yarn.lock
  examples/src/pages/DistanceMeasurement.tsx
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1276 feat: prioritize loading sectors in the center of the screen
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.ts
Labels: auto-merge, auto-update
