Repository cognitedata/reveal, pull requests merged in 2020-07, with the labels that each got.

#712 mn/use eslint instead of tslint
  .editorconfig
  examples/src/utils/renderer-debug-widget.ts
  viewer/.eslintignore
  viewer/.eslintrc.js
  viewer/.prettierrc
  viewer/jest.config.js
  viewer/package.json
  viewer/src/__mocks__/cssMock.js
  viewer/src/__tests__/setupJest.ts
  viewer/src/__tests__/utils/CogniteClient3dExtensions.test.ts
  viewer/src/__tests__/views/threejs/cad/consumeSectorSimple.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/rendering/postRenderEffects.ts
  viewer/src/datamodels/cad/rendering/primitives.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/CadSectorParser.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/TakenSectorTree.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/global.d.ts
  viewer/src/public/LocalHostRevealManager.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/Box3.ts
  viewer/src/utilities/cache/MemoryRequestCache.ts
  viewer/tsconfig.json
  viewer/tsfmt.json
  viewer/tslint.json
  viewer/webpack.config.js
  viewer/yarn.lock
Labels: auto-merge, auto-update

#708 Upload image diff as workflow artifact when failing visual tests
  .github/workflows/ci.yml
  examples/package.json
  examples/src/visual_tests/GithubDiffUploader.js
  examples/src/visual_tests/basic.test.ts
  examples/yarn.lock
Labels: auto-merge, auto-update

#722 Rename ParserWorker to RevealParserWorker
  viewer/src/__tests__/models/cad/emptySector.ts
  viewer/src/__tests__/views/threejs/cad/primitives.test.ts
  viewer/src/datamodels/cad/rendering/primitives.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/CadSectorParser.ts
  viewer/src/datamodels/cad/sector/types.ts
  viewer/src/utilities/workers/WorkerPool.ts
  viewer/src/utilities/workers/reveal.parser.worker.ts
  viewer/src/utilities/workers/types/reveal.parser.types.ts
Labels: auto-merge, auto-update

#723 Tune CI settings
  examples/package.json
  examples/src/visual_tests/GithubDiffUploader.js
  viewer/package.json
Labels: auto-merge, auto-update

#721 chore: update current reveal version
  viewer/package.json
Labels: auto-merge, auto-update

#726 feature: Add missing "Intensity" point cloud color type
  viewer/src/datamodels/pointcloud/types.ts
Labels: auto-merge, auto-update

#724 feat(metrics): init, addModel, error - tracked in mixpanel
  viewer/jest.config.js
  viewer/package.json
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/public/LocalHostRevealManager.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/types.ts
  viewer/src/utilities/metrics.ts
  viewer/webpack.config.js
  viewer/yarn.lock
Labels: auto-merge, auto-update

#768 Up version of jest, fix TypeError
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#655 Add bool flag to determine sector input based on camera motion
  viewer/src/__tests__/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/sector/culling/types.ts
  viewer/src/utilities/index.ts
  viewer/src/utilities/rxOperations.ts
Labels: auto-merge, auto-update

#738 Add Cognite3dViewer.getVersion() and VERSION export
  examples/yarn.lock
  viewer/jest.config.js
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/global.d.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/metrics.ts
  viewer/webpack.config.js
Labels: auto-merge, auto-update

#727 Implement screenshot test presets
  examples/package.json
  examples/src/pages/Testable.tsx
  examples/src/visual_tests/VisualTestUtils.ts
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-clipping-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-default-camera-1-snap.png
  examples/src/visual_tests/basic.test.ts
Labels: auto-merge, auto-update

#725 chore(cleanup): Cleanup dependencies between different packages to have a DAG dependency graph.
  examples/src/pages/WalkablePath.tsx
  viewer/src/__tests__/views/threejs/OrderSectorsByVisibilityCoverage.test.ts
  viewer/src/__tests__/views/threejs/utilities.test.ts
  viewer/src/datamodels/base/DataRepository.ts
  viewer/src/datamodels/base/index.ts
  viewer/src/datamodels/cad/CadModelMetadata.ts
  viewer/src/datamodels/cad/CadModelMetadataRepository.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/CadTransformationProvider.ts
  viewer/src/datamodels/cad/DefaultCadTransformation.ts
  viewer/src/datamodels/cad/cameraconfig.ts
  viewer/src/datamodels/cad/parsers/CadMetadataParserV8.ts
  viewer/src/datamodels/cad/picking.ts
  viewer/src/datamodels/cad/rendering/instancedMeshes.ts
  viewer/src/datamodels/cad/rendering/post-processing/ssao.ts
  viewer/src/datamodels/cad/sector/RootSectorNode.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.ts
  viewer/src/datamodels/cad/sector/culling/TakenSectorTree.ts
  viewer/src/datamodels/cad/sector/culling/types.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/datamodels/cad/sector/types.ts
  viewer/src/datamodels/pointcloud/DefaultPointCloudTransformation.ts
  viewer/src/datamodels/pointcloud/PointCloudFactory.ts
  viewer/src/datamodels/pointcloud/PointCloudMetadata.ts
  viewer/src/datamodels/pointcloud/PointCloudMetadataRepository.ts
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.ts
  viewer/src/datamodels/pointcloud/PotreeNodeWrapper.ts
  viewer/src/datamodels/pointcloud/types.ts
  viewer/src/experimental.ts
  viewer/src/public/LocalHostRevealManager.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/types.ts
  viewer/src/utilities/index.ts
  viewer/src/utilities/networking/CogniteClient3dExtensions.ts
  viewer/src/utilities/networking/LocalUrlClient.ts
  viewer/src/utilities/networking/types.ts
  viewer/src/utilities/threeConverters.ts
  viewer/src/utilities/types.ts
Labels: auto-merge, auto-update

#743 refac: Get rid of duplicated code in RevealManagerBase-subclasses.
  viewer/src/__tests__/dataModels/cad/internal/CadModelUpdateHandler.test.ts
  viewer/src/__tests__/utils/CdfModelDataClient.test.ts
  viewer/src/__tests__/viewer/public/RevealManagerBase.test.ts
  viewer/src/datamodels/base/MetadataRepository.ts
  viewer/src/datamodels/base/index.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadModelMetadataRepository.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/CadSceneProvider.ts
  viewer/src/datamodels/cad/rendering/postRenderEffects.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/CadSectorProvider.ts
  viewer/src/datamodels/cad/sector/Repository.ts
  viewer/src/datamodels/pointcloud/EptSceneProvider.ts
  viewer/src/datamodels/pointcloud/PointCloudManager.ts
  viewer/src/datamodels/pointcloud/PointCloudMetadataRepository.ts
  viewer/src/public/LocalHostRevealManager.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/RevealManagerBase.ts
  viewer/src/public/migration/CdfModelManager.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/NodeIdAndTreeIndexMaps.ts
  viewer/src/public/types.ts
  viewer/src/utilities/metrics.ts
  viewer/src/utilities/networking/CdfModelDataClient.ts
  viewer/src/utilities/networking/LocalModelDataClient.ts
  viewer/src/utilities/networking/types.ts
  viewer/src/utilities/rxOperations.ts
Labels: auto-merge, auto-update

#770 Fix simple animation frame handle on examples
  examples/src/pages/Clipping.tsx
  examples/src/pages/DistanceMeasurement.tsx
  examples/src/pages/Filtering.tsx
  examples/src/pages/GpuSectorCuller.tsx
  examples/src/pages/Picking.tsx
  examples/src/pages/SSAO.tsx
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/SideBySide.tsx
  examples/src/pages/Simple.tsx
  examples/src/pages/SimplePointcloud.tsx
  examples/src/pages/Testable.tsx
  examples/src/pages/TwoModels.tsx
  examples/src/pages/WalkablePath.tsx
  examples/src/utils/AnimationLoopHandler.ts
  examples/src/utils/sceneHelpers.ts
Labels: auto-merge, auto-update

#775 RevealManager cleanup
  examples/src/pages/Clipping.tsx
  examples/src/pages/DistanceMeasurement.tsx
  examples/src/pages/Filtering.tsx
  examples/src/pages/GpuSectorCuller.tsx
  examples/src/pages/Picking.tsx
  examples/src/pages/SSAO.tsx
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/SideBySide.tsx
  examples/src/pages/Simple.tsx
  examples/src/pages/SimplePointcloud.tsx
  examples/src/pages/Testable.tsx
  examples/src/pages/TwoModels.tsx
  examples/src/pages/WalkablePath.tsx
  examples/src/utils/example-helpers.ts
  viewer/src/__tests__/dataModels/cad/internal/CadModelUpdateHandler.test.ts
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/__tests__/utils/CdfModelDataClient.test.ts
  viewer/src/__tests__/viewer/public/RevealManager.test.ts
  viewer/src/datamodels/cad/CadModelMetadataRepository.ts
  viewer/src/datamodels/cad/createCadManager.ts
  viewer/src/datamodels/cad/rendering/postRenderEffects.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/pointcloud/PointCloudMetadataRepository.ts
  viewer/src/datamodels/pointcloud/createPointCloudManager.ts
  viewer/src/experimental.ts
  viewer/src/public/LocalHostRevealManager.ts
  viewer/src/public/RenderManager.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/RevealManagerBase.ts
  viewer/src/public/createRevealManager.ts
  viewer/src/public/migration/CdfModelManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/index.ts
  viewer/src/utilities/metrics.ts
  viewer/src/utilities/networking/CdfModelDataClient.ts
  viewer/src/utilities/networking/LocalModelDataClient.ts
  viewer/src/utilities/networking/types.ts
  viewer/src/utilities/networking/utilities.ts
Labels: auto-update

#786 Use client in CdfModelDataClient.ts
  viewer/src/utilities/networking/CdfModelDataClient.ts
Labels: auto-merge, auto-update

#706 Implement border with color feature
  examples/src/pages/Picking.tsx
  examples/yarn.lock
  viewer/package.json
  viewer/src/__tests__/dataModels/cad/rendering/EffectRenderManager.test.ts
  viewer/src/__tests__/views/threejs/cad/primitives.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/MaterialManager.ts
  viewer/src/datamodels/cad/NodeAppearance.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/datamodels/cad/rendering/instancedMeshes.ts
  viewer/src/datamodels/cad/rendering/materials.ts
  viewer/src/datamodels/cad/rendering/primitives.ts
  viewer/src/datamodels/cad/rendering/shaders.ts
  viewer/src/datamodels/cad/rendering/triangleMeshes.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/experimental.ts
  viewer/src/glsl/base/determineColor.glsl
  viewer/src/glsl/base/determineVisibility.glsl
  viewer/src/glsl/base/updateFragmentColor.glsl
  viewer/src/glsl/math/floatBitsSubset.glsl
  viewer/src/glsl/post-processing/edge-detect-combine.frag
  viewer/src/glsl/post-processing/edge-detection.vert
  viewer/src/glsl/sector/instancedMesh.frag
  viewer/src/glsl/sector/mesh.frag
  viewer/src/glsl/sector/primitives/circle.frag
  viewer/src/glsl/sector/primitives/cone.frag
  viewer/src/glsl/sector/primitives/eccentricCone.frag
  viewer/src/glsl/sector/primitives/ellipsoidSegment.frag
  viewer/src/glsl/sector/primitives/generalCylinder.frag
  viewer/src/glsl/sector/primitives/generalring.frag
  viewer/src/glsl/sector/primitives/instanced.frag
  viewer/src/glsl/sector/primitives/sphericalSegment.frag
  viewer/src/glsl/sector/primitives/torusSegment.frag
  viewer/src/glsl/sector/primitives/trapezium.frag
  viewer/src/glsl/sector/simple.frag
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/index.ts
  viewer/src/utilities/types.ts
Labels: auto-merge, auto-update

#809 Dispose of instanceMatrices buffer after upload to GPU
  viewer/src/datamodels/cad/rendering/instancedMeshes.ts
Labels: auto-merge, auto-update

#820 Fix CI coverage setup
  .github/workflows/ci.yml
Labels: auto-merge, auto-update

#821 Initial OpenCTM MG2 compression support
  .editorconfig
  openctm/src/bin/dump.rs
  openctm/src/lib.rs
  viewer/rust/lib.rs
Labels: auto-merge, auto-update

#823 Reduce the use of unwrap to avoid panics in the workers
  i3df/src/renderables.rs
  viewer/rust/lib.rs
Labels: auto-merge, auto-update

#769 improvement: Avoid too much work being done by updateMatrixWorld() (still plenty of room for improment)
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/sector/RootSectorNode.ts
Labels: auto-merge, auto-update

#822 Avoid memory copies in OpenCTM parser
  openctm/src/bin/dump.rs
  openctm/src/lib.rs
  openctm/tests/box.rs
  viewer/rust/lib.rs
Labels: auto-merge, auto-update

#783 Dependency updates
  Cargo.lock
  examples/package.json
  examples/yarn.lock
  f3df/Cargo.lock
  f3df/Cargo.toml
  i3df/Cargo.lock
  i3df/Cargo.toml
  viewer/Cargo.lock
  viewer/Cargo.toml
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, dependencies

#833 Round tree-indices in fragment shaders as a work-aroud for floating point error
  viewer/src/glsl/base/determineColor.glsl
  viewer/src/glsl/base/determineVisibility.glsl
Labels: auto-merge, auto-update

#835 chore(examples): disable dependabot for linked deps
  .dependabot/config.yml
  examples/package.json
Labels: auto-merge

#831 Update name of GH PR comment script for visual test failures
  .github/workflows/ci.yml
  examples/package.json
  examples/src/visual_tests/GithubActionsPRComment.js
Labels: auto-merge, auto-update

#841 Remove unused dependencies in i3df
  Cargo.lock
  i3df/Cargo.lock
  i3df/Cargo.toml
Labels: auto-merge, auto-update

#832 Reduce unwrap calls in primitive modules
  i3df/src/renderables.rs
  i3df/src/renderables/box3d.rs
  i3df/src/renderables/cone.rs
  i3df/src/renderables/cylinder.rs
  i3df/src/renderables/nut.rs
  i3df/src/renderables/ring.rs
  i3df/src/renderables/sphere.rs
Labels: auto-merge, auto-update

#845 Clean up Cargo files
  Cargo.lock
  f3df/Cargo.lock
  f3df/Cargo.toml
  f3df/src/bin/dump.rs
  f3df/src/renderables.rs
  i3df/Cargo.toml
  i3df/src/bin/dump.rs
  i3df/src/lib.rs
  i3df/src/renderables.rs
  openctm/Cargo.lock
  openctm/Cargo.toml
  openctm/src/bin/dump.rs
  viewer/Cargo.lock
Labels: auto-merge, auto-update

#850 Workaround for broken scene.json files
  viewer/src/datamodels/cad/parsers/CadMetadataParserV8.ts
Labels: auto-merge, auto-update

#857 Fix filtering example page
  examples/src/pages/Filtering.tsx
Labels: auto-merge, auto-update

#858 Fix gpu sector culler example
  examples/src/pages/GpuSectorCuller.tsx
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
Labels: auto-merge, auto-update

#859 revert changes from mn/simplify-publish-scripts branch
  viewer/package.json
  viewer/script/copyPackage.js
  viewer/tsconfig.json
Labels: auto-merge, auto-update

#737 Rxjs stuttering improvement
  examples/yarn.lock
  viewer/src/__tests__/dataModels/cad/internal/CadModelUpdateHandler.test.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/SimpleAndDetailedToSector3D.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
Labels: auto-update

#864 Simplifying Pipeline
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/Repository.ts
  viewer/src/public/RevealManager.ts
  viewer/src/utilities/RxCounter.test.ts
  viewer/src/utilities/RxCounter.ts
  viewer/src/utilities/rxOperations.ts
Labels: auto-update

#808 Don't schedule new sectors while camera is moving.
  viewer/src/__tests__/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/src/__tests__/dataModels/cad/internal/CadModelUpdateHandler.test.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/sector/culling/types.ts
Labels: auto-merge, auto-update

#867 fix: optimize hasIntersection() by using iterator instead of forEach().
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
Labels: auto-merge, auto-update

#829 Render in-front objects in own scene to improve render performance
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
Labels: auto-merge, auto-update

#870 fix: trigger redraw when CadNode is 'updated' (e.g. when a node is highlighted)
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/public/migration/RenderController.ts
Labels: auto-merge, auto-update

#873 chore!: Bump ThreeJS to 0.119.1
  viewer/package.json
  viewer/src/datamodels/cad/rendering/primitives.ts
  viewer/yarn.lock
Labels: auto-merge, auto-update

#872 feat: add Cognite3DModel.mapNodeIdsToTreeIndices to map node IDs to tree indices
  viewer/src/__tests__/migration/NodeIdAndTreeIndexMaps.test.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/NodeIdAndTreeIndexMaps.ts
Labels: auto-merge, auto-update
