Repository cognitedata/reveal, pull requests merged in 2020-03, with the labels that each got.

#218 Updated version for npm publish
  viewer/package.json
Labels: auto-merge, auto-update

#219 Introduce CachedRepository and remove caching details from CadNode
  viewer/src/__tests__/repository/cad/CachedRepository.test.ts
  viewer/src/models/createCache.ts
  viewer/src/repository/cad/CachedRepository.ts
  viewer/src/repository/cad/Repository.ts
  viewer/src/views/threejs/cad/CadNode.ts
Labels: auto-merge, auto-update

#171 Add walkable path to model - initial commit
  examples/package-lock.json
  examples/src/walkable-path.ts
  examples/webpack.config.js
Labels: auto-update

#240 Fix Reveal library source maps in examples
  examples/webpack.config.js
Labels: auto-merge, auto-update

#200 Dependency updates
  examples/package-lock.json
  examples/package.json
  f3df/Cargo.lock
  f3df/Cargo.toml
  i3df/Cargo.lock
  i3df/Cargo.toml
  viewer/Cargo.lock
  viewer/Cargo.toml
  viewer/package-lock.json
  viewer/package.json
Labels: auto-merge, auto-update

#253 Exclude viewer's node_modules in source-map-loader to speed up build
  examples/webpack.config.js
Labels: auto-merge, auto-update

#251 Bump ThreeJS to 0.114.0.
  examples/package-lock.json
  examples/package.json
  viewer/package-lock.json
  viewer/package.json
  viewer/src/models/cad/determineSectors.ts
  viewer/src/views/threejs/cad/CadNode.ts
  viewer/src/views/threejs/cad/RootSectorNode.ts
  viewer/src/views/threejs/cad/primitiveGeometries.ts
Labels: auto-update

#254 Update contributors
  examples/package.json
  viewer/package.json
Labels: auto-merge, auto-update

#261 Actually fill the entire array of visibility
  viewer/src/views/threejs/cad/materials.ts
Labels: auto-merge, auto-update

#262 Bump openctm-rs with upstream lzma-rs
  Cargo.lock
  viewer/Cargo.toml
Labels: auto-merge, auto-update

#238 Add support for loading CAD models from CDF
  examples/package-lock.json
  examples/src/filtering.ts
  examples/src/picking.ts
  examples/src/post-processing-effects.ts
  examples/src/sector-with-pointcloud.ts
  examples/src/side-by-side.ts
  examples/src/simple-pointcloud.ts
  examples/src/simple.ts
  examples/src/ssao.ts
  examples/src/utils/loaders.ts
  examples/src/walkable-path.ts
  viewer/package-lock.json
  viewer/src/__tests__/datasources/cognitesdk/CdfModelDataRetriever.test.ts
  viewer/src/__tests__/datasources/cognitesdk/pointcloud/createPointCloudModel.test.ts
  viewer/src/__tests__/datasources/local/sector/loadLocalSectorMetadata.test.ts
  viewer/src/__tests__/utils/CogniteClient3dExtensions.test.ts
  viewer/src/datasources/cognitesdk/CdfModelDataRetriever.ts
  viewer/src/datasources/cognitesdk/cad/loadCadModelFromCdf.ts
  viewer/src/datasources/cognitesdk/index.ts
  viewer/src/datasources/cognitesdk/pointcloud/createPointCloudModel.ts
  viewer/src/datasources/local/cad/loadLocalCadMetadata.ts
  viewer/src/index.ts
  viewer/src/models/cad/CadModelImpl.ts
  viewer/src/utils/CogniteClient3dExtensions.ts
Labels: auto-update

#264 Fix broken URL
  viewer/src/utils/CogniteClient3dExtensions.ts
Labels: auto-merge, auto-update

#275 Create wrappers Cognite3DModel and Cognite3DViewer for easy migration from the old viewer
  examples/package-lock.json
  examples/src/migration.ts
  examples/webpack.config.js
  viewer/package-lock.json
  viewer/package.json
  viewer/src/index.ts
  viewer/src/migration.ts
  viewer/src/migration/Cognite3DModel.ts
  viewer/src/migration/Cognite3DViewer.test.ts
  viewer/src/migration/Cognite3DViewer.ts
  viewer/src/migration/NotSupportedInMigrationWrapperError.ts
  viewer/src/migration/intersection.ts
  viewer/src/migration/types.ts
  viewer/webpack.config.js
Labels: auto-merge, auto-update

#285 Fix "unnecessary parentheses around block return value"
  .travis.yml
  i3df/src/renderables/common.rs
Labels: auto-merge, auto-update

#293 Fix lint warnings
  viewer/src/cache/RequestCache.ts
  viewer/src/models/cad/BasicSectorActivator.ts
  viewer/src/views/threejs/cad/SectorNode.ts
  viewer/tslint.json
Labels: auto-merge, auto-update

#286 Update all tree indices on initialization
  viewer/src/views/threejs/cad/CadNode.ts
Labels: auto-merge, auto-update

#278 Use RxJS for pipeline
  .travis.yml
  Cargo.lock
  examples/package-lock.json
  examples/package.json
  examples/src/side-by-side.ts
  examples/src/simple.ts
  examples/src/utils/renderer-debug-widget.ts
  examples/webpack.config.js
  viewer/package-lock.json
  viewer/package.json
  viewer/src/__tests__/cache/MemoryCache.test.ts
  viewer/src/__tests__/expects.ts
  viewer/src/__tests__/models/cad/determineSectors.test.ts
  viewer/src/__tests__/models/cad/determineSectorsQuality.test.ts
  viewer/src/__tests__/repository/cad/CachedRepository.test.ts
  viewer/src/__tests__/views/threejs/sector/consumeSectorDetailed.test.ts
  viewer/src/__tests__/views/threejs/sector/consumeSectorSimple.test.ts
  viewer/src/cache/MemoryRequestCache.ts
  viewer/src/cache/RequestCache.ts
  viewer/src/culling/ProximitySectorCuller.ts
  viewer/src/culling/SectorCuller.ts
  viewer/src/data/model/ConsumedSector.ts
  viewer/src/data/model/LevelOfDetail.ts
  viewer/src/data/model/ParsedSector.ts
  viewer/src/data/model/WantedSector.ts
  viewer/src/internal.ts
  viewer/src/models/cad/delegates.ts
  viewer/src/models/cad/determineSectors.ts
  viewer/src/models/cad/distinctUntilLevelOfDetailChanged.ts
  viewer/src/models/cad/filterCurrentWantedSectors.ts
  viewer/src/models/cad/parseSectorData.ts
  viewer/src/models/cad/types.ts
  viewer/src/repository/cad/CachedRepository.ts
  viewer/src/repository/cad/Repository.ts
  viewer/src/views/threejs/cad/CadNode.ts
  viewer/src/views/threejs/cad/RootSectorNode.ts
  viewer/src/views/threejs/cad/SectorNode.ts
  viewer/src/views/threejs/cad/consumeSectorDetailed.ts
  viewer/src/views/threejs/cad/consumeSectorSimple.ts
  viewer/src/views/threejs/cad/fromThreeCameraConfig.ts
  viewer/webpack.config.js
Labels: auto-update

#274 Initialize CogniteClient once in examples that load multiple models
  examples/package-lock.json
  examples/src/filtering.ts
  examples/src/picking.ts
  examples/src/post-processing-effects.ts
  examples/src/sector-with-pointcloud.ts
  examples/src/side-by-side.ts
  examples/src/simple.ts
  examples/src/ssao.ts
  examples/src/utils/loaders.ts
  examples/src/world-to-screen.ts
  viewer/src/models/cad/parseSectorData.ts
Labels: auto-merge, auto-update

#295 Adapt examples to new update API in CadNode
  examples/src/custom-scene-elements.ts
  examples/src/filtering.ts
  examples/src/picking.ts
  examples/src/post-processing-effects.ts
  examples/src/sector-with-pointcloud.ts
  examples/src/side-by-side.ts
  examples/src/ssao.ts
  examples/src/two-models.ts
  examples/src/walkable-path.ts
  examples/src/world-to-screen.ts
Labels: auto-merge, auto-update

#283 Rename Shading to NodeAppearance
  examples/src/filtering.ts
  examples/src/picking.ts
  examples/src/world-to-screen.ts
  viewer/src/views/common/cad/NodeAppearance.ts
  viewer/src/views/threejs/cad/CadNode.ts
  viewer/src/views/threejs/cad/MaterialManager.ts
  viewer/src/views/threejs/cad/RootSectorNode.ts
  viewer/src/views/threejs/index.ts
Labels: auto-merge

#308 Speed up Travis builds by building debug and dropping Node 10
  .travis.yml
Labels: auto-update

#306 Clean up comments
  i3df/src/lib.rs
Labels: auto-merge, auto-update

#290 Add simple wrapper for Cognite3DViewer and Cognite3DModel and working example using the new wrappers
  examples/package-lock.json
  examples/src/migration.ts
  examples/template-single-canvas.ejs
  examples/webpack.config.js
  viewer/package-lock.json
  viewer/package.json
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/__tests__/migration/scene.json
  viewer/src/index.ts
  viewer/src/migration.ts
  viewer/src/migration/Cognite3DModel.ts
  viewer/src/migration/Cognite3DViewer.ts
  viewer/src/migration/NotSupportedInMigrationWrapperError.ts
  viewer/src/migration/RenderController.ts
  viewer/src/migration/intersection.ts
  viewer/src/migration/types.ts
  viewer/src/views/threejs/cad/CadNode.ts
  viewer/webpack.config.js
Labels: auto-merge, auto-update

#252 Dependency updates
  Cargo.lock
  examples/package-lock.json
  examples/package.json
  f3df/Cargo.lock
  f3df/Cargo.toml
  i3df/Cargo.lock
  i3df/Cargo.toml
  viewer/Cargo.lock
  viewer/Cargo.toml
  viewer/package-lock.json
  viewer/package.json
Labels: auto-update

#310 Add script to verify examples/package-lock.json
  .travis.yml
  scripts/verify-package-lock.sh
Labels: auto-merge, auto-update

#319 Do not create model twice in migration examples
  examples/src/migration.ts
Labels: auto-merge, auto-update

#320 Accept 'requires' dependencies in package-log.json in addition to 'dependencies'
  scripts/verify-package-lock.sh
Labels: auto-merge, auto-update

#318 Add a simple CAD sector budget
  examples/package-lock.json
  examples/src/utils/renderer-debug-widget.ts
  viewer/jest.config.js
  viewer/src/__tests__/datasources/cognitesdk/cad/buildSectorMetadata.test.ts
  viewer/src/__tests__/models/cad/CadBudget.test.ts
  viewer/src/__tests__/models/cad/CadMetadataParserV8.test.ts
  viewer/src/__tests__/models/cad/determineSectors.test.ts
  viewer/src/__tests__/models/cad/determineSectorsQuality.test.ts
  viewer/src/__tests__/testUtils/createSceneFromRoot.ts
  viewer/src/datasources/cognitesdk/cad/buildSectorMetadata.ts
  viewer/src/models/cad/CadBudget.ts
  viewer/src/models/cad/CadMetadataParserV8.ts
  viewer/src/models/cad/CadModelImpl.ts
  viewer/src/models/cad/determineSectors.ts
  viewer/src/models/cad/types.ts
  viewer/src/views/threejs/cad/CadNode.ts
Labels: auto-merge, auto-update

#304 Fix broken CadNode.renderHints
  examples/package-lock.json
  examples/src/utils/renderer-debug-widget.ts
  viewer/src/views/threejs/cad/CadNode.ts
  viewer/src/views/threejs/cad/fromThreeCameraConfig.ts
Labels: auto-merge, auto-update

#331 Remove verification of package-lock.json
  .travis.yml
  scripts/verify-package-lock.sh
Labels: auto-merge, auto-update

#326 Implement setNodeColor by asking API for nodeId to treeIndex map
  viewer/src/__tests__/migration/NodeIdAndTreeIndexMaps.test.ts
  viewer/src/migration/Cognite3DModel.ts
  viewer/src/migration/NodeIdAndTreeIndexMaps.ts
Labels: auto-merge, auto-update

#337 Remove console log of wanted sectors in CadNode
  viewer/src/views/threejs/cad/CadNode.ts
Labels: auto-merge, auto-update

#312 Add support for raypicking to Cognite3DViewer
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/__tests__/views/threejs/cad/consumeSectorDetailed.test.ts
  viewer/src/__tests__/views/threejs/cad/consumeSectorSimple.test.ts
  viewer/src/__tests__/views/threejs/cad/discardSector.test.ts
  viewer/src/__tests__/views/threejs/cad/picking.test.ts
  viewer/src/__tests__/views/threejs/cad/primitives.test.ts
  viewer/src/migration/Cognite3DViewer.ts
  viewer/src/migration/intersection.ts
  viewer/src/migration/types.ts
  viewer/src/models/cad/CadLoadingHints.ts
  viewer/src/views/threejs/cad/CadNode.ts
  viewer/src/views/threejs/cad/picking.ts
Labels: auto-update

#324 Create node ID to tree index map and use it to implement setNodeColor
  examples/src/migration.ts
  f3df/src/bin/dump.rs
  f3df/src/renderables.rs
  i3df/build.rs
  i3df/src/renderables.rs
  viewer/rust/lib.rs
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/__tests__/models/cad/emptySector.ts
  viewer/src/__tests__/views/threejs/cad/consumeSectorSimple.test.ts
  viewer/src/migration.ts
  viewer/src/migration/Cognite3DModel.ts
  viewer/src/migration/NodeIdAndTreeIndexMaps.ts
  viewer/src/models/cad/parseSectorData.ts
  viewer/src/models/cad/types.ts
  viewer/src/views/threejs/cad/CadNode.ts
  viewer/src/workers/parser.worker.ts
  viewer/src/workers/types/parser.types.ts
  viewer/webpack.config.js
Labels: auto-update

#313 Allocate textures holding color and visibility to be big enough to hold the correct number of tree indices.
  viewer/src/__tests__/utils/determinePowerOfTwoDimensions.test.ts
  viewer/src/__tests__/views/threejs/cad/consumeSectorDetailed.test.ts
  viewer/src/__tests__/views/threejs/cad/consumeSectorSimple.test.ts
  viewer/src/__tests__/views/threejs/cad/materials.test.ts
  viewer/src/__tests__/views/threejs/cad/primitives.test.ts
  viewer/src/utils/determinePowerOfTwoDimensions.ts
  viewer/src/views/threejs/cad/CadNode.ts
  viewer/src/views/threejs/cad/MaterialManager.ts
  viewer/src/views/threejs/cad/materials.ts
Labels: auto-merge, auto-update

#353 Add support for getting intersection from click in migration wrapper
  examples/src/migration.ts
  examples/template-single-canvas.ejs
  viewer/package-lock.json
  viewer/package.json
  viewer/src/migration/Cognite3DViewer.ts
  viewer/src/views/threejs/cad/CadNode.ts
Labels: auto-merge, auto-update

#355 Fix tree index attribute in merged mesh
  viewer/src/models/cad/parseSectorData.ts
Labels: auto-merge, auto-update

#311 Dependency updates
  examples/package-lock.json
  examples/package.json
  f3df/Cargo.lock
  f3df/Cargo.toml
  i3df/Cargo.lock
  i3df/Cargo.toml
  viewer/Cargo.lock
  viewer/Cargo.toml
  viewer/package-lock.json
  viewer/package.json
Labels: auto-update

#356 Clean up CTM parsing
  viewer/src/models/cad/parseSectorData.ts
  viewer/src/workers/parser.worker.ts
  viewer/src/workers/types/parser.types.ts
Labels: auto-merge, auto-update

#349 Add support for showing and hiding nodes
  viewer/src/migration/Cognite3DModel.ts
Labels: auto-update

#359 Provide data texture size to shaders
  viewer/src/glsl/base/determineColor.glsl
  viewer/src/glsl/base/determineVisibility.glsl
  viewer/src/glsl/sector/instancedMesh.frag
  viewer/src/glsl/sector/mesh.frag
  viewer/src/glsl/sector/primitives/circle.frag
  viewer/src/glsl/sector/primitives/cone.frag
  viewer/src/glsl/sector/primitives/eccentricCone.frag
  viewer/src/glsl/sector/primitives/ellipsoidSegment.frag
  viewer/src/glsl/sector/primitives/generalCylinder.frag
  viewer/src/glsl/sector/primitives/generalring.frag
  viewer/src/glsl/sector/primitives/instanced.frag
  viewer/src/glsl/sector/primitives/sphericalSegment.frag
  viewer/src/glsl/sector/primitives/torusSegment.frag
  viewer/src/glsl/sector/primitives/trapezium.frag
  viewer/src/glsl/sector/simple.frag
  viewer/src/views/threejs/cad/materials.ts
Labels: auto-merge, auto-update

#365 Implement enable/disableKeyboarNavigation()
  viewer/src/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update
