Repository cognitedata/reveal, pull requests merged in 2020-12, with the labels that each got.

#1317 chore: update yarn.lock in examples
  examples/yarn.lock
Labels: auto-merge, auto-update

#1316 feat: add 'createDetailedGeometry' to web worker
  Cargo.lock
  f3df/Cargo.toml
  f3df/src/lib.rs
  parser-worker/README.md
  parser-worker/RevealParserWorker.ts
  parser-worker/buildUtils.js
  parser-worker/createDetailedGeometry.ts
  parser-worker/index.ts
  parser-worker/package.json
  parser-worker/types.ts
  parser-worker/webpack.config.js
  viewer/webpack.config.js
Labels: auto-merge, auto-update

#1318 doc: add example for anti-aiasing
  documentation/docs/examples/antialiasing.mdx
  documentation/docs/getting-started.md
  documentation/docs/migration-guide.md
  documentation/docs/overview.mdx
  documentation/sidebars.js
  documentation/static/img/antialias-comparison.png
Labels: auto-merge, auto-update

#1323 fix: bug causing assertion when root sector is missing F3D geometry [REV-69]
  viewer/src/__tests__/culling/TakenSectorTree.test.ts
  viewer/src/datamodels/cad/sector/culling/TakenSectorTree.ts
Labels: auto-merge, auto-update

#1325 chore: bump to ThreeJS 0.123.0 and fix deprecations
  viewer/package.json
  viewer/src/__tests__/testutils/createCadModelMetadata.ts
  viewer/src/__tests__/views/threejs/OrderSectorsByVisibilityCoverage.test.ts
  viewer/src/datamodels/cad/CadModelMetadata.ts
  viewer/src/datamodels/cad/CadModelMetadataRepository.ts
  viewer/src/datamodels/cad/picking.ts
  viewer/src/datamodels/cad/rendering/primitives.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1324 feat: fitCameraToModel now uses K-means clustering for determining bounds of CAD models
  examples/src/pages/Migration.tsx
  viewer/package.json
  viewer/src/__tests__/models/cad/SectorScene.test.ts
  viewer/src/datamodels/cad/sector/SectorScene.ts
  viewer/src/datamodels/cad/sector/types.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/CogniteModelBase.ts
  viewer/src/utilities/Box3.ts
  viewer/yarn.lock
Labels: auto-update

#1326 chore: report NPM package size in CI builds
  .github/workflows/ci.yml
Labels: auto-merge, auto-update

#1329 chore: retry visual tests on failure to make it less prone to errors
  .github/workflows/ci.yml
Labels: auto-merge, auto-update

#1328 fix: issue causing ghosted geometry being "stuck" after hiding nodes [REV-68]
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
Labels: auto-merge, auto-update

#1330 chore: retry preview docs deploy on failure
  .github/workflows/preview-documentation.yml
Labels: auto-merge

#1331 chore: fix condition for retrying preview doc deploy
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update
