Repository cognitedata/reveal, pull requests merged in 2020-11, with the labels that each got.

#1266 feat: apply proper unit scaling of models to make all models to be in metric units
  examples/src/pages/Testable.tsx
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-highlight-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-scaled-model-1-snap.png
  examples/src/visual_tests/basic.test.ts
  viewer/src/__tests__/models/cad/CadMetadataParserV8.test.ts
  viewer/src/__tests__/models/cad/SectorScene.test.ts
  viewer/src/__tests__/testutils/createCadModelMetadata.ts
  viewer/src/__tests__/views/threejs/OrderSectorsByVisibilityCoverage.test.ts
  viewer/src/datamodels/cad/CadModelMetadataRepository.ts
  viewer/src/datamodels/cad/parsers/CadMetadataParserV8.ts
  viewer/src/datamodels/cad/sector/SectorScene.ts
  viewer/src/datamodels/cad/sector/types.ts
  viewer/src/datamodels/pointcloud/PointCloudMetadataRepository.ts
  viewer/src/glsl/sector/primitives/cone.vert
  viewer/src/glsl/sector/primitives/eccentricCone.vert
  viewer/src/glsl/sector/primitives/generalCylinder.vert
  viewer/src/glsl/sector/simple.vert
  viewer/src/utilities/networking/types.ts
Labels: auto-update

#1268 feat: add draw calls to budget to limit number of draw calls.
  viewer/src/__tests__/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/src/__tests__/culling/TakenSectorTree.test.ts
  viewer/src/__tests__/models/cad/CadMetadataParserV8.test.ts
  viewer/src/__tests__/testutils/createSectorMetadata.ts
  viewer/src/__tests__/views/threejs/cad/consumeSectorDetailed.test.ts
  viewer/src/datamodels/cad/CadModelBudget.ts
  viewer/src/datamodels/cad/parsers/CadMetadataParserV8.ts
  viewer/src/datamodels/cad/rendering/primitives.ts
  viewer/src/datamodels/cad/sector/ModelStateHandler.test.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/TakenSectorTree.ts
  viewer/src/datamodels/cad/sector/culling/types.ts
  viewer/src/datamodels/cad/sector/types.ts
Labels: auto-merge, auto-update

#1287 chore: retry preview documentation deploy if fails
  .github/workflows/preview-documentation.yml
Labels: auto-update, do-not-merge

#1219 doc: add documentation with example for clipping planes
  documentation/docs/demos/Cognite3DViewerDemo.tsx
  documentation/docs/examples/clipping.mdx
  documentation/sidebars.js
Labels: auto-update

#1293 feat: expose CAD budget in Cognite3dViewer to allow controlling model budget.
  viewer/src/__tests__/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadModelSectorBudget.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/types.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/types.ts
Labels: auto-merge, auto-update

#1294 feat: limit the movement camera movement for large models
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1298 chore(viewer): bump version 1.2.0 + fix bump script
  documentation/versioned_docs/version-1.x/API Reference.md
  documentation/versioned_docs/version-1.x/demos/Cognite3DViewerDemo.tsx
  documentation/versioned_docs/version-1.x/examples/cad-3dobjects.mdx
  documentation/versioned_docs/version-1.x/examples/clipping.mdx
  documentation/versioned_docs/version-1.x/examples/pointcloud.mdx
  documentation/versioned_docs/version-1.x/migration-guide.md
  documentation/versioned_sidebars/version-1.x-sidebars.json
  viewer/package.json
Labels: auto-merge

#1297 chore: add todo about merging types
  viewer/src/public/migration/types.ts
Labels: auto-merge, auto-update

#1299 chore: eslint-plugin must be in devDependencies
  viewer/package.json
Labels: auto-merge

#1300 fix: adjust spinner styles
  viewer/src/utilities/spinnerStyles.css
Labels: auto-merge, auto-update

#1301 chore: update three.js version in peer dependencies
  viewer/package.json
Labels: auto-merge, auto-update

#1296 fix(docs): no broken links, proper entry file
  documentation/package.json
  documentation/typedoc.json
  viewer/src/index.ts
  viewer/src/migration.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/CogniteModelBase.ts
  viewer/src/public/migration/types.ts
  viewer/src/public/types.ts
  viewer/src/revealEnv.ts
Labels: auto-merge, auto-update

#1302 @cognite/reveal@1.2.1
  README.md
  documentation/versioned_docs/version-1.x/API Reference.md
  release-template.md
  viewer/package.json
Labels: auto-merge, auto-update

#1304 [REV-45] Fix off by one error when determining numeric range for all nodes
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#1305 [REV-48] fix: allow file:// to be location.origin when load worker
  viewer/src/__tests__/utilities/networking/isTheSameDomain.test.ts
  viewer/src/utilities/networking/isTheSameDomain.ts
Labels: auto-merge, auto-update

#1306 chore(viewer): bump version 1.2.2
  documentation/versioned_docs/version-1.x/API Reference.md
  viewer/package.json
Labels: auto-merge

#1303 feat: add support for picking of point clouds
  documentation/docs/examples/pointcloud-intersections.mdx
  documentation/sidebars.js
  examples/src/pages/DistanceMeasurement.tsx
  examples/src/pages/Migration.tsx
  examples/src/pages/Picking.tsx
  viewer/src/__tests__/views/threejs/cad/picking.test.ts
  viewer/src/datamodels/base/index.ts
  viewer/src/datamodels/base/types.ts
  viewer/src/datamodels/cad/picking.ts
  viewer/src/datamodels/pointcloud/picking.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
  viewer/src/public/migration/types.ts
  viewer/src/utilities/pickPixelColor.ts
Labels: auto-merge, auto-update

#1308 chore: replace set-env in CI with new $GITHUB_ENV-file
  .github/workflows/ci.yml
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update

#1307 fix: support for picking on touch devices
  examples/src/pages/DistanceMeasurement.tsx
  examples/src/pages/Picking.tsx
  viewer/jest.config.js
  viewer/src/__tests__/views/threejs/cad/picking.test.ts
  viewer/src/datamodels/base/types.ts
  viewer/src/datamodels/cad/picking.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/events/clickOrTouchEventOffset.ts
  viewer/src/utilities/events/index.ts
  viewer/src/utilities/pickPixelColor.ts
Labels: auto-merge, auto-update

#1309 chore(viewer): bump version 1.2.3
  documentation/versioned_docs/version-1.x/API Reference.md
  documentation/versioned_docs/version-1.x/examples/pointcloud-intersections.mdx
  documentation/versioned_sidebars/version-1.x-sidebars.json
  viewer/package.json
Labels: auto-merge

#1310 [REV-39] fix: bug causing viewer to become blurry when resized
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/glsl/post-processing/fxaa.frag
  viewer/src/glsl/post-processing/fxaa.vert
Labels: auto-merge, auto-update

#1313 Add the ability to override the render target
  Cargo.lock
  examples/public/nrrd/stent.nrrd
  examples/public/textures/cm_gray.png
  examples/public/textures/cm_viridis.png
  examples/src/pages/Testable.tsx
  examples/src/pages/WebGLTwo.tsx
  examples/src/routes.tsx
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-ghost-mode-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-highlight-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-user-render-target-1-snap.png
  examples/src/visual_tests/basic.test.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/glsl/post-processing/edge-detect-combine.frag
  viewer/src/glsl/post-processing/fxaa.frag
  viewer/src/glsl/post-processing/fxaa.vert
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/types.ts
Labels: auto-merge, auto-update

#1312 feat: allow developers to override anti-aliasing mode and enable multisampling with WebGL2
  documentation/docs/demos/Cognite3DViewerDemo.tsx
  examples/src/pages/Migration.tsx
  viewer/src/__tests__/culling/TakenSectorTree.test.ts
  viewer/src/__tests__/dataModels/cad/rendering/EffectRenderManager.test.ts
  viewer/src/__tests__/models/cad/CadMetadataParserV8.test.ts
  viewer/src/__tests__/types.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/createRevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/types.ts
  viewer/src/public/types.ts
  viewer/src/utilities/assertNever.ts
  viewer/src/utilities/index.ts
Labels: auto-update, do-not-merge
