Repository cognitedata/reveal, pull requests merged in 2020-08, with the labels that each got.

#877 feat: load model rotation from CDF on load
  viewer/src/__tests__/datasources/constructMatrixFromRotation.test.ts
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/datamodels/cad/CadModelMetadataRepository.ts
  viewer/src/datamodels/cad/DefaultCadTransformation.ts
  viewer/src/datamodels/cad/createCadManager.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/datamodels/pointcloud/DefaultPointCloudTransformation.ts
  viewer/src/datamodels/pointcloud/PointCloudMetadataRepository.ts
  viewer/src/datamodels/pointcloud/createPointCloudManager.ts
  viewer/src/utilities/constructMatrixFromRotation.ts
  viewer/src/utilities/networking/CdfModelDataClient.ts
  viewer/src/utilities/networking/LocalModelDataClient.ts
  viewer/src/utilities/networking/modelTransformation.ts
  viewer/src/utilities/networking/types.ts
Labels: auto-merge, auto-update

#891 Fix near / far uniforms not updating properly
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#904 feat(Cognite3DViewer): add model now returns any supported model type
  documentation/docs/migration-guide.md
  examples/src/pages/Migration.tsx
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#899 Add visual test for highlighted objects, bufix for SSAO example scene, bugfix for rendering highlighted objects
  examples/src/pages/SSAO.tsx
  examples/src/pages/Testable.tsx
  examples/src/visual_tests/VisualTestUtils.ts
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-highlight-1-snap.png
  examples/src/visual_tests/basic.test.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/glsl/post-processing/edge-detect-combine.frag
Labels: auto-update

#898 Rxjs pipeline over on async task
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/ModelStateHandler.test.ts
  viewer/src/datamodels/cad/sector/ModelStateHandler.ts
  viewer/src/datamodels/cad/sector/SimpleAndDetailedToSector3D.ts
  viewer/src/datamodels/cad/sector/rxSectorUtilities.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/RxCounter.test.ts
Labels: auto-update

#914 Revert three to 117 as there is a bug that causes missing geometry
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#915 fix(bug): Issue causing near/near planes to be set wrongly for point cloud models
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.ts
  viewer/src/datamodels/pointcloud/PotreeNodeWrapper.ts
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#921 fix: Make Cognite3DModel.updateNodeIdMaps internal
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#905 refactor(SupportedModelTypes): use type union, remove NotSupported
  viewer/src/datamodels/base/SupportedModelTypes.ts
  viewer/src/datamodels/base/index.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadModelFactory.ts
  viewer/src/index.ts
  viewer/src/migration.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/CogniteModelBase.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
  viewer/src/public/migration/types.ts
  viewer/src/public/types.ts
Labels: auto-merge, auto-update

#895 Add feature to include coloring children in setNodeColorByTreeIndex endpoint
  viewer/src/__tests__/utils/NumericRange.test.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/NodeIdAndTreeIndexMaps.ts
  viewer/src/utilities/NumericRange.ts
  viewer/src/utilities/index.ts
Labels: auto-update

#913 docs: add tsdoc for Cognite3DModel and PointCloudModel
  .github/workflows/github-pages.yml
  documentation/docs/migration-guide.md
  documentation/package.json
  documentation/yarn.lock
  viewer/src/datamodels/cad/CadLoadingHints.ts
  viewer/src/datamodels/cad/rendering/CadRenderHints.ts
  viewer/src/datamodels/pointcloud/types.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/CogniteModelBase.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
  viewer/src/public/migration/types.ts
Labels: auto-update

#900 feat(viewer): use cdn for releases
  .github/workflows/ci.yml
  README.md
  viewer/README.md
  viewer/jest.config.js
  viewer/package.json
  viewer/src/@types/env.d.ts
  viewer/src/__tests__/setupJest.ts
  viewer/src/utilities/workers/WorkerPool.ts
  viewer/tsconfig.json
  viewer/webpack.config.js
Labels: auto-merge, auto-update

#923 fix(examples): use model ids from .env file
  examples/.env.example
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/WalkablePath.tsx
  examples/src/process.env.d.ts
  examples/src/routes.tsx
Labels: auto-merge, auto-update

#846 Dependency updates
  examples/package.json
  examples/yarn.lock
  i3df/Cargo.toml
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#934 chore(viewer): set target es2019 to get rid of jest warn
  viewer/tsconfig.json
Labels: auto-merge, auto-update

#933 chore(examples): allow CORS to enable local development
  examples/config-overrides.js
Labels: auto-merge, auto-update

#932 Migration Progress
  documentation/docs/migration-guide.md
  examples/src/pages/Migration.tsx
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/types.ts
Labels: auto-merge, auto-update

#922 chore: bump @cognite/sdk
  examples/yarn.lock
  viewer/package.json
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/utilities/networking/HttpHeadersProvider.ts
  viewer/yarn.lock
Labels: auto-merge, auto-update

#937 Fix highlight bug caused by not applying CDF rotation
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
Labels: auto-merge, auto-update

#938 refac: rename getBoundingBoxFromCdf and future-proof by adding version for treeIndex
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#939 Documentation: fix alias resolving, run build on PR
  .github/workflows/ci.yml
  documentation/package.json
  documentation/yarn.lock
  viewer/src/public/types.ts
Labels: auto-merge, auto-update

#942 doc: update example
  documentation/docs/examples/Cognite3DViewerDemo.tsx
  documentation/package.json
  documentation/yarn.lock
Labels: auto-merge, auto-update

#947 Update release/1.0 with beta-2 that is published
  .github/workflows/ci.yml
  README.md
  documentation/docs/examples/Cognite3DViewerDemo.tsx
  documentation/package.json
  documentation/yarn.lock
  viewer/README.md
  viewer/jest.config.js
  viewer/package.json
  viewer/src/@types/env.d.ts
  viewer/src/__tests__/setupJest.ts
  viewer/src/utilities/workers/WorkerPool.ts
  viewer/tsconfig.json
  viewer/webpack.config.js
Labels: auto-merge

#956 doc: add live examples for coloring CAD models
  documentation/docs/concepts.md
  documentation/docs/examples/Cognite3DViewerDemo.tsx
  documentation/docs/examples/cad-basic.mdx
  documentation/docs/examples/cad-colors.mdx
  documentation/sidebars.js
  documentation/src/components/DemoProps.d.ts
  documentation/src/components/DemoWrapper.tsx
  documentation/src/components/LiveCodeSnippet.tsx
  documentation/src/components/styles.module.css
  documentation/src/utils/LoginManager.ts
Labels: auto-merge, auto-update

#958 Fix determineTreeIndices
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#968 fix: add not-implemented placeholder for Cognite3DModel.mapTreeIndicesToNodeIds()
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#970 doc: update link to getBoundingBoxByTreeIndex
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#969 doc: add example for adding HTML overlays
  documentation/docs/examples/cad-2doverlay.mdx
  documentation/sidebars.js
  documentation/static/img/cad-overlay-fixed.webm
  documentation/static/img/cad-overlay-updating.webm
Labels: auto-merge, auto-update

#975 doc: reduce the number of documented modules in the API reference
  documentation/package.json
  documentation/typedoc.json
  viewer/src/index.ts
  viewer/src/migration.ts
  viewer/src/public/createRevealManager.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/CogniteModelBase.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
  viewer/src/public/migration/NodeIdAndTreeIndexMaps.ts
  viewer/src/public/migration/NotSupportedInMigrationWrapperError.ts
  viewer/src/public/migration/RenderController.ts
  viewer/src/public/migration/intersection.ts
  viewer/src/public/migration/types.ts
Labels: auto-merge, auto-update

#961 doc: add examples for highlighting objects and migration guide
  documentation/docs/examples/Cognite3DViewerDemo.tsx
  documentation/docs/examples/cad-colors.mdx
  documentation/docs/examples/cad-highlight.mdx
  documentation/docs/examples/cad-highlighting.mdx
  documentation/docs/migration-guide.md
  documentation/docs/overview.md
  documentation/sidebars.js
  documentation/src/components/DemoWrapper.tsx
  documentation/src/components/LiveCodeSnippet.tsx
  documentation/src/viewerUtilities.ts
  documentation/static/img/highlighted-object.png
Labels: auto-merge, auto-update

#980 fix: issue causing worldToScreen() returning wrong values when camera is being moved
  documentation/docs/examples/cad-colors.mdx
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#999 doc: switch to redirect login for compatibility with mobile/tablet
  documentation/src/utils/LoginManager.ts
Labels: auto-merge, auto-update

#981 chore: extract parser-worker as separated package
  .github/workflows/ci.yml
  .gitignore
  Cargo.toml
  README.md
  documentation/docs/installation.md
  documentation/docs/installation.mdx
  examples/config-overrides.js
  examples/package.json
  examples/public/index.html
  examples/src/routes.tsx
  examples/src/utils/example-helpers.ts
  examples/yarn.lock
  parser-worker/Cargo.toml
  parser-worker/LICENSE
  parser-worker/README.md
  parser-worker/buildUtils.js
  parser-worker/package.json
  parser-worker/reveal.parser.worker.ts
  parser-worker/rust/error.rs
  parser-worker/rust/lib.rs
  parser-worker/tsconfig.json
  parser-worker/webpack.config.js
  parser-worker/yarn.lock
  viewer/README.md
  viewer/jest.config.js
  viewer/package.json
  viewer/src/@types/env.d.ts
  viewer/src/__tests__/models/cad/emptySector.ts
  viewer/src/__tests__/setupJest.ts
  viewer/src/__tests__/views/threejs/cad/primitives.test.ts
  viewer/src/datamodels/cad/rendering/primitives.ts
  viewer/src/datamodels/cad/rendering/types.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/CadSectorParser.ts
  viewer/src/datamodels/cad/sector/types.ts
  viewer/src/experimental.ts
  viewer/src/index.ts
  viewer/src/revealEnv.ts
  viewer/src/utilities/networking/isTheSameDomain.test.ts
  viewer/src/utilities/networking/isTheSameDomain.ts
  viewer/src/utilities/workers/WorkerPool.ts
  viewer/src/utilities/workers/types/reveal.parser.types.ts
  viewer/tsconfig.json
  viewer/webpack.config.js
  viewer/yarn.lock
Labels: auto-merge, auto-update

#997 doc: update overview
  documentation/docs/getting-started.md
  documentation/docs/overview.md
  documentation/docs/overview.mdx
  documentation/sidebars.js
  documentation/static/img/cad-model.png
  documentation/static/img/pointcloud-model.png
Labels: auto-merge, auto-update

#998 mn/documentation fixes
  documentation/docs/concepts.md
  documentation/docs/examples/cad-2doverlay.mdx
  documentation/docs/examples/cad-basic.mdx
  documentation/docs/examples/cad-colors.mdx
  documentation/docs/examples/cad-highlighting.mdx
  documentation/docs/installation.mdx
  documentation/docs/migration-guide.md
  documentation/docs/overview.mdx
  documentation/src/components/DemoWrapper.tsx
  documentation/src/components/LiveCodeSnippet.tsx
  documentation/src/components/styles.module.css
  documentation/src/css/custom.css
Labels: auto-merge, auto-update

#1010 doc: add example for adding custom 3D content to the scene
  documentation/docs/examples/cad-3dobjects.mdx
  documentation/sidebars.js
  documentation/src/components/LiveCodeSnippet.tsx
  documentation/static/img/cad-skyandocean.png
  documentation/static/img/sky007.jpg
Labels: auto-merge, auto-update

#1009 chore(parser-worker): add script to create a build for cdf-hub CDN
  parser-worker/package.json
Labels: auto-merge, auto-update

#1004 chore: set body of squash commits created by Bulldozer to empty
  .bulldozer.yaml
Labels: auto-merge, auto-update

#1011 doc: fix unused variable in code example
  documentation/docs/examples/cad-3dobjects.mdx
Labels: auto-update
