Repository cognitedata/reveal, pull requests merged in 2021-05, with the labels that each got.

#1453 doc: fix broken example for clipping with an interactive manipulator [REV-151]
  documentation/docs/examples/clipping.mdx
Labels: auto-merge, auto-update

#1455 feat: add support for transparency in custom objects
  documentation/docs/examples/cad-3dobjects.mdx
  viewer/src/glsl/post-processing/outline-detect-combine.frag
Labels: auto-merge, auto-update

#1448 fix: potential race condition due to a consumed sector being used before it's referenced
  viewer/src/datamodels/cad/sector/CachedRepository.ts
Labels: auto-merge, auto-update

#1454 fix: bug causing sectors to never load after a network failure [REV-152]
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/SimpleAndDetailedToSector3D.ts
  viewer/src/datamodels/cad/sector/rxSectorUtilities.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/utilities/networking/CdfModelDataClient.ts
Labels: auto-merge, auto-update

#1458 fix: bug causing sectors to never load after a network failure [REV-152] (#1454)
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/SimpleAndDetailedToSector3D.ts
  viewer/src/datamodels/cad/sector/rxSectorUtilities.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/utilities/networking/CdfModelDataClient.ts
Labels: auto-merge, auto-update

#1461 chore: release version 1.5.3
  documentation/versioned_docs/version-1.x/API Reference.md
  viewer/package.json
Labels: auto-merge, auto-update

#1456 feat: Add axis view tool
  documentation/docs/examples/axisviewtool.mdx
  documentation/sidebars.js
  documentation/src/components/customScope.ts
  documentation/static/img/axisviewtool.png
  documentation/yarn.lock
  examples/src/pages/Migration.tsx
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/public/RevealManager.test.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/tools.ts
  viewer/src/tools/AxisView/AxisViewTool.test.ts
  viewer/src/tools/AxisView/AxisViewTool.ts
  viewer/src/tools/AxisView/types.ts
Labels: auto-update

#1463 fix: apply update to near/far planes every frame
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1464 chore: bump threejs to v125 (#1421)
  README.md
  documentation/docs/installation.mdx
  examples/package.json
  examples/src/pages/Migration.tsx
  examples/src/pages/e2e/cad/UserRenderTargetTestPage.tsx
  examples/yarn.lock
  viewer/package.json
  viewer/src/datamodels/cad/picking.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.ts
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.test.ts
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/tools/DebugCameraTool.ts
  viewer/src/utilities/WebGLRendererStateHelper.test.ts
  viewer/src/utilities/WebGLRendererStateHelper.ts
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1466 fix: apply update to near/far planes every frame (#1463)
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1465 doc: update doc for installation
  README.md
  documentation/docs/installation.mdx
Labels: auto-merge, auto-update

#1469 fix: force rerender after screenshot to avoid black screen [REV-153]
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1472 chore: set threejs to a static version and add as common dependency
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1470 chore: update direct dependencies
  viewer/package.json
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.ts
  viewer/src/public/migration/NodeIdAndTreeIndexMaps.ts
  viewer/yarn.lock
Labels: auto-update

#1471 chore: update default axis view tool labels
  viewer/src/tools/AxisView/types.ts
Labels: auto-merge, auto-update

#1475 chore: reveal-parser-worker@1.1.1 – breaking comlink update
  .github/workflows/ci.yml
  parser-worker/package.json
  parser-worker/yarn.lock
Labels: auto-merge

#1477 chore: disable rust clippy in parser-worker upload workflow
  .github/workflows/upload-worker.yml
Labels: auto-merge

#1478 fix: use parser-worker-1.1.1 and freeze comlink version
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge

#1479 fix: proper version check of parser-worker
  viewer/src/utilities/workers/WorkerPool.ts
Labels: auto-merge

#1480 @cognite/reveal@1.5.5 - fix issue with comlink dependency
  .github/workflows/ci.yml
  documentation/versioned_docs/version-1.x/API Reference.md
  parser-worker/package.json
  parser-worker/yarn.lock
  viewer/package.json
  viewer/src/utilities/workers/WorkerPool.ts
  viewer/yarn.lock
Labels: auto-merge

#1482 chore: don't check worker version in tests
  viewer/src/utilities/workers/WorkerPool.ts
Labels: auto-merge, auto-update

#1481 chore: pin rust to 1.51.0
  .github/workflows/ci.yml
  rust-toolchain
Labels: auto-merge, auto-update

#1483 chore: don't check worker version in tests (#1482)
  viewer/src/utilities/workers/WorkerPool.ts
Labels: auto-merge, auto-update

#1484 fix: issue with MSAA quality setting causing black screen
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
Labels: auto-merge, auto-update

#1473 improvement: better handling of errors in web workers
  viewer/src/utilities/workers/WorkerPool.ts
Labels: auto-merge, auto-update

#1486 chore: copyright updates
  documentation/docs/demos/Cognite3DViewerDemo.tsx
  documentation/docs/demos/ModelPreviewDemo.tsx
  documentation/src/components/DemoLoginCover.tsx
  documentation/src/components/DemoProps.d.ts
  documentation/src/components/DemoWrapper.tsx
  documentation/src/components/styled.tsx
  documentation/src/utils/LoginManager.ts
  documentation/versioned_docs/version-1.x/demos/Cognite3DViewerDemo.tsx
  documentation/versioned_docs/version-1.x/demos/ModelPreviewDemo.tsx
  examples/src/App.tsx
  examples/src/components/styled.ts
  examples/src/index.css
  examples/src/pages/Clipping.tsx
  examples/src/pages/Filtering.tsx
  examples/src/pages/Migration.tsx
  examples/src/pages/Picking.tsx
  examples/src/pages/SSAO.tsx
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/Simple.tsx
  examples/src/pages/SimplePointcloud.tsx
  examples/src/pages/TwoModels.tsx
  examples/src/pages/WalkablePath.tsx
  examples/src/pages/e2e/cad/ClippingTestPage.tsx
  examples/src/pages/e2e/cad/DefaultCadTestPage.tsx
  examples/src/pages/e2e/cad/DefaultCameraTestPage.tsx
  examples/src/pages/e2e/cad/GhostModeTestPage.tsx
  examples/src/pages/e2e/cad/HighlightTestPage.tsx
  examples/src/pages/e2e/cad/NodeTransformTestPage.tsx
  examples/src/pages/e2e/cad/RotationTestPage.tsx
  examples/src/pages/e2e/cad/ScaledModelTestPage.tsx
  examples/src/pages/e2e/cad/SsaoTestPage.tsx
  examples/src/pages/e2e/cad/UserRenderTargetTestPage.tsx
  examples/src/pages/e2e/pointcloud/DefaultPointCloud.tsx
  examples/src/process.env.d.ts
  examples/src/routes.tsx
  examples/src/utils/AnimationLoopHandler.ts
  examples/src/utils/cameraControls.ts
  examples/src/utils/example-helpers.ts
  examples/src/utils/renderer-debug-widget.ts
  examples/src/utils/sceneHelpers.ts
  parser-worker/RevealParserWorker.ts
  parser-worker/createDetailedGeometry.ts
  parser-worker/index.ts
  parser-worker/types.ts
  viewer/src/__testutilities__/wait.ts
Labels: auto-merge, auto-update

#1487 chore: use --frozen-lockfile to avoid updating deps during CI builds
  .github/workflows/ci.yml
  .github/workflows/github-pages.yml
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update

#1485 docs: add notes about releasing parser-worker; remove three.js mention from docs
  README.md
  documentation/docs/installation.mdx
  parser-worker/README.md
Labels: auto-merge, auto-update

#1476 chore: remove deprecated functionality [REV-165]
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.test.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/types.ts
Labels: auto-update

#1492 chore: cleanup some TODOs
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/parsers/CadMetadataParserV8.ts
  viewer/src/glsl/base/constructMatrix.glsl
Labels: auto-update

#1496 doc: minor doc improvement
  documentation/docs/examples/axisviewtool.mdx
  documentation/docs/examples/cad-styling-assets.mdx
  documentation/docs/examples/cad-styling-nodes.mdx
Labels: auto-merge, auto-update

#1494 chore: bump ThreeJS to r128
  examples/package.json
  examples/src/visual_tests/__image_snapshots__/cad_userRenderTarget-snap.png
  examples/yarn.lock
  viewer/package.json
  viewer/src/__testutilities__/createGlContext.ts
  viewer/src/datamodels/cad/picking.test.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.test.ts
  viewer/src/datamodels/cad/rendering/RenderAlreadyLoadedGeometryProvider.test.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.test.ts
  viewer/src/public/RevealManager.test.ts
  viewer/src/public/migration/Cognite3DViewer.test.ts
  viewer/src/tools/AxisView/AxisViewTool.test.ts
  viewer/src/tools/AxisView/AxisViewTool.ts
  viewer/src/tools/HtmlOverlayTool.test.ts
  viewer/src/utilities/WebGLRendererStateHelper.test.ts
  viewer/src/utilities/datastructures/DynamicDefragmentedBuffer.ts
  viewer/src/utilities/types.ts
  viewer/yarn.lock
Labels: auto-update

#1498 chore: fix docs threejs version
  documentation/package.json
  documentation/yarn.lock
Labels: auto-merge, auto-update

#1499 chore: remove stale docs for old node styling API
  documentation/docs/examples/cad-colors.mdx
  documentation/docs/examples/cad-ghostmode.mdx
  documentation/docs/examples/cad-highlighting.mdx
  documentation/docs/examples/cad-nodefiltering.mdx
  documentation/docs/examples/node-visiting.mdx
  documentation/sidebars.js
Labels: auto-update

#1501 chore: clean dist before building for prod
  viewer/package.json
Labels: auto-merge, auto-update
