Repository cognitedata/reveal, pull requests merged in 2021-04, with the labels that each got.

#1412 improvement: batch drawing of instanced meshes across sectors to reduce draw calls
  examples/src/visual_tests/basic.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/InstancedMeshManager.test.ts
  viewer/src/datamodels/cad/InstancedMeshManager.ts
  viewer/src/datamodels/cad/rendering/instancedMeshes.ts
  viewer/src/datamodels/cad/rendering/types.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/ModelStateHandler.test.ts
  viewer/src/datamodels/cad/sector/SimpleAndDetailedToSector3D.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.test.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/datamodels/cad/sector/types.ts
  viewer/src/glsl/sector/instancedMesh.vert
  viewer/src/utilities/datastructures/DynamicDefragmentedBuffer.test.ts
  viewer/src/utilities/datastructures/DynamicDefragmentedBuffer.ts
Labels: auto-merge, auto-update

#1411 improvement: iteratively load sectors and cull them towards already loaded geometry before loading
  examples/src/pages/Clipping.tsx
  examples/src/pages/Filtering.tsx
  examples/src/pages/Migration.tsx
  examples/src/pages/Picking.tsx
  examples/src/pages/SSAO.tsx
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/SideBySide.tsx
  examples/src/pages/Simple.tsx
  examples/src/pages/SimplePointcloud.tsx
  examples/src/pages/TwoModels.tsx
  examples/src/pages/WalkablePath.tsx
  examples/src/pages/WebGLTwo.tsx
  examples/src/pages/e2e/TestViewer.tsx
  examples/src/routes.tsx
  examples/src/utils/OverrideSectorCuller.ts
  examples/src/utils/renderer-debug-widget.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadMaterialManager.ts
  viewer/src/datamodels/cad/CadModelFactory.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.test.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/InstancedMeshManager.test.ts
  viewer/src/datamodels/cad/InstancedMeshManager.ts
  viewer/src/datamodels/cad/createCadManager.ts
  viewer/src/datamodels/cad/picking.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.test.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/datamodels/cad/rendering/RenderAlreadyLoadedGeometryProvider.test.ts
  viewer/src/datamodels/cad/rendering/RenderAlreadyLoadedGeometryProvider.ts
  viewer/src/datamodels/cad/rendering/RenderMode.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/Repository.ts
  viewer/src/datamodels/cad/sector/SimpleAndDetailedToSector3D.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/OccludingGeometryProvider.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.test.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.ts
  viewer/src/datamodels/cad/sector/culling/SectorCuller.ts
  viewer/src/datamodels/cad/sector/rxSectorUtilities.ts
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.ts
  viewer/src/glsl/base/updateFragmentColor.glsl
  viewer/src/glsl/sector/sectorCoverage.frag
  viewer/src/glsl/sector/sectorCoverage.vert
  viewer/src/public/RevealManager.test.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/createRevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.test.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/types.ts
  viewer/src/tools/HtmlOverlayTool.test.ts
  viewer/src/utilities/WebGLRendererStateHelper.test.ts
  viewer/src/utilities/WebGLRendererStateHelper.ts
  viewer/src/utilities/types.ts
Labels: auto-update

#1417 improvement: add ability to color sector bounding boxes by loaded timestamp for debugging
  examples/src/pages/Migration.tsx
  viewer/src/datamodels/cad/sector/SectorNode.ts
  viewer/src/tools/DebugLoadedSectorsTool.ts
Labels: auto-merge, auto-update

#1416 feat: allow providing geometryFilter in "model space"
  documentation/docs/examples/cad-basic.mdx
  examples/src/pages/Migration.tsx
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/types.ts
Labels: auto-merge, auto-update

#1420 chore: reduce width of UI controls to max 80% of screen width
  examples/src/pages/Migration.tsx
Labels: auto-merge, auto-update

#1422 feat: add geometry type color mode for debugging rendering
  examples/src/pages/Migration.tsx
  viewer/src/datamodels/cad/rendering/RenderMode.ts
  viewer/src/glsl/base/geometryTypes.glsl
  viewer/src/glsl/base/updateFragmentColor.glsl
  viewer/src/glsl/sector/instancedMesh.frag
  viewer/src/glsl/sector/mesh.frag
  viewer/src/glsl/sector/primitives/circle.frag
  viewer/src/glsl/sector/primitives/cone.frag
  viewer/src/glsl/sector/primitives/eccentricCone.frag
  viewer/src/glsl/sector/primitives/ellipsoidSegment.frag
  viewer/src/glsl/sector/primitives/generalCylinder.frag
  viewer/src/glsl/sector/primitives/generalring.frag
  viewer/src/glsl/sector/primitives/instanced.frag
  viewer/src/glsl/sector/primitives/sphericalSegment.frag
  viewer/src/glsl/sector/primitives/torusSegment.frag
  viewer/src/glsl/sector/primitives/trapezium.frag
  viewer/src/glsl/sector/simple.frag
Labels: auto-merge, auto-update

#1421 Bump threejs to v125
  examples/package.json
  examples/src/pages/Migration.tsx
  examples/src/pages/e2e/cad/UserRenderTargetTestPage.tsx
  examples/yarn.lock
  viewer/package.json
  viewer/src/datamodels/cad/picking.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/datamodels/cad/sector/SectorNode.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.ts
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.test.ts
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/tools/DebugCameraTool.ts
  viewer/src/utilities/WebGLRendererStateHelper.test.ts
  viewer/src/utilities/WebGLRendererStateHelper.ts
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1425 chore: don't generate a new distinct_id for each session to avoid high MixPanel costs
  viewer/src/utilities/metrics.ts
Labels: auto-update

#1430 chore: disable clippy lint rule
  f3df/src/lib.rs
  i3df/src/lib.rs
  openctm/src/lib.rs
Labels: auto-update

#1431 wip: docs preview experiments
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/github-pages.yml
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update

#1432 chore: use deploy keys to publish PR previews and documentation site
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/github-pages.yml
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update

#1437 chore: yarn upgrade
  documentation/package.json
  documentation/yarn.lock
  examples/package.json
  examples/yarn.lock
  f3df/src/lib.rs
  i3df/src/lib.rs
  openctm/src/lib.rs
  parser-worker/yarn.lock
  viewer/package.json
  viewer/src/datamodels/cad/rendering/EffectRenderManager.test.ts
  viewer/yarn.lock
Labels: auto-update

#1435 fix: issue causing missing geometry when sectors was loaded from cache [REV-150]
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/SectorNode.ts
  viewer/src/utilities/MostFrequentlyUsedCache.test.ts
  viewer/src/utilities/MostFrequentlyUsedCache.ts
  viewer/src/utilities/cache/MemoryRequestCache.test.ts
  viewer/src/utilities/cache/MemoryRequestCache.ts
Labels: auto-merge, auto-update

#1436 chore: don't generate a new distinct_id for each session to avoid high MixPanel costs (#1425)
  viewer/src/utilities/metrics.ts
Labels: auto-merge, auto-update

#1441 chore: release 1.5.1
  documentation/versioned_docs/version-1.x/API Reference.md
  viewer/package.json
Labels: auto-merge

#1442 doc: update links to doc and parser-worker
  README.md
  viewer/README.md
Labels: auto-merge, auto-update

#1438 chore: remove step that has been deprecated in CodeQL config
  .github/codeql-config.yml
  .github/workflows/codeql.yml
Labels: auto-merge, auto-update

#1440 chore: add some docs on how to release version 1 fixes
  README.md
Labels: auto-merge, auto-update

#1443 fix: issue causing missing geometry when cache runs full [REV-150]
  examples/yarn.lock
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/SectorNode.ts
  viewer/src/datamodels/cad/sector/SimpleAndDetailedToSector3D.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/datamodels/cad/sector/types.ts
  viewer/src/utilities/three/AutoDisposeGroup.test.ts
  viewer/src/utilities/three/AutoDisposeGroup.ts
  viewer/src/utilities/three/index.ts
Labels: auto-merge, auto-update
