Repository cognitedata/reveal, pull requests merged in 2021-02, with the labels that each got.

#1367 minor changes in upload-worker workflow
  .github/workflows/upload-worker.yml
  parser-worker/uploadToCDN.js
  parser-worker/webpack.config.js
Labels: auto-merge, auto-update

#1368 fix(parser-worker): downgrade webpack to fix cdn build
  parser-worker/package.json
  parser-worker/webpack.config.js
  parser-worker/yarn.lock
Labels: auto-merge, auto-update

#1362 feat: utility functions to manage HTML overlays in Cognite3dViewer [REV-81]
  documentation/docs/examples/cad-2doverlay.mdx
  documentation/package.json
  documentation/src/components/customScope.ts
  documentation/static/img/cad-overlay-fixed.webm
  documentation/static/img/cad-overlay-updating.webm
  examples/src/pages/DistanceMeasurement.tsx
  examples/src/routes.tsx
  viewer/jest.config.js
  viewer/src/index.ts
  viewer/src/public/migration/Cognite3DViewer.test.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/types.ts
  viewer/src/tools.ts
  viewer/src/tools/Cognite3DViewerToolBase.test.ts
  viewer/src/tools/Cognite3DViewerToolBase.ts
  viewer/src/tools/HtmlOverlayTool.test.ts
  viewer/src/tools/HtmlOverlayTool.ts
  viewer/src/utilities/HtmlOverlayHelper.test.ts
  viewer/src/utilities/HtmlOverlayHelper.ts
  viewer/src/utilities/index.ts
  viewer/src/utilities/worldToViewport.ts
  viewer/tsconfig.json
  viewer/webpack.config.js
Labels: auto-update

#1370 chore: introduce utility class EventTrigger for handling events
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/tools/Cognite3DViewerToolBase.ts
  viewer/src/utilities/events/EventTrigger.test.ts
  viewer/src/utilities/events/EventTrigger.ts
  viewer/src/utilities/events/index.ts
Labels: auto-merge, auto-update

#1374 fix: bug causing Z-fighting for low-detail geometry [REV-106]
  viewer/src/datamodels/cad/MaterialManager.ts
  viewer/src/datamodels/cad/rendering/materials.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
Labels: auto-merge, auto-update

#1373 chore: bind animate() once, not every animation frame
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1372 feat: add ssao shading to render pipeline
  examples/src/pages/Migration.tsx
  examples/src/pages/SSAO.tsx
  examples/src/pages/e2e/TestViewer.tsx
  examples/src/pages/e2e/cad/SsaoTestPage.tsx
  examples/src/routes.tsx
  examples/src/visual_tests/__image_snapshots__/cad_ssao-snap.png
  examples/src/visual_tests/basic.test.ts
  examples/src/visual_tests/testUtils.ts
  viewer/src/datamodels/cad/index.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/datamodels/cad/rendering/post-processing/ssao.ts
  viewer/src/datamodels/cad/rendering/shaders.ts
  viewer/src/experimental.ts
  viewer/src/glsl/post-processing/pure-depth-ssao.frag
  viewer/src/glsl/post-processing/ssao-blur-combine.frag
  viewer/src/glsl/post-processing/ssao-final.frag
  viewer/src/glsl/post-processing/ssao.frag
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/types.ts
  viewer/src/public/types.ts
Labels: auto-merge

#1376 doc: fix examples not working [REV-109]
  documentation/src/viewerUtilities.ts
Labels: auto-merge, auto-update

#1377 fix: convert geometry filters to model/threejs space before applying them and remove them when model is removed [REV-111, REV-112]
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update
