Repository cognitedata/reveal, pull requests merged in 2021-06, with the labels that each got.

#1504 fix: Bug causing black fade for cad models when resizing screen
  viewer/src/glsl/post-processing/outline-detect-combine.frag
Labels: auto-merge, auto-update

#1506 feat: add Cognite3DViewer.models to access currently added models
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1503 chore: adjust release procedure to account for beta releases
  README.md
Labels: auto-merge, auto-update

#1512 chore: fix customScope for 1.x docs
  documentation/docs/components/customScope.ts
  documentation/src/plugins/remark-runnable-reveal-demo.js
  documentation/versioned_docs/version-1.x/examples/cad-2doverlay.mdx
  documentation/versioned_docs/version-1.x/examples/cad-3dobjects.mdx
  documentation/versioned_docs/version-1.x/examples/cad-basic.mdx
  documentation/versioned_docs/version-1.x/examples/cad-colors.mdx
  documentation/versioned_docs/version-1.x/examples/cad-explode.mdx
  documentation/versioned_docs/version-1.x/examples/cad-ghostmode.mdx
  documentation/versioned_docs/version-1.x/examples/cad-highlighting.mdx
  documentation/versioned_docs/version-1.x/examples/cad-nodefiltering.mdx
  documentation/versioned_docs/version-1.x/examples/cad-transform-override.mdx
  documentation/versioned_docs/version-1.x/examples/clipping.mdx
  documentation/versioned_docs/version-1.x/examples/combine-models.mdx
  documentation/versioned_docs/version-1.x/examples/node-visiting.mdx
  documentation/versioned_docs/version-1.x/examples/pointcloud-intersections.mdx
  documentation/versioned_docs/version-1.x/examples/pointcloud.mdx
Labels: auto-merge, auto-update

#1514 chore: fix typo 'apperance' to 'apperance'
  documentation/docs/examples/cad-styling-migrating-from-version-1.mdx
  documentation/docs/examples/cad-styling.mdx
  documentation/docs/utils/viewerUtilities.ts
  examples/src/pages/e2e/cad/HighlightTestPage.tsx
  viewer/src/datamodels/cad/CadMaterialManager.ts
  viewer/src/datamodels/cad/NodeAppearance.ts
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-update

#1505 doc: update migration documentation to accomodate for migration from version 1 to 2
  documentation/docs/components/customScope.ts
  documentation/docs/examples/cad-styling-migrating-from-version-1.mdx
  documentation/docs/examples/cad-styling-nodes.mdx
  documentation/docs/examples/cad-styling.mdx
  documentation/docs/installation.mdx
  documentation/docs/migration-guide.md
  documentation/package.json
  documentation/sidebars.js
  documentation/yarn.lock
Labels: auto-merge, auto-update

#1519 feat: add NodeSet.clear()
  documentation/docs/examples/cad-styling-custom.mdx
  viewer/src/datamodels/cad/ByNodePropertyNodeSet.test.ts
  viewer/src/datamodels/cad/styling/ByAssetNodeSet.ts
  viewer/src/datamodels/cad/styling/ByNodePropertyNodeSet.ts
  viewer/src/datamodels/cad/styling/ByTreeIndexNodeSet.ts
  viewer/src/datamodels/cad/styling/CombinedNodeSet.test.ts
  viewer/src/datamodels/cad/styling/CombinedNodeSet.ts
  viewer/src/datamodels/cad/styling/InvertedNodeSet.ts
  viewer/src/datamodels/cad/styling/NodeAppearanceProvider.test.ts
  viewer/src/datamodels/cad/styling/NodeSet.ts
Labels: auto-update

#1508 chore: upgrade viewer/examples to TypeScript 4.3
  examples/package.json
  examples/tsconfig.json
  examples/yarn.lock
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1515 test: add unit test for partitions with ByNodePropertySet
  viewer/src/datamodels/cad/styling/ByNodePropertyNodeSet.test.ts
  viewer/src/datamodels/cad/styling/ByNodePropertyNodeSet.ts
Labels: auto-merge, auto-update

#1522 doc: remove @version info about stuff being new in 2.0.0
  documentation/README.md
  viewer/src/datamodels/cad/styling/ByAssetNodeSet.ts
  viewer/src/datamodels/cad/styling/ByNodePropertyNodeSet.ts
  viewer/src/datamodels/cad/styling/ByTreeIndexNodeSet.ts
  viewer/src/datamodels/cad/styling/CombinedNodeSet.ts
  viewer/src/datamodels/cad/styling/InvertedNodeSet.ts
  viewer/src/datamodels/cad/styling/NodeSet.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/public/migration/CognitePointCloudModel.ts
  viewer/src/public/migration/types.ts
  viewer/src/public/types.ts
  viewer/src/utilities/types.ts
Labels: auto-merge, auto-update

#1513 chore: replace gl-matrix with ThreeJS
  examples/package.json
  examples/src/pages/WalkablePath.tsx
  viewer/package.json
  viewer/src/__testutilities__/createSectorMetadata.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/cameraconfig.ts
  viewer/src/datamodels/cad/parsers/CadMetadataParserV8.test.ts
  viewer/src/datamodels/cad/parsers/CadMetadataParserV8.ts
  viewer/src/datamodels/cad/sector/CadModelClipper.test.ts
  viewer/src/datamodels/cad/sector/CadModelClipper.ts
  viewer/src/datamodels/cad/sector/ModelStateHandler.test.ts
  viewer/src/datamodels/cad/sector/RootSectorNode.ts
  viewer/src/datamodels/cad/sector/SectorScene.test.ts
  viewer/src/datamodels/cad/sector/SectorScene.ts
  viewer/src/datamodels/cad/sector/SimpleAndDetailedToSector3D.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.test.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.test.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/datamodels/cad/sector/types.ts
  viewer/src/datamodels/pointcloud/PointCloudNode.ts
  viewer/src/datamodels/pointcloud/PotreeNodeWrapper.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/utilities/Box3.test.ts
  viewer/src/utilities/Box3.ts
  viewer/src/utilities/index.ts
  viewer/src/utilities/three/dumpRendererToImage.ts
  viewer/src/utilities/three/getBox3CornerPoints.ts
  viewer/src/utilities/three/index.ts
  viewer/src/utilities/threeConverters.test.ts
  viewer/src/utilities/threeConverters.ts
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1507 docs: update to latest typedoc and Typescript 4.2
  documentation/docs/API_Reference_header.md
  documentation/package.json
  documentation/typedoc.json
  documentation/yarn.lock
  viewer/src/index.ts
  viewer/src/tools.ts
Labels: auto-update

#1527 improvement: improve performance of applying styles by avoiding allocations of arrays
  viewer/src/datamodels/cad/styling/NodeAppearanceTextureBuilder.ts
  viewer/src/datamodels/cad/styling/PopulateIndexSetFromPagedResponseHelper.test.ts
  viewer/src/utilities/indexset/IndexSet.test.ts
  viewer/src/utilities/indexset/IndexSet.ts
  viewer/src/utilities/indexset/IntermediateIndexNode.ts
  viewer/src/utilities/indexset/LeafIndexNode.ts
Labels: auto-update

#1526 chore: remove Cognite3DModel.loadingHints
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#1525 feat: Cognite3DModel.getSubtreeIndices() now returns a range
  documentation/docs/examples/cad-styling.mdx
  documentation/docs/migration-guide.md
  examples/src/pages/Migration.tsx
  viewer/src/datamodels/cad/styling/ByTreeIndexNodeSet.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/tools/ExplodedViewTool.ts
  viewer/src/utilities/indexset/IndexSet.ts
Labels: auto-merge, auto-update

#1528 doc: minor wording improvement
  documentation/docs/examples/cad-styling-nodes.mdx
Labels: auto-merge, auto-update

#1531 fix: remove @internal from Cognite3DViewerToolBase
  viewer/src/tools/Cognite3DViewerToolBase.ts
Labels: auto-merge, auto-update

#1529 feature: styling is now "additive" to allow combining styles on the fly
  documentation/docs/examples/cad-styling.mdx
  viewer/src/datamodels/cad/CadMaterialManager.ts
  viewer/src/datamodels/cad/NodeAppearance.ts
  viewer/src/datamodels/cad/styling/NodeAppearanceProvider.test.ts
  viewer/src/datamodels/cad/styling/NodeAppearanceProvider.ts
  viewer/src/datamodels/cad/styling/NodeAppearanceTextureBuilder.test.ts
  viewer/src/datamodels/cad/styling/NodeAppearanceTextureBuilder.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/utilities/indexset/IndexSet.ts
Labels: auto-update

#1536 docs: fix example in cad-styling-custom.mdx
  documentation/docs/examples/cad-styling-custom.mdx
Labels: auto-merge, auto-update

#1532 chore: ignore warnings about WebGLMultisampleRenderTarget in unit tests
  viewer/src/__testutilities__/createGlContext.ts
Labels: auto-merge, auto-update

#1523 feat: Implement save / restore viewer state
  documentation/docs/examples/cad-save-viewerstate.mdx
  documentation/docs/utils/viewerUtilities.ts
  documentation/sidebars.js
  documentation/yarn.lock
  viewer/src/datamodels/cad/styling/ByAssetNodeSet.ts
  viewer/src/datamodels/cad/styling/ByNodePropertyNodeSet.ts
  viewer/src/datamodels/cad/styling/ByTreeIndexNodeSet.ts
  viewer/src/datamodels/cad/styling/CombinedNodeSet.test.ts
  viewer/src/datamodels/cad/styling/CombinedNodeSet.ts
  viewer/src/datamodels/cad/styling/InvertedNodeSet.ts
  viewer/src/datamodels/cad/styling/NodeAppearanceProvider.test.ts
  viewer/src/datamodels/cad/styling/NodeSet.ts
  viewer/src/datamodels/cad/styling/NodeSetDeserializer.ts
  viewer/src/datamodels/cad/styling/index.ts
  viewer/src/index.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/ViewStateHelper.ts
Labels: auto-update

#1539 refac: rename NodeSet to NodeCollection
  documentation/docs/examples/cad-save-viewerstate.mdx
  documentation/docs/examples/cad-styling-assets.mdx
  documentation/docs/examples/cad-styling-custom.mdx
  documentation/docs/examples/cad-styling-nodes.mdx
  documentation/docs/examples/cad-styling.mdx
  documentation/docs/migration-guide.md
  documentation/docs/utils/viewerUtilities.ts
  examples/src/pages/Migration.tsx
  examples/src/pages/e2e/cad/HighlightTestPage.tsx
  examples/yarn.lock
  viewer/src/datamodels/cad/CadMaterialManager.test.ts
  viewer/src/datamodels/cad/styling/AssetNodeCollection.ts
  viewer/src/datamodels/cad/styling/CombineNodeCollectionBase.ts
  viewer/src/datamodels/cad/styling/CombinedNodeSet.test.ts
  viewer/src/datamodels/cad/styling/CombinedNodeSet.ts
  viewer/src/datamodels/cad/styling/IntersectionNodeCollection.test.ts
  viewer/src/datamodels/cad/styling/IntersectionNodeCollection.ts
  viewer/src/datamodels/cad/styling/InvertedNodeCollection.ts
  viewer/src/datamodels/cad/styling/NodeAppearanceProvider.test.ts
  viewer/src/datamodels/cad/styling/NodeAppearanceProvider.ts
  viewer/src/datamodels/cad/styling/NodeAppearanceTextureBuilder.test.ts
  viewer/src/datamodels/cad/styling/NodeCollectionBase.ts
  viewer/src/datamodels/cad/styling/NodeCollectionDeserializer.ts
  viewer/src/datamodels/cad/styling/NodeSetDeserializer.ts
  viewer/src/datamodels/cad/styling/PopulateIndexSetFromPagedResponseHelper.ts
  viewer/src/datamodels/cad/styling/PropertyFilterNodeCollection.test.ts
  viewer/src/datamodels/cad/styling/PropertyFilterNodeCollection.ts
  viewer/src/datamodels/cad/styling/TreeIndexNodeCollection.ts
  viewer/src/datamodels/cad/styling/UnionNodeCollection.test.ts
  viewer/src/datamodels/cad/styling/UnionNodeCollection.ts
  viewer/src/datamodels/cad/styling/index.ts
  viewer/src/datamodels/cad/styling/stubs/StubNodeCollection.ts
  viewer/src/index.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/ViewStateHelper.ts
  viewer/src/utilities/indexset/IndexSet.ts
  viewer/webpack.config.js
Labels: auto-update

#1540 refac: make Cognite3DViewer.getIntersectionFromPixel async [REV-176]
  documentation/docs/examples/cad-2doverlay.mdx
  documentation/docs/examples/cad-3dobjects.mdx
  documentation/docs/examples/pointcloud-intersections.mdx
  documentation/docs/migration-guide.md
  examples/src/pages/Migration.tsx
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-update

#1541 improvement: replace pink and purple outline colors with green and red [REV-171]
  documentation/docs/examples/cad-styling.mdx
  viewer/src/datamodels/cad/NodeAppearance.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/utilities/types.ts
Labels: auto-merge, auto-update

#1516 feat: add ByNodePropertyMultiValueNodeSet for matching on many property values
  documentation/docs/examples/cad-styling-nodes.mdx
  documentation/docs/examples/cad-styling.mdx
  viewer/src/datamodels/cad/styling/AssetNodeCollection.ts
  viewer/src/datamodels/cad/styling/NodeCollectionDeserializer.ts
  viewer/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.test.ts
  viewer/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.ts
  viewer/src/datamodels/cad/styling/index.ts
  viewer/src/index.ts
Labels: auto-update, do-not-merge

#1544 fix: add assert as a direct dependency to make sure it's available in client projects
  viewer/package.json
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1545 fix: remove @internal from serialize() implementations
  viewer/src/datamodels/cad/styling/AssetNodeCollection.ts
  viewer/src/datamodels/cad/styling/IntersectionNodeCollection.ts
  viewer/src/datamodels/cad/styling/InvertedNodeCollection.ts
  viewer/src/datamodels/cad/styling/PropertyFilterNodeCollection.ts
  viewer/src/datamodels/cad/styling/SinglePropertyFilterNodeCollection.ts
  viewer/src/datamodels/cad/styling/TreeIndexNodeCollection.ts
  viewer/src/datamodels/cad/styling/UnionNodeCollection.ts
Labels: auto-merge, auto-update

#1548 doc: minor release procedure doc improvement
  README.md
Labels: auto-merge, auto-update

#1546 refac: remove redundant call to clone()
  viewer/src/utilities/WebGLRendererStateHelper.ts
Labels: auto-merge, auto-update

#1547 feat: allow disabling geometry filter for models added from the GUI in the "migration" example
  examples/src/pages/Migration.tsx
Labels: auto-merge, auto-update

#1543 docs: allow classes and async/await in live examples
  documentation/docs/components/LiveCodeSnippet.tsx
  documentation/docs/examples/cad-save-viewerstate.mdx
  documentation/docs/examples/cad-styling-custom.mdx
  documentation/package.json
  documentation/yarn.lock
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#1553 feat: repurpose Spinner to be Spinner+CogniteLogo which is always visible
  examples/yarn.lock
  viewer/jest.config.js
  viewer/package.json
  viewer/src/@types/modules/index.d.ts
  viewer/src/__mocks__/svgMock.js
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/Spinner.test.ts
  viewer/src/utilities/Spinner.ts
  viewer/src/utilities/spinnerCogniteLogo.svg
  viewer/src/utilities/spinnerStyles.css
Labels: auto-merge, auto-update

#1551 improvement: CTM cache will no longer trigger many requests for the same file
  viewer/src/datamodels/cad/sector/CachedRepository.ts
Labels: auto-merge, auto-update

#1556 chore: dont use force_orphan option, it wipes out everything
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update

#1555 fix: not able to load same model twice [REV-132]
  .github/workflows/preview-documentation-cleanup.yml
  examples/src/utils/renderer-debug-widget.ts
  viewer/package.json
  viewer/src/__testutilities__/asyncIteratorToArray.ts
  viewer/src/__testutilities__/createCadModelMetadata.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadModelFactory.ts
  viewer/src/datamodels/cad/CadModelMetadata.ts
  viewer/src/datamodels/cad/CadModelMetadataRepository.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/ModelStateHandler.test.ts
  viewer/src/datamodels/cad/sector/ModelStateHandler.ts
  viewer/src/datamodels/cad/sector/SectorLoader.test.ts
  viewer/src/datamodels/cad/sector/SectorLoader.ts
  viewer/src/datamodels/cad/sector/SimpleAndDetailedToSector3D.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.test.ts
  viewer/src/datamodels/cad/sector/culling/OrderSectorsByVisibilityCoverage.ts
  viewer/src/datamodels/cad/sector/culling/SectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/TakenSectorTree.test.ts
  viewer/src/datamodels/cad/sector/culling/TakenSectorTree.ts
  viewer/src/datamodels/cad/sector/culling/types.ts
  viewer/src/datamodels/cad/sector/rxSectorUtilities.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/datamodels/cad/sector/types.ts
  viewer/src/datamodels/pointcloud/PointCloudFactory.ts
  viewer/src/datamodels/pointcloud/PointCloudMetadata.ts
  viewer/src/datamodels/pointcloud/PointCloudMetadataRepository.ts
  viewer/src/public/migration/Cognite3DViewer.ts
  viewer/src/utilities/PromiseUtils.test.ts
  viewer/src/utilities/PromiseUtils.ts
  viewer/src/utilities/RxTaskTracker.test.ts
  viewer/src/utilities/RxTaskTracker.ts
  viewer/src/utilities/networking/CdfModelDataClient.ts
  viewer/src/utilities/networking/LocalModelDataClient.ts
  viewer/src/utilities/networking/types.ts
  viewer/yarn.lock
Labels: auto-update

#1538 feat: add Cognite3DModel.getAncestorsByTreeIndices and add example for highlight-on-click
  documentation/docs/examples/click-reactions-cad.mdx
  documentation/docs/examples/click-reactions-pointcloud.mdx
  documentation/sidebars.js
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-update

#1559 chore(viewer): bump version 2.0.0-beta.4
  viewer/package.json
Labels: auto-merge
