Repository cognitedata/reveal, pull requests merged in 2021-01, with the labels that each got.

#1335 docs: add algolia search
  documentation/docusaurus.config.js
  documentation/yarn.lock
Labels: auto-merge, auto-update

#1315 chore(refac): simplify sector loading pipeline
  examples/src/pages/Migration.tsx
  viewer/package.json
  viewer/src/__tests__/cache/MemoryCache.test.ts
  viewer/src/__tests__/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/src/__tests__/dataModels/cad/internal/CadModelUpdateHandler.test.ts
  viewer/src/__tests__/dataModels/cad/sector/culling/CadSectorLoader.test.ts
  viewer/src/__tests__/models/cad/emptySector.ts
  viewer/src/__tests__/repository/cad/CachedRepository.test.ts
  viewer/src/__tests__/setupJest.ts
  viewer/src/__tests__/utilities/cache/MostFrequentlyUsedCache.test.ts
  viewer/src/__tests__/views/threejs/cad/consumeSectorDetailed.test.ts
  viewer/src/__tests__/views/threejs/cad/primitives.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/CadNode.ts
  viewer/src/datamodels/cad/createCadManager.ts
  viewer/src/datamodels/cad/rendering/primitives.ts
  viewer/src/datamodels/cad/rendering/types.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/CadDetailedSectorLoader.ts
  viewer/src/datamodels/cad/sector/CadSectorLoader.ts
  viewer/src/datamodels/cad/sector/CadSectorParser.ts
  viewer/src/datamodels/cad/sector/CadSimpleSectorLoader.ts
  viewer/src/datamodels/cad/sector/LevelOfDetail.ts
  viewer/src/datamodels/cad/sector/ModelStateHandler.test.ts
  viewer/src/datamodels/cad/sector/ModelStateHandler.ts
  viewer/src/datamodels/cad/sector/Repository.ts
  viewer/src/datamodels/cad/sector/culling/TakenSectorTree.ts
  viewer/src/datamodels/cad/sector/culling/types.ts
  viewer/src/datamodels/cad/sector/rxSectorUtilities.ts
  viewer/src/datamodels/cad/sector/sectorUtilities.ts
  viewer/src/datamodels/cad/sector/types.ts
  viewer/src/public/types.ts
  viewer/src/utilities/RxTaskTracker.test.ts
  viewer/src/utilities/RxTaskTracker.ts
  viewer/src/utilities/arrays.ts
  viewer/src/utilities/cache/MemoryRequestCache.ts
  viewer/src/utilities/cache/MostFrequentlyUsedCache.ts
  viewer/src/utilities/cache/RequestCache.ts
  viewer/src/utilities/metrics.ts
  viewer/yarn.lock
Labels: auto-merge, auto-update

#1332 chore: yet another attempt to retry preview docs deploy
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update

#1336 Revert "chore: report NPM package size in CI builds (#1326)"
  .github/workflows/ci.yml
Labels: auto-merge, auto-update

#1327 feat: add support for removing models from Cognite3DViewer [REV-70]
  examples/src/pages/Migration.tsx
  viewer/src/__tests__/dataModels/cad/sector/culling/CadSectorLoader.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/sector/CadSectorLoader.ts
  viewer/src/datamodels/cad/sector/SimpleAndDetailedToSector3D.ts
  viewer/src/datamodels/pointcloud/PointCloudManager.ts
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, do-not-merge

#1337 chore(viewer): bump version 1.3.0
  documentation/versioned_docs/version-1.x/API Reference.md
  documentation/versioned_docs/version-1.x/demos/Cognite3DViewerDemo.tsx
  documentation/versioned_docs/version-1.x/examples/antialiasing.mdx
  documentation/versioned_docs/version-1.x/getting-started.md
  documentation/versioned_docs/version-1.x/migration-guide.md
  documentation/versioned_docs/version-1.x/overview.mdx
  documentation/versioned_sidebars/version-1.x-sidebars.json
  viewer/package.json
Labels: auto-merge

#1338 fix: remove unnecessary type import to avoid compile err in ts3.7 projects
  viewer/src/utilities/workers/WorkerPool.ts
Labels: auto-merge, auto-update

#1340 chore: remove debugger statement
  viewer/src/datamodels/cad/sector/SectorScene.ts
Labels: auto-merge, auto-update

#1343 chore(viewer): bump version 1.3.1
  documentation/versioned_docs/version-1.x/API Reference.md
  viewer/package.json
Labels: auto-merge, auto-update

#1341 [REV-60] refactor ui tests, add very basic pointcloud test
  .github/workflows/ci.yml
  examples/README.md
  examples/package.json
  examples/public/pointcloud-bunny/ept-data/0-0-0-0.bin
  examples/public/pointcloud-bunny/ept-hierarchy/0-0-0-0.json
  examples/public/pointcloud-bunny/ept.json
  examples/src/App.tsx
  examples/src/pages/Testable.tsx
  examples/src/pages/e2e/TestViewer.tsx
  examples/src/pages/e2e/cad/ClippingTestPage.tsx
  examples/src/pages/e2e/cad/DefaultCadTestPage.tsx
  examples/src/pages/e2e/cad/DefaultCameraTestPage.tsx
  examples/src/pages/e2e/cad/GhostModeTestPage.tsx
  examples/src/pages/e2e/cad/HighlightTestPage.tsx
  examples/src/pages/e2e/cad/NodeTransformTestPage.tsx
  examples/src/pages/e2e/cad/RotationTestPage.tsx
  examples/src/pages/e2e/cad/ScaledModelTestPage.tsx
  examples/src/pages/e2e/cad/UserRenderTargetTestPage.tsx
  examples/src/pages/e2e/pointcloud/DefaultPointCloud.tsx
  examples/src/routes.tsx
  examples/src/visual_tests/VisualTestUtils.ts
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-correctly-renders-primitives-test-scene-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-clipping-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-clipping-2-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-default-camera-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-ghost-mode-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-highlight-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-node-transform-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-rotate-cad-model-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-scaled-model-1-snap.png
  examples/src/visual_tests/__image_snapshots__/basic-test-ts-testable-matches-the-screenshot-for-test-preset-user-render-target-1-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_clipping-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_default-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_defaultCamera-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_ghostMode-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_highlight-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_nodeTransform-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_rotateCadModel-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_scaledModel-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_userRenderTarget-snap.png
  examples/src/visual_tests/__image_snapshots__/pc_default-snap.png
  examples/src/visual_tests/ambientTypes.d.ts
  examples/src/visual_tests/basic.test.ts
  examples/src/visual_tests/jest-puppeteer.config.js
  examples/src/visual_tests/jest.config.js
  examples/src/visual_tests/setupTests.ts
  examples/src/visual_tests/testUtils.ts
  examples/yarn.lock
  viewer/src/datamodels/cad/index.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/experimental.ts
Labels: auto-update

#1345 fix: avoid triggering identical loadingStateChanged events
  viewer/src/__tests__/viewer/public/RevealManager.test.ts
  viewer/src/public/RevealManager.ts
Labels: auto-merge, auto-update

#1348 improvement: update camera position/target immediatly when animation duration is zero
  viewer/src/__tests__/migration/Cognite3DViewer.test.ts
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1349 improvement: reduce garbage collection during mesh parsing
  viewer/src/__tests__/dataModels/cad/sector/groupMeshesByNumber.test.ts
  viewer/src/__tests__/repository/cad/CachedRepository.test.ts
  viewer/src/datamodels/cad/sector/CachedRepository.ts
  viewer/src/datamodels/cad/sector/groupMeshesByNumber.ts
Labels: auto-merge, auto-update

#1350 chore: use --ff when merging changes during retry of preview doc deploy
  .github/workflows/preview-documentation.yml
Labels: auto-merge, auto-update

#1353 fix: lint error about 0 as u8
  f3df/src/lib.rs
  openctm/src/lib.rs
  openctm/tests/box.rs
Labels: auto-merge, auto-update

#1352 chore(parser-worker): use webpack5
  f3df/src/renderables.rs
  i3df/src/renderables.rs
  parser-worker/package.json
  parser-worker/webpack.config.js
  parser-worker/yarn.lock
Labels: auto-merge, auto-update

#1346 [REV-73] fix: print error message for parser-worker version mismatch
  parser-worker/RevealParserWorker.ts
  parser-worker/webpack.config.js
  viewer/src/__tests__/utilities/workers/WorkerPool.test.ts
  viewer/src/global.d.ts
  viewer/src/utilities/workers/WorkerPool.ts
  viewer/webpack.config.js
Labels: auto-merge, auto-update

#1357 chore: avoid worker version check error in tests
  viewer/jest.config.js
  viewer/src/__tests__/setupJest.ts
Labels: auto-merge, auto-update

#1356 fix: bug causing renderer to always rerender when there was a point cloud loaded
  examples/yarn.lock
  viewer/src/__tests__/viewer/public/RevealManager.test.ts
  viewer/src/__tests__/viewer/public/datamodels/pointcloud/PotreeGroupWrapper.test.ts
  viewer/src/datamodels/pointcloud/PointCloudManager.ts
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.ts
  viewer/src/datamodels/pointcloud/PotreeLoadHandler.ts
  viewer/src/datamodels/pointcloud/PotreeNodeWrapper.ts
  viewer/src/public/RevealManager.ts
Labels: auto-merge, auto-update

#1355 feat: add support for removing already loaded models
  documentation/docs/examples/cad-basic.mdx
  documentation/docs/examples/pointcloud.mdx
  viewer/src/__tests__/culling/TakenSectorTree.test.ts
  viewer/src/__tests__/dataModels/cad/internal/CadModelUpdateHandler.test.ts
  viewer/src/datamodels/cad/CadManager.ts
  viewer/src/datamodels/cad/CadModelUpdateHandler.ts
  viewer/src/datamodels/cad/sector/ModelStateHandler.test.ts
  viewer/src/datamodels/cad/sector/ModelStateHandler.ts
  viewer/src/datamodels/cad/sector/culling/ByVisibilityGpuSectorCuller.ts
  viewer/src/datamodels/cad/sector/culling/TakenSectorTree.ts
  viewer/src/datamodels/cad/sector/rxSectorUtilities.ts
  viewer/src/datamodels/pointcloud/PointCloudManager.ts
  viewer/src/datamodels/pointcloud/PotreeGroupWrapper.ts
  viewer/src/public/RevealManager.ts
  viewer/src/public/migration/Cognite3DModel.ts
  viewer/src/public/migration/Cognite3DViewer.ts
Labels: auto-merge, auto-update

#1358 docs: cdf-hub-bundles as an easy option for cognite developers to get parser-worker + remove unused vars in test
  documentation/docs/installation.mdx
  documentation/versioned_docs/version-1.x/installation.mdx
  viewer/src/__tests__/dataModels/cad/internal/CadModelUpdateHandler.test.ts
Labels: auto-merge

#1359 Add edge detection visualization to improve visual quality
  examples/src/visual_tests/__image_snapshots__/cad_clipping-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_default-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_defaultCamera-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_ghostMode-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_highlight-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_nodeTransform-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_rotateCadModel-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_scaledModel-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_userRenderTarget-snap.png
  viewer/src/datamodels/cad/rendering/EffectRenderManager.ts
  viewer/src/datamodels/cad/rendering/postRenderEffects.ts
  viewer/src/datamodels/cad/rendering/shaders.ts
  viewer/src/glsl/post-processing/edge-detect.glsl
  viewer/src/glsl/post-processing/outline-detect-combine.frag
  viewer/src/glsl/post-processing/outline-detection.vert
Labels: auto-update

#1361 fix: Cognite3DModel.mapFromCdfToModelCoordinates and mapPositionFromModelToCdfCoordinates correctly returns transformed coordinates
  viewer/src/public/migration/Cognite3DModel.ts
Labels: auto-merge, auto-update

#1363 Fix broken rendering for certain primitives [REV-66]
  examples/src/visual_tests/__image_snapshots__/cad_clipping-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_default-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_defaultCamera-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_ghostMode-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_highlight-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_nodeTransform-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_rotateCadModel-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_scaledModel-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_userRenderTarget-snap.png
  viewer/src/datamodels/cad/MaterialManager.ts
  viewer/src/glsl/base/updateFragmentDepth.glsl
Labels: auto-merge, auto-update

#1364 chore: workflow for worker uploading to cognite cdn + minor doc fixes
  .github/workflows/upload-worker.yml
  documentation/docs/demos/Cognite3DViewerDemo.tsx
  documentation/docs/installation.mdx
  documentation/versioned_docs/version-1.x/installation.mdx
  documentation/yarn.lock
  examples/src/routes.tsx
  parser-worker/buildUtils.js
  parser-worker/package.json
  parser-worker/uploadToCDN.js
  parser-worker/webpack.config.js
  parser-worker/yarn.lock
  viewer/src/public/migration/types.ts
  viewer/webpack.config.js
Labels: auto-merge, auto-update

#1365 chore: remove cache, use checkout action
  .github/workflows/upload-worker.yml
Labels: auto-merge, auto-update

#1366 chore: fix incorrect syntax in worker workflow
  .github/workflows/upload-worker.yml
Labels: auto-merge, auto-update
