Repository cognitedata/reveal, pull requests merged in 2022-11, with the labels that each got.

#2622 chore: port 'next' documentation authentication to OIDC
  documentation/docs/components/DemoLoginCover.tsx
  documentation/docs/utils/LoginManager.ts
  documentation/docs/utils/loginUtils.ts
  documentation/package.json
  documentation/yarn.lock
Labels: auto-update, slack, preview-docs

#2625 chore: port version 4 and 3 doc to OIDC
  documentation/versioned_docs/version-3.x/components/DemoLoginCover.tsx
  documentation/versioned_docs/version-3.x/utils/LoginManager.ts
  documentation/versioned_docs/version-3.x/utils/loginUtils.ts
  documentation/versioned_docs/version-4.x/components/DemoLoginCover.tsx
  documentation/versioned_docs/version-4.x/utils/LoginManager.ts
  documentation/versioned_docs/version-4.x/utils/loginUtils.ts
Labels: auto-update, slack, preview-docs

#2627 fix: rust warnings for into_serde()
  viewer/Cargo.lock
  viewer/packages/pointclouds/wasm/Cargo.toml
  viewer/packages/pointclouds/wasm/src/lib.rs
  viewer/packages/pointclouds/wasm/src/parse_inputs.rs
Labels: slack

#2621 fix: enable depth writing for in-front pass
  viewer/packages/rendering/src/glsl/post-processing/depthBlendBlit.frag
  viewer/packages/rendering/src/utilities/renderUtilities.ts
Labels: auto-update

#2626 fix: add not supported fallback for version 2 documentation
  documentation/versioned_docs/version-2.x/components/DemoLoginCover.tsx
  documentation/versioned_docs/version-2.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-2.x/examples/cad-3dobjects.mdx
  documentation/yarn.lock
Labels: auto-update, slack, preview-docs

#2632 fix: removing batched geometries on sector discarded
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
Labels: auto-update, slack

#2634 fix: cleanup annotation types
  viewer/package.json
  viewer/packages/data-providers/src/pointcloud-stylable-object-providers/CdfPointCloudStylableObjectProvider.ts
  viewer/yarn.lock
Labels: slack

#2640 fix: crash CI on outdated lock
  .github/workflows/ci.yml
  viewer/packages/pointclouds/wasm/Cargo.lock
Labels: slack

#2642 chore: lock Renovate's node version to v16
  renovate.json
Labels: slack

#2647 fix: release workflow wrong syntax
  .github/workflows/publish-to-npm-on-release.yml
Labels: slack

#2641 fix: Fixes a bug where zooming in was incorrect when hovering over overlays.
  examples/src/pages/Viewer.tsx
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
Labels: auto-update, slack, preview-docs

#2648 chore: bump reveal version to 3.2.1 in documentation
  documentation/package.json
  documentation/yarn.lock
Labels: auto-update, slack, preview-docs

#2646 chore: align doc 4.x SDK to that of viewer/
  documentation/package.json
  documentation/yarn.lock
Labels: slack

#2651 feat: hide & show measurements
  documentation/docs/examples/point-to-point-measurement.mdx
  examples/src/utils/MeasurementUi.ts
  viewer/packages/tools/src/Measurement/MeasurementManager.ts
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: auto-update, slack, preview-docs

#2652 improvement: Renamed Cognite3DModel to CogniteCadModel. Introduced type CogniteModel.
  examples/src/pages/Viewer.tsx
  examples/src/utils/BulkHtmlOverlayUI.ts
  examples/src/utils/InspectNodeUi.ts
  examples/src/utils/ModelUi.ts
  examples/src/utils/NodeStylingUI.ts
  viewer/index.ts
  viewer/packages/api/index.ts
  viewer/packages/api/src/migration.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/types.ts
  viewer/packages/api/src/public/types.ts
  viewer/packages/api/src/utilities/ViewStateHelper.ts
  viewer/packages/api/visual-tests/HighlightedGhosted.VisualTest.ts
  viewer/packages/api/visual-tests/NodeTransform.VisualTest.ts
  viewer/packages/api/visual-tests/Outline.VisualTest.ts
  viewer/packages/api/visual-tests/ReassignNodeStyle.VisualTest.ts
  viewer/packages/api/visual-tests/TwoModels.VisualTest.ts
  viewer/packages/cad-model/index.ts
  viewer/packages/cad-model/src/types.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.test.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/model-base/index.ts
  viewer/packages/model-base/src/CogniteModelBase.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/packages/tools/src/ExplodedViewTool.ts
  viewer/packages/tools/src/Timeline/Keyframe.ts
  viewer/packages/tools/src/Timeline/TimelineTool.test.ts
  viewer/packages/tools/src/Timeline/TimelineTool.ts
  viewer/test-utilities/src/createCadModel.ts
  viewer/visual-tests/test-fixtures/ViewerVisualTestFixture.ts
  viewer/visual-tests/test-fixtures/utilities/cognite3DViewerHelpers.ts
Labels: auto-update, slack, preview-docs

#2655 fix: rename Cognite3DModel to CogniteCadModel in docs
  documentation/docs/api_readme.md
  documentation/docs/components/LiveCodeSnippet.tsx
  documentation/docs/concepts.md
  documentation/docs/examples/cad-basic.mdx
  documentation/docs/examples/cad-explode.mdx
  documentation/docs/examples/cad-save-viewerstate.mdx
  documentation/docs/examples/cad-styling-assets.mdx
  documentation/docs/examples/cad-styling.mdx
  documentation/docs/examples/cad-transform-override.mdx
  documentation/docs/examples/click-reactions-cad.mdx
  documentation/docs/examples/node-visiting.mdx
  documentation/docs/extending/datasource.mdx
  documentation/docs/utils/viewerUtilities.ts
Labels: auto-update, slack, preview-docs

#2657 fix: Proper handling of mouse wheel zoom for non static Reveal "windows"
  examples/src/components/styled.ts
  examples/src/pages/Viewer.tsx
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
Labels: auto-update, slack, preview-docs

#2661 chore: prevent subdependency patch updates failing cargo lock check
  .github/workflows/ci.yml
Labels: slack

#2660 fix: update cargo lock
  viewer/Cargo.lock
Labels: auto-update

#2654 fix: syntax error in onRelease workflow
  .github/workflows/publish-to-npm-on-release.yml
Labels: auto-update, slack

#2662 refactor: remove getScene from API
  viewer/packages/api/src/public/migration/Cognite3DViewer.test.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack

#2650 chore: simplify LiveCodeSnippet slightly
  documentation/docs/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-2.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-3.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-4.x/components/LiveCodeSnippet.tsx
Labels: slack, preview-docs

#2664 feat: add alpha parameter to setBackgroundColor
  documentation/docs/examples/cad-basic.mdx
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/visual-tests/Outline.VisualTest.ts
Labels: auto-update, slack, preview-docs

#2663 improvement: remove getCamera() in favor of getting it from cameraManager
  documentation/docs/examples/clipping.mdx
  documentation/versioned_docs/version-4.x/examples/clipping.mdx
  documentation/versioned_docs/version-4.x/migration-guide.md
  examples/src/utils/InspectNodeUi.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/tools/src/AxisView/AxisViewTool.ts
  viewer/packages/tools/src/DebugCameraTool.ts
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.test.ts
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: auto-update, slack, preview-docs

#2671 fix: create a box3 when deserializing areas in treeindex collection
  viewer/packages/cad-styling/src/NodeCollectionDeserializer.test.ts
  viewer/packages/cad-styling/src/NodeCollectionDeserializer.ts
Labels: auto-update, slack

#2589 feat: Add eye dome lighting post processing effect for point clouds
  examples/src/pages/Viewer.tsx
  examples/src/utils/PointCloudUi.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/types.ts
  viewer/packages/pointclouds/visual-tests/EdlPointCloud.VisualTest.ts
  viewer/packages/pointclouds/visual-tests/PointCloudColorStyling.VisualTest.ts
  viewer/packages/pointclouds/visual-tests/__image_snapshots__/EdlPointCloud.VisualTest.png
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/src/glsl/pointcloud/edl.glsl
  viewer/packages/rendering/src/glsl/pointcloud/normalize.frag
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.frag
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.vert
  viewer/packages/rendering/src/pointcloud-rendering/constants.ts
  viewer/packages/rendering/src/render-passes/PostProcessingPass.ts
  viewer/packages/rendering/src/render-passes/types.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.test.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/PointCloudRenderPipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/pointCloudParameterUtils.ts
  viewer/packages/rendering/src/render-pipeline-providers/types.ts
  viewer/packages/rendering/src/rendering/types.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
  viewer/visual-tests/VisualTest.browser.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
  viewer/visual-tests/test-fixtures/utilities/cognite3DViewerHelpers.ts
Labels: slack, preview-docs

#2672 chore: Bump reveal version to 3.3.0
  examples/yarn.lock
  viewer/package.json
Labels: slack

#2674 fix: threejs types version
  documentation/package.json
  documentation/yarn.lock
  examples/package.json
  examples/yarn.lock
  viewer/package.json
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.ts
  viewer/packages/utilities/src/SceneHandler.ts
  viewer/yarn.lock
Labels: auto-update, slack, preview-docs

#2673 feat: get renderer in Cognite3DViewer has been made private
  examples/src/utils/InspectNodeUi.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/tools/src/AxisView/AxisViewTool.ts
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
  viewer/packages/utilities/src/worldToViewport.test.ts
  viewer/packages/utilities/src/worldToViewport.ts
  viewer/visual-tests/test-fixtures/ViewerVisualTestFixture.ts
  viewer/visual-tests/test-fixtures/utilities/cognite3DViewerHelpers.ts
Labels: auto-update, slack, preview-docs

#2682 feat: enable point blending and EDL together
  viewer/packages/rendering/src/glsl/pointcloud/edl.glsl
  viewer/packages/rendering/src/glsl/pointcloud/normalize.frag
  viewer/packages/rendering/src/render-passes/PostProcessingPass.ts
  viewer/packages/rendering/src/render-passes/types.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/PointCloudRenderPipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/types.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
Labels: slack

#2680 refactor: use single entry point for reveal
  .github/workflows/nightly-publish-to-npm.yml
  .github/workflows/publish-to-npm-on-release.yml
  documentation/docs/api_readme.md
  documentation/docs/components/customScope.ts
  documentation/docs/examples/axisviewtool.mdx
  documentation/docs/examples/cad-2doverlay.mdx
  documentation/docs/examples/cad-explode.mdx
  documentation/docs/examples/point-to-point-measurement.mdx
  documentation/docs/examples/timeline.mdx
  documentation/docs/extending/datasource.mdx
  documentation/package.json
  documentation/typedoc.json
  documentation/versioned_docs/version-4.x/extending/datasource.mdx
  documentation/yarn.lock
  examples/package.json
  examples/src/pages/Viewer.tsx
  examples/src/utils/MeasurementUi.ts
  examples/tsconfig.json
  examples/yarn.lock
  viewer/api-entry-points/core.ts
  viewer/api-entry-points/datasource.ts
  viewer/api-entry-points/tools.ts
  viewer/env.d.ts
  viewer/extensions/README.md
  viewer/global.d.ts
  viewer/index.ts
  viewer/jest.config.js
  viewer/package.json
  viewer/packages/cad-parsers/src/metadata/CadModelMetadataRepository.test.ts
  viewer/tsconfig.json
  viewer/webpack.config.js
Labels: auto-update, slack

#2683 chore: cleanup unused dependencies
  viewer/package.json
  viewer/yarn.lock
Labels: auto-update, slack

#2686 chore: remove more unused dependencies
  viewer/jest.config.js
  viewer/package.json
  viewer/yarn.lock
Labels: slack

#2691 feat: use three color in api
  documentation/docs/examples/cad-save-viewerstate.mdx
  documentation/docs/examples/cad-styling-custom.mdx
  documentation/docs/examples/cad-styling-nodes.mdx
  documentation/docs/examples/cad-styling.mdx
  documentation/docs/examples/combine-models.mdx
  documentation/docs/examples/pointcloud-styling.mdx
  documentation/docs/examples/timeline.mdx
  examples/src/utils/NodeStylingUI.ts
  examples/src/utils/PointCloudObjectStylingUI.ts
  viewer/packages/api/src/utilities/ViewStateHelper.ts
  viewer/packages/cad-styling/index.ts
  viewer/packages/cad-styling/src/NodeAppearance.ts
  viewer/packages/cad-styling/src/nodeAppearanceSerialization.ts
  viewer/packages/pointcloud-styling/src/PointCloudAppearance.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.test.ts
  viewer/packages/pointclouds/visual-tests/PointCloudColorStyling.VisualTest.ts
  viewer/packages/rendering/src/pointcloud-rendering/PointCloudObjectAppearanceTexture.test.ts
  viewer/packages/rendering/src/pointcloud-rendering/PointCloudObjectAppearanceTexture.ts
  viewer/packages/rendering/src/rendering/NodeAppearanceTextureBuilder.test.ts
  viewer/packages/rendering/src/rendering/NodeAppearanceTextureBuilder.ts
Labels: slack

#2694 fix: three color api fixup
  documentation/docs/migration-guide.md
  viewer/api-entry-points/core.ts
Labels: slack

#2696 feat: add caching layer to 360 images
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/Image360LoadingCache.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: auto-update, slack

#2695 cleanup: remove PotreePnextLoader and pointclouds package exports
  viewer/packages/pointclouds/index.ts
  viewer/packages/pointclouds/src/PotreePnextLoader.ts
  viewer/test-utilities/src/createPointCloudModel.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
Labels: slack

#2693 doc: remove broken link (REV-583)
  viewer/packages/cad-model/src/types.ts
Labels: auto-update, preview-docs

#2702 refactor: shrink and rename PotreeGroupWrapper
  viewer/packages/api/src/public/createRevealManager.ts
  viewer/packages/pointclouds/index.ts
  viewer/packages/pointclouds/src/PointCloudLoadingStateHandler.test.ts
  viewer/packages/pointclouds/src/PointCloudLoadingStateHandler.ts
  viewer/packages/pointclouds/src/PointCloudManager.ts
  viewer/packages/pointclouds/src/PointCloudNode.ts
  viewer/packages/pointclouds/src/PotreeGroupWrapper.test.ts
  viewer/packages/pointclouds/src/PotreeGroupWrapper.ts
  viewer/packages/pointclouds/src/PotreeNodeWrapper.ts
  viewer/test-utilities/src/createPointCloudModel.ts
Labels: slack

#2701 fix: set 360 image events limit to max (1000), vs. the default 100
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: auto-update, slack

#2511 chore(deps): threejs as peer dependency
  documentation/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  documentation/.yarn/releases/yarn-3.2.1.cjs
  documentation/.yarnrc.yml
  documentation/docs/components/customScope.ts
  documentation/docs/extending/camera-manager.mdx
  documentation/docs/package.json
  documentation/docs/yarn.lock
  documentation/docusaurus.config.js
  documentation/package.json
  documentation/tsconfig.json
  documentation/versioned_docs/version-2.x/components/Cognite3DViewerDemo.tsx
  documentation/versioned_docs/version-2.x/components/DemoLoginCover.tsx
  documentation/versioned_docs/version-2.x/components/DemoProps.d.ts
  documentation/versioned_docs/version-2.x/components/DemoWrapper.tsx
  documentation/versioned_docs/version-2.x/components/customScope.ts
  documentation/versioned_docs/version-2.x/package.json
  documentation/versioned_docs/version-2.x/utils/LoginManager.ts
  documentation/versioned_docs/version-2.x/utils/viewerUtilities.ts
  documentation/versioned_docs/version-3.x/components/Cognite3DViewerDemo.tsx
  documentation/versioned_docs/version-3.x/components/DemoLoginCover.tsx
  documentation/versioned_docs/version-3.x/components/DemoProps.d.ts
  documentation/versioned_docs/version-3.x/components/DemoWrapper.tsx
  documentation/versioned_docs/version-3.x/components/customScope.ts
  documentation/versioned_docs/version-3.x/extending/camera-manager.mdx
  documentation/versioned_docs/version-3.x/package.json
  documentation/versioned_docs/version-3.x/utils/viewerUtilities.ts
  documentation/versioned_docs/version-4.x/components/Cognite3DViewerDemo.tsx
  documentation/versioned_docs/version-4.x/components/DemoLoginCover.tsx
  documentation/versioned_docs/version-4.x/components/DemoProps.d.ts
  documentation/versioned_docs/version-4.x/components/DemoWrapper.tsx
  documentation/versioned_docs/version-4.x/components/customScope.ts
  documentation/versioned_docs/version-4.x/extending/camera-manager.mdx
  documentation/versioned_docs/version-4.x/package.json
  documentation/versioned_docs/version-4.x/utils/viewerUtilities.ts
  documentation/yarn.lock
  examples/package.json
  examples/public/index.html
  examples/src/pages/Viewer.tsx
  examples/src/utils/BulkHtmlOverlayUI.ts
  examples/src/utils/CameraUI.ts
  examples/src/utils/ClippingUI.ts
  examples/src/utils/CustomCameraManager.ts
  examples/src/utils/Image360UI.ts
  examples/src/utils/MeasurementUi.ts
  examples/src/utils/ModelUi.ts
  examples/src/utils/NodeStylingUI.ts
  examples/src/utils/PointCloudObjectStylingUI.ts
  examples/yarn.lock
  viewer/package.json
  viewer/packages/api/index.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/yarn.lock
Labels: auto-update, slack, preview-docs

#2705 feat: Screenshots now have option to include UI elements.
  documentation/docs/examples/cad-basic.mdx
  examples/src/pages/Viewer.tsx
  examples/yarn.lock
  viewer/package.json
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
  viewer/yarn.lock
Labels: auto-update, slack, preview-docs

#2710 fix: TreeIndexNodeCollection.updateSet erroneously clears IndexSet
  viewer/packages/cad-styling/src/TreeIndexNodeCollection.test.ts
  viewer/packages/cad-styling/src/TreeIndexNodeCollection.ts
Labels: auto-update, slack

#2716 feat: continuousModelStreaming is now true by default
  examples/src/pages/Viewer.tsx
  examples/yarn.lock
  viewer/packages/api/src/public/migration/types.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
Labels: auto-update, slack, preview-docs

#2719 docs: Remove WebAssembly hosting guide
  documentation/docs/installation.mdx
Labels: slack, preview-docs

#2723 fix: allow overloading default style with black (no) color
  viewer/packages/rendering/src/rendering/NodeAppearanceTextureBuilder.test.ts
  viewer/packages/rendering/src/rendering/NodeAppearanceTextureBuilder.ts
Labels: slack, preview-docs

#2709 improvement: rework model transformations
  documentation/docs/examples/cad-styling-assets.mdx
  documentation/docs/examples/combine-models.mdx
  documentation/docs/migration-guide.md
  documentation/docs/overview.mdx
  examples/src/utils/BulkHtmlOverlayUI.ts
  viewer/packages/api/index.ts
  viewer/packages/api/src/public/constants.ts
  viewer/packages/api/visual-tests/Outline.VisualTest.ts
  viewer/packages/api/visual-tests/ReassignNodeStyle.VisualTest.ts
  viewer/packages/api/visual-tests/TwoModels.VisualTest.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.test.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/cad-model/visual-tests/Rotation.VisualTest.ts
  viewer/packages/cad-styling/src/AssetNodeCollection.ts
  viewer/packages/cad-styling/src/CdfModelNodeCollectionDataProvider.ts
  viewer/packages/cad-styling/src/CdfNodeCollectionBase.ts
  viewer/packages/cad-styling/src/NodeIdNodeCollection.test.ts
  viewer/packages/cad-styling/src/PropertyFilterNodeCollection.test.ts
  viewer/packages/cad-styling/src/SinglePropertyFilterNodeCollection.test.ts
  viewer/packages/data-providers/index.ts
  viewer/packages/data-providers/src/utilities/applyDefaultModelTransformation.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.test.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/packages/pointclouds/src/PointCloudFactory.ts
  viewer/packages/pointclouds/src/PointCloudManager.ts
  viewer/packages/pointclouds/src/PointCloudNode.ts
  viewer/packages/rendering/visual-tests/Ssao.VisualTest.ts
  viewer/test-utilities/src/createPointCloudModel.ts
Labels: slack, preview-docs

#2724 refactor: remove exploded view tool
  documentation/docs/examples/cad-explode.mdx
  documentation/sidebars.js
  examples/src/pages/Viewer.tsx
  viewer/packages/tools/index.ts
  viewer/packages/tools/src/ExplodedViewTool.ts
Labels: auto-update, slack

#2725 chore: remove Draco decompression support
  viewer/packages/sector-parser/src/DracoDecoderHelper.ts
  viewer/packages/sector-parser/src/GltfSectorParser.ts
  viewer/packages/sector-parser/src/lib/README.md
  viewer/packages/sector-parser/src/lib/draco_decoder_gltf.js
  viewer/packages/sector-parser/tests/GltfSectorParser.test.ts
  viewer/packages/sector-parser/tests/anders-test-scene-draco.glb
Labels: auto-update, slack

#2728 chore: change cdf env loading for visual tests to be dynamic
  .gitignore
  viewer/packages/webpack.config.js
  viewer/test-utilities/src/appUtils.ts
  viewer/visual-tests/.cdf-env.example.json
  viewer/visual-tests/README.md
Labels: auto-update, slack

#2720 feat: add transition effects for 360 images
  examples/src/utils/Image360UI.ts
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/360-images/src/Image360LoadingCache.ts
  viewer/packages/360-images/src/Image360Visualization.ts
  viewer/packages/360-images/src/Image360VisualizationBox.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/src/ProxyCameraManager.ts
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
Labels: auto-update, slack

#2726 feat: Add support for "activation" to CameraManager
  examples/src/pages/Viewer.tsx
  examples/src/utils/CustomCameraManager.ts
  examples/src/utils/InspectNodeUi.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/src/CameraManager.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/packages/camera-manager/src/ProxyCameraManager.test.ts
  viewer/packages/camera-manager/src/ProxyCameraManager.ts
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: auto-update, preview-docs

#2732 refactor: replace CogniteCadModel.visible as get/set property
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.test.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
Labels: auto-update, slack

#2727 fix: cad intersection model data incorrect
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: auto-update, slack, preview-docs

#2731 feat: add zoom with mouse wheel scroll for 360 images
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: auto-update, slack

#2736 feat: Remove exposing ComboControls from DefaultCameraManager
  viewer/api-entry-points/core.ts
  viewer/packages/camera-manager/app/index.ts
  viewer/packages/camera-manager/index.ts
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
Labels: auto-update, slack, preview-docs

#2737 docs: Update 'extending/camera-manager' to reflect changes in CameraManager
  documentation/docs/extending/camera-manager.mdx
Labels: auto-update, slack, preview-docs

#2741 fix: axis cross manipulates stationary camera position
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: auto-update, slack

#2740 feat: add transition out effect for 360 images
  viewer/packages/360-images/src/Image360VisualizationBox.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: auto-update, slack

#2733 feat: CameraManager stop event
  documentation/docs/migration-guide.md
  examples/package.json
  examples/src/utils/CustomCameraManager.ts
  examples/yarn.lock
  viewer/api-entry-points/core.ts
  viewer/packages/api/src/public/RevealManager.test.ts
  viewer/packages/api/src/public/RevealManager.ts
  viewer/packages/api/src/public/createRevealManager.test.ts
  viewer/packages/api/src/public/createRevealManager.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/storage/RevealManagerHelper.ts
  viewer/packages/camera-manager/index.ts
  viewer/packages/camera-manager/src/CameraManager.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/packages/camera-manager/src/ProxyCameraManager.ts
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
  viewer/packages/camera-manager/src/types.ts
  viewer/packages/camera-manager/src/utils/DebouncedCameraStopEventTrigger.ts
  viewer/packages/camera-manager/tests/DefaultCameraManager.test.ts
Labels: slack, preview-docs

#2743 chore: be more specific about workspace directory
  viewer/Cargo.toml
Labels: slack

#2747 chore: cleanup test utilities
  viewer/test-utilities/src/expects.ts
Labels: auto-update, slack

#2746 docs: update camera manager extension doc
  documentation/docs/extending/camera-manager.mdx
Labels: slack, preview-docs

#2748 fix: strip down 360 exports to interfaces only
  examples/src/utils/Image360UI.ts
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/Image360.ts
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360Visualization.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: slack

#2742 chore: Use API extractor to keep track of API changes
  .github/workflows/ci.yml
  viewer/README.md
  viewer/api-extractor.json
  viewer/global.d.ts
  viewer/package.json
  viewer/packages/metrics/src/MetricsLogger.ts
  viewer/reveal.api.md
  viewer/yarn.lock
Labels: slack
