Repository cognitedata/reveal, pull requests merged in 2022-08, with the labels that each got.

#2315 fix: Not working check for duplicate comment in documentation preview PRs
  .github/workflows/ci.yml
Labels: auto-update, slack, preview-docs

#2316 fix: make sure screen distance min/max accumulates properly
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByScreenSizeSectorCuller.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/WeightFunctionsHelper.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/WeightFunctionsHelper.ts
Labels: slack

#2269 feat: libraries in workers
  viewer/webpack.config.js
Labels: slack, preview-docs

#2235 improvement: Return annotationId of clicked point cloud object when doing picking
  documentation/docs/examples/click-reactions-pointcloud.mdx
  examples/src/pages/Migration.tsx
  examples/src/utils/PointCloudObjectStylingUI.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/pointclouds/src/PointCloudIntersection.ts
  viewer/packages/pointclouds/src/picking.ts
  viewer/packages/pointclouds/src/potree-three-loader/loading/EptBinaryLoader.ts
  viewer/packages/pointclouds/src/potree-three-loader/rendering/PointCloudMaterial.ts
  viewer/packages/pointclouds/src/potree-three-loader/rendering/PointCloudObjectAppearanceTexture.test.ts
  viewer/packages/pointclouds/src/potree-three-loader/rendering/PointCloudObjectAppearanceTexture.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctree.ts
  viewer/packages/pointclouds/src/styling/PointCloudObjectProvider.ts
Labels: auto-update, slack, preview-docs

#2321 feat: add workerize for cleaner interop with workers
  viewer/package.json
  viewer/packages/pointclouds/src/potree-three-loader/loading/EptBinaryLoader.ts
  viewer/packages/pointclouds/src/potree-three-loader/workers/eptBinaryDecoder.worker.ts
  viewer/packages/pointclouds/src/potree-three-loader/workers/parseEpt.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/workers/workerize-transferable/.eslintrc.js
  viewer/packages/utilities/src/workers/workerize-transferable/README.md
  viewer/packages/utilities/src/workers/workerize-transferable/index.ts
  viewer/packages/utilities/src/workers/workerize-transferable/message-types.ts
  viewer/packages/utilities/src/workers/workerize-transferable/on-main.ts
  viewer/packages/utilities/src/workers/workerize-transferable/on-worker.ts
  viewer/packages/utilities/src/workers/workerize-transferable/util.ts
  viewer/tsconfig.json
  viewer/tsconfig.typedoc.json
  viewer/webpack.config.js
  viewer/yarn.lock
Labels: auto-update, slack

#2272 chore: add visual tests setup for /viewer
  viewer/package.json
  viewer/packages/sector-loader/app/SectorLoader.VisualTestFixture.ts
  viewer/packages/sector-loader/app/index.ts
  viewer/packages/sector-loader/package.json
  viewer/packages/sector-parser/app/SectorParser.VisualTestFixture.ts
  viewer/packages/sector-parser/app/index.ts
  viewer/packages/sector-parser/package.json
  viewer/packages/visualTests.root.ts
  viewer/packages/webpack.config.js
  viewer/visual-tests/VisualTest.browser.ts
  viewer/visual-tests/VisualTest.jest.ts
  viewer/visual-tests/__image_snapshots__/SectorLoaderVisualTestFixture-snap.png
  viewer/visual-tests/__image_snapshots__/SectorParserVisualTestFixture-snap.png
  viewer/visual-tests/globalTestSetup.ts
  viewer/visual-tests/index.ts
  viewer/visual-tests/jest-puppeteer.config.js
  viewer/visual-tests/jest.config.js
  viewer/visual-tests/setupTests.ts
  viewer/visual-tests/test-fixtures/SimpleVisualTestFixture.ts
  viewer/yarn.lock
Labels: auto-update, slack

#2332 fix: remove un-needed dependency (jest-environment-jsdom)
  examples/yarn.lock
  viewer/package.json
Labels: auto-update, slack

#2329 feat: add automatic visual test registration based on filename (.VisualTest.)
  .gitignore
  viewer/package.json
  viewer/packages/sector-loader/app/SectorLoader.VisualTest.ts
  viewer/packages/sector-loader/app/__image_snapshots__/SectorLoader.VisualTest-snap.png
  viewer/packages/sector-loader/package.json
  viewer/packages/sector-parser/app/SectorParser.VisualTest.ts
  viewer/packages/sector-parser/app/__image_snapshots__/SectorParser.VisualTest-snap.png
  viewer/packages/sector-parser/package.json
  viewer/packages/visualTests.root.ts
  viewer/packages/webpack.config.js
  viewer/tsconfig.json
  viewer/visual-tests/VisualTest.browser.ts
  viewer/visual-tests/VisualTest.jest.ts
  viewer/visual-tests/globVisualTestLoader.js
  viewer/visual-tests/globalTestSetup.ts
  viewer/visual-tests/jest.config.js
  viewer/yarn.lock
Labels: auto-update, slack

#2275 Improvement: refactoring and some performance optimizations for point cloud picking
  documentation/docs/examples/click-reactions-pointcloud.mdx
  documentation/versioned_docs/version-3.x/examples/click-reactions-pointcloud.mdx
  examples/yarn.lock
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/pointclouds/index.ts
  viewer/packages/pointclouds/src/PointCloudPickingHandler.ts
  viewer/packages/pointclouds/src/PotreeNodeWrapper.ts
  viewer/packages/pointclouds/src/picking.ts
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctree.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePicker.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
  viewer/packages/utilities/src/WebGLRendererStateHelper.test.ts
  viewer/packages/utilities/src/WebGLRendererStateHelper.ts
Labels: auto-update, slack, preview-docs

#2295 fix: make point cloud octree load LODs automatically
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
  viewer/packages/pointclouds/src/potree-three-loader/rendering/constants.ts
  viewer/packages/pointclouds/src/potree-three-loader/types/IPotree.ts
Labels: slack

#2337 feat: add viewer visual tests as CI step
  .github/workflows/ci.yml
  viewer/package.json
  viewer/packages/sector-loader/app/SectorLoader.VisualTest.ts
  viewer/packages/sector-parser/app/testMaterials.ts
  viewer/visual-tests/jest-puppeteer.config.js
  viewer/yarn.lock
Labels: auto-update, slack

#2357 doc: remove doc for GLTF previews as we deprecate the feature
  documentation/docs/examples/cad-preview.mdx
  documentation/sidebars.js
  documentation/versioned_docs/version-1.x/examples/cad-preview.mdx
  documentation/versioned_docs/version-2.x/examples/cad-preview.mdx
  documentation/versioned_docs/version-3.x/examples/cad-preview.mdx
  documentation/versioned_sidebars/version-1.x-sidebars.json
  documentation/versioned_sidebars/version-2.x-sidebars.json
  documentation/versioned_sidebars/version-3.x-sidebars.json
Labels: auto-update, slack, preview-docs

#2356 chore: add StreamingVisualTestFixture and port rendering package app to visual test
  .github/workflows/ci.yml
  .gitignore
  documentation/tsconfig.json
  examples/src/utils/CustomCameraManager.ts
  viewer/index.ts
  viewer/packages/camera-manager/src/CameraManagerHelper.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/packages/rendering/app/Rendering.VisualTest.ts
  viewer/packages/rendering/app/__image_snapshots__/Rendering.VisualTest-snap.png
  viewer/packages/rendering/app/index.ts
  viewer/packages/rendering/package.json
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/three/fitCameraToBoundingBox.ts
  viewer/tsconfig.typedoc.json
  viewer/visual-tests/.cdf-environments.json
  viewer/visual-tests/index.ts
  viewer/visual-tests/test-fixtures/SimpleVisualTestFixture.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
  viewer/visual-tests/test-fixtures/VisualTestFixture.ts
  viewer/visual-tests/test-fixtures/utilities/createDataProviders.ts
Labels: auto-update, slack

#2360 fix: revert camera helper API change
  examples/src/utils/CustomCameraManager.ts
  viewer/index.ts
  viewer/packages/camera-manager/src/CameraManagerHelper.ts
Labels: auto-update

#2365 fix: sector parser test now properly computes color data override texture
  viewer/packages/sector-parser/app/SectorParser.VisualTest.ts
  viewer/packages/sector-parser/app/testMaterials.ts
Labels: auto-update, slack

#2361 fix: incorrectly setting device pixel ratio with respect to domElement size
  examples/src/pages/Migration.tsx
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack
