Repository cognitedata/reveal, pull requests merged in 2022-10, with the labels that each got.

#2512 improvement: use 'high-performance' powerPreference to avoid non-discrete GPU being used on certain systems
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/types.ts
Labels: auto-update, slack, preview-docs

#2514 feat: add event beforeSceneRendered to Cognite3DViewer and Stats.js overlay to example
  examples/package.json
  examples/src/App.tsx
  examples/src/pages/Viewer.tsx
  examples/yarn.lock
  viewer/index.ts
  viewer/package.json
  viewer/packages/api/src/public/migration/Cognite3DViewer.test.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/data-providers/package.json
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/events/types.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
  viewer/yarn.lock
Labels: auto-update, slack

#2525 chore: add 'slack' label to Renovate PRs so they become more visible
  renovate.json
Labels: auto-update, slack

#2529 chore: update gitignore
  .gitignore
  documentation/.env.example
  examples/src/process.env.d.ts
Labels: slack

#2508 fix: point cloud picking precision issue
  viewer/packages/pointclouds/src/PointCloudPickingHandler.ts
Labels: auto-update, slack

#2531 chore: fix tsdoc warnings related to @see
  viewer/packages/cad-model/src/wrappers/Cognite3DModel.ts
  viewer/packages/tools/src/Cognite3DViewerToolBase.ts
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: slack

#2533 chore: refactor point cloud rendering into reveal architecture
  documentation/yarn.lock
  viewer/.eslintrc.js
  viewer/packages/api/src/public/RevealManager.ts
  viewer/packages/api/src/public/createRevealManager.ts
  viewer/packages/api/src/public/types.ts
  viewer/packages/api/visual-tests/ClippingPointCloud.VisualTest.ts
  viewer/packages/api/visual-tests/DefaultPointCloud.VisualTest.ts
  viewer/packages/api/visual-tests/FixedPointCloud.VisualTest.ts
  viewer/packages/pointclouds/index.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/packages/pointclouds/src/PointCloudFactory.ts
  viewer/packages/pointclouds/src/PointCloudManager.ts
  viewer/packages/pointclouds/src/PointCloudNode.ts
  viewer/packages/pointclouds/src/PotreeGroupWrapper.test.ts
  viewer/packages/pointclouds/src/PotreeNodeWrapper.ts
  viewer/packages/pointclouds/src/PotreePnextLoader.ts
  viewer/packages/pointclouds/src/createPointCloudManager.ts
  viewer/packages/pointclouds/src/potree-three-loader/Potree.test.ts
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
  viewer/packages/pointclouds/src/potree-three-loader/index.ts
  viewer/packages/pointclouds/src/potree-three-loader/rendering/clipping.ts
  viewer/packages/pointclouds/src/potree-three-loader/rendering/features.ts
  viewer/packages/pointclouds/src/potree-three-loader/rendering/shaders/blur.frag
  viewer/packages/pointclouds/src/potree-three-loader/rendering/shaders/blur.vert
  viewer/packages/pointclouds/src/potree-three-loader/rendering/shaders/edl.frag
  viewer/packages/pointclouds/src/potree-three-loader/rendering/shaders/edl.vert
  viewer/packages/pointclouds/src/potree-three-loader/rendering/types.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctree.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePicker.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
  viewer/packages/pointclouds/src/potree-three-loader/types/IPotree.ts
  viewer/packages/pointclouds/src/potree-three-loader/utils/math.ts
  viewer/packages/pointclouds/src/potree-three-loader/utils/utils.ts
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/package.json
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/PointCloudMaterialManager.test.ts
  viewer/packages/rendering/src/PointCloudMaterialManager.ts
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.frag
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.vert
  viewer/packages/rendering/src/pointcloud-rendering/PointCloudMaterial.ts
  viewer/packages/rendering/src/pointcloud-rendering/classification.ts
  viewer/packages/rendering/src/pointcloud-rendering/constants.ts
  viewer/packages/rendering/src/pointcloud-rendering/enums.ts
  viewer/packages/rendering/src/pointcloud-rendering/gradients/SpectralGradient.ts
  viewer/packages/rendering/src/pointcloud-rendering/index.ts
  viewer/packages/rendering/src/pointcloud-rendering/texture-generation.ts
  viewer/packages/rendering/src/pointcloud-rendering/types.ts
  viewer/packages/rendering/src/render-passes/PointCloudEffectsPass.ts
  viewer/packages/rendering/src/render-passes/types.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.test.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/PointCloudRenderPipelineProvider.ts
  viewer/packages/rendering/src/rendering/shaders.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
  viewer/packages/rendering/visual-tests/RenderTarget.VisualTest.ts
  viewer/packages/rendering/visual-tests/Rendering.VisualTest.ts
  viewer/test-utilities/src/createPointCloudModel.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
  viewer/yarn.lock
Labels: auto-update, slack

#2532 feat: add hover capability to the icon of 360 images.
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360EntityFactory.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/unit-tests/Image360EntityFactory.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/worldToViewport.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
Labels: auto-update, slack

#2540 fix: seeing old frames through in-front geometry
  viewer/packages/rendering/src/render-passes/PostProcessingPass.ts
  viewer/packages/rendering/visual-tests/Blending.VisualTest.ts
  viewer/packages/rendering/visual-tests/__image_snapshots__/Blending.VisualTest.png
Labels: auto-update, slack, preview-docs

#2526 fix: missing exports JsonFileProvider and BinaryFileProvider necessary to implement custom data source
  viewer/extensions/datasource.ts
  viewer/packages/data-providers/index.ts
Labels: auto-update, slack

#2534 chore: add local 360 image provider for testing
  examples/public/primitives/360Images.json
  examples/public/primitives/river/back.png
  examples/public/primitives/river/bottom.png
  examples/public/primitives/river/front.png
  examples/public/primitives/river/left.png
  examples/public/primitives/river/right.png
  examples/public/primitives/river/top.png
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/types.ts
  viewer/packages/data-providers/index.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
Labels: auto-update, slack

#2542 fix: remove useless Cognite3DViewer.isBrowserSupported
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack

#2544 refac: remove optional options parameter to Cognite3DViewer.getIntersectionFromPixel
  viewer/.eslintrc.js
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/types.ts
Labels: auto-update

#2545 chore: Renovate will now only create PRs in the morning and not for newly released dependencies
  renovate.json
Labels: auto-update, slack

#2548 fix: malformed renovate config
  renovate.json
Labels: slack

#2546 refac: remove Potree prefix
  documentation/docs/examples/pointcloud.mdx
  documentation/docs/migration-guide.md
  documentation/docs/overview.mdx
  examples/src/utils/PointCloudUi.ts
  viewer/packages/api/src/public/types.ts
  viewer/packages/api/visual-tests/ClippingPointCloud.VisualTest.ts
  viewer/packages/api/visual-tests/DefaultPointCloud.VisualTest.ts
  viewer/packages/api/visual-tests/FixedPointCloud.VisualTest.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/packages/pointclouds/src/PointCloudNode.ts
  viewer/packages/pointclouds/src/PotreeNodeWrapper.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctree.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
  viewer/packages/rendering/src/pointcloud-rendering/PointCloudMaterial.ts
  viewer/packages/rendering/src/pointcloud-rendering/enums.ts
  viewer/packages/rendering/src/render-passes/types.ts
  viewer/packages/rendering/src/render-pipeline-providers/PointCloudRenderPipelineProvider.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
Labels: auto-update, slack, preview-docs

#2549 chore: broken Renovate configuration
  renovate.json
Labels: auto-update, slack

#2550 fix: point cloud custom transformation
  viewer/packages/data-providers/src/pointcloud-stylable-object-providers/cdfAnnotationsToObjects.ts
  viewer/packages/pointclouds/src/PointCloudNode.test.ts
  viewer/packages/pointclouds/src/PointCloudNode.ts
  viewer/packages/pointclouds/src/PotreeNodeWrapper.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctree.ts
  viewer/test-utilities/index.ts
  viewer/test-utilities/src/createPointCloudModel.ts
Labels: slack

#2552 fix: export point cloud object metadata
  documentation/docs/examples/pointcloud-styling.mdx
  examples/src/utils/PointCloudObjectStylingUI.ts
  viewer/index.ts
Labels: slack

#2556 fix: visualization artifacts due to wrongfully handling cylinder clip planes
  examples/public/primitives/0.glb
  examples/public/primitives/scene.json
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.frag
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.vert
  viewer/packages/sector-parser/visual-tests/GeneralCylinder.VisualTest.ts
  viewer/packages/sector-parser/visual-tests/PrimitivesVisualTestFixture.ts
  viewer/packages/sector-parser/visual-tests/SectorParser.VisualTest.ts
  viewer/packages/sector-parser/visual-tests/__image_snapshots__/GeneralCylinder.VisualTest.png
  viewer/test-utilities/src/primitives/internal/threeTranslation.ts
Labels: auto-update, slack, preview-docs

#2565 Update pull_request_template.md
  .github/pull_request_template.md
Labels: auto-update

#2572 improvement: add ActiveCameraManager for managing the current active camera manager
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/index.ts
  viewer/packages/camera-manager/src/ProxyCameraManager.test.ts
  viewer/packages/camera-manager/src/ProxyCameraManager.ts
Labels: auto-update, slack

#2574 feat: expose API and add custom camera manager while in 360 images
  examples/src/pages/Viewer.tsx
  examples/src/utils/Image360UI.ts
  examples/yarn.lock
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/index.ts
  viewer/packages/camera-manager/src/ProxyCameraManager.ts
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: auto-update, slack

#2564 cleanup: remove unsupported pointcloud features
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
  viewer/packages/pointclouds/src/potree-three-loader/loading/EptBinaryLoader.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.frag
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.vert
  viewer/packages/rendering/src/pointcloud-rendering/PointCloudMaterial.ts
  viewer/packages/rendering/src/pointcloud-rendering/constants.ts
  viewer/packages/rendering/src/pointcloud-rendering/enums.ts
  viewer/packages/rendering/src/pointcloud-rendering/types.ts
Labels: auto-update, slack

#2573 improvement: make CadModelUpdateHandler trigger sector loading immediately after the camera stops moving
  viewer/packages/api/src/public/RevealManager.ts
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/cad-geometry-loaders/src/utilities/rxOperations.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
Labels: auto-update

#2586 chore: add workflow that deploys to NPM on Github release
  .github/workflows/publish-to-npm-on-release.yml
Labels: auto-update, slack

#2591 fix: increase documentation memory limit
  documentation/docs/examples/pointcloud-styling.mdx
  documentation/package.json
Labels: slack, preview-docs

#2577 Chore: remove ignored API docs from v4
  documentation/versioned_docs/version-4.x/API Reference.md
Labels: auto-update, slack

#2593 chore: remove dry run from publish workflow and update documentation
  .github/workflows/publish-to-npm-on-release.yml
  RELEASING.md
Labels: auto-update, slack

#2595 chore: add a nightly executed workflow for publishing Reveal under nightly tag
  .github/workflows/nightly-publish-to-npm.yml
Labels: auto-update, slack

#2602 chore: update cargo.lock
  viewer/Cargo.lock
Labels: auto-update

#2603 chore: improve wasm CI
  .github/workflows/ci.yml
  viewer/Cargo.lock
  viewer/README.md
  viewer/package.json
  viewer/packages/pointclouds/package.json
Labels: slack

#2610 improvement: reduce bundle size by avoiding webworker and JS files
  viewer/README.md
  viewer/webpack.config.js
Labels: slack

#2609 chore: add caching to cargo registry in CI
  .github/workflows/ci.yml
Labels: slack

#2620 fix: general cylinder inside rendering
  viewer/packages/api/visual-tests/__image_snapshots__/Outline.VisualTest.png
  viewer/packages/api/visual-tests/__image_snapshots__/ReassignNodeStyle.VisualTest.png
  viewer/packages/api/visual-tests/__image_snapshots__/TwoModels.VisualTest.png
  viewer/packages/cad-model/visual-tests/__image_snapshots__/Rotation.VisualTest.png
  viewer/packages/cad-model/visual-tests/__image_snapshots__/Scale.VisualTest.png
  viewer/packages/cad-styling/visual-tests/__image_snapshots__/CustomWithStyling.VisualTest.png
  viewer/packages/cad-styling/visual-tests/__image_snapshots__/Highlighted.VisualTest.png
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.frag
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.vert
  viewer/packages/rendering/visual-tests/__image_snapshots__/Rendering.VisualTest.png
  viewer/packages/rendering/visual-tests/__image_snapshots__/Ssao.VisualTest.png
  viewer/packages/sector-loader/visual-tests/__image_snapshots__/SectorLoader.VisualTest.png
  viewer/packages/sector-parser/visual-tests/__image_snapshots__/GeneralCylinder.VisualTest.png
Labels: slack

#2611 fix: backport release workflow
  .github/workflows/publish-to-npm-on-release.yml
Labels: slack
