Repository cognitedata/reveal, pull requests merged in 2022-12, with the labels that each got.

#2760 chore: remove dependency on @cognite/sdk-core
  viewer/package.json
  viewer/packages/cad-styling/src/PopulateIndexSetFromPagedResponseHelper.test.ts
  viewer/packages/data-providers/src/metadata-providers/CdfModelMetadataProvider.ts
  viewer/packages/data-providers/src/utilities/fetchWithStatusCheck.ts
  viewer/yarn.lock
Labels: slack

#2757 fix: add in missing event trigger dispose() in examples
  documentation/docs/extending/camera-manager.mdx
  examples/src/utils/CustomCameraManager.ts
Labels: slack

#2751 chore: fix missing API exports
  viewer/api-entry-points/core.ts
  viewer/api-extractor.json
  viewer/packages/api/index.ts
  viewer/packages/api/src/public/RevealManager.test.ts
  viewer/packages/api/src/public/RevealManager.ts
  viewer/packages/api/src/public/RevealOptions.ts
  viewer/packages/api/src/public/createRevealManager.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/types.ts
  viewer/packages/api/src/public/types.ts
  viewer/packages/api/src/storage/RevealManagerHelper.ts
  viewer/packages/cad-styling/index.ts
  viewer/packages/camera-manager/src/utils/DebouncedCameraStopEventTrigger.ts
  viewer/packages/tools/index.ts
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
  viewer/packages/utilities/src/events/types.ts
  viewer/packages/utilities/src/indexset/IndexSet.ts
  viewer/reveal.api.md
Labels: slack

#2749 docs: add documentation for using 360 images with Reveal
  documentation/docs/examples/image360.mdx
  documentation/sidebars.js
  documentation/static/img/image360_1.png
  documentation/static/img/image360_2.png
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack, preview-docs

#2761 fix: add proper click event instead of mouse up
  viewer/packages/360-images/src/Image360.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
  viewer/reveal.api.md
Labels: auto-update, slack

#2767 feat: add Image360Collection return type for easier extendability in the future
  documentation/docs/examples/image360.mdx
  examples/src/utils/Image360UI.ts
  examples/yarn.lock
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/Image360Collection.ts
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/reveal.api.md
Labels: auto-update, slack, preview-docs

#2768 chore: force fail on api warning
  .github/workflows/ci.yml
Labels: auto-update, slack

#2778 fix: correct object ID range in styling UI
  examples/src/utils/PointCloudObjectStylingUI.ts
Labels: slack

#2772 doc: Add breaking changes into the migration documentation for next
  documentation/docs/installation.mdx
  documentation/docs/migration-guide.md
Labels: auto-update, slack, preview-docs

#2769 example: add UI for loading GLTF from URL
  examples/src/pages/Viewer.tsx
  examples/src/utils/LoadGltfUi.ts
Labels: auto-update

#2785 doc: classification list signature change
  documentation/docs/migration-guide.md
  documentation/versioned_docs/version-4.x/migration-guide.md
Labels: slack, preview-docs

#2786 fix: trigger update event when ComboControls receives new target
  viewer/packages/camera-manager/src/ComboControls.ts
Labels: bug, slack

#2781 example: highlight object on clicks in point clouds
  examples/src/pages/Viewer.tsx
Labels: slack

#2796 chore: Move to different source maps type in examples
  examples/webpack.config.js
Labels: auto-update, slack

#2800 style: Remove border from Reveal in example page
  examples/public/index.html
  examples/src/App.tsx
  examples/src/index.css
  examples/src/index.tsx
  examples/src/pages/Viewer.tsx
Labels: slack

#2805 chore: remove duplicate script imports in example HTML
  examples/public/index.html
Labels: slack

#2793 bug: "Fit camera to model" in CDF Fusion zooms in too far
  viewer/packages/cad-parsers/src/utilities/SectorScene.test.ts
  viewer/packages/cad-parsers/src/utilities/SectorScene.ts
  viewer/test-utilities/src/createSectorMetadata.ts
Labels: auto-update

#2804 bug: Fixed controls in DefaultCameraManager not being disabled when the manager is deactivated
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
Labels: auto-update, slack

#2807 fix: docs 4.x api reference
  documentation/versioned_docs/version-4.x/api/classes/cognite_reveal.Cognite3DModel.md
  documentation/versioned_docs/version-4.x/api/classes/cognite_reveal.CognitePointCloudModel.md
  documentation/versioned_docs/version-4.x/api/classes/cognite_reveal.DefaultCameraManager.md
  documentation/versioned_docs/version-4.x/api/classes/cognite_reveal.NodeAppearanceProvider.md
  documentation/versioned_docs/version-4.x/api/classes/cognite_reveal_tools.DebugLoadedSectorsTool.md
  documentation/versioned_docs/version-4.x/api/classes/cognite_reveal_tools.ExplodedViewTool.md
  documentation/versioned_docs/version-4.x/api/classes/cognite_reveal_tools.GeomapTool.md
  documentation/versioned_docs/version-4.x/api/enums/cognite_reveal.PotreePointColorType.md
  documentation/versioned_docs/version-4.x/api/enums/cognite_reveal.PotreePointShape.md
  documentation/versioned_docs/version-4.x/api/enums/cognite_reveal.PotreePointSizeType.md
  documentation/versioned_docs/version-4.x/api/enums/cognite_reveal_tools.BingMapImageFormat.md
  documentation/versioned_docs/version-4.x/api/enums/cognite_reveal_tools.BingMapType.md
  documentation/versioned_docs/version-4.x/api/enums/cognite_reveal_tools.HereMapImageFormat.md
  documentation/versioned_docs/version-4.x/api/enums/cognite_reveal_tools.HereMapScheme.md
  documentation/versioned_docs/version-4.x/api/enums/cognite_reveal_tools.HereMapType.md
  documentation/versioned_docs/version-4.x/api/enums/cognite_reveal_tools.MapProviders.md
  documentation/versioned_docs/version-4.x/api/enums/cognite_reveal_tools.MapboxImageFormat.md
  documentation/versioned_docs/version-4.x/api/enums/cognite_reveal_tools.MapboxMode.md
  documentation/versioned_docs/version-4.x/api/enums/cognite_reveal_tools.MapboxStyle.md
  documentation/versioned_docs/version-4.x/api/interfaces/cognite_reveal.Cognite3DViewerOptions.md
  documentation/versioned_docs/version-4.x/api/interfaces/cognite_reveal.CogniteModelBase.md
  documentation/versioned_docs/version-4.x/api/interfaces/cognite_reveal.IntersectionFromPixelOptions.md
  documentation/versioned_docs/version-4.x/api/modules/cognite_reveal.md
  documentation/versioned_docs/version-4.x/api/modules/cognite_reveal_tools.md
Labels: auto-update, slack, preview-docs

#2812 chore: update yarn version
  viewer/.yarn/plugins/@yarnpkg/plugin-version.cjs
  viewer/.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  viewer/.yarn/releases/yarn-3.0.2.cjs
  viewer/.yarn/releases/yarn-3.3.0.cjs
  viewer/.yarnrc.yml
  viewer/package.json
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-geometry-loaders/src/InternalRevealCadOptions.ts
  viewer/packages/cad-geometry-loaders/src/createCadManager.ts
  viewer/packages/data-providers/src/pointcloud-stylable-object-providers/CdfPointCloudStylableObjectProvider.test.ts
  viewer/packages/data-providers/src/pointcloud-stylable-object-providers/DummyPointCloudStylableObjectProvider.ts
  viewer/packages/rendering/src/pointcloud-rendering/PointCloudMaterial.ts
  viewer/packages/utilities/src/device.ts
  viewer/yarn.lock
Labels: slack

#2801 fix: AssetNodeCollection.clear() doesn't clear getAreas()
  viewer/packages/cad-styling/src/AssetNodeCollection.ts
Labels: auto-update, preview-docs

#2790 fix: smooth model transformations
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/pointclouds/src/PointCloudNode.ts
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctree.ts
Labels: slack

#2817 chore: expand Renovate work hours and remove Slack label
  renovate.json
Labels: slack

#2824 chore: enable suspending point clouds from Viewer.tsx
  examples/src/pages/Viewer.tsx
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
Labels: slack

#2789 refac: remove deprecated I3D and F3D (v8) metadata types
  viewer/packages/cad-geometry-loaders/src/sector/ModelStateHandler.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByScreenSizeSectorCuller.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/WeightFunctionsHelper.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/computeSectorCost.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/takensectors/TakenV9SectorMap.ts
  viewer/packages/cad-parsers/index.ts
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserGltf.test.ts
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserGltf.ts
  viewer/packages/cad-parsers/src/metadata/parsers/types.ts
  viewer/packages/cad-parsers/src/metadata/types.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
  viewer/packages/sector-loader/tests/mockSectorUtils.ts
  viewer/test-utilities/src/createSceneSectorMetadata.ts
  viewer/test-utilities/src/createSectorMetadata.ts
Labels: auto-update, slack, preview-docs

#2821 bug: Screenshot resizing viewer canvas on macOS & iOS
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack, preview-docs

#2795 feat: option for scaling down resolution on move
  documentation/docs/examples/rendering-resolution.mdx
  documentation/sidebars.js
  examples/src/utils/CameraUI.ts
  viewer/packages/api/src/public/RevealManager.ts
  viewer/packages/api/src/public/RevealOptions.ts
  viewer/packages/api/src/public/createRevealManager.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/types.ts
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/package.json
  viewer/packages/rendering/src/ResizeHandler.test.ts
  viewer/packages/rendering/src/ResizeHandler.ts
  viewer/packages/rendering/src/glsl/base/pointSizeRelativeToScreen.glsl
  viewer/packages/rendering/src/glsl/pointcloud/edl.glsl
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.vert
  viewer/packages/rendering/src/pipeline-executors/BasicPipelineExecutor.ts
  viewer/packages/rendering/src/pointcloud-rendering/PointCloudMaterial.ts
  viewer/packages/rendering/visual-tests/Resize.VisualTest.ts
  viewer/reveal.api.md
  viewer/yarn.lock
Labels: slack, preview-docs

#2827 fix: incorrect combined measurement label in screenshot
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack
