Repository cognitedata/reveal, pull requests merged in 2022-09, with the labels that each got.

#2362 feat: Add point blending effect for point cloud rendering
  documentation/docs/examples/pointcloud.mdx
  documentation/static/img/point-blending.jpg
  documentation/versioned_docs/version-3.x/examples/pointcloud.mdx
  documentation/yarn.lock
  examples/src/pages/Migration.tsx
  examples/src/utils/PointCloudUi.ts
  viewer/packages/api/src/public/createRevealManager.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/types.ts
  viewer/packages/pointclouds/index.ts
  viewer/packages/pointclouds/package.json
  viewer/packages/pointclouds/src/PointCloudFactory.ts
  viewer/packages/pointclouds/src/PointCloudMetadata.ts
  viewer/packages/pointclouds/src/PointCloudMetadataRepository.ts
  viewer/packages/pointclouds/src/PotreeGroupWrapper.test.ts
  viewer/packages/pointclouds/src/PotreeNodeWrapper.ts
  viewer/packages/pointclouds/src/potree-three-loader/rendering/PointCloudMaterial.ts
  viewer/packages/pointclouds/src/potree-three-loader/rendering/shaders/normalize.frag
  viewer/packages/pointclouds/src/potree-three-loader/rendering/shaders/normalize.vert
  viewer/packages/pointclouds/src/potree-three-loader/rendering/shaders/pointcloud.frag
  viewer/packages/pointclouds/src/potree-three-loader/rendering/shaders/pointcloud.vert
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctree.ts
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/package.json
  viewer/packages/rendering/src/glsl/pointcloud/normalize.frag
  viewer/packages/rendering/src/glsl/pointcloud/normalize.vert
  viewer/packages/rendering/src/render-passes/PointCloudEffectsPass.ts
  viewer/packages/rendering/src/render-passes/PostProcessingPass.ts
  viewer/packages/rendering/src/render-passes/types.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.test.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/PointCloudRenderPipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/types.ts
  viewer/packages/rendering/src/rendering/shaders.ts
  viewer/packages/rendering/src/rendering/types.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
  viewer/packages/rendering/visual-tests/RenderTarget.VisualTest.ts
  viewer/packages/utilities/src/SceneHandler.ts
  viewer/packages/utilities/src/WebGLRendererStateHelper.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
  viewer/yarn.lock
Labels: auto-update, slack, preview-docs

#2381 feat: add option to Cognite3DViewer to override resolution cap
  viewer/package.json
  viewer/packages/api/src/public/RevealManager.test.ts
  viewer/packages/api/src/public/RevealManager.ts
  viewer/packages/api/src/public/createRevealManager.test.ts
  viewer/packages/api/src/public/createRevealManager.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/types.ts
  viewer/packages/api/src/public/types.ts
  viewer/packages/rendering/src/RenderPipelineExecutor.ts
  viewer/packages/rendering/src/pipeline-executors/BasicPipelineExecutor.ts
  viewer/packages/rendering/src/pipeline-executors/StepPipelineExecutor.ts
  viewer/packages/rendering/visual-tests/Resize.VisualTest.ts
  viewer/packages/rendering/visual-tests/__image_snapshots__/Resize.VisualTest.png
  viewer/test-utilities/src/setupJest.ts
  viewer/visual-tests/VisualTest.jest.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
  viewer/yarn.lock
Labels: auto-update, slack, preview-docs

#2383 fix: keyboard events dispose for input handler
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/Keyboard.ts
Labels: auto-update, slack

#2386 fix: remove build viewer dependency and download viewer step for unit tests
  .github/workflows/ci.yml
Labels: auto-update, slack

#2387 fix: wrong resolve of viewer symlink
  examples/webpack.config.js
Labels: auto-update, slack

#2395 chore: add documentation for visual tests setup and usage
  viewer/visual-tests/README.md
Labels: auto-update, slack

#2393 feat: Enable changing camera manager in runtime
  documentation/docs/extending/camera-manager.mdx
  examples/src/pages/Migration.tsx
  examples/src/utils/CustomCameraManager.ts
  examples/tsconfig.json
  examples/webpack.config.js
  viewer/packages/api/src/public/RevealManager.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/RenderController.ts
  viewer/packages/api/src/utilities/ViewStateHelper.ts
  viewer/packages/camera-manager/src/CameraManager.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/tsconfig.json
  viewer/webpack.config.js
Labels: auto-update, slack

#2397 chore: purge unused examples and all references to /internals from examples
  examples/src/App.tsx
  examples/src/pages/Clipping.tsx
  examples/src/pages/CustomDataSource.tsx
  examples/src/pages/Geomap.tsx
  examples/src/pages/Migration.tsx
  examples/src/pages/SSAO.tsx
  examples/src/pages/SectorWithPointcloud.tsx
  examples/src/pages/Simple.tsx
  examples/src/pages/SimplePointcloud.tsx
  examples/src/pages/TwoModels.tsx
  examples/src/pages/WalkablePath.tsx
  examples/src/react-app-env.d.ts
  examples/src/routes.tsx
  examples/src/setupTests.ts
  examples/src/utils/AnimationLoopHandler.ts
  examples/src/utils/cameraConfig.ts
  examples/src/utils/cameraControls.ts
  examples/src/utils/createManagerAndLoadModel.ts
  examples/src/utils/renderer-debug-widget.ts
  examples/src/utils/sceneHelpers.ts
  viewer/internals.ts
  viewer/webpack.config.js
Labels: auto-update, slack

#2401 fix: round calculation of drawing buffer size to an integer
  viewer/packages/rendering/src/pipeline-executors/BasicPipelineExecutor.ts
Labels: auto-update, slack

#2400 chore: integrate three-stdlib to replace use of three/examples in viewer
  examples/src/utils/MeasurementUi.ts
  examples/yarn.lock
  viewer/package.json
  viewer/packages/rendering/visual-tests/Rendering.VisualTest.ts
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
  viewer/visual-tests/test-fixtures/SimpleVisualTestFixture.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
  viewer/yarn.lock
Labels: auto-update, slack

#2411 doc: fix broken preview docs
  .github/workflows/ci.yml
  documentation/docusaurus.config.js
  documentation/package.json
  documentation/yarn.lock
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack, preview-docs

#2419 fix: set minimum point size to 1 (from 2) and add visual test for fixed size
  viewer/packages/api/visual-tests/FixedPointCloud.VisualTest.ts
  viewer/packages/api/visual-tests/__image_snapshots__/FixedPointCloud.VisualTest.png
  viewer/packages/pointclouds/src/potree-three-loader/rendering/PointCloudMaterial.ts
  viewer/packages/pointclouds/src/potree-three-loader/rendering/constants.ts
Labels: auto-update, slack

#2420 fix: properly dispose old classifiction texture when creating a new one
  viewer/packages/pointclouds/src/potree-three-loader/rendering/PointCloudMaterial.ts
Labels: auto-update, slack

#2421 chore: allow passing arguments to jest when running visual tests
  viewer/README.md
  viewer/package.json
Labels: auto-update

#2424 fix: issue causing AssetNodeCollection.getAreas() to return coordinates in "CDF space" and not "ThreeJS space"
  examples/src/pages/Migration.tsx
  examples/src/utils/NodeStylingUI.ts
  viewer/packages/cad-styling/src/AssetNodeCollection.ts
  viewer/packages/cad-styling/src/NodeCollection.ts
Labels: auto-update, slack, preview-docs

#2425 fix: issue with old frames being visible in highlighted objects
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderPipelineProvider.ts
Labels: auto-update, slack

#2427 doc: show bounds of matched nodes in example for SinglePropertyFilterNodeCollection
  documentation/docs/examples/cad-styling-nodes.mdx
Labels: auto-update, slack, preview-docs

#2430 cleanup: remove Geomap tool from documentation
  documentation/docs/examples/geomaptool.mdx
  documentation/sidebars.js
  documentation/yarn.lock
Labels: slack, preview-docs

#2429 fix: downscale default resolution threshold on mobile devices by its device pixel ratio
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/renderOptionsHelpers.test.ts
  viewer/packages/api/src/public/migration/renderOptionsHelpers.ts
Labels: auto-update, slack

#2405 fix: make zoomToCursor camera mode to properly work with asynchronous picking
  examples/package.json
  examples/src/pages/Migration.tsx
  examples/yarn.lock
  viewer/package.json
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/cad-model/src/picking/PickingHandler.ts
  viewer/packages/cad-model/src/picking/readPixelsFromTargetAsync.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/events/types.ts
  viewer/packages/webpack.config.js
  viewer/yarn.lock
Labels: auto-update, slack, preview-docs

#2434 fix: redraw point cloud on classification change
  viewer/packages/pointclouds/src/PotreeNodeWrapper.ts
Labels: auto-update, slack

#2435 improvement: Increased default budget for point clouds
  examples/src/utils/PointCloudUi.ts
  examples/yarn.lock
  viewer/packages/pointclouds/src/PotreeGroupWrapper.ts
  viewer/packages/pointclouds/src/potree-three-loader/rendering/constants.ts
Labels: auto-update, slack, preview-docs

#2436 doc: use default point size in docs
  documentation/docs/demos/Cognite3DViewerDemo.tsx
Labels: auto-update, slack, preview-docs

#2437 chore: bump Reveal to 3.2.0
  viewer/package.json
Labels: slack

#2438 chore: update docs for version 3.x
  documentation/versioned_docs/version-3.x/API Reference.md
  documentation/versioned_docs/version-3.x/demos/Cognite3DViewerDemo.tsx
  documentation/versioned_docs/version-3.x/examples/cad-2doverlay.mdx
  documentation/versioned_docs/version-3.x/examples/cad-styling-nodes.mdx
  documentation/versioned_docs/version-3.x/examples/cad-transform-override.mdx
  documentation/versioned_docs/version-3.x/examples/click-reactions-pointcloud.mdx
  documentation/versioned_docs/version-3.x/examples/geomaptool.mdx
  documentation/versioned_docs/version-3.x/examples/point-to-point-measurement.mdx
  documentation/versioned_docs/version-3.x/examples/pointcloud.mdx
  documentation/versioned_docs/version-3.x/extending/camera-manager.mdx
  documentation/versioned_sidebars/version-3.x-sidebars.json
  documentation/yarn.lock
Labels: slack, preview-docs

#2366 feat: upgrade to docusarus 2.x
  documentation/docs/components/DemoLoginCover.tsx
  documentation/docs/components/DemoWrapper.tsx
  documentation/docusaurus.config.js
  documentation/docusaurus_plugins/docusaurusWebpack5Plugin.js
  documentation/package.json
  documentation/src/theme/Navbar/index.tsx
  documentation/src/theme/Navbar/styles.module.css
  documentation/src/theme/NavbarItem/DefaultNavbarItem.tsx
  documentation/src/theme/NavbarItem/DocsVersionDropdownNavbarItem.tsx
  documentation/src/theme/NavbarItem/DocsVersionNavbarItem.tsx
  documentation/src/theme/NavbarItem/index.tsx
  documentation/versioned_docs/version-1.x/components/DemoLoginCover.tsx
  documentation/versioned_docs/version-1.x/components/DemoWrapper.tsx
  documentation/versioned_docs/version-2.x/components/DemoLoginCover.tsx
  documentation/versioned_docs/version-2.x/components/DemoWrapper.tsx
  documentation/versioned_docs/version-3.x/components/DemoLoginCover.tsx
  documentation/versioned_docs/version-3.x/components/DemoWrapper.tsx
  documentation/yarn.lock
Labels: auto-update, slack, preview-docs

#2447 feat: activate contextual search in documentation
  documentation/docusaurus.config.js
Labels: auto-update, slack, preview-docs

#2451 doc: replace meaningless example of InvertedNodeCollection with something that makes more sense
  documentation/docs/examples/cad-styling-nodes.mdx
Labels: auto-update, slack, preview-docs

#2433 feat: blend point cloud classification colors with RGB
  viewer/packages/pointclouds/src/potree-three-loader/rendering/shaders/pointcloud.vert
Labels: auto-update

#2463 chore: delete preview docs when PR is closed/merged
  .github/workflows/cleanup-on-close.yml
Labels: slack

#2467 chore: ensure preview docs cleanup doesn't interfer with preview deploy or cleanup
  .github/workflows/ci-cleanup-on-close.yml
Labels: auto-update, slack

#2460 fix: use Scene.matrixWorldAutoUpdate instead of autoUpdate
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.ts
  viewer/packages/utilities/src/SceneHandler.ts
Labels: auto-update, slack, preview-docs

#2472 fix: expose and fix bug causing getBoundingBoxByNodeId/TreeIndex not to modify out parameter
  viewer/packages/cad-model/src/wrappers/Cognite3DModel.test.ts
  viewer/packages/cad-model/src/wrappers/Cognite3DModel.ts
  viewer/test-utilities/src/createCadModel.ts
Labels: auto-update, slack

#2423 improvement: remove Object3D as superclass from Cognite* models and refactor SceneHandler
  examples/src/pages/Migration.tsx
  viewer/.eslintrc.js
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/visual-tests/Outline.VisualTest.ts
  viewer/packages/api/visual-tests/ReassignNodeStyle.VisualTest.ts
  viewer/packages/cad-model/src/wrappers/Cognite3DModel.ts
  viewer/packages/cad-model/visual-tests/DebugLoadedSectorsTool.ts
  viewer/packages/cad-model/visual-tests/SectorBoundingBoxes.VisualTest.ts
  viewer/packages/cad-model/visual-tests/__image_snapshots__/SectorBoundingBoxes.VisualTest.png
  viewer/packages/cad-styling/visual-tests/CustomWithStyling.VisualTest.ts
  viewer/packages/cad-styling/visual-tests/Highlighted.VisualTest.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/packages/rendering/src/render-passes/PointCloudEffectsPass.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderModePipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderPipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.test.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/PointCloudRenderPipelineProvider.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
  viewer/packages/rendering/visual-tests/Ssao.VisualTest.ts
  viewer/packages/tools/index.ts
  viewer/packages/utilities/src/SceneHandler.test.ts
  viewer/packages/utilities/src/SceneHandler.ts
  viewer/test-utilities/index.ts
  viewer/test-utilities/src/createCadModel.ts
  viewer/test-utilities/src/createPointCloudModel.ts
Labels: auto-update, slack, preview-docs

#2493 chore: remove geomap
  documentation/package.json
  documentation/yarn.lock
  examples/yarn.lock
  viewer/package.json
  viewer/packages/tools/index.ts
  viewer/packages/tools/src/Geomap/Geomap.ts
  viewer/packages/tools/src/Geomap/GeomapTool.ts
  viewer/packages/tools/src/Geomap/MapConfig.ts
  viewer/yarn.lock
Labels: auto-update, slack, preview-docs

#2492 refact: keyboard and mouse event handling in viewer
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/app/index.ts
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/Keyboard.ts
  viewer/packages/tools/src/AxisView/AxisViewTool.ts
Labels: auto-update, slack, preview-docs

#2449 feat: add NodeIdNodeCollection for identifying nodes by "node IDs"
  documentation/docs/examples/cad-save-viewerstate.mdx
  documentation/docs/examples/cad-styling-nodes.mdx
  documentation/docs/examples/cad-styling.mdx
  viewer/index.ts
  viewer/packages/cad-styling/index.ts
  viewer/packages/cad-styling/src/CdfNodeCollectionBase.ts
  viewer/packages/cad-styling/src/NodeCollectionDeserializer.ts
  viewer/packages/cad-styling/src/NodeIdNodeCollection.test.ts
  viewer/packages/cad-styling/src/NodeIdNodeCollection.ts
  viewer/packages/cad-styling/src/PropertyFilterNodeCollection.test.ts
  viewer/packages/cad-styling/src/PropertyFilterNodeCollection.ts
  viewer/packages/cad-styling/src/SinglePropertyFilterNodeCollection.test.ts
  viewer/packages/cad-styling/src/SinglePropertyFilterNodeCollection.ts
  viewer/packages/cad-styling/src/TreeIndexNodeCollection.ts
Labels: auto-update, slack, preview-docs

#2501 fix: add back drawcall-sector-coloring in debug tool
  viewer/packages/cad-model/visual-tests/DebugLoadedSectorsTool.ts
  viewer/packages/cad-model/visual-tests/SectorBoundingBoxes.VisualTest.ts
Labels: auto-update, slack, preview-docs

#2507 chore: remove visual tests from codecov
  viewer/jest.config.js
Labels: slack

#2506 chore: security upgrades for viewer/
  documentation/yarn.lock
  viewer/yarn.lock
Labels: auto-update, slack, preview-docs

#2494 feat: Add initial support for 360 images
  viewer/index.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/package.json
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360EntityFactory.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/unit-tests/Image360EntityFactory.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/360-images/visual-tests/__image_snapshots__/Image360.VisualTest.png
  viewer/packages/api/package.json
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/data-providers/index.ts
  viewer/packages/data-providers/src/Image360Provider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/test-utilities/src/appUtils.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
  viewer/visual-tests/test-fixtures/utilities/cognite3DViewerHelpers.ts
  viewer/visual-tests/test-fixtures/utilities/createDataProviders.ts
  viewer/yarn.lock
Labels: auto-update, slack

#2498 feat: add on demand loading of 360 images into a visualization object
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/data-providers/index.ts
  viewer/packages/data-providers/package.json
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/types.ts
Labels: auto-update, slack
