Repository cognitedata/reveal, pull requests merged in 2022-04, with the labels that each got.

#2031 fix: let threejs update shared uniforms
  viewer/packages/cad-geometry-loaders/src/sector/culling/OrderSectorsByVisibilityCoverage.ts
  viewer/packages/rendering/src/GeometryBatchingManager.ts
  viewer/packages/rendering/src/rendering/materials.ts
  viewer/packages/rendering/src/rendering/primitives.ts
  viewer/packages/sector-loader/app/index.ts
  viewer/packages/sector-parser/app/index.ts
  viewer/packages/sector-parser/app/testMaterials.ts
Labels: auto-update, slack

#2014 chore: do not build viewer for each CI job
  .github/workflows/ci.yml
  .github/workflows/preview-documentation.yml
Labels: auto-update, slack, preview-docs

#1937 feat: bulk creation of overlays in example
  examples/src/pages/Migration.tsx
  examples/src/utils/BulkHtmlOverlayUI.ts
  examples/src/utils/InspectNodeUi.ts
Labels: auto-update, do-not-merge, slack

#2021 fix: Docs reveal version for 2.x and controls modes example
  documentation/package.json
  documentation/versioned_docs/version-2.x/examples/controlsmodes.mdx
  documentation/yarn.lock
Labels: auto-update, slack, preview-docs

#1948 Updated sdk-core peer dependency
  viewer/package.json
  viewer/yarn.lock
Labels: auto-update

#2024 fix: make nuts look flat
  examples/src/visual_tests/__image_snapshots__/cad_userRenderTarget-snap.png
  viewer/packages/cad-parsers/src/cad/primitiveGeometries.ts
  viewer/packages/rendering/src/glsl/sector/primitives/instanced.frag
  viewer/packages/rendering/src/glsl/sector/primitives/instanced.vert
  viewer/packages/rendering/src/rendering/primitives.test.ts
  viewer/packages/rendering/src/rendering/primitives.ts
  viewer/packages/rendering/src/rendering/shaders.ts
Labels: auto-update

#2023 fix: Point cloud rendering issue in docs
  documentation/yarn.lock
Labels: auto-update, slack

#2044 chore: bump reveal version in docs
  documentation/package.json
  documentation/yarn.lock
Labels: slack, preview-docs

#2045 feat: Added support for clicked button data for Cognite3DViewer.on('click',...) method
  examples/src/pages/Geomap.tsx
  examples/src/pages/Migration.tsx
  viewer/core/src/public/migration/Cognite3DViewer.test.ts
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/public/migration/types.ts
  viewer/index.ts
  viewer/packages/camera-manager/src/CameraManager.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/packages/camera-manager/src/types.ts
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/events/InputHandler.ts
  viewer/packages/utilities/src/events/index.ts
  viewer/packages/utilities/src/events/types.ts
Labels: auto-update, slack

#2053 chore: update viewer README example
  viewer/README.md
Labels: auto-update

#2076 fix: unproper type exports
  examples/package.json
  examples/tsconfig.json
  examples/yarn.lock
  viewer/core/src/@types/modules/index.d.ts
  viewer/core/src/internals.ts
  viewer/internals.ts
  viewer/package.json
  viewer/packages/cad-model/src/Cognite3DModel.ts
  viewer/packages/cad-model/src/NodeIdAndTreeIndexMaps.test.ts
  viewer/packages/cad-model/src/NodeIdAndTreeIndexMaps.ts
  viewer/packages/model-base/index.ts
  viewer/packages/pointclouds/index.ts
  viewer/packages/pointclouds/src/PotreeGroupWrapper.test.ts
  viewer/packages/pointclouds/src/PotreeGroupWrapper.ts
  viewer/packages/pointclouds/src/PotreeNodeWrapper.ts
  viewer/packages/pointclouds/src/picking.ts
  viewer/yarn.lock
Labels: slack, preview-docs

#2039 fix: docs 2.x & 3.x custom Object Interactive example
  documentation/docs/components/customScope.ts
  documentation/docs/examples/cad-3dobjects.mdx
  documentation/versioned_docs/version-2.x/examples/cad-3dobjects.mdx
  documentation/versioned_docs/version-3.x/examples/cad-3dobjects.mdx
  documentation/yarn.lock
  examples/yarn.lock
Labels: auto-update, slack, preview-docs

#2077 chore: bump reveal to 3.0.1
  documentation/package.json
  documentation/yarn.lock
  viewer/package.json
Labels: slack, preview-docs

#2078 chore: cherry pick improper type exports and bump to 3.0.1
  documentation/package.json
  documentation/yarn.lock
  examples/tsconfig.json
  examples/yarn.lock
  viewer/core/src/@types/modules/index.d.ts
  viewer/core/src/internals.ts
  viewer/internals.ts
  viewer/package.json
  viewer/packages/cad-model/src/Cognite3DModel.ts
  viewer/packages/cad-model/src/NodeIdAndTreeIndexMaps.test.ts
  viewer/packages/cad-model/src/NodeIdAndTreeIndexMaps.ts
  viewer/packages/model-base/index.ts
  viewer/packages/pointclouds/index.ts
  viewer/packages/pointclouds/src/PotreeGroupWrapper.test.ts
  viewer/packages/pointclouds/src/PotreeGroupWrapper.ts
  viewer/packages/pointclouds/src/PotreeNodeWrapper.ts
  viewer/packages/pointclouds/src/picking.ts
  viewer/yarn.lock
Labels: slack

#2080 fix: add tsc alias as a webpack build hook
  examples/config-overrides.js
  examples/yarn.lock
  viewer/package.json
  viewer/webpack.config.js
Labels: auto-update, slack

#2105 doc: sane default point size for point cloud examples
  documentation/docs/demos/Cognite3DViewerDemo.tsx
  documentation/docs/examples/pointcloud.mdx
  documentation/versioned_docs/version-3.x/demos/Cognite3DViewerDemo.tsx
  documentation/versioned_docs/version-3.x/examples/cad-3dobjects.mdx
  documentation/versioned_docs/version-3.x/examples/pointcloud.mdx
Labels: preview-docs
