Repository cognitedata/reveal, pull requests merged in 2022-05, with the labels that each got.

#2106 chore: avoid duplicated "Viewer artifact download" step in CI
  .github/workflows/ci.yml
Labels: auto-update, preview-docs

#2115 improvement: avoid creating a huge render target for picking, 1x1 is enough
  viewer/packages/cad-model/src/picking.ts
Labels: auto-update, slack

#2131 fix: Removed metrics for CameraManager and CustomDataSource
  examples/yarn.lock
  viewer/core/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack

#2134 chore: bump to reveal 3.0.2
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/package.json
Labels: slack, preview-docs

#2139 fix: Memory leaks on disposal of Cognite3DViewer
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/packages/cad-model/src/CadManager.ts
  viewer/packages/cad-model/src/Cognite3DModel.ts
  viewer/packages/rendering/src/CadMaterialManager.ts
Labels: auto-update, slack

#2128 improvement: disable SSAO and MSAA on mobile devices
  examples/src/utils/BulkHtmlOverlayUI.ts
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/public/migration/renderOptionsHelpers.test.ts
  viewer/core/src/public/migration/renderOptionsHelpers.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/device.ts
  viewer/packages/utilities/src/isMobileOrTablet.ts
Labels: auto-update, do-not-merge, slack

#2127 fix: typo in unpackSectorVisibility() causing weight to only depend x position
  viewer/packages/cad-geometry-loaders/src/sector/culling/OrderSectorsByVisibilityCoverage.ts
Labels: auto-update, slack

#2156 example: add ability to drag clicked nodes from Migration example
  examples/src/pages/Migration.tsx
  examples/src/utils/InspectNodeUi.ts
Labels: auto-update, slack

#2159 fix: instanced mesh is not transformed by transform override
  viewer/packages/rendering/src/glsl/sector/instancedMesh.vert
Labels: auto-update, slack, preview-docs

#2150 fix: skip render passes if not needed
  viewer/packages/rendering/app/index.ts
  viewer/packages/rendering/src/pipeline-executors/StepPipelineExecutor.test.ts
  viewer/packages/rendering/src/render-passes/PostProcessingPass.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderPipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.test.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
Labels: auto-update, slack

#2154 fix: remove edge visualization when viewing far away
  examples/src/visual_tests/__image_snapshots__/cad_default-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_default-v8-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_defaultCamera-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_rotateCadModel-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_scaledModel-snap.png
  viewer/packages/rendering/src/glsl/math/toViewZ.glsl
  viewer/packages/rendering/src/glsl/post-processing/blit.frag
  viewer/packages/rendering/src/glsl/post-processing/unit-orthographic-passthrough.vert
Labels: auto-update, slack

#2164 improvement: remove unused 'headers' for custom data sources and update docs
  documentation/docs/extending/datasource.mdx
  documentation/yarn.lock
  examples/src/pages/CustomDataSource.tsx
  examples/yarn.lock
  viewer/packages/cad-parsers/src/metadata/CadModelMetadataRepository.test.ts
  viewer/packages/cad-parsers/src/utilities/HttpHeadersProvider.ts
  viewer/packages/modeldata-api/index.ts
  viewer/packages/modeldata-api/src/CdfModelDataProvider.ts
  viewer/packages/modeldata-api/src/LocalModelDataProvider.ts
  viewer/packages/modeldata-api/src/types.ts
Labels: auto-update, slack

#2166 fix: clearing wrong render target
  viewer/packages/cad-model/src/PickingHandler.ts
Labels: auto-update, slack

#2157 example: add UI for setting point size type
  examples/src/pages/Migration.tsx
  examples/src/utils/PointCloudUi.ts
Labels: auto-update, slack

#2163 improvement: Make typescript strict
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/public/migration/renderOptionsHelpers.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/cad-model/src/CadManager.ts
  viewer/packages/pointclouds/src/PotreeGroupWrapper.ts
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
  viewer/packages/pointclouds/src/potree-three-loader/geometry/PointCloudEptGeometryNode.ts
  viewer/packages/pointclouds/src/potree-three-loader/utils/BinaryHeap.ts
  viewer/packages/pointclouds/src/potree-three-loader/workers/eptBinaryDecoder.worker.ts
  viewer/packages/rendering/src/render-passes/GeometryPass.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderModePipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderPipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.ts
  viewer/packages/rendering/src/rendering/primitives.ts
  viewer/packages/rendering/src/sector/CadNode.ts
  viewer/packages/rendering/src/transform/TransformOverrideBuffer.ts
  viewer/packages/rendering/src/utilities/GpuTimer.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
  viewer/packages/sector-parser/src/GltfSectorParser.ts
  viewer/packages/sector-parser/tests/GltfSectorParser.test.ts
  viewer/packages/utilities/src/DeferredPromise.ts
  viewer/packages/utilities/src/calculateVolumeOfMesh.test.ts
  viewer/tsconfig.json
Labels: auto-update

#2178 fix: correct cylinder handling
  viewer/packages/pointclouds/src/PointCloudFactory.ts
  viewer/packages/pointclouds/src/annotationTypes.ts
Labels: auto-update, slack

#2173 chore: refactor CadNode and related into proper package
  examples/yarn.lock
  viewer/core/src/public/RevealManager.ts
  viewer/core/src/public/createRevealManager.ts
  viewer/core/src/public/types.ts
  viewer/core/src/storage/RevealManagerHelper.ts
  viewer/internals.ts
  viewer/packages/cad-geometry-loaders/app/index.ts
  viewer/packages/cad-geometry-loaders/index.ts
  viewer/packages/cad-geometry-loaders/package.json
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/cad-geometry-loaders/src/InternalRevealCadOptions.ts
  viewer/packages/cad-geometry-loaders/src/createCadManager.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByVisibilityGpuSectorCuller.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/types.ts
  viewer/packages/cad-model/index.ts
  viewer/packages/cad-model/package.json
  viewer/packages/cad-model/src/CadModelFactory.test.ts
  viewer/packages/cad-model/src/CadModelFactory.ts
  viewer/packages/cad-model/src/CadModelSectorLoadStatistics.ts
  viewer/packages/cad-model/src/GeometryFilter.ts
  viewer/packages/cad-model/src/WellKnownUnit.ts
  viewer/packages/cad-model/src/batching/GeometryBatchingManager.test.ts
  viewer/packages/cad-model/src/batching/GeometryBatchingManager.ts
  viewer/packages/cad-model/src/batching/InstancedMeshManager.test.ts
  viewer/packages/cad-model/src/batching/InstancedMeshManager.ts
  viewer/packages/cad-model/src/picking/PickingHandler.test.ts
  viewer/packages/cad-model/src/picking/PickingHandler.ts
  viewer/packages/cad-model/src/types.ts
  viewer/packages/cad-model/src/utilities/BoundingBoxClipper.test.ts
  viewer/packages/cad-model/src/utilities/BoundingBoxClipper.ts
  viewer/packages/cad-model/src/utilities/NodeIdAndTreeIndexMaps.test.ts
  viewer/packages/cad-model/src/utilities/NodeIdAndTreeIndexMaps.ts
  viewer/packages/cad-model/src/utilities/callActionWithIndicesAsync.test.ts
  viewer/packages/cad-model/src/utilities/callActionWithIndicesAsync.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/cad-model/src/wrappers/Cognite3DModel.test.ts
  viewer/packages/cad-model/src/wrappers/Cognite3DModel.ts
  viewer/packages/rendering/app/index.ts
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/package.json
  viewer/test-utilities/src/createCadModel.ts
  viewer/yarn.lock
Labels: auto-update, slack
