Repository cognitedata/reveal, pull requests merged in 2022-06, with the labels that each got.

#2169 example: add fly to function to UI
  examples/src/utils/CameraUI.ts
Labels: auto-update, slack

#2180 chore: add PR template
  .github/pull_request_template.md
Labels: auto-update, slack

#2197 fix: add a force override overload for updating the camera state
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/tests/ComboControls.test.ts
Labels: auto-update, slack

#2176 fix: change equality check of visiblity shader attribute to a less check
  viewer/packages/rendering/src/glsl/sector/sectorCoverage.frag
Labels: auto-update

#2224 doc: add documentation and example for setting background image
  documentation/docs/examples/cad-basic.mdx
  documentation/yarn.lock
Labels: auto-update, slack, preview-docs

#2225 fix: metrics tracing for geomap tool usage
  viewer/packages/tools/src/Geomap/GeomapTool.ts
Labels: auto-update, slack

#2193 improvement: new point cloud picking using GPU
  viewer/core/src/public/migration/Cognite3DViewer.ts
  viewer/core/src/public/migration/types.ts
  viewer/packages/pointclouds/src/PointCloudNode.ts
  viewer/packages/pointclouds/src/PotreeNodeWrapper.ts
  viewer/packages/pointclouds/src/picking.ts
  viewer/packages/pointclouds/src/potree-three-loader/Potree.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePicker.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.test.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
  viewer/packages/pointclouds/src/potree-three-loader/types/types.ts
  viewer/packages/utilities/src/WebGLRendererStateHelper.ts
Labels: auto-update, slack, preview-docs

#2231 chore: bump reveal version 3.x doc
  documentation/versioned_docs/version-3.x/API Reference.md
  documentation/versioned_docs/version-3.x/components/customScope.ts
  documentation/versioned_docs/version-3.x/examples/cad-basic.mdx
  documentation/versioned_docs/version-3.x/extending/datasource.mdx
  documentation/yarn.lock
Labels: slack, preview-docs

#2191 improvement: avoid stalling rendering by adding asynchronous picking
  .github/pull_request_template.md
  examples/src/pages/Migration.tsx
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/cad-model/src/picking/PickingHandler.test.ts
  viewer/packages/cad-model/src/picking/PickingHandler.ts
  viewer/packages/cad-model/src/picking/readPixelsFromTargetAsync.ts
Labels: auto-update, slack, preview-docs

#2237 fix: backport threejs for documentation to fix v1 doc
  documentation/package.json
  documentation/yarn.lock
Labels: auto-update, slack, preview-docs

#2141 test: added test for Cognite3dViewer.dispose()
  viewer/packages/api/src/public/migration/Cognite3DViewer.test.ts
Labels: auto-update, slack

#2240 improvement: hide/show HTML overlay elements
  documentation/docs/examples/cad-2doverlay.mdx
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.test.ts
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
Labels: auto-update, slack, preview-docs

#2239 fix: mobile default settings should not include ssao, add iPad fix
  viewer/packages/api/src/public/migration/renderOptionsHelpers.test.ts
  viewer/packages/api/src/public/migration/renderOptionsHelpers.ts
  viewer/packages/utilities/src/isMobileOrTablet.ts
Labels: auto-update, slack, preview-docs

#2248 fix: in-front objects incorrectly blending with background
  examples/src/visual_tests/__image_snapshots__/cad_customObjectBlending-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_customObjectWithHighlightAndGhosted-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_customObjectWithHighlightAndGhostedV8-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_default-highlight-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_highlight-with-default-ghosting-snap.png
  viewer/packages/rendering/src/glsl/post-processing/depthBlendBlit.frag
  viewer/packages/rendering/src/render-passes/PostProcessingPass.ts
  viewer/packages/rendering/src/render-passes/types.ts
  viewer/packages/rendering/src/rendering/shaders.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
Labels: auto-update, slack

#2244 chore: bump to Webpack 5
  .github/workflows/ci.yml
  documentation/yarn.lock
  examples/config-overrides.js
  examples/package.json
  examples/public/index.html
  examples/src/visual_tests/__image_snapshots__/cad_clipping-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_customObjectBlending-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_customObjectWithHighlightAndGhosted-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_customObjectWithHighlightAndGhostedV8-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_default-cognite3dviewer-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_default-cognite3dviewer-v8-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_default-highlight-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_default-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_default-v8-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_defaultCamera-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_highlight-with-default-ghosting-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_outlines-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_reassign-node-style-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_rotateCadModel-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_scaledModel-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_ssao-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_two-models-one-ghosted-snap.png
  examples/src/visual_tests/__image_snapshots__/cad_userRenderTarget-snap.png
  examples/src/visual_tests/__image_snapshots__/pointcloud_clipping-planes-cognite3dviewer-pointcloud-snap.png
  examples/src/visual_tests/__image_snapshots__/pointcloud_default-cognite3dviewer-pointcloud-snap.png
  examples/src/visual_tests/basic.test.ts
  examples/src/visual_tests/jest-puppeteer.config.js
  examples/tsconfig.json
  examples/webpack.config.js
  examples/yarn.lock
  viewer/package.json
  viewer/packages/sector-loader/app/index.ts
  viewer/packages/webpack.config.js
  viewer/webpack.config.js
  viewer/yarn.lock
Labels: auto-update, slack, preview-docs

#2252 fix: improper linking of viewer into examples
  examples/package.json
  examples/yarn.lock
Labels: auto-update, slack

#2256 fix: incorrect node transform override on certain boundary conditions
  documentation/docs/examples/cad-transform-override.mdx
  documentation/yarn.lock
  examples/src/pages/e2e/cad/NodeTransformOverride.tsx
  examples/src/pages/e2e/visualTests.ts
  examples/src/visual_tests/__image_snapshots__/cad_nodeTransform-snap.png
  viewer/packages/rendering/src/glsl/base/determineMatrixOverride.glsl
  viewer/packages/rendering/src/glsl/color/packFloatToVec4.glsl
  viewer/packages/rendering/src/glsl/color/unpackVec4ToFloat.glsl
  viewer/packages/rendering/src/transform/NodeTransformTextureBuilder.ts
  viewer/packages/rendering/src/transform/TransformOverrideBuffer.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/packFloat.test.ts
  viewer/packages/utilities/src/packFloat.ts
Labels: auto-update, slack, preview-docs
