Repository cognitedata/reveal, pull requests merged in 2023-10, with the labels that each got.

#3674 Misc sector loading optimizations
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
  viewer/packages/cad-model/src/utilities/GeometryBufferUtils.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
  viewer/packages/utilities/src/indexset/IndexSet.test.ts
  viewer/packages/utilities/src/indexset/IndexSet.ts
  viewer/reveal.api.md
Labels: auto-update

#3757 feat: styling for 360 icons
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/entity/Image360.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/360-images/visual-tests/__image_snapshots__/Image360.VisualTest.png
  viewer/packages/3d-overlays/src/Overlay3DIcon.ts
  viewer/packages/3d-overlays/src/overlay3DIcon.frag
  viewer/reveal.api.md
Labels: auto-update

#3758 feat: add getter for 360 annotations with entity revision information
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/data-providers/index.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/reveal.api.md
Labels: auto-update

#3752 feat(react-components): Added support for storing 3D resources layers state in Url
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/types.ts
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/hooks/types.ts
  react-components/src/hooks/useUrlStateParam.tsx
  react-components/src/index.ts
Labels: auto-update, slack

#3768 fix(react-components): add localization fallback
  react-components/package.json
  react-components/src/common/i18n/de/reveal-react-components.json
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/common/i18n/index.tsx
  react-components/src/components/Image360Details/Image360Details.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/src/components/i18n/I18n.tsx
  react-components/src/components/i18n/types.ts
  react-components/src/components/i18n/utils.ts
  react-components/webpack.config.js
  react-components/yarn.lock
Labels: auto-update, slack

#3771 feat(react-components): asset mapping click handling and "mapped"-styling
  react-components/src/components/NodeCacheProvider/AssetMappingCache.ts
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAlive.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAliveContext.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/index.ts
  react-components/stories/HighlightNode.stories.tsx
Labels: auto-update, slack

#3781 feat(react-components): instance styling through asset mappings
  react-components/src/components/NodeCacheProvider/AssetMappingCache.ts
  react-components/src/components/NodeCacheProvider/AssetMappingCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/stories/HighlightNode.stories.tsx
Labels: auto-update, slack

#3794 feat: added translation for tooltips
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Labels: auto-update, slack

#3802 chore(react-components): bump to version 0.17.0
  react-components/package.json
Labels: slack

#3805 chore(deps): bump @babel/traverse from 7.22.8 to 7.23.2 in /react-components
  react-components/yarn.lock
Labels: auto-update

#3807 fix(react-components): race condition in CadModelContainer initialization
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
Labels: auto-update

#3795 feat(react-components): Add search hook for fdm and asset mapping instances
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/components/RevealContainer/SDKProvider.tsx
  react-components/src/hooks/useSearchMappedEquipmentAssetMappings.tsx
  react-components/src/hooks/useSearchMappedEquipmentFDM.tsx
  react-components/src/index.ts
  react-components/src/utilities/FdmSDK.ts
  react-components/src/utilities/globalDataModels.ts
  react-components/stories/SearchHooks.stories.tsx
Labels: auto-update, slack

#3808 fix(react-components): race conditions in point cloud and 360 loading
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
Labels: auto-update

#3813 feat: added point cloud model visibility property
  documentation/docs/examples/pointcloud.mdx
  viewer/packages/pointclouds/src/CognitePointCloudModel.test.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/reveal.api.md
Labels: auto-update, slack, preview-docs

#3812 fix(react-components): "mapped"-styling not always set on right model
  react-components/src/hooks/useCalculateModelsStyling.tsx
Labels: auto-update, slack

#3809 chore(react-components): setup vitest + simple test for RevealContainer
  .gitignore
  examples/yarn.lock
  react-components/package.json
  react-components/tests/components/RevealContainer.test.tsx
  react-components/tsconfig.json
  react-components/vite.config.ts
  react-components/yarn.lock
  viewer/.eslintrc.js
  viewer/package.json
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/three/VariableWidthLine.ts
  viewer/packages/utilities/src/three/lines/LICENSE.txt
  viewer/packages/utilities/src/three/lines/Line2.ts
  viewer/packages/utilities/src/three/lines/LineGeometry.ts
  viewer/packages/utilities/src/three/lines/LineMaterial.ts
  viewer/packages/utilities/src/three/lines/LineSegments2.ts
  viewer/packages/utilities/src/three/lines/LineSegmentsGeometry.ts
  viewer/webpack.config.js
Labels: auto-update, slack

#3818 docs: fix and document annotation style update best practices
  documentation/docs/examples/image360-annotations.mdx
  documentation/versioned_docs/version-4.x/examples/image360-annotations.mdx
  examples/src/utils/Image360UI.ts
Labels: auto-update, preview-docs

#3773 fix: remove unreserved enum value in WellKnownAsprsPointClassCodes
  viewer/packages/pointclouds/src/types.ts
  viewer/reveal.api.md
Labels: auto-update, slack

#3789 Bug: Picking part in multiple overlapping CADModels does not always return closest part
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: auto-update

#3821 chore: bump to @cognite/reveal@4.5.0
  viewer/package.json
Labels: auto-update

#3824 fix(react-components): point cloud layer toggle error
  react-components/package.json
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/yarn.lock
Labels: auto-update, slack

#3788 feat: add search hooks for 360 annotation asset
  react-components/src/hooks/useSearchAssetsMapped360Annotations.tsx
  react-components/src/index.ts
  react-components/stories/SearchHooks.stories.tsx
Labels: auto-update, slack

#3831 fix: add sparse-octree as dependency to preserve types
  viewer/package.json
Labels: auto-update, slack

#3834 chore(react-component): bump 0.19.0
  react-components/package.json
  react-components/yarn.lock
Labels: auto-update, slack

#3837 chore(react-components): refactor fallback language and add to Help
  react-components/src/components/Image360Details/Image360Details.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/i18n/I18n.tsx
Labels: auto-update, slack

#3826 chore: expand Cargo cache check
  .github/workflows/ci.yml
Labels: auto-update

#3840 feat(react-components): add search hook for annotation assets in reveal
  react-components/src/hooks/types.ts
  react-components/src/hooks/useSearchReveal360ImageAnnotationAssets.tsx
  react-components/src/index.ts
  react-components/stories/RevealAnnotationSearchHook.stories.tsx
Labels: auto-update, slack

#3852 chore(react-components): bump react-components to v0.20.0
  react-components/package.json
Labels: auto-update, slack

#3853 fix(react-components): don't try to be smart regarding model initiali…
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
Labels: slack

#3855 fix: update deps to fix CVEs in viewer and react-components
  react-components/yarn.lock
  viewer/package.json
  viewer/yarn.lock
Labels: auto-update, slack
