Repository cognitedata/reveal, pull requests merged in 2023-01, with the labels that each got.

#2843 fix: only add exit 360 image key listener when entering 360 image
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: auto-update, slack

#2841 chore: update contributor list
  documentation/package.json
  examples/package.json
  viewer/package.json
Labels: auto-update, slack

#2842 feat: asset id in point cloud pick result
  documentation/docs/examples/click-reactions-pointcloud.mdx
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/data-providers/src/pointcloud-stylable-object-providers/CdfPointCloudStylableObjectProvider.ts
  viewer/packages/data-providers/src/pointcloud-stylable-object-providers/cdfAnnotationsToObjects.ts
  viewer/packages/data-providers/src/pointcloud-stylable-object-providers/types.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/packages/pointclouds/src/PointCloudIntersection.ts
  viewer/packages/pointclouds/src/PointCloudNode.ts
  viewer/packages/pointclouds/src/PointCloudPickingHandler.ts
  viewer/packages/rendering/src/pointcloud-rendering/PointCloudObjectAppearanceTexture.ts
  viewer/reveal.api.md
Labels: slack

#2819 bug: Fix screenshot documentation
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack, preview-docs

#2845 improvement: scale-down-resolution now relative to physical canvas size
  documentation/docs/examples/rendering-resolution.mdx
  viewer/packages/api/src/public/migration/types.ts
  viewer/packages/rendering/src/ResizeHandler.test.ts
  viewer/packages/rendering/src/ResizeHandler.ts
Labels: slack

#2846 feat: add information and capability to update assetRef field for annotations in point clouds in Reveal examples
  examples/src/pages/Viewer.tsx
  examples/src/utils/PointCloudObjectStylingUI.ts
Labels: auto-update, slack

#2849 fix: don't enable click on invisible point cloud objects
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.vert
  viewer/packages/rendering/src/pointcloud-rendering/PointCloudMaterial.ts
Labels: auto-update, slack

#2851 bug: Fixed fullScreen and halfScreen view in Reveal Examples
  examples/src/pages/Viewer.tsx
Labels: auto-update, slack, preview-docs

#2859 fix: 360 images are invisible/clipped when loaded without CAD/Point cloud model
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack

#2861 feat: individual model clipping planes
  documentation/docs/examples/clipping.mdx
  documentation/versioned_docs/version-4.x/examples/clipping.mdx
  examples/src/pages/Viewer.tsx
  examples/src/utils/ClippingUIs.ts
  examples/src/utils/SingleClippingUI.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/utilities/ViewStateHelper.test.ts
  viewer/packages/api/src/utilities/ViewStateHelper.ts
  viewer/packages/api/visual-tests/ClippingPointCloud.VisualTest.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByScreenSizeSectorCuller.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/ByScreenSizeSectorCuller.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/createDetermineSectorInput.ts
  viewer/packages/cad-geometry-loaders/src/sector/culling/types.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/packages/pointclouds/src/PointCloudManager.ts
  viewer/packages/pointclouds/src/PointCloudNode.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctree.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/PointCloudMaterialManager.ts
  viewer/reveal.api.md
Labels: slack

#2865 docs: add examples for converting between CDF and Viewer space
  documentation/docs/overview.mdx
Labels: slack

#2866 feat: re-introduce transformation mapping functions
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/reveal.api.md
Labels: auto-update, slack

#2868 docs: include nodeId in example intersection result properly
  documentation/docs/examples/click-reactions-cad.mdx
  documentation/versioned_docs/version-3.x/examples/click-reactions-cad.mdx
  documentation/versioned_docs/version-4.x/examples/click-reactions-cad.mdx
Labels: auto-update, slack, preview-docs

#2873 bug: In Safari the screenshot result is empty
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack, preview-docs

#2885 fix: measurement tool for large models not being temporally coherent
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
Labels: auto-update, slack

#2869 feat: Zoom to cursor when mouse-scrolling in 360 images
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: auto-update, slack

#2887 docs: correct model ID in examples
  documentation/docs/examples/cad-basic.mdx
  documentation/docs/examples/pointcloud.mdx
Labels: auto-update, slack

#2888 chore: remove proj4 as dependency
  viewer/package.json
  viewer/packages/pointclouds/src/potree-three-loader/geometry/PointCloudEptGeometry.ts
  viewer/yarn.lock
Labels: slack

#2872 fix: ensure node is disposed from cache on removal
  viewer/packages/pointclouds/src/PointCloudManager.ts
  viewer/packages/pointclouds/src/PointCloudNode.ts
Labels: slack

#2850 bug: Fix for getScreenshot returning empty image when using an external render target
  viewer/packages/api/src/public/RevealManager.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderModePipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/DefaultRenderPipelineProvider.ts
  viewer/packages/rendering/src/rendering/SettableRenderTarget.ts
Labels: auto-update, slack, preview-docs

#2874 improvement: replace dynamic batcher with MultiBufferBatchingManager
  viewer/packages/cad-model/src/batching/DrawCallBatchingManager.ts
  viewer/packages/cad-model/src/batching/GeometryBatchingManager.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.ts
  viewer/packages/cad-model/src/utilities/GeometryBufferUtils.ts
  viewer/packages/cad-model/src/utilities/getShaderMaterial.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
Labels: auto-update, slack

#2890 fix: exit 360 image if it is currently entered when deleted
  examples/src/utils/Image360UI.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: auto-update, slack

#2891 chore: rename renovate.json to renovate.json5
  renovate.json5
Labels: slack

#2892 chore: cleanup threejs and draco dependencies
  viewer/package.json
  viewer/yarn.lock
Labels: auto-update, slack

#2896 feat: only set render layers on styling change or sector load / unload
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/rendering/index.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderModePipelineProvider.ts
  viewer/packages/rendering/src/render-pipeline-providers/CadGeometryRenderPipelineProvider.ts
  viewer/packages/rendering/src/utilities/renderUtilities.ts
  viewer/packages/rendering/src/utilities/types.ts
  viewer/packages/rendering/visual-tests/Rendering.VisualTest.ts
Labels: auto-update, slack

#2901 fix: clip HtmlOverlayTool on global clipping planes
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
Labels: slack

#2884 feat: use backend translation and scale
  documentation/docs/examples/cad-basic.mdx
  viewer/package.json
  viewer/packages/data-providers/src/metadata-providers/CdfModelMetadataProvider.ts
  viewer/yarn.lock
Labels: slack

#2902 feat: 360 image events for enter and exit mode
  documentation/docs/examples/image360.mdx
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/DefaultImage360Collection.ts
  viewer/packages/360-images/src/Image360Collection.ts
  viewer/packages/360-images/src/types.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/reveal.api.md
Labels: auto-update, slack, preview-docs

#2903 docs: use CodeMirror instead of react-live in doc snippets
  documentation/docs/components/LiveCodeSnippet.tsx
  documentation/docs/components/styles.module.css
  documentation/docs/examples/cad-3dobjects.mdx
  documentation/package.json
  documentation/versioned_docs/version-3.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-3.x/components/styles.module.css
  documentation/versioned_docs/version-3.x/examples/cad-3dobjects.mdx
  documentation/versioned_docs/version-4.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-4.x/components/styles.module.css
  documentation/versioned_docs/version-4.x/examples/cad-3dobjects.mdx
  documentation/yarn.lock
Labels: slack, preview-docs

#2907 chore: bump reveal version to 4.1.0
  viewer/package.json
Labels: auto-update

#2904 chore: remove geomap API keys from docs
  documentation/docs/components/customScope.ts
  documentation/versioned_docs/version-3.x/components/customScope.ts
  documentation/versioned_docs/version-4.x/components/customScope.ts
Labels: auto-update, slack

#2908 chore: clean up insallation instructions in README
  viewer/README.md
Labels: slack

#2906 docs: clean up v2 snippets
  documentation/package.json
  documentation/versioned_docs/version-2.x/components/LiveCodeSnippet.tsx
  documentation/versioned_docs/version-2.x/components/customScope.ts
  documentation/versioned_docs/version-2.x/components/styles.module.css
  documentation/yarn.lock
Labels: auto-update, slack, preview-docs

#2895 feat: Zoom to pinch support in 360 Images
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: auto-update, slack

#2914 fix: entered 360 image being purged from cache
  viewer/packages/360-images/src/Image360LoadingCache.ts
  viewer/packages/360-images/src/Image360VisualizationBox.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
Labels: auto-update, slack

#2913 fix: SSAO noise on large-scale models
  viewer/packages/rendering/src/glsl/post-processing/pure-depth-ssao.frag
  viewer/packages/rendering/src/render-passes/SSAOPass.ts
Labels: slack

#2920 Refactor: updated keydown event to listen viewer.domElement in measurement tool
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: auto-update, slack

#2919 feat: add partitioning and pagination support for fetching events
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: auto-update, slack

#2923 fix: Wrong rotation speed with keyboard navigation when camera looking down/up.
  viewer/packages/camera-manager/src/ComboControls.ts
Labels: auto-update, slack

#2915 fix: Incorrect behaviour of zoomToCursor mode after DefaultCameraManager deactivation/activation.
  examples/yarn.lock
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/reveal.api.md
Labels: auto-update, slack

#2918 docs: link to Cognite API for point cloud shape convention
  documentation/docs/examples/pointcloud-styling.mdx
Labels: auto-update, slack, preview-docs
