Repository cognitedata/reveal, pull requests merged in 2023-06, with the labels that each got.

#3327 feat: add 360 image list-getter, annotation default color and some adjustments
  documentation/docs/examples/image360-annotations.mdx
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/annotation/ImageAnnotationObject.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/reveal.api.md
Labels: slack, preview-docs

#3330 chore: update Cargo.lock
  viewer/Cargo.lock
Labels: slack

#3307 feat: add texture customization capability to Overlay3DTool with redesign of default overlay style.
  examples/yarn.lock
  viewer/packages/3d-overlays/src/Overlay3DCollection.ts
  viewer/packages/3d-overlays/src/OverlayCollection.ts
  viewer/packages/3d-overlays/src/OverlayPointsObject.ts
  viewer/packages/3d-overlays/src/overlay3DIcon.frag
  viewer/packages/tools/index.ts
  viewer/packages/tools/package.json
  viewer/packages/tools/src/Overlay3D/Overlay3DTool.ts
  viewer/packages/tools/visual-tests/Overlay3D.VisualTest.ts
  viewer/packages/tools/visual-tests/Overlay3DTool.VisualTest.ts
  viewer/packages/tools/visual-tests/__image_snapshots__/Overlay3D.VisualTest.png
  viewer/packages/tools/visual-tests/__image_snapshots__/Overlay3DTool.VisualTest.png
  viewer/reveal.api.md
Labels: auto-update, slack

#3331 chore: bump to version 4.3.0
  viewer/package.json
Labels: slack

#3333 fix: image annotation asset list
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: slack

#3332 chore: update release template
  RELEASING.md
Labels: slack

#3334 chore: bump version 4.3.1
  viewer/package.json
Labels: slack

#3339 chore: delete release template
  release-template.md
Labels: slack

#3342 chore: better dark theme logo
  README.md
  cognite_logo_dark.png
Labels: slack

#3253 feat: Added revision details overview component
  react-components/package.json
  react-components/src/components/Panel/Image360HistoricalDetailsPanel.tsx
  react-components/src/components/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Panel/index.ts
  react-components/src/components/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/Toolbar/index.ts
  react-components/src/components/View/Image360HistoricalDetails.tsx
  react-components/src/components/View/index.ts
  react-components/src/components/index.ts
  react-components/src/components/utils/FormatDate.ts
  react-components/src/components/utils/Thumbnail.tsx
  react-components/src/stories/IImage360HistoricalSummary.stories.ts
  react-components/src/stories/Image360HistoricalDetailsPanel.stories.ts
  react-components/src/stories/Image360HistoricalPanel.stories.ts
  react-components/tsconfig.json
  react-components/webpack.config.js
  react-components/yarn.lock
Labels: auto-update, slack

#3355 fix: updated styling of historical 360 react component
  react-components/package.json
  react-components/src/components/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/View/Image360HistoricalDetails.tsx
Labels: auto-update, slack

#3349 chore: uninternalize PointCloudMaterial
  viewer/packages/rendering/src/pointcloud-rendering/PointCloudMaterial.ts
Labels: auto-update, slack

#3364 fix: make sure autoPagingToArray gives all results
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: auto-update, slack

#3356 fix: only provide asset IDs that satisfies annotation filter
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
Labels: auto-update, slack

#3398 chore: update cargo lock
  viewer/Cargo.lock
Labels: slack

#3383 refactor: updated 360-image react component styling
  react-components/package.json
  react-components/src/components/Button/Button.tsx
  react-components/src/components/Button/index.ts
  react-components/src/components/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/View/Image360HistoricalDetails.tsx
  react-components/src/components/index.ts
  react-components/src/components/utils/Thumbnail.tsx
  react-components/src/stories/Button.stories.ts
  react-components/src/stories/IImage360HistoricalSummary.stories.ts
  react-components/src/stories/Image360HistoricalDetails.stories.ts
  react-components/src/stories/Image360HistoricalPanel.stories.ts
  react-components/yarn.lock
Labels: auto-update, slack

#3400 chore: node transform UI in examples
  examples/src/pages/Viewer.tsx
  examples/src/utils/NodeTransformUI.ts
Labels: slack

#3404 fix: 360 image set removal
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: slack

#3405 chore: bump 4.3.3
  viewer/package.json
Labels: slack

#3411 fix: viewer.dispose() not removing all models
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: slack

#3412 fix: remove stdlib due to botched ESM transitive dependency
  examples/package.json
  examples/yarn.lock
  viewer/package.json
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/rendering/visual-tests/Rendering.VisualTest.ts
  viewer/packages/rendering/visual-tests/__image_snapshots__/Rendering.VisualTest.png
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
  viewer/packages/utilities/src/three/VariableWidthLine.ts
  viewer/visual-tests/test-fixtures/SimpleVisualTestFixture.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
  viewer/yarn.lock
Labels: auto-update, slack

#3413 fix: migrate AxisViewTool to use pointer events
  viewer/packages/tools/src/AxisView/AxisViewTool.ts
Labels: auto-update, slack

#3410 fix: each icon set shows hover icon simultaneously
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: auto-update, slack

#3416 chore: bump reveal to 4.3.4
  viewer/package.json
Labels: auto-update

#3415 chore: seed SSAO kernel generation to avoid flaky SSAO visual test
  viewer/packages/rendering/src/render-passes/SSAOPass.ts
  viewer/packages/rendering/visual-tests/__image_snapshots__/Ssao.VisualTest.png
Labels: auto-update, slack

#3419 feat(react-components): add Reveal container and container for CogniteCadModel
  react-components/package.json
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/index.ts
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/index.ts
  react-components/src/components/Image360HistoricalDetails/utils/FormatDate.ts
  react-components/src/components/Image360HistoricalDetails/utils/Thumbnail.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealContext.ts
  react-components/src/components/View/index.ts
  react-components/src/components/index.ts
  react-components/src/stories/CogniteCadModelContainer.stories.tsx
  react-components/src/stories/Image360HistoricalDetails.stories.ts
  react-components/tsconfig.json
  react-components/yarn.lock
Labels: auto-update, slack

#3422 chore(reveal-react-components): add formatting and linting
  react-components/.babelrc.json
  react-components/.eslintignore
  react-components/.eslintrc.cjs
  react-components/.prettierrc
  react-components/.storybook/main.ts
  react-components/.storybook/preview.ts
  react-components/cognite-reveal-react-components-0.1.2.tgz
  react-components/package.json
  react-components/src/components/CogniteCadModelContainer/CogniteCadModelContainer.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/index.ts
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/index.ts
  react-components/src/components/Image360HistoricalDetails/utils/FormatDate.ts
  react-components/src/components/Image360HistoricalDetails/utils/Thumbnail.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealContext.ts
  react-components/src/components/index.ts
  react-components/src/index.ts
  react-components/src/stories/CogniteCadModelContainer.stories.tsx
  react-components/stories/CogniteCadModelContainer.stories.tsx
  react-components/stories/Image360HistoricalDetails.stories.ts
  react-components/tsconfig.json
  react-components/webpack.config.js
  react-components/yarn.lock
Labels: auto-update, slack

#3433 fix: apply clipping planes on newly loaded point clouds
  viewer/packages/pointclouds/src/PointCloudManager.ts
  viewer/packages/rendering/src/PointCloudMaterialManager.ts
Labels: slack

#3432 chore: Add CI for react components
  .github/workflows/ci.yml
  .github/workflows/react-components-ci.yml
  react-components/.eslintrc.cjs
Labels: auto-update, slack

#3434 chore(react-components): bump react components to v0.2.0
  react-components/package.json
Labels: auto-update, slack

#3436 fix(react-components): div wrapper not expanding to fit parent
  react-components/package.json
  react-components/src/components/RevealContainer/RevealContainer.tsx
Labels: auto-update, slack

#3437 chore(react-components): bump to version 0.2.1
  react-components/package.json
Labels: auto-update, slack

#3440 fix: backport three due to commonjs import error
  viewer/package.json
  viewer/yarn.lock
Labels: auto-update

#3370 chore: fix lib-check errors in examples
  examples/package.json
  examples/tsconfig.json
  examples/yarn.lock
  viewer/packages/utilities/src/three/VariableWidthLine.ts
Labels: slack

#3445 fix(CI): ci crashing when running from a push event
  .github/workflows/ci.yml
Labels: auto-update

#3391 Recompute sector bounds when nodes are transformed
  viewer/packages/api/visual-tests/NodeTransform.VisualTest.ts
  viewer/packages/cad-geometry-loaders/package.json
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.ts
  viewer/packages/cad-model/src/utilities/CustomSectorBounds.test.ts
  viewer/packages/cad-model/src/utilities/CustomSectorBounds.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.test.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/reveal.api.md
  viewer/yarn.lock
Labels: auto-update
