Repository cognitedata/reveal, pull requests merged in 2023-08, with the labels that each got.

#3536 chore: bump reveal to 4.4.0
  viewer/package.json
Labels: auto-update, slack

#3539 fix: bump transitive dependency to fix a -high- CVE
  documentation/yarn.lock
  react-components/yarn.lock
  viewer/yarn.lock
Labels: auto-update, slack

#3518 feat: add support for node data fetching in React Components
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/types.ts
  react-components/src/index.ts
  react-components/src/utilities/FdmSDK.ts
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
Labels: auto-update

#3545 feat: add withSuppressRevealEvents HOC
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
  react-components/src/index.ts
  react-components/stories/Toolbar.stories.tsx
Labels: auto-update, slack

#3546 fix: viewer anchor adjustments
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Labels: slack

#3544 feat(react-components): add pagination support for styling hook allowing styling more than 1000 nodes
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/utilities/fdmConfig.ts
  react-components/stories/utilities/is3DModelOptions.ts
Labels: auto-update, slack

#3548 chore(react-components): bump to v0.6.1
  react-components/package.json
Labels: auto-update, slack

#3551 fix: only 4 requests
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/stories/HighlightNode.stories.tsx
Labels: auto-update

#3550 fix: make FDM config non-required in 3DResources
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
Labels: auto-update

#3558 chore(react-components): add typechecking for react components stories
  .github/workflows/react-components-ci.yml
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/tsconfig.json
Labels: auto-update, slack

#3552 feat(react-components): add RevealKeepAlive component to cache the viewer when unmounting the RevealContainer
  react-components/package.json
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAlive.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAliveContext.ts
  react-components/src/index.ts
  react-components/stories/RevealKeepAlive.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
  react-components/yarn.lock
Labels: auto-update, slack

#3562 fix(react-components): used named imports for lodash
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Labels: auto-update, slack

#3563 chore(react-components): bump reveal react components to version 0.7.0
  react-components/package.json
Labels: auto-update

#3564 feat(react-components): help button in toolbar
  react-components/src/components/RevealToolbar/Help/Graphics/Keyboard.tsx
  react-components/src/components/RevealToolbar/Help/Graphics/Mouse.tsx
  react-components/src/components/RevealToolbar/Help/Graphics/Touch.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/Section.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/Help/elements.ts
  react-components/src/components/RevealToolbar/Help/types.ts
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Labels: auto-update, slack

#3567 feat(react-components): Measurement button component in toolbar
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/utilities/constants.ts
Labels: auto-update, slack

#3569 feat(react-components): add support for system data models to react components
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/src/index.ts
  react-components/src/utilities/FdmSDK.ts
  react-components/src/utilities/constants.ts
  react-components/src/utilities/globalDataModels.ts
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/RevealKeepAlive.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
  react-components/stories/utilities/createSdkByUrlToken.ts
  react-components/stories/utilities/fdmConfig.ts
Labels: auto-update, slack

#3577 fix(react-components): mimic react.memo type signature with withSuppressRevealEvents HOC
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
Labels: auto-update, slack

#3579 chore(react-components): bump react components to version 0.8.0
  react-components/package.json
Labels: auto-update

#3570 fix(react-components): 3D resources Submenu disappear in FDX when hovered
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealContainer/RevealContainerElementContext.ts
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
Labels: auto-update, slack

#3580 feat(react-components): add default resource styling prop to 3DResources
  react-components/package.json
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/index.ts
  react-components/stories/ModelsStyling.stories.tsx
Labels: auto-update, slack

#3581 feat(react-components): add useCameraNavigation hook
  react-components/.eslintrc.cjs
  react-components/package.json
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/CameraController/CameraController.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/ModelsLoadingContext.ts
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/hooks/useCameraNavigation.tsx
  react-components/src/index.ts
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/HighlightNode.stories.tsx
  react-components/stories/ModelsStyling.stories.tsx
  react-components/stories/PointCloudContainer.stories.tsx
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/RevealKeepAlive.stories.tsx
  react-components/stories/ViewerAnchor.stories.tsx
  react-components/stories/utilities/with3dResoursesFitCameraOnLoad.tsx
Labels: auto-update, slack

#3557 feat(react-components): clicked node hook
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/queryMappedData.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/hooks/useNodeMappedData.tsx
  react-components/src/index.ts
  react-components/stories/HighlightNode.stories.tsx
Labels: auto-update, slack

#3588 feat: shared 3D-to-FDM node cache
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/hooks/useMappedEquipmentBy3DModelsList.tsx
  react-components/src/hooks/useNodeMappedData.tsx
  react-components/stories/HighlightNode.stories.tsx
Labels: auto-update, slack

#3589 feat: add Image360Details component
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/Image360Details/Image360Details.tsx
  react-components/src/index.ts
  react-components/stories/Image360Details.stories.tsx
  react-components/stories/Image360HistoricalDetails.stories.ts
Labels: auto-update, slack

#3593 fix(react-components): suppress keyboard events.
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
Labels: auto-update

#3594 chore: Fix miscellaneous typos
  README.md
  examples/src/pages/Viewer.tsx
  examples/src/utils/example-helpers.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
Labels: slack

#3600 chore: Fix various typos 2
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/Keyboard.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
Labels: slack

#3603 feat(react-components): add CAD models style caching support
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/index.ts
  react-components/stories/CadStylingCache.stories.tsx
  react-components/stories/HighlightNode.stories.tsx
Labels: auto-update, slack

#3605 fix(react-components): Incorrect check for equality
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
Labels: auto-update, slack

#3609 fix(react-components): Fixed check for equality of styled collections
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
Labels: auto-update, slack

#3608 fix: reset Measurement tool on unmount
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
Labels: auto-update, slack

#3614 break: remove `onNodeClick`
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
Labels: slack

#3610 fix: don't recompute clicked node data every render and reset state on clicking nothing
  react-components/src/hooks/useClickedNode.tsx
  react-components/stories/HighlightNode.stories.tsx
Labels: auto-update, slack

#3602 feat: cache FDM-to-CDF-mapping for individual styling purposes
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/idAndKeyTranslation.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useFdmAssetMappings.tsx
  react-components/src/index.ts
  react-components/stories/CadStylingCache.stories.tsx
  react-components/stories/HighlightNode.stories.tsx
Labels: auto-update, slack

#3613 fix: changing default style does not update styling
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/stories/CadStylingCache.stories.tsx
Labels: auto-update, slack

#3626 fix: node appearance provider still issuing events after cad node disposal
  viewer/packages/cad-geometry-loaders/src/CadModelUpdateHandler.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorLoader.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/cad-styling/src/NodeAppearanceProvider.ts
  viewer/packages/cad-styling/visual-tests/Highlighted.VisualTest.ts
  viewer/packages/rendering/src/CadMaterialManager.ts
Labels: auto-update, slack

#3629 chore: bump reveal to version 4.4.1
  viewer/package.json
Labels: auto-update

#3635 feat(react-components): add load error handling capabilities
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResources.tsx
  react-components/src/components/Reveal3DResources/types.ts
  react-components/stories/Reveal3DResources.stories.tsx
  react-components/stories/utilities/with3dResoursesFitCameraOnLoad.tsx
Labels: auto-update, slack

#3636 fix(viewer): only do measurement on canvas
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: auto-update, slack

#3642 feat(react-components): tooltip for working toolbar buttons
  react-components/src/components/RevealToolbar/FitModelsButton.tsx
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/MeasurementButton.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Labels: auto-update, slack

#3649 chore: remove focus button
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Labels: slack

#3652 chore: add `assert` as dependency
  react-components/package.json
  react-components/yarn.lock
Labels: auto-update

#3655 fix: update cargo lock
  viewer/Cargo.lock
Labels: auto-update, rust

#3656 fix: fdm asset to multiple cdf nodes mapping in styling
  react-components/package.json
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/hooks/types.ts
  react-components/src/hooks/useCalculateModelsStyling.tsx
Labels: auto-update, slack
