Repository cognitedata/reveal, pull requests merged in 2023-09, with the labels that each got.

#3659 fix(react-components): useModelName hook cache
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/hooks/use3DModelName.tsx
Labels: auto-update, slack

#3620 fix: Use event.code instead of deprecated event.keyCode
  viewer/packages/camera-manager/app/index.ts
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/Keyboard.ts
Labels: auto-update, slack

#3604 feat(react-component): localization support
  .github/workflows/locize-sync.yml
  react-components/package.json
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/common/i18n/index.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/RevealToolbar/Help/KeyboardNavigation.tsx
  react-components/src/components/RevealToolbar/Help/MouseNavigation.tsx
  react-components/src/components/RevealToolbar/Help/TouchNavigation.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/HighFidelityContainer.tsx
  react-components/webpack.config.js
  react-components/yarn.lock
Labels: auto-update, slack

#3668 docs: bump documentation sidebar to 4.x
  documentation/versioned_sidebars/version-4.x-sidebars.json
Labels: auto-update, slack, preview-docs

#3654 feat(react-components): add fetching of the view for mapped equipment hook
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/requests.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/src/hooks/use3dNodeByExternalId.tsx
  react-components/src/hooks/useCameraNavigation.tsx
  react-components/src/hooks/useClickedNode.tsx
  react-components/src/index.ts
  react-components/stories/HighlightNode.stories.tsx
Labels: auto-update, slack

#3673 chore(react-components): Bump version of react components
  react-components/package.json
Labels: auto-update, slack

#3675 fix(react-components): translation config updated to enable FDX to append translation from react-component
  react-components/src/common/i18n/index.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
Labels: auto-update, slack

#3681 feat: allow vieweranchor to have stickiness
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Labels: auto-update, slack

#3684 fix(react-components): errors due to improperly passing custom props to native elements
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/stories/Toolbar.stories.tsx
Labels: auto-update, slack

#3686 feat(react-components): make fetching view for all mapped nodes optional
  react-components/src/components/NodeCacheProvider/FdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/NodeCacheProvider/RevisionFdmNodeCache.ts
  react-components/src/components/NodeCacheProvider/types.ts
  react-components/stories/HighlightNode.stories.tsx
Labels: auto-update, slack

#3690 chore: bump react components version to 0.15.0
  react-components/package.json
Labels: auto-update

#3693 feat: include node cache in keep-alive context
  react-components/src/components/NodeCacheProvider/NodeCacheProvider.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAlive.tsx
  react-components/src/components/RevealKeepAlive/RevealKeepAliveContext.ts
Labels: auto-update, slack

#3694 chore(react-components): bump 0.15.1
  react-components/package.json
Labels: auto-update

#3653 fix(react-components): Toolbar styling and missing buttons toggle
  react-components/src/components/RevealToolbar/HelpButton.tsx
  react-components/src/components/RevealToolbar/LayersButton.tsx
  react-components/src/components/RevealToolbar/LayersContainer/CadModelLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/Image360LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/LayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/PointCloudLayersContainer.tsx
  react-components/src/components/RevealToolbar/LayersContainer/elements.ts
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SettingsButton.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
Labels: auto-update, slack

#3695 fix: Cache error in TreeIndexToSectorMap
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.test.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.ts
Labels: auto-update

#3700 fix(react-components): allow custom transform on viewer anchor when using stickiness
  react-components/src/components/ViewerAnchor/ViewerAnchor.tsx
  react-components/stories/ViewerAnchor.stories.tsx
Labels: auto-update, slack

#3720 chore(react-components): bump to version 0.15.2
  react-components/package.json
Labels: auto-update, slack

#3734 chore: bump 4.4.3
  viewer/package.json
Labels: auto-update

#3728 chore: migrate react components from babel / webpack to vite
  .github/workflows/publish-react-component-to-npm-on-demand.yml
  react-components/.storybook/main.ts
  react-components/package.json
  react-components/tsconfig.json
  react-components/vite.config.ts
  react-components/yarn.lock
Labels: auto-update, slack

#3741 chore: bump react components and reveal peer dependency
  react-components/package.json
  react-components/yarn.lock
Labels: auto-update, slack

#3724 feat(react-components): add HOC to store Slicer state in Url
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/Reveal3DResourcesCountContext.tsx
  react-components/src/components/RevealContainer/RevealContainer.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/components/RevealToolbar/SlicerButton.tsx
  react-components/src/hooks/useUrlStateParam.tsx
  react-components/src/index.ts
Labels: auto-update, slack

#3753 fix(react-components): optimize styled node collection diff check on re-render
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/hooks/useClickedNode.tsx
Labels: auto-update, slack

#3742 chore: dedupe dependencies
  documentation/yarn.lock
  react-components/yarn.lock
  viewer/yarn.lock
Labels: auto-update, slack, preview-docs

#3697 refac: TreeIndexToSectorMap optimize
  viewer/packages/cad-model/src/batching/MultiBufferBatchingManager.test.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.test.ts
  viewer/packages/cad-model/src/utilities/TreeIndexToSectorsMap.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
Labels: auto-update
