Repository cognitedata/reveal, pull requests merged in 2023-02, with the labels that each got.

#2933 fix: clip measurement line & labels
  viewer/packages/tools/src/HtmlOverlay/HtmlOverlayTool.ts
  viewer/packages/tools/src/Measurement/MeasurementLine.ts
  viewer/packages/tools/src/Measurement/MeasurementManager.ts
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: auto-update, slack

#2936 fix: measurements are not restored when clipping plane is removed
  viewer/packages/tools/src/Measurement/MeasurementTool.ts
Labels: auto-update, slack

#2931 chore: don't upgrade three in versioned docs
  renovate.json5
Labels: auto-update, slack

#2932 fix: Issue with incorrect wheel events coordinated in StationaryCameraManager (360 images camera manager)
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: auto-update, slack

#2937 fix: reject malformed / invalid 360 images from being created
  examples/public/primitives/0.png
  examples/public/primitives/1.png
  examples/public/primitives/2.png
  examples/public/primitives/3.png
  examples/public/primitives/360Images.json
  examples/public/primitives/4.png
  examples/public/primitives/5.png
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/Image360Entity.ts
  viewer/packages/360-images/src/Image360EntityFactory.ts
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/360-images/src/Image360VisualizationBox.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/unit-tests/Image360EntityFactory.test.ts
  viewer/packages/360-images/visual-tests/__image_snapshots__/Image360.VisualTest.png
  viewer/packages/data-providers/package.json
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/yarn.lock
Labels: auto-update, slack

#2949 chore: remove comlink as dependency
  viewer/package.json
  viewer/yarn.lock
Labels: slack

#2951 docs: don't use CogniteCadModel in v3 doc
  documentation/versioned_docs/version-3.x/components/LiveCodeSnippet.tsx
Labels: auto-update, slack, preview-docs

#2952 fix: working 360 images on iOS together with StationaryCameraManager refactor for touch controls.
  viewer/packages/camera-manager/src/StationaryCameraManager.ts
Labels: auto-update, slack

#2953 improvement: pick only when intersects bounding box of cadnode
  viewer/packages/cad-model/src/picking/PickingHandler.test.ts
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: auto-update, slack

#2958 Docs: fix 360 image event examples in docs
  documentation/docs/examples/image360.mdx
  documentation/versioned_docs/version-4.x/examples/image360.mdx
Labels: auto-update, slack, preview-docs

#2957 fix: Deleting models while sectors are loading no longer causes error flood
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/tsconfig.typedoc.json
Labels: auto-update, slack, preview-docs

#2959 feat: 360 image icons are now batch rendered and reuses textures
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/package.json
  viewer/packages/360-images/src/Image360EntityFactory.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/Image360Icon.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/360-images/src/collection/Image360CollectionIcons.ts
  viewer/packages/360-images/src/collection/image360Icon.frag
  viewer/packages/360-images/src/collection/image360Icon.vert
  viewer/packages/360-images/src/entity/Image360.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360Icon.ts
  viewer/packages/360-images/src/entity/Image360Visualization.ts
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
  viewer/packages/360-images/src/types.ts
  viewer/packages/360-images/unit-tests/Image360CollectionFactory.test.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/three/AttributeDataAccessor.ts
Labels: auto-update, slack

#2967 fix: mobile camera controls not working in certain scenarious
  examples/src/pages/Viewer.tsx
  examples/src/utils/PageVariationUtils.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/src/ComboControls.ts
Labels: auto-update, slack, preview-docs

#2968 feat: add transparency when icon is rendered behind geometry
  viewer/packages/360-images/src/collection/Image360CollectionIcons.ts
  viewer/packages/360-images/src/collection/image360Icon.frag
Labels: auto-update, slack

#2969 fix: disallow opening multiple 360 images
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: auto-update, slack

#2970 improvement: filter cad node from front-back and position picking with single depth pass
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/cad-model/src/picking/PickingHandler.ts
Labels: auto-update, slack

#2972 fix: broken links due to trailing slash
  documentation/docusaurus.config.js
  documentation/removeTrailingSlash.js
Labels: auto-update, slack, preview-docs

#2973 chore: add metrics for 360 image add/enter/transition/exit
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/metrics/src/types.ts
Labels: auto-update, slack

#2942 improvement: Add cancellation token logic for loading sectors.
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.test.ts
  viewer/packages/cad-geometry-loaders/src/sector/SectorDownloadScheduler.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
  viewer/packages/data-providers/src/ModelDataProvider.ts
  viewer/packages/data-providers/src/model-data-providers/CdfModelDataProvider.ts
  viewer/packages/data-providers/src/model-data-providers/LocalModelDataProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
  viewer/packages/sector-loader/src/SectorRepository.ts
  viewer/packages/sector-loader/tests/mockSectorUtils.ts
  viewer/reveal.api.md
Labels: auto-update, slack, preview-docs

#2983 feat: Created clipping planes getters for both Cad and PointCloud models
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/pointclouds/src/CognitePointCloudModel.ts
  viewer/reveal.api.md
Labels: auto-update, slack, preview-docs

#2956 feat: initial support for textures
  examples/public/textured/0.glb
  examples/public/textured/scene.json
  viewer/packages/api/visual-tests/DefaultTextured.VisualTest.ts
  viewer/packages/api/visual-tests/__image_snapshots__/DefaultTextured.VisualTest.png
  viewer/packages/cad-model/src/utilities/getShaderMaterial.ts
  viewer/packages/cad-parsers/src/cad/filterPrimitivesV9.ts
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserGltf.test.ts
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserGltf.ts
  viewer/packages/cad-parsers/src/metadata/parsers/types.ts
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/glsl/sector/mesh.frag
  viewer/packages/rendering/src/glsl/sector/mesh.vert
  viewer/packages/rendering/src/rendering/materials.ts
  viewer/packages/rendering/src/rendering/shaders.ts
  viewer/packages/sector-loader/src/GltfSectorLoader.ts
  viewer/packages/sector-loader/src/GltfSectorRepository.ts
  viewer/packages/sector-loader/tests/GltfSectorLoader.test.ts
  viewer/packages/sector-loader/visual-tests/SectorLoader.VisualTest.ts
  viewer/packages/sector-parser/README.md
  viewer/packages/sector-parser/src/GltfSectorParser.ts
  viewer/packages/sector-parser/src/reveal-glb-parser/primitiveGeometries.ts
  viewer/packages/sector-parser/src/types.ts
  viewer/packages/sector-parser/tests/GltfSectorParser.test.ts
  viewer/packages/sector-parser/tests/combined-texture.glb
  viewer/test-utilities/src/createSceneSectorMetadata.ts
Labels: auto-update, slack

#2782 doc: add example for loading GLTF with Reveal
  documentation/docs/components/customScope.ts
  documentation/docs/examples/cad-3dobjects.mdx
  documentation/static/gltf/3d_industrial_tanker.glb
  documentation/versioned_docs/version-3.x/components/customScope.ts
  documentation/versioned_docs/version-4.x/components/customScope.ts
Labels: auto-update, slack, preview-docs

#2971 improvement: Cancel prefetching of 360 images when image is removed from cache
  viewer/packages/360-images/package.json
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/yarn.lock
Labels: auto-update, slack, preview-docs

#2986 fix: skip pointcloud tiles loading if numPoints is zero
  viewer/packages/pointclouds/src/potree-three-loader/loading/EptBinaryLoader.ts
Labels: auto-update, slack

#2991 chore: add metrics related to textured models
  viewer/packages/cad-parsers/package.json
  viewer/packages/cad-parsers/src/metadata/parsers/CadMetadataParserGltf.ts
  viewer/packages/metrics/src/types.ts
  viewer/yarn.lock
Labels: slack

#2989 feat: Allow supplying access token directly in Examples
  examples/package.json
  examples/src/pages/Viewer.tsx
  examples/src/utils/example-helpers.ts
  examples/yarn.lock
Labels: auto-update, slack, preview-docs

#2990 feat: add octree implementation for 360 images
  viewer/package.json
  viewer/packages/360-images/src/collection/IconOctree.test.ts
  viewer/packages/360-images/src/collection/IconOctree.ts
  viewer/packages/360-images/src/entity/Image360Icon.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/360-images/visual-tests/__image_snapshots__/Image360.VisualTest.png
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/projectedBounds.ts
  viewer/packages/utilities/src/three/visitBox3CornerPoints.ts
  viewer/yarn.lock
Labels: auto-update, slack

#2993 chore: use prettier in examples
  .github/workflows/ci.yml
  examples/.prettierignore
  examples/.prettierrc
  examples/README.md
  examples/package.json
  examples/src/components/styled.ts
  examples/src/pages/Viewer.tsx
  examples/src/utils/BulkHtmlOverlayUI.ts
  examples/src/utils/CadBudgetUi.ts
  examples/src/utils/CameraUI.ts
  examples/src/utils/CustomCameraManager.ts
  examples/src/utils/Image360UI.ts
  examples/src/utils/InspectNodeUi.ts
  examples/src/utils/LoadGltfUi.ts
  examples/src/utils/MeasurementUi.ts
  examples/src/utils/ModelUi.ts
  examples/src/utils/NodeStylingUI.ts
  examples/src/utils/PageVariationUtils.ts
  examples/src/utils/PointCloudClassificationFilterUI.ts
  examples/src/utils/PointCloudObjectStylingUI.ts
  examples/src/utils/PointCloudUi.ts
  examples/src/utils/SingleClippingUI.ts
  examples/src/utils/example-helpers.ts
  examples/src/utils/isLocalUrlPointCloudModel.ts
  examples/tsconfig.json
  examples/webpack.config.js
  examples/yarn.lock
Labels: auto-update, slack

#2980 feat: add average framerate user metrics
  documentation/docs/components/Cognite3DViewerDemo.tsx
  documentation/docs/components/DemoWrapper.tsx
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/metrics/index.ts
  viewer/packages/metrics/src/SessionLogger.ts
  viewer/packages/metrics/src/types.ts
Labels: auto-update, slack, preview-docs

#2992 improvement: Loading 360 descriptors for large sets no longer freeze the application
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: auto-update, slack, preview-docs

#2994 fix: Entering a clicked 360 Image is slow after hovering many icons
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: auto-update, slack, preview-docs

#2995 feat: add clustering capabilities to 360 image collections
  examples/yarn.lock
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/360-images/src/collection/Image360CollectionIcons.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/src/icons/IconOctree.test.ts
  viewer/packages/360-images/src/icons/IconOctree.ts
  viewer/packages/360-images/src/icons/Image360Icon.ts
  viewer/packages/360-images/src/icons/InstancedIconSprite.ts
  viewer/packages/360-images/src/icons/image360Icon.frag
  viewer/packages/360-images/src/icons/image360Icon.vert
  viewer/packages/360-images/unit-tests/Image360CollectionFactory.test.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/visual-tests/test-fixtures/StreamingVisualTestFixture.ts
Labels: auto-update, slack
