Repository cognitedata/reveal, pull requests merged in 2023-05, with the labels that each got.

#3212 feat: add pointer event in 360 annotation interaction events
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/types.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/reveal.api.md
Labels: auto-update, slack

#3216 refactor: make annotation getter async and extract from texture loading
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/entity/Image360Revision.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/reveal.api.md
Labels: slack

#3197 docs: image annotation docs
  documentation/docs/examples/image360-annotations.mdx
  documentation/sidebars.js
  examples/src/utils/Image360StylingUI.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/reveal.api.md
Labels: auto-update, slack, preview-docs

#3215 fix: choose smallest annotation on multiple intersected
  viewer/packages/360-images/src/annotation/ImageAnnotationObject.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/packages/360-images/unit-tests/Image360EntityRevision.test.ts
Labels: auto-update, slack

#3201 fix: display correct 360 image annotation for each revision
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: auto-update, slack

#3231 chore: add storybook support
  react-components/.babelrc.json
  react-components/.storybook/main.ts
  react-components/.storybook/preview.ts
  react-components/package.json
  react-components/src/stories/Button.stories.ts
  react-components/yarn.lock
Labels: auto-update, slack

#3230 feat: 360 annotation intersection method on viewer
  examples/src/utils/Image360UI.ts
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/annotation/Image360AnnotationIntersection.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/360-images/src/types.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/pointclouds/src/PointCloudIntersection.ts
  viewer/reveal.api.md
Labels: auto-update, slack

#3239 chore: use linear-to-SRGB-conversion in Image360 styling UI
  examples/src/utils/Image360StylingUI.ts
Labels: slack

#3217 feat: implement SmartOverlayTool that visualises overlays in 3D.
  examples/src/utils/Image360StylingUI.ts
  examples/src/utils/Image360UI.ts
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/package.json
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/src/icons/Image360Icon.ts
  viewer/packages/360-images/src/icons/image360Icon.frag
  viewer/packages/360-images/unit-tests/Image360CollectionFactory.test.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/3d-overlays/index.ts
  viewer/packages/3d-overlays/package.json
  viewer/packages/3d-overlays/src/IconOctree.test.ts
  viewer/packages/3d-overlays/src/IconOctree.ts
  viewer/packages/3d-overlays/src/Overlay3D.ts
  viewer/packages/3d-overlays/src/Overlay3DCollection.ts
  viewer/packages/3d-overlays/src/Overlay3DIcon.ts
  viewer/packages/3d-overlays/src/OverlayCollection.ts
  viewer/packages/3d-overlays/src/OverlayPointsObject.ts
  viewer/packages/3d-overlays/src/overlay3DIcon.frag
  viewer/packages/3d-overlays/src/overlay3DIcon.vert
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/types.ts
  viewer/packages/tools/index.ts
  viewer/packages/tools/package.json
  viewer/packages/tools/src/Cognite3DViewerToolBase.test.ts
  viewer/packages/tools/src/DebugCameraTool.ts
  viewer/packages/tools/src/SmartOverlay/SmartOverlayTool.ts
  viewer/packages/tools/src/types.ts
  viewer/packages/tools/visual-tests/SmartOverlay.VisualTest.ts
  viewer/packages/tools/visual-tests/__image_snapshots__/SmartOverlay.VisualTest.png
  viewer/reveal.api.md
  viewer/yarn.lock
Labels: auto-update, slack

#3252 feat: support polygons in asset link annotations
  viewer/packages/360-images/src/annotation/ImageAnnotationObject.ts
  viewer/packages/360-images/src/annotation/PolygonAnnotationData.ts
Labels: auto-update, slack

#3265 chore: add readme.md to react components lib and cleanup some build configuration
  examples/package.json
  examples/webpack.config.js
  examples/yarn.lock
  react-components/README.MD
  react-components/cognite-reveal-react-components-0.1.2.tgz
  react-components/package.json
  react-components/src/stories/Image360HistoricalDetailsPanel.stories.ts
  react-components/tsconfig.json
  react-components/webpack.config.js
  react-components/yarn.lock
Labels: auto-update, slack

#3267 feat: 360 annotation outlines
  viewer/jest.config.js
  viewer/packages/360-images/src/annotation/BoxAnnotationData.ts
  viewer/packages/360-images/src/annotation/ImageAnnotationData.ts
  viewer/packages/360-images/src/annotation/ImageAnnotationObject.ts
  viewer/packages/360-images/src/annotation/PolygonAnnotationData.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/packages/360-images/unit-tests/Image360RevisionEntity.test.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/three/VariableWidthLine.ts
Labels: slack

#3278 fix: error occuring when preloading image with no annotations
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
Labels: slack

#3284 chore: fix double GUI in example
  examples/public/index.html
Labels: slack

#3279 feat: 360 annotation filter support
  examples/src/utils/Image360UI.ts
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/annotation/Image360AnnotationFilter.ts
  viewer/packages/360-images/src/annotation/types.ts
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/packages/360-images/unit-tests/Image360CollectionFactory.test.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/unit-tests/Image360RevisionEntity.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/api/src/public/migration/types.ts
  viewer/reveal.api.md
Labels: slack

#3296 fix: add minimum threshold to prevent getting stuck when two icons are overlapping
  viewer/packages/360-images/src/Image360Facade.ts
Labels: auto-update, slack

#3297 feat: annotation getters and only intersect visible annotations
  viewer/packages/360-images/src/annotation/Image360Annotation.ts
  viewer/packages/360-images/src/annotation/ImageAnnotationObject.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/reveal.api.md
Labels: auto-update, slack

#3294 chore: clean up the API a little
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/entity/Image360.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/3d-overlays/index.ts
  viewer/packages/3d-overlays/src/IconOctree.test.ts
  viewer/packages/3d-overlays/src/IconOctree.ts
  viewer/packages/3d-overlays/src/Overlay3D.ts
  viewer/packages/3d-overlays/src/Overlay3DCollection.ts
  viewer/packages/3d-overlays/src/Overlay3DIcon.ts
  viewer/packages/3d-overlays/src/OverlayCollection.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/tools/index.ts
  viewer/packages/tools/package.json
  viewer/packages/tools/src/Overlay3D/Overlay3DTool.ts
  viewer/packages/tools/visual-tests/Overlay3D.VisualTest.ts
  viewer/packages/tools/visual-tests/__image_snapshots__/Overlay3D.VisualTest.png
  viewer/reveal.api.md
Labels: auto-update, slack

#3300 feat: add label and id to collection and fix underlying label types.
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/360-images/src/entity/Image360.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360Revision.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/reveal.api.md
Labels: auto-update, slack

#3303 fix: remove syntax error in jsdoc
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack, preview-docs

#3320 fix: update webpack transitive dependency
  viewer/yarn.lock
Labels: auto-update, slack

#3321 chore: disable automerging of threejs
  renovate.json5
Labels: auto-update, slack

#3328 feat: get asset IDs associated with image 360
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/data-providers/src/Image360Provider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/reveal.api.md
Labels: slack
