Repository cognitedata/reveal, pull requests merged in 2023-03, with the labels that each got.

#2997 feat: cluster icons using a median icon strategy
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/src/icons/IconOctree.test.ts
  viewer/packages/360-images/src/icons/IconOctree.ts
  viewer/packages/360-images/src/icons/InstancedIconSprite.ts
Labels: auto-update, slack

#3001 fix: bump transitive loader-utils v2 to fix critical prototype pollution issue
  viewer/yarn.lock
Labels: auto-update, slack

#3002 fix: bump json5 and remove unused dependency
  viewer/package.json
  viewer/yarn.lock
Labels: auto-update, slack

#3003 fix: bump loader-utils in documentation
  documentation/yarn.lock
Labels: auto-update, slack

#2998 fix: cone rendering when camera is inside the primitive
  viewer/packages/api/visual-tests/__image_snapshots__/NodeTransform.VisualTest.png
  viewer/packages/api/visual-tests/__image_snapshots__/Outline.VisualTest.png
  viewer/packages/api/visual-tests/__image_snapshots__/ReassignNodeStyle.VisualTest.png
  viewer/packages/api/visual-tests/__image_snapshots__/TwoModels.VisualTest.png
  viewer/packages/cad-model/visual-tests/__image_snapshots__/Scale.VisualTest.png
  viewer/packages/cad-styling/visual-tests/__image_snapshots__/Highlighted.VisualTest.png
  viewer/packages/rendering/src/glsl/math/quadToViewSpace.glsl
  viewer/packages/rendering/src/glsl/sector/primitives/cone.frag
  viewer/packages/rendering/src/glsl/sector/primitives/cone.vert
  viewer/packages/rendering/src/glsl/sector/primitives/eccentricCone.frag
  viewer/packages/rendering/src/glsl/sector/primitives/eccentricCone.vert
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.vert
Labels: auto-update, slack

#3026 fix: general cylinder arc angle is too big sometimes
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.frag
  viewer/packages/rendering/src/glsl/sector/primitives/generalring.frag
Labels: auto-update, slack

#2999 fix: 360 Image abort does not consider if the image is visible or not before aborting
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: auto-update, slack, preview-docs

#3033 fix: wrong separator when parsing 360 image events
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: auto-update, slack

#3029 fix: primitive buffer parsing with multiple types in same buffer
  viewer/test-utilities/src/primitives/internal/threeTranslation.ts
  viewer/test-utilities/src/primitives/internal/types.ts
Labels: auto-update, slack

#3041 feat: Adjust the size of 360Images icons to better reflect their position
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/src/icons/Image360Icon.ts
Labels: auto-update, slack, preview-docs

#3060 fix: point cloud performance regression for certain platforms when doing model intersection
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: auto-update, slack

#3000 feat: Use image icons to preview 360 images
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/data-providers/index.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
Labels: auto-update, slack, preview-docs

#3077 improvement: point cloud style blending
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.vert
Labels: auto-update, slack

#3074 feat: Toggle visibility of 360 image markers
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/src/icons/Image360Icon.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/reveal.api.md
Labels: auto-update, slack, preview-docs

#3081 feat: add cameraStop event to viewer
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/reveal.api.md
Labels: slack

#3084 chore: bump 4.2.0
  viewer/package.json
Labels: slack
