Repository cognitedata/reveal, pull requests merged in 2023-04, with the labels that each got.

#3116 fix: adaptive point sizing giving too large points in picking
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePicker.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
Labels: slack

#3117 fix: adaptive point picking being unprecise
  viewer/Cargo.lock
  viewer/package.json
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePicker.ts
  viewer/packages/pointclouds/src/potree-three-loader/tree/PointCloudOctreePickerHelper.ts
Labels: slack

#3099 feat: Add API to list available dates, change and get selected (visible) 360 image by date (no UI)
  examples/src/utils/Image360UI.ts
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/360-images/src/entity/Image360.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360Revision.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
  viewer/packages/360-images/unit-tests/Image360CollectionFactory.test.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/reveal.api.md
Labels: auto-update, slack, preview-docs

#3135 fix: throw error if same image 360 collection is added twice
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: auto-update, slack

#3132 feat: Pass revision with the 'image360Entered' event
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/types.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/reveal.api.md
Labels: auto-update, slack, preview-docs

#3141 chore: change include file syntax in gha-find-replace
  .github/workflows/ci.yml
Labels: slack, preview-docs

#3104 chore: update documentation v4 to Reveal 4.2
  documentation/versioned_docs/version-4.x/package.json
  documentation/yarn.lock
Labels: auto-update, slack, preview-docs

#3143 bug: Documentation - API references are now sorted alphabetically
  documentation/docusaurus.config.js
Labels: auto-update, slack, preview-docs

#3134 refac: port to Typescript 5 decorators
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.frag
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.vert
  viewer/packages/rendering/src/pointcloud-rendering/PointCloudMaterial.ts
  viewer/tsconfig.json
  viewer/tsconfig.typedoc.json
Labels: auto-update, slack

#3138 docs: Historical 360 images and Information GUI
  documentation/docs/examples/image360.mdx
Labels: auto-update, slack, preview-docs

#3147 bug: Fail to transition to 360 image boxes due to textures not being set on revision
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
Labels: auto-update, slack, preview-docs

#3133 feat: Show information about currently entered 360 image
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/entity/Image360.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/reveal.api.md
Labels: auto-update, slack, preview-docs

#3149 fix: paraboloid shape in point cloud rendering
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.frag
  viewer/packages/rendering/src/glsl/pointcloud/pointcloud.vert
Labels: auto-update, slack

#3157 fix: remove jest polyfill
  viewer/test-utilities/src/setupJest.ts
Labels: auto-update

#3146 feat: display 2D annotations with hover events in 360 images
  examples/src/utils/Image360UI.ts
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/annotation/ImageAnnotationObject.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
  viewer/packages/360-images/src/types.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/data-providers/index.ts
  viewer/packages/data-providers/src/Image360Provider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
  viewer/packages/data-providers/src/image-360-data-providers/Local360ImageProvider.ts
  viewer/packages/data-providers/src/types.ts
  viewer/reveal.api.md
Labels: slack

#3148 feat: support polygon annotations
  viewer/packages/360-images/src/annotation/BoxAnnotationData.ts
  viewer/packages/360-images/src/annotation/ImageAnnotationData.ts
  viewer/packages/360-images/src/annotation/ImageAnnotationObject.ts
  viewer/packages/360-images/src/annotation/PolygonAnnotationData.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
Labels: auto-update

#3174 feat: 360 image annotation click events
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/360-images/src/types.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/reveal.api.md
Labels: auto-update, slack

#3158 fix: out of memory issue in 360 images for mobile
  viewer/packages/360-images/src/collection/Image360CollectionFactory.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
  viewer/packages/360-images/unit-tests/Image360CollectionFactory.test.ts
  viewer/packages/360-images/unit-tests/Image360Entity.test.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: auto-update, slack

#3178 refactor: change 360 image redraw request flow
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Labels: slack

#3179 fix: don't redraw forever when setting custom transform
  viewer/packages/cad-geometry-loaders/src/CadManager.ts
  viewer/packages/cad-model/src/wrappers/CadNode.ts
Labels: auto-update, slack

#3150 feat: assign default colors to image annotations
  viewer/package.json
  viewer/packages/360-images/src/annotation/ImageAnnotationObject.ts
Labels: slack

#3182 feat: 360 image annotation styling
  examples/src/pages/Viewer.tsx
  examples/src/utils/Image360StylingUI.ts
  examples/src/utils/Image360UI.ts
  viewer/api-entry-points/core.ts
  viewer/packages/360-images/index.ts
  viewer/packages/360-images/src/annotation/Image360Annotation.ts
  viewer/packages/360-images/src/annotation/ImageAnnotationObject.ts
  viewer/packages/360-images/src/annotation/types.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/collection/Image360Collection.ts
  viewer/packages/360-images/src/entity/Image360Revision.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/packages/360-images/src/types.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/reveal.api.md
Labels: slack

#3189 fix: don't visualize annotations before inside 360 image
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Labels: slack

#3156 refactor: 360 images cache and loading logic
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/src/entity/Image360RevisionEntity.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Labels: auto-update, slack

#3196 chore: image annotation adjust api
  examples/src/utils/Image360StylingUI.ts
  viewer/packages/360-images/src/annotation/Image360Annotation.ts
  viewer/packages/360-images/src/annotation/ImageAnnotationObject.ts
  viewer/packages/360-images/src/annotation/types.ts
  viewer/reveal.api.md
Labels: slack
