Repository cognitedata/reveal, pull requests merged in 2024-01, with the labels that each got.

#4040 feat(react-components): added reset camera position to scene data position
  react-components/src/components/RevealToolbar/ResetCameraButton.tsx
  react-components/src/components/RevealToolbar/RevealToolbar.tsx
  react-components/src/hooks/useSceneDefaultCamera.tsx
  react-components/stories/SceneContainer.stories.tsx
  react-components/tests/visual-tests/__screenshots__/Toolbar.stories.spec.ts/cad-model-container-storybook-1.png
Labels: auto-update, slack

#4048 fix(react-components): added onClose & onResize callback for WindowWidget component
  react-components/src/components/Widgets/WindowWidget.tsx
  react-components/src/components/Widgets/constants.ts
  react-components/src/components/Widgets/elements.ts
  react-components/stories/SplitWindow.stories.tsx
Labels: auto-update, slack

#4056 chore(react-components): updated translation string for December release
  react-components/src/common/i18n/de/reveal-react-components.json
  react-components/src/common/i18n/en/reveal-react-components.json
  react-components/src/common/i18n/es/reveal-react-components.json
  react-components/src/common/i18n/fr/reveal-react-components.json
  react-components/src/common/i18n/it/reveal-react-components.json
  react-components/src/common/i18n/ja/reveal-react-components.json
  react-components/src/common/i18n/ko/reveal-react-components.json
  react-components/src/common/i18n/nl/reveal-react-components.json
  react-components/src/common/i18n/pt/reveal-react-components.json
  react-components/src/common/i18n/sv/reveal-react-components.json
  react-components/src/common/i18n/zh/reveal-react-components.json
Labels: auto-update, slack

#4058 chore(react-components): bump version to 0.26.1
  react-components/package.json
Labels: auto-update, slack

#4052 [Refactor]Clean up the the camera code and implemented double click for orbit mode
  examples/src/pages/Viewer.tsx
  examples/yarn.lock
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
  viewer/packages/camera-manager/index.ts
  viewer/packages/camera-manager/src/ComboControls.ts
  viewer/packages/camera-manager/src/ComboControlsOptions.ts
  viewer/packages/camera-manager/src/DefaultCameraManager.ts
  viewer/packages/camera-manager/src/types.ts
  viewer/packages/camera-manager/tests/DefaultCameraManager.test.ts
  viewer/packages/tools/src/Measurement/MeasurementManager.ts
  viewer/packages/utilities/index.ts
  viewer/packages/utilities/src/worldToViewport.ts
  viewer/reveal.api.md
Labels: auto-update

#3729 improvement: use browser fingerprinting to distinguish between users in metrics
  viewer/package.json
  viewer/packages/metrics/src/Fingerprint.ts
  viewer/packages/metrics/src/MetricsLogger.ts
  viewer/yarn.lock
Labels: preview-docs

#4086 fix(react-components): make sure asset-mapping styling does not disappear
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/hooks/useCalculateModelsStyling.tsx
  react-components/src/utilities/isSameModel.ts
Labels: auto-update

#4095 chore(react-components): bump version 0.26.8
  react-components/package.json
Labels: auto-update

#4093 fix: sort styled node collections by importance
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.test.ts
  viewer/packages/cad-model/src/wrappers/CogniteCadModel.ts
  viewer/packages/cad-styling/src/NodeAppearanceProvider.ts
Labels: auto-update

#4125 fix(react-components): don't limit search result that will be filtered
  react-components/src/hooks/useSearchMappedEquipmentAssetMappings.tsx
Labels: auto-update

#4127 chore(react-components): bump version 0.28.9
  react-components/package.json
Labels: auto-update

#4134 feat: add more result data for 3d-related nodes
  react-components/src/hooks/use3dRelatedDirectConnections.ts
  react-components/src/hooks/use3dRelatedEdgeConnections.ts
  react-components/src/index.ts
  react-components/src/utilities/types.ts
  yarn.lock
Labels: auto-update
