Repository cognitedata/reveal, pull requests merged in 2025-09, with the labels that each got.

#5266 refactor(react-components): Create factory for React elements
  react-components/src/architecture/base/commands/BaseFilterCommand.test.ts
  react-components/src/architecture/base/concreteCommands/units/SetLengthUnitCommand.test.ts
  react-components/src/architecture/base/domainObjects/DomainObject.signal.test.ts
  react-components/src/architecture/concrete/axis/AxisThreeView.test.ts
  react-components/src/components/Architecture/AnchoredDialog.tsx
  react-components/src/components/Architecture/BannerComponent.test.tsx
  react-components/src/components/Architecture/CommandButton.test.tsx
  react-components/src/components/Architecture/CommandButton.tsx
  react-components/src/components/Architecture/CommandButtons.tsx
  react-components/src/components/Architecture/CustomInputField.tsx
  react-components/src/components/Architecture/DividerCreator.tsx
  react-components/src/components/Architecture/DomainObjectPanel.test.tsx
  react-components/src/components/Architecture/DropdownButton.test.tsx
  react-components/src/components/Architecture/DropdownButton.tsx
  react-components/src/components/Architecture/Factories/ComponentFactory.test.tsx
  react-components/src/components/Architecture/Factories/ComponentFactory.tsx
  react-components/src/components/Architecture/Factories/createComponentFactory.tsx
  react-components/src/components/Architecture/FilterButton.test.tsx
  react-components/src/components/Architecture/FilterButton.tsx
  react-components/src/components/Architecture/InputField.test.tsx
  react-components/src/components/Architecture/InputField.tsx
  react-components/src/components/Architecture/SegmentedButtons.test.tsx
  react-components/src/components/Architecture/SegmentedButtons.tsx
  react-components/src/components/Architecture/SettingsButton.test.tsx
  react-components/src/components/Architecture/SettingsButton.tsx
  react-components/src/components/Architecture/pointsOfInterest/PoiCommentSection.tsx
  react-components/src/components/RevealCanvas/ComponentFactoryContext.tsx
  react-components/src/components/RevealCanvas/ViewerContext.test.tsx
  react-components/src/components/RevealCanvas/ViewerContext.tsx
  react-components/src/components/RevealContext/RevealContext.tsx
  react-components/src/components/RuleBasedOutputs/RuleBasedOutputsSelector.test.tsx
  react-components/src/hooks/useClickedNode.test.tsx
  react-components/src/hooks/useGhostMode.test.tsx
  react-components/tests/tests-utilities/architecture/mock-commands/MockEnumOptionCommand.ts
  react-components/tests/tests-utilities/fixtures/wrapper.tsx
Labels: risk-review-ongoing, waiting-for-team

#5288 feat(react-components): Cylinderfit (part 1)
  react-components/package.json
  react-components/src/architecture/base/utilities/cylinderFit/LeastSquare.ts
  react-components/src/architecture/base/utilities/cylinderFit/LeastSquareCylinderResult.test.ts
  react-components/src/architecture/base/utilities/cylinderFit/LeastSquareCylinderResult.ts
  react-components/src/architecture/base/utilities/cylinderFit/bestFitVerticalCylinder.test.ts
  react-components/src/architecture/base/utilities/cylinderFit/bestFitVerticalCylinder.ts
  react-components/src/architecture/base/utilities/extensions/vectorUtils.test.ts
  react-components/src/architecture/base/utilities/extensions/vectorUtils.ts
  react-components/src/architecture/base/utilities/primitives/Vector3ArrayUtils.test.ts
  react-components/src/architecture/base/utilities/primitives/Vector3ArrayUtils.ts
  react-components/yarn.lock
Labels: risk-review-ongoing, waiting-for-team

#5326 chore(react-components): bump to 0.88.0
  react-components/package.json
Labels: waiting-for-risk-review

#5334 fix: 360 hover not registering for some perspectives
  viewer/packages/360-images/src/Image360Facade.test.ts
  viewer/packages/360-images/src/Image360Facade.ts
Labels: auto-update

#5338 fix(react-components): port datetime format utils from cdf utilities and replace related places to fix cdf-utilities package issues
  react-components/package.json
  react-components/src/components/Architecture/pointsOfInterest/PoiHeader.tsx
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.viewmodel.context.ts
  react-components/src/utilities/date-time-utils/constants.ts
  react-components/src/utilities/date-time-utils/format-date-time.spec.ts
  react-components/src/utilities/date-time-utils/format-date-time.ts
  react-components/src/utilities/date-time-utils/index.ts
  react-components/src/utilities/date-time-utils/types.ts
  react-components/vite.config.ts
  react-components/yarn.lock
Labels: risk-review-ongoing, waiting-for-team
