Repository cognitedata/reveal, pull requests merged in 2025-08, with the labels that each got.

#5248 feat(react-component): Set names to the Reveal domain objects
  react-components/src/architecture/concrete/reveal/Image360Collection/Image360CollectionDomainObject.test.ts
  react-components/src/architecture/concrete/reveal/Image360Collection/Image360CollectionDomainObject.ts
  react-components/src/architecture/concrete/reveal/RevealModelsUtils.test.ts
  react-components/src/architecture/concrete/reveal/RevealModelsUtils.ts
  react-components/src/components/CadModelContainer/CadModelContainer.context.ts
  react-components/tests/tests-utilities/fixtures/image360.ts
Labels: waiting-for-risk-review

#5247 Refactor(react-component): Architecture work (Part 0)
  react-components/src/architecture/base/commands/BaseCommand.signal.test.ts
  react-components/src/architecture/base/commands/BaseCommand.test.ts
  react-components/src/architecture/base/commands/BaseCommand.ts
  react-components/src/architecture/base/commands/BaseInputCommand.test.ts
  react-components/src/architecture/base/commands/RenderTargetCommand.ts
  react-components/src/architecture/base/concreteCommands/KeyboardSpeedCommand.test.ts
  react-components/src/architecture/base/concreteCommands/KeyboardSpeedCommand.ts
  react-components/src/architecture/base/concreteCommands/SetFlexibleControlsTypeCommand.test.ts
  react-components/src/architecture/base/concreteCommands/SetFlexibleControlsTypeCommand.ts
  react-components/src/architecture/base/concreteCommands/SetOrbitOrFirstPersonModeCommand.test.ts
  react-components/src/architecture/base/concreteCommands/SetOrbitOrFirstPersonModeCommand.ts
  react-components/src/architecture/base/concreteCommands/SetQualitySliderCommand/QualityWarningBannerCommand.test.ts
  react-components/src/architecture/base/concreteCommands/SetQualitySliderCommand/QualityWarningBannerCommand.ts
  react-components/src/architecture/base/concreteCommands/SetQualitySliderCommand/SetQualitySliderCommand.test.ts
  react-components/src/architecture/base/concreteCommands/SetQualitySliderCommand/SetQualitySliderCommand.ts
  react-components/src/architecture/base/domainObjects/DomainObject.signal.test.ts
  react-components/src/architecture/base/domainObjects/DomainObject.ts
  react-components/src/architecture/base/domainObjectsHelpers/Views.ts
  react-components/src/architecture/concrete/reveal/Image360Collection/Image360CollectionDomainObject.ts
  react-components/src/architecture/concrete/reveal/RevealSettingsController.test.ts
  react-components/src/architecture/concrete/reveal/RevealSettingsController.ts
  react-components/src/architecture/concrete/reveal/cad/CadDomainObject.ts
  react-components/src/architecture/concrete/reveal/pointCloud/PointCloudDomainObject.ts
Labels: risk-review-ongoing, waiting-for-team

#5250 Refactor(react-components): Refactor the Reveal domain objects and commands (Part 1)
  react-components/src/architecture/base/commands/BaseFilterCommand.test.ts
  react-components/src/architecture/base/renderTarget/RevealRenderTarget.ts
  react-components/src/architecture/concrete/reveal/Image360Collection/Image360CollectionDomainObject.test.ts
  react-components/src/architecture/concrete/reveal/Image360Collection/Image360CollectionDomainObject.ts
  react-components/src/architecture/concrete/reveal/Image360Collection/Image360CollectionRenderStyle.ts
  react-components/src/architecture/concrete/reveal/Image360Collection/Image360CollectionThreeView.ts
  react-components/src/architecture/concrete/reveal/cad/CadDomainObject.test.ts
  react-components/src/architecture/concrete/reveal/cad/CadDomainObject.ts
  react-components/src/architecture/concrete/reveal/cad/CadRenderStyle.ts
  react-components/src/architecture/concrete/reveal/cad/CadThreeView.ts
  react-components/src/architecture/concrete/reveal/pointCloud/PointCloudDomainObject.test.ts
  react-components/src/architecture/concrete/reveal/pointCloud/PointCloudDomainObject.ts
  react-components/src/architecture/concrete/reveal/pointCloud/PointCloudRenderStyle.ts
  react-components/src/architecture/concrete/reveal/pointCloud/PointCloudThreeView.ts
  react-components/tests/tests-utilities/fixtures/pointCloud.ts
Labels: risk-review-ongoing, waiting-for-team

#5261 fix(react-components): move matrix to class field
  react-components/src/architecture/base/domainObjectsHelpers/BaseCreator.ts
Labels: waiting-for-risk-review

#5251 refactor(react-components): For all settings command regarding point clouds, use Domain Objects and made unit test (Part 2)
  react-components/src/architecture/base/commands/BaseFilterCommand.test.ts
  react-components/src/architecture/base/concreteCommands/KeyboardSpeedCommand.test.ts
  react-components/src/architecture/base/concreteCommands/SetFlexibleControlsTypeCommand.test.ts
  react-components/src/architecture/base/concreteCommands/SetOrbitOrFirstPersonModeCommand.test.ts
  react-components/src/architecture/base/concreteCommands/UndoCommand.test.ts
  react-components/src/architecture/base/concreteCommands/pointCloud/PointCloudDividerCommand.test.ts
  react-components/src/architecture/base/concreteCommands/pointCloud/PointCloudDividerCommand.ts
  react-components/src/architecture/base/concreteCommands/pointCloud/PointCloudFilterCommand.test.ts
  react-components/src/architecture/base/concreteCommands/pointCloud/PointCloudFilterCommand.ts
  react-components/src/architecture/base/concreteCommands/pointCloud/SetPointColorTypeCommand.test.ts
  react-components/src/architecture/base/concreteCommands/pointCloud/SetPointColorTypeCommand.ts
  react-components/src/architecture/base/concreteCommands/pointCloud/SetPointShapeCommand.test.ts
  react-components/src/architecture/base/concreteCommands/pointCloud/SetPointShapeCommand.ts
  react-components/src/architecture/base/concreteCommands/pointCloud/SetPointSizeCommand.test.ts
  react-components/src/architecture/base/concreteCommands/pointCloud/SetPointSizeCommand.ts
  react-components/src/architecture/base/renderTarget/CommandsController.test.ts
  react-components/src/architecture/base/renderTarget/RevealRenderTarget.ts
  react-components/src/architecture/concrete/annotation360/DeleteSelectedImage360AnnotationCommand.test.ts
  react-components/src/architecture/concrete/axis/AxisThreeView.test.ts
  react-components/src/architecture/concrete/reveal/RevealSettingsController.ts
  react-components/src/architecture/concrete/reveal/cad/CadDomainObject.test.ts
  react-components/src/architecture/concrete/reveal/pointCloud/PointCloudDomainObject.test.ts
  react-components/src/components/Architecture/DomainObjectPanel.test.tsx
  react-components/src/hooks/network/getCadModelsForHybridDmInstance.test.ts
  react-components/src/hooks/useClickedNode.test.tsx
  react-components/src/hooks/useGhostMode.test.tsx
  react-components/tests/tests-utilities/fixtures/pointCloud.ts
Labels: risk-review-ongoing, waiting-for-team

#5263 chore(deps): bump tmp from 0.2.3 to 0.2.4 in /react-components
  react-components/yarn.lock
Labels: auto-update, waiting-for-risk-review

#5259 fix(react-components): generalize `getInstancesFromClick`
  react-components/src/components/CacheProvider/idAndKeyTranslation.test.ts
  react-components/src/components/CacheProvider/idAndKeyTranslation.ts
  react-components/src/utilities/getInstancesFromClick.ts
Labels: auto-update, risk-review-ongoing, waiting-for-team

#5267 fix: PoI scaling for intersection tests
  viewer/packages/3d-overlays/src/Overlay3DCollection.test.ts
  viewer/packages/3d-overlays/src/Overlay3DCollection.ts
  viewer/packages/3d-overlays/src/OverlayPointsObject.ts
Labels: waiting-for-risk-review

#5270 feat(react-components): make URLs in PoI comments clickable
  react-components/src/components/Architecture/pointsOfInterest/PoiCommentSection.tsx
  react-components/src/utilities/TextWithClickableLink.test.tsx
  react-components/src/utilities/TextWithClickableLink.tsx
  react-components/src/utilities/getUrlRegex.test.ts
  react-components/src/utilities/getUrlRegex.ts
Labels: risk-review-ongoing, waiting-for-team

#5284 test(react-components): Update vitest arguments in package.js
  react-components/package.json
Labels: auto-update
