Repository cognitedata/reveal, pull requests merged in 2025-03, with the labels that each got.

#5044 chore: add imports subpath for test utilities
  react-components/package.json
  react-components/src/architecture/base/domainObjects/DomainObject.test.ts
  react-components/src/architecture/base/domainObjects/RootDomainObject.test.ts
  react-components/src/architecture/base/domainObjects/VisualDomainObject.test.ts
  react-components/src/architecture/base/undo/UndoManager.test.ts
  react-components/src/architecture/base/utilities/primitives/Box.test.ts
  react-components/src/architecture/base/utilities/primitives/Cylinder.test.ts
  react-components/src/architecture/concrete/primitives/box/BoxCreator.test.ts
  react-components/src/architecture/concrete/primitives/cylinder/CylinderCreator.test.ts
  react-components/src/architecture/concrete/primitives/cylinder/CylinderView.test.ts
  react-components/src/architecture/concrete/primitives/line/LineCreator.test.ts
  react-components/src/architecture/concrete/primitives/line/LineDomainObject.test.ts
  react-components/src/architecture/concrete/primitives/line/LineView.test.ts
  react-components/src/architecture/concrete/reveal/RevealModelsUtils.test.ts
  react-components/src/components/CacheProvider/AnnotationModelUtils.test.ts
  react-components/src/components/RevealCanvas/hooks/useCameraStateControl.test.ts
  react-components/src/components/RevealToolbar/LayersButton/LayersButton.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/updateExternalStateFromLayerHandlers.test.ts
  react-components/src/components/RevealToolbar/LayersButton/updateViewerFromExternalState.test.ts
  react-components/src/data-providers/core-dm-provider/CoreDm3dDataProvider.test.ts
  react-components/src/data-providers/core-dm-provider/filterNodesByMappedTo3d.test.ts
  react-components/src/hooks/use3dModels.test.ts
  react-components/src/hooks/useCameraNavigation.test.ts
  react-components/src/utilities/image360Annotations/getImage360AnnotationAssetRef.test.ts
  react-components/src/utilities/image360Annotations/getImage360AnnotationId.test.ts
  react-components/tsconfig.json
  react-components/tsconfig.test.json
Labels: auto-update

#5052 refactor(react-components): more test util import path replacements
  react-components/package.json
  react-components/src/architecture/base/utilities/extensions/rayExtensions.test.ts
  react-components/src/architecture/base/utilities/extensions/vectorExtensions.test.ts
  react-components/src/architecture/concrete/primitives/box/BoxView.test.ts
  react-components/src/components/Reveal3DResources/hooks/useRemoveNonReferencedModels.test.tsx
  react-components/src/components/RevealCanvas/ViewerContext.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/components/LayersButtonsStrip.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/components/ModelLayerSelection.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/components/ModelLayersButton.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/components/ModelLayersList.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/components/WholeLayerVisibilitySelectItem.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/hooks/useModelHandlers.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/hooks/useSyncExternalLayersState.test.tsx
Labels: auto-update

#5059 chore: add codecov token and set codecov project flags
  .github/workflows/ci.yml
  .github/workflows/react-components-ci.yml
Labels: risk-review-ongoing

#5055 fix(react-components): Don't show labels for 360 annotations
  react-components/package.json
  react-components/src/architecture/concrete/primitives/common/PrimitiveRenderStyle.ts
  react-components/src/architecture/concrete/primitives/line/LineView.ts
Labels: auto-update, risk-review-ongoing

#5060 chore: add flag management config
  codecov.yml
Labels: risk-review-ongoing

#5058 fix(react-components): dms search returns incorrect results - step 2
  react-components/src/data-providers/core-dm-provider/cadAndPointCloudAndImage360AssetQuery.test.ts
  react-components/src/data-providers/core-dm-provider/cadAndPointCloudAndImage360AssetQuery.ts
  react-components/tests/tests-utilities/dms/expectDmsQueryToBeValid.ts
  react-components/tests/tests-utilities/dms/expectWithExpressionClausesToHaveLimit.ts
Labels: risk-review-ongoing

#5061 fix(react-components): dms search returns incorrect results - step 3
  react-components/src/utilities/instanceIds/typeGuards.test.ts
  react-components/src/utilities/instanceIds/typeGuards.ts
  react-components/tests/tests-utilities/fixtures/assets.ts
Labels: risk-review-ongoing

#5057 fix(react-components): dms search returns incorrect results
  react-components/package.json
  react-components/src/components/RevealCanvas/ViewerContext.tsx
  react-components/src/data-providers/FdmSDK.test.ts
  react-components/src/data-providers/FdmSDK.ts
  react-components/src/data-providers/core-dm-provider/filterNodesByMappedTo3d.test.ts
  react-components/src/data-providers/core-dm-provider/filterNodesByMappedTo3d.ts
  react-components/src/data-providers/core-dm-provider/listMappedFdmNodes.test.ts
  react-components/src/data-providers/core-dm-provider/listMappedFdmNodes.ts
  react-components/src/data-providers/index.ts
  react-components/src/data-providers/types.ts
  react-components/src/query/useSearchMappedEquipmentFDM.test.tsx
  react-components/src/query/useSearchMappedEquipmentFDM.tsx
Labels: risk-review-ongoing

#5069 chore: closes dependbot cve's
  documentation/yarn.lock
  examples/yarn.lock
  react-components/yarn.lock
  viewer/yarn.lock
Labels: risk-review-ongoing
