Repository cognitedata/reveal, pull requests merged in 2025-05, with the labels that each got.

#5121 fix: lint setup
  react-components/.eslintrc.json
  react-components/package.json
  react-components/src/architecture/base/commands/BaseBannerCommand.ts
  react-components/src/architecture/base/concreteCommands/SetQualityCommand.ts
  react-components/src/architecture/base/concreteCommands/SetQualitySliderCommand/QualityWarningBannerCommand.ts
  react-components/src/architecture/base/concreteCommands/SetQualitySliderCommand/SetQualitySliderCommand.ts
  react-components/src/architecture/base/concreteCommands/SetQualitySliderCommand/fidelityLevels.test.ts
  react-components/src/architecture/base/concreteCommands/SetQualitySliderCommand/fidelityLevels.ts
  react-components/src/architecture/concrete/reveal/RevealSettingsController.ts
  react-components/src/architecture/concrete/reveal/constants.ts
  react-components/src/components/Architecture/BannerComponent.tsx
  react-components/src/components/Architecture/SettingsButton.tsx
  react-components/src/components/RevealToolbar/LayersButton/hooks/useModelHandlers.tsx
  react-components/src/components/RevealToolbar/SettingsContainer/types.ts
  react-components/src/data-providers/FdmSDK.ts
  react-components/src/data-providers/core-dm-provider/assetsInstanceFilterWithHasDataQuery.ts
  react-components/src/data-providers/core-dm-provider/cadAndPointCloudAndImage360AssetQuery.ts
  react-components/src/data-providers/core-dm-provider/filterNodesByMappedTo3d.ts
  react-components/src/data-providers/core-dm-provider/listMappedFdmNodes.ts
  react-components/src/data-providers/types.ts
  react-components/src/data-providers/utils/getCogniteAssetDirectRelationProperties.ts
  react-components/src/query/useSearchMappedEquipmentFDM.tsx
  react-components/src/utilities/instanceIds/typeGuards.ts
Labels: risk-review-ongoing, waiting-for-team

#5127 chore: fixing axios and vite cve's
  react-components/package.json
  react-components/yarn.lock
  viewer/package.json
  viewer/yarn.lock
Labels: risk-review-ongoing, waiting-for-team

#5043 fix: layers drop down mounting outside of layers button parent
  react-components/src/components/Architecture/BannerComponent.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/LayersButton.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/LayersButton.tsx
  react-components/vite.config.ts
Labels: risk-review-ongoing, waiting-for-team

#5111 test(React-components): Add test for ClipFolder, SliceDomainObject and CropBoxDomainObject and more
  react-components/src/architecture/base/domainObjects/DomainObject.test.ts
  react-components/src/architecture/base/domainObjects/DomainObject.ts
  react-components/src/architecture/base/utilities/primitives/PrimitiveType.ts
  react-components/src/architecture/concrete/clipping/ClipFolder.test.ts
  react-components/src/architecture/concrete/clipping/CropBoxDomainObject.test.ts
  react-components/src/architecture/concrete/clipping/SliceDomainObject.test.ts
  react-components/src/architecture/concrete/clipping/commands/setClippingPlanes.test.ts
  react-components/src/architecture/concrete/primitives/box/BoxDomainObject.test.ts
  react-components/src/architecture/concrete/primitives/cylinder/CylinderDomainObject.test.ts
  react-components/src/architecture/concrete/primitives/line/LineDomainObject.test.ts
  react-components/tests/tests-utilities/fixtures/createFullRenderTargetMock.ts
  react-components/tests/tests-utilities/fixtures/viewer.ts
Labels: auto-update, risk-review-ongoing, waiting-for-team

#5115 test(react-components): Unit test for all terrain code
  react-components/src/architecture/base/utilities/geometry/Shape.ts
  react-components/src/architecture/concrete/terrain/TerrainDomainObject.test.ts
  react-components/src/architecture/concrete/terrain/TerrainThreeView.test.ts
  react-components/src/architecture/concrete/terrain/TerrainThreeView.ts
  react-components/src/architecture/concrete/terrain/geometry/ContouringService.test.ts
  react-components/src/architecture/concrete/terrain/geometry/ContouringService.ts
  react-components/src/architecture/concrete/terrain/geometry/Grid2.test.ts
  react-components/src/architecture/concrete/terrain/geometry/RegularGrid2.test.ts
  react-components/src/architecture/concrete/terrain/geometry/RegularGrid2.ts
  react-components/src/architecture/concrete/terrain/geometry/createFractalRegularGrid2.ts
  react-components/tests/tests-utilities/architecture/viewUtil.ts
  react-components/tests/tests-utilities/primitives/primitiveTestUtil.ts
Labels: auto-update, risk-review-ongoing, waiting-for-team

#5112 test(react-components): Make test for PlaneDomainObject
  react-components/src/architecture/concrete/clipping/SliceDomainObject.ts
  react-components/src/architecture/concrete/primitives/box/BoxDomainObject.test.ts
  react-components/src/architecture/concrete/primitives/cylinder/CylinderDomainObject.test.ts
  react-components/src/architecture/concrete/primitives/line/LineDomainObject.test.ts
  react-components/src/architecture/concrete/primitives/plane/PlaneCreator.test.ts
  react-components/src/architecture/concrete/primitives/plane/PlaneDomainObject.test.ts
  react-components/src/architecture/concrete/primitives/plane/PlaneDomainObject.ts
  react-components/src/architecture/concrete/primitives/plane/PlaneView.test.ts
  react-components/tests/tests-utilities/architecture/viewUtil.ts
Labels: auto-update, risk-review-ongoing, waiting-for-team

#5118 fix(viewer): add the rotation with the target when the camera state has both in flexible camera manager
  viewer/package.json
  viewer/packages/camera-manager/src/Flexible/FlexibleCameraManager.test.ts
  viewer/packages/camera-manager/src/Flexible/FlexibleCameraManager.ts
Labels: risk-review-ongoing, waiting-for-team

#5116 fix(react-components): preserve the camera state in URL that includes position, the target as the pivot point and the camera rotation
  react-components/package.json
  react-components/src/components/RevealCanvas/hooks/useCameraStateControl.test.ts
  react-components/src/components/RevealCanvas/hooks/useCameraStateControl.ts
  react-components/tests/tests-utilities/fixtures/cameraManager.ts
  react-components/yarn.lock
Labels: risk-review-ongoing, waiting-for-risk-review

#5126 fix(react-component): Fix various issues with the DropdownButton not used in settings (standalone in a toolbar) [BND3D-5561]
  react-components/src/components/Architecture/DropdownButton.test.tsx
  react-components/src/components/Architecture/DropdownButton.tsx
Labels: auto-update, risk-review-ongoing, waiting-for-team

#5128 test(react-components): Add unit test for 3D Axis
  react-components/src/architecture/base/utilities/extensions/stringExtensions.test.ts
  react-components/src/architecture/base/utilities/extensions/stringExtensions.ts
  react-components/src/architecture/concrete/axis/AxisDomainObject.test.ts
  react-components/src/architecture/concrete/axis/AxisRenderStyle.test.ts
  react-components/src/architecture/concrete/axis/AxisThreeView.test.ts
  react-components/src/architecture/concrete/axis/AxisThreeView.ts
  react-components/tests/tests-utilities/architecture/viewUtil.ts
  react-components/tests/tests-utilities/fixtures/viewer.ts
Labels: auto-update, risk-review-ongoing, waiting-for-team

#5137 refactor(react-components): Cleaning up misuse of override method
  react-components/src/architecture/base/commands/BaseCommand.ts
  react-components/src/architecture/base/concreteCommands/SetQualitySliderCommand/SetQualitySliderCommand.ts
  react-components/tests/tests-utilities/architecture/commands/TestButtonCommand.ts
  react-components/tests/tests-utilities/architecture/commands/TestFilterCommand.ts
  react-components/tests/tests-utilities/architecture/commands/TestOptionsCommand.ts
  react-components/tests/tests-utilities/architecture/commands/TestSectionCommand.ts
Labels: auto-update, waiting-for-team

#5136 test(react-components): Unit test for FitViewCommand
  react-components/src/architecture/base/concreteCommands/FitViewCommand.test.ts
  react-components/tests/tests-utilities/fixtures/viewer.ts
Labels: auto-update, risk-review-ongoing, waiting-for-team

#5132 test(react-components): Unit test for CommandButton and BaseCommand
  react-components/src/architecture/base/commands/BaseCommand.test.ts
  react-components/src/components/Architecture/CommandButton.test.tsx
  react-components/tests/tests-utilities/architecture/mock-commands/MockCommand.ts
Labels: auto-update, risk-review-ongoing, waiting-for-team

#5130 test(react-components): Unit test on translateUtil and TranslateInput
  react-components/src/architecture/base/commands/BaseCommand.test.ts
  react-components/src/architecture/base/domainObjects/DomainObject.ts
  react-components/src/architecture/base/utilities/TranslateInput.test.ts
  react-components/src/architecture/base/utilities/TranslateInput.ts
  react-components/src/architecture/base/utilities/translateUtils.test.ts
  react-components/src/architecture/base/utilities/translateUtils.ts
  react-components/src/components/Architecture/BannerComponent.test.tsx
  react-components/src/components/Architecture/CommandButton.test.tsx
  react-components/src/components/Architecture/DropdownButton.test.tsx
  react-components/src/components/Architecture/FilterButton.test.tsx
  react-components/src/components/Architecture/SettingsButton.test.tsx
  react-components/src/components/i18n/I18n.tsx
  react-components/src/components/i18n/Translator.tsx
  react-components/src/components/i18n/types.ts
  react-components/tests/tests-utilities/architecture/getTranslationKeyOrString.ts
Labels: auto-update, risk-review-ongoing, waiting-for-team

#5129 test(react-components): Unit test for some commands
  react-components/src/architecture/base/commands/BaseSettingsCommand.ts
  react-components/src/architecture/base/concreteCommands/CopyToClipboardCommand.test.ts
  react-components/src/architecture/base/concreteCommands/DeleteDomainObjectCommand.test.ts
  react-components/src/architecture/base/concreteCommands/SettingsCommand.test.ts
  react-components/src/architecture/base/concreteCommands/SettingsCommand.ts
  react-components/src/architecture/base/concreteCommands/ToggleMetricUnitsCommand.test.ts
  react-components/src/architecture/base/concreteCommands/ToggleMetricUnitsCommand.ts
  react-components/src/architecture/base/concreteCommands/UndoCommand.test.ts
  react-components/src/architecture/base/domainObjects/DomainObject.test.ts
  react-components/src/architecture/base/domainObjects/VisualDomainObject.test.ts
  react-components/src/architecture/base/renderTarget/RevealRenderTarget.ts
  react-components/src/architecture/base/utilities/extensions/generatorUtils.test.ts
  react-components/src/architecture/base/utilities/extensions/generatorUtils.ts
  react-components/tests/tests-utilities/architecture/EventChangeTester.ts
Labels: auto-update, risk-review-ongoing, waiting-for-team

#4956 chore: fix model IDs in RevealKeepAlive story
  react-components/stories/RevealKeepAlive.stories.tsx
Labels: risk-review-ongoing, waiting-for-team

#5144 chore(react-component): Make sure the app language is set in the new translation system
  react-components/src/architecture/base/utilities/translateUtils.ts
  react-components/src/components/i18n/I18n.test.tsx
  react-components/src/components/i18n/I18n.tsx
Labels: risk-review-ongoing, waiting-for-team

#5145 chore(react-components): bump version to 0.77.4
  react-components/package.json
Labels: waiting-for-risk-review

#5146 chore: bump Reveal to 4.25.2
  viewer/package.json
Labels: waiting-for-risk-review

#5134 test(React-components): Unit test for command controller
  react-components/src/architecture/base/renderTarget/CommandsController.test.ts
  react-components/src/architecture/base/renderTarget/CommandsController.ts
Labels: auto-update, risk-review-ongoing, waiting-for-team

#5135 test(react-components): Unit test for KeyboardSpeedCommand, SetOrbitOrFirstPersonModeCommand and SetFlexibleControlsTypeCommand
  react-components/package.json
  react-components/src/architecture/base/commands/BaseCommand.test.ts
  react-components/src/architecture/base/commands/BaseCommand.ts
  react-components/src/architecture/base/commands/BaseOptionCommand.ts
  react-components/src/architecture/base/concreteCommands/KeyboardSpeedCommand.test.ts
  react-components/src/architecture/base/concreteCommands/KeyboardSpeedCommand.ts
  react-components/src/architecture/base/concreteCommands/SetFlexibleControlsTypeCommand.test.ts
  react-components/src/architecture/base/concreteCommands/SetFlexibleControlsTypeCommand.ts
  react-components/src/architecture/base/concreteCommands/SetOrbitOrFirstPersonModeCommand.test.ts
  react-components/src/architecture/base/concreteCommands/SetOrbitOrFirstPersonModeCommand.ts
  react-components/src/architecture/base/concreteCommands/SetQualitySliderCommand/QualityWarningBannerCommand.ts
  react-components/src/architecture/base/renderTarget/RevealRenderTarget.ts
  react-components/src/architecture/base/utilities/TranslateInput.ts
  react-components/src/architecture/concrete/reveal/RevealSettingsController.ts
Labels: auto-update, risk-review-ongoing, waiting-for-team
