Repository cognitedata/reveal, pull requests merged in 2025-06, with the labels that each got.

#5151 fix(react-components): set the initial state of the lastSetExternalState as undefined to force the camera being updated even when comparing with the incoming externalState at the beginning
  react-components/src/components/RevealCanvas/hooks/useCameraStateControl.test.ts
  react-components/src/components/RevealCanvas/hooks/useCameraStateControl.ts
Labels: risk-review-ongoing, waiting-for-team

#5157 chore(react-components): bump to 0.78.0
  react-components/package.json
Labels: auto-update

#5148 refactor(react-components) : Remove translation delegate in getLabel and use the function translate instead
  react-components/src/architecture/base/commands/BaseCommand.test.ts
  react-components/src/architecture/base/commands/BaseCommand.ts
  react-components/src/architecture/base/commands/BaseFilterCommand.ts
  react-components/src/architecture/base/domainObjects/DomainObject.ts
  react-components/src/architecture/base/domainObjectsHelpers/PanelInfo.ts
  react-components/src/components/Architecture/BannerComponent.test.tsx
  react-components/src/components/Architecture/BannerComponent.tsx
  react-components/src/components/Architecture/CommandButton.test.tsx
  react-components/src/components/Architecture/CommandButton.tsx
  react-components/src/components/Architecture/DomainObjectPanel.test.tsx
  react-components/src/components/Architecture/DomainObjectPanel.tsx
  react-components/src/components/Architecture/DropdownButton.test.tsx
  react-components/src/components/Architecture/DropdownButton.tsx
  react-components/src/components/Architecture/FilterButton.test.tsx
  react-components/src/components/Architecture/FilterButton.tsx
  react-components/src/components/Architecture/FilterItem.tsx
  react-components/src/components/Architecture/SegmentedButtons.tsx
  react-components/src/components/Architecture/SettingsButton.test.tsx
  react-components/src/components/Architecture/SettingsButton.tsx
Labels: risk-review-ongoing, waiting-for-team

#5177 revert(react-components): "bumped cogs version to 10.47.0 (#5173)" and bump to 0.79.3
  react-components/package.json
  react-components/yarn.lock
Labels: risk-review-ongoing, waiting-for-team

#5185 fix(react-components): ensure computed model keys are unique across DM-models and bump version to 0.79.4
  react-components/package.json
  react-components/src/query/usePointCloudModelRevisionIdsFromReveal.context.ts
  react-components/src/query/usePointCloudModelRevisionIdsFromReveal.test.tsx
  react-components/src/query/usePointCloudModelRevisionIdsFromReveal.ts
  react-components/tests/tests-utilities/fixtures/pointCloud.ts
Labels: auto-update

#5155 refactor(react-component): Update most vitest describe by using name
  react-components/src/architecture/base/domainObjects/FolderDomainObject.test.ts
  react-components/src/architecture/base/domainObjects/RootDomainObject.test.ts
  react-components/src/architecture/base/domainObjects/VisualDomainObject.test.ts
  react-components/src/architecture/base/domainObjectsHelpers/ChangedDescription.test.ts
  react-components/src/architecture/base/domainObjectsHelpers/DomainObjectChange.test.ts
  react-components/src/architecture/base/undo/UndoManager.test.ts
  react-components/src/architecture/base/utilities/TranslateInput.test.ts
  react-components/src/architecture/base/utilities/colors/getNextColor.test.ts
  react-components/src/architecture/base/utilities/extensions/arrayExtensions.test.ts
  react-components/src/architecture/base/utilities/extensions/generatorUtils.test.ts
  react-components/src/architecture/base/utilities/extensions/mathExtensions.test.ts
  react-components/src/architecture/base/utilities/extensions/rayExtensions.test.ts
  react-components/src/architecture/base/utilities/extensions/stringExtensions.test.ts
  react-components/src/architecture/base/utilities/geometry/Range1.test.ts
  react-components/src/architecture/base/utilities/geometry/Range3.test.ts
  react-components/src/architecture/base/utilities/geometry/getResizeCursor.test.ts
  react-components/src/architecture/base/utilities/primitives/Box.test.ts
  react-components/src/architecture/base/utilities/primitives/Cylinder.test.ts
  react-components/src/architecture/concrete/primitives/box/BoxCreator.test.ts
  react-components/src/architecture/concrete/primitives/box/BoxDomainObject.test.ts
  react-components/src/architecture/concrete/primitives/box/BoxView.test.ts
  react-components/src/architecture/concrete/primitives/cylinder/CylinderCreator.test.ts
  react-components/src/architecture/concrete/primitives/cylinder/CylinderDomainObject.test.ts
  react-components/src/architecture/concrete/primitives/cylinder/CylinderView.test.ts
  react-components/src/architecture/concrete/primitives/line/LineCreator.test.ts
  react-components/src/architecture/concrete/primitives/line/LineDomainObject.test.ts
  react-components/src/architecture/concrete/primitives/line/LineView.test.ts
  react-components/src/architecture/concrete/reveal/RevealModelsUtils.test.ts
  react-components/src/components/CacheProvider/AnnotationModelUtils.test.ts
  react-components/src/hooks/use3dModels.test.ts
  react-components/src/hooks/useCameraNavigation.test.ts
  react-components/src/query/useAssetsAndTimeseriesLinkages.test.tsx
  react-components/src/query/useFetchTimeseriesFromRelationshipByAsset.test.tsx
Labels: risk-review-ongoing, waiting-for-team

#5143 test(react-components): Unit test for BaseFilterCommand
  react-components/src/architecture/base/commands/BaseFilterCommand.test.ts
  react-components/src/architecture/base/commands/BaseFilterCommand.ts
  react-components/tests/tests-utilities/architecture/mock-commands/MockFilterCommand.ts
Labels: risk-review-ongoing

#5190 fix: remove usage of uuid package in favor of web api
  react-components/src/architecture/concrete/pointsOfInterest/ads/PointsOfInterestAdsProvider.ts
  react-components/src/architecture/concrete/pointsOfInterest/fdm/PointsOfInterestFdmProvider.ts
Labels: auto-update

#5189 fix(react-component): cad mapping stopped by DM pointcloud
  react-components/src/data-providers/core-dm-provider/CoreDm3dDataProvider.test.ts
  react-components/src/data-providers/core-dm-provider/CoreDm3dDataProvider.ts
  react-components/tests/tests-utilities/dms/createDmsNodeItem.ts
Labels: risk-review-ongoing, waiting-for-risk-review

#5169 test(react-components): Unit test for some cropping commands
  react-components/src/architecture/base/domainObjectsHelpers/PopupStyle.test.ts
  react-components/src/architecture/base/utilities/primitives/PrimitiveType.ts
  react-components/src/architecture/concrete/clipping/commands/FlipSliceCommand.test.ts
  react-components/src/architecture/concrete/clipping/commands/SetClipTypeCommand.test.ts
  react-components/src/architecture/concrete/clipping/commands/SetClipTypeCommand.ts
  react-components/src/architecture/concrete/clipping/commands/ShowAllClippingCommand.test.ts
Labels: risk-review-ongoing

#5192 fix(react-components): 3d models getting duplicated through Reveal3DResources
  react-components/src/hooks/useModelIdRevisionIdFromModelOptions.context.ts
  react-components/src/hooks/useModelIdRevisionIdFromModelOptions.test.tsx
  react-components/src/hooks/useModelIdRevisionIdFromModelOptions.ts
  react-components/src/hooks/useQueriedAddModelOptions.ts
Labels: waiting-for-risk-review

#5200 feat: add gemini config for pr review
  .gemini/config.yaml
Labels: waiting-for-risk-review

#5178 test(react-components): Unit test for CadDomainObject and PointCloudDomainObject
  react-components/src/architecture/concrete/reveal/cad/CadDomainObject.test.ts
  react-components/src/architecture/concrete/reveal/pointCloud/PointCloudDomainObject.test.ts
Labels: waiting-for-team

#5160 test(react-components): Unit test for PlaneDragger and ExampleDragger
  react-components/src/architecture/base/domainObjects/VisualDomainObject.ts
  react-components/src/architecture/base/domainObjectsHelpers/BaseDragger.ts
  react-components/src/architecture/concrete/annotation360/Image360AnnotationCreator.test.ts
  react-components/src/architecture/concrete/example/ExampleDragger.test.ts
  react-components/src/architecture/concrete/example/ExampleDragger.ts
  react-components/src/architecture/concrete/primitives/common/PrimitivePickInfo.ts
  react-components/src/architecture/concrete/primitives/cylinder/CylinderView.ts
  react-components/src/architecture/concrete/primitives/plane/PlaneDragger.test.ts
  react-components/src/architecture/concrete/primitives/plane/PlaneDragger.ts
  react-components/tests/tests-utilities/architecture/baseDraggerUtil.ts
Labels: waiting-for-team

#5163 test(react-components): Unit test for BoxFace
  react-components/src/architecture/concrete/primitives/common/BoxFace.test.ts
  react-components/src/architecture/concrete/primitives/common/BoxFace.ts
Labels: auto-update, risk-review-ongoing, risk-review-mentor, waiting-for-team

#5142 refactor(react-components): Make generic hook for handling a property on any command
  react-components/src/architecture/base/commands/BaseFilterCommand.ts
  react-components/src/architecture/base/concreteCommands/cad/SetGhostModeCommand.ts
  react-components/src/components/Architecture/BannerComponent.tsx
  react-components/src/components/Architecture/CommandButton.test.tsx
  react-components/src/components/Architecture/CommandButton.tsx
  react-components/src/components/Architecture/CommandButtons.tsx
  react-components/src/components/Architecture/CustomInputField.tsx
  react-components/src/components/Architecture/DropdownButton.test.tsx
  react-components/src/components/Architecture/DropdownButton.tsx
  react-components/src/components/Architecture/FilterButton.tsx
  react-components/src/components/Architecture/FilterItem.tsx
  react-components/src/components/Architecture/InputField.test.tsx
  react-components/src/components/Architecture/InputField.tsx
  react-components/src/components/Architecture/SegmentedButtons.test.tsx
  react-components/src/components/Architecture/SegmentedButtons.tsx
  react-components/src/components/Architecture/SettingsButton.tsx
  react-components/src/components/Architecture/hooks/useCommand.tsx
  react-components/src/components/Architecture/hooks/useCommandProperty.tsx
  react-components/src/components/Architecture/hooks/useCommandProps.tsx
  react-components/src/components/Architecture/hooks/useOnUpdate.tsx
  react-components/src/components/Architecture/pointsOfInterest/PoiSharePanel.tsx
  react-components/src/components/Architecture/pointsOfInterest/PointsOfInterestSidePanel.tsx
  react-components/src/components/Architecture/pointsOfInterest/usePoiDomainObject.ts
  react-components/src/components/Architecture/pointsOfInterest/usePointsOfInterest.ts
  react-components/src/components/Architecture/pointsOfInterest/useSelectedPoi.ts
  react-components/src/components/Architecture/pointsOfInterest/useSyncSelectedPoi.ts
  react-components/src/hooks/useGhostMode.test.tsx
  react-components/src/hooks/useGhostMode.tsx
Labels: risk-review-ongoing, waiting-for-team
