Repository cognitedata/reveal, pull requests merged in 2025-07, with the labels that each got.

#5204 chore: automatically reset mocks between tests
  react-components/src/architecture/concrete/pointsOfInterest/CreatePoiCommentCommand.test.ts
  react-components/src/architecture/concrete/reveal/RevealModelsUtils.test.ts
  react-components/src/components/CacheProvider/AnnotationModelUtils.test.ts
  react-components/src/components/Reveal3DResources/Reveal3DResources.test.tsx
  react-components/src/components/Reveal3DResources/hooks/useRemoveNonReferencedModels.test.tsx
  react-components/src/components/RevealCanvas/hooks/useCameraStateControl.test.ts
  react-components/src/components/RevealToolbar/LayersButton/LayersButton.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/components/LayersButtonsStrip.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/components/ModelLayersButton.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/components/WholeLayerVisibilitySelectItem.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/hooks/useModelHandlers.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/hooks/useSyncExternalLayersState.test.tsx
  react-components/src/components/RevealToolbar/LayersButton/updateViewerFromExternalState.test.ts
  react-components/src/data-providers/FdmSDK.test.ts
  react-components/src/data-providers/core-dm-provider/CoreDm3dDataProvider.test.ts
  react-components/src/hooks/use3dModels.test.ts
  react-components/src/hooks/useCameraNavigation.test.ts
  react-components/src/hooks/useModelIdRevisionIdFromModelOptions.test.tsx
  react-components/src/query/network/searchClassicAssetsForModels.test.ts
  react-components/src/query/useAssetsAndTimeseriesLinkages.test.tsx
  react-components/src/query/useFetchTimeseriesFromRelationshipByAsset.test.tsx
  react-components/src/query/useFilterOnClassicAssetsInScene.test.tsx
  react-components/src/query/usePointCloudModelRevisionIdsFromReveal.test.tsx
  react-components/src/query/useSearchMappedEquipmentFDM.test.tsx
  react-components/vite.config.ts
Labels: waiting-for-risk-review

#5162 test(react-components): Unit test from BoxDragger and CylinderDragger
  react-components/src/architecture/base/domainObjectsHelpers/BaseDragger.ts
  react-components/src/architecture/concrete/primitives/box/BoxDragger.test.ts
  react-components/src/architecture/concrete/primitives/box/BoxDragger.ts
  react-components/src/architecture/concrete/primitives/common/BoxFace.ts
  react-components/src/architecture/concrete/primitives/cylinder/CylinderDragger.test.ts
  react-components/src/architecture/concrete/primitives/cylinder/CylinderDragger.ts
Labels: risk-review-ongoing, risk-review-mentor, waiting-for-team

#5206 fix(react-components): call domain object notify after delete
  react-components/src/architecture/base/domainObjects/DomainObject.test.ts
  react-components/src/architecture/base/domainObjects/DomainObject.ts
  react-components/src/architecture/base/domainObjectsHelpers/Changes.ts
  react-components/src/architecture/base/domainObjectsHelpers/Views.ts
  react-components/src/architecture/base/reactUpdaters/DomainObjectPanelUpdater.ts
  react-components/src/architecture/concrete/clipping/CropBoxDomainObject.ts
  react-components/src/architecture/concrete/clipping/SliceDomainObject.ts
Labels: risk-review-ongoing, waiting-for-team

#5199 refactor(react-components): useModelIdRevisionIdFromModelOptions hook to return useQuery
  react-components/src/components/PointCloudContainer/PointCloudContainer.tsx
  react-components/src/components/Reveal3DResources/hooks/useCalculatePointCloudStyling.tsx
  react-components/src/components/Reveal3DResources/hooks/useClassicModelOptions.ts
  react-components/src/components/Reveal3DResources/hooks/useTypedModels.ts
  react-components/src/hooks/pointClouds/usePointCloudAnnotationMappingsForAssetIds.ts
  react-components/src/hooks/pointClouds/usePointCloudAnnotationMappingsForModels.ts
  react-components/src/hooks/useModelIdRevisionIdFromModelOptions.context.ts
  react-components/src/hooks/useModelIdRevisionIdFromModelOptions.test.tsx
  react-components/src/hooks/useModelIdRevisionIdFromModelOptions.ts
  react-components/src/hooks/useQueriedAddModelOptions.ts
  react-components/src/query/core-dm/usePointCloudVolumeMappingForAssetInstances.ts
Labels: auto-update

#5240 feat(react-components): add hybrid cad support in useModelsForInstanceQuery
  react-components/src/hooks/network/getCadModelsForAsset.ts
  react-components/src/hooks/network/getCadModelsForHybridDmInstance.test.ts
  react-components/src/hooks/network/getCadModelsForHybridDmInstance.ts
  react-components/src/hooks/network/getImage360CollectionsForAsset.ts
  react-components/src/hooks/network/getPointCloudModelsForAsset.ts
  react-components/src/hooks/network/types.ts
  react-components/src/query/useModelsForInstanceQuery.context.ts
  react-components/src/query/useModelsForInstanceQuery.test.tsx
  react-components/src/query/useModelsForInstanceQuery.ts
  react-components/src/utilities/queryKeys.ts
Labels: risk-review-ongoing, waiting-for-team
