Repository cognitedata/reveal, changes with the owners that CODEOWNERS names for each.
All owners: @cognitedata/fusion-maintainers, @cognitedata/development-experiences, @cognitedata/explorers, @cognitedata/unified-file-viewer, @deep-cognite, @CimStordal

CODEOWNERS:

## NOTE: Separate the apps/libs folder for respective teams in groups and the paths in ascending order!

# NB: Avoid using 'markdown' as file format for this file --> use plain text or download 'CODEOWNERS' ext. on marketplace

# General
/.devcontainer/                   @cognitedata/fusion-maintainers
/.github/                         @cognitedata/fusion-maintainers
/.storybook/                      @cognitedata/fusion-maintainers
/.vscode/                         @cognitedata/fusion-maintainers
/bin/                             @cognitedata/fusion-maintainers
/scripts/                         @cognitedata/fusion-maintainers
/tools/                           @cognitedata/fusion-maintainers
/*                                @cognitedata/fusion-maintainers

# Team platypus
apps/mock-server                  @cognitedata/development-experiences
apps/platypus                     @cognitedata/development-experiences
apps/platypus-cdf-cli             @cognitedata/development-experiences
apps/platypus-e2e                 @cognitedata/development-experiences

libs/cog-data-grid                @cognitedata/development-experiences
libs/mock-data                    @cognitedata/development-experiences
libs/platypus-common-utils        @cognitedata/development-experiences
libs/platypus-core                @cognitedata/development-experiences

# Team data-explorer
apps/data-exploration             @cognitedata/explorers

libs/data-exploration/            @cognitedata/explorers
libs/data-exploration-components  @cognitedata/explorers
libs/shared/plotting-components   @cognitedata/explorers

# Team UFV
libs/industry-canvas              @cognitedata/unified-file-viewer

# Coding conventions
apps/coding-conventions           @deep-cognite @CimStordal

Removed " !== undefined"
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
Owners: none

use separate branch for production (#629)
  apps/3d-management/Jenkinsfile
Owners: none

use correct name for translations
  src/components/pipeline-actions-menu/PipelineActionsMenu.tsx
Owners: none

use correct import
  src/components/pipeline-list/PipelineTable.tsx
Owners: none

... in all files
  src/components/em-filter/EntityMatchingFilter.tsx
Owners: none

bump google storage
  package.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

chore: upgrade react to 18
  package.json
  src/hooks/csv-upload.ts
  yarn.lock
Owners: @cognitedata/fusion-maintainers

Rename
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

Rename
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

feat(platypus): remove `--allow-breaking-change` from cdf dm publish command (#1331)
  apps/platypus-cdf-cli/package.json
  apps/platypus-cdf-cli/src/app/cmds/data-models/publish.ts
Owners: @cognitedata/development-experiences

Fix test
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
Owners: none

feat(platypus): show error if dml already exist [UX-43] (#1329)
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
Owners: none

remove duplicate code
  src/common/i18n/translations/en/entity-matching.json
Owners: none

Exposed radius and limit for debugging
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Owners: none

Renamed IconCullingStrategy
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

Update reveal.api.md
  viewer/reveal.api.md
Owners: none

Removed lastClicked360ImageEntity
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

fix: general cylinder arc angle is too big sometimes (#3026)
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.frag
  viewer/packages/rendering/src/glsl/sector/primitives/generalring.frag
Owners: none

feat(monitoring): add capability check [DEGR-1308] (#1477)
  package.json
  src/hooks/__tests__/thresholds-calculations.spec.ts
  src/hooks/__tests__/translations.spec.ts
  src/hooks/__tests__/useCapabilities.spec.ts
  src/hooks/useCapabilities.ts
  src/pages/ChartViewPage/ChartViewPage.tsx
  src/services/__fixtures/capabilities.ts
  src/services/__mocks/getMockCapabilities.ts
  src/tests/testConstants.ts
  src/tests/testUtils.tsx
  yarn.lock
Owners: @cognitedata/fusion-maintainers

fix: 360 Image abort does not consider if the image is visible or not before aborting (#2999)
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

Fix merge
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

feat(platypus): v3 and v2 all changes saved label shows when switching between versions [UX-205] (#1322)
  apps/platypus-e2e/src/integration/data-model/local-drafts.cy.ts
  apps/platypus-e2e/src/integration/data-model/publishing.cy.ts
  apps/platypus-e2e/src/integration/data-model/ui-editor.cy.ts
  apps/platypus-e2e/src/integration/data-preview/manual-data-ingestion.cy.ts
  apps/platypus-e2e/src/support/data-model-page.ts
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/components/VersionSelectorToolbar/VersionSelectorToolbar.tsx
  apps/platypus/src/app/modules/solution/data-management/DataManagementPage.tsx
  apps/platypus/src/app/modules/solution/data-model/components/DataModelHeader/DataModelHeader.tsx
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
  apps/platypus/src/app/modules/solution/query-explorer/pages/QueryExplorerPage.tsx
  apps/platypus/src/app/redux/middlewares/dataModelMiddleware.ts
Owners: @cognitedata/development-experiences

added check if no point cloud material to be removed
  viewer/packages/rendering/src/PointCloudMaterialManager.ts
Owners: none

fix: wrong separator when parsing 360 image events
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Owners: none

feat(monitoring): upper & lower threshold support [DEGR-1691] (#1478)
  src/components/MonitoringSidebar/CreateMonitoringJob.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobStep1.tsx
  src/components/MonitoringSidebar/types.ts
Owners: none

fix: wrong separator when parsing 360 image events (#3033)
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Owners: none

fix: add proper separator
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Owners: none

chore: bump reveal package version
  examples/yarn.lock
  viewer/package.json
Owners: none

chore: potential cve fix
  yarn.lock
Owners: @cognitedata/fusion-maintainers

feat(plotting-components): button zooming capay for line chart [DEGR-1677] (#1337)
  libs/shared/plotting-components/src/LineChart/LineChart.stories.tsx
  libs/shared/plotting-components/src/LineChart/LineChart.tsx
  libs/shared/plotting-components/src/LineChart/components/Header/Header.tsx
  libs/shared/plotting-components/src/LineChart/components/Header/elements.ts
  libs/shared/plotting-components/src/LineChart/components/HoverMarker/HoverMarker.tsx
  libs/shared/plotting-components/src/LineChart/components/Legend/elements.ts
  libs/shared/plotting-components/src/LineChart/components/Plot/Plot.tsx
  libs/shared/plotting-components/src/LineChart/components/Toolbar/Actions.tsx
  libs/shared/plotting-components/src/LineChart/components/Toolbar/Filters.tsx
  libs/shared/plotting-components/src/LineChart/components/Toolbar/Toolbar.tsx
  libs/shared/plotting-components/src/LineChart/components/Toolbar/elements.ts
  libs/shared/plotting-components/src/LineChart/components/Toolbar/index.ts
  libs/shared/plotting-components/src/LineChart/components/Tooltip/Tooltip.tsx
  libs/shared/plotting-components/src/LineChart/components/ZoomActions/ZoomActions.tsx
  libs/shared/plotting-components/src/LineChart/components/ZoomActions/elements.ts
  libs/shared/plotting-components/src/LineChart/components/ZoomActions/index.ts
  libs/shared/plotting-components/src/LineChart/constants.ts
  libs/shared/plotting-components/src/LineChart/elements.ts
  libs/shared/plotting-components/src/LineChart/hooks/useHandlePlotRange.ts
  libs/shared/plotting-components/src/LineChart/types.ts
  libs/shared/plotting-components/src/LineChart/utils/getMarginValue.ts
  libs/shared/plotting-components/src/LineChart/utils/getPlotZoomRange.ts
  libs/shared/plotting-components/src/LineChart/utils/getPlotZoomStep.ts
  libs/shared/plotting-components/src/LineChart/utils/getStyleProperties.ts
Owners: @cognitedata/explorers

bump reveal version to 4.1.2 which fix a 360 image issue (#1340)
  package.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

Clean up and adding () => Promise again
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

added check if no point cloud material to be removed (#3032)
  viewer/packages/rendering/src/PointCloudMaterialManager.ts
Owners: none

Do not await preload on hover
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

fix(data-explorer): Fixing the height issue in the all tab components (#1333)
  apps/data-exploration/src/app/containers/All/AllTab.tsx
  libs/data-exploration-components/src/components/Table/elements.ts
  libs/data-exploration-components/src/containers/Assets/AssetSummary/AssetSummary.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentSummary/DocumentSummary.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentNamePreview.tsx
  libs/data-exploration-components/src/containers/SearchResults/DocumentSearchResults/DocumentSearchResults.tsx
Owners: @cognitedata/explorers

fix(capabilities) : Check for undefined (#1480)
  src/hooks/useCapabilities.ts
Owners: none

[DEGR-1691]: threshold sensitive indicator (#1479)
  src/components/AlertingSidebar/MonitoringJobWithAlerts.tsx
  src/components/MonitoringSidebar/ListMonitoringJobPreview.tsx
Owners: none

DOG-1127 Add search (#38)
  src/components/field-mapping/index.tsx
  src/components/resource-count/index.tsx
  src/components/resource-selector-table/EventTable.tsx
  src/components/resource-selector-table/TimeseriesTable.tsx
  src/components/resource-selector-table/index.tsx
  src/components/resource-type-i18n/index.tsx
  src/components/view-model/index.tsx
  src/context/QuickMatchContext.tsx
  src/hooks/aggregates.ts
  src/hooks/api.ts
  src/hooks/events.ts
  src/hooks/infiniteList.ts
  src/hooks/list.ts
  src/hooks/timeseries/index.ts
  src/hooks/timeseries/search.ts
  src/types/api.ts
  src/utils/shared.ts
Owners: none

add notification config
  src/styles/GlobalStyles.tsx
Owners: none

fixes for critical issues
  src/modules/Common/Components/MapFileTable/MapFileTable.tsx
  src/modules/FileDetails/Containers/FileDetails.tsx
Owners: none
