Repository cognitedata/reveal, changes with the owners that CODEOWNERS names for each.
All owners: @cognitedata/fusion-maintainers, @cognitedata/development-experiences, @cognitedata/explorers, @cognitedata/unified-file-viewer, @deep-cognite, @CimStordal

chore: add version data to Download.Extractor.Click event
  src/components/ExtractorDetails/ExtractorDetails.tsx
  src/utils/metrics.ts
Owners: none

chore: send search query event to mixpanel with debounce
  src/Home/Extractors/Extractors.tsx
  src/utils/metrics.ts
Owners: none

feat(platypus): [UX-220][UX-124] add validation for container directive (#1281)
  .github/workflows/platypus-e2e-tests.yml
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/GraphqlCodeEditor.tsx
  apps/platypus/src/app/modules/solution/data-model/web-workers/FdmGraphQLDmlWorker.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.spec.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/language-service/CodeCompletionService.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/graphqlSetup.ts
  apps/platypus/src/app/modules/solution/data-model/web-workers/monaco-editor/language-features/CodeCompletionProvider.ts
  libs/data-modeling/platypus-common-utils/src/index.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/graphql-utils-service.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/validation/ContainerDirectiveValidator.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/constants.ts
  package.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers, @cognitedata/development-experiences

fix(data-explorer): Adding the sorting in dataset for few resources (#1321)
  libs/data-exploration-components/src/components/Table/columns.tsx
  libs/data-exploration-components/src/components/Table/constants.ts
  libs/data-exploration-components/src/containers/Assets/AssetSummary/AssetSummary.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTable/AssetTable.tsx
  libs/data-exploration-components/src/containers/Assets/AssetTreeTable/AssetTreeTable.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentSummary/DocumentSummary.tsx
  libs/data-exploration-components/src/containers/Documents/DocumentsTable/DocumentsTable.tsx
  libs/data-exploration-components/src/containers/Events/EventSummary/EventSummary.tsx
  libs/data-exploration-components/src/containers/Events/EventTable/EventTable.tsx
  libs/data-exploration-components/src/containers/Files/FileSummary/FileSummary.tsx
  libs/data-exploration-components/src/containers/Files/FileTable/FileTable.tsx
  libs/data-exploration-components/src/containers/Sequences/SequenceSummary/SequenceSummary.tsx
  libs/data-exploration-components/src/containers/Sequences/SequenceTable/SequenceTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesTable/TimeseriesTable.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimseriesSummary/TimeseriesSummary.tsx
  libs/data-exploration/domain-layer/src/documents/internal/transformers/mapTableSortByToDocumentSortFields.ts
Owners: @cognitedata/explorers

fixed preview data page
  src/components/Data/EmptyDataState.tsx
Owners: none

fix(discover): app crash when validating array (#3789)
  apps/discover/src/pages/authorized/search/well/inspect/modules/stickChart/utils/hasAtLeasOneValidValue.ts
Owners: none

Remove currently running label (#98)
  src/pages/Home/components/container/ActiveModelContainer.spec.tsx
  src/pages/Home/components/container/ActiveModelContainer.tsx
Owners: none

fix(data-explorer): remove double matching labels in tree view (#1327)
  libs/data-exploration-components/src/containers/Assets/AssetTreeTable/AssetTreeTable.tsx
Owners: @cognitedata/explorers

feat(monitoring) : UI Updates , change checkbox to radio button (#1456)
  src/components/MonitoringSidebar/CreateMonitoringJob.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobStep2.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobStep3.tsx
  src/components/MonitoringSidebar/FormInputWithController.tsx
  src/components/MonitoringSidebar/elements.ts
Owners: none

Run `yarn upgrade` (#97)
  public/mockServiceWorker.js
  yarn.lock
Owners: @cognitedata/fusion-maintainers

fix(data-explorer): add query-string for search param parsing (#1324)
  apps/data-exploration/src/app/utils/URLUtils.ts
  apps/data-exploration/src/app/utils/__tests__/URLUtils.spec.ts
Owners: @cognitedata/explorers

add firebase json
  firebase.json
Owners: @cognitedata/fusion-maintainers

Add a resolution override for react-dev-utils (#99)
  package.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

nit: renames and clarification based on QA
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/src/icons/IconOctree.test.ts
  viewer/packages/360-images/src/icons/IconOctree.ts
Owners: none

feat: cluster icons using a median icon strategy (#2997)
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/src/icons/IconOctree.test.ts
  viewer/packages/360-images/src/icons/IconOctree.ts
  viewer/packages/360-images/src/icons/InstancedIconSprite.ts
Owners: none

Update node-fetch (#102)
  package.json
  public/mockServiceWorker.js
  yarn.lock
Owners: @cognitedata/fusion-maintainers

fix(data-explorer): 360 images are not displayed in 3D tab in some cases (#1316)
  apps/data-exploration/src/app/containers/ThreeD/hooks.ts
Owners: @cognitedata/explorers

Update `trim` and `trim-newlines` (#104)
  package.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

Move some packages to dev dependencies (#105)
  package.json
  renovate.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

simplify test step
  Jenkinsfile
Owners: @cognitedata/fusion-maintainers

copy firebase.json
  config-overrides.js
Owners: @cognitedata/fusion-maintainers

add missing package
  package.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

feat(data-explorer): Improve find-in-page (#1231)
  libs/data-exploration-components/src/containers/Files/FilePreview/ActionTools.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreview.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/SearchBar.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/hooks/useCurrentSearchResult.ts
  libs/data-exploration-components/src/containers/Files/FilePreview/hooks/usePrevious.ts
  libs/data-exploration-components/src/containers/Files/FilePreview/hooks/useSearchBarState.ts
  libs/data-exploration-components/src/containers/Files/FilePreview/utils.ts
  libs/data-exploration/domain-layer/src/pnids/internal/hooks/index.ts
  libs/data-exploration/domain-layer/src/pnids/internal/hooks/useSearchInContainer.ts
  libs/data-exploration/domain-layer/src/pnids/internal/hooks/useSearchResults.ts
  package.json
  yarn.lock
Owners: @cognitedata/explorers, @cognitedata/fusion-maintainers

fix: bump transitive loader-utils v2 to fix critical prototype pollution issue
  viewer/yarn.lock
Owners: none

fix: bump transitive loader-utils v2 to fix critical prototype pollution issue (#3001)
  viewer/yarn.lock
Owners: none

IconVisualizationMode
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

fix: bump json5 and remove unused dependency
  viewer/package.json
  viewer/yarn.lock
Owners: none

fix: bump json5 and remove unused dependency (#3002)
  viewer/package.json
  viewer/yarn.lock
Owners: none

fix: bump loader-utils in documentation
  documentation/yarn.lock
Owners: none

chore: bump ansi-regex version to mitigate 3 high severity vulnerabilities (#982)
  yarn.lock
Owners: @cognitedata/fusion-maintainers

feat: add type and subtype columns to event table
  src/common/i18n/translations/en/entity-matching.json
  src/components/resource-selector-table/EventTable.tsx
Owners: none

feat(plotting-components): implement zooming capability for line chart component [DEGR-1677] (#1310)
  libs/shared/plotting-components/src/LineChart/LineChart.tsx
  libs/shared/plotting-components/src/LineChart/components/Plot/Plot.tsx
  libs/shared/plotting-components/src/LineChart/components/Plot/elements.ts
  libs/shared/plotting-components/src/LineChart/constants.ts
  libs/shared/plotting-components/src/LineChart/hooks/useAxisRangeMode.ts
  libs/shared/plotting-components/src/LineChart/hooks/useAxisTickCount.ts
  libs/shared/plotting-components/src/LineChart/hooks/useZoomPlot.ts
  libs/shared/plotting-components/src/LineChart/types.ts
  libs/shared/plotting-components/src/LineChart/utils/getCommonAxisLayoutProps.ts
  libs/shared/plotting-components/src/LineChart/utils/getConfig.ts
Owners: @cognitedata/explorers

Rebranch from master
  viewer/packages/360-images/src/icons/IconCollection.ts
Owners: none

fix: bump loader-utils in documentation (#3003)
  documentation/yarn.lock
Owners: none

clear manco backend errors when editor value is changed (#1332)
  apps/platypus/src/app/modules/solution/data-model/components/EditorPanel/EditorPanel.tsx
  apps/platypus/src/app/modules/solution/data-model/components/GraphqlCodeEditor/GraphqlCodeEditor.tsx
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
Owners: @cognitedata/development-experiences

update version validation regex (#1320)
  apps/platypus/src/app/modules/solution/data-model/components/PublishVersionModal/PublishVersionModal.tsx
Owners: @cognitedata/development-experiences

Reset lastclicked on exit
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

Reset ClickedEntity on exit
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

Add firebase config in Jenkins file (#628)
  apps/3d-management/Jenkinsfile
  apps/3d-management/config-overrides.js
  apps/3d-management/firebase.json
  apps/3d-management/package.json
  apps/3d-management/yarn.lock
Owners: none

chore(monitoring): refactor design changes [DEGR-1684] (#1459)
  src/components/MonitoringSidebar/CreateMonitoringJob.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobStep1.tsx
  src/components/MonitoringSidebar/types.ts
Owners: none

CODEOWNERS:

## NOTE: Separate the apps/libs folder for respective teams in groups and the paths in ascending order!

# NB: Avoid using 'markdown' as file format for this file --> use plain text or download 'CODEOWNERS' ext. on marketplace

# General
/.devcontainer/                   @cognitedata/fusion-maintainers
/.github/                         @cognitedata/fusion-maintainers
/.storybook/                      @cognitedata/fusion-maintainers
/.vscode/                         @cognitedata/fusion-maintainers
/bin/                             @cognitedata/fusion-maintainers
/scripts/                         @cognitedata/fusion-maintainers
/tools/                           @cognitedata/fusion-maintainers
/*                                @cognitedata/fusion-maintainers

# Team platypus
apps/mock-server                  @cognitedata/development-experiences
apps/platypus                     @cognitedata/development-experiences
apps/platypus-cdf-cli             @cognitedata/development-experiences
apps/platypus-e2e                 @cognitedata/development-experiences

libs/cog-data-grid                @cognitedata/development-experiences
libs/mock-data                    @cognitedata/development-experiences
libs/platypus-common-utils        @cognitedata/development-experiences
libs/platypus-core                @cognitedata/development-experiences

# Team data-explorer
apps/data-exploration             @cognitedata/explorers

libs/data-exploration/            @cognitedata/explorers
libs/data-exploration-components  @cognitedata/explorers
libs/shared/plotting-components   @cognitedata/explorers

# Team UFV
libs/industry-canvas              @cognitedata/unified-file-viewer

# Coding conventions
apps/coding-conventions           @deep-cognite @CimStordal
