Repository cognitedata/reveal, changes with the owners that CODEOWNERS names for each.
All owners: @cognitedata/fusion-maintainers, @cognitedata/development-experiences, @cognitedata/explorers, @cognitedata/unified-file-viewer, @deep-cognite, @CimStordal

CODEOWNERS:

## NOTE: Separate the apps/libs folder for respective teams in groups and the paths in ascending order!

# NB: Avoid using 'markdown' as file format for this file --> use plain text or download 'CODEOWNERS' ext. on marketplace

# General
/.devcontainer/                   @cognitedata/fusion-maintainers
/.github/                         @cognitedata/fusion-maintainers
/.storybook/                      @cognitedata/fusion-maintainers
/.vscode/                         @cognitedata/fusion-maintainers
/bin/                             @cognitedata/fusion-maintainers
/scripts/                         @cognitedata/fusion-maintainers
/tools/                           @cognitedata/fusion-maintainers
/*                                @cognitedata/fusion-maintainers

# Team platypus
apps/mock-server                  @cognitedata/development-experiences
apps/platypus                     @cognitedata/development-experiences
apps/platypus-cdf-cli             @cognitedata/development-experiences
apps/platypus-e2e                 @cognitedata/development-experiences

libs/cog-data-grid                @cognitedata/development-experiences
libs/mock-data                    @cognitedata/development-experiences
libs/platypus-common-utils        @cognitedata/development-experiences
libs/platypus-core                @cognitedata/development-experiences

# Team data-explorer
apps/data-exploration             @cognitedata/explorers

libs/data-exploration/            @cognitedata/explorers
libs/data-exploration-components  @cognitedata/explorers
libs/shared/plotting-components   @cognitedata/explorers

# Team UFV
libs/industry-canvas              @cognitedata/unified-file-viewer

# Coding conventions
apps/coding-conventions           @deep-cognite @CimStordal

Fix i18n
  src/common/i18n/translations/en/entity-matching.json
  src/components/resource-selector-table/FilesTable.tsx
Owners: none

added reference to GLTF model texture need for sRGBEncoding & reference to LinearTosRGB conversion
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/glsl/math/colorSpaceConversion.glsl
Owners: none

Add sequences
  src/common/i18n/translations/en/entity-matching.json
  src/components/resource-selector-table/SequenceTable.tsx
  src/components/resource-selector-table/index.tsx
  src/components/resource-type-i18n/index.tsx
  src/hooks/aggregates.ts
  src/hooks/api.ts
  src/hooks/infiniteList.ts
  src/hooks/list.ts
  src/types/api.ts
Owners: none

fix: app crash on search (#1359)
  libs/data-exploration/domain-layer/src/assets/service/queries/useSearchAssetTree.ts
Owners: @cognitedata/explorers

Introducing _iconRadius. WIP
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/src/icons/Image360Icon.ts
Owners: none

chore: rename resource selector table
  src/components/source-selector-table/AssetTable.tsx
  src/components/source-selector-table/EventTable.tsx
  src/components/source-selector-table/FilesTable.tsx
  src/components/source-selector-table/TimeseriesTable.tsx
  src/components/source-selector-table/index.tsx
  src/components/target-selector-table/index.tsx
  src/pages/quick-match/create/select-sources/index.tsx
Owners: none

feat: keep whole item instead of only ids for selected rows in resource tables
  src/components/source-selector-table/AssetTable.tsx
  src/components/source-selector-table/EventTable.tsx
  src/components/source-selector-table/FilesTable.tsx
  src/components/source-selector-table/TimeseriesTable.tsx
  src/context/QuickMatchContext.tsx
  src/hooks/contextualization-api.ts
  src/pages/quick-match/create/create-model/index.tsx
  src/types/api.ts
  src/types/types.ts
Owners: none

Use this._icons instead of findPoints for infinity radius
  viewer/packages/360-images/src/icons/IconCollection.ts
Owners: none

fix(plotting-components): hover layer in line chart [DEGR-1730] (#1361)
  libs/shared/plotting-components/src/LineChart/LineChart.tsx
  libs/shared/plotting-components/src/LineChart/components/Header/elements.ts
  libs/shared/plotting-components/src/LineChart/components/HoverLayer/HoverLayer.tsx
  libs/shared/plotting-components/src/LineChart/components/HoverLayer/HoverLine.tsx
  libs/shared/plotting-components/src/LineChart/components/HoverLayer/HoverLineInfo.tsx
  libs/shared/plotting-components/src/LineChart/components/HoverLayer/HoverMarker.tsx
  libs/shared/plotting-components/src/LineChart/components/Plot/Plot.tsx
  libs/shared/plotting-components/src/LineChart/components/Toolbar/elements.ts
  libs/shared/plotting-components/src/LineChart/hooks/useCursorHandler.ts
  libs/shared/plotting-components/src/LineChart/hooks/useCursorPosition.ts
  libs/shared/plotting-components/src/LineChart/hooks/useIsCursorOnPlotArea.ts
  libs/shared/plotting-components/src/LineChart/hooks/usePlotHoverEvent.ts
  libs/shared/plotting-components/src/LineChart/utils/createEventListener.ts
Owners: @cognitedata/explorers

Refactor useAggregate to return full response
  src/components/resource-count/index.tsx
  src/hooks/aggregates.ts
Owners: none

Add 1 to "skipSelf"
  viewer/packages/360-images/src/icons/IconCollection.ts
Owners: none

Removed newlines
  viewer/packages/360-images/src/icons/IconCollection.ts
Owners: none

fix(data-explorer): Showing ghost row instead of empty component (#1360)
  libs/data-exploration/domain-layer/src/assets/service/queries/useSearchAssetTree.ts
Owners: @cognitedata/explorers

[chore] fix local dev build speed for platypus (#1357)
  apps/platypus/project.json
  apps/platypus/webpack-config.js
Owners: @cognitedata/development-experiences

refracted and generated new visual test image reference
  viewer/packages/api/visual-tests/__image_snapshots__/DefaultTextured.VisualTest.png
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/glsl/math/colorSpaceConversion.glsl
  viewer/packages/rendering/src/glsl/sector/mesh.frag
  viewer/packages/rendering/src/utilities/renderUtilities.ts
Owners: none

fix: use correct types
  src/components/source-selector-table/SequenceTable.tsx
Owners: none

feat(monitoring): add filtering support [DEGR-1696] (#1484)
  src/components/AlertingSidebar/AlertingSidebar.tsx
  src/components/AlertingSidebar/DisplayAlerts.tsx
  src/components/AlertingSidebar/EmptyState.tsx
  src/components/AlertingSidebar/elements.ts
  src/components/Common/SidebarElements.tsx
  src/components/Icons/NoAlerts.tsx
  src/components/Icons/NotFound.tsx
  src/components/MonitoringSidebar/EmptyState.tsx
  src/components/MonitoringSidebar/JobAndAlertsFilter.tsx
  src/components/MonitoringSidebar/ListMonitoringJobs.tsx
  src/components/MonitoringSidebar/MonitoringSidebar.tsx
  src/components/MonitoringSidebar/elements.ts
  src/components/MonitoringSidebar/hooks.tsx
  src/domain/README.md
  src/domain/constants.ts
  src/domain/timeseries/internal/transformers/getTsIds.ts
  src/pages/ChartViewPage/ChartViewPage.tsx
Owners: none

feat(platypus) validate space id when creating space (#1343)
  apps/platypus-cdf-cli/src/app/cmds/data-models/create.ts
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/components/CreateNewSpaceModal/CreateNewSpaceModal.tsx
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/index.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/space-id-validator.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/space-id-validator.ts
Owners: @cognitedata/development-experiences

feat(data-explorer): Connect filter builder with search config (#1306)
  apps/data-exploration/src/app/containers/Exploration/SearchResultsPage.tsx
  libs/data-exploration/containers/src/SearchResults/SearchConfig/CommonColumn.tsx
  libs/data-exploration/containers/src/SearchResults/SearchConfig/ResourceColumns.tsx
  libs/data-exploration/containers/src/SearchResults/SearchConfig/SearchConfig.tsx
  libs/data-exploration/containers/src/SearchResults/SearchConfig/constants.ts
  libs/data-exploration/containers/src/SearchResults/SearchConfig/elements.ts
  libs/data-exploration/containers/src/SearchResults/utils/getNumberOfCheckedColumns.ts
  libs/data-exploration/core/src/constants/index.ts
  libs/data-exploration/core/src/constants/searchConfig.ts
  libs/data-exploration/core/src/fixtures/index.ts
  libs/data-exploration/core/src/fixtures/searchConfig.ts
  libs/data-exploration/core/src/types/searchConfig.ts
  libs/data-exploration/domain-layer/src/assets/internal/transformers/mapFiltersToAssetsAdvancedFilters.ts
  libs/data-exploration/domain-layer/src/builders.ts
  libs/data-exploration/domain-layer/src/documents/internal/transformers/mapFiltersToDocumentSearchFilters.ts
  libs/data-exploration/domain-layer/src/events/internal/transformers/mapFiltersToEventsAdvancedFilters.ts
  libs/data-exploration/domain-layer/src/sequence/internal/transformers/mapFiltersToSequenceAdvancedFilters.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/transformers/mapFiltersToTimeseriesAdvancedFilters.ts
Owners: @cognitedata/explorers

fix(data-explorer): Hide empty selection on timeseries view (#1339)
  libs/data-exploration-components/src/containers/SearchResults/SearchResultLoader/hooks.ts
  libs/data-exploration-components/src/containers/SearchResults/TimeseriesSearchResults/TimeseriesSearchResults.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesTable/TimeseriesTable.tsx
  libs/data-exploration-components/src/utils/constants.ts
  libs/data-exploration/domain-layer/src/constants.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/useTimeseriesDatapointsMap.ts
  libs/data-exploration/domain-layer/src/timeseries/internal/queries/useTimeseriesWithDatapointsAvailabliity .ts
  libs/data-exploration/domain-layer/src/timeseries/service/network/getTimeseriesDatapoints.ts
  libs/data-exploration/domain-layer/src/timeseries/service/network/index.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/index.ts
  libs/data-exploration/domain-layer/src/timeseries/service/queries/useTimeseriesDataPointsQuery.ts
Owners: @cognitedata/explorers

fix(monitoring) : Date formats + threshold value in Alert Sidebar (#1455)
  src/components/MonitoringAlert/MonitoringAlert.tsx
  src/utils/date.ts
Owners: none

add sugested styled components
  src/modules/Common/Components/ActionMenu/MenuContent.tsx
  src/modules/Common/Components/BulkEdit/Asset/AssetPanel.tsx
  src/modules/Review/Components/ReactImageAnnotateWrapper/TitleContainer.tsx
Owners: none

removed non effective encoding assignment to renderTarget
  viewer/packages/rendering/src/utilities/renderUtilities.ts
Owners: none

Add error handling for data sets
  src/App.tsx
  src/common/i18n/translations/en/entity-matching.json
  src/components/data-set-select/index.tsx
Owners: none

Aggregate relevant data sets
  src/components/data-set-select/index.tsx
  src/components/resource-count/index.tsx
  src/components/resource-selector-table/index.tsx
  src/components/target-selector-table/index.tsx
  src/hooks/aggregates.ts
  src/hooks/datasets.ts
Owners: none

[feat] Rearrange node propertice tabs (#631)
  apps/3d-management/src/pages/RevisionDetails/components/ToolbarTreeView/NodeInfoModal.tsx
Owners: none

feat: texture rendering improved to match GLTF viewer (#3040)
  viewer/packages/api/visual-tests/__image_snapshots__/DefaultTextured.VisualTest.png
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/glsl/base/updateFragmentColor.glsl
  viewer/packages/rendering/src/glsl/math/colorSpaceConversion.glsl
  viewer/packages/rendering/src/glsl/sector/mesh.frag
Owners: none

feat: omit unused fields for quick match
  src/hooks/contextualization-api.ts
Owners: none

fix: flatten source and target objects
  src/hooks/contextualization-api.ts
  src/utils/shared.ts
Owners: none

feat: refactor routes for pipeline flow
  src/App.tsx
  src/common/i18n/translations/en/entity-matching.json
  src/pages/CreatePipeline/index.tsx
  src/pages/pipeline/create/index.tsx
  src/pages/pipeline/create/select-sources/index.tsx
  src/pages/pipeline/index.tsx
Owners: none

feat: add create pipeline modal
  package.json
  src/common/i18n/translations/en/entity-matching.json
  src/components/create-pipeline-button/CreatePipelineButton.tsx
  src/components/create-pipeline-modal/index.tsx
  src/components/pipeline-details-form/index.tsx
  src/pages/Home/index.tsx
  src/styles/GlobalStyles.tsx
  yarn.lock
Owners: @cognitedata/fusion-maintainers

add confidence and confirm columns
  src/components/em-result/Confidence.tsx
  src/components/em-result/QuickMatchResultsTable.tsx
Owners: none

feat: create pipeline after ok click
  src/components/create-pipeline-modal/index.tsx
  src/hooks/pipeline.ts
  src/pages/pipeline/create/index.tsx
  src/pages/pipeline/create/select-sources/index.tsx
  src/pages/pipeline/details/index.tsx
  src/pages/pipeline/details/sources/index.tsx
  src/pages/pipeline/index.tsx
Owners: none

chore: use existing types for create pipeline mutation
  src/components/create-pipeline-modal/index.tsx
  src/hooks/contextualization-api.ts
  src/hooks/pipeline.ts
Owners: none

feat: refactor routes for pipeline flow
  src/pages/pipeline/create/index.tsx
  src/pages/pipeline/create/select-sources/index.tsx
Owners: none

feat: fetch pipeline and display name/description on topbar
  src/components/pipeline-name/PipelineName.tsx
  src/pages/pipeline/details/index.tsx
Owners: none

Scale set to match Remote (or something close)
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/360-images/src/icons/Image360Icon.ts
Owners: none

commiting code already in master, accidental git reset HEAD~
  package.json
  src/App.tsx
  src/common/i18n/translations/en/entity-matching.json
  src/components/create-pipeline-button/CreatePipelineButton.tsx
  src/components/create-pipeline-modal/index.tsx
  src/components/pipeline-details-form/index.tsx
  src/components/resource-selector-table/FilesTable.tsx
  src/components/source-selector-table/AssetTable.tsx
  src/components/source-selector-table/EventTable.tsx
  src/components/source-selector-table/FilesTable.tsx
  src/components/source-selector-table/SequenceTable.tsx
  src/components/source-selector-table/TimeseriesTable.tsx
  src/components/source-selector-table/index.tsx
  src/components/target-selector-table/index.tsx
  src/context/QuickMatchContext.tsx
  src/hooks/contextualization-api.ts
  src/pages/CreatePipeline/index.tsx
  src/pages/Home/index.tsx
  src/pages/pipeline/create/index.tsx
  src/pages/pipeline/create/select-sources/index.tsx
  src/pages/pipeline/index.tsx
  src/pages/quick-match/create/create-model/index.tsx
  src/pages/quick-match/create/select-sources/index.tsx
  src/styles/GlobalStyles.tsx
  src/types/api.ts
  src/types/types.ts
  src/utils/shared.ts
  yarn.lock
Owners: @cognitedata/fusion-maintainers

Review feedback
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

[chore] fix error handling (#1363)
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/components/Notification/Notification.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/query-explorer/components/QueryExplorer.tsx
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/services/mixer-api/fdm-mixer-api.service.ts
Owners: @cognitedata/development-experiences
