Repository cognitedata/reveal, changes with the owners that CODEOWNERS names for each.
All owners: @cognitedata/fusion-maintainers, @cognitedata/development-experiences, @cognitedata/explorers, @cognitedata/unified-file-viewer, @deep-cognite, @CimStordal

CODEOWNERS:

## NOTE: Separate the apps/libs folder for respective teams in groups and the paths in ascending order!

# NB: Avoid using 'markdown' as file format for this file --> use plain text or download 'CODEOWNERS' ext. on marketplace

# General
/.devcontainer/                   @cognitedata/fusion-maintainers
/.github/                         @cognitedata/fusion-maintainers
/.storybook/                      @cognitedata/fusion-maintainers
/.vscode/                         @cognitedata/fusion-maintainers
/bin/                             @cognitedata/fusion-maintainers
/scripts/                         @cognitedata/fusion-maintainers
/tools/                           @cognitedata/fusion-maintainers
/*                                @cognitedata/fusion-maintainers

# Team platypus
apps/mock-server                  @cognitedata/development-experiences
apps/platypus                     @cognitedata/development-experiences
apps/platypus-cdf-cli             @cognitedata/development-experiences
apps/platypus-e2e                 @cognitedata/development-experiences

libs/cog-data-grid                @cognitedata/development-experiences
libs/mock-data                    @cognitedata/development-experiences
libs/platypus-common-utils        @cognitedata/development-experiences
libs/platypus-core                @cognitedata/development-experiences

# Team data-explorer
apps/data-exploration             @cognitedata/explorers

libs/data-exploration/            @cognitedata/explorers
libs/data-exploration-components  @cognitedata/explorers
libs/shared/plotting-components   @cognitedata/explorers

# Team UFV
libs/industry-canvas              @cognitedata/unified-file-viewer

# Coding conventions
apps/coding-conventions           @deep-cognite @CimStordal

feat(monitoring) : Add support for the Alerts indicator Icon (#1458)
  src/components/AlertingSidebar/AlertingSidebar.tsx
  src/components/MonitoringSidebar/ListMonitoringJobs.tsx
  src/components/MonitoringSidebar/hooks.tsx
  src/components/MonitoringSidebar/types.ts
  src/pages/ChartViewPage/ChartViewPage.tsx
  src/pages/ChartViewPage/NotificationIndicator.tsx
  src/utils/constants.ts
Owners: none

fixe typo
  src/modules/Common/Components/ActionMenu/MenuContent.tsx
Owners: none

yarn lock update
  yarn.lock
Owners: @cognitedata/fusion-maintainers

feat(plotting-components): show markers on the line chart [DEGR-1713] (#1342)
  libs/shared/plotting-components/src/LineChart/LineChart.stories.tsx
  libs/shared/plotting-components/src/LineChart/LineChart.tsx
  libs/shared/plotting-components/src/LineChart/components/Plot/Plot.tsx
  libs/shared/plotting-components/src/LineChart/components/Plot/elements.ts
  libs/shared/plotting-components/src/LineChart/components/Toolbar/Actions.tsx
  libs/shared/plotting-components/src/LineChart/components/Toolbar/Filters.tsx
  libs/shared/plotting-components/src/LineChart/components/Tooltip/Tooltip.tsx
  libs/shared/plotting-components/src/LineChart/constants.ts
  libs/shared/plotting-components/src/LineChart/hooks/useAxisRangeMode.ts
  libs/shared/plotting-components/src/LineChart/hooks/useHandlePlotRange.ts
  libs/shared/plotting-components/src/LineChart/hooks/useLayoutFixedRangeConfig.ts
  libs/shared/plotting-components/src/LineChart/hooks/useLayoutMargin.ts
  libs/shared/plotting-components/src/LineChart/hooks/usePlotDataRange.ts
  libs/shared/plotting-components/src/LineChart/types.ts
  libs/shared/plotting-components/src/LineChart/utils/adaptToPlotlyPlotData.ts
  libs/shared/plotting-components/src/LineChart/utils/getCommonAxisLayoutProps.ts
  libs/shared/plotting-components/src/LineChart/utils/getConfig.ts
  libs/shared/plotting-components/src/LineChart/utils/getFixedRangeConfig.ts
  libs/shared/plotting-components/src/LineChart/utils/getLayout.ts
  libs/shared/plotting-components/src/LineChart/utils/getLayoutMargin.ts
  libs/shared/plotting-components/src/LineChart/utils/getMarginBottom.ts
  libs/shared/plotting-components/src/LineChart/utils/getMarginLayout.ts
  libs/shared/plotting-components/src/LineChart/utils/getMarginLeft.ts
  libs/shared/plotting-components/src/LineChart/utils/getMarginValue.ts
  libs/shared/plotting-components/src/LineChart/utils/getPlotRange.ts
  libs/shared/plotting-components/src/LineChart/utils/getRangeMode.ts
  libs/shared/plotting-components/src/LineChart/utils/getStyleProperties.ts
  libs/shared/plotting-components/src/LineChart/utils/getTickTextWidth.ts
  libs/shared/plotting-components/src/LineChart/utils/getTooltipPosition.ts
Owners: @cognitedata/explorers

update text and slack channel for deployment updates
  Jenkinsfile
  src/utils/handleError.tsx
Owners: @cognitedata/fusion-maintainers

slim down useMemo
  src/components/pipeline-list/PipelineTable.tsx
Owners: none

chore: use controlled state for target data set filter
  src/components/target-selector-table/index.tsx
Owners: none

chore: Rename to "Find in document..." (#1338)
  libs/data-exploration-components/src/containers/Files/FilePreview/SearchBar.tsx
Owners: @cognitedata/explorers

fix: remove unnecessary cross-var dep (#996)
  package.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

feat: replace playground endpoints with v1
  apps/extraction-pipelines/src/utils/ExtpipesAPI.ts
Owners: none

fullResolutionLoadedPromise
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/360-images/unit-tests/Image360LoadingCache.test.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

cleanup
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
Owners: none

UI controls for radius and point limit
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Owners: none

feat: create a separate page for quick match results
  src/App.tsx
  src/common/i18n/translations/en/entity-matching.json
  src/components/QueryStatusIcon.tsx
  src/components/view-model/index.tsx
  src/pages/Home/index.tsx
  src/pages/quick-match/create/index.tsx
  src/pages/quick-match/index.tsx
  src/pages/quick-match/results/index.tsx
Owners: none

Update reveal.api.md
  viewer/reveal.api.md
Owners: none

fix(monitoring) : Integrate lower threshold (#1481)
  src/components/AlertingSidebar/MonitoringJobWithAlerts.tsx
  src/components/MonitoringSidebar/JobCondition.tsx
  src/components/MonitoringSidebar/ListMonitoringJobPreview.tsx
  src/components/MonitoringSidebar/hooks.tsx
  src/components/MonitoringSidebar/types.ts
Owners: none

fix(data-explorer): failing tests for new component lib (#1345)
  apps/data-exploration/src/app/containers/File/FilePreview.tsx
  libs/data-exploration/components/src/setupTests.js
  libs/data-exploration/containers/src/setupTests.js
Owners: @cognitedata/explorers

feat: add separate routes for each quick match step
  src/common/i18n/translations/en/entity-matching.json
  src/components/quick-match-title/index.tsx
  src/context/QuickMatchContext.tsx
  src/pages/Home/index.tsx
  src/pages/quick-match/create/configure-model/index.tsx
  src/pages/quick-match/create/create-model/index.tsx
  src/pages/quick-match/create/index.tsx
  src/pages/quick-match/create/select-sources/index.tsx
  src/pages/quick-match/create/select-targets/index.tsx
Owners: none

fixes for minor issues
  src/modules/Common/Components/ActionMenu/MenuContent.tsx
  src/modules/Common/Components/BulkActionMenu/BulkActionMenu.tsx
  src/modules/Common/Components/FileUploaderModal/ModalFilePicker/ModalFileUploadOption.tsx
  src/modules/Explorer/Components/ClearButton.tsx
  src/modules/Process/Containers/ProcessToolBar/ProcessToolBar.tsx
Owners: none

yarn lock updated
  yarn.lock
Owners: @cognitedata/fusion-maintainers

fix file details in review
  src/modules/Review/Containers/ReviewBody.tsx
Owners: none

fix AnnotationTableRowAttribute
  src/modules/Review/Containers/AnnotationDetailPanel/components/common/AnnotationTableRowAttribute.tsx
Owners: none

chore: use controlled state for target data set filter
  src/components/target-selector-table/index.tsx
Owners: none

fix: primitive buffer parsing with multiple types in same buffer (#3029)
  viewer/test-utilities/src/primitives/internal/threeTranslation.ts
  viewer/test-utilities/src/primitives/internal/types.ts
Owners: none

feat: update titles for quick match steps
  src/common/i18n/translations/en/entity-matching.json
  src/components/page/index.tsx
  src/components/quick-match-title/index.tsx
  src/pages/quick-match/create/configure-model/index.tsx
  src/pages/quick-match/create/create-model/index.tsx
  src/pages/quick-match/create/index.tsx
  src/pages/quick-match/create/select-sources/index.tsx
  src/pages/quick-match/create/select-targets/index.tsx
  src/pages/quick-match/results/index.tsx
Owners: none

chore: read step from url instead of keeping it in a state
  src/context/QuickMatchContext.tsx
Owners: none

chore: move model and job id to component level
  src/components/view-model/index.tsx
  src/context/QuickMatchContext.tsx
Owners: none

chore: move create model page content from component
  src/components/view-model/index.tsx
  src/pages/quick-match/create/create-model/index.tsx
Owners: none

Clean up old aggregate hooks
  src/common/types.ts
  src/hooks/assets.ts
  src/hooks/events.ts
  src/hooks/timeseries/aggregate.ts
  src/hooks/timeseries/index.ts
Owners: none

Simplify ts hooks files
  src/hooks/timeseries.ts
  src/hooks/timeseries/index.ts
  src/hooks/timeseries/update.ts
Owners: none

Add generic property aggregation hook
  src/hooks/aggregates.ts
Owners: none

Disable search whole select-all is active
  src/components/resource-selector-table/index.tsx
Owners: none

Move table prop type
  src/components/resource-selector-table/EventTable.tsx
  src/components/resource-selector-table/TimeseriesTable.tsx
  src/types/types.ts
Owners: none

Rename getAdvancedFilter param
  src/components/resource-selector-table/index.tsx
  src/components/view-model/index.tsx
  src/utils/shared.ts
Owners: none

Update target section and asset table to use new hooks
  src/components/resource-selector-table/AssetTable.tsx
  src/components/target-selector-table/index.tsx
Owners: none

Add asset support to list hooks
  src/hooks/infiniteList.ts
  src/hooks/list.ts
  src/types/api.ts
Owners: none

Create c-source/target api type
  src/hooks/api.ts
  src/hooks/infiniteList.ts
  src/hooks/list.ts
  src/types/api.ts
Owners: none

Remove redundant partition argument in useList
  src/components/resource-selector-table/AssetTable.tsx
  src/components/resource-selector-table/EventTable.tsx
  src/components/resource-selector-table/TimeseriesTable.tsx
  src/hooks/list.ts
Owners: none

Fix unmatched-asset search
  src/components/target-selector-table/index.tsx
  src/utils/shared.ts
Owners: none

feat(plotting-components): show verticle line on hover line chart [DEGR-1716] (#1346)
  libs/shared/plotting-components/src/LineChart/LineChart.tsx
  libs/shared/plotting-components/src/LineChart/components/HoverLayer/HoverLayer.tsx
  libs/shared/plotting-components/src/LineChart/components/HoverLayer/elements.ts
  libs/shared/plotting-components/src/LineChart/components/HoverLayer/index.ts
  libs/shared/plotting-components/src/LineChart/components/HoverMarker/HoverMarker.tsx
  libs/shared/plotting-components/src/LineChart/components/HoverMarker/elements.ts
  libs/shared/plotting-components/src/LineChart/components/HoverMarker/index.ts
  libs/shared/plotting-components/src/LineChart/components/Plot/Plot.tsx
  libs/shared/plotting-components/src/LineChart/components/Plot/elements.ts
  libs/shared/plotting-components/src/LineChart/components/Tooltip/Tooltip.tsx
  libs/shared/plotting-components/src/LineChart/constants.ts
  libs/shared/plotting-components/src/LineChart/hooks/useHandlePlotRange.ts
  libs/shared/plotting-components/src/LineChart/hooks/usePlotHoverEvent.ts
  libs/shared/plotting-components/src/LineChart/types.ts
  libs/shared/plotting-components/src/LineChart/utils/getPlotStyleData.ts
  libs/shared/plotting-components/src/LineChart/utils/getTooltipPosition.ts
Owners: @cognitedata/explorers
