Repository cognitedata/reveal, changes with the owners that CODEOWNERS names for each.
All owners: @cognitedata/fusion-maintainers, @cognitedata/cdf-user-experience, @cognitedata/explorers, @cognitedata/matchmakers, @cognitedata/discover, @cognitedata/unified-file-viewer, @deep-cognite, @CimStordal, @davidlky, @cognitedata/contextualization, @andeplane, @miladh, @trygveu, @cognitedata/team-hebe, @geircognite, @muradsater, @cognitedata/3d-reveal-viewer-team, @cognitedata/cogs-team

chore: restructure folder layout
  react-components/src/components/Image360HistoricalDetails/Image360HistoricalDetails.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/Image360HistoricalPanel.tsx
  react-components/src/components/Image360HistoricalDetails/Panel/index.ts
  react-components/src/components/Image360HistoricalDetails/Toolbar/Image360HistoricalSummary.tsx
  react-components/src/components/Image360HistoricalDetails/Toolbar/index.ts
  react-components/src/components/Image360HistoricalDetails/utils/FormatDate.ts
  react-components/src/components/Image360HistoricalDetails/utils/Thumbnail.tsx
  react-components/src/components/View/index.ts
  react-components/src/components/index.ts
  react-components/src/stories/Image360HistoricalDetails.stories.ts
Owners: none

fix: revert testing-library/react upgrade this should fix the failing tests
  package.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

ci: remove new line characters from affected libraries list (#2183)
  Jenkinsfile
  libs/shared/user-profile-components/project.json
Owners: @cognitedata/fusion-maintainers, @cognitedata/cogs-team

fix:update translation keys
  apps/business-shell/src/app/App.tsx
  apps/business-shell/src/app/common/i18n/en/business-shell.json
  apps/business-shell/src/app/common/i18n/index.tsx
  apps/business-shell/src/app/common/i18n/ja/business-shell.json
  apps/business-shell/src/app/common/i18n/translationKeys.ts
  apps/business-shell/src/app/components/topbar/AppSelector.tsx
  apps/business-shell/src/app/components/topbar/top-bar.tsx
  apps/business-shell/src/app/hooks/index.ts
  apps/business-shell/src/app/hooks/useTranslation.tsx
Owners: none

try yarn lock update
  yarn.lock
Owners: @cognitedata/fusion-maintainers

CODEOWNERS:

## NOTE: Separate the apps/libs folder for respective teams in groups and the paths in ascending order!

# NB: Avoid using 'markdown' as file format for this file --> use plain text or download 'CODEOWNERS' ext. on marketplace

# General
/.devcontainer/                   @cognitedata/fusion-maintainers
/.github/                         @cognitedata/fusion-maintainers
/.storybook/                      @cognitedata/fusion-maintainers
/.vscode/                         @cognitedata/fusion-maintainers
/bin/                             @cognitedata/fusion-maintainers
/scripts/                         @cognitedata/fusion-maintainers
/tools/                           @cognitedata/fusion-maintainers
/*                                @cognitedata/fusion-maintainers

# Platypus
apps/mock-server                  @cognitedata/cdf-user-experience
apps/platypus                     @cognitedata/cdf-user-experience
apps/platypus-cdf-cli             @cognitedata/cdf-user-experience

libs/data-modeling                @cognitedata/cdf-user-experience

# Team data-explorer
apps/data-exploration             @cognitedata/explorers
apps/flexible-data-explorer       @cognitedata/explorers
apps/cdf-document-search          @cognitedata/matchmakers @cognitedata/discover


libs/data-exploration/            @cognitedata/explorers
libs/data-exploration-components  @cognitedata/explorers
libs/shared/plotting-components   @cognitedata/explorers

# Team UFV
libs/industry-canvas              @cognitedata/unified-file-viewer
apps/industry-canvas-ui              @cognitedata/unified-file-viewer

# Coding conventions
apps/coding-conventions           @deep-cognite @CimStordal

# Contextualization
libs/contextualization              @davidlky @cognitedata/contextualization

# Copilot
apps/copilot              @davidlky @andeplane @miladh @trygveu

# IoT Hub

apps/raw-explorer @cognitedata/team-hebe
apps/iot-hub              @davidlky @geircognite @muradsater

# Vision
apps/vision              @cognitedata/cdf-user-experience

# 3D / Reveal
apps/3d-management                @cognitedata/3d-reveal-viewer-team

# Data Catalog
apps/data-catalog                 @cognitedata/cdf-user-experience

# Extractor downloads
apps/extractor-downloads          @cognitedata/cdf-user-experience

libs/shared/user-profile-components   @cognitedata/cogs-team
