Repository cognitedata/reveal, changes with the owners that CODEOWNERS names for each.
All owners: @cognitedata/fusion-maintainers, @cognitedata/development-experiences, @cognitedata/explorers, @cognitedata/unified-file-viewer, @deep-cognite, @CimStordal

CODEOWNERS:

## NOTE: Separate the apps/libs folder for respective teams in groups and the paths in ascending order!

# NB: Avoid using 'markdown' as file format for this file --> use plain text or download 'CODEOWNERS' ext. on marketplace

# General
/.devcontainer/                   @cognitedata/fusion-maintainers
/.github/                         @cognitedata/fusion-maintainers
/.storybook/                      @cognitedata/fusion-maintainers
/.vscode/                         @cognitedata/fusion-maintainers
/bin/                             @cognitedata/fusion-maintainers
/scripts/                         @cognitedata/fusion-maintainers
/tools/                           @cognitedata/fusion-maintainers
/*                                @cognitedata/fusion-maintainers

# Team platypus
apps/mock-server                  @cognitedata/development-experiences
apps/platypus                     @cognitedata/development-experiences
apps/platypus-cdf-cli             @cognitedata/development-experiences
apps/platypus-e2e                 @cognitedata/development-experiences

libs/cog-data-grid                @cognitedata/development-experiences
libs/mock-data                    @cognitedata/development-experiences
libs/platypus-common-utils        @cognitedata/development-experiences
libs/platypus-core                @cognitedata/development-experiences

# Team data-explorer
apps/data-exploration             @cognitedata/explorers

libs/data-exploration/            @cognitedata/explorers
libs/data-exploration-components  @cognitedata/explorers
libs/shared/plotting-components   @cognitedata/explorers

# Team UFV
libs/industry-canvas              @cognitedata/unified-file-viewer

# Coding conventions
apps/coding-conventions           @deep-cognite @CimStordal

fix(coding-conventions): Range and Regex support (#1200)
  apps/coding-conventions/src/app/Routes.tsx
  apps/coding-conventions/src/app/components/Table/BaseTable.tsx
  apps/coding-conventions/src/app/components/Table/RangeTable.tsx
  apps/coding-conventions/src/app/components/Table/RegexTable.tsx
  apps/coding-conventions/src/app/components/Text/StructureText.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionEdit.tsx
  apps/coding-conventions/src/app/containers/convention/ConventionItem.tsx
  apps/coding-conventions/src/app/containers/definitions/EditRange.tsx
  apps/coding-conventions/src/app/containers/definitions/EditRegex.tsx
  apps/coding-conventions/src/app/containers/system/SystemView.tsx
  apps/coding-conventions/src/app/pages/ConventionsPage.tsx
  apps/coding-conventions/src/app/pages/edit/DataCleanupComponent.tsx
  apps/coding-conventions/src/app/pages/edit/EditPage.tsx
  apps/coding-conventions/src/app/utils/validation.ts
Owners: @deep-cognite, @CimStordal

fix: transformations error handling (#1364)
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/modules/solution/data-management/components/BulkPopulationButton/BulkPopulationButton.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/NoRowsOverlay.tsx
Owners: @cognitedata/development-experiences

[fix] URL in header and also tooltip for buttons (#1365)
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/components/DocLinkButtonGroup/DocLinkButtonGroup.tsx
  apps/platypus/src/app/components/EditableChip/EditableChip.spec.tsx
  apps/platypus/src/app/components/EditableChip/EditableChip.tsx
  apps/platypus/src/app/components/Navigations/NavigationDataModel.tsx
  apps/platypus/src/app/modules/solution/data-model/components/DataModelHeader/DataModelHeader.tsx
  apps/platypus/src/app/modules/solution/data-model/pages/DataModelPage.tsx
Owners: @cognitedata/development-experiences

Fix list page delete hover and data model create (#1366)
  README.md
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.tsx
  apps/platypus/src/app/components/DataModelDetailModal/elements.ts
  apps/platypus/src/app/components/EditableChip/EditableChip.tsx
  apps/platypus/src/app/modules/data-models/elements.ts
Owners: @cognitedata/fusion-maintainers, @cognitedata/development-experiences

feat: adding error-pages
  src/common/i18n/index.ts
  src/common/i18n/translations/en/entity-matching.json
  src/components/error-pages/NoAccess.tsx
  src/components/error-pages/UnknownError.tsx
  src/components/error-pages/styled-components.tsx
  src/hooks/contextualization-api.ts
  src/pages/Home/index.tsx
Owners: none

cleaning up spacing/forma
  src/components/error-pages/NoAccess.tsx
  src/components/error-pages/styled-components.tsx
  src/hooks/contextualization-api.ts
Owners: none

fix(data-explorer): Enabling the sorting of dataset in asset and events table (#1369)
  libs/data-exploration-components/src/containers/Assets/AssetTable/AssetTable.tsx
  libs/data-exploration-components/src/containers/Events/EventTable/EventTable.tsx
Owners: @cognitedata/explorers

Organize home top row
  src/common/i18n/translations/en/entity-matching.json
  src/components/create-pipeline-button/CreatePipelineButton.tsx
  src/components/em-filter/EntityMatchingFilter.tsx
  src/components/no-wrap-button/index.ts
  src/components/pipeline-list/PipelineTable.tsx
  src/components/search-input/index.tsx
  src/components/source-selector-table/index.tsx
  src/components/target-selector-table/index.tsx
  src/pages/Home/index.tsx
Owners: none

chore: update cargo lock
  viewer/Cargo.lock
Owners: none

feat(platypus) validate version in cli publish command [UX-273] (#1353)
  apps/platypus-cdf-cli/src/app/cmds/data-models/publish.ts
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/modules/solution/data-model/components/PublishVersionModal/PublishVersionModal.tsx
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/data-model-version-validator-v2.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/data-model-version-validator-v2.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/data-model-version-validator.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/data-model-version-validator.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/validators/index.ts
Owners: @cognitedata/development-experiences
