Repository cognitedata/reveal, changes with the owners that CODEOWNERS names for each.
All owners: @cognitedata/fusion-maintainers, @cognitedata/cdf-user-experience, @cognitedata/explorers, @cognitedata/matchmakers, @cognitedata/discover, @cognitedata/unified-file-viewer, @deep-cognite, @CimStordal, @davidlky, @cognitedata/contextualization, @andeplane, @miladh, @trygveu, @geircognite, @muradsater, @cognitedata/3d-reveal-viewer-team, @cognitedata/data-management, @cognitedata/cogs-team, @abdullah-cognite, @shubhsk88, @cognitedata/deg-code-owners, @cognitedata/data-onboarding

updating yarn.lock
  yarn.lock
Owners: @cognitedata/fusion-maintainers

update local service env var and README (#2744)
  apps/simint/README.md
  apps/simint/src/components/app/App.tsx
Owners: @cognitedata/deg-code-owners

feat(fdx): 3d widget (#2689)
  apps/business-shell/src/app/components/topbar/UserMenu.tsx
  apps/business-shell/src/hooks/useUserInfo.tsx
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
  apps/business-shell/src/utils/globalStyles.ts
  apps/flexible-data-explorer/src/app/constants/threeD.ts
  apps/flexible-data-explorer/src/app/containers/ThreeD/ThreeDContent.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/preview/FilePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/GenericInstancePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/TimeseriesPreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Overview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/RelationshipEdgeView/GenericRelationshipEdgeView.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/FileViewer.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/ThreeDViewer.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/TimeSeriesViewer.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/elements.ts
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/collapsed/GenericRelationshipEdgesCollapsed.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/RelationshipEdges/containers/expanded/GenericRelationshipEdgeExpanded.tsx
  apps/flexible-data-explorer/src/app/containers/widgets/ThreeD/ThreeDWidget.tsx
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useOpenIn.ts
  apps/flexible-data-explorer/src/app/pages/Instances/InstancesPage.tsx
  apps/flexible-data-explorer/src/app/services/FDMComposer.ts
  apps/flexible-data-explorer/src/app/services/FDMSchema.ts
  apps/flexible-data-explorer/src/app/services/files/queries/use
  apps/flexible-data-explorer/src/app/services/instances/generic/hooks/useInstanceThreeD.ts
  apps/flexible-data-explorer/src/app/services/instances/generic/queries/useInstanceRelationshipQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/app/services/types.ts
  apps/flexible-data-explorer/src/config/Celanese.ts
  apps/flexible-data-explorer/src/config/Cognite.ts
Owners: @cognitedata/explorers

chore: bump version
  react-components/package.json
Owners: none

chore: bump version (#3591)
  react-components/package.json
Owners: none

add hostings (#2745)
  apps/fusion-shell/src/apps-manifest.json
Owners: none

fix: downscale refinery in lervik-industries, and bump quality settings (#2746)
  apps/flexible-data-explorer/src/app/constants/threeD.ts
  apps/flexible-data-explorer/src/config/Cognite.ts
Owners: @cognitedata/explorers

fix: background for exit button being transparent
  react-components/src/components/Image360Details/Image360Details.tsx
Owners: none

Current state of things
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
  react-components/src/index.ts
  react-components/stories/CadModelContainer.stories.tsx
  react-components/stories/HighlightNode.stories.tsx
Owners: none

added styling hook
  react-components/src/components/CadModelContainer/useApplyCadModelStyling.tsx
Owners: none

fix: missing exports
  react-components/src/index.ts
Owners: none

feat(fdx): 3D Node preview card (#2749)
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/PreviewCard.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/preview/GenericInstancePreview.tsx
  apps/flexible-data-explorer/src/app/containers/preview/types.ts
  package.json
  yarn.lock
Owners: @cognitedata/explorers, @cognitedata/fusion-maintainers

chore: attempt at caching styling state
  react-components/src/components/CadModelContainer/CadModelContainer.tsx
Owners: none

feat(AI): redesign of ai flow for august release" (#2728)
  apps/business-shell/src/app/App.tsx
  apps/flexible-data-explorer/src/app/App.tsx
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/components/links/AIDisclaimer.tsx
  apps/flexible-data-explorer/src/app/constants/localStorageKeys.ts
  apps/flexible-data-explorer/src/app/containers/search/AISearchPreview.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchConfiguration.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchPreviewActions.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AILabels.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AIListItemIcon.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AISearchCategoryDropdown.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AISwitch.tsx
  apps/flexible-data-explorer/src/app/containers/search/components/AiSearchIcon.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/AIFilterBuilder.spec.ts
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/AIFilterBuilder.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/elements.tsx
  apps/flexible-data-explorer/src/app/containers/search/hooks/useAiResultsCounts.ts
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/flexible-data-explorer/src/app/hooks/listeners/useKeyboardListener.ts
  apps/flexible-data-explorer/src/app/hooks/useLocalStorage.ts
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  apps/flexible-data-explorer/src/app/pages/SearchPage.tsx
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useAIDataTypesQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/app/utils/string.ts
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
  apps/platypus-cdf-cli/src/app/cmds/data-models/generate.ts
  apps/platypus/src/app/GlobalStyles.tsx
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/app/components/MessageRenderer/MessageBase.tsx
  libs/copilot-core/src/app/components/MessageRenderer/components/CopilotActions.tsx
  libs/copilot-core/src/app/components/index.ts
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
  libs/copilot-core/src/lib/types.ts
  package.json
  yarn.lock
Owners: @cognitedata/explorers, @cognitedata/cdf-user-experience, @cognitedata/fusion-maintainers

CDFNEW-427 (streamlit editor) add edit filename functionality (#2739)
  apps/notebook/src/pages/StreamLit/Editor/Editor.tsx
  apps/notebook/src/pages/StreamLit/StreamLitApp.tsx
  apps/notebook/src/pages/StreamLit/components/EditFilenameModal.tsx
Owners: none

fix(FDX): ui tweaks (#2754)
  apps/flexible-data-explorer/src/app/Routes.tsx
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  apps/flexible-data-explorer/src/app/containers/category/Categories.tsx
  apps/flexible-data-explorer/src/app/containers/preview/containers/Viewers/elements.ts
  apps/flexible-data-explorer/src/app/containers/search/SearchBar.tsx
  apps/flexible-data-explorer/src/app/containers/search/SearchBarSwitch.tsx
  apps/flexible-data-explorer/src/app/hooks/useLocation.ts
  apps/flexible-data-explorer/src/app/hooks/useNavigation.ts
  apps/flexible-data-explorer/src/app/hooks/useParams.ts
  apps/flexible-data-explorer/src/app/pages/HomePage.tsx
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Owners: @cognitedata/explorers

fix: fixing firebase mapping
  Jenkinsfile
Owners: @cognitedata/fusion-maintainers

feat(business-shell): updated language list in user profile (#2703)
  apps/business-shell/src/pages/UserProfilePage/UserProfilePage.tsx
Owners: none

feat(industry-canvas): adding user invite to visibility modal (#2545)
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/UserProfileProvider.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/CanvasVisibilityModal.tsx
  libs/industry-canvas/src/lib/constants.ts
  libs/industry-canvas/src/lib/containers/CommentsPane/CommentsPane.stories.tsx
  libs/industry-canvas/src/lib/containers/CommentsPane/CommentsPane.tsx
  libs/industry-canvas/src/lib/containers/SharedUsersList/SharedUsersList.stories.tsx
  libs/industry-canvas/src/lib/containers/SharedUsersList/SharedUsersList.tsx
  libs/industry-canvas/src/lib/containers/SharedUsersList/index.ts
  libs/industry-canvas/src/lib/containers/UserSearch/UserSearch.stories.tsx
  libs/industry-canvas/src/lib/containers/UserSearch/UserSearch.tsx
  libs/industry-canvas/src/lib/containers/UserSearch/fixtures.ts
  libs/industry-canvas/src/lib/containers/UserSearch/index.ts
  libs/industry-canvas/src/lib/containers/UserSearchInput/UserSearchInput.stories.tsx
  libs/industry-canvas/src/lib/containers/UserSearchInput/UserSearchInput.tsx
  libs/industry-canvas/src/lib/containers/UserSearchInput/index.ts
  libs/industry-canvas/src/lib/containers/index.ts
  libs/industry-canvas/src/lib/hooks/use-mutation/useAuth2InvitationsMutation.ts
  libs/industry-canvas/src/lib/hooks/use-mutation/useAuth2RevokeInvitationsMutation.ts
  libs/industry-canvas/src/lib/hooks/use-query/useAuth2InvitationsByResource.ts
  libs/industry-canvas/src/lib/hooks/use-query/useAuth2Users.ts
  libs/industry-canvas/src/lib/hooks/use-query/useUserProfilesSearch.ts
  libs/industry-canvas/src/lib/types.ts
  libs/industry-canvas/src/lib/utils/isCogniteIdPUsedToSignIn.ts
  libs/shared/cdf-ui-i18n-utils/src/hooks/i18n.ts
Owners: @cognitedata/unified-file-viewer, @cognitedata/cdf-user-experience

Remove keyboard events.
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
Owners: none

chore: Fix might typo
  README.md
Owners: @cognitedata/fusion-maintainers

chore: Fix evenet -> event typo
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
Owners: none

chore: Extract getCogniteClient method
  examples/src/pages/Viewer.tsx
  examples/src/utils/example-helpers.ts
Owners: none

feat(extraction-pipelines): change add topic filter popup to full page view (#2681)
  apps/extraction-pipelines/src/App.tsx
  apps/extraction-pipelines/src/common/i18n/translations/en/cdf-integrations-ui.json
  apps/extraction-pipelines/src/components/ToolBars/BottomBar.tsx
  apps/extraction-pipelines/src/components/ToolBars/TopBar.tsx
  apps/extraction-pipelines/src/components/ToolBars/index.ts
  apps/extraction-pipelines/src/components/form-field-radio-group/FormFieldRadioGroup.tsx
  apps/extraction-pipelines/src/components/form-field-wrapper/FormFieldWrapper.tsx
  apps/extraction-pipelines/src/components/topic-filters/TopicFilters.tsx
  apps/extraction-pipelines/src/hooks/hostedExtractors.ts
  apps/extraction-pipelines/src/pages/AddTopicFilter/AddTopicFilter.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/Section.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/TopicFilterGuide.tsx
  apps/extraction-pipelines/src/pages/AddTopicFilter/index.ts
  apps/extraction-pipelines/src/pages/AddTopicFilter/types.ts
  apps/extraction-pipelines/src/utils/zindex.ts
Owners: @cognitedata/data-management

chore: dont minimize on development environment (#2761)
  apps/raw-explorer/webpack-config.js
  apps/transformations/webpack-config.js
Owners: @cognitedata/cogs-team

fusion-shell e2e tests (#2602)
  .github/workflows/fusion-shell-e2e-tests.yml
  apps/data-exploration-e2e/fusion.code-workspace
  apps/fusion-shell/.eslintrc.json
  apps/fusion-shell/README.md
  apps/fusion-shell/cypress.config.ts
  apps/fusion-shell/cypress/e2e/access-page.cy.ts
  apps/fusion-shell/cypress/e2e/charts.cy.ts
  apps/fusion-shell/cypress/e2e/contextualize-image.cy.ts
  apps/fusion-shell/cypress/e2e/data-catalog.cy.ts
  apps/fusion-shell/cypress/e2e/data-explorer.cy.ts
  apps/fusion-shell/cypress/e2e/data-models.cy.ts
  apps/fusion-shell/cypress/e2e/document-classifier.cy.ts
  apps/fusion-shell/cypress/e2e/entity-matching.cy.ts
  apps/fusion-shell/cypress/e2e/explore-image.cy.ts
  apps/fusion-shell/cypress/e2e/extract-data.cy.ts
  apps/fusion-shell/cypress/e2e/extraction-pipelines.cy.ts
  apps/fusion-shell/cypress/e2e/functions-page.cy.ts
  apps/fusion-shell/cypress/e2e/ineteractive-diagram.cy.ts
  apps/fusion-shell/cypress/e2e/landing-page.cy.ts
  apps/fusion-shell/cypress/e2e/raw-explorer.cy.ts
  apps/fusion-shell/cypress/e2e/transform-data.cy.ts
  apps/fusion-shell/cypress/e2e/upload-3d-models.cy.ts
  apps/fusion-shell/cypress/support/commands.ts
  apps/fusion-shell/cypress/support/e2e.ts
  apps/fusion-shell/cypress/support/injectToken.ts
  apps/fusion-shell/cypress/support/loginWithClientCredentials.ts
  apps/fusion-shell/cypress/tsconfig.json
  apps/fusion-shell/project.json
  apps/fusion-shell/src/assets/dependencies/@cognite/cdf-sdk-singleton/index.js
  apps/fusion-shell/src/environments/mock/AuthContainer.tsx
  apps/fusion-shell/tools/scripts/webpack-dev-server.js
  apps/fusion-shell/tsconfig.json
  apps/fusion-shell/webpack-config.js
  tsconfig.base.json
Owners: @cognitedata/fusion-maintainers

chore: Refactor getCogniteClient
  examples/src/utils/example-helpers.ts
Owners: none

fix: styling nits
  react-components/src/components/Image360Details/Image360Details.tsx
Owners: none

feat: add Image360Details component (#3589)
  react-components/src/components/Image360CollectionContainer/Image360CollectionContainer.tsx
  react-components/src/components/Image360Details/Image360Details.tsx
  react-components/src/index.ts
  react-components/stories/Image360Details.stories.tsx
  react-components/stories/Image360HistoricalDetails.stories.ts
Owners: none

Fix bugs in Variable input in routine builder (#2747)
  apps/simint/src/pages/CustomCalculationConfiguration/Routine/Commands/Fields/Variable.tsx
Owners: @cognitedata/deg-code-owners

Make sub-apps owned by ux++ single-branch
  Jenkinsfile
Owners: @cognitedata/fusion-maintainers

Remove keyboard events. (#3593)
  react-components/src/higher-order-components/withSuppressRevealEvents.tsx
Owners: none

chore: bump react components version
  react-components/package.json
Owners: none

chore: bump react components version (#3595)
  react-components/package.json
Owners: none

chore: Fix miscellaneous typos (#3594)
  README.md
  examples/src/pages/Viewer.tsx
  examples/src/utils/example-helpers.ts
  viewer/packages/360-images/visual-tests/Image360.VisualTest.ts
Owners: @cognitedata/fusion-maintainers

feat(AI): resummarize when editing filter (#2755)
  apps/flexible-data-explorer/src/GlobalStyles.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/elements.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultSummary.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultsList.tsx
  apps/flexible-data-explorer/src/app/containers/search/hooks/useAICachedResults.ts
  apps/flexible-data-explorer/src/app/containers/search/results/AIResults.tsx
  apps/flexible-data-explorer/src/app/services/dataTypes/queries/useAIDataTypesQuery.ts
  apps/flexible-data-explorer/src/app/services/queryKeys.ts
  apps/flexible-data-explorer/src/app/utils/ai/results.ts
  libs/copilot-core/src/app/components/ChatUI/ChatUI.tsx
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/index.ts
  libs/copilot-core/src/lib/types.ts
Owners: @cognitedata/explorers

adding preview package name
  apps/flows/project.json
Owners: @cognitedata/data-onboarding

feat: add historic 360 image UI when entering 360 image (#2771)
  apps/flexible-data-explorer/src/app/containers/ThreeD/containers/RevealContent.tsx
  package.json
  yarn.lock
Owners: @cognitedata/explorers, @cognitedata/fusion-maintainers

fix(data-explorer): show label name instead of external ID [UX-1144] (#2758)
  libs/data-exploration/components/src/Details/DetailsItem.tsx
  libs/data-exploration/components/src/Table/columns.tsx
  libs/data-exploration/containers/src/Filters/LabelFilter/LabelFilter.tsx
  libs/data-exploration/containers/src/Search/SearchResultFilters/SidebarFilters.tsx
  libs/data-exploration/domain-layer/src/index.ts
  libs/data-exploration/domain-layer/src/labels/index.ts
  libs/data-exploration/domain-layer/src/labels/internal/index.ts
  libs/data-exploration/domain-layer/src/labels/internal/queries/index.ts
  libs/data-exploration/domain-layer/src/labels/internal/queries/useGetLabelName.ts
  libs/data-exploration/domain-layer/src/labels/internal/queries/useLabelsNameMap.ts
  libs/data-exploration/domain-layer/src/labels/internal/queries/useOptionsWithLabelName.ts
  libs/data-exploration/domain-layer/src/labels/service/index.ts
  libs/data-exploration/domain-layer/src/labels/service/network/fetchAllLabels.ts
  libs/data-exploration/domain-layer/src/labels/service/network/index.ts
  libs/data-exploration/domain-layer/src/labels/service/queries/index.ts
  libs/data-exploration/domain-layer/src/labels/service/queries/useAllLabelsQuery.ts
  libs/data-exploration/domain-layer/src/queryKeys.ts
Owners: @cognitedata/explorers

fix: add hosted extractors to list that shows for all
  apps/extractor-downloads/src/Home/Extractors/Extractors.tsx
Owners: @cognitedata/data-management

CODEOWNERS:

## NOTE: Separate the apps/libs folder for respective teams in groups and the paths in ascending order!

# NB: Avoid using 'markdown' as file format for this file --> use plain text or download 'CODEOWNERS' ext. on marketplace

# General
/.devcontainer/                   @cognitedata/fusion-maintainers
/.github/                         @cognitedata/fusion-maintainers
/.storybook/                      @cognitedata/fusion-maintainers
/.vscode/                         @cognitedata/fusion-maintainers
/bin/                             @cognitedata/fusion-maintainers
/scripts/                         @cognitedata/fusion-maintainers
/tools/                           @cognitedata/fusion-maintainers
/*                                @cognitedata/fusion-maintainers

# Platypus
apps/mock-server                  @cognitedata/cdf-user-experience
apps/platypus                     @cognitedata/cdf-user-experience
apps/platypus-cdf-cli             @cognitedata/cdf-user-experience

libs/data-modeling                @cognitedata/cdf-user-experience
libs/shared/cdf-ui-i18n-utils                @cognitedata/cdf-user-experience

# Team data-explorer
apps/data-exploration             @cognitedata/explorers
apps/flexible-data-explorer       @cognitedata/explorers
apps/cdf-document-search          @cognitedata/matchmakers @cognitedata/discover


libs/data-exploration/            @cognitedata/explorers
libs/data-exploration-components  @cognitedata/explorers
libs/shared/plotting-components   @cognitedata/explorers

# Team UFV
libs/industry-canvas              @cognitedata/unified-file-viewer
apps/industry-canvas-ui              @cognitedata/unified-file-viewer

# Coding conventions
apps/coding-conventions           @deep-cognite @CimStordal

# Contextualization
libs/contextualization              @davidlky @cognitedata/contextualization

# Copilot
apps/copilot              @davidlky @andeplane @miladh @trygveu

# IoT Hub
apps/iot-hub              @davidlky @geircognite @muradsater

# Vision
apps/vision              @cognitedata/cdf-user-experience

# matchmakers
apps/entity-matching              @cognitedata/matchmakers
apps/interactive-diagrams         @cognitedata/matchmakers

# 3D / Reveal
apps/3d-management                @cognitedata/3d-reveal-viewer-team

# Migrated CDF-UX Subapps
apps/data-catalog                 @cognitedata/cdf-user-experience
apps/access-management            @cognitedata/cdf-user-experience

# data onboarding
apps/extraction-pipelines         @cognitedata/data-management
apps/extractor-downloads          @cognitedata/data-management

libs/shared/cdf-utilities         @cognitedata/cdf-user-experience

# cogs-team
apps/raw-explorer                       @cognitedata/cogs-team
apps/transformations                    @cognitedata/cogs-team
libs/shared/user-profile-components     @cognitedata/cogs-team
libs/shared/user-onboarding-components  @cognitedata/cogs-team

# Functions UI
apps/functions-ui             @abdullah-cognite @shubhsk88

# Simulator Integration
apps/simint                   @cognitedata/deg-code-owners


# FLows (Orchestration)
apps/flows                         @cognitedata/data-onboarding
