Repository cognitedata/reveal, changes with the owners that CODEOWNERS names for each.
All owners: @cognitedata/fusion-maintainers, @cognitedata/development-experiences, @cognitedata/explorers, @cognitedata/unified-file-viewer, @deep-cognite, @CimStordal

fix(data-explorer): crashing of 3d tab when incorrect 360 images events were ingested (#1348)
  apps/data-exploration/src/app/containers/ThreeD/hooks.ts
Owners: @cognitedata/explorers

Remove lint
  src/components/resource-selector-table/AssetTable.tsx
  src/components/resource-selector-table/EventTable.tsx
  src/components/target-selector-table/index.tsx
  src/hooks/list.ts
Owners: none

Removed unused function
  viewer/packages/360-images/src/icons/IconCollection.ts
Owners: none

chore: remove sdk-singleton package
  package.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

feat: blend texture and styling color
  viewer/packages/rendering/src/glsl/sector/mesh.frag
Owners: none

update lock file
  yarn.lock
Owners: @cognitedata/fusion-maintainers

test: add visual test for styling + texture
  viewer/packages/api/visual-tests/StyledTextured.VisualTest.ts
Owners: none

fix: add new textured model and visual test snapshot
  examples/public/textured/0.glb
  examples/public/textured/scene.json
  viewer/packages/api/visual-tests/__image_snapshots__/DefaultTextured.VisualTest.png
  viewer/packages/api/visual-tests/__image_snapshots__/StyledTextured.VisualTest.png
Owners: none

fix(platypus): Data Management filter bugs (#1347)
  apps/platypus/src/app/components/VersionSelectorToolbar/VersionSelectorToolbar.tsx
  apps/platypus/src/app/modules/solution/data-management/DataManagementPage.tsx
  apps/platypus/src/app/modules/solution/data-management/components/CustomColumnFilter/custom-column-filter.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/cell-renderers/IdCellRenderer.tsx
  apps/platypus/src/app/modules/solution/data-management/hooks/usePublishedRowsCountMapByType.ts
  apps/platypus/src/app/modules/solution/data-management/services/grid-config-builder.ts
  apps/platypus/src/app/modules/solution/data-management/utils/constants.ts
  libs/data-modeling/cog-data-grid/src/lib/cog-data-grid-styles.css
  libs/data-modeling/cog-data-grid/src/lib/components/custom-header-component.tsx
  libs/data-modeling/cog-data-grid/src/lib/core/services/grid-config.service.ts
  libs/data-modeling/platypus-common-utils/src/lib/graphql/graphql-utils-service.ts
Owners: @cognitedata/development-experiences

Loading indicator and auto-select newly created folder. [DEGR-1415] (#1483)
  src/components/MonitoringFolderSelect/MonitoringFolderSelect.stories.tsx
  src/components/MonitoringFolderSelect/MonitoringFolderSelect.tsx
  src/components/MonitoringFolderSelect/hooks.tsx
  src/components/MonitoringSidebar/CreateMonitoringJobStep1.tsx
  yarn.lock
Owners: @cognitedata/fusion-maintainers

feat(plotting-components): improve line chart component [DEGR-1730] (#1350)
  libs/shared/plotting-components/src/LineChart/LineChart.stories.tsx
  libs/shared/plotting-components/src/LineChart/LineChart.tsx
  libs/shared/plotting-components/src/LineChart/components/HoverLayer/HoverLayer.tsx
  libs/shared/plotting-components/src/LineChart/components/HoverLayer/HoverLine.tsx
  libs/shared/plotting-components/src/LineChart/components/HoverLayer/HoverLineInfo.tsx
  libs/shared/plotting-components/src/LineChart/components/HoverLayer/HoverMarker.tsx
  libs/shared/plotting-components/src/LineChart/components/HoverLayer/elements.ts
  libs/shared/plotting-components/src/LineChart/components/Plot/Plot.tsx
  libs/shared/plotting-components/src/LineChart/components/Tooltip/Tooltip.tsx
  libs/shared/plotting-components/src/LineChart/components/ZoomActions/ZoomActions.tsx
  libs/shared/plotting-components/src/LineChart/constants.ts
  libs/shared/plotting-components/src/LineChart/index.ts
  libs/shared/plotting-components/src/LineChart/types.ts
  libs/shared/plotting-components/src/LineChart/utils/adaptToPlotlyPlotData.ts
  libs/shared/plotting-components/src/LineChart/utils/getLineInfoPosition.ts
  libs/shared/plotting-components/src/LineChart/utils/getMarkerPosition.ts
  libs/shared/plotting-components/src/LineChart/utils/getPlotStyleData.ts
  libs/shared/plotting-components/src/LineChart/utils/getTooltipPosition.ts
Owners: @cognitedata/explorers

yarn lock
  yarn.lock
Owners: @cognitedata/fusion-maintainers

feat: blend texture and styling color (#3038)
  examples/public/textured/0.glb
  examples/public/textured/scene.json
  viewer/packages/api/visual-tests/StyledTextured.VisualTest.ts
  viewer/packages/api/visual-tests/__image_snapshots__/DefaultTextured.VisualTest.png
  viewer/packages/api/visual-tests/__image_snapshots__/StyledTextured.VisualTest.png
  viewer/packages/rendering/src/glsl/sector/mesh.frag
Owners: none

feat(data-explorer): persist selected time for timeseries (#1335)
  apps/data-exploration/jest.config.ts
  apps/data-exploration/src/app/containers/App/App.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesPreview.tsx
  apps/data-exploration/src/app/containers/Timeseries/TimeseriesSearchResultView.tsx
  apps/data-exploration/src/app/context/DateRangeContext.tsx
  apps/data-exploration/src/app/hooks/__tests__/useDateRange.spec.ts
  apps/data-exploration/src/app/hooks/__tests__/usePreviewDateRange.spec.ts
  apps/data-exploration/src/app/hooks/__tests__/useSessionStorage.spec.ts
  apps/data-exploration/src/app/hooks/index.ts
  apps/data-exploration/src/app/hooks/storage/index.ts
  apps/data-exploration/src/app/hooks/storage/useDateRange.ts
  apps/data-exploration/src/app/hooks/storage/usePreviewDateRange.ts
  apps/data-exploration/src/app/hooks/storage/useSessionStorage.ts
  apps/data-exploration/src/app/utils/constants.ts
  apps/data-exploration/src/setupTests.js
  libs/data-exploration-components/src/components/FilterForm/FilterForm.tsx
  libs/data-exploration-components/src/containers/SearchResults/SearchResultToolbar.tsx
  libs/data-exploration-components/src/containers/Timeseries/TimeseriesChart/TimeseriesChart.tsx
  package.json
  yarn.lock
Owners: @cognitedata/explorers, @cognitedata/fusion-maintainers

fix(platypus): Visual bugs with data model creation modals FDM V3 [UX-128] (#1352)
  apps/platypus-e2e/src/support/data-model-list.ts
  apps/platypus/src/app/common/i18n/en/platypus.json
  apps/platypus/src/app/components/CreateNewSpaceModal/CreateNewSpaceModal.tsx
  apps/platypus/src/app/components/DataModelDetailModal/DataModelDetailModal.tsx
  apps/platypus/src/app/components/DataModelSettingsModal/DataModelSettingsModal.tsx
  apps/platypus/src/app/components/DataModelSpaceSelect/DataModelSpaceSelect.tsx
  apps/platypus/src/app/modules/data-models/CreateDataModel.tsx
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
Owners: @cognitedata/development-experiences

add qm results table
  src/common/i18n/translations/en/entity-matching.json
  src/components/QueryStatusIcon.tsx
  src/components/em-result/QuickMatchResultsTable.tsx
  src/components/em-result/index.tsx
  src/types/types.ts
Owners: none

remove style and add styled component
  src/components/em-result/index.tsx
Owners: none

enabled sRGBEncoding as incoming texture from gltf, added colorspace conversion LineartosRGB in mesh shader to improve texture rendering
  viewer/packages/rendering/src/CadMaterialManager.ts
  viewer/packages/rendering/src/glsl/base/updateFragmentColor.glsl
  viewer/packages/rendering/src/glsl/math/colorSpaceConversion.glsl
  viewer/packages/rendering/src/glsl/sector/mesh.frag
Owners: none

remove body
  src/components/em-result/QuickMatchResultsTable.tsx
Owners: none

remove unnecessary style
  src/components/em-result/index.tsx
Owners: none

radius: -1, limit: 50
  examples/src/utils/Image360UI.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
Owners: none

change position of Apply all button
  src/components/em-result/index.tsx
Owners: none

Renaming
  examples/src/utils/Image360UI.ts
Owners: none

Linting
  examples/src/utils/Image360UI.ts
Owners: none

use translation and remove unused code
  src/common/i18n/translations/en/entity-matching.json
  src/components/em-result/index.tsx
Owners: none

remove unused code
  src/components/em-result/QuickMatchResultsTable.tsx
Owners: none

Add files support to hooks
  src/hooks/aggregates.ts
  src/hooks/api.ts
  src/hooks/infiniteList.ts
  src/hooks/list.ts
  src/types/api.ts
Owners: none

Stop sending emtpy data set filters
  src/components/resource-selector-table/index.tsx
  src/components/target-selector-table/index.tsx
  src/context/QuickMatchContext.tsx
  src/types/api.ts
Owners: none

Add resource-type/search api hook
  src/hooks/api.ts
  src/hooks/search.ts
Owners: none

Disable search through advanced filters for files
  src/utils/shared.ts
Owners: none

Add files as source type
  src/common/i18n/translations/en/entity-matching.json
  src/components/resource-selector-table/FilesTable.tsx
  src/components/resource-selector-table/index.tsx
  src/components/resource-type-i18n/index.tsx
  src/types/types.ts
Owners: none

Rename and added comment in Cognite3DViewer
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Owners: none

Rename
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/collection/DefaultImage360Collection.ts
  viewer/packages/360-images/src/icons/IconCollection.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

Rename
  examples/src/utils/Image360UI.ts
Owners: none

Rename
  viewer/packages/360-images/src/Image360Facade.ts
Owners: none

Update reveal.api.md
  viewer/reveal.api.md
Owners: none

updated visual test image and added comment in shader
  viewer/packages/api/visual-tests/__image_snapshots__/DefaultTextured.VisualTest.png
  viewer/packages/rendering/src/glsl/sector/mesh.frag
Owners: none

Replaced -1 with 0
  examples/src/utils/Image360UI.ts
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Owners: none

Replaced -1 with 0
  examples/src/utils/Image360UI.ts
Owners: none

subscribe to _activeCullingSchemeEventHandeler
  viewer/packages/360-images/src/icons/IconCollection.ts
Owners: none

CODEOWNERS:

## NOTE: Separate the apps/libs folder for respective teams in groups and the paths in ascending order!

# NB: Avoid using 'markdown' as file format for this file --> use plain text or download 'CODEOWNERS' ext. on marketplace

# General
/.devcontainer/                   @cognitedata/fusion-maintainers
/.github/                         @cognitedata/fusion-maintainers
/.storybook/                      @cognitedata/fusion-maintainers
/.vscode/                         @cognitedata/fusion-maintainers
/bin/                             @cognitedata/fusion-maintainers
/scripts/                         @cognitedata/fusion-maintainers
/tools/                           @cognitedata/fusion-maintainers
/*                                @cognitedata/fusion-maintainers

# Team platypus
apps/mock-server                  @cognitedata/development-experiences
apps/platypus                     @cognitedata/development-experiences
apps/platypus-cdf-cli             @cognitedata/development-experiences
apps/platypus-e2e                 @cognitedata/development-experiences

libs/cog-data-grid                @cognitedata/development-experiences
libs/mock-data                    @cognitedata/development-experiences
libs/platypus-common-utils        @cognitedata/development-experiences
libs/platypus-core                @cognitedata/development-experiences

# Team data-explorer
apps/data-exploration             @cognitedata/explorers

libs/data-exploration/            @cognitedata/explorers
libs/data-exploration-components  @cognitedata/explorers
libs/shared/plotting-components   @cognitedata/explorers

# Team UFV
libs/industry-canvas              @cognitedata/unified-file-viewer

# Coding conventions
apps/coding-conventions           @deep-cognite @CimStordal
