Repository cognitedata/reveal, changes with the owners that CODEOWNERS names for each.
All owners: @cognitedata/fusion-maintainers, @cognitedata/development-experiences, @cognitedata/explorers, @cognitedata/unified-file-viewer, @deep-cognite, @CimStordal

CODEOWNERS:

## NOTE: Separate the apps/libs folder for respective teams in groups and the paths in ascending order!

# NB: Avoid using 'markdown' as file format for this file --> use plain text or download 'CODEOWNERS' ext. on marketplace

# General
/.devcontainer/                   @cognitedata/fusion-maintainers
/.github/                         @cognitedata/fusion-maintainers
/.storybook/                      @cognitedata/fusion-maintainers
/.vscode/                         @cognitedata/fusion-maintainers
/bin/                             @cognitedata/fusion-maintainers
/scripts/                         @cognitedata/fusion-maintainers
/tools/                           @cognitedata/fusion-maintainers
/*                                @cognitedata/fusion-maintainers

# Team platypus
apps/mock-server                  @cognitedata/development-experiences
apps/platypus                     @cognitedata/development-experiences
apps/platypus-cdf-cli             @cognitedata/development-experiences
apps/platypus-e2e                 @cognitedata/development-experiences

libs/cog-data-grid                @cognitedata/development-experiences
libs/mock-data                    @cognitedata/development-experiences
libs/platypus-common-utils        @cognitedata/development-experiences
libs/platypus-core                @cognitedata/development-experiences

# Team data-explorer
apps/data-exploration             @cognitedata/explorers

libs/data-exploration/            @cognitedata/explorers
libs/data-exploration-components  @cognitedata/explorers
libs/shared/plotting-components   @cognitedata/explorers

# Team UFV
libs/industry-canvas              @cognitedata/unified-file-viewer

# Coding conventions
apps/coding-conventions           @deep-cognite @CimStordal

fix: make sure normal always faces camera
  viewer/packages/rendering/src/glsl/sector/primitives/cone.frag
Owners: none

fixed eccentric cone rendering issue when camera is inside the primitive
  viewer/packages/rendering/src/glsl/sector/primitives/eccentricCone.frag
  viewer/packages/rendering/src/glsl/sector/primitives/eccentricCone.vert
Owners: none

Removed duplicate Image360FileProvider interface
  viewer/packages/data-providers/src/types.ts
Owners: none

use useCallback hook
  src/components/pipeline-list/PipelineTable.tsx
Owners: none

fix: Add an initial viewport size to multi-file viewer (#1282)
  libs/data-exploration-components/src/containers/Files/Canvas/Canvas.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreview.tsx
  package.json
  yarn.lock
Owners: @cognitedata/explorers, @cognitedata/fusion-maintainers

Bulk download
  src/components/resource-count/index.tsx
  src/components/resource-selector-table/TimeSeriesTable.tsx
  src/components/resource-selector-table/index.tsx
  src/components/resource-type-i18n/index.tsx
  src/components/view-model/index.tsx
  src/constants.ts
  src/hooks/aggregates.ts
  src/hooks/contextualization-api.ts
  src/hooks/list.ts
  src/hooks/timeseries.ts
  src/hooks/timeseries/aggregate.ts
  src/hooks/timeseries/index.ts
  src/hooks/timeseries/search.ts
  src/hooks/timeseries/update.ts
  src/pages/QuickMatch/index.tsx
  src/types/api.ts
  src/utils/shared.ts
Owners: none

feat(plotting-components): implement multiple zoom modes for line chart component [DEGR-1677] (#1317)
  libs/shared/plotting-components/src/LineChart/LineChart.stories.tsx
  libs/shared/plotting-components/src/LineChart/components/Plot/Plot.tsx
  libs/shared/plotting-components/src/LineChart/components/Plot/elements.ts
  libs/shared/plotting-components/src/LineChart/constants.ts
  libs/shared/plotting-components/src/LineChart/hooks/useAxisDirection.ts
  libs/shared/plotting-components/src/LineChart/hooks/useAxisTickCount.ts
  libs/shared/plotting-components/src/LineChart/hooks/useHandlePlotRange.ts
  libs/shared/plotting-components/src/LineChart/hooks/useIsCursorOnPlotArea.ts
  libs/shared/plotting-components/src/LineChart/hooks/useZoomPlot.ts
  libs/shared/plotting-components/src/LineChart/types.ts
  libs/shared/plotting-components/src/LineChart/utils/createDefaultZoomListener.ts
  libs/shared/plotting-components/src/LineChart/utils/createKeyTriggeredZoomListener.ts
  libs/shared/plotting-components/src/LineChart/utils/getFixedRangeConfig.ts
  libs/shared/plotting-components/src/LineChart/utils/getPlotAreaCursor.ts
  libs/shared/plotting-components/src/LineChart/utils/getSelectDirection.ts
Owners: @cognitedata/explorers

Send events to EM model
  src/components/view-model/index.tsx
  src/utils/shared.ts
Owners: none

fix: general cylinder arc angle is too big sometimes
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.frag
  viewer/packages/rendering/src/glsl/sector/primitives/generalring.frag
Owners: none

made endofLine as auto as suggested in ESLint docs
  viewer/.prettierrc
Owners: none

GC
  src/hooks/contextualization-api.ts
  src/hooks/timeseries/index.ts
Owners: none

Use useList for event table
  src/components/resource-selector-table/EventTable.tsx
  src/components/resource-selector-table/index.tsx
  src/hooks/events.ts
Owners: none

Fixed methods of glob
  viewer/visual-tests/VisualTest.jest.ts
  viewer/visual-tests/globVisualTestLoader.js
Owners: none

reverted back previous lint config and fixed lint error
  viewer/.prettierrc
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Owners: none

Show event count
  src/components/resource-count/index.tsx
  src/components/resource-type-i18n/index.tsx
  src/hooks/aggregates.ts
  src/hooks/timeseries/aggregate.ts
Owners: none

Updated Cargo.lock
  viewer/Cargo.lock
Owners: none

added link tag name to fix lint warning
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Owners: none

fixed the link appending
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Owners: none

appended additional text to fix the lint issue
  viewer/packages/api/src/public/migration/Cognite3DViewer.ts
Owners: none

fix: primitive buffer parsing with multiple types in same buffer
  viewer/test-utilities/src/primitives/internal/threeTranslation.ts
  viewer/test-utilities/src/primitives/internal/types.ts
Owners: none

Fix error message
  viewer/packages/data-providers/src/image-360-data-providers/Cdf360ImageEventProvider.ts
Owners: none

fix(data-explorer): Adding the infobar in editing the annotation and open the sidebar on editing the annotation (#1330)
  apps/data-exploration/src/app/containers/File/FilePreview.tsx
  libs/data-exploration-components/src/components/Buttons/DocumentPreviewActionButtons/EditFileButton.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/ActionTools.tsx
  libs/data-exploration-components/src/containers/Files/FilePreview/FilePreview.tsx
Owners: @cognitedata/explorers

fix: allow negative arc angles as well
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.frag
  viewer/packages/rendering/src/glsl/sector/primitives/generalring.frag
Owners: none

Update viewer/packages/rendering/src/glsl/sector/primitives/cone.frag
  viewer/packages/rendering/src/glsl/sector/primitives/cone.frag
Owners: none

Replaced map with forEach
  viewer/packages/360-images/src/entity/Image360VisualizationBox.ts
Owners: none

bump viewer
  package.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

preload now returns a promise for full resolution download completed
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

Moved private function below all public
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

fix: cone rendering when camera is inside the primitive (#2998)
  viewer/packages/api/visual-tests/__image_snapshots__/NodeTransform.VisualTest.png
  viewer/packages/api/visual-tests/__image_snapshots__/Outline.VisualTest.png
  viewer/packages/api/visual-tests/__image_snapshots__/ReassignNodeStyle.VisualTest.png
  viewer/packages/api/visual-tests/__image_snapshots__/TwoModels.VisualTest.png
  viewer/packages/cad-model/visual-tests/__image_snapshots__/Scale.VisualTest.png
  viewer/packages/cad-styling/visual-tests/__image_snapshots__/Highlighted.VisualTest.png
  viewer/packages/rendering/src/glsl/math/quadToViewSpace.glsl
  viewer/packages/rendering/src/glsl/sector/primitives/cone.frag
  viewer/packages/rendering/src/glsl/sector/primitives/cone.vert
  viewer/packages/rendering/src/glsl/sector/primitives/eccentricCone.frag
  viewer/packages/rendering/src/glsl/sector/primitives/eccentricCone.vert
  viewer/packages/rendering/src/glsl/sector/primitives/generalCylinder.vert
Owners: none

Removed setRequestRedraw
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

chores(deps): update renovate frequency to reduce PR spam, move cra to devDeps (#1475)
  package.json
  renovate.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

Code review feedback
  src/common/i18n/translations/en/entity-matching.json
  src/components/resource-selector-table/TimeseriesTable.tsx
  src/components/resource-type-i18n/index.tsx
  src/components/view-model/index.tsx
  src/hooks/aggregates.ts
Owners: none

chore: remove @cognite/sdk-react-query-hooks dependency
  package.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

fix: create new array to trigger state update
  src/components/field-mapping/index.tsx
Owners: none

chore: update styles for sections in configure model page
  src/common/constants.ts
  src/common/i18n/translations/en/entity-matching.json
  src/components/field-mapping/index.tsx
  src/components/model-configation/index.tsx
Owners: none

chore: change quick match title styles
  src/components/quick-match-title/index.tsx
  src/pages/QuickMatch/index.tsx
Owners: none

use useSearchParams
  src/components/em-filter/EntityMatchingFilter.tsx
  src/components/pipeline-list/PipelineTable.tsx
  src/utils/shared.ts
Owners: none

use translation keys and use widths from transformations in the table
  src/common/i18n/translations/en/entity-matching.json
  src/components/pipeline-actions-menu/PipelineActionsMenu.tsx
  src/components/pipeline-list/PipelineTable.tsx
Owners: none

Remove (() => Promise<void>)
  viewer/packages/360-images/src/Image360Facade.ts
  viewer/packages/360-images/src/cache/Image360LoadingCache.ts
  viewer/packages/360-images/src/entity/Image360Entity.ts
  viewer/packages/api/src/api-helpers/Image360ApiHelper.ts
Owners: none

remove stringContains
  src/utils/shared.ts
Owners: none
