Repository cognitedata/reveal, changes with the owners that CODEOWNERS names for each.
All owners: @cognitedata/fusion-maintainers, @cognitedata/cdf-user-experience, @cognitedata/explorers, @cognitedata/matchmakers, @cognitedata/discover, @cognitedata/unified-file-viewer, @deep-cognite, @CimStordal, @davidlky, @cognitedata/contextualization, @andeplane, @miladh, @trygveu, @geircognite, @muradsater, @cognitedata/3d-reveal-viewer-team, @cognitedata/data-management, @cognitedata/cogs-team, @abdullah-cognite, @shubhsk88, @cognitedata/deg-code-owners, @cognitedata/data-onboarding

[AI-224] fix: increase timeout to 30 sec (#2772)
  libs/copilot-core/src/lib/CogniteBaseChain.tsx
Owners: none

feat: override font-family for cjk languages (#2752)
  libs/shared/cdf-ui-i18n-utils/package.json
  libs/shared/cdf-ui-i18n-utils/src/components/I18nWrapper/I18nWrapper.tsx
  libs/shared/cdf-ui-i18n-utils/src/utils/overrideFontFamily.ts
Owners: @cognitedata/cdf-user-experience

[AI-218] Show long loading message if request takes more than 10 seconds (#2773)
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultSummary.tsx
  apps/flexible-data-explorer/src/i18n/en/flexible-data-explorer.json
Owners: @cognitedata/explorers

fix: [AI-182] timeseries query generation and display in platypus (#2766)
  apps/platypus-cdf-cli/package.json
  apps/platypus-cdf-cli/src/app/cmds/data-models/codegen-static/js/FDMQueryClient.ts
  apps/platypus-cdf-cli/src/app/cmds/data-models/generate.ts
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/DataPreviewTable.tsx
  apps/platypus/src/app/modules/solution/data-management/components/DataPreviewTable/collapsible-panel-container.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/FileNode.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/RelationNode.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/RelationViewer.tsx
  apps/platypus/src/app/modules/solution/data-management/components/RelationViewer/utils.tsx
  apps/platypus/src/app/modules/solution/data-management/services/grid-config-builder.tsx
  apps/platypus/src/app/modules/solution/query-explorer/pages/SearchPage.tsx
  apps/platypus/src/react-app-env.d.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/providers/fdm-next/fdm-client.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/services/mixer-query-builder.spec.ts
  libs/data-modeling/platypus-core/src/lib/domain/data-model/services/mixer-query-builder.ts
Owners: @cognitedata/cdf-user-experience

bump llm-hub (#2776)
  package.json
  yarn.lock
Owners: @cognitedata/fusion-maintainers

[AI-213] Show type in edit filter modal (#2774)
  apps/flexible-data-explorer/src/app/containers/search/containers/AIFilterBuilder/AIFilterBuilder.tsx
Owners: @cognitedata/explorers

fix: 2 small bugs for AI (#2777)
  apps/flexible-data-explorer/src/app/containers/search/AISearchPreview.tsx
  apps/flexible-data-explorer/src/app/containers/search/containers/AIResultsList.tsx
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
Owners: @cognitedata/explorers

fix: bug in filter construction (#2779)
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
  libs/copilot-core/src/lib/toolchains/graphql/utils.ts
Owners: none

fix: increase timeout for filter chain (#2778)
  libs/copilot-core/src/lib/toolchains/graphql/graphql.ts
Owners: none

fix(industrial-canvas): open only preview pane when finding related data (#2714)
  libs/data-exploration/components/src/ResourceDetails/ResourceDetailsHeader/ResourceDetailsHeader.tsx
  libs/data-exploration/components/src/ResourceDetails/ResourceDetailsTemplate/ResourceDetailsTemplate.tsx
  libs/data-exploration/containers/src/ResourceDetails/AssetDetails/AssetDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/DocumentDetails/DocumentDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/EventDetails/EventDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/SequenceDetails/SequenceDetails.tsx
  libs/data-exploration/containers/src/ResourceDetails/TimeseriesDetails/TimeseriesDetails.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelector.tsx
  libs/data-exploration/containers/src/ResourceSelector/ResourceSelectorDetails.tsx
  libs/data-exploration/containers/src/ResourceSelector/useFilterState.tsx
  libs/industry-canvas/src/lib/IndustryCanvasPage.tsx
  libs/industry-canvas/src/lib/common/i18n/en/industrial-canvas.json
  libs/industry-canvas/src/lib/common/i18n/translationKeys.ts
  libs/industry-canvas/src/lib/components/ContextualTooltips/AssetTooltip/AssetTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasAssetTooltips.tsx
  libs/industry-canvas/src/lib/hooks/useIndustryCanvasContainerTooltips/ContainerTooltip.tsx
  libs/industry-canvas/src/lib/hooks/useResourceSelectorActions.ts
Owners: @cognitedata/explorers, @cognitedata/unified-file-viewer

CODEOWNERS:

## NOTE: Separate the apps/libs folder for respective teams in groups and the paths in ascending order!

# NB: Avoid using 'markdown' as file format for this file --> use plain text or download 'CODEOWNERS' ext. on marketplace

# General
/.devcontainer/                   @cognitedata/fusion-maintainers
/.github/                         @cognitedata/fusion-maintainers
/.storybook/                      @cognitedata/fusion-maintainers
/.vscode/                         @cognitedata/fusion-maintainers
/bin/                             @cognitedata/fusion-maintainers
/scripts/                         @cognitedata/fusion-maintainers
/tools/                           @cognitedata/fusion-maintainers
/*                                @cognitedata/fusion-maintainers

# Platypus
apps/mock-server                  @cognitedata/cdf-user-experience
apps/platypus                     @cognitedata/cdf-user-experience
apps/platypus-cdf-cli             @cognitedata/cdf-user-experience

libs/data-modeling                @cognitedata/cdf-user-experience
libs/shared/cdf-ui-i18n-utils                @cognitedata/cdf-user-experience

# Team data-explorer
apps/data-exploration             @cognitedata/explorers
apps/flexible-data-explorer       @cognitedata/explorers
apps/cdf-document-search          @cognitedata/matchmakers @cognitedata/discover


libs/data-exploration/            @cognitedata/explorers
libs/data-exploration-components  @cognitedata/explorers
libs/shared/plotting-components   @cognitedata/explorers

# Team UFV
libs/industry-canvas              @cognitedata/unified-file-viewer
apps/industry-canvas-ui              @cognitedata/unified-file-viewer

# Coding conventions
apps/coding-conventions           @deep-cognite @CimStordal

# Contextualization
libs/contextualization              @davidlky @cognitedata/contextualization

# Copilot
apps/copilot              @davidlky @andeplane @miladh @trygveu

# IoT Hub
apps/iot-hub              @davidlky @geircognite @muradsater

# Vision
apps/vision              @cognitedata/cdf-user-experience

# matchmakers
apps/entity-matching              @cognitedata/matchmakers
apps/interactive-diagrams         @cognitedata/matchmakers

# 3D / Reveal
apps/3d-management                @cognitedata/3d-reveal-viewer-team

# Migrated CDF-UX Subapps
apps/data-catalog                 @cognitedata/cdf-user-experience
apps/access-management            @cognitedata/cdf-user-experience

# data onboarding
apps/extraction-pipelines         @cognitedata/data-management
apps/extractor-downloads          @cognitedata/data-management

libs/shared/cdf-utilities         @cognitedata/cdf-user-experience

# cogs-team
apps/raw-explorer                       @cognitedata/cogs-team
apps/transformations                    @cognitedata/cogs-team
libs/shared/user-profile-components     @cognitedata/cogs-team
libs/shared/user-onboarding-components  @cognitedata/cogs-team

# Functions UI
apps/functions-ui             @abdullah-cognite @shubhsk88

# Simulator Integration
apps/simint                   @cognitedata/deg-code-owners


# FLows (Orchestration)
apps/flows                         @cognitedata/data-onboarding
